Repository ParadiseSS13/Paradise, pull requests merged in 2018-12, with the labels that each got.

#10387 Fixes for event pets
  code/modules/admin/topic.dm
Labels: Fix

#10379 Adds mineral to old station asteroids
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Map Edit

#10376 Add carrot seeds to perma
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit

#10406 Changed 'protocals' to 'protocols'
  code/game/objects/items/devices/flash.dm
Labels: Grammar and Formatting

#10410 Revert "Sorts callable holopads before displaying"
  code/game/machinery/hologram.dm
Labels: Revert/Feature Removal

#10429 You're made smaller/bigger now upon activation/deactivation
  code/game/dna/genes/powers.dm
Labels: Fix

#10393 Fixes support_chaplain.dm Runtime
  code/game/jobs/job/support_chaplain.dm
Labels: Fix

#10392 Fixes some issues in floor cluwne code
  code/modules/admin/verbs/spawnfloorcluwne.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
Labels: Fix

#10391 Fixes runtime in dance machines caused by AIs
  code/game/machinery/dance_machine.dm
Labels: Fix

#10322 Speciesboxes; species specific starting boxes
  code/game/jobs/job/job.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/vox.dm
Labels: Feature

#10401 Makes ghost spawner menu buttons work.
  nano/templates/spawners_menu.tmpl
Labels: Fix

#10351 You can stick duct tape to more than just paper now
  code/__DEFINES/components.dm
  code/datums/action.dm
  code/datums/components/ducttape.dm
  code/datums/supplypacks.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/RCL.dm
  code/game/objects/items/weapons/tape.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/paperbin.dm
  code/modules/power/cable.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  icons/obj/bureaucracy.dmi
  paradise.dme
Labels: Feature

#10396 Adds blast door button next to secure storage
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit

#10386 Grey Sprites Mania: The Sequel
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/utility.dm
  icons/mob/species/grey/eyes.dmi
  icons/mob/species/grey/head.dmi
  icons/mob/species/grey/helmet.dmi
  icons/mob/species/grey/mask.dmi
  icons/mob/species/grey/uniform.dmi
Labels: Sprites

#10432 Fixes giant spider bug
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Fix

#10431 random_items Cleanup
  code/game/objects/items/random_items.dm
Labels: Fix, Grammar and Formatting, Refactor

#10436 Adds flashlight toggle action icon to mini energy gun
  code/modules/projectiles/guns/energy/nuclear.dm
Labels: Fix, Usability

#10390 Radial menu for implants and item_action icon.
  code/_onclick/hud/radial.dm
  code/datums/action.dm
  code/game/objects/items.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Feature, Usability

#10434 Holopad sort Attempt 2
  code/game/machinery/hologram.dm
Labels: Usability

#10433 Clarifies BoH/BoH warning
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Administration, Grammar and Formatting

#10409 Uplink - Collapsible Categories and Layout Tweaks
  code/datums/uplink_item.dm
  code/game/objects/items/devices/uplinks.dm
  nano/templates/uplink.tmpl
Labels: Usability

#10416 Oldstation air alarm/APCs no longer spout out warnings
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Map Edit

#10394 Add power requirement to burglar alarm trigger
  code/game/objects/structures/displaycase.dm
Labels: Tweak

#10445 [s] pAI and AI fixes
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/nano/modules/law_manager.dm
Labels: Exploit, Fix, High Priority

#10421 Add read only sec hud
  code/game/jobs/job/supervisor.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Balance, Feature

#10449 fixes lightning
  code/datums/action.dm
  code/datums/spell.dm
  code/datums/spells/lightning.dm
Labels: Fix

#10455 Fixes pAI log error
  code/modules/mob/living/silicon/pai/recruit.dm
Labels: Fix

#10428 Adds auto-accent for drask
  code/modules/mob/living/autohiss.dm
Labels: Feature

#10427 Removes 300ms delay to smash sound
  sound/weapons/smash.ogg
Labels: Sound

#10440 Remove access requirement on emagged fax
  code/modules/paperwork/faxmachine.dm
Labels: Tweak

#10426 Miming/Mute players now give a visible indicator of communion
  code/game/gamemodes/cult/cult_comms.dm
Labels: Balance, Feature

#10424 Adds Sushi Mat and Sushi Makiroll
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/kitchen.dm
  code/modules/crafting/recipes.dm
  code/modules/food_and_drinks/food/foods/seafood.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_table.dm
  icons/obj/food/seafood.dmi
  icons/obj/kitchen.dmi
Labels: Feature

#10419 Fix: invincible computer frames / hostile NPC cheese
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Feature, Fix

#10422 Depot Update
  _maps/map_files/cyberiad/z6.dmm
  code/game/area/depot-areas.dm
  code/game/machinery/computer/depot.dm
  code/game/objects/effects/mines.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/devices/pizza_bomb.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/structures/crates_lockers/closets/secure/depot.dm
  code/game/objects/structures/depot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: Balance, Feature, Map Edit

#10389 Fix cigarette chem consumption
  code/game/objects/items/weapons/cigs.dm
Labels: Balance, Tweak

#10458 Fixes radial implants
  code/_onclick/hud/radial.dm
Labels: Fix

#10441 Add sprites to specie specific boxes
  code/game/objects/items/weapons/storage/boxes.dm
  icons/obj/storage.dmi
Labels: Sprites

#10448 Me Button
  interface/skin.dmf
Labels: User Interface

#10465 Radial Menu: Third time the charm
  code/_onclick/hud/radial.dm
Labels: Fix

#10464 Laaaast Christmas
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit

#10466 Santa Hat Sprite Tweak
  code/modules/clothing/spacesuits/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/drask/helmet.dmi
  icons/mob/species/grey/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites

#10452 Adds the snow machine
  code/__DEFINES/layers.dm
  code/datums/supplypacks.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/snow_machine.dm
  code/game/objects/effects/decals/misc.dm
  code/game/objects/effects/snowcloud.dm
  code/modules/holiday/christmas.dm
  icons/effects/effects.dmi
  icons/obj/items.dmi
  icons/obj/stationobjs.dmi
  paradise.dme
Labels: Feature

#10472 Fixes #7765 simple_animal vent crawl vision
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#10456 Add global cap on printing papers
  code/_globalvars/misc.dm
  code/modules/paperwork/photocopier.dm
Labels: Fix, Tweak

#10446 Re-adds superheroes
  code/__DEFINES/gamemode.dm
  code/game/machinery/wishgranter.dm
  code/modules/mob/living/carbon/superheroes.dm
Labels: Feature

#10364 Remove fart based mechanics
  code/__DEFINES/genetics.dm
  code/_globalvars/genetics.dm
  code/datums/spells/rathens.dm
  code/game/dna/genes/goon_disabilities.dm
  code/game/dna/genes/goon_powers.dm
  code/game/gamemodes/setupgame.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/antagonists/wishgranter/wishgranter.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  sound/effects/fart.ogg
  sound/goonstation/effects/superfart.ogg
  strings/chemistry_tools.json
  strings/ion_laws.json
Labels: Revert/Feature Removal

#10477 Decemviri's fluff hardsuit modkit
  code/modules/customitems/item_defines.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10469 Ports the grenadier belt from tg
  code/__DEFINES/misc.dm
  code/datums/uplink_item.dm
  code/game/objects/explosion.dm
  code/game/objects/items/weapons/grenades/atmosgrenade.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/frag.dm
  code/game/objects/items/weapons/grenades/syndieminibomb.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/turfs/simulated.dm
  icons/effects/water.dmi
  icons/obj/grenade.dmi
  icons/obj/shards.dmi
  paradise.dme
Labels: Feature

#10474 Adds Syndi Officer admin job and remaps SST/SIT starting areas 2
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/_globalvars/mapping.dm
  code/datums/helper_datums/teleport.dm
  code/datums/outfits/outfit_admin.dm
  code/game/area/Space Station 13 areas.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/jobs/access.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/syndicate.dm
  code/game/jobs/jobs.dm
  code/game/machinery/Beacon.dm
  code/game/machinery/computer/depot.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/teleporter.dm
  code/game/mecha/mech_bay.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets/secure/miscjobs.dm
  code/game/objects/structures/displaycase.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/shuttle/shuttle.dm
  paradise.dme
Labels: Map Edit

#10473 Ports Clown Goblins, Adds Honk Missle, Fixes Space Carp Event, Adds Honomoly Event
  code/datums/spells/wizard.dm
  code/modules/events/event_container.dm
  code/modules/events/koi_mirgration.dm
  code/modules/events/tear.dm
  code/modules/events/tear_honk.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  icons/effects/tear.dmi
  icons/mob/animal.dmi
  paradise.dme
Labels: Feature

#10492 Added Syndicate Officer to the newscaster job blacklist
  code/game/machinery/newscaster.dm
Labels: Fix

#10490 Removes "name here" from pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Grammar and Formatting

#10496 [Fix] Flashbangs inside containers now work properly
  code/game/objects/items/weapons/grenades/flashbang.dm
Labels: Fix

#10497 [Fix] Mutadone now removes ongoing dizziness when removing Dizzy
  code/game/dna/genes/vg_disabilities.dm
Labels: Fix

#10498 Fixes litteraly my immersion
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Grammar and Formatting

#10503 Fixes frantic gesture emote
  code/datums/spell.dm
Labels: Fix

#10500 Fixed Swedish accent while being muzzled
  code/game/dna/genes/goon_disabilities.dm
Labels: Fix

#10507 Adds a return to prayer beads
  code/game/objects/items/weapons/holy_weapons.dm
Labels: Fix

#10512 Fixed syndicate officer showing in card modification/identification consoles
  code/game/machinery/computer/card.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
Labels: Fix

#10526 fixed missiles spinning when shot from missile racks
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Fix

#10531 fixed clumsy handcuff interaction
  code/game/objects/items/weapons/handcuffs.dm
Labels: Fix

#10488 Adds Kangaroos
  code/modules/mob/living/simple_animal/hostile/retaliate/kangaroo.dm
  icons/mob/animal.dmi
  paradise.dme
Labels: Feature

#10485 Banana Cake
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  icons/obj/food/food.dmi
Labels: Feature

#10482 Adds a Familiar Hat for dressup
  code/game/machinery/vending.dm
  code/modules/clothing/head/misc.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Feature, Sprites

#10533 Fix RPD not appearing in Autolathe
  code/modules/research/designs/bluespace_designs.dm
Labels: Fix

#10513 Fixes #10486, adding Drask Crusader Helm
  icons/mob/species/drask/helmet.dmi
Labels: Fix, Sprites

#10509 Adds a syndicate emergency box
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/objects/items/weapons/storage/boxes.dm
  icons/obj/storage.dmi
Labels: Feature

#10506 Adds a recipe, that allows making syndicate toolboxes
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/crafting/recipes.dm
Labels: Feature

#10524 Adds 'Grenades and Explosives' Category to Uplink
  code/datums/uplink_item.dm
Labels: Tweak

#10479 Gives Mice *squeak Emote
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Feature

#10519 Holopara say goes to host communication now
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/miniantags/guardian/types/standard.dm
Labels: Tweak

#10493 Add access restriction removal to keycard auth device
  code/modules/security_levels/keycard authentication.dm
  nano/templates/keycard_auth.tmpl
Labels: Feature

#10185 Ports Move Force from TG
  code/__DEFINES/move_force.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/click.dm
  code/controllers/subsystem/throwing.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/miniantags/slaughter/bloodcrawl.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/magnet.dm
  code/game/machinery/shieldgen.dm
  code/game/objects/effects/effects.dm
  code/game/objects/items.dm
  code/game/objects/obj_defense.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/dead/death.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/living/simple_animal/spawner.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/pulling.dm
  code/modules/recycling/conveyor2.dm
  paradise.dme
Labels: Feature, Needs Review, Port, Refactor

#10536 Now doesn't revoke maint access if it's granted after a radiation storm
  code/datums/weather/weather_types/radiation_storm.dm
Labels: Fix

#10528 Glowstick compatibility
  code/game/gamemodes/shadowling/shadowling_abilities.dm
Labels: Tweak

#10532 Adds emergency glowsticks
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Feature

#10546 Fix glowsticks not processing fuel
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Fix

#10556 Adds VSCode directories to gitignore
  .gitignore
Labels: Code Improvement

#10555 Fixes death alarms/beepsky/etc. radios.
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix

#10554 Changes the laser tag objects to be less dumb and fix a / after encryptionkey
  code/datums/supplypacks.dm
  code/game/machinery/portable_tag_turret.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/structures/crates_lockers/closets/fitness.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: Refactor

#10560 Fixes Tears and Demons
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
  code/modules/events/tear_honk.dm
Labels: Fix

#10561 BEGONE DEBUG!
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
Labels: Fix

#10564 Removes a random multi-line comment from the chronosuit
  code/modules/clothing/spacesuits/chronosuit.dm
Labels: Refactor

#10547 Pumps no longer remain on when the inserted tank is removed
  code/game/machinery/atmoalter/pump.dm
Labels: Tweak

#10541 Fix mech grenade launchers
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Fix

#10535 Fixes the runtime in admin tickets handling when the client left
  code/controllers/subsystem/tickets.dm
Labels: Fix

#10540 Fix nuclear operative burning up/choking at roundstart
  code/game/gamemodes/nuclear/nuclear.dm
Labels: Fix
