Repository ParadiseSS13/Paradise, pull requests merged in 2018-08, with the labels that each got.

#9277 Updates syndi hardsuit description
  code/datums/uplink_item.dm
Labels: Documentation

#9281 Small grammar fixes
  code/game/machinery/doors/airlock.dm
  code/modules/projectiles/guns/energy/nuclear.dm
Labels: Grammar and Formatting

#9272 Changes Karma Refund To Switches
  code/modules/karma/karma.dm
Labels: Refactor

#9289 Fix hood runtime
  code/modules/clothing/suits/hood.dm
Labels: Fix

#9293 Fixes some more runtime
  code/modules/admin/admin.dm
  code/modules/flufftext/Dreaming.dm
Labels: Fix, Runtime

#9300 Add say logging for megaphone
  code/game/objects/items/devices/megaphone.dm
Labels: Administration

#9299 Fixes customizable food runtime
  code/modules/food_and_drinks/food/customizables.dm
Labels: Fix

#9265 Species Refactor Followup
  code/__DEFINES/combat.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/abductor.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/shadow.dm
  code/modules/mob/living/carbon/human/species/shadowling.dm
  code/modules/mob/living/carbon/human/species/skeleton.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/login.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Refactor

#9113 Shortening Sawn off Shotguns
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/guns/projectile.dmi
Labels: Balance

#9308 fixes assigning virus name for Kingstons
  code/datums/diseases/kingstons.dm
Labels: Fix

#9307 Medical Hypospray
  code/game/gamemodes/steal_items.dm
  code/game/machinery/vending.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/research/designs/autolathe_designs.dm
  sound/goonstation/items/hypo.ogg
Labels: Feature

#9316 Space ruins no longer can fill the border of the level
  code/controllers/configuration.dm
  code/controllers/master_controller.dm
  code/modules/awaymissions/zlevel.dm
  config/example/config.txt
Labels: Configuration Change, Fix

#9298 Slight TG Headset Communication port
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Feature

#9295 Fixes the barber spawning with 2 pairs of shoes
  code/game/jobs/job/support.dm
Labels: Tweak

#9306 Fixed Therapy Doll Issue
  code/game/objects/items/toys.dm
Labels: Code Improvement

#9288 Reformat of Prize Machine & Merch Store List
  code/game/machinery/computer/store.dm
  code/modules/arcade/prize_counter.dm
  code/modules/arcade/prize_datums.dm
  code/modules/store/items.dm
Labels: User Interface

#9266 Allows simple_animals to change intent
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_helpers.dm
  icons/mob/screen_simplemob.dmi
Labels: Feature

#8515 Reworks Syndicate Supply Depot
  _maps/map_files/cyberiad/z6.dmm
  code/controllers/subsystem/atoms.dm
  code/datums/datum.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/depot-areas.dm
  code/game/atoms_movable.dm
  code/game/machinery/Beacon.dm
  code/game/machinery/computer/depot.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/shieldgen.dm
  code/game/machinery/turret_control.dm
  code/game/objects/effects/portals.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/devices/pizza_bomb.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/documents.dm
  code/game/objects/items/weapons/grenades/custom_grenades.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/depot.dm
  code/game/objects/structures/depot.dm
  code/modules/events/grid_check.dm
  code/modules/mining/coins.dm
  code/modules/mob/living/silicon/decoy/death.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/silicon/decoy/life.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/paperwork/folders.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/spacepods/spacepod.dm
  icons/obj/bureaucracy.dmi
  paradise.dme
Labels: Balance, Map Edit

#8280 Port Polaris Card
  code/modules/games/52card.dm
  code/modules/games/cards.dm
  code/modules/games/tarot.dm
  icons/mob/actions.dmi
  icons/obj/playing_cards.dmi
  paradise.dme
Labels: Feature

#9337 Fixes sawing off
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: Fix

#9329 Add in banangarang's fluff cyborg sprite
  icons/mob/custom_synthetic/custom-synthetic.dmi
Labels: Custom Item

#9362 Fixes hair color inconsistency in Banangarang's sprite
  icons/mob/custom_synthetic/custom-synthetic.dmi
Labels: Custom Item, Fix, Sprites

#9351 Fixes comfrey
  code/game/objects/items/stacks/medical.dm
Labels: Fix

#9352 Fixes fax radio reply
  code/modules/admin/topic.dm
  code/modules/admin/verbs/pray.dm
  code/modules/paperwork/faxmachine.dm
Labels: Administration, Fix

#9334 All obj/machinery is now below obj layer.
  code/game/machinery/machinery.dm
Labels: User Interface

#9333 Sanity check for pill creation (0u pills)
  code/modules/reagents/chemistry/machinery/chem_master.dm
Labels: User Interface

#9361 Actually makes half the scrubbers function
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Boxstation, Fix, Map Edit

#9325 Medical Hypospray sprite change
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/hypo.dmi
Labels: Sprites

#9374 Undoes the map explosion caused by AA's PR
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Boxstation, Fix, High Priority, Map Edit, Revert/Feature Removal

#9396 Add logging to borer infestation
  code/game/gamemodes/miniantags/borer/borer.dm
Labels: Administration

#9399 Ports TG Atmos SS tweak
  code/controllers/subsystem/air.dm
Labels: Code Improvement, Performance

#9391 Slightly alters set_species equipping (changeling hardsuit bug).
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#9382 Fixes Changeling Fleshmend blood bug
  code/game/gamemodes/changeling/powers/fleshmend.dm
Labels: Fix

#9397 Stop implantcase from disappearing
  code/game/objects/items/weapons/implants/implantcase.dm
Labels: Fix

#9257 Adds overheal to welder & cable coil
  code/game/objects/items/weapons/tools.dm
  code/modules/power/cable.dm
Labels: Feature

#9383 Fixes bad path runtime
  _maps/map_files/RandomZLevels/centcomAway.dmm
Labels: Fix, oops

#9375 Remove swapmaps
  code/modules/awaymissions/maploader/swapmaps.dm
  paradise.dme
Labels: Code Improvement

#9371 Defib paddles snap away if you walk away from the defib
  code/game/objects/items/weapons/defib.dm
Labels: Fix

#9348 Added missing prefix in CREATE Statement
  SQL/paradise_schema_prefixed.sql
Labels: Fix

#9330 Polaris card bugfix (Plus paperbin)
  code/modules/games/cards.dm
  code/modules/paperwork/paperbin.dm
Labels: Fix

#9284 Add in logging for kinetic accelerator
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Administration

#9336 Depot Fixes
  code/game/area/depot-areas.dm
  code/game/atoms.dm
  code/game/machinery/computer/depot.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/shieldgen.dm
  code/game/objects/effects/mines.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/weapons/rpd.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets/secure/depot.dm
  code/game/objects/structures/depot.dm
  code/modules/events/grid_check.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/recycling/disposal-construction.dm
Labels: Fix

#9303 Teleportation Fixes
  code/datums/helper_datums/teleport.dm
  code/game/machinery/Beacon.dm
  code/game/machinery/computer/depot.dm
  code/game/machinery/quantum_pad.dm
  code/game/machinery/teleporter.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/mining/equipment_locker.dm
  code/modules/telesci/telesci_computer.dm
Labels: Fix

#9219 Limits Dogs from Lycancoughy virus
  code/datums/diseases/lycancoughy.dm
Labels: Balance

#9205 Adds a location hint for the Theft objective
  code/game/gamemodes/objective.dm
  code/game/gamemodes/steal_items.dm
Labels: Usability

#9061 Port over Fox's refactored syndicate item refund from TG.
  code/datums/uplink_item.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/objects/items/devices/uplinks.dm
  code/game/objects/objs.dm
  code/modules/antagonists/_common/antag_spawner.dm
  nano/templates/uplink.tmpl
Labels: Refactor

#9321 Makes girders melt
  code/__DEFINES/misc.dm
  code/game/objects/structures/girders.dm
Labels: Feature

#9408 New Vulp hairstyle
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_face.dmi
Labels: Sprites

#9389 Mr. Chang Vendor Sprite
  code/game/machinery/vending.dm
  icons/obj/vending.dmi
Labels: Sprites

#9392 Small poster bugfix
  code/game/objects/effects/decals/contraband.dm
Labels: Fix

#9366 Add logging to prayer
  code/modules/admin/verbs/pray.dm
Labels: Administration

#9421 Makes punching / harm intent attack animations red
  code/game/atoms_movable.dm
Labels: Tweak

#9341 Abducts #9233
  code/game/gamemodes/miniantags/abduction/abduction.dm
Labels: Fix, Grammar and Formatting

#8940 Adds shock muzzle
  code/__DEFINES/mobs.dm
  code/modules/assembly/voice.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/update_status.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/misc_designs.dm
Labels: Feature

#9420 Restore radio privacy to oppressed silicons
  code/modules/mob/living/silicon/say.dm
Labels: Fix

#9431 fixes admin prison
  code/modules/admin/topic.dm
Labels: Fix

#9432 IPC screen color changing on the fly or whatever
  code/modules/mob/living/carbon/human/species/machine.dm
Labels: Usability

#9433 Fixes criminal status sorting
  nano/templates/secure_data.tmpl
Labels: Fix, User Interface

#9435 Ensure bola cannot snare anyone without enough legs
  code/game/objects/items/weapons/legcuffs.dm
Labels: Fix

#9445 Fixes wire cutting runtime and two potential key_name runtime
  code/defines/procs/admin.dm
  code/modules/power/cable.dm
  code/modules/research/rdconsole.dm
Labels: Fix, Runtime

#9441 Fixes #7089 - plus other bugs with spider obj attacks
  code/game/objects/effects/spiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
Labels: Fix

#9434 more consistent checks for dressing and undressing your boss
  code/modules/mob/mob.dm
Labels: Fix

#9436 Fixes #3167, Gives NT rep their own stamp instead of stamping as CC
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/client/asset_cache.dm
  code/modules/paperwork/photocopier.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/paper_icons/large_stamp-rep.png
Labels: Fix

#9429 RD SecHud sprite fix
  icons/mob/hud.dmi
Labels: Fix, Sprites

#9428 Paramedic EVA Resprite (Take 2)
  code/modules/clothing/spacesuits/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/species/drask/helmet.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/mob/suit.dmi
  icons/mob/suit_fat.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#9430 you can remove items from storage with forceMove() properly
  code/game/objects/items/weapons/storage/storage.dm
Labels: Fix

#9212 ERT Balance Changes
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/response_team.dm
  code/modules/clothing/spacesuits/ert.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_eyes.dm
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  tools/icon_merge_tool/icon_merge_tool.py
Labels: Balance

#9453 Allow mute characters to wave again
  code/modules/mob/emote.dm
Labels: Fix

#9452 Fixes depot armory Initialize() bug
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: Fix

#9450 Makes sechailer have less of my shitcode
  code/modules/clothing/masks/gasmask.dm
Labels: Refactor

#9456 Fix monitor runtime
  code/modules/mob/living/carbon/human/species/machine.dm
Labels: Fix

#9468 Fixes an accident with borg fix PR
  code/modules/mob/living/silicon/say.dm
Labels: Fix
