Repository ParadiseSS13/Paradise, pull requests merged in 2018-10, with the labels that each got.

#9656 Adds Grille Cooldown, fixes #9615
  code/game/objects/structures/grille.dm
Labels: Fix

#9649 Speeds up get_area
  code/__HELPERS/game.dm
Labels: Refactor

#9647 Fixes RnD server control console data management
  code/modules/research/server.dm
Labels: Fix

#9584 Fixes numerous Metastation bugs
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
Labels: Fix, Map Edit, Metastation

#9409 Fluff TheFlagbearer: Arachno-Man boots and sprite updates
  code/modules/customitems/item_defines.dm
  icons/mob/feet.dmi
  icons/mob/uniform.dmi
  icons/mob/uniform_fat.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#9660 Minor spelling fix
  code/modules/clothing/masks/gasmask.dm
Labels: Grammar and Formatting

#9477 Port Shuttle to StonedMC
  code/controllers/subsystem/shuttles.dm
  code/controllers/verbs.dm
  code/game/atoms.dm
  code/game/gamemodes/autotraitor/autotraitor.dm
  code/game/gamemodes/blob/blob.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/gameticker.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/gamemodes/meteor/meteor.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/scoreboard.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
  code/game/gamemodes/wizard/raginmages.dm
  code/game/jobs/job_objectives/science.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/status_display.dm
  code/game/machinery/supply_display.dm
  code/game/world.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mining/laborcamp/laborshuttle.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/modular_computers/file_system/programs/command/comms.dm
  code/modules/pda/cart_apps.dm
  code/modules/power/singularity/narsie.dm
  code/modules/security_levels/security levels.dm
  code/modules/shuttle/README.md
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttle_manipulator.dm
  code/modules/shuttle/supply.dm
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/station_goals/shield.dm
  paradise.dme
Labels: Refactor, Test Merge Candidate

#9476 Port Nano Mob to StonedMC
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/nano_mob_hunter.dm
  code/controllers/verbs.dm
  code/game/machinery/computer/communications.dm
  code/modules/arcade/mob_hunt/battle_computer.dm
  code/modules/arcade/mob_hunt/mob_avatar.dm
  code/modules/arcade/mob_hunt/mob_datums.dm
  code/modules/modular_computers/file_system/programs/command/comms.dm
  code/modules/pda/mob_hunt_game_app.dm
  paradise.dme
Labels: Refactor, Test Merge Candidate

#9653 Fixes mapping inconsistencies & updates Academy.dmm to using decals
  _maps/map_files/RandomZLevels/academy.dmm
Labels: Fix, Map Edit, Map Templates

#9646 Fixes chief engineer jumpsuit in-hand sprite.
  code/modules/clothing/under/jobs/engineering.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
Labels: Fix, Sprites

#7770 Ports Delta Station
  .travis.yml
  _maps/delta.dm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/game/area/Space Station 13 areas.dm
  code/modules/map_fluff/delta.dm
  nano/images/Delta_nanomap_z1.png
  paradise.dme
Labels: Feature, Map Edit

#9667 Remove canvas from Delta to prevent Travis failing for everyone
  _maps/map_files/Delta/delta.dmm
Labels: Fix, High Priority, Map Edit

#9393 Claw Game Refactor
  code/modules/arcade/claw_game.dm
  code/modules/arcade/crane.html
  code/modules/arcade/page.css
Labels: Fix

#9670 Small formatting oversight fix.
  code/game/gamemodes/wizard/soulstone.dm
Labels: Fix, Grammar and Formatting

#9674 Fix BYOND Bug 2399401
  goon/browserassets/js/browserOutput.js
Labels: Fix, High Priority

#9182 Remaps Medbay Lobby, makes some QoL changes to Medbay
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Boxstation, Map Edit, Test Merge Candidate

#8211 Port of TG ghost role spawner and Corpse Landmark refactor
  _maps/map_files/MetaStation/z4.dmm
  _maps/map_files/RandomZLevels/beach.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/cyberiad/z6.dmm
  code/_globalvars/lists/objects.dm
  code/datums/outfits/outfit.dm
  code/game/machinery/computer/arcade.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: Feature, Map Edit, Needs Review, Refactor, Test Merge Candidate

#9676 Fixed the inventory bug
  code/game/machinery/OpTable.dm
Labels: Fix

#9696 Borgs can now heal patients while there is an active surgery going on
  code/modules/surgery/surgery.dm
Labels: Fix

#9697 Several Boxstation Fixes: Electric Boogaloo
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit

#9663 Sensory Restoration symptom fix
  code/datums/diseases/advance/symptoms/sensory.dm
Labels: Fix

#9701 Fixes damaged plating not being visually fixed after welding
  code/game/turfs/simulated/floor/plating.dm
Labels: Fix

#9700 Fixes yellow closet icon reference
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
Labels: Fix

#9673 [META] MAP - Cryogenics Cellcharger
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
Labels: Map Edit, Metastation

#9722 Grammar Fix for Meat Spike
  code/game/objects/structures/kitchen_spike.dm
Labels: Grammar and Formatting

#9721 Fixes incorrect chair assignment
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: Fix

#9694 Fixes bluespace disposal bins and broken disposals due to the instant recall spell and meteor shot
  code/datums/spells/summonitem.dm
  code/modules/recycling/disposal.dm
Labels: Fix

#9678 The cure procs for the disabilities now cure the gene as well
  code/modules/mob/living/status_procs.dm
Labels: Fix

#9672 Fix grey changelings keeping their wingdings
  code/game/gamemodes/changeling/powers/transform.dm
Labels: Fix

#9461 Reduces metal return for ammo boxes
  code/modules/projectiles/ammunition.dm
Labels: Fix, UPDATE NEEDED

#9725 Fixes Chaos Holoparasite
  code/game/gamemodes/miniantags/guardian/types/fire.dm
Labels: Fix

#9710 Reduces incorrect use of station names.
  code/datums/spells/knock.dm
  code/game/objects/items/devices/autopsy.dm
  code/game/objects/items/weapons/manuals.dm
  code/modules/admin/topic.dm
  code/modules/events/traders.dm
  code/modules/shuttle/shuttle.dm
  config/names/dreams.txt
  nano/templates/shuttle_console.tmpl
Labels: Refactor

#9709 Announces the Station name, fixes the hashes...
  code/modules/ext_scripts/irc.dm
Labels: Tweak

#9730 Refactors decals
  code/game/objects/effects/decals/Cleanable/aliens.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/Cleanable/robots.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/effects/decals/misc.dm
  code/game/objects/effects/decals/remains.dm
  code/game/objects/effects/decals/warning_stripes.dm
Labels: Refactor

#9410 Allow you to slice sliceables with any sharp item & alt-click to hide item
  code/modules/food_and_drinks/food/snacks.dm
Labels: Needs Review, Tweak, User Interface

#9749 Fixes Asteroid 4 Turf
  _maps/map_files/RandomRuins/SpaceRuins/asteroid4.dmm
Labels: Map Edit

#9750 Updates Decals on Gas The Lizards Space Ruin
  _maps/map_files/RandomRuins/SpaceRuins/gasthelizards.dmm
Labels: Map Edit

#9751 Fixes missing space ruin turfs on Mech Transport
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
Labels: Map Edit

#9752 Updates Decals on OneHalf Space Ruin
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
Labels: Map Edit

#9753 Updates Spacebar.dmm Space Ruin
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
Labels: Map Edit

#9754 Updates Decals on Centcomm Away Mission
  _maps/map_files/RandomZLevels/centcomAway.dmm
Labels: Map Edit

#9755 Updates Decals on Evil Santa Away Mission
  _maps/map_files/RandomZLevels/evil_santa.dmm
Labels: Map Edit

#9733 Updates Decals on Blackmarket Backpackers
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
Labels: Fix, Map Edit, Map Templates

#9745 Improved buttons
  interface/skin.dmf
Labels: Usability

#9401 Updates Enforcers
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/toy.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Balance, Sprites

#9640 Gives Security their intended (much cooler) bomb suit
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Minor Feature

#9723 Improves the stairs sprites
  _maps/map_files/cyberiad/cyberiad.dmm
  icons/turf/floors.dmi
Labels: Minor Feature, Sprites

#9763 Fixes #9762
  code/game/world.dm
Labels: Fix, Runtime

#9766 Fixes bugs with AI examining and nearsighted updates
  code/game/dna/genes/disabilities.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/update_stat.dm
  code/modules/mob/living/silicon/ai/update_status.dm
Labels: Fix

#9459 SS Port: NPCAI & NPCPool
  code/controllers/Processes/npcai.dm
  code/controllers/Processes/npcpool.dm
  code/controllers/subsystem/npcai.dm
  code/controllers/subsystem/npcpool.dm
  code/controllers/verbs.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/carbon/human/interactive/interactive.dm
  paradise.dme
Labels: Refactor, Test Merge Candidate

#9291 Refactors buildmode into submodules, and adds an "atmos" buildmode
  code/__DEFINES/misc.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/ai.dm
  code/_onclick/observer.dm
  code/datums/click_intercept.dm
  code/modules/admin/buildmode.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/buildmode/README.md
  code/modules/buildmode/bm_mode.dm
  code/modules/buildmode/buildmode.dm
  code/modules/buildmode/buttons.dm
  code/modules/buildmode/effects/line.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/area_edit.dm
  code/modules/buildmode/submodes/atmos.dm
  code/modules/buildmode/submodes/basic.dm
  code/modules/buildmode/submodes/boom.dm
  code/modules/buildmode/submodes/copy.dm
  code/modules/buildmode/submodes/fill.dm
  code/modules/buildmode/submodes/link.dm
  code/modules/buildmode/submodes/mapgen.dm
  code/modules/buildmode/submodes/save.dm
  code/modules/buildmode/submodes/sdql.dm
  code/modules/buildmode/submodes/throwing.dm
  code/modules/buildmode/submodes/variable_edit.dm
  icons/misc/buildmode.dmi
  icons/turf/overlays.dmi
  paradise.dme
Labels: Administration, Feature, Needs Review, Refactor, Test Merge Candidate, User Interface

#9761 Updates Decals on Terror Spiders Away Mission
  _maps/map_files/RandomZLevels/terrorspiders.dmm
Labels: Fix, Map Edit

#9759 Updates Decals on Space Hotel Away Mission
  _maps/map_files/RandomZLevels/spacehotel.dmm
Labels: Map Edit, Map Templates

#9731 Updates Decals on BoxZ2
  _maps/map_files/cyberiad/z2.dmm
Labels: Boxstation, Fix, Map Edit

#9643 Added the ability to print a virus release form using the PANDEMIC
  code/modules/reagents/chemistry/machinery/pandemic.dm
Labels: Minor Feature

#9757 Updates Travis to check ALL the Space Ruins & Away Missions
  _maps/test_all_maps.dm
Labels: Needs Review, Tools

#9768 Mining mobs now update sprites correctly on death
  code/modules/mob/living/simple_animal/hostile/mining_mobs.dm
Labels: Fix

#9398 Damage conservation on set_species, i.e. changeling transform no longer heals everything.
  code/game/gamemodes/changeling/changeling_power.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Refactor

#9546 Thrown Stunbatons have a low chance to stun
  code/game/objects/items/weapons/stunbaton.dm
Labels: Balance, Minor Feature

#9658 Change grille cooldown to 1 second instead
  code/game/objects/structures/grille.dm
Labels: Balance

#9664 Rsik's Fluff Item
  code/modules/customitems/item_defines.dm
  icons/mob/belt.dmi
  icons/mob/inhands/fluff_lefthand.dmi
  icons/mob/inhands/fluff_righthand.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#9415 Minor attack log overhaul
  code/__HELPERS/_logging.dm
  code/__HELPERS/mobs.dm
  code/game/objects/empulse.dm
  code/game/objects/explosion.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/special.dm
Labels: Administration, Needs Review

#9770 Help intent resting bugfix
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/simple_animal/posessed_object.dm
  code/modules/surgery/other.dm
Labels: Bug

#9631 Gamma ERT Changes
  code/datums/outfits/outfit.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/response_team.dm
  code/game/turfs/simulated/walls.dm
  code/modules/admin/topic.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/ert_suits.dm
  code/modules/clothing/suits/armor.dm
  code/modules/nano/modules/ert_manager.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/response_team/ert.dm
  code/modules/response_team/ert_outfits.dm
  code/modules/security_levels/keycard authentication.dm
  code/modules/surgery/organs/augments_arms.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/device.dmi
  icons/obj/grenade.dmi
  icons/obj/guns/energy.dmi
  paradise.dme
Labels: Balance, Feature

#9581 Ports updated /tg/ timer subsystems.
  code/__DEFINES/subsystems.dm
  code/__HELPERS/lists.dm
  code/controllers/subsystem/timer.dm
Labels: Port

#9774 fixes runtime in sentience.dm
  code/modules/events/sentience.dm
Labels: Fix

#9322 Nuclear Ops Medbay Changes
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Boxstation, Do Not Merge, Map Edit, Needs Review

#9778 Legless human mobs no longer scream non-stop when buckled into a chair.
  code/modules/mob/living/carbon/human/human_organs.dm
Labels: Fix

#9782 Minor text edit. (Reactive teleport armor)
  code/modules/clothing/suits/armor.dm
Labels: Fix, Grammar and Formatting

#9554 Refactor poolcontroller & atom improving performance (of controller) dramatically
  code/game/atoms.dm
  code/game/machinery/poolcontroller.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/unsimulated/beach.dm
Labels: Performance, Refactor

#9785 Relighting matches with shoes fix.
  code/game/objects/items/weapons/lighters.dm
  code/modules/clothing/clothing.dm
Labels: Fix

#9800 Adds sprite for greys wearing psysuits
  icons/mob/species/grey/uniform.dmi
Labels: Sprites

#9796 [s] Fixes a way to circumvent banned HTML tag check
  code/modules/scripting/Implementations/Telecomms.dm
Labels: Exploit, Fix, High Priority

#9797 Airlocks properly update their icon_state when open/closed
  code/game/machinery/doors/airlock.dm
Labels: Fix

#9801 Stops you being able to call yourself with a holopad
  code/datums/holocall.dm
  code/game/machinery/hologram.dm
Labels: Fix

#9792 Fixes the Ambulance
  code/modules/vehicle/ambulance.dm
Labels: Fix

#9776 SSOverlays & Hover Inventory Indicator
  code/__DEFINES/flags.dm
  code/__DEFINES/subsystems.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/overlays.dm
  code/game/atoms.dm
  code/modules/food_and_drinks/food/customizables.dm
  paradise.dme
Labels: Feature, Minor Feature, Port

#9790 Var edited damage isn't real damage...
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Boxstation, Fix, Map Edit, Metastation

#9720 New dirt sprites & dirt smoothing
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/cleanable.dm
  icons/effects/dirt.dmi
Labels: Minor Feature, Sprites

#9806 Fixes the NPCs not being initialised correctly
  code/modules/awaymissions/corpse.dm
Labels: Fix

#9808 Fixes THE MOST IMPORTANT BUG (autopsy reports description)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix

#9809 Necklace equip location fix
  code/modules/clothing/under/accessories/accessory.dm
Labels: Fix

#9726 Rissa's Fluff Item
  code/modules/customitems/item_defines.dm
  icons/mob/inhands/fluff_lefthand.dmi
  icons/mob/inhands/fluff_righthand.dmi
  icons/mob/uniform.dmi
  icons/mob/uniform_fat.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#9343 Port over tg ore stack and stack merging
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/MetaStation/z4.dmm
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z6.dmm
  code/__DEFINES/admin.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/quantum_pad.dm
  code/game/machinery/teleporter.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/modules/awaymissions/mission_code/stationCollision.dm
  code/modules/food_and_drinks/drinks/bottler/bottler_recipes.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mining/equipment_locker.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_unloading.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mining/minebot.dm
  code/modules/mining/ore.dm
  code/modules/mining/satchel_ore_boxdm.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/dragon.dm
  code/modules/mob/living/simple_animal/hostile/mining/goldgrub.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs.dm
  code/modules/power/cable.dm
  code/modules/power/lighting.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/designs/bluespace_designs.dm
  code/modules/research/rdmachines.dm
  code/modules/spacepods/equipment.dm
  code/modules/station_goals/bsa.dm
  code/modules/telesci/bscrystal.dm
  code/modules/telesci/telepad.dm
  code/modules/telesci/telesci_computer.dm
Labels: Feature, Map Edit, Performance, Port, Refactor, Test Merge Candidate, Usability

#9815 Lets agent IDs and ID computers set Skrell names correctly.
  code/__HELPERS/text.dm
Labels: Grammar and Formatting

#9817 A few fixes
  code/__HELPERS/unsorted.dm
  code/_globalvars/unused.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/game/gamemodes/gameticker.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/plasticflaps.dm
  code/modules/examine/descriptions/structures.dm
  code/modules/power/cable.dm
  code/modules/surgery/helpers.dm
Labels: Fix

#9821 Away Missions dirt grime and decals
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  code/game/turfs/simulated/floor/plating.dm
Labels: Map Edit

#9820 Delta grime / dirt
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit

#9819 Cyberiad dirt / grime
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit

#9826 Gives paranormal gamma a nullrod
  code/modules/response_team/ert_outfits.dm
Labels: Fix

#9827 Moves check_and_add() to reagents holder
  code/datums/diseases/advance/symptoms/sensory.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Refactor

#9825 Prevents organs from going necrotic during abductor surgery.
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/machinery/OpTable.dm
Labels: Balance, Fix

#9521 Species damage mod now only affects damage, not healing.
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: Balance, Fix

#9832 Moves Boxing logs to the ALL preference
  code/modules/martial_arts/brawling.dm
Labels: Administration

#9841 Fixes runtime in IsBanned.dm
  code/modules/admin/IsBanned.dm
Labels: Fix

#9838 CtrlShiftClick for stack
  code/game/objects/items/stacks/stack.dm
Labels: Tweak

#9854 You can no longer roll around when dead.
  code/_onclick/click.dm
Labels: Fix

#9851 Changed max name length
  code/_compile_options.dm
Labels: Tweak

#9388 Adds deliciously revolting bone-breaking sounds.
  code/game/sound.dm
  code/modules/surgery/organs/organ_external.dm
  sound/effects/bone_break_1.ogg
  sound/effects/bone_break_2.ogg
  sound/effects/bone_break_3.ogg
  sound/effects/bone_break_4.ogg
  sound/effects/bone_break_5.ogg
  sound/effects/bone_break_6.ogg
Labels: Needs Review, Sound

#9858 Fixes stunbaton runtime
  code/game/objects/items/weapons/stunbaton.dm
Labels: Fix

#9856 Borer fixes
  code/game/gamemodes/miniantags/borer/borer.dm
Labels: Fix, Tweak

#9869 Corpse Spawner fixes
  code/modules/awaymissions/corpse.dm
Labels: Fix

#9883 Re-implements BM offsets in a 511-compatible manner
  code/modules/buildmode/buildmode.dm
Labels: Administration, Fix

#9884 Fixes Timer SS Timeouts
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/timer.dm
Labels: Fix, Refactor

#9828 Adds the Honk Brand Infiltration Kit
  code/datums/uplink_item.dm
  code/game/objects/items/devices/megaphone.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/masks/voice.dm
  code/modules/mob/living/carbon/human/say.dm
Labels: Minor Feature

#9849 Added examine text for borg module
  code/modules/mob/living/silicon/robot/examine.dm
Labels: Feature, Minor Feature

#9875 Add uniform to blueshield locker
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Minor Feature

#9885 Shazbot's Fluff Bots
  icons/mob/custom_synthetic/custom-synthetic.dmi
Labels: Custom Item, Sprites

#9889 adds sanity check to show_to for storage items
  code/game/objects/items/weapons/storage/storage.dm
Labels: Fix

#9891 #9890 Fix, Feral grenades are now listed as job specific item in the traitor uplink
  code/datums/uplink_item.dm
Labels: Fix

#9892 Broken Disposals Sprite Fix
  icons/obj/pipes/disposal.dmi
Labels: Sprites

#9893 autolathe queue display fix
  nano/templates/autolathe.tmpl
Labels: Fix

#9814 DNA Sampler Sprite QOL
  code/modules/station_goals/dna_vault.dm
  icons/obj/hypo.dmi
Labels: Sprites

#9363 Href refactor: macros and playerpanel
  code/__DEFINES/admin.dm
  code/__HELPERS/mobs.dm
  code/defines/procs/admin.dm
  code/game/gamemodes/cult/cult_comms.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/machinery/computer/communications.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/structures/statues.dm
  code/game/turfs/simulated/floor/mineral.dm
  code/game/verbs/who.dm
  code/modules/admin/admin.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/freeze.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/error_handler/error_viewer.dm
  code/modules/events/brand_intelligence.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/login.dm
  code/modules/paperwork/fax.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/reagents/chemistry/recipes.dm
Labels: Code Improvement, Needs Review, Test Merge Candidate

#9843 Safe Refactor
  code/game/objects/structures/safe.dm
  nano/images/Scarborough Arms.svg
  nano/images/safe_dial.png
  nano/templates/safe.tmpl
Labels: Tweak, Usability, User Interface

#9896 Hover indicator for body zones
  code/_onclick/hud/screen_objects.dm
Labels: Feature, Minor Feature, Sprites, Usability, User Interface

#9899 Fixes Welding_Fuel to Fuel
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/hydroponics/sample.dm
Labels: Fix

#9864 Manually revert Purpose's smoothing PR
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/turf.dm
  code/modules/mining/mine_turfs.dm
  icons/turf/floors/plating.dmi
Labels: Fix, High Priority, Revert/Feature Removal, Test Merge Candidate

#9624 It is no longer possible to duplicate uvents.
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
Labels: Fix

#9662 Adds password protected files to modular computers.
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  nano/templates/file_manager.tmpl
Labels: Feature, Minor Feature

#9894 add check to make sure person downloading pAI isnt dead.
  code/modules/mob/living/silicon/pai/recruit.dm
Labels: Fix, UPDATE NEEDED

#9908 Updates the Garbage SS
  code/__DEFINES/components.dm
  code/__DEFINES/qdel.dm
  code/controllers/subsystem/garbage.dm
Labels: Performance, Refactor

#9906 Significantly reduces explosion from spacepods
  code/modules/spacepods/spacepod.dm
Labels: Balance, Feature, Minor Feature

#9904 Gives spend guardian injectors an appropriate examine text + refactor
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Fix, Grammar and Formatting, UPDATE NEEDED

#9910 Added notifications for the user on the RCD airlock creation
  code/game/objects/items/weapons/RCD.dm
Labels: Grammar and Formatting

#9567 Window alt clicking utility
  code/game/objects/structures/window.dm
Labels: Feature, Minor Feature, Usability

#9562 Refactors the global reagents lists to use the global SS.
  code/_globalvars/lists/reagents.dm
  code/game/objects/items/random_items.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/surgery/organs/liver.dm
Labels: Refactor

#9839 Fixes reversed medical cyborg hypospray log message
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Fix, Grammar and Formatting

#9913 Borg fire extinguishers and welding tools now get refilled
  code/game/machinery/rechargestation.dm
Labels: Fix

#9914 UI was missed in commit
  nano/templates/safe.tmpl
Labels: Fix, Multi-PR Contribution

#9842 Improve list free slots admin command
  code/modules/admin/verbs/randomverbs.dm
Labels: Administration

#9719 Icon Smoothing to StonedMC
  code/__HELPERS/icon_smoothing.dm
  code/controllers/subsystem/icon_smooth.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/structures.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_reinforced.dm
  code/game/turfs/turf.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/ripple.dm
  paradise.dme
Labels: Port, Refactor

#9920 Fix notice tag and closing span in job.dm
  code/game/jobs/job/job.dm
Labels: Grammar and Formatting

#9895 Skrell & Taj Hardsuit Recolor
  icons/mob/species/drask/suit.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/suit.dmi
Labels: Sprites

#9538 TG container_type refactor
  code/__DEFINES/flags.dm
  code/__DEFINES/reagents.dm
  code/game/atoms.dm
  code/game/machinery/cryo.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/implants/implant_chem.dm
  code/game/objects/items/weapons/paint.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  code/game/objects/structures/watercloset.dm
  code/modules/crafting/craft.dm
  code/modules/detective_work/footprints_and_rag.dm
  code/modules/fish/fishtank.dm
  code/modules/food_and_drinks/drinks/bottler/bottler.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/guns/dartgun.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/chemistry/readme.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Needs Review, Port, Refactor, Test Merge Candidate

#9924 Explosive holoparasite fixes
  code/game/gamemodes/miniantags/guardian/types/bomb.dm
Labels: Fix

#9837 Improve revenant code a bit
  code/game/gamemodes/miniantags/revenant/revenant.dm
Labels: Refactor

#9916 Removing unused atom code
  code/controllers/subsystem/atoms.dm
Labels: Refactor

#9377 Code clear up - RelPath + commented code deleting
  code/__HELPERS/icons.dm
  code/_onclick/telekinesis.dm
  code/datums/helper_datums/construction_datum.dm
  code/datums/helper_datums/global_iterator.dm
  code/datums/helper_datums/topic_input.dm
  code/game/area/Space Station 13 areas.dm
  code/game/atoms.dm
  code/game/gamemodes/factions.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/area_atmos_computer.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/computer/syndicate_specops_shuttle.dm
  code/game/machinery/deployable.dm
  code/game/machinery/holosign.dm
  code/game/machinery/magnet.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/machinery/telecomms/presets.dm
  code/game/mecha/mecha_parts.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/objects/effects/gibs.dm
  code/game/objects/effects/spawners/gibspawner.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/shooting_range.dm
  code/game/objects/items/weapons/caution.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/game/objects/items/weapons/dnascrambler.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/clowngrenade.dm
  code/game/objects/items/weapons/grenades/custom_grenades.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/misc.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/atmos_automation/console.dm
  code/modules/client/preference/preferences_spawnpoints.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/simple_animal/bot/emote.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Code Improvement, Test Merge Candidate

#9925 Restore the old plating sprite to holodeck
  icons/turf/floors.dmi
Labels: Fix, Sprites

#9887 Adds the viral injector as a job specific item for the virologist
  code/datums/uplink_item.dm
  code/modules/reagents/reagent_containers/dropper.dm
Labels: Feature, Minor Feature

#9932 Fixes north flag in hand sprites
  icons/mob/inhands/flags_lefthand.dmi
  icons/mob/inhands/flags_righthand.dmi
Labels: Fix, Sprites

#9923 Making the jump to 512 time bois
  .travis.yml
Labels: BYOND Issue, Fix, Good First Issue, High Priority, I ded pls nerf, Literally Everybody Ded, Misdesign, WTF, Working as Intended™

#9935 Make oculine not expensive
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Fix, Performance

#9941 Fixes typo in a warning message
  code/modules/admin/verbs/SDQL2/SDQL_2_parser.dm
Labels: Fix, Grammar and Formatting

#9939 Removes a revolution spawn
  code/game/gamemodes/revolution/revolution.dm
Labels: Refactor

#9947 Removed logging ambiguity for uplink purchases.
  code/datums/uplink_item.dm
Labels: Administration, Tweak

#9922 Fixes Fancy Table Smoothing
  icons/obj/smooth_structures/fancy_table.dmi
Labels: Fix, Sprites

#9485 Port over TG component improvements.
  code/__DEFINES/components.dm
  code/_onclick/item_attack.dm
  code/controllers/subsystem/garbage.dm
  code/datums/components/README.md
  code/datums/components/_component.dm
  code/datums/components/material_container.dm
  code/datums/datum.dm
  code/game/atoms.dm
Labels: Port, Refactor

#9943 fix: autopsy scanner unresponsiveness
  code/game/objects/items/devices/autopsy.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Fix
