Repository ParadiseSS13/Paradise, pull requests merged in 2018-09, with the labels that each got.

#9473 Fix plasmamen wizard space suit to let them cast spells
  code/datums/spell.dm
Labels: Fix

#9369 Analyser > Analyzer
  code/datums/uplink_item.dm
  code/modules/awaymissions/mission_code/UO71-terrorspiders.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Grammar and Formatting

#9260 MouseBlobs
  code/modules/events/blob.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Balance, Feature

#9259 Reduces speed bonus from Meth
  code/__DEFINES/combat.dm
  code/game/objects/effects/mines.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
Labels: Balance

#9370 Removes Atmos Grenades from Surplus
  code/datums/uplink_item.dm
Labels: Balance, Tweak

#9465 Fixes xeno borg
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#9464 Fixes #8267 Double Weld Closet Removes Welding Tool
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Code Improvement, Fix

#9411 Allows Secure Smartfridges to be unlocked via Emag or EMP
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Balance, Fix

#9255 Economy Refactor & Changes - Part 1
  code/__HELPERS/time.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/slotmachine.dm
  code/game/machinery/vending.dm
  code/modules/arcade/arcade_base.dm
  code/modules/awaymissions/mission_code/spacehotel.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/EFTPOS.dm
  code/modules/economy/utils.dm
  code/modules/events/money_hacker.dm
  code/modules/events/money_lotto.dm
  code/modules/modular_computers/laptop_vendor.dm
  nano/templates/eftpos.tmpl
Labels: Refactor

#9486 Attacking mirrors is now not spamable anymore
  code/game/objects/structures/mirror.dm
Labels: Fix

#9508 Ghosts can no longer eject IDs from fax machines and ID computers.
  code/game/machinery/computer/card.dm
  code/modules/paperwork/faxmachine.dm
Labels: Fix

#9499 Fixes #9498
  code/modules/flufftext/Dreaming.dm
Labels: Fix

#9506 [s] Stops you being able to gib the whole server with NTSL
  code/modules/scripting/Implementations/Telecomms.dm
Labels: Exploit, Fix, High Priority

#9490 Fixes claw game
  code/modules/arcade/arcade_base.dm
Labels: Fix

#9492 Wizard Academy UX Fix
  _maps/map_files/RandomZLevels/academy.dmm
Labels: Fix, Map Edit

#9493 Refactor of #9471
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Fix

#9496 Fixes #7056
  code/modules/clothing/under/accessories/accessory.dm
Labels: Fix

#9502 Fix Holoparasite Description Paper
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Documentation, Fix, Grammar and Formatting

#9504 Fixes a woops with vampire
  code/datums/mind.dm
Labels: Fix

#9511 Fixes minor mistake
  code/modules/mob/new_player/new_player.dm
Labels: Grammar and Formatting

#9457 Fixes math error with mime forcewall
  code/game/objects/effects/forcefields.dm
Labels: Fix

#9438 Fixes #8846, the stupid wire that led to a wall in med maint.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Boxstation, Fix, Map Edit

#9443 Gateway now also checks for exile implants in buckled mobs.
  code/modules/awaymissions/gateway.dm
Labels: Fix

#9437 Fixes #9188, gives virology a hologram
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Boxstation, Fix, Map Edit

#9427 Fixes #9358 - missing atmos welding goggles
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Boxstation, Fix, Map Edit

#9509 Fixes edit memory cancel not working
  code/datums/mind.dm
Labels: Administration, Fix

#9394 Allow cryo to fix all clone damage on limbs
  code/game/machinery/cryo.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#9373 Wallet icon defaults to green if it is filled with an id of any type
  code/game/objects/items/weapons/storage/wallets.dm
Labels: Fix, Sprites

#9474 Prevent rev victory from happening instantly
  code/game/gamemodes/revolution/revolution.dm
Labels: Fix

#9519 VV can now also fix robotic limbs.
  code/datums/datumvars.dm
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: Fix

#9518 Fixes 9516
  code/game/gamemodes/cult/cult_comms.dm
Labels: Fix

#9520 Fixes special char being allowed in some name
  code/datums/datumvars.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/living/silicon/pai/recruit.dm
Labels: Fix

#9537 Fixes logic with obscure proc
  code/modules/mob/status_procs.dm
Labels: Fix

#9484 Bottom quark fluff item
  code/modules/customitems/item_defines.dm
  icons/obj/clothing/ties_overlay.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#9545 MMI Radio Upgrade now has a tech origin
  code/modules/mob/living/carbon/brain/MMI_radio.dm
Labels: Fix

#9553 Minor contribution.md change
  .github/CONTRIBUTING.md
Labels: Documentation

#9390 Lumi's custom face
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/new_player/sprite_accessories.dm
  config/example/custom_sprites.txt
  icons/mob/human_face.dmi
Labels: Custom Item, Sprites

#9578 Lasertag ED-209 bots now get assigned correct names on construction
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: Fix

#9577 Adds a missing <i>
  nano/templates/song.tmpl
Labels: Fix

#9568 Fixes fire alarm deconstruction steps
  code/game/machinery/firealarm.dm
Labels: Fix

#9604 Fix of #3313
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Fix

#9608 Fixes missing space turfs in Intactemptyship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/intactemptyship.dmm
Labels: Fix, Map Edit, Map Templates

#9597 Additional check for one-click-antag
  code/modules/admin/verbs/one_click_antag.dm
Labels: Fix

#9610 Bug Fixes
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/tape.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Fix, Grammar and Formatting

#9596 Larger default window size for secure console.
  code/game/machinery/computer/security.dm
Labels: Fix, NanoUI, User Interface

#9406 Adds support for Perfect Scaling on 4K Monitors
  interface/skin.dmf
Labels: Feature, User Interface

#9618 Fixes 128x128 Scaling
  interface/skin.dmf
Labels: Fix

#9598 Fixes #9561
  code/modules/mob/living/say.dm
Labels: Fix

#9572 Fixes the minimap
  nano/images/Cyberiad_nanomap_z1.png
Labels: Code Improvement

#9593 Borg modules now respect actions
  code/modules/mob/living/silicon/robot/inventory.dm
Labels: Fix

#9385 Made cryokinesis only lower body temperature, Drask no longer take damage from it.
  code/game/dna/genes/goon_powers.dm
Labels: Balance

#9601 Adds in drop_location & AllowDrop()
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/dna/dna_modifier.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/cryo.dm
  code/game/machinery/rechargestation.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/turfs/turf.dm
  code/modules/mob/inventory.dm
  code/modules/modular_computers/hardware/printer.dm
Labels: Refactor

#9587 Code improvement & Spelling fix on NT Formal Gear
  code/modules/clothing/under/miscellaneous.dm
Labels: Grammar and Formatting

#9605 Fix of #9603
  icons/mob/inhands/items_righthand.dmi
Labels: Fix, Sprites

#9600 Fixes gear disappearing on lobby screen
  code/modules/mob/new_player/new_player.dm
Labels: Fix

#9576 Fixes a bunch of "</font color>" tags
  code/game/machinery/telecomms/logbrowser.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/telemonitor.dm
  code/game/machinery/telecomms/traffic_control.dm
Labels: Grammar and Formatting

#9032 Allow you to construct & deconstruct fire extinguisher cabinet
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/mountable_frames/extinguisher_frame.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/extinguisher.dm
  icons/obj/closet.dmi
  paradise.dme
Labels: Feature

#8811 Mixing Bowls and Kitchen refactors
  code/__DEFINES/crafting.dm
  code/_globalvars/lists/misc.dm
  code/datums/recipe.dm
  code/datums/supplypacks.dm
  code/game/machinery/vending.dm
  code/game/objects/items/mixing_bowl.dm
  code/modules/food_and_drinks/kitchen_machinery/candy_maker.dm
  code/modules/food_and_drinks/kitchen_machinery/grill_new.dm
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/food_and_drinks/kitchen_machinery/oven_new.dm
  icons/obj/kitchen.dmi
  paradise.dme
Labels: Feature

#9555 Removes Sleeps/Spawns from Malf AI modules
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Code Improvement

#9557 Refactors Xeno Hunter tackle spawn
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
Labels: Code Improvement

#9558 Refactors the Bananium floors cooldown
  code/game/turfs/simulated/floor/mineral.dm
Labels: Code Improvement

#9591 Beepsky responds to disarming
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix

#9551 Fixes holopad's power use
  code/game/machinery/hologram.dm
Labels: Fix

#9524 Autopsy scanner now prints all times in human readable format.
  code/game/objects/items/devices/autopsy.dm
Labels: Fix, Grammar and Formatting

#9497 Fixes DNA modifier not working for non-human
  code/game/dna/dna_modifier.dm
Labels: Fix

#9338 Greater Knock
  code/datums/spells/knock.dm
  code/game/gamemodes/wizard/spellbook.dm
Labels: Feature

#9621 Avert plasmaman taking over Paradise with double firepower
  code/modules/mob/living/carbon/human/species/plasmaman.dm
Labels: Fix

#9549 Fixes wizard refund glitch
  code/game/gamemodes/wizard/spellbook.dm
Labels: Exploit, Fix

#9302 shieldgen.dm refactoring
  code/game/machinery/shieldgen.dm
Labels: Refactor

#9556 Refactors Pipe Dispenser's cooldown
  code/game/machinery/pipe/pipe_dispenser.dm
Labels: Code Improvement, Duplicate

#9542 E.L.O.'s fluff item
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items.dmi
Labels: Custom Item

#9522 Support holoparas can now also heal IPCs and robotic limbs.
  code/game/gamemodes/miniantags/guardian/types/healer.dm
Labels: Fix

#9541 Fixes blobs not deleting light fixtures
  code/modules/power/lighting.dm
Labels: Fix

#9512 Fixes #9510
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix

#9619 Benjaminfallout Fluff Item (Fixed)
  code/modules/customitems/item_defines.dm
  icons/mob/uniform.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#9579 Restore / add back in Qdellog / HardDelete log
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/controllers/subsystem/garbage.dm
  code/game/world.dm
Labels: Code Improvement

#9514 Bugfix for card & lightning
  code/modules/games/cards.dm
  code/modules/power/lighting.dm
Labels: Fix

#9548 Tidies up camera_assembly.dm
  code/game/machinery/camera/camera_assembly.dm
Labels: Code Improvement

#9599 Jade lipstick color fix (and minor refactor)
  code/game/objects/items/weapons/cosmetics.dm
  code/modules/client/preference/loadout/loadout_cosmetics.dm
Labels: Fix

#9400 Hallucination Refactor
  code/modules/flufftext/Hallucination.dm
Labels: Code Improvement, Needs Changelog

#9439 Vox nitrogen tanks now auto equip at spawn and almost never overwrite job items.
  code/modules/mob/living/carbon/human/species/vox.dm
Labels: Fix

#9425 Adds a siren to the Ambulance
  code/modules/vehicle/ambulance.dm
Labels: Feature

#9380 Removes hijack reward from Wild West gateway mission
  code/modules/awaymissions/mission_code/wildwest.dm
Labels: Balance

#9564 Baton & Scrubber pixel offset fixes
  icons/atmos/vent_scrubber.dmi
  icons/obj/items.dmi
Labels: Fix, Sprites

#9454 condenses eyes
  code/modules/mob/living/silicon/robot/robot.dm
  icons/mob/robots.dmi
Labels: Refactor, Sprites

#8867 Fixing an old atmos error
  code/__DEFINES/atmospherics.dm
Labels: Balance, Fix

#9507 SkeletalElite's Fluff
  code/modules/customitems/item_defines.dm
  icons/mob/back.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#9575 Stops shadowlings from targeting simple animals (mice)
  code/datums/spell.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
Labels: Tweak

#9240 Reveal identity while using megaphone
  code/game/objects/items/devices/megaphone.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/brain/say.dm
  code/modules/mob/living/carbon/human/interactive/interactive.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/carbon/slime/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/silicon/robot/drone/drone_say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/mob.dm
Labels: Feature

#9560 Adds a PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Grammar and Formatting

#9372 Fixes pod fab bug
  code/game/machinery/constructable_frame.dm
  code/game/mecha/mech_fabricator.dm
  code/modules/research/designs/machine_designs.dm
Labels: Balance, Fix

#9620 Fixes latejoin AI spawning in arrivals
  code/game/jobs/job_controller.dm
  code/modules/mob/new_player/new_player.dm
Labels: Fix

#9540 Tidies up floodlights.dm & enables mappers to have round-start lights enabled
  code/game/machinery/floodlight.dm
Labels: Code Improvement

#9627 Emergency Modkit Fix
  icons/obj/items.dmi
Labels: Fix, High Priority, Sprites

#9623 Fixes point blank shots not hitting the correct target if multiple people are on the same tile.
  code/modules/projectiles/firing.dm
Labels: Fix

#9628 Stop you from losing your memory and money at roundstart
  code/game/gamemodes/gameticker.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Fix, High Priority, oops

#9632 Fixes the cling transform sting problem and adds a proc for it
  code/game/gamemodes/changeling/changeling_power.dm
  code/game/gamemodes/changeling/powers/tiny_prick.dm
  code/game/gamemodes/changeling/powers/transform.dm
Labels: Fix

#9633 Fixed emagged camera consoles not opening the tabs
  code/game/machinery/computer/camera.dm
Labels: Fix

#9635 Nerfs Medical Plasmemes, No extra penlights for you!
  code/modules/mob/living/carbon/human/species/plasmaman.dm
Labels: Fix

#9527 Fixes half the server crashing, removes canvases
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/artstuff.dm
  code/modules/paperwork/frames.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/artstuff.dmi
  paradise.dme
Labels: BYOND Issue, Revert/Feature Removal

#9505 Karma Cleanup
  code/modules/client/client procs.dm
  code/modules/karma/karma.dm
Labels: Code Improvement, Refactor

#9488 Blob fixes, including biohazard warning fix and storage blob fix #9365
  code/game/gamemodes/blob/blobs/core.dm
  code/game/gamemodes/blob/blobs/storage.dm
  code/modules/events/blob.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Fix, UPDATE NEEDED

#9629 Pyro's Fluff: Winterised Hardsuit
  code/modules/customitems/item_defines.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#9412 Adds the poison pen to the Librarian syndicate items
  code/datums/uplink_item.dm
Labels: Tweak

#9642 Fixes a bunch of message formatting overflows
  code/game/gamemodes/changeling/powers/mutations.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items/devices/scanners.dm
  code/game/verbs/suicide.dm
  code/modules/admin/admin.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/detective_work/scanner.dm
  code/modules/games/cards.dm
  code/modules/library/lib_items.dm
  code/modules/mob/living/silicon/pai/death.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/hostile/spaceworms.dm
  code/modules/mob/mob_helpers.dm
  code/modules/nano/modules/crew_monitor.dm
  code/modules/paperwork/frames.dm
  code/modules/pda/utilities.dm
  code/modules/projectiles/guns/dartgun.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/recycling/conveyor2.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/telesci/bscrystal.dm
Labels: Fix, Grammar and Formatting

#9413 Adds a Discord button & stylizes the Karma Shop and Donate buttons
  code/controllers/configuration.dm
  config/example/config.txt
  interface/interface.dm
  interface/skin.dmf
Labels: Configuration Change, User Interface

#9655 Adds support for TGS3
  TGS3.json
Labels: Tools
