Repository ParadiseSS13/Paradise, pull requests merged in 2018-06, with the labels that each got.

#9085 Fix the cl of disposals
  html/changelog.html
  html/changelogs/.all_changelog.yml
Labels: Fix, Grammar and Formatting

#9075 Improved (ish) attack log logging
  code/__HELPERS/mobs.dm
  code/defines/procs/admin.dm
  code/game/dna/genes/goon_powers.dm
  code/game/objects/items/devices/aicard.dm
Labels: Administration

#8885 Windows Update
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z6.dmm
  code/__DEFINES/construction.dm
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/unsorted.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/temporary_visuals/clockcult.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/stack_recipe.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/fullwindow.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/living.dm
  code/modules/research/designs/smelting_designs.dm
  icons/obj/doors/windoor.dmi
  icons/obj/items.dmi
  icons/obj/smooth_structures/clockwork_window.dmi
  icons/obj/smooth_structures/plasma_window.dmi
  icons/obj/smooth_structures/plastitanium_window.dmi
  icons/obj/smooth_structures/pod_window.dmi
  icons/obj/smooth_structures/reinforced_window.dmi
  icons/obj/smooth_structures/rice_window.dmi
  icons/obj/smooth_structures/rplasma_window.dmi
  icons/obj/smooth_structures/shuttle_window.dmi
  icons/obj/smooth_structures/tinted_window.dmi
  icons/obj/smooth_structures/window.dmi
  icons/obj/structures.dmi
  paradise.dme
Labels: Refactor

#9039 Makes Hulk Attacking Less Snowflakey
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  code/_onclick/other_mobs.dm
  code/game/atoms.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/machinery/OpTable.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/effects/effects.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls.dm
  code/modules/fish/fishtank.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_defense.dm
  code/modules/mob/living/carbon/alien/larva/larva_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/slime/slime.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
Labels: Balance, Fix, Refactor

#9086 Macro Refactor for SpacemanDMM
  code/__DEFINES/clothing.dm
  code/__DEFINES/lighting.dm
  code/__DEFINES/misc.dm
  code/controllers/subsystem/air.dm
  code/datums/diseases/advance/advance.dm
  code/datums/wires/vending.dm
  code/game/jobs/job_controller.dm
  code/game/machinery/status_display.dm
  code/game/machinery/vending.dm
  code/modules/alarm/alarm.dm
  code/modules/awaymissions/mission_code/spacehotel.dm
  code/modules/client/preference/preferences.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/economy/Economy.dm
  code/modules/economy/Economy_Events.dm
  code/modules/events/infestation.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/humanoid/update_icons.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/say.dm
  code/modules/power/smes.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/shuttle/shuttle.dm
  code/modules/spacepods/spacepod.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Refactor, Tools

#9090 Fixes Gloves of the North Star's Description
  code/datums/uplink_item.dm
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Fix, Grammar and Formatting

#8900 Terror Spider away mission pipes & vents
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  code/game/machinery/alarm.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
Labels: Fix, Map Edit

#7285 Ring! Ring! Hello?
  code/__DEFINES/layers.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/ai.dm
  code/_onclick/hud/movable_screen_objects.dm
  code/datums/holocall.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/machinery/computer/hologram.dm
  code/game/machinery/hologram.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/chunk.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  icons/effects/96x96.dmi
  icons/effects/effects.dmi
  icons/obj/stationobjs.dmi
  paradise.dme
Labels: Feature, Needs Review, Work In Progress

#8212 wall shit
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_reinforced.dm
Labels: Needs Review, Refactor

#8495 Adds an emergency action check for air alarms
  code/game/machinery/alarm.dm
Labels: Feature, Tweak

#8162 The cult of mimes
  code/datums/spell.dm
  code/game/gamemodes/cult/runes.dm
Labels: Fix, Runtime

#8657 New Security Hardsuit sprites for Vox and unathi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/suits.dmi
Labels: Sprites

#9098 Ports TG's Nar'Sie
  code/modules/power/singularity/narsie.dm
Labels: Meme PR

#9002 DS / prefs fix
  code/__HELPERS/game.dm
  code/modules/admin/verbs/striketeam.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/client/preference/preferences.dm
Labels: Fix

#8765 Fixes ED-209 and floorbot + changes to ED-209 behavior.
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
Labels: Fix

#9105 Fixes Holosign Icons
  icons/effects/effects.dmi
Labels: Fix

#9104 Bug fixes
  code/game/gamemodes/cult/runes.dm
  code/modules/food_and_drinks/food/snacks.dm
Labels: Fix

#8893 Adds more viruses to the Viral Outbreak event
  code/modules/events/disease_outbreak.dm
Labels: Balance

#9110 Update dbconfig.txt
  config/example/dbconfig.txt
Labels: Fix, Oversight, oops

#9070 Adds Plastic Surgery; Fixes Disfigurement
  code/__DEFINES/combat.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/face.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/subtypes/standard.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/robotics.dm
  paradise.dme
Labels: Feature, Fix

#9072 Reduce sling dethrall surgery steps
  code/modules/surgery/other.dm
Labels: Balance

#9043 Added magboots in the Paramedic's EVA Gear closet
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: Tweak

#9006 Adds login/logout to attack logs
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
Labels: Administration

#9057 PanzerSkull Fluff
  code/modules/customitems/item_defines.dm
  icons/mob/ties.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#9076 Ports Talking Medibot
  code/modules/mob/living/simple_animal/bot/medbot.dm
  sound/voice/mapple.ogg
  sound/voice/mcatch.ogg
  sound/voice/mcoming.ogg
  sound/voice/mdelicious.ogg
  sound/voice/mfeelbetter.ogg
  sound/voice/mflies.ogg
  sound/voice/mhelp.ogg
  sound/voice/minjured.ogg
  sound/voice/minsult.ogg
  sound/voice/mlive.ogg
  sound/voice/mlost.ogg
  sound/voice/mno.ogg
  sound/voice/mpatchedup.ogg
  sound/voice/mradar.ogg
  sound/voice/msurgeon.ogg
Labels: Feature, Sound

#9080 Cleans Up Medibot Code, Re-Allows Syndicate Medibot
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Balance, Fix, Refactor

#9035 M12g breach charge
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: Fix, Sprites

#8970 Buffs DIY Chainsaw
  code/game/objects/items/weapons/twohanded.dm
Labels: Balance, Refactor

#9041 Adds Free Vending Machines
  code/game/machinery/vending.dm
Labels: Feature, Refactor

#8995 High-Pop Job Slots
  code/game/jobs/job_scaling.dm
  config/example/jobs_highpop.txt
  paradise.dme
Labels: Administration

#9046 Datumizes Wishgranter
  code/__DEFINES/machines.dm
  code/datums/mind.dm
  code/game/machinery/wishgranter.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_helpers.dm
  code/modules/antagonists/_common/antag_hud.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/_common/antag_team.dm
  code/modules/antagonists/wishgranter/wishgranter.dm
  paradise.dme
Labels: Administration, Feature, Refactor

#9050 Converts and Updates Weather Subsystem
  code/__DEFINES/layers.dm
  code/controllers/Processes/nanoui.dm
  code/controllers/Processes/weather.dm
  code/controllers/subsystem/weather.dm
  code/controllers/verbs.dm
  code/datums/looping_sounds/weather.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/areas.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/pod.dm
  code/game/objects/items/devices/scanners.dm
  code/game/turfs/space/transit.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/events/radiation_storm.dm
  code/modules/mining/lavaland/loot/legion_loot.dm
  code/modules/mob/status_procs.dm
  code/modules/space_management/level_traits.dm
  code/modules/space_management/zlevel_manager.dm
  icons/effects/weather_effects.dmi
  icons/obj/status_display.dmi
  paradise.dme
  sound/lavaland/ash_storm_end.ogg
  sound/lavaland/ash_storm_start.ogg
  sound/lavaland/ash_storm_windup.ogg
  sound/weather/ashstorm/inside/active_end.ogg
  sound/weather/ashstorm/inside/active_mid1.ogg
  sound/weather/ashstorm/inside/active_mid2.ogg
  sound/weather/ashstorm/inside/active_mid3.ogg
  sound/weather/ashstorm/inside/active_start.ogg
  sound/weather/ashstorm/inside/weak_end.ogg
  sound/weather/ashstorm/inside/weak_mid1.ogg
  sound/weather/ashstorm/inside/weak_mid2.ogg
  sound/weather/ashstorm/inside/weak_mid3.ogg
  sound/weather/ashstorm/inside/weak_start.ogg
  sound/weather/ashstorm/outside/active_end.ogg
  sound/weather/ashstorm/outside/active_mid1.ogg
  sound/weather/ashstorm/outside/active_mid2.ogg
  sound/weather/ashstorm/outside/active_mid3.ogg
  sound/weather/ashstorm/outside/active_start.ogg
  sound/weather/ashstorm/outside/weak_end.ogg
  sound/weather/ashstorm/outside/weak_mid1.ogg
  sound/weather/ashstorm/outside/weak_mid2.ogg
  sound/weather/ashstorm/outside/weak_mid3.ogg
  sound/weather/ashstorm/outside/weak_start.ogg
Labels: Refactor

#8992 Fixes #8954 - splits 'attack log' preference, spam-be-gone
  SQL/paradise_schema.sql
  SQL/paradise_schema_prefixed.sql
  SQL/updates/3-4.sql
  code/__DEFINES/preferences.dm
  code/__HELPERS/mobs.dm
  code/_onclick/item_attack.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/machinery/poolcontroller.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/devices/aicard.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/assembly/bomb.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob_grab.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/projectiles/guns/dartgun.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/recycling/disposal.dm
  code/modules/surgery/organs/organ.dm
  config/example/dbconfig.txt
Labels: Administration, Fix, SQL Change

#9064 One-click antag improvement. Antag-related refactor, memory confirmation & typo fixing
  code/datums/mind.dm
  code/game/gamemodes/autotraitor/autotraitor.dm
  code/game/gamemodes/changeling/evolution_menu.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
Labels: Administration

#8921 Adds more Vox helmets and ERT suit sprites
  code/modules/clothing/spacesuits/ert.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/utility.dm
  icons/mob/species/vox/collar.dmi
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
Labels: Sprites

#9117 Make it so that vox can wear SWAT suit
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Fix

#9116 Fixes can_vote runtime
  code/modules/mob/new_player/login.dm
Labels: Fix

#9115 Fixes SQL version (3->4), plus a runtime
  code/__DEFINES/misc.dm
  code/__HELPERS/mobs.dm
Labels: Fix, High Priority

#9122 Fixes Away Mission Weather
  code/datums/weather/weather_types/snow_storm.dm
Labels: Fix

#9112 Nuclear challenge time limit take into account round start time
  code/game/gamemodes/nuclear/nuclear_challenge.dm
Labels: Fix, Tweak

#9123 Fixes Wizard Not Having Clothes or Backpack
  code/game/gamemodes/wizard/wizard.dm
Labels: Fix

#9126 Fixes Home-Run Bat Charge
  code/game/objects/items/weapons/weaponry.dm
Labels: Fix

#9052 Moves gloves of the north star to dangerous items
  code/datums/uplink_item.dm
Labels: Tweak

#9124 coin string fix
  code/modules/mining/coins.dm
Labels: Fix, Sprites

#9128 Fix cardboard drop count
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
Labels: Fix

#9127 Can Cast Spells on Z-Level 2 on Ragin'
  code/datums/spell.dm
Labels: Tweak

#9129 Customize Honk Sound for Clown Uniform
  code/modules/clothing/under/jobs/civilian.dm
Labels: Administration, Feature, Tweak

#8895 Death Squid hitbox adjustment
  code/modules/mob/living/simple_animal/hostile/deathsquid.dm
Labels: Fix, Sprites

#8983 Removes huge mapping inconsistency & headache / Free will strangle anyone who uses these fucking instances in the future
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/MetaStation/z3.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z3.dmm
  _maps/map_files/cyberiad/z4.dmm
  _maps/map_files/generic/z5.dmm
Labels: Boxstation, Fix, Map Edit, Metastation, Refactor, Tweak

#9111 Add space check to atmos throwing
  code/LINDA/LINDA_turf_tile.dm
Labels: Balance

#9114 Fix emitters
  code/__DEFINES/MC.dm
  code/game/machinery/machinery.dm
  code/modules/power/smes.dm
Labels: Fix

#9144 Adds Admin Say Log Configuration
  config/example/config.txt
Labels: Administration, Fix

#9141 Change the High-five emote time frame from 2.5 seconds to 4 seconds
  code/datums/status_effects/neutral.dm
Labels: Tweak

#9047 Adds the conveyor belt placer
  code/modules/recycling/belt-placer.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/bluespace_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/storage.dmi
  paradise.dme
Labels: Feature
