Repository ParadiseSS13/Paradise, pull requests merged in 2019-01, with the labels that each got.

#10534 Grinches Christmas
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Balance, Controversial, Exploit, I ded pls nerf, Inconsistency, LIKE COMMENT AND SUBSCRIBE FOR MORE VIDEOS, Literally Everybody Ded, Meme PR, Misdesign, Needs Pictures, Needs Review, Revert/Feature Removal, WTF, Working as Intended™, oops

#10574 Lazarus injector now display message when emagged
  code/modules/mining/equipment_locker.dm
Labels: Fix

#10566 Added to upgrade FireFighters with goliath plates
  code/modules/mining/equipment_locker.dm
Labels: Feature

#10489 Adds Emitter Reflectors
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/reflector.dm
  icons/obj/reflector.dmi
  paradise.dme
Labels: Feature

#10501 Refactor and buff wizard force wall, add greater force wall
  code/datums/spells/mime.dm
  code/datums/spells/wizard.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/effects/forcefields.dm
Labels: Feature

#10527 A new toy for the clown
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/structures/crates_lockers/closets/secure/miscjobs.dm
Labels: Feature

#10530 Adds mecha voice modification kits
  code/_onclick/hud/alert.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/combat/reticence.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_modkit.dm
  code/game/mecha/mecha_topic.dm
  code/modules/research/designs/mechfabricator_designs.dm
  paradise.dme
Labels: Feature

#10539 Adds hud compability
  icons/mob/hud.dmi
Labels: Feature, Tweak

#10542 Replaces one crew monitor console in medlobby by crew records
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit

#10545 Adds one box of pill bottles to scichem
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit

#10591 Fix mech runtime
  code/game/mecha/mecha.dm
Labels: Fix

#10596 Fixes active deswords being pocketable.
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix

#10581 Dark matter, sorium blob move_resist check
  code/modules/reagents/chemistry/reagents/blob.dm
Labels: Fix

#10553 Do you wanna build a snowmaaaaaaaan~
  code/__HELPERS/global_lists.dm
  code/game/objects/structures/statues.dm
  code/modules/crafting/recipes.dm
  code/modules/holiday/christmas.dm
Labels: Feature

#10549 ID lock for Suit Storage Units + SSU hacking
  code/datums/wires/suitstorage.dm
  code/game/machinery/suit_storage_unit.dm
  paradise.dme
Labels: Feature

#10558 Remove collaborators
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/traitor/traitor.dm
Labels: Revert/Feature Removal

#10565 Adds office door buttons to the rest of head of staff's offices.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit

#10571 Increases gas toxicity across the board.
  code/modules/surgery/organs/lungs.dm
Labels: Balance

#10572 Refactor grey wingdings and add grey translator implant
  code/__DEFINES/genetics.dm
  code/_globalvars/genetics.dm
  code/game/dna/dna2.dm
  code/game/dna/genes/disabilities.dm
  code/game/gamemodes/changeling/powers/transform.dm
  code/game/gamemodes/setupgame.dm
  code/game/jobs/job/support.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: Feature, Refactor

#10573 Single HUD implant to heads locker
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Tweak

#10580 Capulettium/Capu+ fakes death convincingly
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/changeling/powers/fakedeath.dm
  code/game/gamemodes/changeling/powers/revive.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Feature, Refactor

#10584 Replaces uplink management by automated sharing + various misc outfit changes
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/MetaStation/z2.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/_globalvars/lists/objects.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/nuclear/nuclear_challenge.dm
  code/game/jobs/job/syndicate.dm
  code/game/machinery/computer/telecrystalconsoles.dm
  code/game/objects/items/devices/uplinks.dm
  code/game/objects/items/stacks/telecrystal.dm
  code/game/objects/items/weapons/implants/implantuplink.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  paradise.dme
Labels: Usability

#10587 Added titanium cost to IRC chassis
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Balance

#10595 Mime's Cane Shotgun ammo reworked and buffed
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Balance

#10611 Fix grey translator translating the entire server
  code/modules/mob/living/carbon/human/say.dm
Labels: Fix

#10613 Fixes BSA size issues
  code/__DEFINES/station_goals.dm
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/dna_vault.dm
  paradise.dme
Labels: Fix

#10606 Renames and Reorganises ammunition for the Uplink
  code/datums/uplink_item.dm
Labels: Tweak, Usability

#10600 Ghost hud option: All
  code/modules/mob/dead/observer/observer.dm
Labels: Feature

#10617 Fixes Glasses Not Blocking Eye Shine
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Fix

#10575 Adds more detailed information about mol values to Atmospheric Analyzers
  code/__HELPERS/unsorted.dm
Labels: Feature

#10589 Sol trader update
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/datums/outfits/outfit_admin.dm
  code/game/jobs/job_exp.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/random_items.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/modules/awaymissions/mission_code/UO71-terrorspiders.dm
  code/modules/events/traders.dm
  code/modules/hydroponics/grown/random.dm
  code/modules/modular_computers/file_system/programs/command/comms.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/shuttle/shuttle.dm
  nano/templates/comm_console.tmpl
  nano/templates/comm_program.tmpl
Labels: Feature

#10557 Adds the Staff of Slipping and Clown wizard outfit
  code/datums/spell.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/machinery/vending.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/projectiles/ammunition/special.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/magic.dm
  icons/mob/back.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/species/drask/mask.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  icons/mob/species/vox/mask.dmi
  icons/mob/species/vulpkanin/mask.dmi
  icons/obj/guns/magic.dmi
Labels: Feature

#10623 Gives NT Rep and Blueshield office door buttons proper access needed
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix

#10622 Adds the magic mirror to the wizard den
  _maps/map_files/cyberiad/z2.dmm
  code/game/objects/structures/mirror.dm
  icons/obj/watercloset.dmi
Labels: Feature

#10626 FiXes CaPs iN gUnS
  code/modules/projectiles/ammunition/ammo_casings.dm
Labels: Fix

#10636 Fix disability removing on ERT/Nuke ops/ayy
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/response_team/ert.dm
Labels: Fix

#10610 Add the Saboteur module to syndicate cyborgs
  code/datums/uplink_item.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/weapons/RCD.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  code/modules/mob/mob_helpers.dm
  code/modules/recycling/disposal.dm
  icons/mob/robots.dmi
  paradise.dme
Labels: Feature

#10642 Stop emergency shield gen from unanchoring themselves when turned off.
  code/game/machinery/shieldgen.dm
Labels: Fix

#10647 Asmerath Fluff item, Accordion inhands
  code/modules/customitems/item_defines.dm
  icons/mob/inhands/equipment/instruments_lefthand.dmi
  icons/mob/inhands/equipment/instruments_righthand.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10627 Gender neutrality
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/vox.dm
Labels: Tweak

#10633 Magistrate Things and Representative Navy Suit
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/asset_cache.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/paperwork/stamps.dm
  icons/mob/head.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/closet.dmi
  icons/obj/clothing/hats.dmi
  icons/paper_icons/large_stamp-magistrate.png
Labels: Feature, Map Edit, Tweak

#10615 Remove default ID check on ED
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
Labels: Tweak

#10639 Updates playtime requirements, tracking
  code/__DEFINES/preferences.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job_exp.dm
  code/game/jobs/jobs.dm
Labels: Administration, Tweak

#10621 Nuke ops spawn with their pinpointer
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
Labels: Tweak

#10632 Sol Trader Updates 2
  code/datums/outfits/outfit_admin.dm
  code/game/gamemodes/objective.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/grenades/clusterbuster.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/events/event_container.dm
  code/modules/events/traders.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Feature

#10619 Bluespace Closet
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/research/designs/equipment_designs.dm
  icons/obj/closet.dmi
Labels: Feature

#10651 Devil friends
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/contracts.dm
  code/datums/spells/devil.dm
  code/game/gamemodes/devil/contracts/friend.dm
  code/modules/paperwork/contract.dm
Labels: Feature, Fix, Map Edit, Multi-PR Contribution

#10655 Burial suit is now showing properly.
  icons/mob/uniform.dmi
Labels: Fix

#10659 Ventilation Typo
  code/game/objects/effects/spiders.dm
Labels: Grammar and Formatting

#10484 Allows jetpacks to work in suit storage slot
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Balance

#10657 Medical Head Mirror
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/head/misc_special.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/drask/head.dmi
  icons/mob/species/grey/head.dmi
  icons/mob/species/vox/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Feature

#10671 a completely inconspicuous PR
  code/modules/assembly/voice.dm
Labels: Fix

#10678 Mulebot closet exclusion
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#10675 Removes useless desc variable in airlock control buttons
  code/game/machinery/door_control.dm
Labels: Refactor

#10673 Body Scanner Wrench Rotation Unsmackening
  code/game/machinery/adv_med.dm
Labels: Fix

#10683 Fix deathgasping
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/silicon/robot/death.dm
Labels: Fix

#10684 Fixes an under-abundance of Bees in the Briefcase
  code/game/objects/items/weapons/bee_briefcase.dm
Labels: Fix

#10403 (Almost fully) re-done: Remaps Brig, EVA, Dorms and Law Area. Adds a few new maint rooms and areas.
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/game/area/Space Station 13 areas.dm
  icons/misc/beach2.dmi
  icons/turf/areas.dmi
  nano/images/Cyberiad_nanomap_z1.png
Labels: Map Edit

#10666 gamemode vampire sound
  code/game/gamemodes/vampire/vampire.dm
  sound/ambience/antag/vampalert.ogg
Labels: Sound

#10686 Adds classic baton and a cargo cap to Sol Traders
  code/datums/outfits/outfit_admin.dm
Labels: Tweak

#10685 Updates Syndicate Strike Team gear, ready room, and shuttle
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/datums/outfits/outfit_admin.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Balance, Feature

#10698 this fixes my previous PR
  icons/obj/aibots.dmi
Labels: Sprites

#10679 Cake Cat Cak - How the Chef turned Frankenstein with cake base, sp(r)inkles and frosting
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_table.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/pets.dmi
Labels: Feature, Port

#10670 Lumi's fluff mouse and resting mice
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  icons/mob/animal.dmi
Labels: Custom Item, Tweak

#10705 Add SST hardsuit sprite and SIT/SST shuttle to delta
  _maps/map_files/Delta/delta.dmm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Map Edit, Sprites

#10706 Touching up drink sprites
  icons/obj/drinks.dmi
Labels: Sprites

#10709 Traitor Item formatting, description and spelling changes
  code/datums/uplink_item.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Grammar and Formatting, Tweak

#10714 Stops simple animals and silicons being able to do what they shouldn't be able to.
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/games/cards.dm
  code/modules/paperwork/paperbin.dm
Labels: Fix

#10716 Fixed phantom drill bug
  code/game/objects/structures/safe.dm
Labels: Fix

#10699 Reduce the cost of bomb frames to 3 plasteel
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Balance, Tweak

#10712 Some path normalization
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/shooting_range.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/power/singularity/generator.dm
Labels: Refactor

#10715 Adds the oxygen grenade
  code/datums/supplypacks.dm
  code/game/objects/items/weapons/grenades/atmosgrenade.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  icons/obj/grenade.dmi
Labels: Feature

#10711 Pineapple Salad Fluff Item:Bluespace bunny ears
  code/modules/customitems/item_defines.dm
  icons/mob/head.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10724 Fixes mapping error
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit

#10717 Cheeky Crenando's Fluff Item
  code/modules/customitems/item_defines.dm
  icons/mob/suit.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10718 Small Surgical Arm Menu Change
  code/modules/surgery/organs/augments_arms.dm
Labels: Tweak

#10719 Changes to C4's explosion handling
  code/game/objects/items/weapons/explosives.dm
Labels: Balance, Tweak

#10713 Reworks chameleon flag
  _maps/map_files/cyberiad/z6.dmm
  code/datums/uplink_item.dm
  code/game/objects/items/flag.dm
Labels: Refactor, Tweak

#10735 Fix bluespace bunny ears fluff desc
  code/modules/customitems/item_defines.dm
Labels: Fix

#10723 Adds tinyfans to the engineering outpost mass drivers
  _maps/map_files/cyberiad/z4.dmm
Labels: Map Edit

#10722 Replaces Kitchen/Botany wall with plating
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit

#10700 Add force to books, extra to space law
  code/game/objects/items/weapons/manuals.dm
  code/modules/library/lib_items.dm
Labels: Balance, I ded pls nerf, LIKE COMMENT AND SUBSCRIBE FOR MORE VIDEOS, Tweak

#10739 Renames z2's "Bar" to "Bar lounge"
  code/game/area/Dynamic areas.dm
Labels: Fix

#10727 Remove bat swarm from gold slime spawn pool
  code/modules/mob/living/simple_animal/hostile/bat.dm
Labels: Tweak

#10743 Fixes runtime when double-clicking a stool item in hand
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: Fix

#10744 Fixes whispers not being logged properly for admins
  code/modules/mob/living/say.dm
Labels: Fix

#10745 Fixes #10729 - objectives targeting admin centcom characters
  code/__DEFINES/gamemode.dm
  code/game/gamemodes/objective.dm
Labels: Fix

#10742 Fixes item_attack.dm / undefined attack_obj runtime
  code/_onclick/item_attack.dm
Labels: Fix

#10741 Fixes hear_say.dm runtime: list index out of bounds
  code/modules/mob/hear_say.dm
Labels: Fix

#10747 Fixes admin co-ord jump
  code/modules/admin/verbs/adminjump.dm
Labels: Administration, Fix

#10748 Fixes shapeshift spell definitions
  code/datums/spells/shapeshift.dm
Labels: Fix

#10726 Gives syndie medical borgs hydrocodone instead of ether
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Tweak

#9287 Adds a new clown chemical 🤡
  code/_onclick/item_attack.dm
  code/datums/components/jestosterone.dm
  code/datums/components/squeak.dm
  code/modules/admin/verbs/honksquad.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/reagent_containers/patch.dm
  icons/obj/chemical.dmi
  paradise.dme
Labels: Feature

#10763 Ionward Fluff Labcoat
  code/modules/customitems/item_defines.dm
  icons/mob/inhands/fluff_lefthand.dmi
  icons/mob/inhands/fluff_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10751 Update Crossbow.Dm
  code/modules/projectiles/guns/throw/crossbow.dm
Labels: Balance

#10752 Updates z6.dmm, Derelict/DJ Station/Teleporter Remap & Clown Shuttle Fix
  _maps/map_files/cyberiad/z6.dmm
  code/game/objects/items/trash.dm
  code/game/turfs/simulated/walls_mineral.dm
  icons/turf/floors.dmi
Labels: Map Edit

#10755 Binary Key Description Fix
  code/datums/uplink_item.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
Labels: Fix, Grammar and Formatting

#10757 Remove flavor text on abductor, add SE clean I missed
  code/game/gamemodes/miniantags/abduction/abduction.dm
Labels: Fix

#10769 [Fix] Meat type for cake cat
  code/modules/food_and_drinks/recipes/tablecraft/recipes_table.dm
Labels: Fix

#10585 Discord Bot Functionality
  code/_onclick/ai.dm
  code/controllers/configuration.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/gameticker.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client procs.dm
  code/modules/ext_scripts/discord.dm
  code/modules/ext_scripts/irc.dm
  code/modules/mob/logout.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/shuttle/emergency.dm
  config/example/config.txt
  paradise.dme
  scripts/ircbot_message.py
Labels: Configuration Change, Refactor

#10756 Changes abductor brains to use the alien brain sprite
  code/modules/mob/living/carbon/human/species/abductor.dm
  code/modules/surgery/organs/subtypes/abductor.dm
Labels: Sprites, Tweak

#10767 Fixes the virus referencing bug
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#10772 Hellhound AOE fix, hound description update
  code/modules/mob/living/simple_animal/hostile/hellhound.dm
Labels: Fix, Grammar and Formatting

#10758 [READY] TOGGLEABLE DARKMODE
  code/__DEFINES/preferences.dm
  code/modules/client/client procs.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/client/preference/preferences_toggles.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/html/browserOutput.html
  goon/browserassets/js/browserOutput.js
  goon/code/datums/browserOutput.dm
  icons/paradise.png
  interface/skin.dmf
Labels: User Interface

#10775 Dark Mode Chat - Notification added.
  goon/browserassets/js/browserOutput.js
Labels: Multi-PR Contribution, Tweak

#10786 Revert "Discord Bot Functionality"
  code/_onclick/ai.dm
  code/controllers/configuration.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/gameticker.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client procs.dm
  code/modules/ext_scripts/discord.dm
  code/modules/ext_scripts/irc.dm
  code/modules/mob/logout.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/shuttle/emergency.dm
  config/example/config.txt
  paradise.dme
  scripts/ircbot_message.py
Labels: Revert/Feature Removal

#10777 Fixes blast door buttons, refactors buttons to remove range var
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  _maps/map_files/cyberiad/z6.dmm
  code/game/machinery/door_control.dm
  code/modules/buildmode/submodes/link.dm
Labels: Fix, Refactor

#10732 Camera flash
  code/datums/uplink_item.dm
  code/game/objects/items/devices/flash.dm
Labels: Feature

#10790 Wingdings mutation makes you speak in wingdings again.
  code/modules/mob/living/carbon/human/say.dm
Labels: Fix
