Repository ParadiseSS13/Paradise, pull requests merged in 2019-10, with the labels that each got.

#12452 Stops MULEs from running over SSDs
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Tweak

#12413 Add bitshift and squash merge instructions
  .github/CONTRIBUTING.md
Labels: Documentation

#12472 Manual Changelog Compile 9/30/2019
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-12442.yml
  html/changelogs/AutoChangeLog-pr-12452.yml
  html/changelogs/AutoChangeLog-pr-12461.yml
  html/changelogs/AutoChangeLog-pr-12463.yml
  html/changelogs/AutoChangeLog-pr-12465.yml
Labels: Needs Changelog

#12470 Places bought wizard items into your hand instead of on the floor
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Tweak

#12475 Issue #12473: Lavaland Winter Dome Vehicle Fix
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
Labels: Fix, Map Edit

#12468 Allows robotic limbs to be healed by pylons
  code/game/gamemodes/cult/cult_structures.dm
Labels: Tweak

#12421 Mining borg QoL update and fix
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix

#12487 Fixes beach visual bugs
  _maps/map_files/RandomZLevels/beach.dmm
  code/game/objects/structures/ladders.dm
Labels: Fix

#12488 Fixed Reaper Cult not having it's own tome icon.
  code/game/gamemodes/cult/cult_datums.dm
Labels: Fix, Sprites

#12490 Fixes toxic comp not doing the right amount of toxin damage
  code/datums/diseases/advance/symptoms/damage_converter.dm
Labels: Fix

#12485 Actually fixes cultists getting multiple summon objectives
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/cult/cult_objectives.dm
Labels: Fix

#12491 Fixes a bunch of things related to traitor and mindslave objectives
  code/datums/mind.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/weapons/implants/implant_traitor.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/traitor/datum_mindslave.dm
Labels: Fix

#12456 Simple Animal Fixes
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#12479 Fixes Soul Stone Shards, they can now poll deadchat if the original soul is gone.
  code/game/gamemodes/wizard/soulstone.dm
Labels: Fix, Tweak

#12483 Ghost qol change
  code/modules/mob/dead/observer/observer.dm
Labels: Tweak

#12481 Welded vents burst open under strong overpressure
  code/ATMOSPHERICS/atmospherics.dm
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
Labels: Feature

#12484 Tickets can now be unassigned
  code/controllers/subsystem/tickets/tickets.dm
Labels: Administration, Tweak

#12464 change reviver to be new-crit friendly
  code/modules/surgery/organs/augments_internal.dm
Labels: Tweak

#12467 Syringe Refactor. Overhauls Lethal Injection Syringe
  _maps/map_files/MetaStation/z3.dmm
  code/game/atoms.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/black.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/green.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_ai.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/white.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
  code/modules/reagents/reagent_containers/syringes.dm
  icons/obj/reagentfillings.dmi
Labels: Balance, Feature, Fix, Refactor

#12415 Nerfs Book of Babel
  code/__DEFINES/language.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mob/language.dm
Labels: Balance

#12492 Alphabetizes character creation options (Hair, clothes, etc)
  code/modules/client/preference/preferences.dm
Labels: Grammar and Formatting

#12501 Fixes DB disconnection issue
  code/game/world.dm
Labels: Fix

#12505 Fixes #12504 - empty medkit in depot
  code/game/objects/effects/spawners/random_spawners.dm
Labels: Fix

#12499 Drask Surgical Cap/Mask Sprite fix
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/masks/miscellaneous.dm
  icons/mob/species/drask/head.dmi
Labels: Fix, Sprites

#12511 Health Analyzer Refactor
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/devices/traitordevices.dm
  code/modules/pda/utilities.dm
Labels: Refactor

#12520 Fixes Blood Types
  code/datums/datacore.dm
  code/game/atoms.dm
  code/game/dna/dna2.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/medical.dm
  code/game/objects/effects/gibs.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/surgery/organs/blood.dm
  code/modules/surgery/organs/organ.dm
Labels: Fix, Refactor

#12521 Manual Changelog Compile 10/7/2019
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-12245.yml
  html/changelogs/AutoChangeLog-pr-12421.yml
  html/changelogs/AutoChangeLog-pr-12456.yml
  html/changelogs/AutoChangeLog-pr-12464.yml
  html/changelogs/AutoChangeLog-pr-12467.yml
  html/changelogs/AutoChangeLog-pr-12468.yml
  html/changelogs/AutoChangeLog-pr-12470.yml
  html/changelogs/AutoChangeLog-pr-12475.yml
  html/changelogs/AutoChangeLog-pr-12479.yml
  html/changelogs/AutoChangeLog-pr-12484.yml
  html/changelogs/AutoChangeLog-pr-12485.yml
  html/changelogs/AutoChangeLog-pr-12487.yml
  html/changelogs/AutoChangeLog-pr-12488.yml
  html/changelogs/AutoChangeLog-pr-12490.yml
  html/changelogs/AutoChangeLog-pr-12491.yml
  html/changelogs/AutoChangeLog-pr-12492.yml
  html/changelogs/AutoChangeLog-pr-12499.yml
  html/changelogs/AutoChangeLog-pr-12501.yml
  html/changelogs/AutoChangeLog-pr-12505.yml
  html/changelogs/AutoChangeLog-pr-12511.yml
  html/changelogs/AutoChangeLog-pr-12520.yml
Labels: Needs Changelog

#12471 Initialize(), Implicit var/, Addtimer() and Hacky Code update to Contributing.md
  .github/CONTRIBUTING.md
Labels: Administration, Documentation, Literally Everybody Ded

#12498 Gives the handheld defib a new sprite
  code/game/objects/items/devices/handheld_defib.dm
  icons/goonstation/mob/inhands/items_lefthand.dmi
  icons/goonstation/mob/inhands/items_righthand.dmi
  icons/goonstation/objects/objects.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
Labels: Sprites

#12531 Incredibly Minor Grey Bag of Holding sprite fix
  icons/mob/species/grey/back.dmi
Labels: Fix, Sprites

#12532 Fixes Universal Damage Issues. Implements Proper Ricochets
  code/__DEFINES/flags.dm
  code/game/gamemodes/blob/blobs/shield.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/game/turfs/simulated/walls_reinforced.dm
  code/modules/mob/mob_defines.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/research/rdconsole.dm
  icons/obj/projectiles.dmi
Labels: Fix

#12515 Makes Pants All Powerful
  code/modules/clothing/under/pants.dm
Labels: Balance

#12513 Reaper cult sprite overhaul
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/MetaStation/z2.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/beach.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/shuttles/emergency_narnar.dmm
  code/game/gamemodes/cult/cult_datums.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/door_assembly_types.dm
  code/game/objects/structures/girders.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/power/singularity/narsie.dm
  icons/mob/mob.dmi
  icons/obj/cult.dmi
  icons/obj/doors/airlocks/cult/runed/cult-overlays.dmi
  icons/obj/doors/airlocks/cult/runed/reaper-overlays.dmi
  icons/obj/doors/airlocks/cult/runed/reaper.dmi
  icons/obj/doors/airlocks/cult/unruned/cult-overlays.dmi
  icons/obj/doors/airlocks/cult/unruned/reaper-overlays.dmi
  icons/obj/doors/airlocks/cult/unruned/reaper.dmi
  icons/obj/items.dmi
  icons/obj/narsie.dmi
  icons/obj/narsie_spawn_anim.dmi
  icons/turf/floors.dmi
  icons/turf/walls/cult_wall.dmi
Labels: Sprites

#12516 Updates Swarmers: Fixes Swarmer Megafauna
  code/datums/helper_datums/teleport.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Balance, Feature, Fix

#12519 Removes Dirty Floors
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/soap.dm
  code/game/turfs/simulated.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/surgery/surgery.dm
  code/modules/vehicle/janicart.dm
Labels: Revert/Feature Removal

#12496 Shade related Soul Stone fixes and tweak.
  code/game/gamemodes/wizard/soulstone.dm
Labels: Fix, Tweak

#12503 Spectral Manifest Fixes and Balance.
  code/game/gamemodes/cult/runes.dm
Labels: Balance, Fix

#12458 Issue #5066 - Abductor silencer now properly silences radios temporarily.
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
Labels: Fix, Tweak

#12512 Removes Console Screens
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/dna/dna_modifier.dm
  code/game/machinery/Freezer.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/cloning.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/cryo.dm
  code/game/machinery/teleporter.dm
  code/game/machinery/vending.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/weapons/stock_parts.dm
  code/modules/arcade/prize_counter.dm
  code/modules/food_and_drinks/kitchen_machinery/candy_maker.dm
  code/modules/food_and_drinks/kitchen_machinery/grill_new.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/food_and_drinks/kitchen_machinery/oven_new.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/hydroponics/gene_modder.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_vending.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/telesci/telepad.dm
  icons/obj/stock_parts.dmi
Labels: Map Edit, Refactor

#12523 Refactors Zone Selection
  code/_onclick/click.dm
  code/_onclick/hud/alien.dm
  code/_onclick/hud/alien_larva.dm
  code/_onclick/hud/devil.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/game/dna/genes/goon_powers.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/objects/items/devices/autopsy.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/weapons/cosmetics.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/structures/watercloset.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/drinks/drinks/cans.dm
  code/modules/martial_arts/brawling.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/mimejutsu.dm
  code/modules/martial_arts/wrestleing.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/posessed_object.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/mob_movement.dm
  code/modules/paperwork/paper.dm
  code/modules/power/cable.dm
  code/modules/projectiles/firing.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/helpers.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/remove_embedded_object.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/surgery.dm
Labels: Refactor

#12514 Adds Leather to Biogenerator
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/research/designs/biogenerator_designs.dm
Labels: Feature

#12510 Fixes teleport runes teleporting AI eye
  code/game/gamemodes/cult/runes.dm
  code/modules/mob/camera/camera.dm
Labels: Fix

#12455 DNA Vault Rework
  code/__DEFINES/genetics.dm
  code/__DEFINES/station_goals.dm
  code/game/dna/genes/powers.dm
  code/modules/awaymissions/mission_code/academy.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/living/carbon/human/species/zombies.dm
  code/modules/station_goals/dna_vault.dm
Labels: Balance, Feature

#12534 Remove Extra Frame from Marking Wag Anim
  icons/mob/sprite_accessories/tajaran/tajaran_tail_markings.dmi
Labels: Fix

#12538 Fixes APCs Not Being Hackable
  code/datums/wires/apc.dm
  code/modules/power/apc.dm
Labels: Fix

#12545 Re-adds the handheld defib sprites
  icons/obj/items.dmi
Labels: Fix

#12543 Manual Changelog Compile 10/9/2019 Mid Afternoon
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-12455.yml
  html/changelogs/AutoChangeLog-pr-12458.yml
  html/changelogs/AutoChangeLog-pr-12496.yml
  html/changelogs/AutoChangeLog-pr-12498.yml
  html/changelogs/AutoChangeLog-pr-12503.yml
  html/changelogs/AutoChangeLog-pr-12510.yml
  html/changelogs/AutoChangeLog-pr-12512.yml
  html/changelogs/AutoChangeLog-pr-12513.yml
  html/changelogs/AutoChangeLog-pr-12514.yml
  html/changelogs/AutoChangeLog-pr-12515.yml
  html/changelogs/AutoChangeLog-pr-12516.yml
  html/changelogs/AutoChangeLog-pr-12519.yml
  html/changelogs/AutoChangeLog-pr-12523.yml
  html/changelogs/AutoChangeLog-pr-12531.yml
  html/changelogs/AutoChangeLog-pr-12532.yml
  html/changelogs/AutoChangeLog-pr-12534.yml
  html/changelogs/AutoChangeLog-pr-12538.yml
  html/changelogs/AutoChangeLog-pr-12539.yml
Labels: Needs Changelog

#12547 fixing autolathe type
  code/modules/research/designs/autolathe_designs.dm
Labels: Grammar and Formatting

#12561 Fixes IsBanned Bug
  goon/code/datums/browserOutput.dm
Labels: Fix

#12563 Reverts legacy autoban
  goon/code/datums/browserOutput.dm
Labels: Fix

#12556 Gives Captains access to unlock their display case again
  code/game/objects/structures/displaycase.dm
Labels: Tweak

#12564 Removes obsolete admin verb: "show discord duplicates"
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Fix, Refactor, Revert/Feature Removal

#12558 Makes Xenobio Related Things GC Better
  code/modules/food_and_drinks/kitchen_machinery/monkeyrecycler.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Performance

#12557 Fixes Telepad Double Attack
  code/modules/telesci/telepad.dm
Labels: Fix

#12566 Makes LINDA Aggressive
  code/LINDA/LINDA_turf_tile.dm
  code/__DEFINES/atmospherics.dm
  code/controllers/subsystem/air.dm
  code/datums/gas_mixture.dm
Labels: Fix, Performance

#12572 Fixes Bubblegum Spawn Rate
  code/game/turfs/simulated/floor/asteroid.dm
Labels: Fix

#12573 Manual Changelog Compile 10/13/19
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-12545.yml
  html/changelogs/AutoChangeLog-pr-12547.yml
  html/changelogs/AutoChangeLog-pr-12556.yml
  html/changelogs/AutoChangeLog-pr-12557.yml
  html/changelogs/AutoChangeLog-pr-12558.yml
  html/changelogs/AutoChangeLog-pr-12563.yml
  html/changelogs/AutoChangeLog-pr-12564.yml
  html/changelogs/AutoChangeLog-pr-12566.yml
Labels: Needs Changelog

#12576 Revert "Makes LINDA Aggressive"
  code/LINDA/LINDA_turf_tile.dm
  code/__DEFINES/atmospherics.dm
  code/controllers/subsystem/air.dm
  code/datums/gas_mixture.dm
Labels: Fix, Revert/Feature Removal, oops

#12581 Fixes RPEDs not showing parts of machines
  code/game/machinery/machinery.dm
  code/game/machinery/vending.dm
Labels: Fix

#12586 Fixes Atmos Pipe Deconstruction
  code/modules/telesci/telepad.dm
Labels: Fix

#12583 Fix single quotes showing up weird in names and announcement titles
  code/__HELPERS/text.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Fix

#12584 Fixes Planetary Atmos
  code/LINDA/LINDA_turf_tile.dm
Labels: Fix

#12582 Stops spamming admins with heirophant club attack logs
  code/modules/mining/lavaland/loot/hierophant_loot.dm
Labels: Administration

#12560 Make cult whispering use their real name
  code/game/gamemodes/cult/cult_comms.dm
Labels: Tweak

#12587 Training Wheels Come Off
  code/datums/status_effects/buffs.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mob/living/carbon/human/species/skeleton.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/guns/medbeam.dm
  code/modules/reagents/chemistry/reagents/admin.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Balance

#12546 Vampire shapeshift ability and DNA scrambler now clear flavour text
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/objects/items/weapons/dnascrambler.dm
Labels: Tweak

#12548 Traits framework
  code/__DEFINES/status_effects.dm
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/item_attack.dm
  code/datums/datum.dm
  code/datums/datumvars.dm
  code/datums/status_effects/buffs.dm
  code/game/atoms_movable.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_defense.dm
  code/modules/mob/living/carbon/alien/larva/larva_defense.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/friendly/snake.dm
  code/modules/mob/living/simple_animal/hostile/jungle_animals.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_grab.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/ammunition/special.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/admin.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/spacepods/equipment.dm
  icons/mob/animal.dmi
  icons/obj/lavaland/artefacts.dmi
  paradise.dme
Labels: Feature, Refactor

#12567 quickfix to stop people using the scanner inside it
  code/game/machinery/adv_med.dm
Labels: Fix

#12595 Fixes Lavaland Mob and Tendril Clumping
  code/game/turfs/simulated/floor/asteroid.dm
Labels: Fix

#12608 Fixes R&D Materials Exploit
  code/modules/research/rdconsole.dm
Labels: Fix

#12638 Prevents nanoui from flickering when opened in fancy mode
  code/modules/nano/nanoui.dm
Labels: Fix, User Interface

#12649 Fixes Hierophant Atmos
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/floor/misc_floor.dm
Labels: Fix

#12450 blacklists hellhounds from the xeno spawn pool
  code/modules/mob/living/simple_animal/hostile/hellhound.dm
Labels: Tweak

#12474 Highlight regex 2 Electric boogaloo
  goon/browserassets/html/browserOutput.html
  goon/browserassets/js/browserOutput.js
  goon/browserassets/js/jquery.mark.min.js
Labels: Grammar and Formatting, Tweak

#12508 Xenomorph highpop spawn balance
  code/modules/events/alien_infestation.dm
Labels: Balance

#12544 Nerfs Glass Armor
  code/game/objects/structures/window.dm
  code/modules/mining/equipment/survival_pod.dm
Labels: Balance

#12540 Makes yellow documents destructible
  code/game/objects/items/documents.dm
Labels: Balance

#12559 Vox Mining-Loot (and Elite Syndicate) Hardsuits
  code/modules/clothing/spacesuits/ert.dm
  code/modules/clothing/suits/wiz_robe.dm
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
Labels: Feature, Sprites

#12594 Removes Ancient Storage Codersprite
  code/game/objects/items/weapons/storage/storage.dm
  icons/mob/screen_gen.dmi
Labels: Sprites

#12591 Stamina Damage Rework
  code/__DEFINES/mobs.dm
  code/__HELPERS/mobs.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/action.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/OpTable.dm
  code/game/objects/items/weapons/storage/artistic_toolbox.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/martial_arts/cqc.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/martial_arts/mimejutsu.dm
  code/modules/martial_arts/sleeping_carp.dm
  code/modules/mob/living/carbon/alien/humanoid/update_icons.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/mob/living/carbon/update_status.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/update_status.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/update_status.dm
  code/modules/mob/status_procs.dm
  code/modules/paperwork/photocopier.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/blob.dm
  code/modules/recycling/disposal.dm
  code/modules/surgery/helpers.dm
  paradise.dme
Labels: Balance, Test Merge Candidate

#12614 fixes the blob runtimes and invisble blob zombies
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/game/gamemodes/blob/blobs/factory.dm
Labels: Fix

#12396 A red headcrab day
  code/game/objects/structures/spawner.dm
  code/modules/events/event_container.dm
  code/modules/events/headcrabs.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
  icons/mob/headcrab.dmi
Labels: Balance, Feature

#12637 Remove the snowflake power cells
  code/game/machinery/chiller.dm
  code/game/machinery/defib_mount.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/recharger.dm
  code/game/machinery/rechargestation.dm
  code/game/machinery/spaceheater.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/marauder.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/awaymissions/mission_code/UO71-terrorspiders.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/transform_procs.dm
  code/modules/power/apc.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Refactor

#12615 Decorations galore part 1!
  code/__DEFINES/crafting.dm
  code/datums/components/ducttape.dm
  code/game/objects/items/decorations.dm
  code/modules/crafting/craft.dm
  code/modules/crafting/recipes.dm
  icons/obj/decorations.dmi
  paradise.dme
Labels: Feature, Sprites

#12459 Hellhound Updates (nerfs lesser hound)
  code/modules/mob/living/simple_animal/hostile/hellhound.dm
Labels: Balance

#12651 Manual Changelog Compile 10/27/2019
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-12396.yml
  html/changelogs/AutoChangeLog-pr-12450.yml
  html/changelogs/AutoChangeLog-pr-12474.yml
  html/changelogs/AutoChangeLog-pr-12540.yml
  html/changelogs/AutoChangeLog-pr-12544.yml
  html/changelogs/AutoChangeLog-pr-12546.yml
  html/changelogs/AutoChangeLog-pr-12548.yml
  html/changelogs/AutoChangeLog-pr-12559.yml
  html/changelogs/AutoChangeLog-pr-12560.yml
  html/changelogs/AutoChangeLog-pr-12567.yml
  html/changelogs/AutoChangeLog-pr-12572.yml
  html/changelogs/AutoChangeLog-pr-12581.yml
  html/changelogs/AutoChangeLog-pr-12582.yml
  html/changelogs/AutoChangeLog-pr-12583.yml
  html/changelogs/AutoChangeLog-pr-12584.yml
  html/changelogs/AutoChangeLog-pr-12586.yml
  html/changelogs/AutoChangeLog-pr-12587.yml
  html/changelogs/AutoChangeLog-pr-12594.yml
  html/changelogs/AutoChangeLog-pr-12595.yml
  html/changelogs/AutoChangeLog-pr-12608.yml
  html/changelogs/AutoChangeLog-pr-12614.yml
  html/changelogs/AutoChangeLog-pr-12615.yml
  html/changelogs/AutoChangeLog-pr-12638.yml
  html/changelogs/AutoChangeLog-pr-12649.yml
Labels: Code Limitation, Needs Changelog

#12665 remove duplicate definition in mecha code
  code/game/mecha/mecha.dm
Labels: Refactor
