Repository ParadiseSS13/Paradise, pull requests merged in 2019-06, with the labels that each got.

#11630 More Lavaland fixes
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_animal_hospital.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/generic/Lavaland.dmm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/rolebans.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/machinery/syndicatebomb.dm
  code/game/machinery/vending.dm
  code/game/objects/explosion.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/game/turfs/turf.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/library/random_books.dm
  code/modules/mining/explorer_gear.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs.dm
  code/modules/ruins/lavalandruin_code/ash_walker_den.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
  code/modules/telesci/gps.dm
  icons/effects/effects.dmi
  icons/mob/species/drask/head.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/grey/head.dmi
  icons/mob/species/plasmaman/helmet.dmi
  icons/mob/species/plasmaman/suit.dmi
  icons/mob/species/skrell/head.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/mask.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/mask.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vulpkanin/mask.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
  icons/obj/clothing/species/plasmaman/suits.dmi
  icons/obj/surgery.dmi
  icons/obj/watercloset.dmi
Labels: Fix, Map Edit, Sprites

#11641 Even more Lavaland fixes
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/posessed_object.dm
  code/modules/mob/mob.dm
  code/modules/recycling/disposal.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
  icons/obj/vending.dmi
Labels: Fix, Map Edit, Map Templates, Sprites

#11421 Wizard Update - Revenge of the Federation
  code/game/gamemodes/miniantags/morph/morph.dm
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
  code/game/gamemodes/wizard/raginmages.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/gamemodes/wizard/wizard.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Balance, Feature, Fix

#11656 Fixes an exploit with the sheet multiplier
  code/game/objects/items/stacks/stack.dm
Labels: Fix, High Priority

#11643 Lavaland fixes, continued
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/templates/shelter_1.dmm
  _maps/map_files/templates/shelter_2.dmm
  code/ATMOSPHERICS/components/binary_devices/dp_vent_pump.dm
  code/datums/cache/air_alarm.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/areas.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/autotraitor/autotraitor.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/gamemodes/objective.dm
  code/game/jobs/job_objective.dm
  code/game/machinery/alarm.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/temporary_visuals/temporary_visual.dm
  code/game/objects/items.dm
  code/game/objects/items/dehy_carp.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/minerals.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/game/turfs/turf.dm
  code/modules/awaymissions/maploader/reader.dm
  code/modules/awaymissions/mission_code/academy.dm
  code/modules/awaymissions/mission_code/centcomAway.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/mining/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining/mining.dm
  code/modules/mob/living/simple_animal/hostile/mining/necropolis_tendril.dm
  code/modules/nano/modules/atmos_control.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/obj/hydroponics/equipment.dmi
  paradise.dme
Labels: Fix, Map Edit, Map Templates, Tweak, Usability

#11659 ChangeTurf icon fix
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/floor/mineral.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/turf.dm
  code/modules/awaymissions/maploader/reader.dm
Labels: Fix

#11676 Donksoft Sniper Rifle now available in STORE! - The Punisher!
  code/game/machinery/vending.dm
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Tweak

#11688 Fix gutlunches not eating and tesla wormhole fix
  code/game/objects/effects/portals.dm
  code/modules/events/wormholes.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/hostile/mining/gutlunch.dm
Labels: Fix

#11723 To catch them is my real test...
  code/modules/mining/equipment_locker.dm
Labels: Fix

#11447 Fixes runtime when disarming/grabbing some doors (can_admin_interact())
  code/game/machinery/doors/door.dm
Labels: Fix

#11586 Adds 'warble' emote for Skrell
  code/modules/mob/living/carbon/human/emote.dm
  sound/effects/warble.ogg
Labels: Feature, Sound

#11610 New Boo! spell icon
  code/modules/mob/dead/observer/spells.dm
  icons/mob/actions/actions.dmi
Labels: Sprites

#11166 Highlight string now uses regex
  goon/browserassets/html/browserOutput.html
  goon/browserassets/js/browserOutput.js
  goon/browserassets/js/jquery.mark.min.js
Labels: Feature, User Interface

#11756 Revert "Highlight string now uses regex"
  goon/browserassets/html/browserOutput.html
  goon/browserassets/js/browserOutput.js
  goon/browserassets/js/jquery.mark.min.js
Labels: Revert/Feature Removal

#11728 Better sprites for liquid dispensers
  code/game/machinery/ai_slipper.dm
  icons/obj/device.dmi
Labels: Sprites

#11724 Terror Spider Intent Fix
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
Labels: Fix

#11722 Adds Hawaiian Shirts
  code/game/machinery/vending.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Feature, Sprites

#11715 Miner starter kits you can order from cargo will no longer include a ID that grants miner/cargo access, only the concription kits from mining vendor
  code/datums/supplypacks.dm
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Tweak

#11522 Fix cybernetics not appearing in mech fabricator
  code/game/mecha/mech_fabricator.dm
  code/modules/research/designs/medical_designs.dm
Labels: Fix, Tweak

#11581 Steal objective and Adv Pinpointer no longer target items in Centcom Z level.
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/gamemodes/objective.dm
Labels: Fix

#11591 Fixes bug that deletes stuff in blocked trunks
  code/modules/recycling/disposal.dm
Labels: Fix

#11681 Fixes empty words in syndicate keyphrases
  code/controllers/subsystem/ticker.dm
Labels: Fix

#11748 Fixes Shield Blob Exploit
  code/game/gamemodes/blob/blobs/shield.dm
Labels: Fix

#11738 Portable Seed Extractor design
  code/modules/research/designs/equipment_designs.dm
Labels: Fix

#11733 Adds Auto-Note for Manual Bans
  code/modules/admin/topic.dm
Labels: Administration

#11496 Gives the night vision spell to cult constructs
  code/datums/spells/night_vision.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  paradise.dme
Labels: Tweak

#11504 Removes the verb interface to SDQL2
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
Labels: Administration, Security

#11449 Changes Quarantine, NT Default, Aggressive, and Corporate AI Lawsets [REVIEW READY].
  code/datums/ai_law_sets.dm
Labels: Feature
