Repository ParadiseSS13/Paradise, pull requests merged in 2019-12, with the labels that each got.

#12756 Fixes some unlisted traitor issues from a recent merge
  code/game/gamemodes/autotraitor/autotraitor.dm
  code/game/gamemodes/traitor/traitor.dm
Labels: Fix

#12761 Fixes Spore Toxin Not Working
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Fix

#12757 Fixes DNA Samplers not checking if target humanoid has DNA
  code/modules/station_goals/dna_vault.dm
Labels: Fix

#12760 Fixes AIs with the combat module not being able to hack APCs
  code/modules/power/apc.dm
Labels: Fix

#12765 Cult Hotfix - Comments out Off_Station role check
  code/game/gamemodes/cult/cult.dm
Labels: Fix

#12773 Restricts revive on a particular mob type
  code/modules/mob/living/simple_animal/hostile/headslug.dm
Labels: Fix

#12767 Traitor clown fixes
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix

#12775 Updates links for new domain
  config/example/motd.txt
  config/example/rules.html
  goon/browserassets/js/browserOutput.js
  html/templates/header.html
Labels: Fix, Grammar and Formatting

#12772 Fixes the null pointer in get_malf_status, refactors the proc to use enums
  code/modules/power/apc.dm
Labels: Fix

#12788 Fixes headcrabs getting stuck attacking corpses
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Fix

#12794 Universal Object Damage fixes.
  code/game/machinery/recycler.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
Labels: Fix

#12796 Fix minor spelling error in surgery
  code/modules/surgery/generic.dm
Labels: Grammar and Formatting

#12798 Move the handle_changeling proc call to the (new) life signal
  code/__DEFINES/components.dm
  code/game/gamemodes/changeling/evolution_menu.dm
  code/modules/mob/living/carbon/life.dm
Labels: Refactor

#12799 Fixes the construct reflect and refactors the reflect code doing it
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/projectiles/projectile.dm
Labels: Fix, Refactor

#12800 Changes the spray bottle in the full janitor belt to one with space cleaner in it
  code/game/objects/items/weapons/storage/belt.dm
Labels: Fix

#12803 Republish - make 513 compile
  code/__DEFINES/misc.dm
  code/__HELPERS/lists.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/plane_master.dm
Labels: Refactor

#12748 Adds examine text for people who have open surgical incisions
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/surgery/organs/organ_external.dm
Labels: User Interface

#12722 Adds a cancel button to the wizard teleport spell popup menu
  code/datums/spells/area_teleport.dm
Labels: Tweak

#12733 Clean up for changes in PR #10861
  code/modules/events/sentience.dm
Labels: Refactor

#12728 Changes the spray bottle admin attack log messages
  code/modules/reagents/reagent_containers/spray.dm
Labels: Administration

#12793 Racial Loadout Items Placement Fix
  code/modules/client/preference/loadout/loadout_racial.dm
Labels: User Interface

#12711 Chemistry bag QoL improvement
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Feature, Refactor

#12805 Disables floor cluwne random event
  code/modules/events/event_container.dm
Labels: Balance, Fix

#12702 Announces why shuttle is called on abductor victory
  code/game/gamemodes/miniantags/abduction/abduction.dm
Labels: Grammar and Formatting

#12718 Waterbreath Trait, Snowflake Removal
  code/__HELPERS/traits.dm
  code/game/machinery/poolcontroller.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/slime.dm
Labels: Refactor

#12744 Getting cluwned ignores species brain damage modifiers
  code/datums/spells/cluwne.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Balance, Tweak

#12735 Improves Construct/Shade faction handling.
  code/game/gamemodes/wizard/soulstone.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/shade.dm
Labels: Fix

#12708 Corpses on the shuttle no longer prevent hijack greentext.
  code/modules/shuttle/emergency.dm
Labels: Fix

#12731 Rolls of Gauze and Ointments now heal 10 brute or burn respectively.
  code/game/objects/items/stacks/medical.dm
Labels: Feature

#12811 Domain link updates 2
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  code/controllers/subsystem/jobs.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/objects/items/weapons/manuals.dm
  code/modules/mob/living/simple_animal/hostile/hellhound.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/black.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/empress.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/gray.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/green.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/mother.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/princess.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/purple.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/red.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/white.dm
  html/changelog.html
Labels: Grammar and Formatting

#12697 Fix odysseus syringes breaking when flying beyond max range.
  code/game/mecha/equipment/tools/medical_tools.dm
Labels: Fix

#12783 Tweaks to admin freeze and sleeping
  code/modules/admin/verbs/freeze.dm
  code/modules/mob/living/status_procs.dm
Labels: Administration, Fix

#12812 Fixes all of the projectiles firing north
  code/modules/projectiles/projectile.dm
Labels: Fix

#12745 Adds vox-themed plushie.
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
Labels: Feature, Sprites

#12743 Added Pylon healing to Wizards
  code/game/gamemodes/cult/cult_structures.dm
Labels: Balance

#12692 Improves AI voice announcement logging; adds an admin message for it in-game
  code/modules/mob/living/silicon/ai/say.dm
Labels: Administration

#12763 Massive Clown Nerfs - Unbuckle time while restrained is now equal to breakout time.
  code/modules/mob/living/carbon/carbon.dm
Labels: Balance, Fix, Refactor

#12839 Fixes monkey cubes spawning humanized monkeys and causing runtimes
  code/modules/food_and_drinks/food/foods/meat.dm
Labels: Fix

#12832 Restores corgi's and other dog's ability to perform audible emotes like barking
  code/modules/mob/living/simple_animal/friendly/dog.dm
Labels: Fix

#12844 Revert "Move the handle_changeling proc call to the (new) life signal"
  code/__DEFINES/components.dm
  code/game/gamemodes/changeling/evolution_menu.dm
  code/modules/mob/living/carbon/life.dm
Labels: Revert/Feature Removal
