Repository ParadiseSS13/Paradise, pull requests merged in 2019-02, with the labels that each got.

#10792 Adds dont_save flag to mobs
  code/modules/mob/mob_defines.dm
Labels: Fix, Tweak

#10761 Refactors agent ID phototaking, misc ID fixes/improvements
  code/datums/datacore.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/mob_helpers.dm
Labels: Refactor, Tweak

#10759 Wingdings now garble sentences
  code/game/dna/genes/disabilities.dm
Labels: Feature, Tweak

#10785 Darkmode fixes
  code/modules/client/client procs.dm
  code/modules/client/preference/preferences_mysql.dm
  interface/interface.dm
Labels: Fix, Tweak

#10796 Repaths sexy clown stuff to be subtypes of the existing clown items
  _maps/map_files/templates/spacehotel/s_01.dmm
  _maps/map_files/templates/spacehotel/s_02.dmm
  code/game/jobs/job/support.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/verbs/honksquad.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/miscellaneous.dm
Labels: Refactor

#10793 Adds Pack of C-4 Explosives
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Feature

#10754 Reroutes all Atmos pipes (Scrubbers / Supply)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit

#10804 Fixes #10803, separates distro from scrubber loop
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit

#10805 Non-breathing mobs no longer cause an increase in germ level by not wearing a mask.
  code/modules/surgery/surgery.dm
Labels: Fix

#10802 Updates player playtime report
  code/__DEFINES/preferences.dm
  code/__HELPERS/game.dm
  code/game/jobs/job_exp.dm
  code/modules/admin/admin.dm
Labels: Administration, Fix

#10798 Fixed mob spawner menu, this time for real
  code/datums/spawners_menu.dm
  code/modules/nano/interaction/ghost.dm
  paradise.dme
Labels: Fix, Refactor

#10778 Mobs on help intent no longer push structures or mobs that are pulling structures
  code/__DEFINES/is_helpers.dm
  code/game/atoms_movable.dm
  code/modules/mob/living/living.dm
Labels: Tweak

#10806 Changes APC subtype/newscaster (Z6)
  _maps/map_files/cyberiad/z6.dmm
Labels: Map Edit, Multi-PR Contribution, Tweak

#10814 Fixes #10810
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit

#10813 Skittles Fluff Item--Kiachi
  code/modules/customitems/item_defines.dm
  icons/mob/head.dmi
  icons/mob/inhands/fluff_lefthand.dmi
  icons/mob/inhands/fluff_righthand.dmi
  icons/mob/species/vox/mask.dmi
  icons/mob/species/vox/uniform.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10823 Atmos
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit Without Pics

#10824 fixes slime emote runtime
  code/modules/mob/living/carbon/slime/emote.dm
Labels: Fix

#10826 Makes vortex chems check for moveresist
  code/modules/reagents/chemistry/recipes.dm
Labels: Fix

#10837 Fluff Trenchcoat
  code/modules/customitems/item_defines.dm
  icons/mob/suit.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10839 Makes cult shackles dissapear when removed
  code/game/gamemodes/cult/talisman.dm
Labels: Fix

#10843 Fixes drone death
  code/modules/mob/living/silicon/robot/drone/drone.dm
Labels: Fix

#10831 Tweaks some food descriptions/casing.
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/drinks/drinks/cans.dm
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/food_and_drinks/food/foods/ethnic.dm
  code/modules/food_and_drinks/food/foods/ingredients.dm
  code/modules/food_and_drinks/food/foods/junkfood.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/food/foods/misc.dm
  code/modules/food_and_drinks/food/foods/pasta.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
  code/modules/food_and_drinks/food/foods/sandwiches.dm
  code/modules/food_and_drinks/food/foods/seafood.dm
  code/modules/food_and_drinks/food/foods/side_dishes.dm
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/food/snacks.dm
Labels: Grammar and Formatting, Tweak

#10833 Removes age-based weighting for head/captain job selection
  code/game/jobs/job_controller.dm
Labels: Balance, Tweak

#10850 Fox Fluff Item Coat
  code/modules/customitems/item_defines.dm
  icons/mob/suit.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10781 Added a configuration option for disabling subsystems by name
  code/controllers/configuration.dm
  code/controllers/master.dm
  config/example/config.txt
Labels: Configuration Change

#10740 Discord linking and roundstart notifications!
  SQL/paradise_schema.sql
  SQL/paradise_schema_prefixed.sql
  SQL/updates/4-5.sql
  code/__DEFINES/misc.dm
  code/modules/discord/accountlink.dm
  code/modules/discord/notify.dm
  code/modules/ext_scripts/irc.dm
  config/example/dbconfig.txt
  paradise.dme
Labels: SQL Change, Tweak

#10852 Runemed fluff (sorta)
  code/modules/customitems/item_defines.dm
  icons/mob/suit.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10857 Revert "Added a configuration option for disabling subsystems by name"
  code/controllers/configuration.dm
  code/controllers/master.dm
  config/example/config.txt
Labels: Fix, High Priority, Revert/Feature Removal

#10838 Reduces Defib Safe Time: Adds Health HUD Defib Indicator
  code/__DEFINES/misc.dm
  code/game/data_huds.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/defib.dm
  code/modules/mob/living/death.dm
  icons/mob/hud.dmi
Labels: Balance, Feature

#10842 Changeling headslug dead sprite changes
  icons/mob/mob.dmi
Labels: Sprites

#10858 Fixes discord notify
  code/__HELPERS/text.dm
  code/modules/ext_scripts/irc.dm
Labels: Multi-PR Contribution, Tweak

#10863 No more pushing singulos
  code/modules/power/singularity/singularity.dm
Labels: Fix

#10865 Going to sleep with a reviver no longer heals you
  code/modules/surgery/organs/augments_internal.dm
Labels: Fix

#10849 Allows Leather Satchel Strap Switching
  code/game/objects/items/weapons/storage/backpack.dm
  icons/mob/back.dmi
  icons/obj/storage.dmi
Labels: Feature, Sprites

#10854 Adds new space ruin, crashed wizard shuttle
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  code/datums/ruins/space.dm
  code/modules/awaymissions/mission_code/ruins/wizardcrash.dm
  paradise.dme
Labels: Map Edit

#10875 Fixes adminwho breaking
  code/modules/discord/accountlink.dm
Labels: Fix

#10855 Pulls Back Some Medical Powercreep
  code/game/machinery/Sleeper.dm
  code/game/machinery/cryo.dm
Labels: Balance

#10878 Add Shesi's fluff coat
  code/modules/customitems/item_defines.dm
  icons/mob/suit.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10818 Port Mineral golems and Free Golems
  _maps/map_files/cyberiad/z2.dmm
  _maps/map_files/cyberiad/z3.dmm
  _maps/map_files/cyberiad/z6.dmm
  _maps/map_files/generic/z5.dmm
  code/__DEFINES/gamemode.dm
  code/_globalvars/lists/names.dm
  code/_globalvars/lists/objects.dm
  code/controllers/configuration.dm
  code/game/area/Space Station 13 areas.dm
  code/game/gamemodes/blob/blob.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/wizard/wizard.dm
  code/game/jobs/access.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/oldstation.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/mining/equipment_locker.dm
  code/modules/mining/mine_areas.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/research.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/shuttle/shuttle.dm
  code/modules/surgery/organs/vocal_cords.dm
  config/example/config.txt
  config/names/golem.txt
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  icons/obj/items.dmi
  icons/obj/surgery.dmi
  paradise.dme
Labels: Feature

#10827 Removes several round-start disabilities, adds chav.
  code/__DEFINES/genetics.dm
  code/game/jobs/job/job.dm
  code/modules/client/preference/preferences.dm
Labels: Balance, Revert/Feature Removal, SQL Change, Tweak

#10872 Refactors changelog button
  code/modules/client/client procs.dm
  code/modules/client/preference/preferences_mysql.dm
  interface/interface.dm
Labels: Fix, Refactor, User Interface

#10868 Adds an admin panel to force unlink discord accounts
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
Labels: Administration

#10880 Add check for spawnability to golems/old station spawners
  code/modules/awaymissions/corpse.dm
Labels: Fix

#10883 Hires spellcheckers for NT's contract
  code/modules/paperwork/contract.dm
Labels: Grammar and Formatting

#10864 Removes the nightvision from xray
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Balance, Tweak

#10847 Terror Spider Update (pink terrors, spiderling AI, green spiders, etc)
  code/modules/events/spider_terror.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/__defines.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/actions.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/black.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/brown.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/empress.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/gray.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/green.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/mother.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/princess.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/purple.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/red.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/reproduction.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_ai.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/white.dm
  code/modules/surgery/organs/parasites.dm
  icons/mob/terrorspider.dmi
  paradise.dme
Labels: Feature, Sprites

#10884 Add greey's fluff duffelbag
  code/modules/customitems/item_defines.dm
  icons/mob/back.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#10873 Staff/wand of door opens lockers
  code/modules/projectiles/projectile/magic.dm
Labels: Balance, Tweak

#10894 Made lighter size consistent
  code/game/objects/items/weapons/lighters.dm
Labels: Fix

#10895 Adds jestosterone to standard reagents list
  code/_globalvars/lists/reagents.dm
Labels: Refactor

#10861 Sentience event changes.
  code/modules/events/sentience.dm
Labels: Tweak

#10869 Fixes a bug with Surplus Crates & Adds in Super Surplus Crates
  code/datums/uplink_item.dm
Labels: Feature, Fix

#10877 Remove HOP access from NT rep, Magistrate
  code/game/jobs/job/supervisor.dm
Labels: Balance, Tweak

#10879 Prevent ERT/Abductors/Traders/etc from stealing dat disk
  code/game/area/Space Station 13 areas.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/modules/admin/verbs/striketeam.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
Labels: Fix, Tweak

#10887 Changes IV drip crate access to Medical
  code/datums/supplypacks.dm
Labels: Tweak

#10904 Robobrain suicide fix
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/death.dm
  code/modules/mob/living/carbon/brain/robotic_brain.dm
Labels: Fix, Refactor

#10882 Redundent cult convert checks
  code/game/gamemodes/cult/runes.dm
Labels: Fix

#10903 Removes some special cases for the chaplains religion
  code/game/jobs/job/support_chaplain.dm
Labels: Administration

#10897 Donksoft's new product - The Donksoft Sniper Rifle - Purchase Now! (Ages 8 and up)
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/guns/projectile/toy.dm
  code/modules/projectiles/projectile/reusable.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/ammo.dmi
  icons/obj/guns/toy.dmi
Labels: Feature

#10750 General Griefsky
  code/modules/crafting/recipes.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  icons/obj/aibots.dmi
  paradise.dme
  sound/effects/spinsabre.ogg
Labels: Feature

#10898 Booze/Soda Dispenser Changes.
  code/datums/supplypacks.dm
  code/game/machinery/constructable_frame.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/drinks.dm
Labels: Feature, Refactor

#10914 Donksniper Fix.
  code/modules/projectiles/ammunition/ammo_casings.dm
  icons/obj/ammo.dmi
Labels: Fix

#10915 Update to discord link alert text
  code/modules/discord/accountlink.dm
Labels: Tweak

#10901 AI's Wipe Core now properly ghosts the player
  code/modules/mob/living/silicon/ai/latejoin.dm
Labels: Fix

#10916 fix secbots construction names
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
Labels: Fix

#10920 Changes to Aurora Caelus title header when event is ending
  code/modules/events/aurora_caelus.dm
Labels: Grammar and Formatting

#10891 Using a multitool on a conveyor lever no longer opens a menu
  code/modules/recycling/conveyor2.dm
Labels: Refactor

#10913 Prevent objectives from targeting offstation roles
  code/__DEFINES/gamemode.dm
  code/datums/mind.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/objective.dm
  code/game/jobs/job/central.dm
  code/game/jobs/job/syndicate.dm
  code/modules/admin/verbs/gimmick_team.dm
  code/modules/admin/verbs/honksquad.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/striketeam.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/events/traders.dm
Labels: Fix

#10928 Allow antag clown to toggle clumsy
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/devil/game_mode.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/jobs/job/support.dm
Labels: Feature

#10919 Adds Compact Sniper Rifle to Uplink
  code/datums/uplink_item.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: Feature

#10923 Prevent golems from using telescience consoles
  code/modules/telesci/telesci_computer.dm
Labels: Balance

#10925 Fixes Blindness Mutation Not Working
  code/game/dna/genes/disabilities.dm
Labels: Fix

#10870 Allow nuclear operatives to upload their mind into spawned cyborgs
  code/modules/antagonists/_common/antag_spawner.dm
Labels: Feature

#10936 Adds Stable Mutagen
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
  code/modules/surgery/organs/blood.dm
Labels: Feature

#10932 Adds Blueshield Beret to Ian clothing
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  icons/mob/corgi_back.dmi
  icons/mob/corgi_head.dmi
Labels: Feature

#10938 Adds "voice" option to magic mirror
  code/game/objects/structures/mirror.dm
Labels: Feature

#10941 Re-Balances Virology
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/presets.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/datums/diseases/advance/symptoms/stimulant.dm
  code/datums/diseases/advance/symptoms/vision.dm
  code/datums/diseases/advance/symptoms/weight.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  paradise.dme
Labels: Balance

#10946 Capulettium Tweak
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Tweak

#10944 Terror spider princess and white update
  code/modules/events/spider_terror.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/chem.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/princess.dm
  code/modules/surgery/organs/parasites.dm
Labels: Feature, Tweak

#10885 Free Golems tweaks
  _maps/map_files/cyberiad/z3.dmm
  code/game/objects/items/stacks/tiles/tile_mineral.dm
  code/game/turfs/simulated/floor/mineral.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
  code/modules/mining/equipment_locker.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/robotic_brain.dm
Labels: Tweak

#10950 Mutagen Fix
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Fix

#10911 Beepsky now uses do after
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix

#10947 Adds Upgraded Cybernetic Heart
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  icons/obj/surgery.dmi
Labels: Feature

#10892 New cookies recipe (previous one was a bit silly)
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  code/modules/food_and_drinks/food/foods/ingredients.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  code/modules/reagents/chemistry/recipes/food.dm
  icons/obj/food/food_ingredients.dmi
  icons/obj/kitchen.dmi
Labels: Feature

#10890 Flavor Update
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/drink_base.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
  code/modules/reagents/chemistry/reagents/drinks.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Feature

#10836 Revives Shuttle Navigation Computers to all syndicate shuttles + Vox/ERT
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/shuttle.dm
  code/__HELPERS/maths.dm
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/shuttles.dm
  code/game/machinery/computer/computer.dm
  code/modules/shuttle/ert.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttle_rotate.dm
  code/modules/shuttle/syndicate.dm
  code/modules/shuttle/vox.dm
  code/modules/space_management/space_level.dm
  icons/obj/computer.dmi
  paradise.dme
Labels: Feature, Map Edit, Port

#10929 Robotic l/r arms bots
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Refactor, UPDATE NEEDED

#10957 Fixes #10952 - broken SE block injectors
  code/game/objects/items/weapons/dna_injector.dm
Labels: Fix

#10962 Fixes Stacks--Again
  code/game/objects/items/stacks/stack.dm
Labels: Fix, High Priority
