Repository ParadiseSS13/Paradise, pull requests merged in 2019-11, with the labels that each got.

#12720 Singulo can now expand when placed directly by containment wall.
  code/modules/power/singularity/singularity.dm
Labels: Tweak

#12600 List SSDs and AFKs panel fix; Global objectives list fix
  code/game/gamemodes/objective.dm
  code/game/machinery/cryopod.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/mob_helpers.dm
Labels: Fix

#12596 Vox Softsuits
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void.dm
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
Labels: Sprites, Tweak

#12577 Prevent offstation roles from being converted
  code/game/gamemodes/cult/cult.dm
Labels: Balance

#12571 Rite of Offering - Refactors Convert and Sacrifice into one rune, fixes Sacrifice bugs.
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/wizard/soulstone.dm
Labels: Tweak

#12725 Fixes blobbernaut vision never clearing
  code/game/gamemodes/blob/blobs/blob_mobs.dm
Labels: Fix

#12751 fixes ticket system bug
  code/controllers/subsystem/tickets/tickets.dm
Labels: Administration, Fix

#12747 Admin Roles no longer appear on manifest and Central Command PDAs are hidden on the messenger.
  code/modules/mob/new_player/new_player.dm
  code/modules/pda/pdas.dm
Labels: Fix

#12740 Traitor Special Role Fix
  code/__DEFINES/role_preferences.dm
  code/game/gamemodes/autotraitor/autotraitor.dm
  code/game/gamemodes/traitor/traitor.dm
  code/modules/antagonists/traitor/datum_mindslave.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix

#12717 Fix prisoner implant z-level checking.
  code/game/machinery/computer/prisoner.dm
  code/game/objects/items/weapons/teleportation.dm
Labels: Fix
