Repository ParadiseSS13/Paradise, pull requests merged in 2019-04, with the labels that each got.

#11192 Fixes Runtime with Multi Tile Airlocks
  code/game/machinery/doors/airlock_types.dm
Labels: Fix

#11193 Fixes Medical and Syndicate Borg Lacking Handheld Defibs
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix

#11188 Timer Subsystem Update
  code/controllers/subsystem/timer.dm
Labels: Fix, Refactor

#11159 Changes Gamma and Epsilon security level sounds
  code/modules/security_levels/security levels.dm
  sound/effects/new_siren.ogg
Labels: Sound

#11158 Makes Delayed Gibbing a Proc
  code/datums/diseases/gbs.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Feature, Refactor

#11153 Spontaneous combustion now has a minimal stack of 1 it applies
  code/datums/diseases/advance/symptoms/fire.dm
Labels: Fix

#11139 Adds a restraint on the casting of the bluespace golem teleport
  code/modules/mob/living/carbon/human/species/golem.dm
Labels: Fix

#11202 Fixes AI's ability to toggle floor bolts
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#11169 Blob QoL Update and Rebalance
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/overmind.dm
  code/datums/mind.dm
  code/game/gamemodes/blob/blob.dm
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/game/gamemodes/blob/blobs/core.dm
  code/game/gamemodes/blob/blobs/factory.dm
  code/game/gamemodes/blob/blobs/node.dm
  code/game/gamemodes/blob/blobs/resource.dm
  code/game/gamemodes/blob/blobs/shield.dm
  code/game/gamemodes/blob/blobs/storage.dm
  code/game/gamemodes/blob/overmind.dm
  code/game/gamemodes/blob/powers.dm
  code/game/gamemodes/blob/theblob.dm
  code/modules/admin/player_panel.dm
  code/modules/events/blob.dm
  code/modules/reagents/chemistry/reagents/blob.dm
  icons/mob/blob.dmi
Labels: Balance

#11165 Resolve some issues that the compiler doesn't spot
  code/__HELPERS/icons.dm
  code/__HELPERS/unsorted.dm
  code/controllers/configuration.dm
  code/game/area/areas.dm
  code/game/machinery/computer/depot.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/empulse.dm
  code/game/objects/explosion.dm
  code/game/objects/structures/safe.dm
  code/modules/admin/admin.dm
  code/modules/buildmode/submodes/link.dm
  code/modules/examine/examine.dm
  code/modules/flufftext/TextFilters.dm
  code/modules/mob/living/carbon/brain/robotic_brain.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs.dm
  code/modules/mob/mob.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/shuttle/shuttle.dm
  config/example/config.txt
Labels: Fix

#11117 Fixes some antidrop edge cases and can't give items to resting people now
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/give.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/living.dm
Labels: Fix

#11136 Makes the Master Controller Actually Shutdown
  code/game/world.dm
Labels: Fix

#11186 Fixes Sound
  code/game/sound.dm
Labels: Fix, High Priority, Performance

#11197 Tweaks to the Antagonist sound themes
  code/datums/mind.dm
  code/game/gamemodes/autotraitor/autotraitor.dm
  code/game/gamemodes/cult/cult.dm
Labels: Sound

#11198 OHHHH SHITTTT ANTTTSSS
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/misc.dm
  code/game/objects/effects/effects.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/goonstation/effects/effects.dmi
Labels: Feature, Refactor

#11199 Fixes Bees
  code/datums/supplypacks.dm
  code/modules/hydroponics/beekeeping/beebox.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Bug, Feature, Fix, Grammar and Formatting, Performance

#11177 Makes "Start Now"'s confirmation meaningful
  code/controllers/configuration.dm
  code/modules/admin/admin.dm
  config/example/config.txt
Labels: Administration, Configuration Change

#11170 Adds Trick Revolver
  code/datums/uplink_item.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  code/game/objects/items/toys.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/examine/descriptions/weapons.dm
Labels: Administration, Feature, Refactor

#11168 Updates Vox-Fitted Blindfold, Adds Taj Veil Sprites & Removes Stray Pixel
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  icons/mob/species/vox/eyes.dmi
  icons/mob/species/vox/mask.dmi
Labels: Sprites

#11156 Wrapping big objects and welding lockers now takes time
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Balance

#11126 Adds Medical Beamgun to a Syndicate Medical Cyborg
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/projectiles/guns/medbeam.dm
Labels: Feature

#11190 Flash Powder, Sonic Powder, and Flashbang Refactor
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Feature, Fix, Refactor

#11163 Department head jobs now require playtime in that department
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job_exp.dm
Labels: Administration

#11164 Blobbernaut 2
  code/game/gamemodes/blob/blobs/blob_mobs.dm
Labels: Balance, Revert/Feature Removal

#11213 Spacehotel minor fix
  _maps/map_files/RandomZLevels/spacehotel.dmm
Labels: Fix

#11179 Adds super cool powerloss sound to grid check event
  code/modules/events/grid_check.dm
  sound/effects/powerloss.ogg
Labels: Sound

#11215 Cleans up some Uplink code
  code/game/objects/items/devices/uplinks.dm
Labels: Fix

#11211 Fixes Some Species Having Oxy Damage
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/status_procs.dm
Labels: Fix

#11210 Fixes deathnettle not being able to be picked up
  code/modules/hydroponics/grown/nettle.dm
Labels: Fix

#11216 Fixes Mob Performance Issue
  code/modules/surgery/organs/blood.dm
Labels: Fix, High Priority, Performance

#11146 Auto processing doesn't clone people twice (or more)
  code/game/machinery/computer/cloning.dm
Labels: Fix

#11160 New Crit Balance Tweaks--Blobs and Stands
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Balance, Fix

#11081 Syndie Uplink changes (better interface, hijack-only firegrenades)
  code/datums/uplink_item.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/devices/uplinks.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  nano/templates/uplink.tmpl
Labels: Tweak, User Interface

#11140 Removes a unneeded dot from diamond statue names
  code/game/objects/structures/statues.dm
Labels: Grammar and Formatting

#11195 Fixes Sending Faxes Using Toner
  code/modules/paperwork/faxmachine.dm
Labels: Fix

#11237 Fixes Reagents Not Updating
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/paradise_pop.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Fix

#11222 Fixes Clonepods
  code/game/machinery/cloning.dm
Labels: Fix

#11223 Fixes Teslium Being Unmakeable
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Fix

#11239 Perps no longer need glasses to be set
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#10999 Tweaks Ghost Verb
  code/game/machinery/cryopod.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/mob_defines.dm
Labels: Feature

#11264 Fixes Russian Revolver
  code/game/objects/items/toys.dm
Labels: Fix

#11161 Terror Spider tweaks
  code/modules/admin/player_panel.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/empress.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/mother.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/surgery/organs/parasites.dm
  icons/mob/terrorspider64.dmi
Labels: Balance, Feature

#11182 Shadowling Glare ability rework [Second Version]
  code/game/gamemodes/shadowling/shadowling_abilities.dm
Labels: Balance

#11026 Gives the option to limit the text popups to 1
  code/__DEFINES/preferences.dm
  code/__HELPERS/text.dm
  code/game/verbs/ooc.dm
  code/modules/client/client defines.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/mob/typing_indicator.dm
Labels: Feature, User Interface

#11096 Guardian - Fixed and Improved
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/miniantags/guardian/types/bomb.dm
  code/game/gamemodes/miniantags/guardian/types/fire.dm
  code/game/gamemodes/miniantags/guardian/types/healer.dm
  code/game/gamemodes/miniantags/guardian/types/ranged.dm
  icons/mob/guardian.dmi
Labels: Balance, Feature, Fix, Tweak

#11011 Implement a Mhelp ticket system. Also fixes a bug in the old one
  code/__DEFINES/preferences.dm
  code/controllers/subsystem/tickets/mentor_tickets.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tickets/adminticketsverbs.dm
  code/modules/admin/tickets/mentorticketsverbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  paradise.dme
Labels: Feature, Fix, User Interface

#11225 Trick revolver comes in a box.
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Tweak

#11251 Vending Machine QOL and Destruction
  code/game/machinery/machinery.dm
  code/game/machinery/vending.dm
  code/game/objects/obj_defense.dm
Labels: Feature, Tweak

#11249 Updates and Buffs Power Gloves
  code/_onclick/click_override.dm
  code/modules/clothing/gloves/color.dm
Labels: Balance, Feature

#11246 Small law upload console tweak
  code/game/machinery/computer/law.dm
Labels: Tweak

#11244 Descriptions now show with a mouse hover over action buttons
  code/datums/action.dm
Labels: User Interface

#11240 Changes Dehydrated Space Carp TC cost from 3 to 2
  code/datums/uplink_item.dm
Labels: Balance

#11242 Hotkey mode handling is now instantaneous
  code/datums/helper_datums/hotkey_modes.dm
  code/modules/client/client defines.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/dead/observer/login.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/silicon/robot/login.dm
  code/modules/mob/login.dm
  interface/interface.dm
  interface/skin.dmf
  paradise.dme
Labels: User Interface

#11229 [Goonchem] Reagent tweaks
  code/game/objects/effects/effect_system/effects_foam.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/skeleton.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Balance

#11221 Shadowling Destroy Engines ability rework + changes to Shadowling End Round messages
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
Labels: Balance

#11265 Fixess Being Unable to Open Pill Bottles
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: Fix

#11266 Fix Hotkey Toggle button
  code/datums/helper_datums/hotkey_modes.dm
  code/modules/mob/living/silicon/robot/login.dm
  interface/interface.dm
  interface/skin.dmf
Labels: Fix

#11271 Adds missing vent in toxin mixing
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix

#11214 Shadowlings now have a slightly bigger colored text when speaking in the Shadowling Hivemind
  code/modules/mob/language.dm
Labels: Feature, User Interface

#11260 Fixes cult ghost suit sprites
  code/game/gamemodes/cult/cult_items.dm
Labels: Fix

#10327 Fixes and Updates CQC
  code/_onclick/item_attack.dm
  code/datums/uplink_item.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/modules/martial_arts/cqc.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living_defense.dm
Labels: Balance, Fix

#11253 Foamed metal fixes
  code/game/objects/effects/effect_system/effects_foam.dm
  icons/turf/floors/plating.dmi
Labels: Fix, Sprites

#11224 Adds higher quality version of title2.ogg music
  sound/music/title2.ogg
Labels: Port, Sound

#11217 Tweaks Reagent Bodytemp Interaction
  code/modules/reagents/chemistry/holder.dm
Labels: Tweak

#11277 Shield Blobs automatically spawned around Blob Cores now give no refund
  code/game/gamemodes/blob/blobs/core.dm
  code/game/gamemodes/blob/blobs/shield.dm
Labels: Exploit, Fix

#11230 Newcrit Death Tweak
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_stat.dm
Labels: Fix, Tweak

#11270 Lets nukies buy plasmagrenades again (and other hijack gear)
  code/datums/uplink_item.dm
Labels: Balance, Tweak

#11227 Minor Strange Reagent Tweaks
  code/game/machinery/cloning.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Tweak

#11257 The Nations Update Everyone Deserves!
  code/__DEFINES/gamemode.dm
  code/__DEFINES/hud.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/mobs.dm
  code/datums/hud.dm
  code/datums/mind.dm
  code/game/gamemodes/nations/nations.dm
  code/game/gamemodes/nations/nationsdatums.dm
  code/game/gamemodes/nations/nationsprocs.dm
  code/game/machinery/computer/aifixer.dm
  code/game/machinery/computer/law.dm
  code/game/machinery/computer/robot.dm
  code/game/objects/items/flag.dm
  code/modules/antagonists/_common/antag_hud.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/silicon.dm
  icons/mob/hud.dmi
  paradise.dme
Labels: Revert/Feature Removal

#11273 Adds Guardian phase in/out effect
  code/game/gamemodes/miniantags/guardian/guardian.dm
  icons/effects/effects.dmi
Labels: Feature

#11267 Shadowling Collective Mind ability now fully scales with required thralls threshold
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
Labels: Balance

#11286 Fixes flashbangs not flashing or banging
  code/game/objects/items/weapons/grenades/flashbang.dm
Labels: Fix

#11280 Adds suit-slot cosmetic mantles!
  code/game/machinery/vending.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature

#11282 Atmos Define Cleanup + Plasma Tweaks
  code/LINDA/LINDA_turf_tile.dm
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/math.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/game/machinery/cryo.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/space/space.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/spacesuits/ert.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/surgery/organs/blood.dm
Labels: Refactor, Tweak

#11279 Ghosts now orbit around their followed targets
  code/__DEFINES/misc.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Feature, Port

#11296 Fixes PM's when the client left going to another client
  code/modules/client/client procs.dm
Labels: Fix

#11294 Adds the missing </span> elements in the ticket messages
  code/controllers/subsystem/tickets/tickets.dm
Labels: Fix, User Interface

#11102 SSMapping
  code/controllers/master_controller.dm
  code/controllers/subsystem/mapping.dm
  paradise.dme
Labels: Refactor

#11301 Adds Striped Normal-height Socks & All the Undergarments for Vox
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  icons/mob/species/vox/underwear.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/underwear.dmi
Labels: LIKE COMMENT AND SUBSCRIBE FOR MORE VIDEOS, Literally Everybody Ded, Sprites

#11304 Remove infinite claw sharpening with whetstones
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items/weapons/whetstone.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Fix

#11231 Adds Tip of the round + Show Custom Tip admin verb + Give Random Tip OOC verb
  code/game/gamemodes/gameticker.dm
  code/game/verbs/randomtip.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  paradise.dme
  strings/sillytips.txt
  strings/tips.txt
Labels: Feature

#11298 Fixes bans not saving properly
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/topic.dm
Labels: Administration, Fix

#11297 Updates and Fixes Gas Overlays and Icy Floor Change
  code/LINDA/LINDA_turf_tile.dm
  code/_globalvars/misc.dm
  code/controllers/subsystem/air.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  icons/effects/tile_effects.dmi
Labels: Feature, Fix, Revert/Feature Removal, Sprites

#11288 Remaps Toxins
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/ATMOSPHERICS/components/binary_devices/pump.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
Labels: Map Edit

#11285 Refactors Electrocution
  code/_onclick/click_override.dm
  code/datums/spells/lightning.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/gamemodes/miniantags/guardian/types/lightning.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/machinery/alarm.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/machinery.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/holosign.dm
  code/modules/admin/topic.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
  code/modules/power/apc.dm
  code/modules/power/cable.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
  code/modules/power/power.dm
  code/modules/power/powernet.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/power/smes.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Balance, Fix, Refactor

#11287 Fixes and Updates Goats
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: Feature, Fix

#11305 It's Time
  code/game/objects/items/flag.dm
  code/modules/mob/living/simple_animal/pony.dm
  code/modules/mob/transform_procs.dm
  icons/mob/pony.dmi
  icons/obj/flag.dmi
  paradise.dme
Labels: Revert/Feature Removal

#11310 HOTFIX: Resolves an Undergarment-related Runtime, fixes #11309
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: Fix

#11259 Nuke Ops updates and buffs
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/__HELPERS/game.dm
  code/datums/mind.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
Labels: Balance

#11243 Makes the plasma cutter less shit
  code/modules/projectiles/projectile/special.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/designs/mining_designs.dm
Labels: Balance

#11313 Fixes the tape gag still being there. Invinsible
  code/modules/clothing/masks/miscellaneous.dm
Labels: Fix

#11320 Fixes shuttles leaving behind their propulsion
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/MetaStation/z2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict4.dmm
  _maps/map_files/RandomRuins/SpaceRuins/intactemptyship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/spacehotel.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  _maps/map_files/cyberiad/z3.dmm
  _maps/map_files/cyberiad/z6.dmm
  _maps/map_files/shuttles/cargo_base.dmm
  _maps/map_files/shuttles/emergency_bar.dmm
  _maps/map_files/shuttles/emergency_clown.dmm
  _maps/map_files/shuttles/emergency_cramped.dmm
  _maps/map_files/shuttles/emergency_cyb.dmm
  _maps/map_files/shuttles/emergency_dept.dmm
  _maps/map_files/shuttles/emergency_mil.dmm
  _maps/map_files/shuttles/emergency_narnar.dmm
  _maps/map_files/shuttles/emergency_old.dmm
  _maps/map_files/templates/medium_shuttle1.dmm
  _maps/map_files/templates/medium_shuttle2.dmm
  _maps/map_files/templates/medium_shuttle3.dmm
  _maps/map_files/templates/small_shuttle_1.dmm
Labels: Fix, Map Edit

#11317 Can't place runes in space anymore
  code/game/gamemodes/cult/ritual.dm
Labels: Fix

#11314 Fixes windoors not spawning electronics once deconstructed
  code/game/objects/structures/windoor_assembly.dm
Labels: Fix, Refactor

#11331 Adds cancel button to Wizard teleportation scrolls
  code/game/objects/items/weapons/scrolls.dm
Labels: Fix

#11339 AZERTY hotkey fix
  interface/skin.dmf
Labels: Fix

#11336 Switches some misplaced returns to continues
  code/modules/mob/living/carbon/human/life.dm
Labels: Fix

#11333 Toggling hardhat light on/off now correctly updates wearer's sprite
  code/modules/clothing/head/hardhat.dm
Labels: Fix

#11255 Safe refactor
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/safe.dm
  nano/templates/safe.tmpl
Labels: Refactor

#11350 Gives the orphans a home
  code/ATMOSPHERICS/components/binary_devices/dp_vent_pump.dm
  code/ATMOSPHERICS/components/binary_devices/passive_gate.dm
  code/ATMOSPHERICS/components/binary_devices/pump.dm
  code/ATMOSPHERICS/components/binary_devices/valve.dm
  code/ATMOSPHERICS/components/binary_devices/volume_pump.dm
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/ATMOSPHERICS/components/trinary_devices/tvalve.dm
  code/ATMOSPHERICS/components/unary_devices/outlet_injector.dm
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_scrubber.dm
  code/__DEFINES/radio.dm
  code/controllers/communications.dm
  code/controllers/subsystem/radio.dm
  code/controllers/subsystem/vote.dm
  code/controllers/verbs.dm
  code/datums/radio.dm
  code/defines/procs/radio.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/gameticker.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/meter.dm
  code/game/machinery/buttons.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/alarmlock.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/magnet.dm
  code/game/machinery/status_display.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/assembly/signaler.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/logic/logic_base.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/pda/cart_apps.dm
  code/modules/pda/radio.dm
  code/modules/power/singularity/emitter.dm
  code/modules/shuttle/supply.dm
  paradise.dme
Labels: Refactor

#11278 New Wizard spell - Summon Ghosts!
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/events/wizard/ghost.dm
  code/modules/mob/dead/observer/observer.dm
  paradise.dme
Labels: Feature, Port

#11283 Emote Refactor
  code/game/gamemodes/blob/overmind.dm
  code/game/gamemodes/miniantags/borer/borer.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/implants/implant_chem.dm
  code/game/objects/items/weapons/implants/implant_explosive.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/alien/humanoid/emote.dm
  code/modules/mob/living/carbon/alien/larva/emote.dm
  code/modules/mob/living/carbon/brain/emote.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/slime/emote.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/emote.dm
  code/modules/mob/living/silicon/pai/emote.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/simple_animal/bot/emote.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/diona.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/say.dm
  code/modules/reagents/chemistry/reagents.dm
  paradise.dme
Labels: Fix, Refactor

#11292 Refactors puke to make it less lag inducing
  code/game/atoms.dm
  code/game/gamemodes/miniantags/borer/borer.dm
  code/game/machinery/computer/arcade.dm
  code/modules/mining/equipment_locker.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/mob.dm
  code/modules/reagents/chemistry/reagents/food.dm
Labels: Refactor

#11355 Fixes unnecessary pAI warning for admins
  code/modules/mob/living/silicon/pai/recruit.dm
Labels: Fix

#11354 Improves unspawnable ERT alert
  code/modules/response_team/ert.dm
Labels: Fix, Refactor

#11329 Vampire glare is logged now
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: Administration

#11328 Admins can now see the mhelp tickets
  code/controllers/subsystem/tickets/mentor_tickets.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tickets/mentorticketsverbs.dm
Labels: Administration, Fix

#11332 Adds an option to grant Martial Arts via Var menu
  code/datums/datumvars.dm
  code/modules/mob/mob.dm
Labels: Administration

#11284 New Shadowling Ability - Null Charge! (replaces Drain Life)
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/modules/power/apc.dm
  icons/mob/actions/actions.dmi
Labels: Feature

#11360 SSevents & SSholiday
  code/__DEFINES/subsystems.dm
  code/__HELPERS/names.dm
  code/_globalvars/misc.dm
  code/controllers/Processes/event.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/holiday.dm
  code/controllers/verbs.dm
  code/game/gamemodes/gameticker.dm
  code/modules/events/event.dm
  code/modules/events/event_procs.dm
  code/modules/events/false_alarm.dm
  code/modules/holiday/holiday.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperbin.dm
  code/modules/station_goals/shield.dm
  paradise.dme
Labels: Refactor

#11300 Adds Observer HUD buttons + Refactor of some ghost verbs
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/modules/mob/dead/observer/observer.dm
  icons/mob/screen_ghost.dmi
  paradise.dme
Labels: Port, User Interface

#11362 Players in the lobby no longer see cult speak.
  code/game/gamemodes/cult/cult_comms.dm
Labels: Fix

#11361 SSalarms
  code/__DEFINES/subsystems.dm
  code/controllers/Processes/alarm.dm
  code/controllers/subsystem/alarm.dm
  code/controllers/verbs.dm
  code/game/area/areas.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/computer/atmos_alert.dm
  code/game/machinery/firealarm.dm
  code/modules/mob/living/silicon/subsystems.dm
  code/modules/modular_computers/file_system/programs/engineering/alarm.dm
  code/modules/nano/modules/alarm_monitor.dm
  code/modules/power/apc.dm
  paradise.dme
Labels: Refactor

#11367 fixed orange juice and doctordelight not working on ingestion
  code/modules/reagents/chemistry/reagents/drinks.dm
Labels: Fix

#11390 Fixes Multi-Blob
  code/modules/events/blob.dm
Labels: Fix

#11391 PM's work again
  code/__HELPERS/mobs.dm
  code/modules/admin/admin.dm
  code/modules/admin/player_panel.dm
  code/modules/client/client procs.dm
  code/modules/mob/login.dm
Labels: Fix

#11129 Adds Lumi's fluff vox suit
  code/modules/customitems/item_defines.dm
  icons/mob/inhands/fluff_lefthand.dmi
  icons/mob/inhands/fluff_righthand.dmi
  icons/mob/species/vox/uniform.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#11323 Makes NTTC use classes instead of colors
  code/game/machinery/telecomms/ntsl2.dm
Labels: Refactor

#11335 Dice will now roll when thrown
  code/game/objects/items/weapons/dice.dm
Labels: Feature

#11404 Fixes some edge cases for the popup limiting
  code/__HELPERS/text.dm
Labels: Fix

#11349 Adds bola throw sound, sets hitsound for all types of bolas
  code/game/objects/items/weapons/legcuffs.dm
  sound/weapons/bolathrow.ogg
Labels: Feature, Sound

#11353 Adds AntagHUD to everyone at the round end
  code/game/gamemodes/gameticker.dm
Labels: Feature

#11312 Makes the crit cure texts clearer
  code/datums/diseases/critical.dm
Labels: Tweak, User Interface

#11347 Working with stacks QoL update
  code/game/objects/items/stacks/stack.dm
Labels: Tweak

#11340 Unequip jumpsuits by clicking
  code/modules/clothing/clothing.dm
Labels: Tweak

#11338 Adds sound when adding or removing IDs from ID modification computers
  code/game/machinery/computer/card.dm
Labels: Feature, Sound

#11372 Pill Bottles are now printable in the Autolathe
  code/modules/research/designs/autolathe_designs.dm
Labels: Feature, Tweak

#11373 Adds multicolor pens to the Internal Affairs Office
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Feature, Map Edit

#11375 Puts beakers in your hand upon eject from chemistry machines
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
Labels: Feature

#11376 Cardboard can now be made in the Biogenerator
  code/modules/hydroponics/biogenerator.dm
  code/modules/research/designs/biogenerator_designs.dm
Labels: Feature

#11319 Adds Floorbot color variants
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  code/modules/crafting/recipes.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  icons/obj/aibots.dmi
Labels: Feature, Port, Refactor

#11334 Adds deathsound for Silicons
  code/modules/mob/living/silicon/death.dm
  code/modules/mob/living/silicon/silicon.dm
  sound/voice/borg_deathsound.ogg
Labels: Feature, Sound

#11378 Adds examine tooltips
  code/game/objects/items.dm
Labels: Feature, Port, User Interface

#11396 Small Ghost teleport verb refactor
  code/modules/mob/dead/observer/observer.dm
Labels: Fix, Refactor

#11395 IRC's and the like now get checked to be revived when their vital organs are in
  code/modules/surgery/organs/organ_internal.dm
Labels: Fix

#11299 Better SSD management
  code/_onclick/click.dm
  code/controllers/configuration.dm
  code/game/area/Space Station 13 areas.dm
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/mob.dm
  config/example/config.txt
Labels: Administration, Configuration Change

#11405 Remove an admin message when drones join
  code/modules/mob/living/silicon/robot/drone/drone.dm
Labels: Administration

#11414 pAI admin message fix
  code/modules/mob/living/silicon/pai/recruit.dm
Labels: Administration, Fix

#11351 Fixes pipe dispensers not working
  code/game/machinery/pipe/pipe_dispenser.dm
Labels: Fix

#11356 [s]fixes a couple exploits
  code/modules/paperwork/clipboard.dm
Labels: Exploit, Fix

#11389 Improves Hub Listing
  code/_globalvars/configuration.dm
  code/controllers/configuration.dm
  code/game/world.dm
  config/example/config.txt
Labels: Feature

#11348 Adds shortcuts for handling pumps, volume pumps, filters, and mixers + Ability to rename them with a pen
  code/ATMOSPHERICS/components/binary_devices/pump.dm
  code/ATMOSPHERICS/components/binary_devices/volume_pump.dm
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/ATMOSPHERICS/components/trinary_devices/mixer.dm
Labels: Feature, User Interface

#11393 TG Powernet Refactor
  code/_globalvars/lists/objects.dm
  code/_globalvars/misc.dm
  code/_globalvars/station.dm
  code/controllers/subsystem/machinery.dm
  code/game/machinery/computer/power.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/structures/grille.dm
  code/modules/admin/admin.dm
  code/modules/modular_computers/computers/item/computer_power.dm
  code/modules/modular_computers/file_system/programs/engineering/power_monitor.dm
  code/modules/modular_computers/hardware/recharger.dm
  code/modules/power/apc.dm
  code/modules/power/cable.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/power.dm
  code/modules/power/powernet.dm
  code/modules/power/singularity/collector.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/power/singularity/particle_accelerator/particle_emitter.dm
  code/modules/power/singularity/particle_accelerator/particle_power.dm
  code/modules/power/smes.dm
  code/modules/power/solar.dm
  code/modules/power/switch.dm
  code/modules/power/terminal.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/tracker.dm
  code/modules/power/treadmill.dm
  code/modules/power/turbine.dm
  paradise.dme
Labels: Balance, Port, Refactor, Tweak

#11381 Moves admin AI warning to ATKLOG_ALL
  code/_onclick/ai.dm
Labels: Administration

#11377 Allows you to easily replace tanks in canisters & pumps
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/atmoalter/pump.dm
Labels: Tweak, User Interface

#11397 Fire extinguisher cabinet QoL update
  code/game/objects/structures/extinguisher.dm
Labels: Tweak, User Interface

#11400 Adds new torch sprites + tweaks
  code/game/objects/items/devices/flashlight.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/lighting.dmi
Labels: Sprites

#11406 Blob cleanup update
  code/game/gamemodes/blob/blobs/factory.dm
  code/game/gamemodes/blob/blobs/resource.dm
  code/game/gamemodes/blob/powers.dm
  icons/mob/blob.dmi
Labels: Fix, Tweak

#11369 Circuit Boards now show their required components on examine
  code/game/machinery/computer/buildandrepair.dm
Labels: Tweak

#11370 Revenants now have randomly generated flavor names
  code/game/gamemodes/miniantags/revenant/revenant.dm
  strings/revenant_names.json
Labels: Tweak
