Repository ParadiseSS13/Paradise, pull requests merged in 2019-09, with the labels that each got.

#12138 Refactors Gloves of the North Star. Adds Gloves of Headpats
  code/game/machinery/vending.dm
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Feature, Refactor

#12144 The Most Important Refactor Ever
  code/game/atoms.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/mob/living/carbon/human/emote.dm
Labels: Code Improvement, Fix, High Priority, Refactor, oops

#12156 The AI and magistrate get bold text when the "louder command members" telecomms setting is on
  code/game/machinery/telecomms/ntsl2.dm
Labels: Tweak

#12177 Fixes Some Null Tastes and Fruit Wine
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seeds.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Fix, Refactor

#11888 [READY] Delta code alarm sound added
  code/modules/security_levels/security levels.dm
  sound/effects/deltaalarm.ogg
Labels: Feature

#12179 Fixes Who Knows How Many Runtimes
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#12174 Fixes ATM withdrawals
  code/modules/economy/ATM.dm
Labels: Fix

#12188 Fixes a word
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Fix, Grammar and Formatting

#12187 Fixes Fore Port Solars APC doesn't work
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit

#12191 Saves a Few Thousand Objects From Being Created
  code/game/machinery/vending.dm
Labels: Performance

#12190 Moves the admin "Shake" log to the actual waking up people part of the code
  code/modules/mob/living/carbon/carbon.dm
Labels: Administration, Fix

#12118 Add the Banana Touch and Mime Malaise wizard spells
  code/datums/diseases/pierrot_throat.dm
  code/datums/spells/banana_touch.dm
  code/datums/spells/mime_malaise.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/civilian.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
  paradise.dme
Labels: Feature

#12167 Fix blood stacking
  code/game/objects/effects/decals/cleanable.dm
Labels: Fix

#12195 Fixes Endless Deletes Overwhelming the GC
  code/modules/pda/PDA.dm
  code/modules/pda/cart.dm
  code/modules/pda/radio.dm
Labels: Fix, High Priority, Performance

#12168 Ashwalker Map Tweaks--Wooden Tools
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  code/modules/hydroponics/hydroitemdefines.dm
  icons/obj/items.dmi
Labels: Feature, Map Edit

#12198 Updates/Refactors Personal Crafting
  code/__DEFINES/crafting.dm
  code/__HELPERS/global_lists.dm
  code/datums/mind.dm
  code/game/objects/items/weapons/pneumaticCannon.dm
  code/modules/crafting/craft.dm
  code/modules/crafting/recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_table.dm
  code/modules/holiday/christmas.dm
  nano/templates/personal_crafting.tmpl
Labels: Refactor

#11535 [Ready for review] Romerol Virus, Zombies!
  code/__DEFINES/genetics.dm
  code/__DEFINES/is_helpers.dm
  code/_globalvars/lists/objects.dm
  code/datums/datumvars.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/zombies.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/shuttle/emergency.dm
  code/modules/zombie/items.dm
  code/modules/zombie/organs.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  icons/mob/human_races/r_def_zombie.dmi
  icons/mob/human_races/r_zombie.dmi
  paradise.dme
Labels: Feature, Port, Sprites

#12203 Fixes Romerol--Comments it Out Until Refactor
  code/datums/uplink_item.dm
  code/modules/mob/living/carbon/human/species/zombies.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/zombie/items.dm
  code/modules/zombie/organs.dm
Labels: Refactor, Revert/Feature Removal

#12204 Fixes Romerol Reagent Pathing
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/zombie/organs.dm
Labels: Fix

#12194 More Species Suits/Helmets
  code/modules/clothing/spacesuits/ert.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/bio.dm
  icons/mob/species/grey/helmet.dmi
  icons/mob/species/tajaran/head.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/head.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/mask.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vulpkanin/head.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/mask.dmi
  icons/mob/species/vulpkanin/suit.dmi
Labels: Sprites

#12197 Tweaks Space Carp Event: Improve Performance
  code/modules/events/carp_migration.dm
  code/modules/events/koi_mirgration.dm
Labels: Performance, Tweak

#12083 Multiple proposed changes to antag theft/document objectives
  code/game/gamemodes/steal_items.dm
  code/game/gamemodes/traitor/traitor.dm
Labels: Tweak

#12208 stops bloody footprints from stacking
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/decals/cleanable.dm
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Fix

#12212 Fixes a couple of item descriptions
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/vehicle/ambulance.dm
Labels: Grammar and Formatting

#12207 Revert "Middle Mouse button now toggles airlock safeties for AIs."
  code/_onclick/ai.dm
Labels: Tweak

#12117 Add a quick resolve button to mentor and adminhelp ticket
  code/controllers/subsystem/tickets/tickets.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
Labels: Administration

#12171 Welding a tile away now gives a new message
  code/game/turfs/simulated/floor/plating.dm
Labels: Feature

#12218 Headpat Gloves now use the same click speed modifier as the North Star gloves
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Tweak

#12199 Changes behavior of the malf AI's overload/override machine abilities
  code/datums/spell.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  icons/effects/overload_machine_target.dmi
  icons/effects/override_machine_target.dmi
Labels: Feature

#12219 Adds comments with the chance of winning at slots
  code/game/machinery/slotmachine.dm
Labels: Documentation

#12221 Fixes Pugs
  code/game/objects/structures/crates_lockers/crittercrate.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/transform_procs.dm
  code/modules/research/experimentor.dm
Labels: Fix

#12016 Karma purchase infinite loop fix
  code/modules/client/client procs.dm
Labels: Fix, SQL Change

#12220 Lavaland Update: Mechs and Scanners
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/working/ripley.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/mining/equipment/mineral_scanner.dm
  icons/effects/ore_visuals.dmi
Labels: Feature, Fix, Refactor

#12229 Sets Blood-Drunk Miner crusher trophy attack logs to all logs only
  code/datums/status_effects/buffs.dm
Labels: Administration

#12228 Zombie language is no longer selectable as a secondary language
  code/modules/mob/language.dm
Labels: Fix

#12230 Refactors Spawners/Tendrils
  code/__DEFINES/components.dm
  code/__DEFINES/flags.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/garbage.dm
  code/datums/components/spawner.dm
  code/game/objects/effects/effects.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/objects/structures/safe.dm
  code/game/objects/structures/spawner.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/armor.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/simple_animal/hostile/mining/necropolis_tendril.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/spawner.dm
  code/modules/ruins/lavalandruin_code/ash_walker_den.dm
  code/modules/ruins/lavalandruin_code/dead_ratvar.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
  code/modules/zombie/items.dm
  paradise.dme
Labels: Fix, Refactor

#12232 Fixes README.MD discord link
  README.md
Labels: Grammar and Formatting

#11853 Terror Spider Fixes & Tweaks
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/__defines.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/actions.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/empress.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/ghost.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/gray.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/hive.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/purple.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_ai.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/white.dm
  code/modules/surgery/organs/parasites.dm
  icons/mob/terrorspider.dmi
Labels: Fix, Tweak

#12224 Lavaland Update Part 2: Mobs
  code/__DEFINES/genetics.dm
  code/__DEFINES/misc.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
  code/modules/mob/living/simple_animal/hostile/hellhound.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/mob/living/simple_animal/hostile/mining/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining/goldgrub.dm
  code/modules/mob/living/simple_animal/hostile/mining/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining/gutlunch.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining/mining.dm
  code/modules/mob/living/simple_animal/hostile/mushroom.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/black.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/gray.dm
  code/modules/paperwork/contract.dm
  icons/mob/animal.dmi
  icons/mob/belt.dmi
  icons/mob/lavaland/64x64megafauna.dmi
  icons/mob/lavaland/96x96megafauna.dmi
  icons/mob/lavaland/dragon.dmi
  icons/mob/lavaland/hierophant.dmi
  icons/mob/lavaland/lavaland_monsters.dmi
  icons/mob/lavaland/watcher.dmi
  icons/obj/clothing/belts.dmi
Labels: Balance, Feature, Fix, Refactor, Sprites

#12226 Adds headpat gloves to arcade prizes
  code/game/machinery/vending.dm
  code/modules/arcade/prize_datums.dm
Labels: Tweak

#12111 Adds Taj Striped Tail Marking, Allows Tiny+Short Tails for Taj, Renames Vulp Tails
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/new_player/sprite_accessories/shared/shared_tail_markings.dm
  code/modules/mob/new_player/sprite_accessories/tajaran/tajaran_tail_markings.dm
  code/modules/mob/new_player/sprite_accessories/vulpkanin/vulpkanin_tail_markings.dm
  icons/mob/body_accessory.dmi
  icons/mob/sprite_accessories/shared/shared_tail_markings.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_tail_markings.dmi
  icons/mob/sprite_accessories/vulpkanin/vulpkanin_tail_markings.dmi
  paradise.dme
Labels: Feature, SQL Change, Sprites

#12227 Introduces local gps signals
  code/modules/telesci/gps.dm
Labels: Tweak

#12239 Fix Guardian Communication showing up to players in the lobby
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Fix

#12235 Changed CA to TP link in adminhelp
  code/__HELPERS/mobs.dm
  code/modules/admin/verbs/adminhelp.dm
Labels: Administration

#12236 Refactors Vending Machines and Fixes Restocking Exploit
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_animal_hospital.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  _maps/map_files/cyberiad/z4.dmm
  _maps/map_files/shuttles/emergency_bar.dmm
  _maps/map_files/shuttles/emergency_clown.dmm
  _maps/map_files/shuttles/emergency_cyb.dmm
  _maps/map_files/shuttles/emergency_dept.dmm
  _maps/map_files/shuttles/emergency_meta.dmm
  _maps/map_files/shuttles/emergency_mil.dmm
  _maps/map_files/shuttles/emergency_old.dmm
  _maps/map_files/templates/shelter_1.dmm
  _maps/map_files/templates/shelter_2.dmm
  code/_globalvars/unused.dm
  code/datums/supplypacks.dm
  code/datums/wires/vending.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/vending.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/misc.dm
  code/game/objects/items/weapons/vending_items.dm
  code/modules/mining/equipment/survival_pod.dm
  icons/obj/vending.dmi
  icons/obj/vending_restock.dmi
Labels: Feature, Fix, Map Edit, Refactor

#12247 Detect the Detecting Corgi Detective
  code/modules/customitems/item_defines.dm
Labels: Fix

#12249 The gravitational catapult no longer pushes ghosts when used
  code/game/mecha/equipment/tools/other_tools.dm
Labels: Fix

#12258 Ban evasion autoban
  goon/code/datums/browserOutput.dm
Labels: Administration

#12256 CA to TP on adminpm and prayers
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/pray.dm
Labels: Administration

#12240 Lavaland Update Part 3: Fixes Megafauna Spawning, Rivers, and Turfs
  code/__HELPERS/typelists.dm
  code/_globalvars/lists/misc.dm
  code/controllers/subsystem/mapping.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/arcade.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/minerals.dm
  code/game/turfs/simulated/river.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  paradise.dme
Labels: Fix, Performance, Refactor

#12241 Admin verb mega update
  code/controllers/subsystem/tickets/tickets.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tickets/adminticketsverbs.dm
  code/modules/admin/tickets/mentorticketsverbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/freeze.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Administration

#12242 Ports Frozen Status Effect
  code/datums/status_effects/gas.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/mining/basilisk.dm
  code/modules/mob/living/status_procs.dm
  code/modules/mob/living/update_status.dm
  icons/effects/freeze.dmi
  icons/mob/screen_alert.dmi
  paradise.dme
Labels: Feature

#12248 Fixes Some Tastes; Tweaks a Few
  code/_globalvars/lists/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/disease.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Fix, Tweak

#12261 Small Headcrab fix.
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Fix

#12259 Revert "Adds Auto-Note for Manual Bans"
  code/modules/admin/topic.dm
Labels: Administration

#12262 Fixes plasma cutter being able to eat an infinite amount of plasma
  code/modules/projectiles/guns/energy/special.dm
Labels: Fix

#12263 Remove normal subtype of wooden chair
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/example.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z6.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Fix, Refactor

#12250 Refactors Atmos Air Current Pushing
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_scrubber.dm
  code/LINDA/LINDA_turf_tile.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/machinery/machinery.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/effects/effects.dm
  code/game/objects/items.dm
  code/game/objects/items/documents.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/undead.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicle/ambulance.dm
Labels: Balance, Fix, Performance, Refactor

#12265 Fix really silly mistake
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/ruins/lavalandruin_code/fountain_hall.dm
Labels: Fix

#12255 Refactors Shards, Improved Light Replacer, Adds Plasmaspear
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/weapons/shards.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/lighting.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
Labels: Balance, Feature, Refactor

#12251 Port TG hitby refactor and logging of detonation of items by projectiles
  code/game/gamemodes/changeling/powers/mutations.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/customitems/item_defines.dm
  code/modules/martial_arts/martial.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/guns/magic/staff.dm
Labels: Administration, Refactor

#12277 Removes Real Armor from Autodrobe
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/clothing/head/helmet.dm
Labels: Balance

#12282 fix hotkey help button
  interface/skin.dmf
Labels: Fix

#12281 Nerfs Miners
  code/game/machinery/vending.dm
  code/modules/mining/equipment/survival_pod.dm
Labels: Fix

#12287 Fixes 'Name' design in R&D console
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#12237 Add a config option for making gamemode ignore required players number
  code/controllers/configuration.dm
  code/game/gamemodes/game_mode.dm
  config/example/config.txt
Labels: Configuration Change

#12291 Hierophant Update
  code/datums/action.dm
  code/datums/ruins/lavaland.dm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  icons/effects/effects.dmi
  icons/mob/back.dmi
  icons/mob/inhands/64x64_lefthand.dmi
  icons/mob/inhands/64x64_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/lavaland/hierophant_new.dmi
  icons/obj/lavaland/artefacts.dmi
  icons/turf/floors/hierophant_floor.dmi
  icons/turf/walls/hierophant_wall.dmi
Labels: Feature

#12289 Stops SSDs from drowning in shallow water
  code/game/machinery/poolcontroller.dm
Labels: Tweak

#12285 Reduces attack log level of self-harm
  code/__HELPERS/mobs.dm
Labels: Administration

#12278 Being a blob now gives you a sound notification
  code/game/gamemodes/blob/blob.dm
Labels: Sound

#12292 Assassin Guardians no longer have Armor
  code/game/gamemodes/miniantags/guardian/types/assassin.dm
Labels: Balance

#12304 Fixes Tendrils Inside Ruins
  code/modules/awaymissions/zlevel.dm
Labels: Fix

#12307 Fixes Double-Bonking Light Replacer
  code/game/objects/items/devices/lightreplacer.dm
  code/modules/power/lighting.dm
Labels: Fix

#12295 Brig Timer Upgrades
  code/game/machinery/doors/brigdoors.dm
Labels: Feature

#12296 limit the amount of monkeys spawned from monkey cubes
  code/controllers/configuration.dm
  code/controllers/subsystem/mobs.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/living/carbon/human/species/zombies.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  config/example/game_options.txt
Labels: Administration, Configuration Change, Refactor, Tweak

#12313 Librarian Plasmaman helmet and Atmos hardsuit icon fixes
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/species/plasmaman/helmet.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
Labels: Fix, Sprites

#12321 Fixes Energy Shield Descriptions
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/shields.dm
Labels: Fix, Grammar and Formatting

#12293 Add an officer starter pack crate
  code/datums/supplypacks.dm
Labels: Feature

#12303 Dan's small sprite edits
  code/modules/customitems/item_defines.dm
  icons/mob/head.dmi
  icons/mob/inhands/equipment/instruments_lefthand.dmi
  icons/mob/inhands/equipment/instruments_righthand.dmi
  icons/mob/inhands/fluff_lefthand.dmi
  icons/mob/inhands/fluff_righthand.dmi
  icons/mob/sprite_accessories/human/human_hair.dmi
  icons/mob/suit.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item, Sprites

#12302 Lowers logging level of harmless chems/food
  code/__HELPERS/mobs.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/drink_base.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Administration

#12300 Fixes missing candles in the candle boxes around the station
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit

#12328 fix recycled monkeys not being removed from the cubemonkey list
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#12311 Small global midi improvements
  code/modules/admin/verbs/playsound.dm
Labels: Sound

#12298 Adminhelp update
  code/controllers/subsystem/tickets/tickets.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  sound/effects/adminticketopen.ogg
Labels: Administration

#12316 Wall repair fixes
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_reinforced.dm
Labels: Fix

#12318 Makes Wizards Twice As Cool
  code/modules/projectiles/guns/magic.dm
Labels: Fix

#11677 Depot Fixes & Tweaks
  _maps/map_files/cyberiad/z2.dmm
  _maps/map_files/cyberiad/z6.dmm
  code/game/area/areas/depot-areas.dm
  code/game/machinery/computer/depot.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/structures/false_walls.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/skeleton.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  icons/mob/animal.dmi
  icons/mob/simple_human.dmi
Labels: Feature, Map Edit, Sprites

#12320 Updates Status Effects: Fixes Blood Drunk Status Effect, Buffs Regen Core
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/neutral.dm
  code/datums/status_effects/status_effect.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/status_procs.dm
  icons/mob/screen_alert.dmi
Labels: Feature, Fix

#12183 Updated the netherworld creatures' sprites
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  icons/mob/animal.dmi
Labels: Sprites, Tweak

#12330 Adds man up to autoreply
  code/controllers/subsystem/tickets/tickets.dm
Labels: Administration

#12322 Updates Space Carp
  code/_globalvars/lists/names.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  icons/mob/carp.dmi
  strings/names/megacarp1.txt
  strings/names/megacarp2.txt
Labels: Feature, Sprites

#12323 thrown objects now phase through the thrower instead of hitting them
  code/controllers/subsystem/throwing.dm
  code/modules/mob/mob_movement.dm
Labels: Tweak

#12334 Second Most Important PR
  code/__DEFINES/math.dm
Labels: Fix, Grammar and Formatting

#12327 Crayon Fixes
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items/crayons.dm
Labels: Fix

#12332 Fixes Light Attack Cooldowns
  code/modules/power/lighting.dm
Labels: Fix

#12335 Minor autoreply fix
  code/controllers/subsystem/tickets/tickets.dm
Labels: Administration, Fix

#12325 Refactors Simple Mob Creation: Adjusts Which Mobs are Available
  code/__DEFINES/mobs.dm
  code/__HELPERS/mobs.dm
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/events/tear.dm
  code/modules/events/tear_honk.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mob/living/simple_animal/friendly/butterfly.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/cockroach.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/friendly/deer.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/penguin.dm
  code/modules/mob/living/simple_animal/friendly/sloth.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/creature.dm
  code/modules/mob/living/simple_animal/hostile/deathsquid.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hellhound.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/jungle_animals.dm
  code/modules/mob/living/simple_animal/hostile/killertomato.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/mining/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining/gutlunch.dm
  code/modules/mob/living/simple_animal/hostile/mining/mining.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/fish.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/undead.dm
  code/modules/mob/living/simple_animal/hostile/skeleton.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/winter_mobs.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  icons/mob/animal.dmi
  icons/mob/pets.dmi
Labels: Balance, Feature, Fix, Refactor

#12326 fixes some missing arguments and runtimes
  code/__DEFINES/colors.dm
  code/__DEFINES/misc.dm
  code/_onclick/hud/parallax.dm
  code/datums/spells/charge.dm
  code/game/gamemodes/devil/true_devil/_true_devil.dm
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
  code/game/objects/items/weapons/chrono_eraser.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/events/spacevine.dm
  code/modules/mob/living/carbon/alien/larva/inventory.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/slime/slime.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/surgery/organs/subtypes/standard.dm
Labels: Fix

#12340 Fixes mentorhelp issue with autoreply
  code/controllers/subsystem/tickets/tickets.dm
Labels: Administration, Fix

#12308 Changes station goal crate to engi crates
  code/datums/supplypacks.dm
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/station_goals/shield.dm
Labels: Tweak

#12348 Fixes message resolve in admin/mentorhelps
  code/modules/admin/verbs/adminhelp.dm
Labels: Administration, Fix

#12350 Autoreply confirmation alert logic fix
  code/controllers/subsystem/tickets/tickets.dm
Labels: Administration

#12260 Gives abductors an objective to stay hidden/limit crew disruption
  code/datums/mind.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
Labels: Tweak

#12357 Fixes Chaplain Plasma nullrod not spawning
  code/game/jobs/job/support_chaplain.dm
Labels: Fix

#12336 Adds Analyzer Examine Hint
  code/game/objects/items/devices/scanners.dm
Labels: User Interface

#12337 Can Move Dense Objects Around Corners
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/_onclick/other_mobs.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
Labels: Feature, Usability

#12339 Adds the Rhumba Outfit
  code/game/machinery/vending.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/drask/head.dmi
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/grey/head.dmi
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Feature, Sprites

#12341 Removes Unfinished VR
  _maps/map_files/vr/blood_and_sand.dmm
  _maps/map_files/vr/lobby.dmm
  _maps/test_all_maps.dm
  code/_globalvars/mapping.dm
  code/datums/helper_datums/map_template.dm
  code/datums/vr.dm
  code/datums/vr/level.dm
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/computer/vr_control.dm
  code/game/objects/effects/landmarks.dm
  code/modules/space_management/space_chunk.dm
  code/modules/vr/vr_avatar.dm
  code/modules/vr/vr_controller.dm
  code/modules/vr/vr_goggles.dm
  code/modules/vr/vr_outfits.dm
  paradise.dme
Labels: Revert/Feature Removal

#12342 The Ending of an Era. The Turning of the Page
  _maps/cyberiad.dm
  _maps/delta.dm
  _maps/map_files/generic/z5.dmm
  _maps/metastation.dm
  code/controllers/subsystem/mapping.dm
  code/game/asteroid.dm
  paradise.dme
Labels: Revert/Feature Removal

#12343 Vox Rework
  code/__DEFINES/genetics.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/subtypes/vox.dm
Labels: Balance

#12347 Syndie and Binary keys now use their own sprites
  code/game/objects/items/devices/radio/encryptionkey.dm
Labels: Fix, Sprites

#12353 Buffs the uplink syringe gun, it now comes with some syringes
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Tweak

#12346 Allows Pickable Species for Lavaland Ghost Roles
  code/modules/awaymissions/corpse.dm
  code/modules/ruins/lavalandruin_code/animal_hospital.dm
  code/modules/ruins/lavalandruin_code/hermit.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
Labels: Feature

#12355 Removes custom admin event info verbs
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/custom_event.dm
  code/modules/client/client procs.dm
Labels: Administration

#12333 Replace emergency toolbox in hermit ruin by regular
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
Labels: Map Edit

#12352 New headcrabs!
  code/modules/events/headcrabs.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
  icons/mob/headcrab.dmi
  sound/creatures/fast_zombie_idle1.ogg
  sound/creatures/fast_zombie_idle2.ogg
  sound/creatures/fast_zombie_idle3.ogg
  sound/creatures/ph_scream1.ogg
Labels: Feature, Tweak

#12358 Rebalances Golems, Refactors Species Based Equipping
  code/__DEFINES/genetics.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/monkey.dm
  code/datums/components/caltrop.dm
  code/game/dna/genes/monkey.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/shards.dm
  code/game/objects/objs.dm
  code/modules/assembly/mousetrap.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/crafting/craft.dm
  code/modules/hydroponics/grown/nettle.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/skeleton.dm
  code/modules/mob/living/carbon/human/species/zombies.dm
  code/modules/power/lighting.dm
  code/modules/surgery/organs/subtypes/unbreakable.dm
  paradise.dme
Labels: Balance, Feature, Fix, Refactor

#12370 Fixes Corpses Blocking Projectiles
  code/modules/mob/mob_movement.dm
Labels: Fix, High Priority

#12364 Mech id upload buttons
  code/game/mecha/mecha_topic.dm
Labels: Tweak, User Interface

#12371 Fixes nettle pickup
  code/modules/hydroponics/grown/nettle.dm
Labels: Fix

#11969 Datumizes traitors and mindslaves
  code/__DEFINES/role_preferences.dm
  code/datums/mind.dm
  code/game/gamemodes/autotraitor/autotraitor.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/machinery/cloning.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/implants/implant_traitor.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/traitor/datum_mindslave.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/power/apc.dm
  paradise.dme
Labels: Feature, Refactor

#12376 Revert "Datumizes traitors and mindslaves"
  code/__DEFINES/role_preferences.dm
  code/datums/mind.dm
  code/game/gamemodes/autotraitor/autotraitor.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/machinery/cloning.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/implants/implant_traitor.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/traitor/datum_mindslave.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/power/apc.dm
  paradise.dme
Labels: Revert/Feature Removal

#12374 minor glove refactor
  code/modules/clothing/gloves/color.dm
Labels: Refactor

#12380 less spooky doors
  code/game/machinery/doors/brigdoors.dm
Labels: Fix

#12387 Fix naked reincarnation
  code/modules/awaymissions/corpse.dm
Labels: Fix

#12379 Manual Changelog Compile 9/22/2019 Midnight
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-11969.yml
  html/changelogs/AutoChangeLog-pr-12364.yml
  html/changelogs/AutoChangeLog-pr-12370.yml
  html/changelogs/AutoChangeLog-pr-12371.yml
  html/changelogs/AutoChangeLog-pr-12374.yml
Labels: Documentation

#12373 Ghost HUD QoL change
  code/modules/mob/dead/observer/observer.dm
Labels: Tweak, User Interface

#12372 Fix clown changeling not losing comic sans on transform
  code/game/jobs/job/support.dm
Labels: Fix

#12375 TG Buckle Update
  code/ATMOSPHERICS/atmospherics.dm
  code/ATMOSPHERICS/pipes/pipe.dm
  code/ATMOSPHERICS/pipes/simple/pipe_simple_he.dm
  code/_onclick/hud/alert.dm
  code/datums/helper_datums/teleport.dm
  code/datums/spells/area_teleport.dm
  code/datums/spells/devil.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/miniantags/slaughter/bloodcrawl.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/buckling.dm
  code/game/objects/items/weapons/implants/implantchair.dm
  code/game/objects/items/weapons/scrolls.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/electricchair.dm
  code/game/objects/structures/guillotine.dm
  code/game/objects/structures/kitchen_spike.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/turfs/simulated/floor/lava.dm
  code/modules/awaymissions/gateway.dm
  code/modules/client/preference/preferences.dm
  code/modules/clothing/spacesuits/chronosuit.dm
  code/modules/clothing/suits/armor.dm
  code/modules/crafting/craft.dm
  code/modules/events/spacevine.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/login.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/slime/slime.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  code/modules/ruins/lavalandruin_code/fountain_hall.dm
  code/modules/shuttle/shuttle.dm
  code/modules/vehicle/ambulance.dm
  code/modules/vehicle/atv.dm
  code/modules/vehicle/janicart.dm
  code/modules/vehicle/motorcycle.dm
  code/modules/vehicle/speedbike.dm
  code/modules/vehicle/sportscar.dm
  code/modules/vehicle/vehicle.dm
  icons/mob/screen_alert.dmi
Labels: Refactor

#12377 Removes Bodyscanner Console
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/shuttles/admin_admin.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  code/__HELPERS/game.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/constructable_frame.dm
  code/modules/research/designs/machine_designs.dm
Labels: Map Edit, Tweak

#12397 Fixes incorrect uplink description for Traitor's Meat Cleaver
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/kitchen.dm
Labels: Fix, Grammar and Formatting

#12400 Fixes missing Tajaran fat torsos
  code/modules/food_and_drinks/food/foods/pasta.dm
  icons/mob/human_races/r_tajaran.dmi
  icons/mob/uniform_fat.dmi
Labels: Fix

#12402 Sword Shade Fix
  code/modules/mob/living/simple_animal/shade.dm
Labels: Fix

#12359 Increases timer for blob mouse spawn
  code/modules/events/blob.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Balance

#12362 Fixes incorrect names of syndie/antag coins
  code/modules/mining/ores_coins.dm
Labels: Fix

#12382 mechs now start with a high-capacity power cell+
  code/game/mecha/mecha.dm
Labels: Tweak

#12383 Makes Toxic Compensation do the toxin damage it healed
  code/datums/diseases/advance/symptoms/damage_converter.dm
Labels: Balance

#12381 Maintainers Have No Sense of Right or Wrong
  code/__DEFINES/misc.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/survivalist/survivalist.dm
  code/modules/mob/new_player/new_player.dm
  paradise.dme
Labels: Feature

#12360 Fixes hierophant club and warp cube ignoring area/tele_proof
  code/__HELPERS/unsorted.dm
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: Fix

#12389 Nutrition Refactor
  code/__DEFINES/genetics.dm
  code/__DEFINES/mobs.dm
  code/datums/diseases/advance/symptoms/weight.dm
  code/datums/diseases/food_poisoning.dm
  code/datums/diseases/tuberculosis.dm
  code/datums/spells/cluwne.dm
  code/game/gamemodes/changeling/powers/absorb.dm
  code/game/gamemodes/devil/devilinfo.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/rechargestation.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/weapons/soap.dm
  code/modules/admin/topic.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/abductor.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/shadowling.dm
  code/modules/mob/living/carbon/human/species/skeleton.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/transform_procs.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/subtypes/kidan.dm
Labels: Feature, Refactor, Tweak

#12394 Adds "Silence Current Midi" verb to preferences
  code/modules/client/preference/preferences_toggles.dm
Labels: Tweak

#12401 Fixes durathread mutating into durathread, reorganises seed vendor
  code/game/machinery/vending.dm
  code/modules/hydroponics/grown/cotton.dm
Labels: Fix, Grammar and Formatting

#12409 Fixes Seed Vault Gene Modder
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  code/game/machinery/constructable_frame.dm
  code/modules/hydroponics/gene_modder.dm
Labels: Fix

#12399 Fixes Sequencing on Mob Spawner Safeties
  code/modules/awaymissions/corpse.dm
Labels: Fix

#12388 Wizard Battlemage Armor
  _maps/map_files/MetaStation/z2.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/datums/outfits/outfit_admin.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Feature

#12410 Fixes Extinguishing Some Fires
  code/game/objects/items.dm
  code/game/objects/objs.dm
Labels: Fix

#12411 Removes Christmas
  christmas.dm
Labels: Fix

#12414 Manual Changelog Compile 9/24/2019 Night
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-12360.yml
  html/changelogs/AutoChangeLog-pr-12362.yml
  html/changelogs/AutoChangeLog-pr-12372.yml
  html/changelogs/AutoChangeLog-pr-12373.yml
  html/changelogs/AutoChangeLog-pr-12375.yml
  html/changelogs/AutoChangeLog-pr-12377.yml
  html/changelogs/AutoChangeLog-pr-12380.yml
  html/changelogs/AutoChangeLog-pr-12381.yml
  html/changelogs/AutoChangeLog-pr-12382.yml
  html/changelogs/AutoChangeLog-pr-12387.yml
  html/changelogs/AutoChangeLog-pr-12388.yml
  html/changelogs/AutoChangeLog-pr-12389.yml
  html/changelogs/AutoChangeLog-pr-12394.yml
  html/changelogs/AutoChangeLog-pr-12397.yml
  html/changelogs/AutoChangeLog-pr-12398.yml
  html/changelogs/AutoChangeLog-pr-12399.yml
  html/changelogs/AutoChangeLog-pr-12400.yml
  html/changelogs/AutoChangeLog-pr-12401.yml
  html/changelogs/AutoChangeLog-pr-12402.yml
  html/changelogs/AutoChangeLog-pr-12409.yml
  html/changelogs/AutoChangeLog-pr-12410.yml
Labels: Needs Changelog, WTF

#12417 Fixes improvised shotgun showing up as an ammo recipe when crafting
  code/modules/crafting/recipes.dm
Labels: Fix

#12378 Revert "Revert "Datumizes traitors and mindslaves""
  code/__DEFINES/role_preferences.dm
  code/datums/mind.dm
  code/game/gamemodes/autotraitor/autotraitor.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/machinery/cloning.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/implants/implant_traitor.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/traitor/datum_mindslave.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/power/apc.dm
  paradise.dme
Labels: Refactor, Revert/Feature Removal
