Repository ParadiseSS13/Paradise, pull requests merged in 2020-11, with the labels that each got.

#14805 Future proofs tcomms code
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix

#14796 ERT Timelock Increase
  code/game/jobs/job_exp.dm
Labels: Balance

#14807 Fixes a runtime when creating food
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
Labels: Fix

#14799 [TGUI] Convert ATM to TGUI
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts.dm
  nano/templates/atm.tmpl
  tgui/packages/tgui/interfaces/ATM.js
  tgui/packages/tgui/interfaces/AccountsUplinkTerminal.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, Tweak, User Interface

#14809 Add GitLens and Bracket Pair Colorizer to recommended extension
  .vscode/extensions.json
Labels: Infrastructure

#14637 Make can_inject deterministic; fix odysseus syringes sometimes not working [PR #12858, take two]
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Refactor

#14821 Fixes the running while bola'd exploit
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/mob_movement.dm
Labels: Fix

#14810 Observer Orbit menu is now fancy TGUI
  code/datums/mind.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/mob_defines.dm
  code/modules/tgui/external.dm
  paradise.dme
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, User Interface

#14828 Fix Orbit menu BSOD
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix

#14832 Re-add misc places of interest (such as nuke and NAD) to the orbit menu.
  code/modules/mob/dead/observer/orbit.dm
Labels: Fix

#14812 Fixes malf AI's blackout ability
  code/game/gamemodes/malfunction/Malf_Modules.dm
Labels: Fix

#14811 no ghostflinging mass drivers
  code/game/machinery/mass_driver.dm
Labels: Fix

#14755 Floor cluwnes fixes. Can't hide in lockers no more + limits the speed of stage changes
  code/__HELPERS/unsorted.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
Labels: Fix

#14829 Beach Biodome Remap part 2
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/game/machinery/dance_machine.dm
Labels: General Map, Map Edit

#14834 Gas sensors are able to have their ID's set again
  code/game/machinery/atmo_control.dm
Labels: Fix

#14835 Implements GitHub CODEOWNERS
  .github/CODEOWNERS
Labels: Infrastructure

#14836 Quick cult fix
  code/game/gamemodes/cult/cult.dm
Labels: Fix

#14806 Implements force_eject_occupant for disposal units. Allowing disposaled SSDs to be cryod
  code/modules/recycling/disposal.dm
Labels: Feature

#14814 Auto-highlight code words, add "View code words" secret
  code/datums/mind.dm
  code/defines/procs/announce.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  goon/browserassets/js/browserOutput.js
  goon/code/datums/browserOutput.dm
Labels: Tweak

#14816 Xray Cameras is now malf only
  code/game/machinery/camera/camera.dm
Labels: Balance

#14822 Makes removing legcuffs toggle movement intent back to 'Run'
  code/modules/mob/living/carbon/carbon.dm
Labels: Tweak

#14823 Adds some flaming hot logging
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Administration

#14839 Adds some PR review changes from #14823. Fire flash logging
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Fix

#14842 Re adds ticket conversion via the chat link. Minor tweak to formatting
  code/controllers/subsystem/tickets/tickets.dm
  code/modules/admin/topic.dm
Labels: Fix, Tweak

#14818 Adds Brute / burn mod to borgs (only syndicate for now) and gives syndicate borgs 5 damage reduction
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
Labels: Balance

#14803 CC clothing armor buff + description and name changes
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/under/miscellaneous.dm
Labels: Balance

#14769 Adds fortune cookies to the Mr. Changs vendor
  code/game/machinery/vending.dm
Labels: Tweak

#14852 Changes fleshmend description to be accurate
  code/game/gamemodes/changeling/powers/fleshmend.dm
Labels: Fix

#14857 Stop giving dead people as objectives
  code/game/gamemodes/objective.dm
Labels: Fix

#14859 Makes dog barking grammatically correct
  code/modules/mob/living/simple_animal/friendly/dog.dm
Labels: Fix

#14868 Makes holodeck stools immovable
  code/game/machinery/computer/HolodeckControl.dm
Labels: Fix

#14838 Ticket-Machine enable/disable ability.
  code/modules/paperwork/ticketmachine.dm
Labels: Feature

#14866 Makes gray terror webs **slightly** more visible
  code/modules/mob/living/simple_animal/hostile/terror_spiders/gray.dm
Labels: Balance

#14860 Clarifies CC announcements during cult ascension
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/cult/ritual.dm
Labels: Tweak

#14875 Fixes empty candle box in loadout
  code/modules/client/preference/loadout/loadout_general.dm
Labels: Fix

#14869 Adds an indicator alert for voice slurring
  code/_onclick/hud/alert.dm
  code/modules/mob/living/status_procs.dm
Labels: Feature

#14881 Makes spoopy ghost boo's on open airlocks not break the airlock sprite
  code/game/machinery/doors/airlock.dm
Labels: Fix

#14876 Make laser guns red for consistency
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/guns/energy.dmi
Labels: Tweak

#14873 Add new leather motorcycle jacket
  code/game/machinery/vending.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/species/drask/suit.dmi
  icons/mob/species/grey/suit.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#14880 Swaps Gatfruit with Red Glowcaps @ Lavaland Terrarium
  code/modules/ruins/lavalandruin_code/seed_vault.dm
Labels: Balance

#14878 Removes X-ray from non AI controlled cameras
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/camera.dm
Labels: Balance

#14872 Allows Detectives to get a holobadge from the loadout
  code/modules/client/preference/loadout/loadout_accessories.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/accessory.dm
Labels: Tweak

#14855 Skills HUD now shows job icon, and other minor HUD improvements
  code/__DEFINES/hud.dm
  code/game/data_huds.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/examine/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/mob.dm
  code/modules/surgery/organs/augments_eyes.dm
Labels: Tweak

#14854 Optable no longer tracks health remotely.
  code/game/machinery/OpTable.dm
  code/game/machinery/computer/Operating.dm
Labels: Fix

#14853 Adds radial menus to cult structures and constructs
  code/_onclick/hud/radial.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/wizard/soulstone.dm
Labels: Feature

#14851 Adds 2 new advanced blood rites
  code/__DEFINES/cult.dm
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/cult/cult_items.dm
Labels: Feature

#14846 Firelocks can be opened by hand in reasonable time
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
Labels: Tweak

#14749 Aquarium QoL: Fish bag, lower hunger rate and more
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/fish/fish_items.dm
  code/modules/fish/fishtank.dm
  icons/obj/fish_items.dmi
Labels: Feature

#14849 Cult fixes the 2nd
  code/datums/mind.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/machinery/cloning.dm
  code/modules/mob/mob_helpers.dm
  icons/obj/cult.dmi
Labels: Fix

#14804 Adds confirmation message to CC packed crates
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Feature

#14903 Autolathe disable wire actually disables autolathe
  code/game/machinery/autolathe.dm
Labels: Fix

#14918 Fixes re-admin runtime
  code/modules/admin/admin_verbs.dm
Labels: Fix

#14883 Clarifies LAZYLEN
  code/__HELPERS/lists.dm
Labels: Documentation

#14911 Swaps the 'Internal' and 'External' buttons for air vents back to normal
  tgui/packages/tgui/interfaces/AirAlarm.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, User Interface

#14889 Fixes slaughter demon objectives, adds new slaughter / rev ones
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
Labels: Fix

#14877 Messages admins when non antagonists purchase items from an uplink
  code/datums/uplink_item.dm
Labels: Administration

#14927 Barricade creation fixes. Atmos runtimes and wood creation exploit fix
  code/game/machinery/deployable.dm
Labels: Exploit, Fix

#14863 Revenants can no longer be shocked
  code/game/gamemodes/miniantags/revenant/revenant.dm
Labels: Tweak

#14891 Allows doctors to eject cloning pods, activates the radio cloners have.
  code/game/machinery/cloning.dm
Labels: Tweak

#14897 Make Nar'Sie summoner RED
  code/game/gamemodes/cult/ritual.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/living_defense.dm
Labels: Tweak

#14898 Add more antagonists to the orbit menu.
  code/modules/mob/dead/observer/orbit.dm
Labels: Tweak

#14900 Cardiac problems have a dedicated icon on medhud, not a generic "disease"
  code/__DEFINES/misc.dm
  code/game/data_huds.dm
  code/game/machinery/adv_med.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/defib.dm
  code/modules/mob/living/death.dm
  icons/mob/hud.dmi
Labels: Tweak

#14902 Notes can be removed from airlocks with wirecutters, even if the airlock maintenance panel is closed
  code/game/machinery/doors/airlock.dm
Labels: Tweak

#14908 Makes morgue tray respect unrevivable mobs
  code/game/objects/structures/morgue.dm
Labels: Tweak

#14912 Suit storage unit wires now be accessible when electrocuted and hacked UV radiation properly destroys contents
  code/datums/wires/suitstorage.dm
  code/game/machinery/suit_storage_unit.dm
Labels: Tweak

#14915 Drask no longer melt to cleaning grenades
  code/modules/mob/living/carbon/human/species/drask.dm
Labels: Balance, Fix

#14920 Minor refactor to DMAPI
  code/__DEFINES/_protection.dm
  code/__DEFINES/_tgs_defines.dm
  paradise.dme
Labels: Refactor

#14892 Tweaks adminwho discord message
  code/game/verbs/who.dm
Labels: Grammar and Formatting, Tweak

#14924 Debug Controller Cleanup
  code/controllers/verbs.dm
Labels: Refactor

#14783 Pinpointers can now point to their respective nuke.
  code/game/gamemodes/nuclear/pinpointer.dm
  code/modules/admin/topic.dm
Labels: Refactor, Tweak

#14923 Actually prevents swarmers from eating high-value targets
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/objects/items/weapons/melee/misc.dm
Labels: Balance

#14937 Cardiac arrest now also shows as crit on medHUD
  code/game/data_huds.dm
Labels: Fix

#14952 [TGUI] Safe
  code/game/objects/structures/safe.dm
  code/modules/client/asset_cache.dm
  icons/safe_dial.png
  nano/templates/safe.tmpl
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/Safe.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/interfaces/Safe.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/safe.scss
Labels: Refactor, TGUI, User Interface

#14958 Migrates from Travis CI To Actions
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .travis.yml
  README.md
  _build_dependencies.sh
  appveyor.yml
  code/_compile_options.dm
  code/modules/unit_tests/sql.dm
  tools/appveyor/build.ps1
  tools/appveyor/deploy.sh
  tools/ci/README.MD
  tools/ci/build_nanoui.sh
  tools/ci/build_tgui.sh
  tools/ci/check_grep.sh
  tools/ci/check_line_endings.py
  tools/ci/dbconfig.txt
  tools/ci/dm.sh
  tools/ci/generate_maplist.sh
  tools/ci/generate_sql_scripts.py
  tools/ci/install_build_deps.sh
  tools/ci/install_byond.sh
  tools/ci/install_dreamchecker.sh
  tools/ci/install_rustg.sh
  tools/ci/json_verifier.py
  tools/ci/run_server.sh
  tools/ci/sql_v0.sql
  tools/travis/generate_maplist.sh
Labels: Infrastructure

#14962 Fixes the 'Start Now' verb softlocking servers
  code/controllers/subsystem/ticker.dm
Labels: Fix

#14963 Makes crypods also check for user adjacency
  code/game/machinery/cryopod.dm
Labels: Fix

#14943 You can no longer push around bomb guardian-trapped objects which should not be able to be pushed
  code/game/gamemodes/miniantags/guardian/types/bomb.dm
Labels: Fix

#14926 Makes grass, flowers, and bushes easily destroyable
  code/game/objects/structures/flora.dm
Labels: Tweak

#14922 Adds a new examination message for damage severity
  code/modules/mob/living/carbon/human/examine.dm
Labels: Feature

#14905 Dialisys QoL.
  code/game/machinery/Sleeper.dm
  tgui/packages/tgui/interfaces/Sleeper.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, Tweak

#14969 Orbit menu no longer bundles dead players with dead butterflies.
  code/modules/mob/dead/observer/orbit.dm
Labels: Fix

#14931 Stops explosions causing millions of runtimes
  code/game/objects/explosion.dm
Labels: Fix

#14888 Windowpainter
  code/game/objects/items/devices/pipe_painter.dm
  code/game/objects/items/devices/window_painter.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/device.dmi
  paradise.dme
Labels: Feature

#14950 Makes the abductor MID command mode notify admins better
  code/game/gamemodes/miniantags/abduction/gland.dm
Labels: Administration, Tweak

#14940 Adds Anti-Metaknowledge Reminder to Cloning
  code/game/machinery/cloning.dm
Labels: Tweak

#14953 Greatly reduces Slot machine money abuse
  code/game/machinery/slotmachine.dm
  tgui/packages/tgui/interfaces/SlotMachine.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, Tweak

#14817 Cuts the price of summon guns in half, now only 2 points
  code/datums/spells/infinite_guns.dm
  code/game/gamemodes/wizard/spellbook.dm
Labels: Balance

#14921 Ingame CentCom Ban DB Lookup Interface
  code/controllers/configuration.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/centcom_ban_db.dm
  code/modules/admin/topic.dm
  config/example/config.txt
  paradise.dme
Labels: Administration, Configuration Change, Feature

#14840 In-code server revision info
  code/__DEFINES/rust_g.dm
  code/datums/revision.dm
  code/game/world.dm
  paradise.dme
Labels: Feature

#14982 Fixes missing slot machine results
  code/game/machinery/slotmachine.dm
Labels: Fix

#14946 Adds a notification in dchat when a player dies
  code/__DEFINES/preferences.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/mob/living/death.dm
Labels: Feature

#14984 [s]Admin message tweak
  goon/code/datums/browserOutput.dm
Labels: Tweak

#14985 Fixes power net TGUI BSOD if console isn't connected to a grid
  code/modules/tgui/modules/power_monitor.dm
  tgui/packages/tgui/interfaces/PowerMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix

#14972 Mechs must now have maint protocols active to be repaired.
  code/game/mecha/mecha.dm
Labels: Balance

#14966 Adds more status colours to the Security Records console
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/SecurityRecords.scss
Labels: Feature, TGUI

#14961 Makes ATMs put money into your hands when withdrawing
  code/modules/economy/ATM.dm
Labels: Feature

#14967 Removes old, unused area stuff
  code/game/area/areas.dm
  code/game/area/ss13_areas.dm
  code/game/machinery/computer/specops_shuttle.dm
  code/game/machinery/computer/syndicate_specops_shuttle.dm
  code/game/machinery/firealarm.dm
  icons/turf/areas.dmi
Labels: Revert/Feature Removal

#14970 CI Fixes and tweaks
  .github/workflows/ci.yml
Labels: Infrastructure

#14976 Newspaper rolling
  code/modules/newscaster/obj/newspaper.dm
  icons/obj/bureaucracy.dmi
Labels: Feature

#14977 Allows nanopaste to repair machinery
  code/game/machinery/machinery.dm
Labels: Feature

#14978 Flipped fancy tables now have sprites
  code/game/objects/structures/tables_racks.dm
  icons/obj/smooth_structures/fancy_table.dmi
  icons/obj/smooth_structures/fancy_table_black.dmi
Labels: Feature, Fix

#14939 Doubles the contents of the jani closet
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
Labels: Tweak

#14936 Nukes recursive effects
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/effect_system/effects_other.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/spacepods/spacepod.dm
Labels: Refactor

#14919 Beach holodeck sunglasses are now cheap sunglasses
  _maps/map_files/cyberiad/z2.dmm
Labels: Fix, Map Edit

#14899 SSdiscord tweaks
  code/_onclick/ai.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/discord.dm
  code/controllers/subsystem/http.dm
  code/controllers/subsystem/ticker.dm
  code/datums/discord.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/client/client_procs.dm
  code/modules/shuttle/emergency.dm
  config/example/config.txt
Labels: Configuration Change, Tweak

#14986 Fixes white wedding dress being named orange
  code/modules/clothing/under/miscellaneous.dm
Labels: Fix

#14992 Deletes CLICK_CD_BREAKOUT; Fixes resisting out of bolas.
  code/__DEFINES/misc.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#14993 Fixes akimbo crafted chainsaws (and any item requiring two hands)
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix

#14871 [TGUI] Upgrades Bots
  code/game/gamemodes/cult/cult_items.dm
  code/game/machinery/machinery.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mining/lavaland/loot/legion_loot.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
  tgui/packages/tgui/interfaces/BotClean.js
  tgui/packages/tgui/interfaces/BotSecurity.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, Tweak, User Interface

#14983 Adds a sunglasses crate to cargo
  code/datums/supplypacks.dm
Labels: Feature

#14981 Adds a "follow" button to things pointed to by ghosts
  code/modules/mob/dead/observer/observer.dm
Labels: Feature

#14930 Adds a setting to disable chat bubbles when typing 'me' emotes
  code/__DEFINES/preferences.dm
  code/modules/mob/living/stat_states.dm
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
Labels: Tweak

#15005 Fixes instruments not looping
  code/modules/instruments/songs/_song.dm
Labels: Fix

#15008 Fixes vending machines eating coins
  code/game/machinery/vending.dm
Labels: Fix

#15011 Fixes TGUI ghost orbit menu runtime
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/transform_procs.dm
Labels: Fix

#14971 [TGUI] Airlock Electronics
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/windoor_assembly.dm
  tgui/packages/tgui/interfaces/AirlockElectronics.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, User Interface

#15017 Fix protolathe/autolathe mixup when exporting designs in R&D console
  code/modules/research/rdconsole.dm
Labels: Fix

#15018 Fixes AIs ejecting IDs in Mining Vendors to their core
  code/modules/mining/machine_vending.dm
Labels: Fix

#15019 Fixes reflector chat spam
  code/game/objects/structures/reflector.dm
Labels: Fix

#15022 Drops twohanded items that failed to wield instead of the user's active hand
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix

#15010 Adds two extra chairs to the Wizard's Den
  _maps/map_files/cyberiad/z2.dmm
Labels: General Map, Map Edit, Tweak

#14998 Two new food sprites and a few minor sprite tweaks
  icons/obj/food/food.dmi
  icons/obj/food/seafood.dmi
Labels: Sprites

#14997 Make fluff items cheaper
  code/modules/arcade/claw_game.dm
  code/modules/store/items.dm
Labels: Tweak

#14996 Allow ghosts to look inside containers
  code/_onclick/observer.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/storage.dm
Labels: Feature
