Repository ParadiseSS13/Paradise, pull requests merged in 2020-02, with the labels that each got.

#12951 Fixes RUST-G loading on linux
  code/__HELPERS/_logging.dm
Labels: Refactor

#12480 Issue #12466: IPC EMP Identity Loss Fix
  code/modules/mob/living/carbon/human/death.dm
Labels: Fix

#12624 Adds vscode extension recommendations for highlighting and langserv
  .gitignore
  .vscode/extensions.json
Labels: Administration

#12658 Dead mice squeak no tails
  code/datums/components/squeak.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Fix

#12954 Fixes straightjackets to buckle you forever
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/update_status.dm
Labels: Fix

#12959 Shesi fluff sprite fix
  icons/mob/suit.dmi
Labels: Sprites

#12966 [SPEEDMERGE] Fixes CI
  .travis.yml
  nano/package-lock.json
  nano/package.json
Labels: Fix

#12974 Fixes 4 runtimes
  code/__HELPERS/game.dm
  code/modules/economy/ATM.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/give.dm
Labels: Fix

#12976 Doomsday device fix
  code/game/gamemodes/malfunction/Malf_Modules.dm
Labels: Fix

#12970 Makes Veil (and other light extinguishing ways) extinguish plasmamen helmets
  code/modules/clothing/spacesuits/plasmamen.dm
Labels: Fix

#12964 Fixes bots not being trackable using the chat link as AI
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Fix

#12968 Makes AI able to click on turfs (flooring)
  code/_onclick/ai.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#12962 Remove OOC enabling on round end during round in progress
  code/controllers/subsystem/vote.dm
Labels: Fix

#12945 Readds otherthing-dead
  icons/mob/animal.dmi
Labels: Fix, Sprites

#12961 Instant Summons spell now respects no_drop and teleports the holder of the nodrop item to the wizard now
  code/datums/spells/summonitem.dm
Labels: Fix, Tweak

#12893 Fixes a few runtimes
  code/ATMOSPHERICS/atmospherics.dm
  code/controllers/subsystem/idlenpcpool.dm
  code/controllers/subsystem/npcpool.dm
  code/game/gamemodes/blob/overmind.dm
  code/game/gamemodes/changeling/powers/augmented_eyesight.dm
  code/game/objects/structures/grille.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/surgery/organs/augments_eyes.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Fix

#12695 Fixes an incorrect variable in an admin log statement
  code/modules/mob/living/carbon/human/human.dm
Labels: Administration

#12874 Add missing grey translator implant check
  code/modules/mob/living/carbon/human/say.dm
Labels: Fix

#12983 stripped_input now actually uses the max length at all times
  code/__HELPERS/text.dm
Labels: Fix

#12890 Fixes a runtime with revenants when they click on mobs
  code/_onclick/observer.dm
Labels: Fix

#12982 Fix IPC surgery
  code/_onclick/item_attack.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#12984 Fixes some bugs introduced via tool refactor
  code/__HELPERS/unsorted.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/doors/airlock.dm
Labels: Fix

#12978 Antag objectives are now announced when a target cryos
  code/game/machinery/cryopod.dm
Labels: User Interface

#12960 Makes the mindslave message bigger
  code/game/objects/items/weapons/implants/implant_traitor.dm
Labels: User Interface

#12828 Grass sprites are new and improved
  code/game/turfs/simulated/floor/fancy_floor.dm
  icons/turf/floors.dmi
Labels: Sprites

#12926 Fix borg unbuckling
  code/game/objects/buckling.dm
Labels: Fix

#12816 Cult Fixes and Tweaks: Admins can cult anyone, Constructs get their comms back.
  code/datums/mind.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/wizard/soulstone.dm
Labels: Tweak

#12664 Allow admins to rename people with numbers
  code/datums/datumvars.dm
Labels: Fix

#12661 Prevent stacks from being consumed by redspace.
  code/game/objects/items/stacks/stack.dm
Labels: Fix

#12920 Fixes Unknown game mode probability
  config/example/config.txt
Labels: Fix

#13002 Deathgasp and Gasping Sounds
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  sound/goonstation/voice/deathgasp_1.ogg
  sound/goonstation/voice/deathgasp_2.ogg
  sound/goonstation/voice/female_dying_gasp_1.ogg
  sound/goonstation/voice/female_dying_gasp_2.ogg
  sound/goonstation/voice/female_dying_gasp_3.ogg
  sound/goonstation/voice/female_dying_gasp_4.ogg
  sound/goonstation/voice/female_dying_gasp_5.ogg
  sound/goonstation/voice/gasp.ogg
  sound/goonstation/voice/male_dying_gasp_1.ogg
  sound/goonstation/voice/male_dying_gasp_2.ogg
  sound/goonstation/voice/male_dying_gasp_3.ogg
  sound/goonstation/voice/male_dying_gasp_4.ogg
  sound/goonstation/voice/male_dying_gasp_5.ogg
Labels: Feature, Sound

#12931 Updates our gitignore file
  .gitignore
Labels: Refactor

#12904 Maxcap Devastation Range Spelling Fix
  code/_globalvars/configuration.dm
  code/controllers/configuration.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/effect_system/effects_other.dm
  code/game/objects/explosion.dm
  code/modules/admin/topic.dm
Labels: Grammar and Formatting

#12934 Make every obj/.../New() call it's parents, Fixes things not burning on lava and causing runtimes
  code/game/machinery/cloning.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/sensor_device.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/devices/thermal_drill.dm
  code/game/objects/items/devices/uplinks.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/RSF.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cosmetics.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/frag.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/misc.dm
  code/game/objects/items/weapons/stock_parts.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/arcade/mob_hunt/mob_cards.dm
  code/modules/awaymissions/mission_code/stationCollision.dm
  code/modules/clothing/gloves/rings.dm
  code/modules/fish/fish_items.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat_2.dm
  code/modules/holiday/christmas.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/paperwork/paper.dm
  code/modules/pda/pdas.dm
  code/modules/power/supermatter/sm_shard.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/research/experimentor.dm
  code/modules/research/research.dm
Labels: Fix

#12865 Racial Loadout Items Pathway Fix
  code/modules/client/preference/loadout/loadout_racial.dm
Labels: Fix

#12986 Some more bugfixes from the tool refactor
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/machinery.dm
  code/game/machinery/vending.dm
  code/game/objects/objs.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Fix

#12683 Brings orderable conscription kit in line.
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/mining/machine_vending.dm
Labels: Fix

#12680 Fixes depot mobs reacting very slowly
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: Fix

#12654 Fixes sunglasses and sunglasses HUD sprites for Vox, Drask and Greys
  code/modules/clothing/glasses/glasses.dm
  icons/mob/species/drask/eyes.dmi
  icons/mob/species/grey/eyes.dmi
  icons/mob/species/vox/eyes.dmi
Labels: Fix, Sprites

#13045 Removes CL tag we dont support
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Administration, Fix
