Repository ParadiseSS13/Paradise, pull requests merged in 2020-10, with the labels that each got.

#14485 Makes borg petting have a sound effect
  code/modules/mob/living/silicon/silicon_defense.dm
Labels: Tweak

#14488 Leather shoes instead of laceup shoes when crafting from leather
  code/game/objects/items/stacks/sheets/leather.dm
Labels: Tweak

#14489 Add recipe for Iced Coco
  code/modules/reagents/chemistry/reagents/drinks.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
Labels: Feature

#14490 We'll be right back
  code/_globalvars/lists/misc.dm
  sound/misc/berightback.ogg
Labels: Sound

#14495 Add door speed changes to remotes
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/control_wand.dm
Labels: Tweak

#14443 Changes the Character Preferences representation for Shaft Miners to use the new sprites
  code/datums/datacore.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: Tweak

#14442 Makes mining vendors drop inserted IDs when destroyed/deconstructed
  code/modules/mining/machine_vending.dm
Labels: Tweak

#14447 Gives the gravitational catapult a 3 second cooldown per use
  code/game/mecha/equipment/tools/other_tools.dm
Labels: Balance

#14508 Fixes terror princesses/queens firebending with airtight webs
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
Labels: Fix

#14503 [orion trail] Check if all crew dead before kill
  code/game/machinery/computer/arcade.dm
Labels: Fix

#14500 Fixes some issue with being cloned while having martial arts
  code/datums/mind.dm
  code/modules/martial_arts/martial.dm
Labels: Fix

#14467 Fixes lasers ignoring shields of all types.
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#14207 Fixes unusable "sign up" chat button, some missing icons when polling for candidates and gimmick team
  code/__HELPERS/game.dm
  code/_onclick/hud/alert.dm
  code/controllers/subsystem/ghost_spawns.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/gimmick_team.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/antagonists/_common/antag_spawner.dm
  icons/obj/cardboard_cutout.dmi
Labels: Fix

#14515 Makes gibtonite check if it has wires before closing TGUI windows
  code/modules/mining/ores_coins.dm
Labels: Fix

#14518 Stops diona vampires from getting nutrient effects from light
  code/modules/mob/living/carbon/human/species/diona.dm
Labels: Fix

#14476 [TGUI] Update pool controller to use TGUI
  code/game/machinery/poolcontroller.dm
  nano/templates/poolcontroller.tmpl
  tgui/packages/tgui/interfaces/PoolController.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/PoolController.scss
  tgui/packages/tgui/styles/main.scss
Labels: Refactor, User Interface

#14092 Revert "Disables dragon transformation because its users can freeze the whole server"
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
Labels: Feature

#14522 Makes laser tags have 0 damage and makes the field generators take nodamage into consideration
  code/modules/power/singularity/field_generator.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Tweak

#14513 Removes the 'bnotice' span class
  code/game/objects/items/weapons/AI_modules.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
Labels: Tweak

#14526 Fix botany growthstage rounding error
  code/modules/hydroponics/hydroponics.dm
Labels: Fix

#14440 Changes cryoxadone to check external temp instead of internal temp
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance

#14409 Update hoslaser objective text
  code/game/gamemodes/steal_items.dm
Labels: Tweak

#14481 Improved OOC Manifest
  code/datums/datacore.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Tweak

#14494 Inhand snack sprites
  code/modules/food_and_drinks/food/foods/ethnic.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites

#14455 Fixes zero-G spiderweb weirdness
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
Labels: Tweak

#14131 Refactors the ticket code. Fixes the ticket conversion. Removes bolding of names etc in tickets
  code/controllers/subsystem/tickets/mentor_tickets.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
Labels: Administration

#14185 Hot Chocolate and Chicken Soup nerf
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/reagents/chemistry/reagents/food.dm
Labels: Balance

#13869 Refactors Intercomms For Less Processing
  code/__DEFINES/dcs/signals.dm
  code/game/area/areas.dm
  code/game/objects/items/devices/radio/intercom.dm
Labels: Performance, Refactor

#13998 Wormhole Jaunters can no longer teleport megafauna to station, unless emagged
  code/modules/mining/equipment/wormhole_jaunter.dm
Labels: Balance

#14009 Alters mining conscription kits to remove the mining access card
  code/modules/mining/machine_vending.dm
Labels: Balance

#14433 Adds Atmospheric Anomaly
  code/__DEFINES/atmospherics.dm
  code/game/objects/effects/anomalies.dm
  code/modules/events/anomaly_atmos.dm
  code/modules/events/event_container.dm
  paradise.dme
Labels: Feature

#13621 Make HUD settings apply consistently
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/action.dm
  icons/mob/screen_white.dmi
  icons/mob/zone_sel.dmi
Labels: Merge Conflict, Refactor

#13846 Refactor spawning on vents into one proc
  code/__HELPERS/game.dm
  code/game/gamemodes/miniantags/borer/borer_event.dm
  code/modules/events/alien_infestation.dm
  code/modules/events/blob.dm
  code/modules/events/spider_infestation.dm
  code/modules/events/spider_terror.dm
  code/modules/mob/mob.dm
Labels: Refactor

#14528 spraybottle logging change
  code/modules/reagents/reagent_containers/spray.dm
Labels: Tweak

#14539 Fixes PDA Power Monitor Bug
  code/modules/tgui/modules/power_monitor.dm
Labels: Fix

#14531 Blurry eyes blur eyes
  code/__DEFINES/misc.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/plane_master.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/update_status.dm
Labels: Feature

#14519 Makes the speed gene and other ignoreslowdown buffs take speedups into account
  code/__DEFINES/combat.dm
  code/datums/status_effects/buffs.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Balance, Fix

#14541 Gives admins a way to smoothly end a round
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Feature

#14549 Fixes internals action button not showing and Boo spell button flickering
  code/datums/action.dm
Labels: Fix

#14554 Fixed IV Stand Icon Updates
  code/game/machinery/iv_drip.dm
Labels: Fix

#14527 [TGUI] Newscasters
  code/datums/periodic_news.dm
  code/game/machinery/newscaster.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/economy/Economy.dm
  code/modules/economy/Economy_Events.dm
  code/modules/economy/Economy_Events_Mundane.dm
  code/modules/events/money_lotto.dm
  code/modules/newscaster/datums.dm
  code/modules/newscaster/defines.dm
  code/modules/newscaster/obj/newscaster.dm
  code/modules/newscaster/obj/newspaper.dm
  nano/templates/newscaster.tmpl
  paradise.dme
  tgui/packages/tgui/backend.js
  tgui/packages/tgui/components/Input.js
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/Newscaster.js
  tgui/packages/tgui/interfaces/common/ComplexModal.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/components/Input.scss
  tgui/packages/tgui/styles/interfaces/Newscaster.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/security.scss
Labels: Refactor, User Interface

#14525 fancier donut boxes
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  icons/obj/food/containers.dmi
  icons/obj/food/food.dmi
Labels: Sprites

#14545 Fixes "Invisible" Suit Sprites for Grey
  code/modules/clothing/suits/armor.dm
Labels: Fix

#14565 Fix Supermatter shard dusting AI on click
  code/modules/power/supermatter/supermatter.dm
Labels: Fix, WTF

#14521 Sling thralling now respects mindshields
  code/game/gamemodes/shadowling/shadowling_abilities.dm
Labels: Balance

#14426 Terror gateway tweaks
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  code/modules/awaymissions/mission_code/UO71-terrorspiders.dm
Labels: General Map, Map Edit, Tweak

#13936 Game Preferences Update
  SQL/paradise_schema.sql
  SQL/paradise_schema_prefixed.sql
  SQL/updates/12-13.sql
  code/__DEFINES/misc.dm
  code/__DEFINES/preferences.dm
  code/__HELPERS/_logging.dm
  code/__HELPERS/game.dm
  code/_onclick/hud/plane_master.dm
  code/controllers/subsystem/afk.dm
  code/controllers/subsystem/changelog.dm
  code/controllers/subsystem/jobs.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/scoreboard.dm
  code/game/machinery/tcomms/_base.dm
  code/game/verbs/ooc.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/client/client procs.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/karma/karma.dm
  code/modules/keybindings/bindings_atom.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/bindings_mob.dm
  code/modules/keybindings/bindings_robot.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/emote.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
  code/modules/nano/nanoui.dm
  code/modules/pda/messenger.dm
  code/modules/shuttle/emergency.dm
  code/modules/tgui/tgui.dm
  config/example/dbconfig.txt
  tools/travis/dbconfig.txt
Labels: Refactor, SQL Change

#14578 [Speedmerge] Fixes potential DB issues
  code/modules/client/preference/preferences_mysql.dm
Labels: Fix, High Priority, oops

#14574 Changling Swap forms now takes 10 seconds to pull off.
  code/game/gamemodes/changeling/powers/swap_form.dm
Labels: Balance

#14573 Gives golem shuttle always a valid destination
  _maps/map_files/RandomRuins/SpaceRuins/golemtarget.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  code/datums/ruins/space.dm
  code/modules/shuttle/shuttle.dm
Labels: Feature

#14572 No more DIY xeno outbreaks
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Tweak

#14571 IPC First Aid Kit No Longer Has Oil
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: Tweak

#14566 Adds an alert to the ghosts before people borg a playerless MMI. Will prevent borging till the ghost is in the MMI
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/carbon/brain/MMI.dm
Labels: Feature

#14563 Uplink rebalancing: Syndicate Hardsuit
  code/datums/uplink_item.dm
Labels: Balance

#14546 Reduces Buckshot Armor Penetration
  code/modules/projectiles/projectile/bullets.dm
Labels: Balance

#14544 Stop Pulling Blobbernauts
  code/game/gamemodes/blob/blobs/blob_mobs.dm
Labels: Balance

#14538 Morphs are now a more common midround
  code/modules/events/event_container.dm
Labels: Tweak

#14535 Nerfs the bluespace wormhole projector
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Balance

#14548 Fixes dead limbs not showing up on body scanner, add QOL limb/organ coloring based on status
  tgui/packages/tgui/interfaces/BodyScanner.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak

#14582 updated space ruin example blacklist with new space ruin
  config/example/spaceRuinBlacklist.txt
Labels: Fix

#14484 [TGUI] RND Console
  code/game/machinery/autolathe.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  code/modules/research/rdconsole.dm
  code/modules/research/rdmachines.dm
  code/modules/research/research.dm
  nano/templates/r_n_d.tmpl
  tgui/packages/tgui/components/LabeledList.js
  tgui/packages/tgui/interfaces/RndConsole.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/CurrentLevels.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/DataDiskMenu.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/DeconstructionMenu.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/LatheCategory.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/LatheChemicalStorage.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/LatheMainMenu.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/LatheMaterialStorage.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/LatheMaterials.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/LatheMenu.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/LatheSearch.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/MainMenu.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/RndNavButton.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/RndNavbar.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/RndRoute.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/SettingsMenu.js
  tgui/packages/tgui/interfaces/RndConsoleComponents/index.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/RndConsole.scss
  tgui/packages/tgui/styles/main.scss
Labels: Refactor, User Interface

#14588 Fixes server issues
  goon/code/datums/browserOutput.dm
Labels: Fix, High Priority

#14597 Revert "Blurry eyes blur eyes"
  code/__DEFINES/misc.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/plane_master.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/update_status.dm
Labels: Revert/Feature Removal

#14600 Fixes princesses/queens getting incorrect chat message on death
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
Labels: Fix

#14602 Fixes ERT/borg/AI cameras displaying black screen on monitors
  code/game/machinery/computer/camera.dm
Labels: Fix

#14603 Fixes infinite loop in Nano-Mob Hunter GO Server subsystem
  code/modules/arcade/mob_hunt/mob_datums.dm
Labels: Fix

#14606 Stops shadowlings dividing by zero
  code/datums/spell.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
Labels: Fix

#14604 [TGUI] Airlock Controller -> TGUI, Remove Advanced Airlock Controller
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  nano/templates/advanced_airlock_console.tmpl
  nano/templates/simple_airlock_console.tmpl
  tgui/packages/tgui/interfaces/ExternalAirlockController.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Revert/Feature Removal, User Interface

#14599 First step Metastation Fix (Issue #13950 and more)
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
Labels: Map Edit, MetaStation

#14607 Fixes admins getting stuck in proc security hell
  code/modules/admin/verbs/debug.dm
Labels: Fix

#14608 [TGUI] Updates access controller to TGUI
  code/game/machinery/embedded_controller/airlock_controllers.dm
  nano/templates/door_access_console.tmpl
  tgui/packages/tgui/interfaces/AirlockAccessController.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, User Interface

#14556 Tweaks TGUI critical error screen
  tgui/packages/tgui/public/tgui.html
Labels: Tweak

#14585 (Maybe) Fixes spurious failures in pipe icon generation
  code/ATMOSPHERICS/atmospherics.dm
  code/ATMOSPHERICS/components/binary_devices/dp_vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_scrubber.dm
  code/ATMOSPHERICS/pipes/cap.dm
  code/ATMOSPHERICS/pipes/manifold.dm
  code/ATMOSPHERICS/pipes/manifold4w.dm
  code/ATMOSPHERICS/pipes/simple/pipe_simple.dm
  code/ATMOSPHERICS/pipes/simple/pipe_simple_hidden.dm
  code/ATMOSPHERICS/pipes/simple/pipe_simple_visible.dm
  code/controllers/subsystem/air.dm
Labels: Fix, Sprites

#14547 Sentient minebots are no longer convertable to cult
  code/modules/mining/minebot.dm
Labels: Balance

#14584 Omega Weed Balance Changes
  code/modules/hydroponics/grown/cannabis.dm
Labels: Balance

#14559 Prevents flash / sonic powder from working on blob tiles again.
  code/game/objects/items/weapons/grenades/flashbang.dm
Labels: Balance

#14577 Makes the vox spikethrower more like a cyborg LMG, fixes bugs with it.
  code/modules/admin/verbs/vox_raiders.dm
  code/modules/projectiles/guns/alien.dm
Labels: Feature, Fix

#14558 Legion Core - Burn Damage Fix
  code/datums/status_effects/buffs.dm
Labels: Fix

#14532 [READY] Mime abilities Icons update
  code/datums/spells/mime.dm
  icons/mob/actions/actions.dmi
  icons/obj/guns/projectile.dmi
Labels: Sprites

#14470 Adds new sprites for skills huds
  code/modules/clothing/glasses/hud.dm
  icons/mob/eyes.dmi
  icons/mob/species/drask/eyes.dmi
  icons/mob/species/grey/eyes.dmi
  icons/mob/species/vox/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Sprites

#14501 Sniper Holster Fix
  code/modules/projectiles/guns/energy/special.dm
Labels: Fix, Stale

#12062 [Review Ready] New station goal: Bluespace mining tap
  code/datums/supplypacks.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/modules/station_goals/bluespace_tap.dm
  code/modules/station_goals/dna_vault.dm
  icons/obj/machines/bluespace_tap.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/BluespaceTap.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Do Not Merge, Feature, Merge Conflict

#14613 Tweaks Wiki Button
  code/controllers/subsystem/changelog.dm
  interface/interface.dm
Labels: Tweak

#14472 Codebase Cleanup - 2020-09-27
  DLLSocket/DLLSocket.cbp
  DLLSocket/compile.sh
  DLLSocket/main.cpp
  DLLSocket/server_controller.py
  _maps/map_files/MetaStation/z2.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/game/area/dynamic_areas.dm
  code/game/area/ss13_areas.dm
  code/game/gamemodes/devil/devil_agent/devil_agent.dm
  code/game/gamemodes/heist/heist.dm
  code/game/objects/items/stacks/stack_recipe.dm
  code/game/objects/items/weapons/fireworks.dm
  code/game/objects/random/random.dm
  code/modules/admin/db_ban/functions.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/economy/POS.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/security_levels/security_levels.dm
  paradise.dme
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM.sln
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM.suo
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Form1.Designer.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Form1.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Form1.resx
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Program.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Properties/AssemblyInfo.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Properties/Resources.Designer.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Properties/Resources.resx
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Properties/Settings.Designer.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Properties/Settings.settings
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/UnstandardnessTestForDM.csproj
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/bin/Debug/UnstandardnessTestForDM.exe
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/bin/Debug/UnstandardnessTestForDM.pdb
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/bin/Debug/UnstandardnessTestForDM.vshost.exe
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/bin/Debug/UnstandardnessTestForDM.vshost.exe.manifest
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/GenerateResource.read.1.tlog
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/GenerateResource.write.1.tlog
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/UnstandardnessTestForDM.Form1.resources
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/UnstandardnessTestForDM.Properties.Resources.resources
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/UnstandardnessTestForDM.csproj.FileListAbsolute.txt
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/UnstandardnessTestForDM.exe
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/UnstandardnessTestForDM.pdb
  tools/runtimeCondensor/Input.txt
  tools/runtimeCondensor/Main.cpp
  tools/runtimeCondensor/Output.txt
  tools/runtimeCondensor/RuntimeCondenser.exe
Labels: Code Improvement, Infrastructure

#14616 Fixes the immovable filing cabinet in the Law Office
  code/modules/paperwork/filingcabinet.dm
Labels: Fix

#14612 updates haloperidol and nanocalcium to be less shit code
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Refactor

#14618 Rename all instances of "virgin" being used as a variable name
  code/game/objects/structures/spirit_board.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/paperwork/filingcabinet.dm
Labels: Refactor, WTF

#14622 Sets the plasma filter in atmos to filter plasma by default again, instead of nothing
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
Labels: Fix

#14627 Makes the TGUI error window more lore friendly
  tgui/packages/tgui/public/tgui.html
Labels: User Interface

#14631 Professional Strength Space Cleaner
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Fix

#14632 Fixes cyborgs and drones being unable to use camera console
  code/game/machinery/computer/camera.dm
Labels: Fix

#14623 Bluespace Harvester points rebalance
  code/modules/station_goals/bluespace_tap.dm
Labels: Tweak

#14598 [TGUI] RCD
  code/game/objects/items/weapons/RCD.dm
  nano/templates/rcd.tmpl
  tgui/packages/tgui/interfaces/RCD.js
  tgui/packages/tgui/interfaces/common/AccessList.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14620 [TGUI] Air Alarms + Central Atmos Control
  code/datums/cache/air_alarm.dm
  code/game/machinery/alarm.dm
  code/game/machinery/computer/atmos_control.dm
  code/modules/mob/living/silicon/subsystems.dm
  code/modules/nano/modules/atmos_control.dm
  code/modules/tgui/modules/atmos_control.dm
  nano/templates/air_alarm.tmpl
  nano/templates/atmos_control.tmpl
  nano/templates/atmos_control_map_content.tmpl
  nano/templates/atmos_control_map_header.tmpl
  paradise.dme
  tgui/packages/tgui/interfaces/AirAlarm.js
  tgui/packages/tgui/interfaces/AtmosControl.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14562 Code Standarisation - Tank Distribute Pressure
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/tanks/tanks.dm
Labels: Refactor

#14560 Code Standardisation - Language.Dm
  code/_globalvars/lists/names.dm
  code/modules/mob/language.dm
Labels: Code Improvement

#14617 Makes mindscan and remotetalk logged using SAY_LOG
  code/game/dna/genes/vg_powers.dm
Labels: Administration

#14611 The skrell buff we really needed
  code/modules/surgery/organs/subtypes/skrell.dm
Labels: Balance

#14610 Culinary QoL update
  code/game/jobs/job/support.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/paperwork/paper.dm
  icons/mob/belt.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/kitchen.dmi
Labels: Feature

#14619 Fixes 2 kingstons bugs, adds diona to advanced kingstons
  code/datums/diseases/kingstons.dm
Labels: Tweak

#14499 Adds reagent vision to Service, Medical, ERT, DS, and Destroyer cyborgs
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak

#14509 Refactors how targeted changeling stings are handled
  code/_onclick/click.dm
  code/_onclick/click_override.dm
  code/datums/click_intercept.dm
  code/datums/mind.dm
  code/game/gamemodes/changeling/changeling_power.dm
  code/game/gamemodes/changeling/powers/tiny_prick.dm
Labels: Refactor

#14504 Changes the emag effect and telepad selection for Rapid Crate Senders
  code/modules/telesci/rcs.dm
Labels: Tweak

#14474 Re-adds back CQC to the traitor uplink
  code/datums/uplink_item.dm
  code/modules/martial_arts/martial.dm
Labels: Balance, Tweak

#14396 Light fixture code cleanup & spooking
  code/modules/admin/topic.dm
  code/modules/power/lighting.dm
Labels: Documentation

#14636 [TGUI] AI Law Manager
  code/datums/ai_law_sets.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/silicon/subsystems.dm
  code/modules/nano/modules/law_manager.dm
  code/modules/tgui/modules/law_manager.dm
  nano/templates/law_manager.tmpl
  paradise.dme
  tgui/packages/tgui/interfaces/LawManager.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14400 Solar Flares
  code/controllers/subsystem/sun.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/solar_flare.dm
  code/modules/events/event_container.dm
  code/modules/events/solarflare.dm
  code/modules/power/apc.dm
  code/modules/power/solar.dm
  paradise.dme
Labels: Feature

#14542 IPC - Vomit Tweak
  code/modules/mob/living/carbon/carbon.dm
Labels: Tweak

#14639 [TGUI] Spacepod tracking
  code/game/machinery/computer/pod_tracking_console.dm
  code/modules/spacepods/equipment.dm
  code/modules/spacepods/spacepod.dm
  nano/templates/pod_tracking.tmpl
  tgui/packages/tgui/interfaces/PodTracking.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14168 Makes 'Plastic Surgery' names include held ID Cards
  code/modules/mob/living/carbon/human/human.dm
  code/modules/surgery/plastic_surgery.dm
Labels: Tweak

#14646 AFK cryoing and window flashing preferences are respected again
  code/__HELPERS/game.dm
  code/controllers/subsystem/afk.dm
Labels: Fix

#14649 [TGUI] DNA vault
  code/modules/station_goals/dna_vault.dm
  nano/templates/dna_vault.tmpl
  tgui/packages/tgui/interfaces/DnaVault.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14650 [TGUI] labor claim console + misc fixes
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/telesci/bscrystal.dm
  nano/templates/labor_claim_console.tmpl
  tgui/packages/tgui/interfaces/LaborClaimConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14652 Can no longer accidentally empty the whole smartfridge
  tgui/packages/tgui/interfaces/Smartfridge.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix

#14643 Foam darts should fall to the ground, not into nullspace.
  code/modules/projectiles/projectile/reusable.dm
Labels: Fix

#14660 Fixes a few oversights with TGUI Central Atmos
  code/datums/cache/air_alarm.dm
  code/game/machinery/alarm.dm
  code/modules/tgui/modules/atmos_control.dm
Labels: Fix

#14648 TGUI Mirrors + CMA
  code/game/objects/structures/mirror.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/tgui/modules/_base.dm
  code/modules/tgui/modules/appearance_changer.dm
  nano/templates/appearance_changer.tmpl
  paradise.dme
  tgui/packages/tgui/interfaces/AppearanceChanger.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14668 Disable debug message on get_valid_vent_spawns() parent being absent to prevent chat spam
  code/__HELPERS/game.dm
Labels: Fix, High Priority

#14669 Fixes recursive loop in client/Topic
  code/modules/client/client_procs.dm
Labels: Fix

#14670 Fix runtime in eyes_shine
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#14672 Remove redundant ghost_radio preference handler
  code/modules/client/preference/preferences.dm
Labels: Refactor

#14673 Fixes a runtime in the netherworld link
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
Labels: Fix

#14674 [TGUI] Shuttle Manipulator
  code/modules/shuttle/shuttle_manipulator.dm
  nano/templates/shuttle_manipulator.tmpl
  tgui/packages/tgui/interfaces/ShuttleManipulator.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14657 Heater/freezer now use power
  code/game/machinery/Freezer.dm
Labels: Tweak

#14635 Make floor painter UI nicer and move it to TGUI
  code/game/objects/items/devices/floor_painter.dm
  tgui/packages/tgui/components/Dropdown.js
  tgui/packages/tgui/interfaces/FloorPainter.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, Refactor, User Interface

#14514 Reduce Water Stun/Weaken Time
  code/game/turfs/simulated.dm
Labels: Balance

#14507 Fixes Wryn's tail and adds the ability to sting
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  icons/effects/species.dmi
  icons/mob/actions/actions.dmi
  icons/mob/body_accessory.dmi
Labels: Balance

#14677 Fixes ghosts unable to pass gateway
  code/controllers/configuration.dm
  code/modules/awaymissions/gateway.dm
Labels: Fix

#14683 [TGUI] EFTPOS
  code/modules/economy/EFTPOS.dm
  nano/templates/eftpos.tmpl
  tgui/packages/tgui/interfaces/EFTPOS.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14656 A variety of minor food related fixes and tweaks
  code/game/objects/items/weapons/RSF.dm
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  code/modules/food_and_drinks/food/foods/bread.dm
  code/modules/food_and_drinks/food/foods/desserts.dm
  code/modules/food_and_drinks/food/foods/misc.dm
  code/modules/food_and_drinks/food/foods/pasta.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
  code/modules/food_and_drinks/food/foods/seafood.dm
  code/modules/food_and_drinks/food/foods/side_dishes.dm
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  code/modules/reagents/chemistry/recipes/food.dm
  icons/obj/food/food.dmi
Labels: Tweak

#14640 ERT Commander Rework
  code/game/objects/items/devices/camera_bug.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/response_team/ert_outfits.dm
Labels: Balance

#14406 PR - Gender Update
  code/__DEFINES/dna.dm
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/organs/organ_icon.dm
Labels: Refactor, Tweak

#14348 Adds a number of new implants
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: Balance, Feature

#14684 Removes lag for admins connecting at roundstart
  code/modules/mob/new_player/new_player.dm
Labels: Fix

#14685 Adds user logging for emitter deletions + Fixes lobby tab
  code/modules/mob/new_player/new_player.dm
  code/modules/power/singularity/emitter.dm
Labels: Feature

#14688 Fixes being able to toggle fire alarms without 'Advanced Admin Interaction' enabled
  code/game/machinery/firealarm.dm
Labels: Fix

#14576 Added holostools and actually mapped holo furniture
  _maps/map_files/cyberiad/z2.dmm
  code/game/machinery/computer/HolodeckControl.dm
Labels: General Map, Map Edit

#14686 [TGUI] TachyonArray/doppler array
  code/game/machinery/doppler_array.dm
  nano/templates/doppler_array.tmpl
  tgui/packages/tgui/interfaces/TachyonArray.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14689 Makes revenants not able to interact with TGUI interfaces
  code/modules/tgui/states/default.dm
  code/modules/tgui/states/hands.dm
  code/modules/tgui/states/physical.dm
Labels: Fix

#14663 Makes the healing guardian not take more damage in healing mode
  code/game/gamemodes/miniantags/guardian/types/healer.dm
Labels: Balance

#14662 Makes ablative armor always have a chance to reflect lasers
  code/modules/clothing/suits/armor.dm
Labels: Balance

#14661 Gives syndicate consoles syndicate bubbles
  code/game/machinery/computer/depot.dm
  code/game/machinery/computer/syndicate_specops_shuttle.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/shuttle/syndicate.dm
Labels: Tweak

#14644 Gives beanies to vox
  code/modules/clothing/head/beanie.dm
  icons/mob/species/vox/head.dmi
Labels: Feature, Sprites

#14678 Update Satellite Control to TGUI
  code/modules/station_goals/shield.dm
  nano/templates/sat_control.tmpl
  tgui/packages/tgui/interfaces/SatelliteControl.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface

#14692 Sets correct sprite for the white east facing beanie
  icons/mob/species/vox/head.dmi
Labels: Fix

#14695 [SPEEDMERGE] Fixes TGUI login exploit
  code/modules/tgui/plugins/login.dm
Labels: Exploit, Fix, High Priority, Security

#14697 [TGUI] Accounts Uplink Terminal
  code/modules/economy/Accounts.dm
  code/modules/economy/Accounts_DB.dm
  nano/templates/accounts_terminal.tmpl
  tgui/packages/tgui/interfaces/AccountsUplinkTerminal.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/AccountsUplinkTerminal.scss
  tgui/packages/tgui/styles/main.scss
Labels: Refactor, TGUI, User Interface

#14700 [TGUI] Crafting
  code/modules/crafting/craft.dm
  code/modules/mob/living/carbon/human/human.dm
  nano/templates/personal_crafting.tmpl
  tgui/packages/tgui/interfaces/PersonalCrafting.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, User Interface

#14702 [TGUI] RPD
  code/game/objects/items/weapons/rpd.dm
  nano/templates/rpd.tmpl
  tgui/packages/tgui/interfaces/RPD.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, User Interface

#14701 Removed a bunch of stray pixels from pipe-item.dmi
  icons/obj/pipe-item.dmi
Labels: Fix, Sprites
