Repository ParadiseSS13/Paradise, pull requests merged in 2020-07, with the labels that each got.

#13720 Add ability to VV an object's armor easily
  code/datums/datumvars.dm
  code/game/objects/objs.dm
Labels: Administration, Fix

#13606 clean_blood refactor
  code/game/atoms.dm
  code/game/objects/structures/watercloset.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Refactor

#13730 Removes isSynthetic() helper, replaces its instances with ismachineperson()
  code/__DEFINES/mobs.dm
  code/_onclick/observer.dm
  code/datums/diseases/critical.dm
  code/game/gamemodes/changeling/powers/tiny_prick.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/jobs/job/support.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs/blood.dm
  code/modules/surgery/organs/organ_icon.dm
Labels: Code Improvement

#13743 Fixes note search log + Minor TGUI fix
  code/modules/admin/sql_notes.dm
  code/modules/tgui/modules/crew_monitor.dm
Labels: Fix

#13745 Fixes Lighting
  code/modules/lighting/lighting_source.dm
Labels: Fix

#13754 Fixes typo in TGUI tutorial docs
  tgui/docs/tutorial-and-examples.md
Labels: Fix

#13746 Prevent swarmers from eating the podbay energy barrier
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
Labels: Fix

#13757 bugfix, prevents every accessory from pretending to be a lawyers badge
  code/modules/clothing/under/accessories/accessory.dm
Labels: Fix, oops

#13759 Fixes typos in space pod action text and a hat description
  code/modules/clothing/head/soft_caps.dm
  code/modules/spacepods/spacepod.dm
Labels: Grammar and Formatting

#13756 Obliterates Zombies
  code/__DEFINES/genetics.dm
  code/__DEFINES/is_helpers.dm
  code/_globalvars/lists/objects.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/zombies.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/shuttle/emergency.dm
  code/modules/zombie/items.dm
  code/modules/zombie/organs.dm
  icons/mob/human_races/r_def_zombie.dmi
  icons/mob/human_races/r_zombie.dmi
  paradise.dme
Labels: Revert/Feature Removal

#13763 Makes blobs not add new_players to the HUD list. Fixing AHUD
  code/game/gamemodes/blob/blob.dm
Labels: Fix

#13761 Fixes borgs being given to the last AI and a runtime
  code/__HELPERS/unsorted.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#13749 No Destroying Things Directly
  code/datums/components/ducttape.dm
Labels: Fix

#13742 Fixes Mob Init Arguments and Returned Values
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/mob.dm
Labels: Fix

#13747 Makes New Players GC
  code/ATMOSPHERICS/atmospherics.dm
  code/__HELPERS/game.dm
  code/__HELPERS/unique_ids.dm
  code/_globalvars/misc.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/ticker.dm
  code/game/atoms_movable.dm
  code/game/machinery/tcomms/_base.dm
  code/game/objects/items/stacks/stack.dm
  code/game/verbs/who.dm
  code/game/world.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/debug.dm
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  code/modules/events/dust.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/mob/emote.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_transformation_simple.dm
  code/modules/mob/new_player/new_player.dm
Labels: Fix, Performance, Refactor

#13773 Fixes SR spawning mobs in nullspace instead of hydroponics trays
  code/modules/hydroponics/hydroponics.dm
Labels: Fix

#13770 Further New Player GC Fixes
  code/datums/mind.dm
  code/modules/mob/new_player/new_player.dm
Labels: Fix, Performance

#13782 Fixes incorrect APC terminal orientation
  code/modules/power/apc.dm
Labels: Fix

#13615 change tech requirement for xray implant
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_eyes.dm
Labels: Balance

#13617 Adds the option to randomize an objective when changing or adding an objective
  code/datums/mind.dm
Labels: Administration

#13577 Gives the Chef the CQC manual as a traitor item
  code/datums/uplink_item.dm
  code/modules/martial_arts/martial.dm
Labels: Feature

#13744 Tweak, Added wrench_act to slot machines, so that they can be moved by the crew
  code/game/machinery/slotmachine.dm
Labels: Feature

#13725 Genetics DNA Modifier Fixes
  code/game/dna/dna_modifier.dm
Labels: Fix

#13326 Lowers max charges and recharge time for Staff of Slipping
  code/modules/projectiles/guns/magic/staff.dm
Labels: Balance

#13758 bugfix: drones opening or closing lockers while ventcrawling
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#13793 Fixes Cable GC Issues
  code/controllers/subsystem/machinery.dm
Labels: Fix, Performance

#13709 Makes maint drones not have a camera
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
Labels: Balance

#13697 Add pAI and Ghost Spawns buttons for ghosts
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  icons/mob/screen_ghost.dmi
Labels: Feature

#13767 Allows clients to reload their UI assets
  code/controllers/subsystem/tickets/tickets.dm
  code/datums/datumvars.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/toggledebugverbs.dm
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  code/modules/mob/mob.dm
Labels: User Interface

#13791 Makes Ice Cream GC
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  code/modules/food_and_drinks/food/foods/desserts.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat_2.dm
  icons/obj/kitchen.dmi
  paradise.dme
Labels: Fix, Map Edit, Performance

#13795 Optimizes Smoking
  code/game/objects/items/weapons/cigs.dm
Labels: Performance

#13781 Fixes timings
  code/__HELPERS/time.dm
Labels: Fix

#13696 Scoreboard: Score and Rating Cleanup
  code/game/gamemodes/scoreboard.dm
Labels: Fix

#13803 Make the request AI use UID instead of \ref
  code/game/machinery/hologram.dm
Labels: Fix

#13798 Fixes cling eyes runtiming if you lack eyes
  code/game/gamemodes/changeling/powers/augmented_eyesight.dm
Labels: Fix

#13801 Notify admins when AI core is created
  code/game/machinery/computer/ai_core.dm
Labels: Fix

#13804 Removes semicolons
  code/ATMOSPHERICS/pipes/simple/pipe_simple.dm
  code/controllers/subsystem/tickets/mentor_tickets.dm
  code/datums/helper_datums/construction_datum.dm
  code/game/area/areas/depot-areas.dm
  code/game/dna/dna_modifier.dm
  code/game/gamemodes/miniantags/guardian/types/healer.dm
  code/game/jobs/job_scaling.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/cryo.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/requests_console.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/structures/foodcart.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/events/money_hacker.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/new_player/poll.dm
  code/modules/nano/nanomapgen.dm
  code/modules/nano/subsystem.dm
  code/modules/paperwork/photography.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/shuttle/emergency.dm
Labels: Fix

#13797 Fix syringe gun chambering weirdness
  code/modules/projectiles/guns/syringe_gun.dm
Labels: Fix

#13789 Adds proc call security
  code/__HELPERS/unsorted.dm
  code/controllers/configuration.dm
  code/datums/datumvars.dm
  code/defines/procs/dbcore.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/debug.dm
  code/modules/research/message_server.dm
Labels: Administration

#13760 bugfix syndicate bomb not triggering defuse properly
  code/datums/wires/syndicatebomb.dm
  code/game/machinery/syndicatebomb.dm
Labels: Fix

#13812 Fixes Alien Larva Being Unconscious by Default
  code/modules/mob/living/carbon/alien/larva/life.dm
Labels: Fix

#13632 The elephant: Ruin + Whiteship rework
  _maps/__MAP_DEFINES.dm
  _maps/cyberiad.dm
  _maps/delta.dm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedtele.dmm
  _maps/map_files/RandomRuins/SpaceRuins/blowntcommsat.dmm
  _maps/map_files/RandomRuins/SpaceRuins/clownmime.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/druglab.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiedepot.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_tele.dmm
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z6.dmm
  _maps/map_files/generic/space.dmm
  _maps/map_files/generic/tcommsat-blown.dmm
  _maps/map_files/generic/z6.dmm
  _maps/map_files/generic/z7.dmm
  _maps/metastation.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/mapping.dm
  code/datums/ruins/space.dm
  code/game/area/Space Station 13 areas.dm
  code/modules/shuttle/shuttle.dm
  config/example/config.txt
  config/example/spaceRuinBlacklist.txt
Labels: Feature, Map Edit

#13634 Ports HoP Ticket machine from tg
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/paperwork/ticketmachine.dm
  icons/obj/bureaucracy.dmi
  paradise.dme
  sound/misc/announce_dig.ogg
Labels: Feature, Map Edit

#13819 Makes Ticket Machine Use Soft Refs
  code/modules/paperwork/ticketmachine.dm
Labels: Refactor

#13701 Standardizes Holodeck
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/computer/HolodeckControl.dm
Labels: Boxstation, Map Edit

#13783 Lavaland Atmos Fixes
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_envy.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pride.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_survivalpod.dmm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/floor/misc_floor.dm
Labels: Fix, Map Edit

#13727 Ports delta shuttle to cyberiad
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  _maps/map_files/shuttles/emergency_cyb.dmm
  _maps/map_files/shuttles/emergency_old.dmm
Labels: Boxstation, Map Edit

#13821 Ticket Machine Fixes
  code/modules/paperwork/ticketmachine.dm
Labels: Fix

#13502 HOOKS ARE DEAD
  code/__DEFINES/subsystems.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/mapping.dm
  code/_globalvars/misc.dm
  code/controllers/hooks-defs.dm
  code/controllers/hooks.dm
  code/controllers/subsystem/icon_smooth.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/titlescreen.dm
  code/datums/datacore.dm
  code/game/area/Space Station 13 areas.dm
  code/game/jobs/job_scaling.dm
  code/game/jobs/whitelist.dm
  code/game/turfs/turf.dm
  code/game/world.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/admin_investigate.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/banjob.dm
  code/modules/client/preference/loadout/loadout.dm
  code/modules/events/holidays/AprilFools.dm
  code/modules/events/holidays/Christmas.dm
  code/modules/events/holidays/Easter.dm
  code/modules/events/holidays/Holidays.dm
  code/modules/library/lib_machines.dm
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/surgery/organs/robolimbs.dm
  paradise.dme
Labels: Refactor

#13824 More Tcomms Fixes
  _maps/map_files/RandomRuins/SpaceRuins/blowntcommsat.dmm
  code/game/machinery/tcomms/core.dm
  code/game/machinery/tcomms/relay.dm
Labels: Fix

#13633 Fixes being able to 'stack' repairs on mechs
  code/game/mecha/mecha.dm
Labels: Fix

#13806 Fixes drift on projectiles firing west
  code/modules/projectiles/projectile.dm
Labels: Fix

#13721 Makes Chicken Man statues in Mr. Chang's into real statues
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/statues.dm
  icons/obj/decorations.dmi
  icons/obj/statue.dmi
Labels: Boxstation, Map Edit, Metastation, Refactor, Tweak

#13599 NanoMaps GitHub Action
  .github/workflows/render_nanomaps.yml
  README.md
  code/modules/admin/verbs/toggledebugverbs.dm
  code/modules/nano/nanomapgen.dm
  nano/layouts/layout_default.tmpl
  nano/layouts/layout_program.tmpl
  nano/templates/atmos_control_map_header.tmpl
  nano/templates/sec_camera_map_header.tmpl
  paradise.dme
  tools/github-actions/README.MD
  tools/github-actions/nanomap-renderer
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: Refactor

#13829 Fix damage overlay showing up when hit with 0 damage
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Fix

#13680 Add character slot clearing
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
Labels: Feature

#13753 Gives the L.W.A.P in-hand sprites; Some tweaks to the gun, and the "toggle scope" action button
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/special.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
Labels: Refactor, Sprites

#13645 Refactor dmm_suite for readability
  code/datums/helper_datums/map_template.dm
  code/modules/awaymissions/maploader/dmm_suite.dm
  code/modules/awaymissions/maploader/reader.dm
  code/modules/awaymissions/maploader/writer.dm
Labels: Refactor

#13576 Fixes wizards on ragin mages being able to buy restricted spells
  code/__DEFINES/gamemode.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/gamemodes/wizard/wizloadouts.dm
Labels: Fix

#12687 Adds the airlock painter
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/objects/items/devices/airlock_painter.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/device.dmi
  paradise.dme
Labels: Feature, Map Edit, Sprites

#13785 Added security counter to check antags panel
  code/__HELPERS/mobs.dm
  code/modules/admin/player_panel.dm
Labels: Administration

#13799 Makes borgs (dis)connect properly to the AI. Fixing invisible borgs for the AI and a runtime or more
  code/datums/wires/robot.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Fix

#13818 Janiborgs can no longer clean while dead
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Tweak

#13831 Removes some unused vars and a proc from minds
  code/datums/mind.dm
  code/game/objects/items/devices/megaphone.dm
  code/modules/mob/living/carbon/human/say.dm
Labels: Code Improvement

#13832 Fix bug that allows loading an additional syringe to syringe guns
  code/modules/projectiles/guns/syringe_gun.dm
Labels: Fix

#13779 Headcrab Cycle Fix
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Fix

#13839 Airlock painter fixes
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
Labels: Fix

#13847 Removes duplicate helper
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/vote.dm
  code/defines/procs/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminsay.dm
Labels: Code Improvement

#13850 Fixes a comment which made my highlights go insane
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix

#13852 Spelling mistake correction
  code/modules/mob/living/carbon/human/examine.dm
Labels: Grammar and Formatting

#13861 Allows players to pick body accessories again
  code/__HELPERS/global_lists.dm
Labels: Fix

#13864 Fixes admin ghost ert shuttle issue
  code/modules/shuttle/ert.dm
Labels: Fix

#13853 Makes it so only one theta station can spawn
  code/datums/ruins/space.dm
Labels: Fix

#13827 Makes job gear have no overlap cost in loadout
  code/modules/client/preference/loadout/loadout_accessories.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/client/preference/loadout/loadout_suit.dm
Labels: Feature, Tweak

#13712 Fix command Admin, Secrets, Debug, Make all areas powered
  code/modules/events/apc_short.dm
Labels: Administration, Fix

#13868 Fixes a kitchen spike runtime
  code/game/objects/structures/kitchen_spike.dm
Labels: Fix

#13882 Removes MORE hardcoded zlevel numbers
  code/game/turfs/simulated/minerals.dm
  code/modules/events/sentience.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Fix

#13867 Meat hook infinite hitting fix
  code/datums/beam.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: Fix

#13871 fixes certain items unable to light plasma sheets
  code/game/objects/items/stacks/sheets/mineral.dm
Labels: Fix

#13872 Fixes sparks not checking for deletion
  code/game/objects/effects/effect_system/effect_system.dm
Labels: Fix

#13875 Fixes null mind runtimes with roasry nullrod
  code/game/objects/items/weapons/holy_weapons.dm
Labels: Fix

#13878 Adds appropriate attribution to nanomap rendering
  tools/github-actions/README.MD
Labels: Documentation

#13880 Tcomms fixes and tweaks
  code/game/machinery/tcomms/_base.dm
  code/game/machinery/tcomms/core.dm
  code/game/machinery/tcomms/relay.dm
Labels: Administration, Fix

#13885 Gives thralls their actual masters name in the objective description
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: Tweak

#13854 Fix player controlled simple animals still moving under AI pathing after a player takes control
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#13860 Adds boxing glove crate
  code/datums/supplypacks.dm
Labels: Feature

#13811 Build time for aquariums
  code/game/objects/items/stacks/sheets/glass.dm
Labels: Tweak

#13833 Refactors matter decompiler and adds some missing trash to the list
  code/game/atoms_movable.dm
  code/game/objects/effects/decals/remains.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/shards.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/hydroponics/grown.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/power/lighting.dm
  code/modules/reagents/reagent_containers/bottle.dm
Labels: Refactor

#13691 Makes for loops use GLOB.human_list. Should improve performance a bit. Fixes blood contract affecting dead crew
  code/__HELPERS/mobs.dm
  code/controllers/subsystem/afk.dm
  code/datums/diseases/advance/advance.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/scoreboard.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/objects/effects/manifest.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/events/mass_hallucination.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mining/lavaland/loot/bubblegum_loot.dm
  code/modules/tgui/modules/crew_monitor.dm
Labels: Refactor

#13673 Fixes brainless cyborgs, Removes "Android" alt job title for cyborgs
  code/game/jobs/job/silicon.dm
  code/modules/mob/transform_procs.dm
Labels: Revert/Feature Removal, SQL Change

#13874 Terror spider event types now depend on server pop
  code/modules/events/spider_terror.dm
Labels: Balance

#13604 Replaces two malf AI verbs with action buttons, gets rid of the malfunction verb tab
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/power/apc.dm
  icons/mob/actions/actions.dmi
Labels: Refactor

#13903 SM & TEG cargo crate appearance
  code/datums/supplypacks.dm
Labels: Fix

#13906 Fixes admin "call shuttle" verb ignoring station alert level
  code/modules/admin/verbs/randomverbs.dm
Labels: Fix

#13895 You can no longer teleport to lavaland by walking out of a shuttle
  _maps/cyberiad.dm
  _maps/delta.dm
  _maps/metastation.dm
  code/game/turfs/space/transit.dm
  code/modules/space_management/level_traits.dm
Labels: Fix

#13915 Fixes a dupe with wet leather
  code/game/objects/items/stacks/sheets/leather.dm
Labels: Fix

#13911 Fix lipsticks
  code/game/objects/items/weapons/cosmetics.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/human_face.dmi
  icons/obj/items.dmi
Labels: Fix

#13917 Fixes Ash Walker bonfire.
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
Labels: Fix, Map Edit

#13913 Makes it so all space ruins are correctly mapped
  _maps/map_files/RandomRuins/SpaceRuins/asteroid1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid3.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid4.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict3.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict4.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/emptyshell.dmm
  _maps/map_files/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/map_files/RandomRuins/SpaceRuins/intactemptyship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/listeningpost.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/turretedoutpost.dmm
  _maps/map_files/RandomRuins/SpaceRuins/way_home.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
Labels: Fix, Map Edit

#13910 Removes dead link in repository description
  README.md
Labels: Administration

#13905 Adds book DRM
  code/game/objects/items/weapons/manuals.dm
  code/modules/library/computers/checkout.dm
  code/modules/library/lib_items.dm
  code/modules/library/lib_machines.dm
Labels: Feature

#13904 Fixes usage of standalone logo in papers
  code/__HELPERS/text.dm
Labels: Fix

#13920 Minor subsystem tweaks
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/nano_mob_hunter.dm
  code/controllers/subsystem/processing/dcs.dm
  paradise.dme
Labels: Code Improvement

#13929 Fixes wizard spell availability
  code/game/gamemodes/wizard/spellbook.dm
Labels: Fix

#13930 Fixes a runtime with teleporters
  code/game/machinery/teleporter.dm
Labels: Fix

#13931 Adds missing offline implications
  code/controllers/subsystem.dm
  code/controllers/subsystem/processing/dcs.dm
  code/controllers/subsystem/processing/fastprocess.dm
  code/controllers/subsystem/processing/obj.dm
  code/controllers/subsystem/processing/processing.dm
  code/controllers/subsystem/tickets/mentor_tickets.dm
  code/controllers/subsystem/tickets/tickets.dm
Labels: Administration

#13932 Fixes revenants not being able to see themselves
  code/game/gamemodes/miniantags/revenant/revenant.dm
Labels: Fix

#13928 Ticket Machine Improvements
  code/modules/paperwork/ticketmachine.dm
Labels: Fix

#13945 Removes some non ASCII characters
  code/modules/customitems/item_defines.dm
Labels: Code Improvement

#13949 Replaces all "var " with "var/"
  code/game/gamemodes/miniantags/borer/borer.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/computer/depot.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/RSF.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/events/slaughterevent.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/new_player/poll.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Code Improvement

#13965 Fixes [DREAMER] message in dreams.
  code/modules/flufftext/Dreaming.dm
  config/names/dreams.txt
  config/names/nightmares.txt
Labels: Fix

#13970 Solar tracker deconstruction fix
  code/modules/power/tracker.dm
Labels: Fix

#13966 Fixes sec bots from causing a runtime warning that they spawned in null space
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: Fix

#13960 Makes image on cult talismans appear again.
  code/game/gamemodes/cult/talisman.dm
Labels: Fix

#13959 Removes ToR Ban
  code/controllers/configuration.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/ToRban.dm
  code/modules/admin/admin_verbs.dm
  config/example/config.txt
  paradise.dme
Labels: Code Improvement

#13947 Fix faction error in listeningpost.dmm
  _maps/map_files/RandomRuins/SpaceRuins/listeningpost.dmm
Labels: Fix, Map Edit

#13937 Depot Perimeter Shields Tweak
  code/game/machinery/computer/depot.dm
Labels: Tweak

#13927 Adds missing and improves existing mech attack logging
  code/__HELPERS/mobs.dm
  code/game/mecha/mecha.dm
Labels: Administration

#13923 Unit Test For Invalid Map Templates
  code/datums/shuttles.dm
  code/modules/awaymissions/maploader/reader.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/map_templates.dm
Labels: Administration
