Repository ParadiseSS13/Paradise, pull requests merged in 2020-06, with the labels that each got.

#13526 You won't hit an airlock now when using a wirecutter on it while the panel is open
  code/game/machinery/doors/airlock.dm
Labels: Fix

#13516 Cleans up some awful code from the ticker
  code/controllers/subsystem/statistics.dm
  code/controllers/subsystem/ticker.dm
  code/defines/procs/statistics.dm
  paradise.dme
Labels: Refactor

#13513 Fixes the virus outbreak event from not being able to generate "normal" viruses. Also the naming is fixed
  code/datums/diseases/_MobProcs.dm
  code/modules/events/disease_outbreak.dm
Labels: Fix

#13535 [s] Patches a hole
  code/modules/admin/player_panel.dm
Labels: Administration, Exploit, High Priority, Security

#13536 Various Life Refactor Fixes
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/objects/items/weapons/scrolls.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/recycling/disposal.dm
Labels: Fix

#13539 Fix AI say logging and cult logging
  code/game/gamemodes/cult/cult_comms.dm
  code/modules/mob/living/say.dm
Labels: Administration, Fix

#13543 Terror queens that evolve from princesses will now be able to see their medhud properly
  code/modules/mob/living/simple_animal/hostile/terror_spiders/princess.dm
Labels: Fix

#13519 Make light_constructs use X_acts. Fixes a runtime
  code/modules/power/lighting.dm
Labels: Refactor

#13528 Renames the old station Delta wing to Theta
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
Labels: Tweak

#13504 Fixes the cloning pod turning invisible when you use a screwdriver on it
  code/game/machinery/cloning.dm
  code/game/objects/effects/misc.dm
  icons/obj/cloning.dmi
Labels: Fix, Sprites

#13532 Removes something which shouldnt really exist here
  code/modules/client/preference/preferences_mysql.dm
  code/modules/mob/living/carbon/human/body_accessories.dm
  icons/mob/body_accessory_64.dmi
Labels: Revert/Feature Removal

#13507 Cyborgs can't look inside storage containers with alt-click anymore
  code/game/objects/items/weapons/storage/storage.dm
Labels: Fix

#13469 Karma menu update
  code/modules/karma/karma.dm
Labels: User Interface

#13490 Gives flashes and cameras a light flash
  code/game/machinery/flasher.dm
  code/game/objects/items/devices/flash.dm
  code/modules/paperwork/photography.dm
Labels: Tweak

#13514 Changes the changelings absorb objective description to be more clear
  code/game/gamemodes/changeling/powers/spiders.dm
  code/game/gamemodes/objective.dm
Labels: Tweak

#13117 Rework power outage event
  code/modules/events/apc_overload.dm
  code/modules/events/apc_short.dm
  code/modules/events/event_container.dm
  code/modules/events/grid_check.dm
  code/modules/power/apc.dm
  code/modules/power/smes.dm
  paradise.dme
  sound/AI/apc_overload.ogg
  sound/AI/apc_short.ogg
Labels: Balance, Feature

#13332 Improves / Reworks Dark Gygax for Nuke Ops
  code/game/mecha/combat/gygax.dm
Labels: Balance

#13524 Programmatic Profiler Access
  .gitignore
  code/game/world.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
Labels: Administration

#12842 AFK subsystem now also despawns certain antags. message_admins replaced with log_admins. Better feedback on enabling
  code/controllers/subsystem/afk.dm
  code/modules/client/preference/preferences.dm
Labels: Administration, Merge Conflict, Tweak

#13555 Fixes karma shop
  code/modules/karma/karma.dm
Labels: Fix

#13556 Personal closet fix, makes it respect nodrop
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
Labels: Fix

#13534 Organ processing performance
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Performance, Refactor, Tweak

#13564 Dramatically Cuts Object Processing Down
  code/game/objects/items/tools/welder.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  paradise.dme
Labels: Performance, Refactor

#13561 Fixes Excessive PDA Creation
  code/game/machinery/PDApainter.dm
  code/modules/clothing/chameleon.dm
Labels: Fix, Performance, Refactor

#13563 Fixes Epilepsy Having Epilepsy
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/vg_powers.dm
Labels: Fix

#13562 Fixes Vampire Vision
  code/game/gamemodes/vampire/vampire.dm
Labels: Fix

#13487 NanoUI Brig Timers
  code/game/machinery/doors/brigdoors.dm
  nano/templates/brig_timer.tmpl
Labels: User Interface

#13568 Fixes Shoe Shackle Handcuff Upgrading
  code/modules/clothing/shoes/colour.dm
Labels: Fix

#13572 Gamebreaking bug fix immediately
  code/controllers/subsystem.dm
Labels: Fix, High Priority

#13580 [s] Fixes Ghost Exploit
  code/modules/shuttle/supply.dm
Labels: Exploit, Fix, High Priority

#13586 Fixes an issue with personal closets
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
Labels: Fix

#13582 Cuts down on Pointless Status Effect Processing
  code/datums/status_effects/status_effect.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining/mining.dm
Labels: Performance, Refactor

#13571 Fixes the mech repair droid being undetachable from mechs
  code/game/mecha/equipment/tools/other_tools.dm
Labels: Fix

#13589 Brigtimer runtime fix
  code/game/machinery/doors/brigdoors.dm
Labels: Fix

#12853 Makes tanks dispensed from tank storage units get placed into your hands
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  code/game/objects/structures/tank_dispenser.dm
Labels: Refactor, Tweak

#13552 Fixes the steal objective from runtiming
  code/game/gamemodes/objective.dm
Labels: Fix

#13558 Adds the slippery component
  code/__DEFINES/inventory.dm
  code/datums/components/slippery.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/grenades/clowngrenade.dm
  code/game/objects/items/weapons/soap.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/pda/pdas.dm
  paradise.dme
Labels: Refactor

#13595 Updates nano dependencies
  nano/assets/libraries.min.js
  nano/assets/nano.js
  nano/assets/nanoui.css
  nano/package-lock.json
  nano/package.json
Labels: Refactor

#12891 Adds IPC plushie and toast, toast is made via IPC plushie.
  code/game/objects/items/toys.dm
  code/modules/food_and_drinks/food/foods/bread.dm
  icons/obj/food/food.dmi
  icons/obj/toy.dmi
Labels: Feature, Merge Conflict, Sprites

#13622 Fixes shuttle exploit
  code/modules/shuttle/shuttle.dm
Labels: Fix, High Priority

#13624 minor fix
  code/game/objects/items/toys.dm
Labels: Fix

#13608 Removes references to console screens and removes an unnecessary var from circuitboards
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
Labels: Grammar and Formatting

#13611 Removes Non-existent docking port from Delta
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit

#13605 Correcting Welder Messages on the Field Generator.
  code/modules/power/singularity/field_generator.dm
Labels: Fix

#13594 Updates Components
  code/__DEFINES/components.dm
  code/__DEFINES/dcs/flags.dm
  code/__DEFINES/dcs/helpers.dm
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/traits.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/dcs.dm
  code/datums/action.dm
  code/datums/components/README.md
  code/datums/components/_component.dm
  code/datums/components/decal.dm
  code/datums/components/edit_complainer.dm
  code/datums/components/jestosterone.dm
  code/datums/components/label.dm
  code/datums/components/waddling.dm
  code/datums/elements/_element.dm
  code/datums/elements/waddling.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/recycler.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/toys.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/mint.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/simple_animal/friendly/penguin.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/research/experimentor.dm
  code/modules/research/rdmachines.dm
  code/modules/space_management/zlevel_manager.dm
  code/modules/surgery/organs/organ_internal.dm
  paradise.dme
Labels: Refactor

#13384 Explorer Transfers
  code/__DEFINES/job.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/support.dm
  code/game/jobs/jobs.dm
  code/game/machinery/computer/card.dm
  code/modules/client/preference/preferences.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  icons/mob/hud.dmi
Labels: Feature, Sprites

#13629 Fixes a Couple of Components Things
  code/datums/components/README.md
  code/game/objects/items/toys.dm
Labels: Fix, Grammar and Formatting

#13616 Fix HUDs taking parent atom's color
  code/modules/mob/mob.dm
Labels: Fix

#13618 Ports TGs way of handling bullet_act on shooting targets. Should fix the armory crash
  code/game/objects/items/shooting_range.dm
Labels: Fix, Refactor

#13630 Minor refactor to wireless eguns
  code/modules/awaymissions/mission_code/UO71-terrorspiders.dm
Labels: Refactor

#13623 Fixes Shadowling darksight not giving night vision when toggled
  code/game/gamemodes/changeling/powers/augmented_eyesight.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/modules/mob/living/carbon/human/species/shadow.dm
  code/modules/mob/mob.dm
  code/modules/surgery/other.dm
Labels: Fix, Refactor

#13627 Fixes No Slip Shoes
  code/datums/components/slippery.dm
Labels: Fix

#13620 Fixes Unhackable Smartfridges
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Fix

#13591 Resolves some Reagent Runtimes
  code/modules/reagents/chemistry/reagents/alcohol.dm
Labels: Fix

#13651 Bumps to DreamChecker 1.4
  _build_dependencies.sh
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/weather.dm
  code/datums/diseases/advance/advance.dm
  code/datums/wires/wires.dm
  code/game/data_huds.dm
  code/game/gamemodes/miniantags/abduction/machinery/experiment.dm
  code/game/jobs/access.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/syndicate_specops_shuttle.dm
  code/game/machinery/machinery.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/uplinks.dm
  code/game/objects/items/mixing_bowl.dm
  code/game/objects/items/toys.dm
  code/modules/buildmode/bm_mode.dm
  code/modules/client/preference/preferences.dm
  code/modules/food_and_drinks/drinks/bottler/bottler.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/modular_computers/computers/item/processor.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/nano/interaction/default.dm
  code/modules/power/smes.dm
  code/modules/shuttle/navigation_computer.dm
  dreamchecker.exe
Labels: Refactor

#13646 Removes Set Background
  code/__HELPERS/game.dm
  code/_compile_options.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/structures/aliens.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/mob/living/silicon/ai/freelook/chunk.dm
  code/modules/power/singularity/narsie.dm
  code/modules/power/singularity/singularity.dm
  code/modules/procedural_mapping/mapGenerator.dm
Labels: Performance

#13654 Check antagonists panel fix for wizard apprentices
  code/modules/admin/player_panel.dm
Labels: Administration, Fix

#13593 Lighting Optimizations
  code/controllers/subsystem/lighting.dm
  code/game/atoms_movable.dm
  code/game/turfs/turf.dm
  code/modules/lighting/lighting_corner.dm
  code/modules/lighting/lighting_object.dm
  code/modules/lighting/lighting_source.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/dead/dead.dm
  code/modules/shuttle/on_move.dm
Labels: Performance, Refactor

#13644 Master Controller Fixes
  code/__DEFINES/MC.dm
  code/controllers/globals.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
Labels: Fix

#13666 Fix sake makiroll recipe, "makiroll" -> "maki roll"
  code/modules/food_and_drinks/food/foods/seafood.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_table.dm
Labels: Fix

#13664 Adds missed fingerprints logging to papers and adds normal logging
  code/game/machinery/doors/airlock.dm
  code/modules/paperwork/paperbin.dm
Labels: Fix

#13662 Removes some old and broken features
  code/ATMOSPHERICS/components/binary_devices/dp_vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_scrubber.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/weapons/tools.dm
  code/game/world.dm
  code/hub.dm
  code/modules/atmos_automation/console.dm
  code/modules/atmos_automation/implementation/digital_valves.dm
  code/modules/atmos_automation/implementation/emitters.dm
  code/modules/atmos_automation/implementation/injectors.dm
  code/modules/atmos_automation/implementation/scrubbers.dm
  code/modules/atmos_automation/implementation/sensors.dm
  code/modules/atmos_automation/implementation/vent_pump.dm
  code/modules/atmos_automation/statements.dm
  code/modules/logic/converter.dm
  code/modules/logic/dual_input.dm
  code/modules/logic/logic_base.dm
  code/modules/logic/mono_input.dm
  code/modules/pda/app.dm
  code/modules/power/singularity/emitter.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/tram/tram.dm
  code/modules/tram/tram_control_pad.dm
  code/modules/tram/tram_floor.dm
  code/modules/tram/tram_rail.dm
  code/modules/tram/tram_wall.dm
  paradise.dme
Labels: Revert/Feature Removal

#13669 Kills off (hopefully) the last hardcoded zlevel ID
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/modules/research/message_server.dm
Labels: Fix, Map Edit

#13545 Nerfs Trashbags
  code/game/objects/items/weapons/storage/bags.dm
Labels: Balance, Fix

#13542 Hierophant Buff--Staff Nerf
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: Balance

#13583 Adds Swarming Component
  code/datums/components/swarming.dm
  code/game/atoms_movable.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/spiders.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_defense.dm
  code/modules/mob/living/carbon/alien/larva/larva_defense.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/spaceworms.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/posessed_object.dm
  paradise.dme
Labels: Balance, Feature

#13672 Fix carbon hitby proc not returning parent result
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#13557 Re-adds NTTC filtering
  code/game/machinery/tcomms/_base.dm
  code/game/machinery/tcomms/core.dm
  code/game/machinery/tcomms/nttc.dm
  nano/templates/tcomms_core.tmpl
Labels: Feature

#13515 Fixes the Changeling tentacle grab logging
  code/game/gamemodes/changeling/powers/mutations.dm
Labels: Administration, Fix

#13509 Ghosts can now hear guardian communication again
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Fix

#13677 Allows SSinput to recover after an MC crash
  code/controllers/subsystem/input.dm
Labels: Fix

#13676 Makes the assembly cooldown happen before it triggers. Stopping an infinite loop
  code/modules/assembly/assembly.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
Labels: Fix

#13679 Removes an unused proc
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/plant_genes.dm
Labels: Performance, Refactor

#13678 Adds whispering to the whisper verb
  code/modules/mob/living/say.dm
Labels: Administration

#13683 Adds Global Carbon and Human Lists
  code/_globalvars/lists/mobs.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Refactor

#13682 Slightly improves the speed at which the crew monitor gets its data
  code/datums/cache/crew.dm
Labels: Performance

#13602 Gas Mixture Refactor
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/ATMOSPHERICS/components/omni_devices/filter.dm
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/ATMOSPHERICS/components/unary_devices/tank.dm
  code/ATMOSPHERICS/components/unary_devices/vent_scrubber.dm
  code/ATMOSPHERICS/datum_pipeline.dm
  code/LINDA/LINDA_system.dm
  code/LINDA/LINDA_turf_tile.dm
  code/__DEFINES/misc.dm
  code/datums/gas_mixture.dm
  code/datums/helper_datums/teleport.dm
  code/game/gamemodes/miniantags/guardian/types/healer.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/buildmode/submodes/atmos.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/programs/engineering/sm_monitor.dm
  code/modules/procedural_mapping/mapGeneratorModules/helpers.dm
  code/modules/surgery/organs/lungs.dm
Labels: Map Edit, Performance, Refactor

#13663 Optimize memory usage by eliminating/changing some lists
  code/__HELPERS/lists.dm
  code/_globalvars/mapping.dm
  code/_onclick/hud/alert.dm
  code/datums/armor.dm
  code/game/atoms.dm
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/machinery/machinery.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/turf.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_armormod.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  paradise.dme
Labels: Performance

#13689 Structures Armor Fix
  code/game/objects/structures.dm
Labels: Fix

#13597 Brigtimer Runtime fix
  code/game/machinery/doors/brigdoors.dm
Labels: Fix

#13694 Fixes Spectral Blade
  code/_onclick/observer.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/paperwork/photography.dm
Labels: Fix, Refactor

#12988 Fixes welders blinding you when you repair robo-limbs and cyborgs
  code/game/machinery/OpTable.dm
  code/game/machinery/alarm.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/items/tools/tool_behaviour.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/structures/curtains.dm
  code/game/objects/structures/dresser.dm
  code/modules/crafting/craft.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/minebot.dm
  code/modules/power/apc.dm
Labels: Fix

#13076 Mountable frame bugfixes and minor refactor
  code/game/atoms.dm
  code/game/machinery/alarm.dm
  code/game/machinery/defib_mount.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/firealarm.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/mountable_frames/fire_alarm.dm
  code/game/objects/structures/extinguisher.dm
  code/modules/power/apc.dm
Labels: Fix, Refactor

#13353 Fixes #13348 - howls go trough duct tape. Vulp mimes will also mime howling using the *howl emote.
  code/modules/mob/living/carbon/human/emote.dm
Labels: Fix

#13405 Fixes airlocks that have panel shielding being un-repairable with a welder
  code/game/machinery/doors/airlock.dm
Labels: Fix

#13695 [SPEEDMERGE] Fixes master branch compiling
  code/datums/components/swarming.dm
Labels: Fix, High Priority, oops

#13435 Fixes shadowstep and knock admin attack log spam
  code/datums/spell.dm
  code/datums/spells/knock.dm
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: Fix

#13464 Refactor closet and RCS code. Can't put items in closets on modes other than help
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/telesci/rcs.dm
  code/modules/telesci/telepad.dm
  paradise.dme
Labels: Fix, Refactor

#13698 Improved note search
  code/modules/admin/sql_notes.dm
Labels: Administration

#13588 More fixes: Custodial Locator, e-swords, upside-down-itis and grabbing
  code/game/dna/dna_modifier.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/buckling.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/structures/kitchen_spike.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_grab.dm
  code/modules/pda/cart_apps.dm
  nano/templates/pda_janitor.tmpl
Labels: Fix

#13699 Fixes typo in NTTC.dm comments
  code/game/machinery/tcomms/nttc.dm
Labels: Grammar and Formatting

#13700 Fixes magic missing as armor value and safe codes not having armor
  code/datums/armor.dm
  code/game/objects/structures/safe.dm
Labels: Fix

#13685 Add Rite of Spellcheck for cult
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/cult/cult_comms.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_objectives.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/cult/talisman.dm
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
Labels: Grammar and Formatting

#13670 Tcomms rework tweaks
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  code/game/machinery/tcomms/_base.dm
  code/game/machinery/tcomms/core.dm
  code/game/machinery/tcomms/relay.dm
  code/modules/events/communications_blackout.dm
  nano/templates/tcomms_core.tmpl
Labels: Fix

#13692 Replaces the toSeconds and toMinutes procs with the defines
  code/__HELPERS/game.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/events.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/alarm/alarm.dm
  code/modules/events/ion_storm.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: Refactor

#13637 Fixes the non stopping projectile bug. Also removes the unused legacy bullet code
  code/modules/projectiles/projectile.dm
Labels: Fix

#13636 Removes Construction Site
  _maps/__MAP_DEFINES.dm
  _maps/cyberiad.dm
  _maps/delta.dm
  _maps/map_files/MetaStation/z4.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  _maps/map_files/cyberiad/z4.dmm
  _maps/map_files/generic/z4.dmm
  _maps/metastation.dm
  _maps/travis_map_testing.dm
  code/game/area/Space Station 13 areas.dm
  code/modules/arcade/mob_hunt/mob_datums.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
Labels: Map Edit, Revert/Feature Removal

#13675 Finishes out Reagent Container Refactor
  code/game/objects/items.dm
  code/modules/detective_work/footprints_and_rag.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
Labels: Fix, Refactor

#13667 CBD Runtime Fix
  code/modules/reagents/chemistry/reagents/drugs.dm
Labels: Fix

#13688 Floor Tile Memory Useage and Initialization
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/floor/light_floor.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_misc.dm
  code/modules/recycling/disposal.dm
Labels: Performance

#13661 Minor GC Tweaks
  code/game/atoms_movable.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/mob_movement.dm
Labels: Fix, Performance

#13331 Travis Update Finale: Unit Tests + SQL Validation
  .travis.yml
  SQL/updates/10-11.sql
  _build_dependencies.sh
  _maps/travis_map_testing.dm
  code/_compile_options.dm
  code/_globalvars/misc.dm
  code/_globalvars/sensitive.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/ticker.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/world.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/component_tests.dm
  code/modules/unit_tests/reagent_id_typos.dm
  code/modules/unit_tests/spawn_humans.dm
  code/modules/unit_tests/sql.dm
  code/modules/unit_tests/subsystem_init.dm
  code/modules/unit_tests/timer_sanity.dm
  code/modules/unit_tests/unit_test.dm
  libmariadb.so
  librust_g.so
  paradise.dme
  tools/travis/README.MD
  tools/travis/dbconfig.txt
  tools/travis/generate_maplist.sh
  tools/travis/generate_sql_scripts.py
  tools/travis/run_server.sh
  tools/travis/sql_v0.sql
Labels: Infrastructure

#13704 Fixes bad tcomms board naming
  code/modules/research/designs/telecomms_designs.dm
Labels: Grammar and Formatting

#13711 Fixes Garbage Collection Timeout
  code/controllers/subsystem/garbage.dm
Labels: Fix

#13056 Cyborg Improvements
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/jobs/job/silicon.dm
  code/game/machinery/rechargestation.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/hydroponics/grown.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/response_team/ert.dm
  code/modules/security_levels/security levels.dm
  icons/mob/robots.dmi
Labels: Balance, Boxstation, Map Edit

#13014 Mining Outpost: Holopad Additions and One Camera Addition
  _maps/map_files/generic/Lavaland.dmm
Labels: General Map, Map Edit

#13598 Speech bubble refactor and Features
  code/controllers/subsystem/nano_mob_hunter.dm
  code/datums/wires/airlock.dm
  code/game/atoms.dm
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/jobs/job/supervisor.dm
  code/game/machinery/doppler_array.dm
  code/game/machinery/requests_console.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/devices/pizza_bomb.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/arcade/mob_hunt/battle_computer.dm
  code/modules/arcade/mob_hunt/mob_avatar.dm
  code/modules/assembly/health.dm
  code/modules/assembly/infrared.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/library/computers/checkout.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/humanoid/empress.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob.dm
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
  code/modules/paperwork/photocopier.dm
  code/modules/paperwork/photography.dm
  code/modules/pda/mob_hunt_game_app.dm
  code/modules/research/message_server.dm
  icons/mob/talk.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
Labels: Feature, Refactor, Sprites

#13718 Fixes use of a no longer existent helper that prevented compilation
  code/modules/mob/living/silicon/robot/robot_damage.dm
Labels: Fix, High Priority, oops

#13713 Fixes cultists being teleported to null space
  code/game/gamemodes/cult/runes.dm
Labels: Fix

#13714 Makes blob splits not spawn a new camera in null space if the core died
  code/game/gamemodes/blob/blobs/core.dm
Labels: Fix

#13635 Updates Ship Ambience
  code/__DEFINES/sound.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/areas.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/ruins/lavaland.dm
  code/modules/awaymissions/mission_code/centcomAway.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/ruins/ruin_areas.dm
  sound/ambience/ambiatmos.ogg
  sound/ambience/ambiatmos2.ogg
  sound/ambience/ambicave.ogg
  sound/ambience/ambidet1.ogg
  sound/ambience/ambidet2.ogg
  sound/ambience/ambifailure.ogg
  sound/ambience/ambigen15.ogg
  sound/ambience/ambiholy.ogg
  sound/ambience/ambiholy2.ogg
  sound/ambience/ambiholy3.ogg
  sound/ambience/ambilava1.ogg
  sound/ambience/ambilava2.ogg
  sound/ambience/ambilava3.ogg
  sound/ambience/ambimaint.ogg
  sound/ambience/ambimystery.ogg
  sound/ambience/ambinice.ogg
  sound/ambience/ambiodd.ogg
  sound/ambience/ambiruin.ogg
  sound/ambience/ambiruin2.ogg
  sound/ambience/ambiruin3.ogg
  sound/ambience/ambiruin4.ogg
  sound/ambience/ambiruin5.ogg
  sound/ambience/ambiruin6.ogg
  sound/ambience/ambiruin7.ogg
  sound/ambience/ambispace2.ogg
  sound/ambience/ambitech.ogg
  sound/ambience/ambitech2.ogg
  sound/ambience/ambitech3.ogg
  sound/ambience/ambivapor1.ogg
  sound/ambience/aurora_caelus_short.ogg
  sound/ambience/servicebell.ogg
  sound/ambience/shipambience.ogg
  sound/music/clown.ogg
  sound/voice/lowHiss1.ogg
  sound/voice/lowHiss2.ogg
  sound/voice/lowHiss3.ogg
  sound/voice/lowHiss4.ogg
Labels: Feature, Sound

#13729 The beginning: Removing unused NanoUI files
  nano/templates/ame.tmpl
  nano/templates/botany_editor.tmpl
  nano/templates/botany_isolator.tmpl
  nano/templates/code_mirror.tmpl
  nano/templates/disease_splicer.tmpl
  nano/templates/dish_incubator.tmpl
  nano/templates/docking_airlock_console.tmpl
  nano/templates/engines_control.tmpl
  nano/templates/escape_pod_berth_console.tmpl
  nano/templates/escape_pod_console.tmpl
  nano/templates/escape_shuttle_control_console.tmpl
  nano/templates/geoscanner.tmpl
  nano/templates/hardsuit.tmpl
  nano/templates/helm.tmpl
  nano/templates/isolation_centrifuge.tmpl
  nano/templates/multi_docking_console.tmpl
  nano/templates/pathogenic_isolator.tmpl
  nano/templates/shuttle_control_console.tmpl
  nano/templates/shuttle_control_console_exploration.tmpl
  nano/templates/shuttle_control_multi_console.tmpl
  nano/templates/simple_docking_console.tmpl
  nano/templates/simple_docking_console_pod.tmpl
  nano/templates/vending.tmpl
Labels: Code Improvement

#13731 Fixes TGUI aghost interactions + disposals
  code/modules/recycling/disposal.dm
  code/modules/tgui/states/default.dm
  code/modules/tgui/states/observer.dm
Labels: Fix

#13723 Makes Blood GC
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
Labels: Fix, Performance

#13717 Attempts to Soft Delete Mobs
  code/modules/mob/mob.dm
Labels: Performance

#13690 Minor Turf Refactor
  code/LINDA/LINDA_fire.dm
  code/LINDA/LINDA_turf_tile.dm
  code/game/machinery/alarm.dm
  code/game/mecha/mech_bay.dm
  code/game/objects/effects/spawners/vaultspawner.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/simulated/floor/light_floor.dm
  code/game/turfs/simulated/floor/mineral.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/walls_misc.dm
  code/game/turfs/space/space.dm
  code/game/turfs/space/transit.dm
  code/game/turfs/turf.dm
  code/game/turfs/unsimulated.dm
  code/game/turfs/unsimulated/beach.dm
  code/game/turfs/unsimulated/floor.dm
Labels: Fix, Performance, Refactor

#13693 Makes Mobs Lazier and Removes Hard References
  code/_onclick/item_attack.dm
  code/datums/mind.dm
  code/datums/spells/summonitem.dm
  code/defines/procs/statistics.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/objective.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/admin/verbs/onlyoneteam.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_grab.dm
  code/modules/projectiles/guns/dartgun.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/recycling/disposal.dm
  icons/effects/hit_blips.dmi
Labels: Performance, Refactor

#13741 AFK grammar fix
  code/controllers/subsystem/afk.dm
Labels: Grammar and Formatting

#13740 Fixes #13734 - generalist borg zipties
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix

#13736 Headcrab Bug, eating while being dead. Bug, sometimes display wrong name while eating
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Fix

#13719 Fixes Random Drugs failing Travis and Maint Loot
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/contraband.dm
Labels: Fix
