Repository ParadiseSS13/Paradise, pull requests merged in 2020-04, with the labels that each got.

#13100 Wizard hardsuit tweaks
  code/datums/outfits/outfit_admin.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/clothing/suits/wiz_robe.dm
Labels: Feature

#12836 Allows station goals to be requested from the public console
  code/modules/shuttle/supply.dm
Labels: Tweak

#13182 Colours MC subsystems based on state
  code/controllers/subsystem.dm
Labels: Administration

#13184 Makes it so that IRC can't be cloned
  code/game/machinery/computer/cloning.dm
  code/modules/mob/living/carbon/brain/robotic_brain.dm
Labels: Fix

#13178 Makes floor cluwnes slippery tiles not stay there till the end of times
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor/mineral.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
Labels: Fix

#13241 Fixes a Minor Spelling Error in Mimejutsu
  code/modules/martial_arts/mimejutsu.dm
Labels: Grammar and Formatting

#13261 Fixes subsystem clicking
  code/controllers/subsystem.dm
Labels: Fix

#13277 Removes all uses of a certain word in a certain sense
  code/__DEFINES/clothing.dm
  code/datums/diseases/brainrot.dm
  code/datums/diseases/wizarditis.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/machinery/doors/checkForMultipleDoors.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/signs.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/clothing/clothing.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mob/living/carbon/alien/humanoid/update_icons.dm
  code/modules/mob/new_player/poll.dm
Labels: Grammar and Formatting

#13227 Makes the KA and energy guns use Initialize instead of New fixing the KA runtime
  code/game/machinery/portable_tag_turret.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/weapons/chrono_eraser.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Fix

#13165 Correct spelling and grammar in envirohelmet descriptions
  code/modules/clothing/spacesuits/plasmamen.dm
Labels: Grammar and Formatting

#13257 Fixes MapMerge Requirements
  tools/mapmerge2/requirements.txt
Labels: Infrastructure

#13258 Makes the cloning scanner eject upon being destroyed
  code/game/dna/dna_modifier.dm
Labels: Fix

#13208 Improved logging
  code/__HELPERS/mobs.dm
  code/controllers/subsystem/shuttles.dm
  code/datums/spell.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mob/language.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/shuttle.dm
Labels: Administration

#13256 Fixes inability to login on records tab of ID card program
  nano/templates/card_prog.tmpl
Labels: Fix

#13238 ID Computer Playtime Check For Head Jobs
  code/controllers/subsystem/jobs.dm
Labels: Tweak, User Interface

#12169 Lavaland Syndiebase Fixes & Tweaks
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/awaymissions/corpse.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
Labels: General Map, Map Edit, Tweak

#13228 Makes simple animals cut_overlays on regenerate_icons
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/mining/gutlunch.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Fix

#13230 Fixes a few runtimes
  code/game/machinery/camera/camera.dm
  code/game/objects/items/tools/welder.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_misc.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#13266 Ion storms are no longer announced by default
  code/modules/events/ion_storm.dm
Labels: Tweak

#13267 Fix reset/purge boards not clearing zeroth laws
  code/game/objects/items/weapons/AI_modules.dm
Labels: Fix

#13235 Plasma cutters now work as intended on reinforced walls
  code/game/turfs/simulated/walls_reinforced.dm
Labels: Fix

#13255 Slaughter Demon Exploit Fix
  code/game/gamemodes/miniantags/slaughter/bloodcrawl.dm
Labels: Balance

#13226 primed nukes explode if blobbed
  code/game/gamemodes/nuclear/nuclearbomb.dm
Labels: Balance

#13216 Allow the Cloning Pod to accept monster meat as a source of biomass
  _maps/map_files/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/map_files/cyberiad/z6.dmm
  code/game/machinery/cloning.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/food/foods/seafood.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/recipes/recipes_grill.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/mining/goliath.dm
Labels: Tweak

#13214 Increases ATM Withdrawl Limit
  code/modules/economy/ATM.dm
Labels: Tweak

#12825 Adds unique icon for compact sniper rifle
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/obj/guns/projectile.dmi
Labels: Sprites

#13280 Fixes admin dress bug that results in incorrect outfits
  code/datums/outfits/outfit_admin.dm
Labels: Fix

#12592 Magnetic gripper code cleanup/re-organization, and bug fix
  code/modules/keybindings/bindings_robot.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix, Tweak

#13281 Outfits without a name will now be obvious
  code/datums/outfits/outfit.dm
  code/modules/admin/verbs/gimmick_team.dm
Labels: Administration, Refactor

#13278 Makes solars auto-track again
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/sun.dm
  code/modules/power/solar.dm
Labels: Fix

#13268 Bonfire Logs
  code/modules/crafting/craft.dm
  code/modules/crafting/recipes.dm
  code/modules/hydroponics/grown/towercap.dm
Labels: Administration

#13209 Check antag improvements
  code/modules/admin/player_panel.dm
Labels: Administration, User Interface

#13104 Removes Xenomorphs from event rotation
  code/modules/events/event_container.dm
Labels: Revert/Feature Removal

#13189 Fixes backwards return values in the do_after_once_checks proc
  code/__HELPERS/mobs.dm
Labels: Fix, oops

#13190 Adds a helper proc to calculate luminance
  code/__HELPERS/icons.dm
Labels: Tweak

#13301 Monkeys can now gain nutrition from food
  code/modules/mob/living/carbon/human/species/monkey.dm
Labels: Fix

#13300 Makes all types of silicon mobs get ignored for the AI's hijack objective
  code/game/gamemodes/objective.dm
Labels: Fix

#13315 Fixes being unable to link tcomms machines
  code/game/machinery/telecomms/machine_interactions.dm
Labels: Fix

#13324 Makes the water tank backpack nozzle not have antidrop
  code/game/objects/items/weapons/tanks/watertank.dm
Labels: Fix, Refactor

#13317 Fixes the collar slot accepting everything + 2 other runtimes
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/modular_computers/computers/item/laptop.dm
Labels: Fix

#13306 Clamp fix beta
  code/__HELPERS/icons.dm
Labels: Fix

#13298 Envirosuit spelling corrections, part II
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/plasmamen/civilian_service.dm
  code/modules/clothing/under/jobs/plasmamen/engineering.dm
  code/modules/clothing/under/jobs/plasmamen/medsci.dm
  code/modules/clothing/under/jobs/plasmamen/security.dm
Labels: Grammar and Formatting

#13287 Travis cleanup
  .travis.yml
  _build_dependencies.sh
  _maps/test_all_maps.dm
  _maps/travis_map_testing.dm
  code/__DEFINES/logs.dm
  code/datums/diseases/critical.dm
  code/datums/spells/mime.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  goon/browserassets/html/browserOutput.html
  goon/browserassets/js/unicode_9_annotations.js
  goon/code/datums/browserOutput.dm
  install-byond.sh
  tools/travis/build_nanoui.sh
  tools/travis/check_changelogs.sh
  tools/travis/check_grep.sh
  tools/travis/dm.sh
  tools/travis/install_build_deps.sh
  tools/travis/install_byond.sh
  tools/travis/json_verifier.py
Labels: Administration, Refactor

#13290 Fixes an exploit with guardian creating items
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Fix

#13293 Zeroth law is now above ion laws
  code/datums/ai_laws.dm
  nano/templates/law_manager.tmpl
Labels: Fix

#13187 Increases distance of accelerated particles back to how they were
  code/modules/power/singularity/particle_accelerator/particle.dm
Labels: Fix

#13006 Increases the defib timer back to 5 minutes
  code/__DEFINES/misc.dm
Labels: Balance

#13302 Deconstructing chem dispensers no longer deletes the beaker and power cell
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix

#13283 Makes special cams not runtime on spawn
  code/game/machinery/camera/presets.dm
Labels: Fix

#13250 Adds vox bone armor sprites
  icons/mob/species/vox/suit.dmi
Labels: Sprites

#13111 Rewrites confirmation prompt for touching SSD players
  code/modules/client/client procs.dm
Labels: Grammar and Formatting

#13356 Fixes ticker force-end
  code/controllers/subsystem/ticker.dm
Labels: Fix

#13351 Adds Linux Support
  README.md
  libmariadb.so
  librust_g.so
Labels: Administration
