Repository ParadiseSS13/Paradise, pull requests merged in 2020-05, with the labels that each got.

#13342 You can now use movement keys to move out of a cryosleep pod
  code/game/machinery/cryopod.dm
Labels: Refactor

#13343 Makes ai_monitored load the cams on LateInitialize
  code/game/area/ai_monitored.dm
Labels: Fix

#13335 Makes 'nodecon' walls on derelict russian station immune to welders
  code/game/turfs/simulated/walls_mineral.dm
Labels: Fix

#13313 Fixes unexpected gibbing in TS away mission
  code/modules/surgery/organs/parasites.dm
Labels: Fix

#12950 Fixes steal station blueprints objective
  code/game/gamemodes/steal_items.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/paperwork/photography.dm
Labels: Fix

#13046 Fixes cult sacrifice targeting offstation roles
  code/game/gamemodes/cult/cult_objectives.dm
Labels: Fix

#12946 Fixed a few funtimes and bugs
  code/controllers/subsystem/ticker.dm
  code/game/gamemodes/cult/runes.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/devices/flash.dm
  code/modules/customitems/item_spawning.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/projectiles/guns/rocket.dm
Labels: Fix

#13357 Update mob glide_size prior to movement
  code/modules/mob/mob_movement.dm
Labels: Fix, Refactor

#13181 fixes smoking and similar incremental dosage systems for addiction.
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
Labels: Fix

#13286 Nanopaste resizeing (w_class)
  code/game/objects/items/stacks/nanopaste.dm
Labels: Tweak

#13308 Sprite update to Lumi's vox fluff.
  code/modules/customitems/item_defines.dm
  icons/mob/inhands/fluff_lefthand.dmi
  icons/mob/inhands/fluff_righthand.dmi
  icons/mob/species/vox/uniform.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item, Sprites

#13284 Deconstructing and mice biting wires is now put in the investigation log
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/power/cable.dm
Labels: Administration

#12674 Minor cargo supply crate pathing change
  code/datums/supplypacks.dm
Labels: Tweak

#12726 Added CC Stamp to Navy Officer's backpacks
  code/game/jobs/job/central.dm
Labels: Administration, Tweak

#13367 Fix up smooth movement issues
  code/game/atoms_movable.dm
  code/game/machinery/computer/camera.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob_movement.dm
  code/modules/vehicle/ambulance.dm
  code/modules/vehicle/janicart.dm
  code/modules/vehicle/vehicle.dm
Labels: Fix

#13062 Patch rework
  code/_globalvars/lists/reagents.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/security.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/applicator.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/goonstation/objects/objects.dmi
  nano/templates/chem_master.tmpl
  paradise.dme
  sound/goonstation/items/mender.ogg
  sound/goonstation/items/mender2.ogg
Labels: Balance, Feature

#13368 Fixes the crossbow's cell being un-removable with a screwdriver
  code/modules/projectiles/guns/throw/crossbow.dm
Labels: Fix

#13344 Fixes #13243 - Makes wands no longer work in den
  code/modules/projectiles/guns/magic/wand.dm
Labels: Fix

#12696 Makes simple slimes ignore slime people when searching for targets again
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/shadow.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/living/simple_animal/slime/life.dm
Labels: Feature, Refactor

#13379 Fixes part of Travis I forgot about
  code/__DEFINES/role_preferences.dm
  code/__HELPERS/names.dm
  code/game/gamemodes/changeling/powers/hivemind.dm
  code/game/gamemodes/devil/devil.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer_event.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/awaymissions/gateway.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  tools/travis/check_grep.sh
Labels: Refactor

#13386 Fixes Chem Grenades
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#13369 Vendor refactor
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  _maps/map_files/cyberiad/z6.dmm
  code/game/machinery/vending.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
Labels: Refactor

#13360 Fixes the missionary staff being unable to charge properly
  code/modules/clothing/suits/miscellaneous.dm
Labels: Fix

#13380 Adds MC VIEWING to the VIEWRUNTIMES permission
  code/modules/mob/mob.dm
Labels: Administration

#13406 Fixes MC perms spam
  code/modules/mob/mob.dm
Labels: Fix, High Priority

#13415 Reduces automender attack log spam
  code/modules/reagents/reagent_containers/applicator.dm
Labels: Administration, Fix

#13419 Medicines now properly sate addiction when smoked.
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Fix

#13421 Fixes and pressing issue in a certain system.
  code/game/machinery/machinery.dm
Labels: Fix

#13422 Prevents Shocking non-living Mobs
  code/game/machinery/doors/airlock.dm
  code/game/machinery/machinery.dm
Labels: Fix

#13427 Fixed description for corporate cap
  code/modules/clothing/head/soft_caps.dm
Labels: Grammar and Formatting

#13401 Borgs can no longer access mounted defibs
  code/game/machinery/defib_mount.dm
Labels: Fix

#13414 Fixes some runtimes
  code/_onclick/item_attack.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/turfs/simulated/floor.dm
Labels: Fix

#13408 Moves config loading to world/New not Master/New
  code/controllers/master.dm
  code/game/world.dm
Labels: Refactor

#13394 Fixes the sensory restoration symptom message
  code/datums/diseases/advance/symptoms/sensory.dm
Labels: Grammar and Formatting

#13396 Makes trail_holders (blood trails) invisible upon examine. Fixing a client hang/crash
  code/game/objects/effects/decals/Cleanable/humans.dm
Labels: Fix

#13399 Grammar and typo fixes
  code/game/objects/items/devices/flash.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Grammar and Formatting

#13431 Issue #13423 Fix - Headcrab death check
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Fix

#13400 Makes it so you can't repair wooden barricades with a welder
  code/game/machinery/deployable.dm
Labels: Fix

#12899 Gas Mix Mistake Fix
  code/datums/gas_mixture.dm
Labels: Fix

#13437 fixed apples not distilling in fermenting barrels
  code/modules/hydroponics/grown/apple.dm
Labels: Fix

#13387 GC Fixes
  code/datums/status_effects/status_effect.dm
  code/game/objects/items/devices/enginepicker.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/modules/admin/admin_ranks.dm
  code/modules/client/client defines.dm
Labels: Fix, Performance

#13397 Fixes Chainsaw hitsound
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix

#13420 Refactor and Fixes EMP's
  code/game/objects/items/weapons/implants/implant_storage.dm
  code/game/objects/items/weapons/misc.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/clothing/suits/storage.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/paperwork/folders.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Fix, Refactor

#13411 Subsystems now state implications if offlined.
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/acid.dm
  code/controllers/subsystem/afk.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/alarm.dm
  code/controllers/subsystem/chat.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/fires.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/icon_smooth.dm
  code/controllers/subsystem/idlenpcpool.dm
  code/controllers/subsystem/input.dm
  code/controllers/subsystem/jobs.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machinery.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/nano_mob_hunter.dm
  code/controllers/subsystem/nanoui.dm
  code/controllers/subsystem/nightshift.dm
  code/controllers/subsystem/npcpool.dm
  code/controllers/subsystem/overlays.dm
  code/controllers/subsystem/parallax.dm
  code/controllers/subsystem/shuttles.dm
  code/controllers/subsystem/spacedrift.dm
  code/controllers/subsystem/sun.dm
  code/controllers/subsystem/throwing.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/vote.dm
  code/controllers/subsystem/weather.dm
  goon/code/datums/browserOutput.dm
Labels: Administration

#13442 Your ears feel great
  code/datums/diseases/advance/symptoms/sensory.dm
Labels: Grammar and Formatting

#13143 Makes classic secHUD available to Magistrate
  code/modules/client/preference/loadout/loadout_general.dm
Labels: Tweak

#13448 Fixes Admin Logs
  code/controllers/master.dm
  code/game/world.dm
Labels: Fix, High Priority

#13334 Direction Locking Help Text
  code/_onclick/click.dm
Labels: User Interface

#13445 Makes round end more obvious in game logs.
  code/controllers/subsystem/ticker.dm
Labels: Administration

#13282 Remove crowbarring sound on blast doors and update the proc
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/poddoor.dm
  code/game/objects/items/weapons/twohanded.dm
Labels: Balance, Fix

#12647 Makes some space ruins easier to find.
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/RandomRuins/SpaceRuins/listeningpost.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  code/modules/awaymissions/mission_code/ruins/gps.dm
  code/modules/telesci/gps.dm
  icons/obj/terminals.dmi
  paradise.dme
Labels: General Map, Map Edit, Tweak

#12795 Emagproofs CC, adds admin warning if ert shuttle is moved by non-ert
  _maps/map_files/cyberiad/z2.dmm
  code/modules/shuttle/ert.dm
Labels: Map Edit, Tweak

#13450 Fixes missing Syndicate Spacesuit sprite
  icons/mob/species/tajaran/suit.dmi
Labels: Fix

#13395 Shock Proof Heart
  code/modules/surgery/organs/heart.dm
Labels: Tweak

#13157 Lighter refactor + Reduces zippo lighter and gavel text and sound spam
  code/game/objects/items/weapons/courtroom.dm
  code/game/objects/items/weapons/lighters.dm
Labels: Tweak

#13426 Removes gottagofast_meth
  code/__DEFINES/combat.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
Labels: Balance

#13452 CL Fixes Round 1
  code/controllers/subsystem/changelog.dm
Labels: Fix

#13205 Add wizard loadouts, misc wiz features/fixes
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/datums/outfits/plasmamen.dm
  code/datums/spells/area_teleport.dm
  code/datums/spells/lichdom.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/gamemodes/wizard/wizard.dm
  code/game/gamemodes/wizard/wizloadouts.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/scrolls.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/mirror.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/under/jobs/plasmamen/antags.dm
  code/modules/paperwork/paper.dm
  icons/mob/head.dmi
  icons/mob/species/drask/head.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/grey/head.dmi
  icons/mob/species/grey/suit.dmi
  icons/mob/species/plasmaman/helmet.dmi
  icons/mob/species/plasmaman/uniform.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
  icons/obj/clothing/species/plasmaman/uniform.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/storage.dmi
  paradise.dme
Labels: Feature, Fix

#13454 Fixes Meatball in-hand icons
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Fix

#13455 Removes a bunch of unused vars
  code/datums/mind.dm
  code/game/objects/items/weapons/implants/implant_traitor.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/mob_defines.dm
Labels: Refactor

#13460 BSA strikes are now logged to disk
  code/modules/station_goals/bsa.dm
Labels: Administration

#13436 Lighting Performance Improvement
  code/__DEFINES/lighting.dm
  code/__HELPERS/game.dm
  code/modules/lighting/lighting_source.dm
  code/modules/lighting/lighting_turf.dm
Labels: Performance

#13473 Fixed db version in dbconfig example file
  config/example/dbconfig.txt
Labels: Administration, Fix

#13403 Cyborg Hypospray QOL tweak
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Tweak

#13375 The logviewer will now work if you have invalid mobs in your selection
  code/datums/log_viewer.dm
Labels: Fix

#12652 Fix paperwork acquiring extra line breaks when you change register
  code/modules/paperwork/paper.dm
  html/browser/marked-paradise.js
  html/browser/marked.js
Labels: Fix

#12423 Diona nymphs can eat veggies
  code/modules/hydroponics/grown.dm
  code/modules/mob/living/simple_animal/friendly/diona.dm
Labels: Feature

#12660 Game panel improvements.
  html/create_object.html
Labels: Administration, Feature

#12827 Removes the Freeze Mech verb, and bundles its functionality into the Freeze verb
  code/game/mecha/mecha.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/freeze.dm
  code/modules/hydroponics/grown.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Tweak

#12820 Gives sleepers and cryotubes the ability to auto-eject dead people
  code/game/machinery/Sleeper.dm
  code/game/machinery/cryo.dm
  nano/templates/cryo.tmpl
  nano/templates/sleeper.tmpl
Labels: Feature

#13374 Newcrit Death Threshold Tweaks
  code/modules/mob/living/carbon/human/life.dm
Labels: Balance

#13478 Fixes a filesystem viewing exploit
  code/__HELPERS/files.dm
Labels: Fix, High Priority

#13479 Fix spelling of Disintegrate
  code/game/gamemodes/wizard/wizloadouts.dm
Labels: Grammar and Formatting

#13476 This time I dont break logs
  code/controllers/master.dm
  code/game/world.dm
Labels: Administration

#13468 Allows the IPC players to select the bald IPC monitor using the "Change Monitor" button
  code/modules/mob/new_player/sprite_accessories/ipc/ipc_face.dm
Labels: Tweak

#13457 Updates the contribution info. Multiplications are not faster than divisions
  .github/CONTRIBUTING.md
Labels: Administration

#12907 Fixes some armour value oversights
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/suits/miscellaneous.dm
Labels: Balance

#13443 Fire Cult sprite overhaul
  code/game/gamemodes/cult/cult_datums.dm
  icons/mob/mob.dmi
  icons/obj/cult.dmi
  icons/obj/doors/airlocks/cult/runed/hell-overlays.dmi
  icons/obj/doors/airlocks/cult/runed/hell.dmi
  icons/obj/doors/airlocks/cult/unruned/hell-overlays.dmi
  icons/obj/doors/airlocks/cult/unruned/hell.dmi
  icons/obj/items.dmi
  icons/obj/narsie.dmi
  icons/obj/narsie_spawn_anim.dmi
  icons/turf/floors.dmi
  icons/turf/walls/cult_wall.dmi
Labels: Feature, Sprites

#13462 Replaces the bloodcrawl variable with a trait
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/game/gamemodes/miniantags/slaughter/bloodcrawl.dm
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
  code/modules/mob/living/living_defines.dm
Labels: Refactor

#13430 Removes Fat Sprites
  code/__DEFINES/clothing.dm
  code/__DEFINES/genetics.dm
  code/game/dna/genes/gene.dm
  code/game/dna/genes/goon_disabilities.dm
  code/game/dna/genes/powers.dm
  code/game/objects/items.dm
  code/modules/client/preference/preferences.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/oldstation_uni.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/organ_icon.dm
  code/modules/surgery/organs/subtypes/standard.dm
  icons/effects/genetics.dmi
  icons/mob/human_races/r_def_grey.dmi
  icons/mob/human_races/r_def_human.dmi
  icons/mob/human_races/r_grey.dmi
  icons/mob/human_races/r_human.dmi
  icons/mob/human_races/r_nucleation.dmi
  icons/mob/human_races/r_plant.dmi
  icons/mob/human_races/r_tajaran.dmi
  icons/mob/human_races/r_vulpkanin.dmi
  icons/mob/human_races/tatt1.dmi
  icons/mob/suit_fat.dmi
  icons/mob/uniform_fat.dmi
Labels: Feature, Revert/Feature Removal, Sprites

#12666 Adds new SecHUD designations and tweaks secHUD on examining (updated 22 May)
  code/__DEFINES/criminal_status.dm
  code/__HELPERS/mobs.dm
  code/game/data_huds.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/skills.dm
  code/game/machinery/machinery.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/paperwork/paper.dm
  icons/mob/hud.dmi
  paradise.dme
Labels: Feature, Sprites

#13483 Fixes Having a Frigging Monitor Glued to Your Face
  code/modules/mob/new_player/sprite_accessories/ipc/ipc_face.dm
Labels: Fix, High Priority

#13481 Makes explicit paths in the code/datums/periodic_news.dm file
  code/datums/periodic_news.dm
Labels: Refactor

#13453 Removes Unused Factions
  code/controllers/subsystem/ticker.dm
  code/datums/mind.dm
  code/game/gamemodes/factions.dm
  code/game/gamemodes/setupgame.dm
  paradise.dme
Labels: Refactor

#13438 Ports Cybernetic Ears
  code/modules/client/preference/preferences.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/eyes.dm
  icons/obj/surgery.dmi
Labels: Feature, Fix

#13449 TG Label Component Port
  code/datums/components/label.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/supplypacks.dm
  code/modules/paperwork/handlabeler.dm
  icons/obj/bureaucracy.dmi
  paradise.dme
  sound/items/handling/component_pickup.ogg
Labels: Feature

#13482 IPCs can now change their monitors while lay down
  code/modules/mob/living/carbon/human/species/machine.dm
Labels: Tweak

#13477 Lizard skin handbag
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/weapons/storage/backpack.dm
  icons/mob/back.dmi
  icons/obj/storage.dmi
Labels: Feature

#13488 Makes airlocks destroyable again using weapons when the panel is open
  code/game/machinery/doors/airlock.dm
Labels: Fix

#13497 Fixes Intercomms and Station Bounce Radios
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix, High Priority

#13495 Fixes #13492 - message monitor key not working
  code/game/machinery/computer/message.dm
Labels: Fix

#13486 Library computer fix
  code/modules/library/computers/checkout.dm
Labels: Fix

#13498 Minor tcomms fixes
  code/game/machinery/tcomms/_base.dm
  code/game/machinery/tcomms/core.dm
Labels: Fix

#13505 Annihilates the global iterator
  code/datums/helper_datums/global_iterator.dm
  code/modules/spacepods/spacepod.dm
  paradise.dme
Labels: Refactor

#13511 Fixes whiteship spawning above station
  _maps/map_files/generic/tcommsat-blown.dmm
Labels: Fix, Map Edit

#13506 Helps Organs GC Better
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/heart.dm
Labels: Performance, Refactor
