Repository ParadiseSS13/Paradise, pull requests merged in 2020-12, with the labels that each got.

#15024 Fixes thermal drill not allowing safe opening, dial image preventing clicks and code words not clearing properly
  code/game/objects/structures/safe.dm
  goon/browserassets/js/browserOutput.js
  goon/code/datums/browserOutput.dm
  tgui/packages/tgui/interfaces/Safe.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix

#15015 Adds the ability to pat out fires on burning people
  code/modules/mob/living/carbon/carbon.dm
Labels: Feature

#15029 Gets rid of <br> on science request console
  code/modules/mining/machine_redemption.dm
Labels: Fix

#15009 Cleanup of GitHub documents
  .github/CONTRIBUTING.md
  .github/DOWNLOADING.md
  README.md
  bot/CORE_DATA.py
  bot/C_eightball.py
  bot/C_heaortai.py
  bot/C_makequote.py
  bot/C_maths.py
  bot/C_rot13.py
  bot/C_rtd.py
  bot/C_sarcasticball.py
  bot/C_srtd.py
  bot/D_help.py
  bot/FMLformatter.py
  bot/Marakov/Marakov.Cache
  bot/Marakov_Chain.py
  bot/Namecheck.py
  bot/NanoTrasenBot.py
  bot/Shortname.py
  bot/Timeconverter.py
  bot/Weather.py
  bot/YTCv3.py
  bot/YTCv4.py
  bot/_____Readme.txt
  bot/gen_fml.py
  bot/htmltagremove.py
  bot/irchat.py
  bot/linereader.py
  bot/nudge.py
  bot/save_load.py
  bot/some_but_not_all_2.py
  bot/xkcdparser.py
Labels: Documentation

#15037 Fix: allow AIs to restore safties on hacked bots
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Fix

#15033 Emote *help species fix
  code/modules/mob/living/carbon/human/emote.dm
Labels: Fix

#14979 Makes point arrow travel smoothly to pointed object
  code/modules/mob/mob.dm
Labels: Feature

#14858 Makes biodegrade dissolve legcuffs
  code/game/gamemodes/changeling/powers/biodegrade.dm
Labels: Balance

#15035 Fixes TGUIs not reopening properly sometimes
  code/modules/tgui/tgui.dm
Labels: Fix

#14856 TS Mother Rework
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  code/modules/awaymissions/mission_code/UO71-terrorspiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/__defines.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/actions.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/mother.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/reproduction.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  icons/effects/effects.dmi
  icons/mob/actions/actions.dmi
Labels: Balance

#15014 Better "please update byond" prompts
  code/modules/client/client_procs.dm
Labels: Tweak

#15041 513 requirement, user-friendly byond version requirement handling
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mob/new_player/new_player.dm
Labels: Fix, Multi-PR Contribution

#15042 Adds Installation Guide to README, reorders useful documents
  README.md
Labels: Documentation, Fix

#15026 Terror event spawns now pick players randomly
  code/modules/events/spider_terror.dm
Labels: Balance, Tweak

#14964 [TGUI] Exosuit Fabricator
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
  code/game/mecha/mech_fabricator.dm
  code/modules/client/asset_cache.dm
  tgui/packages/tgui/components/Countdown.js
  tgui/packages/tgui/components/ProgressBar.js
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/ExosuitFabricator.scss
  tgui/packages/tgui/styles/main.scss
Labels: Merge Conflict, Refactor, TGUI, User Interface

#15050 Stops players in MMIs being able to see ghosts
  code/modules/mob/living/carbon/brain/MMI.dm
Labels: Fix

#15027 Donut box folding
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/storage.dm
Labels: Tweak

#15023 Makes EMP actually useful on reactive armor
  code/modules/clothing/suits/armor.dm
Labels: Balance

#15016 [TGUI] Ore Redemption Machine
  code/datums/components/material_container.dm
  code/modules/mining/machine_redemption.dm
  tgui/packages/tgui/interfaces/OreRedemption.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/OreRedemption.scss
  tgui/packages/tgui/styles/main.scss
Labels: Merge Conflict, Refactor, TGUI, User Interface

#15052 Fixes Exosuit Fabricator runtime when creating non-objs (e.g. IRC body)
  code/game/mecha/mech_fabricator.dm
Labels: Fix

#15053 Fixes issues/runtimes with the brand intelligence event
  code/modules/events/brand_intelligence.dm
Labels: Fix

#15054 Makes purge/reset boards clear the 0th law of synched borgs when a non antag AI is purged/reset
  code/datums/ai_laws.dm
Labels: Fix

#15051 Craftable donut boxes
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/storage.dm
Labels: Feature, Multi-PR Contribution

#15040 Hardsuit helmet protection consistency
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Tweak

#15055 Adds attack log to yourself when you kill yourself
  code/game/verbs/suicide.dm
Labels: Administration, Feature

#15032 Swarmer Beacon EMP damage
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
Labels: Balance

#15066 Fixes a few graphical issues with conveyor belts
  icons/obj/recycling.dmi
Labels: Fix, Sprites

#15067 Fixes #15065 - green terrors laying eggs while in vents
  code/modules/mob/living/simple_animal/hostile/terror_spiders/actions.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/green.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/mother.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
Labels: Fix

#15038 Greatly increases entropy on forum link tokens
  code/modules/client/client_procs.dm
Labels: Tweak

#14845 Purified/Holy construct tweaks
  code/datums/spells/construct_spells.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/modules/mob/living/simple_animal/constructs.dm
  icons/mob/actions/actions.dmi
Labels: Tweak

#14850 world/Topic Refactor
  code/__HELPERS/global_lists.dm
  code/game/world.dm
  code/modules/admin/sql_notes.dm
  code/modules/world_topic/README.MD
  code/modules/world_topic/_spam_prevention_handler.dm
  code/modules/world_topic/_topic_base.dm
  code/modules/world_topic/adminmsg.dm
  code/modules/world_topic/announce.dm
  code/modules/world_topic/hostannounce.dm
  code/modules/world_topic/manifest.dm
  code/modules/world_topic/ping.dm
  code/modules/world_topic/players.dm
  code/modules/world_topic/status.dm
  paradise.dme
Labels: Refactor

#14837 Makes fireaxes take time to pry open airlocks.
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/twohanded.dm
Labels: Tweak

#14942 Updates SpacemanDMM Lints
  code/__DEFINES/_spacemandmm.dm
Labels: Infrastructure

#15004 A couple of small ERT loadout tweaks
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Tweak

#15003 Makes red inquisitor ERT use the proper hardsuit
  code/modules/response_team/ert_outfits.dm
Labels: Tweak

#15072 [Speedmerge] oops
  code/modules/world_topic/_topic_base.dm
Labels: Fix, High Priority

#14865 Adds 2 new blob reagents, radioactive gel, and teslium paste.
  code/game/gamemodes/blob/theblob.dm
  code/modules/reagents/chemistry/reagents/blob.dm
Labels: Balance

#15012 Keeps CQC from benifitting from Gloves of the North Start
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Balance

#14813 Buff EMPs against augments, remove duplicate external organ emp_act (buffs IPCs vs. EMPs)
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/subtypes/standard.dm
Labels: Balance

#15021 10 new Diona "hair" styles
  code/modules/mob/new_player/sprite_accessories/diona/diona_hair.dm
  icons/mob/sprite_accessories/diona/diona_hair.dmi
Labels: Feature, Sprites

#15045 christmas cheer
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/snow.dm
  paradise.dme
Labels: BoxStation, Map Edit

#15078 [Speedmerge] Fixes contracts not being sent to TGUI
  code/modules/antagonists/traitor/contractor/datums/contractor_hub_ui.dm
Labels: Fix

#15079 [Speedmerge] Fixes Contractors runtime on round end
  code/game/gamemodes/traitor/traitor.dm
Labels: Fix

#15069 AIs can now toggle whether they wish to announce oncoming station arrivals or not
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/new_player/new_player.dm
Labels: Tweak

#15081 Maint drones now can't be chosen as agent by autotraitor
  code/game/gamemodes/autotraitor/autotraitor.dm
Labels: Fix

#15085 Makes changeling and stable mutagen transforms update your sec HUD
  code/game/gamemodes/changeling/changeling_power.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Fix

#15088 Makes stunbaton stutter work
  code/game/objects/items/weapons/stunbaton.dm
Labels: Fix

#14975 Changes atmospherics machinery plane from "FLOOR_PLANE" to "GAME_PLANE"
  code/ATMOSPHERICS/atmospherics.dm
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_scrubber.dm
Labels: Tweak

#15093 Makes code 513.1537 compliant
  _build_dependencies.sh
  code/datums/mind.dm
  code/modules/antagonists/traitor/contractor/datums/contractor_hub_ui.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
  code/modules/newscaster/obj/newscaster.dm
Labels: Fix, High Priority, Infrastructure

#15096 Fixes Captain being contractor target, contractor batons not stunning silicons
  code/game/objects/items/weapons/batons.dm
  code/modules/antagonists/traitor/contractor/datums/objective_contract.dm
Labels: Fix

#15097 Chrimmas 2.0
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: BoxStation, Fix

#15107 Swaps the 'open' and 'closed' sprites for the Food/Slime Processor
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  icons/obj/kitchen.dmi
Labels: Fix

#15106 Removes some stray pixels from icons/obj/
  icons/obj/closet.dmi
  icons/obj/decals.dmi
  icons/obj/items.dmi
  icons/obj/pipes.dmi
  icons/obj/ship_engine.dmi
  icons/obj/tiles.dmi
  icons/obj/trash.dmi
  icons/obj/vending_restock.dmi
Labels: Fix, Sprites

#15043 Updates brown terror sprite shading
  icons/mob/terrorspider.dmi
Labels: Sprites

#15048 Fixes an unitentional Skrell nerf
  code/__DEFINES/genetics.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
Labels: Tweak

#15058 Rework of chav text replacement
  code/game/dna/genes/goon_disabilities.dm
Labels: Tweak

#15082 Snowballs from snow tiles
  code/game/objects/effects/snowcloud.dm
  code/game/objects/structures/snow.dm
Labels: Feature

#15086 Makes admin jobs bolded over radio channels
  code/game/machinery/tcomms/nttc.dm
Labels: Tweak

#15087 Adds contractor baton to rep uplink, change desc
  code/modules/antagonists/traitor/contractor/datums/contractor_hub.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/baton.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/fulton.dm
  paradise.dme
Labels: Tweak

#15095 Removes Air Conditioner
  code/game/machinery/chiller.dm
  paradise.dme
  tgui/docs/tutorial-and-examples.md
Labels: Revert/Feature Removal

#15100 Adjusts who gets to steal the hand teleporter / CMO defib
  code/game/gamemodes/steal_items.dm
Labels: Balance

#15112 Removes more PR mistakes
  code/__DEFINES/flags.dm
  code/datums/datum.dm
Labels: Code Improvement, Refactor

#15111 Fixes snowballs damaging structures
  code/game/objects/effects/snowcloud.dm
Labels: Fix

#15118 Revert the workaround for byond version 1537. Bump min version for travis
  _build_dependencies.sh
  code/datums/mind.dm
  code/modules/antagonists/traitor/contractor/datums/contractor_hub_ui.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
  code/modules/newscaster/obj/newscaster.dm
Labels: Fix, Revert/Feature Removal

#15116 Fixes vocal cords
  code/modules/surgery/organs/vocal_cords.dm
Labels: Fix

#15060 Adds a message to the level 7 biohazard event: tells ghosts who got infected and with what disease
  code/modules/events/disease_outbreak.dm
Labels: Feature

#15039 Removes the 0.1 second delay for window deconstruction
  code/game/objects/structures/window.dm
Labels: Tweak

#15071 Cult barrier rune chaining
  code/game/gamemodes/cult/runes.dm
  code/game/machinery/shieldgen.dm
Labels: Balance

#15076 Makes blobbernauts and blob spores able to catch on fire
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Balance

#15080 Asay Chat Mentions
  code/modules/admin/verbs/adminsay.dm
  sound/misc/ping.ogg
Labels: Administration, Feature

#15102 Fixes bugs with the syndie chainsaw and the dsword when trying to wield them but failing
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix

#15098 Radial Menus for the Bible and Null Rod
  code/game/jobs/job/support_chaplain.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/storage/bible.dm
Labels: Feature

#15103 Gives red and gamma ERT (just gamma for janitor) death alarms
  code/modules/response_team/ert_outfits.dm
Labels: Balance

#15090 Fixes Flagellant's Robes speed boost stacking
  code/game/gamemodes/cult/cult_items.dm
Labels: Balance

#15077 Gives Zealot's Blindfolds the ability to see concealed cult runes and structures
  code/__DEFINES/sight.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/runes.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/shade.dm
Labels: Balance

#15089 SSticker minor refactor
  .github/CODEOWNERS
  _maps/map_files/cyberiad/z2.dmm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/ticker.dm
  code/game/area/dynamic_areas.dm
  code/game/world.dm
  code/modules/economy/Economy.dm
  code/modules/economy/Economy_Events.dm
  code/modules/spacepods/spacepod.dm
  paradise.dme
Labels: Refactor

#14988 Adds the Synth to Loadout.
  code/modules/client/preference/loadout/loadout_general.dm
Labels: Tweak

#14987 Makes the ERT suit storage slot better
  code/modules/clothing/spacesuits/ert.dm
Labels: Balance

#14938 Removes meteor shot from crafting menu
  code/modules/crafting/recipes.dm
Labels: Balance

#13671 Makes wall lockers more consistent with other lockers
  code/game/objects/structures/crates_lockers/walllocker.dm
Labels: Refactor, Revert/Feature Removal

#15124 Fixes Syndicate codeword highlighting on some speech
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
Labels: Fix

#15122 TGUI argument documentation
  code/controllers/subsystem/tgui.dm
  code/modules/tgui/external.dm
Labels: Documentation

#15109 Rapier Sheath quick-equip and sound effects
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/storage/belt.dm
Labels: Feature, Sound

#15108 Fixes bad area pathing on all the lava ruins
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_cultaltar.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_envy.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_fountain_hall.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_swarmer_crash.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ufo_crash.dmm
  code/game/area/areas/ruins/lavaland.dm
Labels: Fix, General Map, Map Edit

#14960 Refactors renaming things with a pen.
  code/ATMOSPHERICS/components/binary_devices/pump.dm
  code/ATMOSPHERICS/components/binary_devices/volume_pump.dm
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/ATMOSPHERICS/components/trinary_devices/mixer.dm
  code/_onclick/item_attack.dm
  code/game/atoms.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/weapons/implants/implantcase.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/windoor_assembly.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/games/cards.dm
  code/modules/hydroponics/gene_modder.dm
  code/modules/library/lib_items.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Refactor

#14536 Close storage UI when item becomes inaccessible
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/recycling/disposal.dm
  code/modules/research/destructive_analyzer.dm
Labels: Fix

#13203 Kidan Rebalance
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
Labels: Balance, Feature

#13202 Makes Bubblegum fightable
  code/modules/mining/lavaland/loot/bubblegum_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
Labels: Balance

#14928 Jani ERT implant rebalancing
  code/modules/response_team/ert_outfits.dm
Labels: Balance

#14948 Fixes 'Create Antagonist' cultists instantly ascending
  code/datums/mind.dm
  code/game/gamemodes/cult/cult.dm
  code/modules/admin/verbs/one_click_antag.dm
Labels: Fix

#14934 Adds the handheld syndicate teleporter
  code/datums/uplink_item.dm
  code/game/objects/items/devices/traitordevices.dm
  icons/obj/device.dmi
Labels: Feature

#14890 removes magic wall safe exploit
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Fix

#14772 Changes the chances for major events. Terrors/Blobs less common. Others a bit more common
  code/modules/events/event_container.dm
Labels: Tweak

#15120 Makes syndicate depot structures Initialize()
  code/game/machinery/computer/depot.dm
  code/game/objects/effects/mines.dm
  code/game/objects/structures/crates_lockers/closets/secure/depot.dm
  code/game/objects/structures/depot.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: Refactor

#15002 Refactors cloning revive hooks. Fixes players being cloned post borging.
  code/__DEFINES/dcs/signals.dm
  code/datums/mind.dm
  code/datums/soullink.dm
  code/game/machinery/cloning.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/stat_states.dm
Labels: Refactor

#14696 Removes the plasmaman brute weakness
  code/modules/mob/living/carbon/human/species/plasmaman.dm
Labels: Balance

#14628 Stamp People
  code/game/atoms.dm
  code/modules/clothing/chameleon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/paperwork/stamps.dm
  icons/effects/stamp_marks.dmi
Labels: Feature

#13962 Nerfs ashstorm sounds
  code/datums/looping_sounds/weather.dm
Labels: Sound

#13971 Nerfs Lava Staff
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
Labels: Balance

#13193 Can't break out of grabs while incapacitated
  code/modules/mob/mob_movement.dm
Labels: Balance

#12977 Adds a toggleable notification sound to prayers for admins
  code/__DEFINES/preferences.dm
  code/modules/admin/verbs/pray.dm
  code/modules/client/preference/preferences_toggles.dm
Labels: Administration, SQL Change

#15119 Active Turfs Visualiser
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
Labels: Feature

#15007 Async SQL + SSdbcore
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  SQL/paradise_schema.sql
  SQL/paradise_schema_prefixed.sql
  SQL/updates/14-15.sql
  code/__DEFINES/misc.dm
  code/__DEFINES/rust_g.dm
  code/__HELPERS/_logging.dm
  code/__HELPERS/text.dm
  code/_globalvars/logging.dm
  code/_globalvars/misc.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/changelog.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/statistics.dm
  code/defines/procs/dbcore.dm
  code/defines/procs/statistics.dm
  code/game/jobs/job_exp.dm
  code/game/jobs/whitelist.dm
  code/game/world.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_memo.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/banappearance.dm
  code/modules/admin/banjob.dm
  code/modules/admin/create_poll.dm
  code/modules/admin/db_ban/functions.dm
  code/modules/admin/ipintel.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/sql_notes.dm
  code/modules/admin/topic.dm
  code/modules/admin/watchlist.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/customitems/item_spawning.dm
  code/modules/karma/karma.dm
  code/modules/library/admin.dm
  code/modules/library/computers/base.dm
  code/modules/library/computers/checkout.dm
  code/modules/library/computers/public.dm
  code/modules/library/lib_machines.dm
  code/modules/library/random_books.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/poll.dm
  code/modules/research/message_server.dm
  code/modules/unit_tests/sql.dm
  config/example/dbconfig.txt
  libmariadb.so
  libmysql.dll
  paradise.dme
  tools/ci/dbconfig.txt
  tools/ci/sql_v0.sql
Labels: Configuration Change, Performance, Refactor, SQL Change

#15125 Revert "Stamp People"
  code/game/atoms.dm
  code/modules/clothing/chameleon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/paperwork/stamps.dm
  icons/effects/stamp_marks.dmi
Labels: Fix, High Priority, Revert/Feature Removal

#15126 Revert "Close storage UI when item becomes inaccessible"
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/recycling/disposal.dm
  code/modules/research/destructive_analyzer.dm
Labels: Revert/Feature Removal

#15127 Fixes some quirks in SSdbcore
  code/controllers/subsystem/changelog.dm
  code/modules/karma/karma.dm
Labels: Fix

#15129 Fixes ticker roundstart being slow
  code/controllers/subsystem/jobs.dm
  code/game/jobs/whitelist.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/customitems/item_spawning.dm
  code/modules/mob/new_player/new_player.dm
Labels: Fix, Test Merge Candidate

#15131 Fixes being cuffed making you unable to move
  code/modules/mob/mob_movement.dm
Labels: Fix, High Priority

#15134 Fixes handle_fire for mobs. Fixes xenos burning to death from nothing
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#15135 Autolathe fixes: respect upgraded cost, deconstruction sounds
  code/game/machinery/autolathe.dm
Labels: Fix

#15141 Fixes nullspace bug when entering deleted disposal bins
  code/modules/recycling/disposal.dm
Labels: Fix

#15144 Fix sleepypen not working :(
  code/modules/paperwork/pen.dm
Labels: Fix

#15150 Fixes cyborgs using hotkeys while dead
  code/_onclick/cyborg.dm
Labels: Fix

#15149 Removes areamaster
  code/game/atoms_movable.dm
  code/game/machinery/alarm.dm
  code/game/machinery/cryopod.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
Labels: Refactor

#15137 Makes closets Initialize()
  code/game/objects/items/random_items.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/fitness.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/l3closet.dm
  code/game/objects/structures/crates_lockers/closets/malfunction.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/chaplain.dm
  code/game/objects/structures/crates_lockers/closets/secure/depot.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/miscjobs.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  code/game/objects/structures/crates_lockers/walllocker.dm
  code/modules/antagonists/traitor/contractor/items/extraction_items.dm
  code/modules/awaymissions/exile.dm
  code/modules/food_and_drinks/kitchen_machinery/juicer.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mining/lavaland/loot/bubblegum_loot.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mining/mine_items.dm
Labels: Refactor

#15113 Nerfs terrors' ability to pull canisters, tanks and other objects
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
Labels: Balance

#15155 Removes ability to put collars on jumpsuits
  code/modules/clothing/clothing.dm
Labels: Controversial, Tweak

#15166 Fixes oauth tokens / forum account linking
  code/modules/client/client_procs.dm
Labels: Fix

#15164 Fixes a spelling mistake in the spellblade's description
  code/modules/projectiles/guns/magic/staff.dm
Labels: Fix

#15162 Pinpointer runtime fixes
  code/datums/cache/crew.dm
  code/game/gamemodes/nuclear/pinpointer.dm
Labels: Fix

#14815 Nuka cola speed buff nerf
  code/__DEFINES/combat.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
Labels: Balance

#15171 Fixes runtime in organs_internal.dm when removing an egg via surgery
  code/modules/surgery/organs_internal.dm
Labels: Fix

#14018 Hierophant staff nerf
  code/modules/mining/lavaland/loot/hierophant_loot.dm
Labels: Balance

#15168 PDA messsages are logged using the new logging system
  code/game/machinery/computer/message.dm
  code/modules/pda/messenger.dm
Labels: Administration, Feature

#13648 Add ability to swap items in storage
  code/_onclick/drag_drop.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/stock_parts.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/turfs/simulated/floor/asteroid.dm
Labels: Feature

#15173 Fixes SQL Error 1048 when connecting via VSCode
  code/modules/client/client_procs.dm
Labels: Fix

#15175 Removes <b> tag from newscaster story in money lottery event
  code/modules/events/money_lotto.dm
Labels: Fix

#15179 Fixes a small mistake with host to guardian say logging
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/miniantags/guardian/host_actions.dm
Labels: Fix

#15140 Macaroni sprite update
  icons/obj/food/pasta.dmi
Labels: Sprites

#15193 Makes mindread not list non carbon mobs. No more reading the mind of ghosts or AI eyes
  code/game/dna/genes/goon_powers.dm
Labels: Fix

#15194 Only show PDA messages to awake or dead owners
  code/modules/pda/app.dm
Labels: Fix

#15196 Fixes cell-less APC causing TGUI BSOD on Power Monitor
  code/datums/cache/apc.dm
  tgui/packages/tgui/interfaces/PowerMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, TGUI

#15189 Make "undeleted query" & byond acc creation logs for admins respect "see debug logs" setting
  code/controllers/subsystem/dbcore.dm
  code/modules/client/client_procs.dm
Labels: Administration, Tweak

#15169 Revert "Removes ability to put collars on jumpsuits"
  code/modules/clothing/clothing.dm
Labels: Feature, Revert/Feature Removal

#15178 Ghosts now know what guardian type the user wants to spawn. User can cancel when selecting the guardian type
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Feature

#15206 Makes brig cells have an unknown job title for the AI instead of /list
  code/game/machinery/doors/brigdoors.dm
Labels: Fix

#15158 More New() -> Initialize() for /obj/structure
  code/game/gamemodes/cult/cult_structures.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/deployable.dm
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/structures/barsign.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/door_assembly_types.dm
  code/game/objects/structures/electricchair.dm
  code/game/objects/structures/extinguisher.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/mirror.dm
  code/game/objects/structures/mop_bucket.dm
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/tank_dispenser.dm
  code/game/objects/structures/transit_tubes/station.dm
  code/game/objects/structures/watercloset.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/events/spacevine.dm
  code/modules/library/lib_items.dm
  code/modules/library/random_books.dm
  code/modules/mining/fulton.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/actions.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/reproduction.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/recycling/disposal.dm
  code/modules/spacepods/construction.dm
Labels: Refactor

#15186 Changes some world init order stuff around
  code/game/world.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/banjob.dm
  code/modules/admin/verbs/diagnostics.dm
Labels: Fix

#15191 Optimises SSchangelog
  code/controllers/subsystem/changelog.dm
  code/controllers/subsystem/dbcore.dm
Labels: Fix, Performance

#15197 Get max 1 power from the DNA vaults
  code/modules/station_goals/dna_vault.dm
  tgui/packages/tgui/interfaces/DnaVault.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Balance

#15213 Fixes rnd logging stuff
  code/modules/research/research.dm
Labels: Fix

#15216 Fixes IV bags not letting you change transfer rate while buckled.
  code/modules/reagents/reagent_containers.dm
Labels: Fix

#15198 E20 gibbing admin logs
  code/game/objects/items/weapons/dice.dm
Labels: Administration, Feature
