Repository ParadiseSS13/Paradise, pull requests merged in 2021-04, with the labels that each got.

#15787 Monkey and Rat
  code/__DEFINES/is_helpers.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  sound/creatures/a-rat.ogg
  sound/misc/monke.ogg
  sound/misc/notice1.ogg
Labels: April Fools PR

#15789 Improves asteroid ParallAAx layer
  icons/effects/parallax.dmi
Labels: April Fools PR

#15792 Removes nuke ops shuttle blindspots
  _maps/map_files/generic/centcomm.dmm
Labels: April Fools PR

#15795 Fixes some area names
  code/game/area/ss13_areas.dm
Labels: April Fools PR

#15800 Fixes sleeping carp logs
  code/modules/martial_arts/sleeping_carp.dm
Labels: Fix

#15755 Night Vision HUDs resprite
  icons/mob/eyes.dmi
  icons/mob/species/drask/eyes.dmi
  icons/mob/species/grey/eyes.dmi
  icons/mob/species/vox/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Sprites

#15834 Fixes AI doomsday greentext
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/gamemodes/objective.dm
Labels: Fix

#15826 Fix diona/slimepeople limbs not augmenting fully
  code/modules/surgery/organs/subtypes/diona.dm
  code/modules/surgery/organs/subtypes/unbreakable.dm
Labels: Fix

#15825 Cuffs now block arm implant use
  code/modules/surgery/organs/augments_arms.dm
Labels: Fix

#15808 Honkbot AI fixes and sad trombone
  code/modules/crafting/recipes.dm
  code/modules/instruments/objs/items/instruments.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
Labels: Fix

#15784 Fixes dream text
  code/modules/flufftext/Dreaming.dm
  config/names/dreams.txt
  config/names/nightmares.txt
Labels: Fix

#15669 Support 30 additional hats for corgis.
  code/datums/dog_fashion.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  icons/mob/corgi_head.dmi
Labels: Feature

#15726 Prevents Voice of God from being used while in jaunt, fixes cult VOG
  code/modules/surgery/organs/vocal_cords.dm
Labels: Balance, Fix

#15744 Update suggested client version to 513.1542
  code/modules/client/client_procs.dm
Labels: Tweak

#15758 SM Delam station wide siren
  code/modules/power/supermatter/supermatter.dm
Labels: Feature

#15810 Evidence bag items now call pickup proc
  code/modules/detective_work/evidence.dm
Labels: Tweak

#15797 Improves deathsquad naming structure
  code/modules/admin/verbs/striketeam.dm
Labels: Tweak

#15824 Updates handheld compact defib sprite
  icons/obj/items.dmi
Labels: Sprites

#15842 Fixes inhand defib
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Fix

#15831 Adds missing Vox sprites for Leather Overcoats and Retro Spacesuit
  code/modules/clothing/clothing.dm
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
Labels: Sprites

#15827 Prescription glasses tweaks
  code/modules/clothing/chameleon.dm
  code/modules/clothing/glasses/glasses.dm
Labels: Tweak

#15821 Removes Stable Mutagen
  code/game/gamemodes/changeling/powers/tiny_prick.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Balance, Revert/Feature Removal

#15809 Moved nullified to own proc and reduced stacking effect of nullrod/prayer beads
  code/game/gamemodes/vampire/vampire.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Balance, Refactor

#15793 Deploys the nuke by default
  code/game/gamemodes/nuclear/nuclearbomb.dm
  tgui/packages/tgui/interfaces/NuclearBomb.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Balance, Tweak

#15776 No more multitool mutilation
  code/game/objects/items/tools/multitool.dm
Labels: Tweak

#15849 Fixes 'Command Amplification' amplifying emotes
  code/game/machinery/tcomms/nttc.dm
Labels: Fix

#15737 Remove cat ears from the random costume landmark
  code/game/objects/effects/landmarks.dm
Labels: Tweak

#15861 Fixes loadout errors appearing on every round
  code/__HELPERS/global_lists.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
Labels: Fix

#15858 Added mutatelist = list() to onion/red
  code/modules/hydroponics/grown/onion.dm
Labels: Fix

#15845 Adds volume channel for engine ambience (SM, Tesla)
  code/__DEFINES/sound.dm
  code/__HELPERS/unsorted.dm
  code/datums/looping_sounds/looping_sound.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/modules/client/preference/preferences.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Feature

#15806 Adds an actual sprite for the singularity hammer.
  code/game/objects/items/weapons/twohanded.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
Labels: Sprites

#15785 Removes red crosses from doctor's delight drink sprite
  icons/obj/drinks.dmi
Labels: Sprites

#15886 Fixes surgical table moving anchored things
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#15882 Fix summoning multiple guardians exploit
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Fix

#15569 Makes Drones and Swarmers unaffected by radiation
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
Labels: Tweak

#15889 Fire Alarm - Message Fix
  code/game/machinery/firealarm.dm
Labels: Fix

#15892 Fixes bike dismanting
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: Fix

#15620 Soup Drinking (and custom soups!)
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  code/game/machinery/vending.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/trash.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/station_goals/bluespace_tap.dm
Labels: Refactor

#15868 deletes pAI pony sprite
  icons/obj/objects.dmi
Labels: Sprites

#15786 Allows Ian to eat homework
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/paperwork/paper.dm
  icons/obj/bureaucracy.dmi
Labels: Feature

#15898 Fixes turf spelling issues
  code/game/turfs/simulated/minerals.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/game/turfs/simulated/walls_misc.dm
Labels: Grammar and Formatting

#15897 Fixed a grammar mistake in the coroners cap description.
  code/modules/clothing/head/jobs.dm
Labels: Grammar and Formatting

#15904 Fixes statues making invisible atmos blocking walls
  code/game/objects/structures/statues.dm
Labels: Fix

#15906 Fixes: Preferences now properly loads the UI style.
  code/modules/client/preference/preferences_mysql.dm
Labels: Fix

#15910 Adds Ice to Daiquiri recipe
  code/modules/reagents/chemistry/recipes/drinks.dm
Labels: Fix

#15873 Various bugfixes
  code/datums/spells/wizard.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/hydroponics/grown/cocoa_vanilla.dm
  code/modules/hydroponics/grown/tobacco.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/pda/cart_apps.dm
  code/modules/surgery/organs/subtypes/skrell.dm
Labels: Fix

#15908 Tweaks fluff item
  icons/mob/uniform.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#15914 Fix eyepatch sprite to not cover both eyes
  icons/mob/eyes.dmi
Labels: Fix

#15865 Suit Storage UI button placement tweak
  tgui/packages/tgui/interfaces/SuitStorage.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak

#15879 Gives ERT Combat Gloves
  code/modules/response_team/ert.dm
  code/modules/response_team/ert_outfits.dm
Labels: Balance

#15872 Removes the "Record Maintenance" tab from sec records consoles
  code/game/machinery/computer/security.dm
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Balance, Merge Conflict

#15909 Gives Greys FluoroSulphuric Acid immunity
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Balance

#15933 Fixes handheld chem dispenser reaching negative charge
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix

#15940 Issue 15937 Fix - Containment fields can no longer be contaminated with radiation.
  code/game/machinery/shieldgen.dm
  code/modules/power/singularity/containment_field.dm
Labels: Fix

#15945 Changes default DMI behaviour within VSC
  .vscode/settings.json
Labels: Feature, Webeditor Heresy

#15948 Borer preference affects notification
  code/game/gamemodes/miniantags/borer/borer.dm
  code/modules/mob/mob_helpers.dm
Labels: Tweak

#15962 Example Config Sync
  config/example/admin_ranks.txt
  config/example/away_mission_config.txt
  config/example/config.txt
  config/example/dbconfig.txt
  config/example/game_options.txt
  config/example/jobs.txt
  config/example/jobs_highpop.txt
  config/example/lavaRuinBlacklist.txt
  config/example/rules.html
  config/example/spaceRuinBlacklist.txt
Labels: Administration
