Repository ParadiseSS13/Paradise, pull requests merged in 2021-06, with the labels that each got.

#16121 fixes "destoyed" to "destroyed"
  code/game/gamemodes/nuclear/nuclearbomb.dm
Labels: Fix

#16065 Gives PRRs qdel log ingame
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
Labels: Tweak

#16025 Axes Ratvar_Act() from the code
  code/game/atoms.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/table_frames.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_misc.dm
  code/game/turfs/turf.dm
Labels: Code Improvement

#16021 Fixes #16019
  code/game/objects/items.dm
Labels: Fix

#16026 Cleaning up .dmi files in effects folder for dreammaker
  icons/am_engine.dmi
  icons/effects/effects.dmi
  icons/effects/genetics.dmi
  icons/effects/targeted.dmi
  icons/laptop.dmi
Labels: Refactor

#16128 Fixes maintenance drone suicide softlock
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
Labels: Fix

#16124 Fixes bad inits on space tiles
  code/game/turfs/turf.dm
Labels: Fix

#16129 Fixes runtime in destructive analyzer
  code/modules/research/rdconsole.dm
Labels: Fix

#15978 Makes all nuclear operatives remember the nuke code
  code/game/gamemodes/nuclear/nuclear.dm
Labels: Tweak

#16117 Fixes soulstones ignoring DNR or AntagHUD settings
  code/game/data_huds.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Fix

#16068 Poly can no longer grab inside disposals.
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Fix

#16133 Fixes guardian bluespace pads having a non-existent icon_state
  code/game/gamemodes/miniantags/guardian/types/healer.dm
Labels: Fix

#16134 Fixes some turf related exploits
  code/game/objects/items/weapons/RCD.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Fix

#16136 AIs can no longer be pushed in disposal chutes
  code/modules/recycling/sortingmachinery.dm
Labels: Exploit, Fix

#16002 Switches the morgue sprites for "non-body" and "revivable"
  icons/obj/stationobjs.dmi
Labels: Fix

#16070 Cleaner no longer resets Light Tiles.
  code/game/turfs/simulated/floor/light_floor.dm
  code/game/turfs/turf.dm
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Fix

#16137 Fixes sol trader job icon
  code/datums/outfits/outfit_admin.dm
Labels: Fix

#16143 Fixes borgs not getting their emag items when a malf AI hacks them
  code/game/machinery/computer/robot.dm
Labels: Fix

#16146 Fix nullspaced GPS causing runtime on display
  code/modules/telesci/gps.dm
Labels: Fix

#16152 Fixes VSC .dmi rendering
  .vscode/settings.json
Labels: Fix

#16155 Grammar issues in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#16162 Moves Goonchat chat debug logging to RUSTG
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/game/world.dm
  goon/code/datums/browserOutput.dm
Labels: Performance, Refactor

#16164 Fixes anomalous crystal respawn 'exploit'
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Exploit, Fix, High Priority

#16165 Respawning using anomalous crystal exploit fixes
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Exploit, Fix

#16166 Fix forum link runtime
  code/modules/client/client_procs.dm
Labels: Fix, Runtime

#16174 Makes machinery/shields GC properly
  code/game/machinery/shieldgen.dm
Labels: GC Related, Refactor

#16154 Fixes broken shuttle and escape pod rotation
  code/game/shuttle_engines.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/modules/shuttle/shuttle_rotate.dm
Labels: Fix

#16176 Fixes MMIs and robo/posibrains not having runechat
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/robotic_brain.dm
Labels: Fix

#16184 Fixes duping rods with repairing grills under windows
  code/game/objects/structures/grille.dm
Labels: Exploit, Fix

#16181 Fixes Jumpboots' active icon
  code/datums/action.dm
Labels: Fix

#16189 Fixes being unable to pickup the armblade nullrod on mining
  code/game/objects/items/weapons/holy_weapons.dm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#16191 Fixes cold immunity
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Fix

#16178 Fluffy Plasmaman Change
  code/modules/customitems/item_defines.dm
  icons/mob/species/plasmaman/helmet.dmi
  icons/mob/species/plasmaman/uniform.dmi
  icons/obj/custom_items.dmi
Labels: Tweak

#16169 Reverts Kissing
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/game/objects/items/hand_item.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/effects/kiss.ogg
Labels: Revert/Feature Removal

#16168 Makes E-Bolas as they should be. Noncyborg variants.
  code/game/objects/items/weapons/legcuffs.dm
Labels: Tweak

#16110 Adds pref to remove internals pressure from status tab, adds it to inspect text
  code/__DEFINES/preferences.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Tweak

#16108 Optimizes customizable foods slightly + makes stacking beyond the limit of 41 impossible to avoid the server from dying
  code/modules/food_and_drinks/food/customizables.dm
Labels: Performance, Tweak

#16115 Enforces nukies to wait at least 10 minutes after war before heading to station
  code/game/gamemodes/nuclear/nuclear_challenge.dm
  code/modules/shuttle/syndicate.dm
Labels: Balance

#16086 Refactors and tweaks reactive armours
  code/modules/clothing/suits/armor.dm
Labels: Balance

#15984 Adds banarnarbread
  code/modules/food_and_drinks/food/foods/bread.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  icons/obj/food/food.dmi
Labels: Feature

#15941 Issue #15928 - Finger gun trigger guard fix
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Balance

#15920 Makes CQC not able to be discounted
  code/datums/uplink_item.dm
Labels: Balance

#16119 Rebalences teslium blob slightly
  code/modules/reagents/chemistry/reagents/blob.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Balance

#16201 Fix: check mapload on loot spawn
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#16203 table climbing fix
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#16205 Prevents every gun under the sun from lying about alt skins
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Fix

#16204 Prevents ablative armor from reflecting in hand
  code/modules/clothing/suits/armor.dm
Labels: Fix

#16196 Fixes secborg batons
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix

#16206 Makes directional ranged attacks respect armor direction
  code/game/mecha/mecha.dm
Labels: Fix

#16207 Fixes the descriptions so it doesn't make broke guns
  code/modules/examine/descriptions/weapons.dm
Labels: Fix

#16209 Fixes syndie duffels mob sprite being invisible
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Fix

#16222 remove \the from loom.dm
  code/game/objects/structures/loom.dm
Labels: Fix

#16210 Ports HTML manifest to TGUI
  code/datums/datacore.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/tgui/modules/generic_crew_manifest.dm
  paradise.dme
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/GenericCrewManifest.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/themes/nologo.scss
Labels: Refactor, TGUI, Wanted Change

#16227 Fixes soulstones kicking players to the lobby
  code/game/gamemodes/wizard/soulstone.dm
Labels: Fix

#16233 Fix shower mist not going away on deconstruction
  code/game/objects/structures/watercloset.dm
Labels: Fix

#16234 Removes white pixels from boxing gloves on vox
  icons/mob/species/vox/gloves.dmi
Labels: Fix

#16225 capitalise the no-prints and x-ray deactivation messages
  code/game/dna/mutations/powers.dm
Labels: Fix

#16244 Prevents cult pylons from converting indestructible walls
  code/game/gamemodes/cult/cult_structures.dm
Labels: Fix

#16245 Fix some off-station terminals showing up on engineer PDAs.
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
Labels: Fix, General Map, Map Edit

#16247 Fixes singulo hammer sucking in ghosts
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix

#16248 Fixes a runtime with the cyborg rename module
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Fix

#16253 Stops swarmers from eating tiny fans and holo fans.
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
Labels: Fix

#16258 Fixes RPD eating TEG circulators
  code/game/machinery/pipe/construction.dm
  code/game/objects/items/weapons/rpd.dm
Labels: Fix

#16257 Fixes trying to thrall a thrall taking your blood
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: Fix

#16262 Fixes contractors removing ipc power cord
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
Labels: Fix

#16255 Fixes powersink not giving you a beacon on purchase.
  code/datums/uplink_item.dm
  code/game/objects/items/devices/radio/beacon.dm
Labels: Fix

#16260 Another small bugfix bundle
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/objects/items/tools/tool_behaviour.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/ruins/lavalandruin_code/puzzle.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/lungs.dm
  icons/mob/inhands/items_lefthand.dmi
Labels: Fix

#16198 Fixes upgraded teleporters UI
  code/game/machinery/teleporter.dm
Labels: Fix

#16270 Fixes bot pathing
  code/game/atoms.dm
Labels: Fix

#16271 Prevents AIS from gibbing when being carded from a mech
  code/game/mecha/mecha.dm
Labels: Fix

#16261 Add blast doors and a camera to the syndicate base test chamber
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
Labels: General Map, Map Edit

#16246 Let's labcoats store cyborg analyzers.
  code/modules/clothing/suits/labcoat.dm
Labels: Tweak

#16243 Ports dark gygax sprite from TG
  icons/mecha/mecha.dmi
Labels: Sprites

#16214 Remove mouse ears from Donor items
  code/modules/client/preference/loadout/loadout_donor.dm
Labels: Tweak

#16223 Makes CC cryogenic freezers silent
  _maps/map_files/generic/centcomm.dmm
  code/game/machinery/cryopod.dm
Labels: General Map, Map Edit

#16202 Digital Camouflage does no longer out you as a changeling.
  code/game/gamemodes/changeling/powers/digitalcamo.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Balance

#16192 Prevents built APCs from being hacked, Prevents AI from loosing points from apc destruction
  code/game/objects/items/mountable_frames/apc_frame.dm
  code/modules/power/apc.dm
Labels: Balance

#16177 Gives nuke ops an ion carbine instead of an ion rifle
  _maps/map_files/generic/centcomm.dmm
Labels: Balance

#16148 Adds warning to gluttony morph about not being an antag
  code/datums/diseases/transformation.dm
Labels: Tweak

#16126 Hand tele portals malfunctions teleport to random Z levels
  code/game/machinery/teleporter.dm
  code/game/objects/effects/portals.dm
Labels: Tweak

#16101 Replace nukie jetpacks by oxygen tanks
  code/datums/outfits/outfit_admin.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
Labels: Tweak

#16034 EFTPOS code parcel now spawns in the chef's backpack.
  code/modules/economy/EFTPOS.dm
Labels: Tweak

#16160 Prevents TK moving objects with people in or buckled to it
  code/_onclick/telekinesis.dm
Labels: Balance

#16273 Makes the syndicate bomb hijack only
  code/datums/uplink_item.dm
Labels: Balance
