Repository ParadiseSS13/Paradise, pull requests merged in 2021-08, with the labels that each got.

#16350 Adds an air analyzer to drones
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak

#16464 Fixes runtimes caused by null client preferences
  code/modules/client/preference/preferences_mysql.dm
Labels: Fix

#16469 Can't have infinite EMP implant charges anymore
  code/game/atoms.dm
  code/game/objects/empulse.dm
  code/game/objects/items/weapons/implants/implant_misc.dm
Labels: Exploit, Fix

#16472 Fixes morph for slimes
  code/game/dna/mutations/powers.dm
Labels: Fix

#16473 Fixes the floor painter icon state
  code/game/objects/items/devices/painter/painter.dm
Labels: Fix

#16477 Structre spelling fix
  code/game/objects/structures/girders.dm
Labels: Fix

#16482 Makes making multiple vampires log the number
  code/modules/admin/verbs/one_click_antag.dm
Labels: Administration

#16465 LightFire53 Fluff Item Grammar
  code/modules/customitems/item_defines.dm
Labels: Grammar and Formatting, Tweak

#16483 Moves intercoms above the window layer
  code/game/objects/items/devices/radio/intercom.dm
Labels: Fix

#16411 Fix bundle #3
  code/__HELPERS/lists.dm
  code/_onclick/item_attack.dm
  code/datums/spell.dm
  code/game/gamemodes/blob/powers.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/miniantags/guardian/host_actions.dm
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
  code/game/machinery/transformer.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/weapons/implants/implant_explosive.dm
  code/game/objects/items/weapons/pneumaticCannon.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/inflatable.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/awaymissions/mission_code/academy.dm
  code/modules/events/spacevine.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mining/equipment/resonator.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/mob/mob_helpers.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Fix

#16428 Contributing guidelines readability tweaks
  .github/CONTRIBUTING.md
Labels: Documentation

#16426 Makes the 'Sentience' event show the mob which has been selected
  code/modules/events/sentience.dm
Labels: Feature

#16485 Fixes a runtime with pAIs
  code/game/objects/items/devices/paicard.dm
Labels: Fix

#15923 Sets a Mob Cap for Giant Spiders
  .vscode/settings.json
  code/controllers/subsystem/mobs.dm
  code/game/objects/effects/spiders.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Balance

#16418 Allows admins to cryo cyborgs and AI's in player panel
  code/game/machinery/cryopod.dm
  code/modules/admin/topic.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Feature

#16434 Makes important terror spiders bold on hivemind.
  code/modules/mob/language.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/mother.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/white.dm
Labels: Feature

#16484 Fixes contractor extraction areas never being chosen due to bad names
  code/modules/antagonists/traitor/contractor/datums/objective_contract.dm
Labels: Fix

#16408 Delta Disposals - Fore Section
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16480 Delta fixes, atmos remap, and scimed floor rework
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, Merge Conflict, DeltaStation

#16494 Fixes world/Topic spam limiting
  code/controllers/configuration/sections/system_configuration.dm
  code/game/world.dm
  code/modules/world_topic/_spam_prevention_handler.dm
  config/example/config.toml
Labels: Fix, Configuration Change

#16151 SolGov SOO loadout, SolGov hardsuits.
  code/datums/outfits/outfit_admin.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/jobs/access.dm
  code/game/jobs/job/central.dm
  code/game/machinery/tcomms/nttc.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/spacesuits/ert.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/tgui/modules/ert_manager.dm
  icons/mob/back.dmi
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/storage.dmi
Labels: Feature

#15656 Adds supermatter sliver steal and plutonium core steal objective from TG
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/steal_items.dm
  code/game/objects/items/theft_items.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/power/supermatter/supermatter.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/nuke_tools.dmi
  paradise.dme
Labels: Feature

#15929 Adds glass floors
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/footstep.dm
  code/__DEFINES/layers.dm
  code/game/machinery/Beacon.dm
  code/game/machinery/hologram.dm
  code/game/machinery/magnet.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/items/devices/painter/pipe_painter.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/safe.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/floor/transparent.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/atmospherics/machinery/datum_icon_manager.dm
  code/modules/atmospherics/machinery/pipes/cap.dm
  code/modules/atmospherics/machinery/pipes/manifold.dm
  code/modules/atmospherics/machinery/pipes/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple.dm
  code/modules/power/cable.dm
  code/modules/power/terminal.dm
  code/modules/recycling/disposal.dm
  icons/turf/floors/glass.dmi
  icons/turf/floors/plasmaglass.dmi
  icons/turf/floors/plastitaniumglass.dmi
  icons/turf/floors/reinf_glass.dmi
  icons/turf/floors/reinf_plasmaglass.dmi
  icons/turf/floors/titaniumglass.dmi
  paradise.dme
  sound/effects/footstep/glass1.ogg
  sound/effects/footstep/glass2.ogg
  sound/effects/footstep/glass3.ogg
  sound/effects/footstep/glassbarefoot1.ogg
  sound/effects/footstep/glassbarefoot2.ogg
  sound/effects/footstep/glassbarefoot3.ogg
Labels: Feature

#16523 Fixes a cult EMP exploit
  code/game/gamemodes/cult/blood_magic.dm
Labels: Fix

#16524 Revert "Adds glass floors"
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/footstep.dm
  code/__DEFINES/layers.dm
  code/game/machinery/Beacon.dm
  code/game/machinery/hologram.dm
  code/game/machinery/magnet.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/items/devices/painter/pipe_painter.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/safe.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/floor/transparent.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/atmospherics/machinery/datum_icon_manager.dm
  code/modules/atmospherics/machinery/pipes/cap.dm
  code/modules/atmospherics/machinery/pipes/manifold.dm
  code/modules/atmospherics/machinery/pipes/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple.dm
  code/modules/power/cable.dm
  code/modules/power/terminal.dm
  code/modules/recycling/disposal.dm
  icons/turf/floors/glass.dmi
  icons/turf/floors/plasmaglass.dmi
  icons/turf/floors/plastitaniumglass.dmi
  icons/turf/floors/reinf_glass.dmi
  icons/turf/floors/reinf_plasmaglass.dmi
  icons/turf/floors/titaniumglass.dmi
  paradise.dme
  sound/effects/footstep/glass1.ogg
  sound/effects/footstep/glass2.ogg
  sound/effects/footstep/glass3.ogg
  sound/effects/footstep/glassbarefoot1.ogg
  sound/effects/footstep/glassbarefoot2.ogg
  sound/effects/footstep/glassbarefoot3.ogg
Labels: Revert/Feature Removal, oops

#16526 Fixes Solar Federation Brigadier Generals appearing on job priority lists
  code/game/machinery/computer/card.dm
  code/modules/newscaster/obj/newscaster.dm
Labels: Fix

#16488 Removes the Central Hallway from the list of contract locations
  code/modules/antagonists/traitor/contractor/datums/objective_contract.dm
Labels: Balance

#16474 "Crew_transfer vote" to "Crew transfer vote"
  code/controllers/subsystem/vote.dm
Labels: Tweak

#16459 Admins who ghost have their Antag HUD defaulted to On
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/new_player/new_player.dm
Labels: Tweak

#16460 Makes Juggernauts unable to be pulled.
  code/modules/mob/living/simple_animal/constructs.dm
Labels: Balance

#16522 Remove SSshuttle var referencing undefined type.
  code/controllers/subsystem/shuttles.dm
Labels: Revert/Feature Removal, WTF

#16497 Adds a pointer to the extraction location for Contractor uplinks
  code/__DEFINES/misc.dm
  code/controllers/subsystem/tgui.dm
  code/modules/antagonists/traitor/contractor/datums/contractor_hub_ui.dm
  code/modules/telesci/gps.dm
  tgui/packages/common/math.js
  tgui/packages/tgui/interfaces/Contractor.js
  tgui/packages/tgui/interfaces/GPS.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI

#16517 The Great Delta Secpoint Removal
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16530 Fixes grammer / bugs with supermater sliver and nuke core objectives
  code/game/gamemodes/objective.dm
  code/game/gamemodes/steal_items.dm
Labels: Fix

#16536 Removes a death commando name
  config/names/death_commando.txt
Labels: Tweak, Webeditor Heresy

#16291 Craftable brass sheets
  code/game/objects/effects/temporary_visuals/clockcult.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls_misc.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  icons/effects/clockwork_effects.dmi
Labels: Feature

#16541 Fixes `num2hex()` being able to freeze the server
  code/__HELPERS/type2type.dm
Labels: Fix

#16514 Makes heat exchangers not dense
  code/modules/atmospherics/machinery/components/unary_devices/heat_exchanger.dm
Labels: Fix, Balance

#16493 Removes Cling/Vamp CQC
  code/modules/martial_arts/martial.dm
Labels: Balance

#15652 Buffs to gamma armory v2
  _maps/map_files/generic/centcomm.dmm
  code/game/machinery/autolathe.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/mecha_wreckage.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/mecha/mecha.dmi
Labels: Balance

#16521 Delta Disposal - Port Section + Bridge and Fore touchup + Atmos Fireaxe
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16538 Fixes directional access on the Medbay and Security doors
  code/game/objects/effects/mapping_helpers.dm
Labels: Fix

#16550 Renames Brigadier General to just General
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/jobs/access.dm
  code/game/jobs/job/central.dm
  code/game/machinery/tcomms/nttc.dm
Labels: Fix

#15991 Fuel tanks now don't blow up 2-3 times when blown up. Their fire doesn't go through windows. And more fiery fixes
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: Fix

#16256 Enable Radiation HUD for ghosts
  code/controllers/subsystem/radiation.dm
  code/datums/components/radioactive.dm
  code/modules/clothing/glasses/engine_goggles.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/mob.dm
  code/modules/tgui/modules/ghost_hud_panel.dm
  tgui/packages/tgui/interfaces/GhostHudPanel.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak

#16370 Adds RCD and RPD to Cryo Storage; Fixes Cryo Storage Logic
  code/game/machinery/cryopod.dm
  code/modules/clothing/under/accessories/holster.dm
Labels: Tweak

#16546 Remaps DeltaStation Departures Security
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16551 Fixes a runtime with vampires.
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#16556 Fixes baseball bat deflection cooldown message
  code/game/objects/items/weapons/weaponry.dm
Labels: Fix

#16391 Metastation fix sweep: all non-security fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, MetaStation

#16549 SSmetrics - Elasticsearch powered metrics viewing
  code/__DEFINES/MC.dm
  code/__HELPERS/time.dm
  code/controllers/configuration/configuration_core.dm
  code/controllers/configuration/sections/metrics_configuration.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/acid.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/fires.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machinery.dm
  code/controllers/subsystem/metrics.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/processing/processing.dm
  code/controllers/subsystem/spacedrift.dm
  code/controllers/subsystem/tgui.dm
  code/controllers/subsystem/throwing.dm
  code/controllers/subsystem/tickets/mentor_tickets.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/weather.dm
  code/game/world.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/subsystem_metric_sanity.dm
  config/example/config.toml
  paradise.dme
Labels: Feature, Configuration Change, Infrastructure

#16532 Caps runechat emotes to 100 chars
  code/modules/mob/emote.dm
Labels: Fix

#16548 Fixes 'Build Mode' layering
  code/__DEFINES/layers.dm
  code/_onclick/hud/_defines.dm
  code/modules/buildmode/buttons.dm
Labels: Fix

#16498 Adds Fake Blindfold
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/clothing/glasses/glasses.dm
Labels: Feature

#16573 Lavaland has had rivers this whole fucking time.
  code/controllers/subsystem/mapping.dm
Labels: Fix

#16575 Fixed cable restraints not being properly coloured
  code/modules/power/cable.dm
Labels: Fix

#16578 Spirit Realm nullspace fix
  code/game/gamemodes/cult/runes.dm
Labels: Fix

#16584 Fixes slings being told the world name instead of station name
  code/game/gamemodes/shadowling/shadowling.dm
Labels: Fix

#16583 Fixes flying/jaunting/floating mobs breaking glass tables.
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#16394 NSS Cerebon (MetaStation) Security Fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation

#16592 Fixes runtimes in spell can_cast() checks.
  code/datums/spell.dm
Labels: Fix

#16594 Butterflies created from severe anxiety decompose
  code/datums/diseases/anxiety.dm
Labels: Performance, Tweak

#16591 Removes wall jaunting as we know it
  code/datums/spells/ethereal_jaunt.dm
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: Tweak

#16587 NSS Ceberon / Metastation - Disposals Rework
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation

#16570 Allows nuke core containers to be broken open
  code/game/gamemodes/steal_items.dm
  code/game/objects/items/theft_items.dm
  icons/obj/nuke_tools.dmi
Labels: Tweak

#16565 Adds in-hand sprites for baguettes.
  code/modules/food_and_drinks/food/foods/bread.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Feature

#16553 Adds 3 new names when a hardhat is put on a corgi
  code/datums/dog_fashion.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/misc_special.dm
Labels: Feature

#16569 [REQUIRES #16571] TG sprite project: item/obj (part 1)
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/reagent_containers/bottle.dm
  icons/obj/aicards.dmi
  icons/obj/airlock_machines.dmi
  icons/obj/apc_repair.dmi
  icons/obj/bodybag.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/chairs.dmi
  icons/obj/chemical.dmi
  icons/obj/items.dmi
  icons/obj/janitor.dmi
  icons/obj/kitchen.dmi
  icons/obj/library.dmi
  icons/obj/lighting.dmi
Labels: Sprites

#16571 [REQUIRES #16569] TG sprite project: item/obj (part 2)
  code/game/objects/items/weapons/storage/firstaid.dm
  icons/obj/mainframe.dmi
  icons/obj/objects.dmi
  icons/obj/power.dmi
  icons/obj/reagentfillings.dmi
  icons/obj/stationobjs.dmi
  icons/obj/stock_parts.dmi
  icons/obj/storage.dmi
  icons/obj/walllocker.dmi
  icons/obj/watercloset.dmi
Labels: Sprites

#16593 TG bread sprites
  code/modules/food_and_drinks/food/foods/bread.dm
  code/modules/food_and_drinks/food/foods/sandwiches.dm
  icons/obj/food/custom.dmi
  icons/obj/food/food.dmi
Labels: Sprites, Port

#16539 Replaces panic bunker with queue server
  code/__DEFINES/subsystems.dm
  code/_globalvars/misc.dm
  code/controllers/configuration/sections/general_configuration.dm
  code/controllers/subsystem/server_queue.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/manage_queue.dm
  code/modules/client/client_procs.dm
  code/modules/world_topic/queue_status.dm
  config/example/config.toml
  paradise.dme
Labels: Feature, Refactor, Configuration Change

#16529 Ensure only pistol-type weapons can be holstered
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/launchers.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/toy.dm
Labels: Tweak

#16519 Helmets no longer protect you from bible brain damage
  code/game/objects/items/weapons/storage/bible.dm
Labels: Balance

#16616 Sprite port fixes/oversights
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/obj/pda.dmi
  icons/obj/storage.dmi
Labels: Fix

#16617 fixes clings tentacle icon not showing
  code/game/gamemodes/changeling/powers/mutations.dm
Labels: Fix

#16586 [TM NEEDED] Possibly fix being unable to call contractor extraction
  code/modules/antagonists/traitor/contractor/datums/contractor_hub_ui.dm
  code/modules/antagonists/traitor/contractor/datums/objective_contract.dm
Labels: Fix, Test Merge Candidate

#16444 Refactors runechat_msg_location to use UIDs
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: Refactor
