Repository ParadiseSS13/Paradise, pull requests merged in 2021-02, with the labels that each got.

#15411 browse_files() now allows transfer of .json files
  code/__HELPERS/files.dm
Labels: Fix

#15367 [TGUI] TEG
  code/modules/power/generator.dm
  tgui/packages/tgui/interfaces/TEG.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, User Interface

#15421 Fixes an issue when saving preferences while using an IPC character
  code/modules/client/preference/preferences_mysql.dm
Labels: Fix

#15420 Initialized spacepods
  code/modules/spacepods/equipment.dm
  code/modules/spacepods/spacepod.dm
Labels: Code Improvement, Refactor

#15385 Transitions to Full-tile Windows
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/spawners/windowspawner.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/game/turfs/turf.dm
  icons/obj/shards.dmi
  icons/obj/smooth_structures/plasma_window.dmi
  icons/obj/smooth_structures/reinforced_window.dmi
  icons/obj/smooth_structures/rplasma_window.dmi
  icons/obj/smooth_structures/window.dmi
  icons/obj/structures.dmi
Labels: Feature, Sprites

#15426 Adjust Airlock Buttons Layers
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
Labels: Fix

#15428 Prevents server-freezing spin() calls
  code/modules/mob/mob.dm
Labels: Fix, High Priority

#15427 Further Updates Windows
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  code/game/objects/effects/spawners/windowspawner.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/structures/window.dm
  code/modules/mining/equipment/survival_pod.dm
  icons/obj/smooth_structures/clockwork_window.dmi
  icons/obj/smooth_structures/pod_window.dmi
  icons/obj/smooth_structures/rice_window.dmi
  icons/obj/smooth_structures/tinted_window.dmi
  icons/obj/structures.dmi
Labels: Fix, Map Edit, Refactor

#15416 Removes Space Hotel
  _maps/map_files/RandomZLevels/spacehotel.dmm
  _maps/map_files/templates/light_floor_1.dmm
  _maps/map_files/templates/light_floor_2.dmm
  _maps/map_files/templates/light_floor_3.dmm
  _maps/map_files/templates/spacehotel/n_01.dmm
  _maps/map_files/templates/spacehotel/n_02.dmm
  _maps/map_files/templates/spacehotel/n_03.dmm
  _maps/map_files/templates/spacehotel/n_04.dmm
  _maps/map_files/templates/spacehotel/n_05.dmm
  _maps/map_files/templates/spacehotel/n_06.dmm
  _maps/map_files/templates/spacehotel/n_07.dmm
  _maps/map_files/templates/spacehotel/n_08.dmm
  _maps/map_files/templates/spacehotel/n_09.dmm
  _maps/map_files/templates/spacehotel/n_10.dmm
  _maps/map_files/templates/spacehotel/n_11.dmm
  _maps/map_files/templates/spacehotel/n_12.dmm
  _maps/map_files/templates/spacehotel/n_13.dmm
  _maps/map_files/templates/spacehotel/n_14.dmm
  _maps/map_files/templates/spacehotel/n_15.dmm
  _maps/map_files/templates/spacehotel/n_16.dmm
  _maps/map_files/templates/spacehotel/n_17.dmm
  _maps/map_files/templates/spacehotel/n_18.dmm
  _maps/map_files/templates/spacehotel/n_19.dmm
  _maps/map_files/templates/spacehotel/s_01.dmm
  _maps/map_files/templates/spacehotel/s_02.dmm
  _maps/map_files/templates/spacehotel/s_03.dmm
  _maps/map_files/templates/spacehotel/s_04.dmm
  _maps/map_files/templates/spacehotel/s_05.dmm
  _maps/map_files/templates/spacehotel/s_06.dmm
  code/_globalvars/lists/misc.dm
  code/game/machinery/overview.dm
  code/game/turfs/unsimulated.dm
  code/game/turfs/unsimulated/floor.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/awaymissions/mission_code/spacehotel.dm
  code/modules/awaymissions/zvis.dm
  config/example/away_mission_config.txt
  paradise.dme
Labels: Code Improvement

#15429 Fixes TGS event handler reattach timer
  code/datums/tgs_event_handler.dm
Labels: Fix

#15302 Makes toilet bashing apply damage to the head.
  code/game/objects/structures/watercloset.dm
Labels: Tweak

#15284 Makes the Contractor Kit a 20 TC uplink purchase
  code/__DEFINES/contractors.dm
  code/datums/mind.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/objects/items/devices/uplinks.dm
  code/modules/antagonists/traitor/contractor/datums/contractor.dm
  code/modules/antagonists/traitor/contractor/datums/contractor_hub.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/blackout.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  paradise.dme
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, Tweak

#15396 Suit Storage Units now clean radiation (and blood)
  code/game/atoms.dm
  code/game/machinery/suit_storage_unit.dm
Labels: Tweak

#15357 Refactors Electrocution and Tesla Zapping
  code/__DEFINES/flags.dm
  code/__DEFINES/mobs.dm
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/click_override.dm
  code/datums/spells/lightning.dm
  code/game/atoms.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/gamemodes/miniantags/abduction/gland.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/gamemodes/miniantags/guardian/types/lightning.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/machinery.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/effects.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/holosign.dm
  code/modules/admin/topic.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/mob/living/status_procs.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/narsie.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/power/tesla/generator.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/reagents/chemistry/reagents/blob.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/vehicle/vehicle.dm
Labels: Balance, Feature, Refactor

#15433 Initialized /obj/docking_port
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
Labels: Code Improvement, Refactor

#15415 Some Admin/Mentor help improvements
  code/controllers/subsystem/tickets/tickets.dm
  code/modules/admin/verbs/adminhelp.dm
Labels: Administration

#15435 Initialized singulo
  code/modules/power/singularity/narsie.dm
Labels: Code Improvement, Refactor

#15283 Fixes and improves TGS revision info
  code/datums/revision.dm
  code/game/world.dm
  code/modules/client/client_procs.dm
Labels: Fix

#15436 Purging Will Continue Until Simulations Improve
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_cube.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ufo_crash.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiecakesfactory.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiedepot.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/debug/smoothing.dmm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/unsimulated/floor.dm
  code/modules/procedural_mapping/mapGeneratorModules/nature.dm
Labels: Fix, Map Edit, Refactor

#15439 SM engine APCs no longer short out during APC short/overload events
  code/modules/events/apc_overload.dm
  code/modules/events/apc_short.dm
Labels: Fix

#15440 Adds a scrollbar to the Central Atmospherics Computer
  tgui/packages/tgui/interfaces/AtmosControl.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, TGUI

#15443 Makes cyborg 'Module Reset' boards also reset the radio channels
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#15446 Capitalises the PR changelog examples
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#15384 LINDA Performance Refactor
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/LINDA/LINDA_fire.dm
  code/LINDA/LINDA_system.dm
  code/LINDA/LINDA_turf_tile.dm
  code/controllers/subsystem/air.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/game/turfs/simulated/walls_misc.dm
  code/game/turfs/simulated/walls_reinforced.dm
  code/game/turfs/turf.dm
  code/game/turfs/unsimulated.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Balance, BoxStation, DeltaStation, General Map, Map Edit, MetaStation, Performance, Refactor, Revert/Feature Removal

#15441 Cleans up Gas Mixture
  code/datums/gas_mixture.dm
Labels: Refactor

#13992 Fix cardinal direction for treadmills in brig
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: BoxStation, Fix, Map Edit

#14222 Adds a name for the Chef's pet Goat
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: BoxStation, Tweak

#14452 Fixes viro double light & RD office camera monitor
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: BoxStation, Map Edit

#15403 Adds a stat for supermatter delaminations
  code/modules/power/supermatter/supermatter.dm
Labels: Feature

#15461 Fixes wallrot
  code/modules/events/wallrot.dm
Labels: Fix

#15467 Fixes a bug with white infections in gateway
  code/modules/surgery/organs/parasites.dm
Labels: Fix

#15459 Fixes wrong atom name being used when failing to equip something
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Fix

#15474 Fixes a few Smoothing Instances
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/shuttles/emergency_old.dmm
Labels: Fix, Map Edit

#15457 Adds attack logs to explosive guardian ability
  code/game/gamemodes/miniantags/guardian/types/bomb.dm
Labels: Administration, Feature

#15464 Adds door remote and the autopsy scanner to protected cryo items
  code/game/machinery/cryopod.dm
Labels: Tweak

#15447 Buffs Potassium Iodine and Pentetic Acid's radiation healing.
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance

#15462 Nerfs botany potatoes
  code/modules/hydroponics/plant_genes.dm
Labels: Balance

#15493 Fixes the cryo storage announcement language changing
  code/game/machinery/cryopod.dm
  code/modules/mob/living/say.dm
Labels: Fix

#15487 Fixes Elbow drop instakilling regardless of health
  code/modules/martial_arts/combos/sleeping_carp/elbow_drop.dm
Labels: Fix

#15465 AI Arrivals Announcement Apostrophes
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#15451 Removes Contractor upwards variation on TC payout
  code/modules/antagonists/traitor/contractor/datums/contractor_hub.dm
Labels: Balance

#15450 Gives the Brig Physician medical comms
  code/game/jobs/job/security.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Tweak

#15424 Prevents the possessor crystal from possessing bots
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Tweak

#15298 Antagonist playtime requirements increase
  code/game/jobs/job_exp.dm
Labels: Balance

#15277 Removes refilling code from drinks for borgs. This fixes the shaker refilling issue.
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak

#15130 More stealthy fake walls
  code/game/objects/structures/false_walls.dm
  code/game/turfs/simulated/walls.dm
Labels: Balance

#15497 Makes body bags unweldable
  code/game/objects/items/bodybag.dm
Labels: Fix

#15498 Fixes the Medical Hardsuit Helmet not blocking hair
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Fix

#13652 Fix and tweak parrot behaviour
  code/__HELPERS/heap.dm
  code/defines/procs/AStar.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Fix

#15500 Directional indicators for the Cyborg body zone selector
  code/modules/client/preference/preferences_toggles.dm
  icons/mob/screen_robot.dmi
Labels: Fix

#15514 Coffee Vending Machine Sprite Update
  icons/obj/vending.dmi
Labels: Fix, Sprites

#15505 Fixes formatting on request console logs
  code/game/machinery/requests_console.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mining/machine_redemption.dm
  tgui/packages/tgui/interfaces/RequestConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, TGUI

#15476 Beach Unsimulated Removal
  _maps/map_files/RandomZLevels/beach.dmm
  _maps/map_files/generic/centcomm.dmm
  code/game/machinery/poolcontroller.dm
  code/game/objects/structures/false_walls.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/game/turfs/unsimulated/beach.dm
  code/game/turfs/unsimulated/floor.dm
  code/modules/awaymissions/mission_code/beach.dm
  paradise.dme
Labels: Map Edit, Refactor

#15526 Fixes thermite removing lubed/wet floor overlays
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
Labels: Fix

#15531 Fixes missed edge case
  code/game/machinery/requests_console.dm
  code/modules/research/message_server.dm
Labels: Fix

#15499 Cancel button for 'Send Mob'
  code/modules/admin/verbs/adminjump.dm
Labels: Tweak

#15334 AA's Monolith Maze Machine
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/late_mapping.dm
  code/modules/maze_generation/helper_modules/_helper_module_base.dm
  code/modules/maze_generation/helper_modules/entry_exit.dm
  code/modules/maze_generation/loot_modules/_loot_module_base.dm
  code/modules/maze_generation/loot_modules/turf_painter.dm
  code/modules/maze_generation/maze_generator.dm
  code/modules/maze_generation/maze_generator_blockwise.dm
  code/modules/maze_generation/maze_helper_atoms.dm
  paradise.dme
Labels: Feature, Literally Everybody Ded

#15502 SS init tags V2
  code/__HELPERS/_logging.dm
  code/controllers/controller.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/atoms.dm
  code/controllers/subsystem/mapping.dm
  code/modules/awaymissions/zlevel.dm
Labels: Feature

#15510 Add 20 plates to the dinnerware vendor in the kitchen
  code/game/machinery/vending.dm
Labels: Feature

#15517 Adds saline glucose, epinephrine, and spaceacillin to syndicate medical cyborg
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Balance

#15527 Purges Unsimulated Turfs: Touches Up CC Areas
  _maps/map_files/generic/centcomm.dmm
  code/ATMOSPHERICS/pipes/pipe.dm
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/titlescreen.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/machinery/overview.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
  code/game/turfs/simulated/river.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/game/turfs/turf.dm
  code/game/turfs/unsimulated.dm
  code/game/turfs/unsimulated/floor.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/awaymissions/maploader/reader.dm
  code/modules/buildmode/submodes/atmos.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/procedural_mapping/mapGeneratorReadme.dm
  icons/obj/smooth_structures/reinforced_window.dmi
  icons/turf/walls.dmi
  paradise.dme
Labels: Balance, Fix, Map Edit, Refactor

#15542 Unifies Atmos Files to One Location
  .github/CODEOWNERS
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/zvent.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/machinery/pipe/construction.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/atmospherics/machinery/components/binary_devices/binary_atmos_base.dm
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/valve.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/trinary_devices/trinary_base.dm
  code/modules/atmospherics/machinery/components/trinary_devices/tvalve.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/components/unary_devices/generator_input.dm
  code/modules/atmospherics/machinery/components/unary_devices/heat_exchanger.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/oxygen_generator.dm
  code/modules/atmospherics/machinery/components/unary_devices/passive_vent.dm
  code/modules/atmospherics/machinery/components/unary_devices/portables_connector.dm
  code/modules/atmospherics/machinery/components/unary_devices/tank.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermal_plate.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/components/unary_devices/unary_base.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/datum_icon_manager.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/atmospherics/machinery/other/area_atmos_computer.dm
  code/modules/atmospherics/machinery/other/meter.dm
  code/modules/atmospherics/machinery/pipes/cap.dm
  code/modules/atmospherics/machinery/pipes/manifold.dm
  code/modules/atmospherics/machinery/pipes/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/pipe.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_he.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_hidden.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_insulated.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_visible.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  paradise.dme
Labels: Code Improvement, Refactor

#15525 Logs blueprint (re)naming of rooms
  code/game/objects/items/blueprints.dm
Labels: Administration

#15544 Completes the spelling of an administrative note search thing
  code/modules/admin/sql_notes.dm
Labels: Grammar and Formatting

#15547 Station ceiling collapsing fix
  code/game/turfs/simulated/floor/chasm.dm
Labels: Tweak

#15559 Fixes mentors being able to see people who are on the admin watchlist
  code/defines/procs/admin.dm
Labels: Fix

#15540 SSU improvements
  code/game/machinery/suit_storage_unit.dm
Labels: Tweak

#15152 Changes vent, scrubber, and passive vent plane back to FLOOR_PLANE
  code/modules/atmospherics/machinery/components/unary_devices/passive_vent.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
Labels: Tweak

#15195 Makes JMP usable by people other than admins if they are already a ghost
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminjump.dm
Labels: Administration, Tweak

#15556 Makes AI Core contain an actual AI circuitboard (Fix #15315)
  code/game/machinery/computer/ai_core.dm
Labels: Fix

#15579 Adds admin logs for oil slime explosions
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Administration, Feature

#15551 Pineapple fluff adjustment
  icons/mob/suit.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item

#15362 Updating Clown Ruin and nerfing Staff of slipping.
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/projectiles/guns/magic/wand.dm
Labels: Balance

#15330 Fixes surgical trays passing through tables
  code/__HELPERS/unsorted.dm
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#15274 Pill refactor and bug fixing
  code/modules/reagents/reagent_containers/pill.dm
Labels: Refactor

#15211 Mob sprite reorganisation
  icons/mob/human_races/cyberlimbs/bishop/bishop_main.dmi
  icons/mob/human_races/cyberlimbs/hesphiastos/hesphiastos_main.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_main.dmi
  icons/mob/human_races/cyberlimbs/shellguard/shellguard_main.dmi
  icons/mob/human_races/cyberlimbs/wardtakahashi/wardtakahashi_main.dmi
  icons/mob/human_races/cyberlimbs/xion/xion_main.dmi
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_main.dmi
  icons/mob/human_races/monkeys/r_farwa.dmi
  icons/mob/human_races/monkeys/r_monkey.dmi
  icons/mob/human_races/monkeys/r_neara.dmi
  icons/mob/human_races/monkeys/r_stok.dmi
  icons/mob/human_races/monkeys/r_wolpin.dmi
  icons/mob/human_races/o_peg.dmi
  icons/mob/human_races/r_abductor.dmi
  icons/mob/human_races/r_armalis.dmi
  icons/mob/human_races/r_def_grey.dmi
  icons/mob/human_races/r_def_human.dmi
  icons/mob/human_races/r_def_kidan.dmi
  icons/mob/human_races/r_def_lizard.dmi
  icons/mob/human_races/r_def_plant.dmi
  icons/mob/human_races/r_def_skrell.dmi
  icons/mob/human_races/r_def_tajaran.dmi
  icons/mob/human_races/r_def_vulpkanin.dmi
  icons/mob/human_races/r_diona.dmi
  icons/mob/human_races/r_drask.dmi
  icons/mob/human_races/r_golem.dmi
  icons/mob/human_races/r_grey.dmi
  icons/mob/human_races/r_human.dmi
  icons/mob/human_races/r_kidan.dmi
  icons/mob/human_races/r_lizard.dmi
  icons/mob/human_races/r_lshadowling.dmi
  icons/mob/human_races/r_machine.dmi
  icons/mob/human_races/r_nucleation.dmi
  icons/mob/human_races/r_plant.dmi
  icons/mob/human_races/r_plasmaman_pb.dmi
  icons/mob/human_races/r_plasmaman_sb.dmi
  icons/mob/human_races/r_shadow.dmi
  icons/mob/human_races/r_shadowling.dmi
  icons/mob/human_races/r_skeleton.dmi
  icons/mob/human_races/r_skrell.dmi
  icons/mob/human_races/r_slime.dmi
  icons/mob/human_races/r_tajaran.dmi
  icons/mob/human_races/r_vulpkanin.dmi
  icons/mob/human_races/r_wryn.dmi
  icons/mob/human_races/robotic.dmi
  icons/mob/human_races/tatt1.dmi
  icons/mob/human_races/vox/r_def_vox.dmi
  icons/mob/human_races/vox/r_def_voxazu.dmi
  icons/mob/human_races/vox/r_def_voxbrn.dmi
  icons/mob/human_races/vox/r_def_voxdgrn.dmi
  icons/mob/human_races/vox/r_def_voxemrl.dmi
  icons/mob/human_races/vox/r_def_voxgry.dmi
  icons/mob/human_races/vox/r_vox.dmi
  icons/mob/human_races/vox/r_voxazu.dmi
  icons/mob/human_races/vox/r_voxbrn.dmi
  icons/mob/human_races/vox/r_voxdgrn.dmi
  icons/mob/human_races/vox/r_voxemrl.dmi
  icons/mob/human_races/vox/r_voxgry.dmi
Labels: Refactor

#15202 Makes the coinpress respect inventory limits
  code/modules/mining/mint.dm
Labels: Fix

#15192 Fixes some overlay screwery on death and revival
  code/game/objects/items/weapons/defib.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/stat_states.dm
Labels: Fix

#15313 Stunbaton Refactor
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/teleprod.dm
Labels: Refactor

#15587 Removes mustard from stable mutagen
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Grammar and Formatting

#15378 Adds Sound Environments: Reverb and Echo
  code/__DEFINES/sound.dm
  code/datums/status_effects/buffs.dm
  code/game/area/ai_monitored.dm
  code/game/area/areas.dm
  code/game/area/areas/mining.dm
  code/game/area/ss13_areas.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/dance_machine.dm
  code/game/sound.dm
  code/modules/antagonists/traitor/contractor/datums/contractor_hub.dm
  code/modules/antagonists/traitor/contractor/items/contractor_uplink.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/mob/living/status_procs.dm
  code/modules/mob/living/update_status.dm
  code/modules/mob/mob_defines.dm
  code/modules/ruins/ruin_areas.dm
Labels: Feature, Sound

#15453 Adds the Daquiri to the list of cocktails
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  icons/obj/drinks.dmi
Labels: Feature

#15563 Fire patting improvements
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Tweak

#15571 Makes Turrets with Tasers and practice lasers unable to be set to lethal (Unless emagged)
  code/game/machinery/portable_turret.dm
Labels: Tweak

#15167 Firedoors open/close even for air alarms that don't report to computers
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Tweak

#15589 Attempts to make Vox clowns funny
  code/modules/mob/living/carbon/human/species/vox.dm
Labels: Fix

#15598 Fixes a runtime caused by bees spawning in nullspace
  code/game/objects/items/weapons/bee_briefcase.dm
Labels: Fix

#15536 Disaster Counters
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/disaster_counter.dm
  paradise.dme
Labels: BoxStation, DeltaStation, Feature, Map Edit, MetaStation

#15602 Fixes Some Sounds Having Reverb
  code/__HELPERS/mobs.dm
  code/controllers/subsystem/afk.dm
  code/controllers/subsystem/ghost_spawns.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/datums/diseases/pierrot_throat.dm
  code/datums/mind.dm
  code/game/gamemodes/blob/blob.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/devil/devilinfo.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/gamemodes/miniantags/morph/morph_event.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/objects/effects/mines.dm
  code/game/objects/empulse.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/artistic_toolbox.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/pray.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/mob/living/carbon/human/species/shadowling.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/say.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/power/singularity/narsie.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/paradise_pop.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/shuttle/emergency.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/world_topic/adminmsg.dm
Labels: Fix, Performance, Refactor

#15588 Removes Deformed Sprites
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/abductor.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/shadow.dm
  code/modules/mob/living/carbon/human/species/shadowling.dm
  code/modules/mob/living/carbon/human/species/skeleton.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_icon.dm
  icons/mob/human_races/r_def_grey.dmi
  icons/mob/human_races/r_def_human.dmi
  icons/mob/human_races/r_def_kidan.dmi
  icons/mob/human_races/r_def_lizard.dmi
  icons/mob/human_races/r_def_plant.dmi
  icons/mob/human_races/r_def_skrell.dmi
  icons/mob/human_races/r_def_tajaran.dmi
  icons/mob/human_races/r_def_vulpkanin.dmi
  icons/mob/human_races/r_diona.dmi.old
  icons/mob/human_races/r_plant.dmi
  icons/mob/human_races/vox/r_def_vox.dmi
  icons/mob/human_races/vox/r_def_voxazu.dmi
  icons/mob/human_races/vox/r_def_voxbrn.dmi
  icons/mob/human_races/vox/r_def_voxdgrn.dmi
  icons/mob/human_races/vox/r_def_voxemrl.dmi
  icons/mob/human_races/vox/r_def_voxgry.dmi
Labels: Revert/Feature Removal, Sprites

#15570 Adds the ability to fix broken grilles under windows
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
Labels: Tweak

#15568 Changes wall welding to be intent based
  code/game/turfs/simulated/walls.dm
Labels: Tweak

#15565 Crematorium now needs power to work and consumes power, and a lot of power when burning
  code/game/objects/structures/morgue.dm
Labels: Tweak

#15564 Bigger addiction removal text
  code/game/machinery/Sleeper.dm
Labels: Tweak

#15557 Headslugs and Blobbernaughts now start on HARM intent
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
Labels: Tweak

#15575 Pickup and Dropped Bugfixing
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/miniantags/guardian/types/bomb.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/highlander_swords.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/hydroponics/grown/nettle.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/martial_arts/martial.dm
  code/modules/projectiles/guns/projectile/bow.dm
Labels: Fix

#15605 Makes Getting Fat....getting fat
  code/modules/mob/living/carbon/human/human_organs.dm
Labels: Fix

#15488 Small borg sound effect tweaks
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Sound, Tweak

#15541 Better way for syndie medical borgs to treat newcrit, v2
  code/datums/diseases/critical.dm
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Tweak

#15611 Fixes the Round End sounds having reverb
  code/controllers/subsystem/ticker.dm
Labels: Fix

#15386 supermatter_pull() now unbuckles mobs
  code/modules/power/supermatter/supermatter.dm
Labels: Balance, Fix

#15566 Improves attack animations
  code/game/atoms_movable.dm
Labels: Tweak

#15507 Adds the Volume Mixer to adjust individual channel volumes
  SQL/paradise_schema.sql
  SQL/paradise_schema_prefixed.sql
  SQL/updates/20-21.sql
  code/__DEFINES/misc.dm
  code/__HELPERS/unsorted.dm
  code/game/area/areas.dm
  code/game/sound.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/client/preference/preferences_volume_mixer.dm
  code/modules/mob/living/silicon/ai/say.dm
  code/modules/tgui/modules/volume_mixer.dm
  config/example/dbconfig.txt
  interface/skin.dmf
  paradise.dme
  tgui/packages/tgui/interfaces/VolumeMixer.js
  tgui/packages/tgui/public/tgui.bundle.js
  tools/ci/dbconfig.txt
Labels: Feature, SQL Change, TGUI

#15506 Allows blob mobs to move via blob tiles in zero-g
  code/game/gamemodes/blob/blobs/blob_mobs.dm
Labels: Balance

#15604 Adds runechat to various things that were missing it (MMIs, soulstones, and more)
  code/game/atoms_movable.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/mecha/mecha.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: Tweak

#15449 Ports Physiology
  code/datums/status_effects/buffs.dm
  code/modules/awaymissions/mission_code/academy.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/physiology.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/surgery/organs/blood.dm
  paradise.dme
Labels: Feature, Refactor

#15593 Refactors Organ Shocking To Use Signals
  code/game/objects/items/devices/handheld_defib.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/organ.dm
Labels: Refactor, Tweak

#15613 Ports Ambience Subsystem
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/ambience.dm
  code/game/area/areas.dm
  code/game/area/areas/mining.dm
  code/game/area/ss13_areas.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference/preferences_toggles.dm
  paradise.dme
Labels: Port, Refactor, Sound

#15621 Optimizes parrot AI for searching items and perches
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Fix

#15452 Allows AI to roll traitor on traitor cling, Allows more clings / vampires in (cling/vampire)traitor mode.
  code/game/gamemodes/changeling/traitor_chan.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
Labels: Balance

#15608 Broad TG Sound Update
  code/__DEFINES/instruments.dm
  code/__DEFINES/sound.dm
  code/_onclick/item_attack.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/datums/components/squeak.dm
  code/datums/looping_sounds/looping_sound.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/datums/looping_sounds/weather.dm
  code/defines/procs/announce.dm
  code/game/area/areas/depot-areas.dm
  code/game/gamemodes/changeling/powers/shriek.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/miniantags/abduction/gland.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/quantum_pad.dm
  code/game/machinery/recycler.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/effects/effect_system/effects_sparks.dm
  code/game/objects/explosion.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/weapons/clown_items.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/sound.dm
  code/modules/arcade/arcade_prize.dm
  code/modules/arcade/claw_game.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/instruments/songs/play_legacy.dm
  code/modules/instruments/songs/play_synthesized.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/ninja/energy_katana.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/research/experimentor.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/telesci/telesci_computer.dm
  sound/effects/creak1.ogg
  sound/effects/creak2.ogg
  sound/effects/creak3.ogg
  sound/effects/explosion1.ogg
  sound/effects/explosion2.ogg
  sound/effects/explosion_distant.ogg
  sound/effects/explosioncreak1.ogg
  sound/effects/explosioncreak2.ogg
  sound/effects/explosionfar.ogg
Labels: Feature, Port, Sound

#15603 Reverb preference
  code/__DEFINES/preferences.dm
  code/game/sound.dm
  code/modules/client/preference/preferences_toggles.dm
Labels: Feature, Sound

#15616 Implements PDA Beeping
  code/modules/pda/PDA.dm
  code/modules/pda/ai.dm
  code/modules/pda/app.dm
  code/modules/pda/cart_apps.dm
  code/modules/pda/core_apps.dm
  code/modules/pda/messenger.dm
  code/modules/pda/messenger_plugins.dm
  code/modules/pda/mob_hunt_game_app.dm
  code/modules/pda/pda_tgui.dm
  code/modules/pda/pdas.dm
  code/modules/pda/utilities.dm
  sound/machines/pda_button1.ogg
  sound/machines/pda_button2.ogg
  sound/machines/terminal_eject.ogg
  sound/machines/terminal_error.ogg
  sound/machines/terminal_processing.ogg
  sound/machines/terminal_select.ogg
  sound/machines/terminal_success.ogg
  sound/machines/twobeep_high.ogg
Labels: Feature, Sound

#15583 Removes Unused Vars. Improves Camera Shake
  code/game/machinery/machinery.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
Labels: Code Improvement, Refactor

#15636 Fixes disposals pipe verbs being in the 'Commands' tab
  code/modules/recycling/disposal-construction.dm
Labels: Fix

#15630 Nettle Pickup Fix
  code/modules/hydroponics/grown/nettle.dm
Labels: Fix

#15057 Initialized Storage Items
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/items/weapons/implants/implant_storage.dm
  code/game/objects/items/weapons/stock_parts.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/internal.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/mob/mob_defines.dm
Labels: BoxStation, Map Edit, MetaStation, Refactor
