Repository ParadiseSS13/Paradise, pull requests merged in 2021-09, with the labels that each got.

#16622 Tweaks wording in code of conduct
  CODE_OF_CONDUCT.md
Labels: Documentation, Webeditor Heresy

#16598 Makes AIs and borgs able to use Shift+Middle+Click to toggle door timings.
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/game/machinery/doors/airlock.dm
Labels: Tweak

#16600 Adds Stroopwafels
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/food/foods/junkfood.dm
  icons/obj/food/food.dmi
Labels: Feature

#16596 Makes admin verbs easier to see on the context menu
  code/datums/datumvars.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/machine_upgrade.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/freeze.dm
  code/modules/admin/verbs/possess.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Tweak

#16601 Adds antimatter sniper rounds, buffs bleeding rounds, nerfs base sniper rounds
  code/datums/uplink_item.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/obj/ammo.dmi
Labels: Feature, Balance

#16506 Fixes 'Face while pulling' oversights
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/mob/mob_movement.dm
Labels: Fix

#16320 six new drinks
  code/_globalvars/lists/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  icons/obj/drinks.dmi
Labels: Feature

#16574 Fixes bug with species organ list
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/vox.dm
Labels: Fix

#16581 Fix for Security camera console when reassembled(second try)
  code/game/machinery/computer/camera.dm
Labels: Fix

#16624 Ensures rev heads are shown in ahud orbit menu
  code/modules/mob/dead/observer/orbit.dm
Labels: Fix

#16564 TG sprite project: Vendors and Consoles.
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  code/modules/station_goals/bsa.dm
  icons/obj/biogenerator.dmi
  icons/obj/computer.dmi
  icons/obj/computer3.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/obj/library.dmi
  icons/obj/machines/HONKputer.dmi
  icons/obj/machines/am_engine.dmi
  icons/obj/machines/antenna.dmi
  icons/obj/machines/antimatter.dmi
  icons/obj/machines/broadcast.dmi
  icons/obj/machines/fiber.dmi
  icons/obj/machines/heavy_fiber.dmi
  icons/obj/machines/lasers.dmi
  icons/obj/machines/mining_machines.dmi
  icons/obj/machines/netcable.dmi
  icons/obj/machines/netobjs.dmi
  icons/obj/machines/particle_accelerator.dmi
  icons/obj/machines/particle_accelerator2.dmi
  icons/obj/machines/particle_accelerator3.dmi
  icons/obj/machines/washing_machine.dmi
  icons/obj/stationobjs.dmi
  icons/obj/stock_parts.dmi
  icons/obj/vending.dmi
Labels: Sprites, Tweak

#16567 Adds a short warm-up time when turning on a light
  code/game/area/areas.dm
  code/game/machinery/lightswitch.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  sound/machines/light_on.ogg
  sound/machines/lightswitch.ogg
Labels: Tweak

#16626 Removes bay-era warning system
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/client/preference/preferences.dm
Labels: Revert/Feature Removal, Administration

#16525 Glass floors attempt 2
  code/__DEFINES/footstep.dm
  code/__DEFINES/layers.dm
  code/game/machinery/Beacon.dm
  code/game/machinery/hologram.dm
  code/game/machinery/magnet.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/items/devices/painter/pipe_painter.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/safe.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/floor/transparent.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/atmospherics/machinery/components/unary_devices/passive_vent.dm
  code/modules/atmospherics/machinery/components/unary_devices/tank.dm
  code/modules/atmospherics/machinery/datum_icon_manager.dm
  code/modules/atmospherics/machinery/pipes/cap.dm
  code/modules/atmospherics/machinery/pipes/manifold.dm
  code/modules/atmospherics/machinery/pipes/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/pipe.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple.dm
  code/modules/power/cable.dm
  code/modules/power/terminal.dm
  code/modules/recycling/disposal.dm
  icons/turf/floors/glass.dmi
  icons/turf/floors/plasmaglass.dmi
  icons/turf/floors/plastitaniumglass.dmi
  icons/turf/floors/reinf_glass.dmi
  icons/turf/floors/reinf_plasmaglass.dmi
  icons/turf/floors/titaniumglass.dmi
  paradise.dme
  sound/effects/footstep/glass1.ogg
  sound/effects/footstep/glass2.ogg
  sound/effects/footstep/glass3.ogg
  sound/effects/footstep/glassbarefoot1.ogg
  sound/effects/footstep/glassbarefoot2.ogg
  sound/effects/footstep/glassbarefoot3.ogg
Labels: Feature

#16510 Make bee hitbox much smaller, except if the bee attacks someone
  code/modules/mob/living/simple_animal/hostile/bees.dm
Labels: Tweak

#16613 Removes transformation sting
  code/__DEFINES/genetics.dm
  code/game/gamemodes/changeling/powers/tiny_prick.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/vox.dm
Labels: Balance

#16621 Makes anomalies able to spawn in more areas
  code/modules/events/anomaly.dm
Labels: Tweak

#16612 Cults now require a sacrifice before they can make mirror shields
  code/game/gamemodes/cult/cult_datums.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/runes.dm
Labels: Balance

#16447 Ports item hover outline
  code/__DEFINES/colors.dm
  code/__DEFINES/preferences.dm
  code/game/objects/items.dm
  code/modules/client/preference/preferences_toggles.dm
Labels: Feature, Port

#16547 Delta Disposal - Aft +Starboard Section
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#15783 More compact defibs: Electric boogaloo
  code/game/gamemodes/steal_items.dm
  code/game/machinery/defib_mount.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/power/cell.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/response_team/ert_outfits.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/species/vox/back.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/defib.dmi
  icons/obj/items.dmi
Labels: Feature

#16609 GC fix bundle #1
  code/datums/components/material_container.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/message.dm
  code/modules/arcade/mob_hunt/mob_avatar.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/pda/mob_hunt_game_app.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/research/message_server.dm
  code/modules/research/protolathe.dm
  code/modules/research/rdconsole.dm
  code/modules/research/rdmachines.dm
  code/modules/vehicle/ambulance.dm
Labels: Refactor, GC Related

#16520 Fix bundle #4
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/ticker.dm
  code/datums/progressbar.dm
  code/game/gamemodes/changeling/powers/epinephrine.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/structures/signs.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/events/blob.dm
  code/modules/events/rogue_drones.dm
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/food_and_drinks/food/foods/ethnic.dm
  code/modules/food_and_drinks/food/foods/junkfood.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/mob_helpers.dm
  code/modules/recycling/sortingmachinery.dm
  icons/mob/clothing/species/drask/gloves1.dmi
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/inhands/guns_righthand.dmi
Labels: Fix

#16632 Minor cyborg Move refactor
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Refactor

#16635 Adds Sugar to Gimlet Drink Recipe
  code/modules/reagents/chemistry/recipes/drinks.dm
Labels: Fix

#16311 Replaces genetics xray vision with other vision genes
  code/__HELPERS/traits.dm
  code/_globalvars/genetics.dm
  code/_globalvars/traits.dm
  code/game/dna/mutations/disabilities.dm
  code/game/dna/mutations/powers.dm
  code/game/gamemodes/setupgame.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/antagonists/wishgranter/wishgranter.dm
  code/modules/awaymissions/mission_code/wildwest.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Balance

#16383 Allows players to name seed packs to keep track of modified plants
  code/modules/hydroponics/gene_modder.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/hydroponics/seeds.dm
Labels: Tweak

#16557 Adds a lobby for Psychology on DeltaStation
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16649 Fixes all players being marked as blobs
  code/modules/mob/dead/observer/orbit.dm
Labels: Fix, High Priority

#16651 Revert "Merge pull request #16520 from SabreML/fix-bundle-4"
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/ticker.dm
  code/datums/progressbar.dm
  code/game/gamemodes/changeling/powers/epinephrine.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/structures/signs.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/events/blob.dm
  code/modules/events/rogue_drones.dm
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/food_and_drinks/food/foods/ethnic.dm
  code/modules/food_and_drinks/food/foods/junkfood.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/mob_helpers.dm
  code/modules/recycling/sortingmachinery.dm
  icons/mob/clothing/species/drask/gloves1.dmi
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/inhands/guns_righthand.dmi
Labels: High Priority, Revert/Feature Removal

#16652 Fixes monitor decryption key
  code/game/machinery/computer/message.dm
Labels: Fix

#16648 Moves mutes to a GLOB
  code/game/gamemodes/blob/overmind.dm
  code/game/gamemodes/miniantags/borer/borer.dm
  code/game/objects/items/devices/megaphone.dm
  code/game/verbs/ooc.dm
  code/modules/admin/admin.dm
  code/modules/admin/mute.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/alien/larva/emote.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/slime/emote.dm
  code/modules/mob/say.dm
  paradise.dme
Labels: Refactor

#16647 The 514 patch
  _build_dependencies.sh
  code/_compile_options.dm
  code/controllers/subsystem/metrics.dm
  code/modules/client/client_procs.dm
Labels: Refactor, Infrastructure

#16644 Gives the wand of slipping a unique sprite and fixes a bug with it
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/projectiles/guns/magic/wand.dm
  icons/obj/guns/magic.dmi
Labels: Fix, Sprites

#16602 Delta fix and tweak sweep
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, Tweak, DeltaStation

#16643 Console Minor Fixes
  code/modules/power/solar.dm
  icons/obj/computer.dmi
Labels: Fix

#16625 Spin Emote Changes
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/mob.dm
Labels: Fix, Tweak

#16606 Constructable electrochromic windows
  code/game/objects/effects/spawners/windowspawner.dm
  code/game/objects/items/mountable_frames/buttons_switches.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/window.dm
Labels: Feature

#16661 Create FUNDING.yml
  .github/FUNDING.yml
Labels: Documentation

#16660 Removes some macro abuse
  code/modules/maze_generation/maze_generator.dm
Labels: Fix

#16655 AI station announcer minor fixes
  code/game/machinery/computer/communications.dm
  sound/AI/cshuttle.ogg
  sound/AI/eshuttle_call.ogg
  sound/AI/eshuttle_recall.ogg
  sound/AI/outbreak3.ogg
  sound/AI/outbreak5.ogg
  sound/AI/outbreak7.ogg
Labels: Fix

#16654 Attack logs on SSD targets now only get the FEW loglevel if there is a user doing it
  code/__HELPERS/mobs.dm
  code/game/machinery/wishgranter.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Administration

#16658 More AI sounds - Anomalies and APC Short events
  code/modules/events/anomaly.dm
  code/modules/events/anomaly_bluespace.dm
  code/modules/events/anomaly_flux.dm
  code/modules/events/anomaly_grav.dm
  code/modules/events/anomaly_pyro.dm
  code/modules/events/anomaly_vortex.dm
  code/modules/events/apc_short.dm
  sound/AI/anomaly_bluespace.ogg
  sound/AI/anomaly_flux.ogg
  sound/AI/anomaly_gravity.ogg
  sound/AI/anomaly_pyro.ogg
  sound/AI/anomaly_vortex.ogg
  sound/AI/power_restore.ogg
Labels: Sound, Tweak

#16646 Adds a seperate sprite for Toasted Sandwich
  code/modules/food_and_drinks/food/foods/sandwiches.dm
  icons/obj/food/food.dmi
Labels: Sprites

#16603 NSS Cerebron / Metastation round of fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation, Tweak

#16545 Change "abiotic items" message to be more clear
  code/game/dna/dna_modifier.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
Labels: Grammar and Formatting, Tweak

#16664 Adds Additional Doors to DeltaStation Kitchen/Bar
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16662 changes size of koi migration
  code/modules/events/koi_mirgration.dm
Labels: Tweak

#16645 Puts MSAY in OOC logging view
  code/modules/admin/verbs/adminsay.dm
Labels: Tweak

#16627 Tweaks carp martial arts projectile reflection message
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Tweak

#16666 Even more delta fixes
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16675 Bumps repo dreamchecker version
  dreamchecker.exe
Labels: Infrastructure

#16678 Epinephrine overdose blindness fix
  code/game/gamemodes/changeling/powers/epinephrine.dm
Labels: Fix

#16681 Fixes the night shift config setting not disabling night shifts when set to `false`
  code/controllers/subsystem/ticker.dm
Labels: Fix

#16416 Add a hand labeler to scichem
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, Tweak

#16668 Adds warning messages to admins for missing nukes
  code/game/gamemodes/game_mode.dm
  code/modules/admin/verbs/pray.dm
Labels: Administration

#16669 DeltaStation Disposals - Fix missing security section + Quick clean up
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16670 MetaStation - Removed leftover disposal pipes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation

#16674 Adds railings and fences
  code/__DEFINES/flags.dm
  code/game/atoms.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures.dm
  code/game/objects/structures/fence.dm
  code/game/objects/structures/railings.dm
  code/modules/assembly/infrared.dm
  code/modules/projectiles/guns/medbeam.dm
  icons/obj/fence.dmi
  paradise.dme
Labels: Feature

#16422 Immolator lasers now immolate all mobs
  code/modules/projectiles/projectile/beams.dm
Labels: Balance

#16491 HONK Mech and Reticence Mech Fix
  code/datums/helper_datums/construction_datum.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
Labels: Fix

#16489 Departmental clothing vendors (vendors only, no map edits)
  code/datums/supplypacks.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/vending_items.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  icons/obj/vending.dmi
Labels: Feature, Map Edit, MetaStation, BoxStation, DeltaStation

#16683 Fixes gibber deconstruction
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
Labels: Fix

#16687 Diona limbs now ACTUALLY properly augment
  code/modules/surgery/organs/subtypes/diona.dm
Labels: Fix

#16691 Mapped in departmental clothing vendors to metastation/Cerebron
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation

#16631 fixes claw game arcade
  code/modules/arcade/claw_game.dm
  code/modules/arcade/crane.html
Labels: Fix

#16064 Foam enforcer tweaks
  code/modules/projectiles/guns/projectile/toy.dm
  icons/obj/guns/toy.dmi
Labels: Sprites

#16677 Note deletion confirmation
  code/modules/admin/topic.dm
Labels: Administration

#16697 Fix - Wheelchair deconstruction gives 15 metal sheets
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: Fix

#16696 Drask hawaiian shirt fix
  icons/mob/clothing/species/drask/gloves1.dmi
  icons/mob/clothing/species/drask/uniform.dmi
Labels: Fix, Sprites

#16699 Fix - Spray tan gradually makes you darker
  code/modules/reagents/chemistry/reagents/misc.dm
Labels: Fix

#16708 Fixes being able to make xray cameras, fixes invisible all cameras
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/camera/presets.dm
Labels: Fix

#16715 I am dumb and cant write yaml
  .github/workflows/generate_autodoc.yml
Labels: oops, Infrastructure, Webeditor Heresy

#16712 Removes gangelwaefre's fluff mouse, adds their fluff mask, edits their fluff dress
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  icons/mob/animal.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/inhands/fluff_lefthand.dmi
  icons/mob/inhands/fluff_righthand.dmi
  icons/obj/custom_items.dmi
Labels: Configuration Change, Tweak

#16686 Add guideline to disallow fix bundling and excessively large PR
  .github/CONTRIBUTING.md
Labels: Documentation

#16698 Fixes lavaland bossfights curing colourblindness
  code/__HELPERS/unsorted.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/mob_helpers.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
Labels: Fix

#16688 DeltaStation - Purge of the space reinforced walls
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16690 Mapped in departmental clothing vendors to deltastation/Kerberos
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16685 Removes service borgs being able to print credits
  code/game/objects/items/weapons/RSF.dm
Labels: Tweak

#16705 Prevents ants from infesting wrapped/packaged food
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/food_and_drinks/food/foods/ethnic.dm
  code/modules/food_and_drinks/food/foods/junkfood.dm
Labels: Tweak

#16716 Removes Separated Chemicals
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/plant_genes.dm
Labels: Balance

#16717 Nerfs Earthsblood
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance

#16709 Fix - Set nymph's evolve icon
  code/modules/mob/living/simple_animal/friendly/diona.dm
Labels: Fix

#16711 Fix - Removes twohanded wielding when equipping the item to a different slot
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix

#16714 Fixes the Claw Game arcade machine being impossible to deconstruct.
  code/modules/arcade/arcade_base.dm
Labels: Fix

#16702 Fixes some ghost poll chat messages being incorrect
  code/game/gamemodes/blob/powers.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/modules/admin/verbs/one_click_antag.dm
Labels: Fix

#16703 Increases armour piercing for the WT550 AP magazines.
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Balance

#16724 Targetted drone announcement fix
  code/modules/events/rogue_drones.dm
Labels: Fix

#16725 Fixes package wrapper teleportation
  code/modules/recycling/sortingmachinery.dm
Labels: Fix

#16475 Fixes some chugging-related bugs
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/cans.dm
Labels: Fix

#16700 Adds an item that lets cultists turn teleport runes into portals
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  icons/obj/cult.dmi
Labels: Feature, Balance

#16679 Makes progress bars render above the game HUD
  code/datums/progressbar.dm
Labels: Tweak

#16721 Moves existing_station_areas to SSmapping, to prevent midround lag
  code/controllers/subsystem/mapping.dm
  code/modules/events/anomaly.dm
Labels: Refactor, Performance

#16672 New tribal craft items(pickaxe and scythe)
  code/modules/crafting/recipes.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mining/equipment/mining_tools.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
Labels: Feature

#16720 Makes revive, biodegrade, and freedom break grabs
  code/datums/uplink_item.dm
  code/game/gamemodes/changeling/powers/biodegrade.dm
  code/game/gamemodes/changeling/powers/revive.dm
  code/game/objects/items/weapons/implants/implant_freedom.dm
Labels: Balance

#16722 Makes the game panel window title more descriptive
  code/modules/admin/create_mob.dm
  code/modules/admin/create_object.dm
  code/modules/admin/create_turf.dm
  html/create_object.html
Labels: Administration, Tweak

#16728 Runtime fix with the nukie grenade launcher
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Fix

#16431 New Fire Extinguisher Sprites (updated)
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
Labels: Merge Conflict, Sprites

#15675 Implements Better His Grace
  code/__DEFINES/combat.dm
  code/__DEFINES/status_effects.dm
  code/__HELPERS/AnimationLibrary.dm
  code/__HELPERS/matrices.dm
  code/__HELPERS/unsorted.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/datums/uplink_item.dm
  code/game/atoms_movable.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/artistic_toolbox.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/arcade/prize_datums.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/status_procs.dm
  code/modules/pda/PDA.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  icons/mob/screen_alert.dmi
  icons/obj/storage.dmi
  paradise.dme
  sound/effects/his_grace_ascend.ogg
  sound/effects/pope_entry.ogg
Labels: Feature, Refactor

#16730 Capitalises some lowercase reagent names
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/modules/reagents/chemistry/reagents/disease.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  strings/chemistry_tools.json
Labels: Fix

#16731 Gunlight runtime fix
  code/modules/projectiles/gun.dm
Labels: Fix

#16003 Adds a voice modulator mask that makes it easier for antags to RP as "Unknown" without revealing their identity
  code/datums/spells/horsemask.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/devices/voice.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/masks/voicemodulator.dm
  code/modules/crafting/tailoring.dm
  code/modules/mob/living/carbon/human/say.dm
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/species/drask/mask.dmi
  icons/mob/clothing/species/grey/mask.dmi
  icons/mob/clothing/species/plasmaman/mask.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
  icons/mob/clothing/species/unathi/mask.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/obj/clothing/masks.dmi
  paradise.dme
Labels: Feature, Merge Conflict

#16737 Metastation various fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation

#16659 Nerfs Shotguns
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/admin_armory.dmm
  code/datums/supplypacks.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Map Edit, Balance, MetaStation, BoxStation, DeltaStation

#16740 Applies more fixes to DeltaStation
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#16639 Allows directional console building
  code/game/machinery/computer/buildandrepair.dm
Labels: Feature

#16745 cc and lavaland directional console mapping
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/centcomm.dmm
Labels: Map Edit, General Map

#16744 Meta directional console mapping
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation

#16743 Delta directional console mapping
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16751 Allow the game to call votes whenever. Fixes the mapping vote not happening after a shuttle vote
  code/controllers/subsystem/vote.dm
Labels: Fix

#16449 Refactors client data loading
  code/__DEFINES/preferences.dm
  code/__HELPERS/cmp.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/misc.dm
  code/controllers/subsystem/changelog.dm
  code/controllers/subsystem/jobs.dm
  code/game/gamemodes/changeling/traitor_chan.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/intercept_report.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/raginmages.dm
  code/game/jobs/job/job.dm
  code/modules/admin/admin.dm
  code/modules/admin/holder2.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/gimmick_team.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/admin/verbs/onlyoneteam.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/striketeam.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/admin/watchlist.dm
  code/modules/client/client_procs.dm
  code/modules/client/login_processing/10-load_preferences.dm
  code/modules/client/login_processing/20-load_characters.dm
  code/modules/client/login_processing/30-tos_consent.dm
  code/modules/client/login_processing/35-donator_check.dm
  code/modules/client/login_processing/36-watchlist.dm
  code/modules/client/login_processing/37-alts_ip.dm
  code/modules/client/login_processing/38-alts_cid.dm
  code/modules/client/login_processing/39-cid_count.dm
  code/modules/client/login_processing/__client_login_processor.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/autohiss.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/projectiles/projectile/magic.dm
  paradise.dme
Labels: Refactor, Performance, Test Merge Candidate

#16750 Another delta fix PR
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16667 Removes Secborg, Tweaks Borgs: Combat Rework Edition
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/mob/robot_items.dmi
Labels: Feature, Revert/Feature Removal, Balance, Tweak

#16770 Enforces 2FA for admin accounts
  code/controllers/configuration/sections/system_configuration.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
  config/example/config.toml
Labels: Administration, Configuration Change, Security

#16760 Deltastation - Fix cargo belts and doors
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#16764 Deltastation: candle boxes are now full
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#16763 Prevents Robots from Consuming Diona Nymphs
  code/modules/mob/living/simple_animal/friendly/diona.dm
Labels: Fix

#16759 Adds a webmap button
  code/game/verbs/webmap.dm
  code/modules/client/client_procs.dm
  code/modules/mapping/base_map_datum.dm
  code/modules/mapping/cyberiad.dm
  code/modules/mapping/delta.dm
  code/modules/mapping/metastation.dm
  interface/skin.dmf
  paradise.dme
Labels: Feature

#16741 Fixes unstoppable spinning/orbiting
  code/__HELPERS/unsorted.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
Labels: Fix

#16765 Added missing objs, storage shutters to cargo
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#16768 Fixes operating and teleporter consoles getting odd dirs
  code/game/machinery/computer/Operating.dm
  code/game/machinery/teleporter.dm
Labels: Fix

#16774 Deltastation: removes one of two APC's in the same area
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#16779 Deltastation: Sending crates to kitchen by disposals works now.
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#16777 MetaStation Fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation

#16726 Removes Honk subtype of the anomalous crystal
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Revert/Feature Removal

#16727 Adds blobs to the AntagHUD orbit menu, Attempt 2
  code/modules/events/blob.dm
  code/modules/mob/dead/observer/orbit.dm
Labels: Feature

#16732 Changes the description of a drop of blood
  code/game/objects/effects/decals/Cleanable/humans.dm
Labels: Grammar and Formatting, Tweak

#16738 Adds a limit of 5 crates per round to null crates
  code/datums/supplypacks.dm
  code/modules/shuttle/supply.dm
Labels: Balance

#16729 Adds Revenants to the orbit menu antag list
  code/modules/mob/dead/observer/orbit.dm
Labels: Tweak

#16733 Suit storage units drop their contents when destroyed
  code/game/machinery/suit_storage_unit.dm
Labels: Tweak

#16749 Pulling gib runtime fix
  code/game/atoms_movable.dm
Labels: Fix

#16673 Grinder - Use items for full container, not all
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Tweak

#16776 More map fixes for DeltaStation
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, Merge Conflict, DeltaStation

#16799 Ports Cloth Golems
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  icons/mob/human_races/r_cloth_golem.dmi
  icons/mob/mob.dmi
  icons/obj/items.dmi
Labels: Feature

#16773 Fix - Lighting matches on shoes display the right message, and block spamming burnt matches on shoes
  code/modules/clothing/clothing.dm
Labels: Fix

#16790 Makes uncuttable chainlink fences deconstructable
  code/game/objects/structures/fence.dm
Labels: Fix

#16761 Fixes Treadmills throwing ghosts around when in use
  code/modules/power/treadmill.dm
Labels: Fix

#16800 More Delta Fixes: Part ERROR 404
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16794 Fix - Ordinal railings block properly, rotations are done in 45°
  code/game/objects/structures/railings.dm
Labels: Fix

#16792 More delta changes
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#16782 Increases the rad armour on engineering ERT's suits
  code/modules/clothing/spacesuits/ert.dm
Labels: Fix

#16771 Adds Epinephrine to the Gutlunch Mob
  code/modules/mob/living/simple_animal/hostile/mining/gutlunch.dm
Labels: Tweak

#16766 Allows rotating booze and soda dispensers with alt click
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Tweak

#16791 You can't place the slime on the wall(xeno)
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Fix, Tweak

#16786 Seafood sprite updates
  code/modules/food_and_drinks/food/foods/seafood.dm
  icons/obj/food/seafood.dmi
Labels: Sprites

#16802 Medbay and Science Lobby Revamp (DeltaStation)
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16814 Launch all maps on CI
  .github/workflows/ci.yml
Labels: Infrastructure

#16810 Fixes vendor item sprite previews showing multiple icon states
  code/game/machinery/vending.dm
Labels: Fix

#16803 Adds an Escape Pod to the left side of DeltaStation Maintenance
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#16756 Adds NO_BLOOD check to coughing up blood from damaged lungs.
  code/modules/surgery/organs/lungs.dm
Labels: Tweak
