Repository ParadiseSS13/Paradise, pull requests merged in 2021-03, with the labels that each got.

#15643 Nanomaps action tweaks
  .github/workflows/render_nanomaps.yml
Labels: Infrastructure

#15610 Disaster Counter tweaks
  code/game/objects/structures/disaster_counter.dm
Labels: Tweak

#15644 Makes C Toggle Move Intents
  code/modules/keybindings/bindings_mob.dm
Labels: Fix, Tweak

#15627 Adds Closet Open/Close Sounds
  code/game/objects/items/bodybag.dm
  code/game/objects/items/random_items.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  sound/effects/bin_open.ogg
  sound/machines/cardboard_box.ogg
  sound/machines/closet_close.ogg
  sound/machines/closet_open.ogg
  sound/machines/crate_close.ogg
  sound/machines/crate_open.ogg
  sound/machines/wooden_closet_close.ogg
  sound/machines/wooden_closet_open.ogg
Labels: Feature, Sound

#15622 Makes Tech Disks show what is loaded onto them
  code/modules/research/rdconsole.dm
  code/modules/research/research.dm
Labels: Tweak

#15631 Fixes ambient sounds playing in the lobby
  code/controllers/subsystem/ambience.dm
  code/game/area/ss13_areas.dm
Labels: Fix

#15614 Makes AI announcements support genderless option
  code/modules/mob/new_player/new_player.dm
Labels: Tweak

#15626 Blood colouring in syringes
  code/modules/reagents/chemistry/colors.dm
Labels: Feature

#15647 Fixes apostrophes breaking User Filtering on comms
  code/game/machinery/tcomms/core.dm
Labels: Fix

#15612 Makes the Clown All Powerful
  code/game/jobs/job/support.dm
  code/game/objects/items/weapons/implants/implant_clown.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/research/designs/medical_designs.dm
  paradise.dme
Labels: Feature

#15519 Converts Eye Augments to Cybernetic Eyes
  code/__DEFINES/mobs.dm
  code/datums/datacore.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/uplink_item.dm
  code/datums/vision_override.dm
  code/game/dna/dna2_helpers.dm
  code/game/dna/mutations/powers.dm
  code/game/gamemodes/changeling/powers/augmented_eyesight.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
  code/game/jobs/job/central.dm
  code/game/machinery/flasher.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/crafting/recipes.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/shadow.dm
  code/modules/mob/living/carbon/human/species/shadowling.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob_defines.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/response_team/ert_outfits.dm
  code/modules/surgery/organs/augments_eyes.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/autoimplanter.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/subtypes/machine.dm
  code/modules/surgery/organs/subtypes/shadow.dm
  code/modules/tgui/modules/appearance_changer.dm
  icons/obj/device.dmi
  icons/obj/lighting.dmi
  icons/obj/surgery.dmi
  paradise.dme
Labels: Balance, Code Improvement, Feature, Fix, Refactor

#15548 Moves External Organs to Nullspace
  code/datums/mind.dm
  code/datums/outfits/vv_outfit.dm
  code/game/dna/mutations/monkey.dm
  code/game/gamemodes/changeling/powers/headslug.dm
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
  code/game/machinery/transformer.dm
  code/game/objects/items/devices/traitordevices.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/admin/verbs/onlyoneteam.dm
  code/modules/awaymissions/mission_code/academy.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/subtypes/kidan.dm
  code/modules/surgery/organs/subtypes/skrell.dm
Labels: Refactor

#15657 No, Mobs Are Not Lockboxes
  code/game/objects/items/weapons/storage/storage.dm
Labels: Fix, High Priority

#15661 Fixes `rank` being a reserved SQL keyword
  SQL/paradise_schema.sql
  SQL/paradise_schema_prefixed.sql
  SQL/updates/21-22.sql
  code/__DEFINES/misc.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  config/example/dbconfig.txt
  tools/ci/dbconfig.txt
Labels: Fix, SQL Change

#15673 Fix crayon drawing invisible runes
  code/game/objects/items/crayons.dm
Labels: Fix

#15666 Fixes Some Issues With Cybernetic Eyes
  code/datums/outfits/outfit.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/slime.dm
Labels: Fix

#15660 Fixes Skrell Headpockets
  code/modules/mob/living/carbon/human/human.dm
  code/modules/surgery/organs/subtypes/skrell.dm
Labels: Fix

#15663 TG Sprite Update Project: Toolboxes
  code/game/objects/items/weapons/storage/artistic_toolbox.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  icons/goonstation/mob/inhands/items_lefthand.dmi
  icons/goonstation/mob/inhands/items_righthand.dmi
  icons/goonstation/objects/objects.dmi
  icons/mob/inhands/equipment/toolbox_lefthand.dmi
  icons/mob/inhands/equipment/toolbox_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/storage.dmi
Labels: Refactor, Sprites

#15676 Fixes Blind Golems and Skeletons
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/skeleton.dm
Labels: Fix, High Priority

#15381 MetaStation SM Port
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation

#15677 Fixes shadow walk spamming chat messages every time you move
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
Labels: Fix

#15674 Makes random teleporter teleports more random
  code/game/machinery/teleporter.dm
Labels: Fix

#15672 Damns Devils Gamemode to Hell
  code/__DEFINES/contracts.dm
  code/__DEFINES/hud.dm
  code/__DEFINES/role_preferences.dm
  code/_globalvars/lists/devil.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/devil.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/datums/ai_laws.dm
  code/datums/hud.dm
  code/datums/mind.dm
  code/datums/soullink.dm
  code/datums/spells/devil.dm
  code/datums/spells/devil_boons.dm
  code/game/gamemodes/devil/contracts/friend.dm
  code/game/gamemodes/devil/devil.dm
  code/game/gamemodes/devil/devil_agent/devil_agent.dm
  code/game/gamemodes/devil/devil_game_mode.dm
  code/game/gamemodes/devil/devilinfo.dm
  code/game/gamemodes/devil/game_mode.dm
  code/game/gamemodes/devil/imp/imp.dm
  code/game/gamemodes/devil/objectives.dm
  code/game/gamemodes/devil/true_devil/_true_devil.dm
  code/game/gamemodes/devil/true_devil/inventory.dm
  code/game/gamemodes/miniantags/sintouched/objectives.dm
  code/game/machinery/cloning.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/morgue.dm
  code/modules/admin/player_panel.dm
  code/modules/client/preference/preferences.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/library/codex_gigas.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/stat_states.dm
  code/modules/paperwork/contract.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/surgery/organs/vocal_cords.dm
  config/example/config.txt
  icons/mob/actions/actions.dmi
  icons/mob/hud.dmi
  icons/mob/screen_gen.dmi
  paradise.dme
Labels: Code Improvement, Revert/Feature Removal

#15651 Makes Mugwort Tea remove harmful chems
  code/modules/reagents/chemistry/reagents/food.dm
Labels: Balance

#15645 Multiline Command Announcements
  code/game/machinery/computer/communications.dm
  code/game/machinery/requests_console.dm
Labels: Tweak

#15646 Adds the RD hardsuit from TG, removes war crimes
  code/game/objects/explosion.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/head.dmi
  icons/mob/species/drask/helmet.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/grey/helmet.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Tweak

#15686 Fixes nanomaps action, again.
  .github/workflows/render_nanomaps.yml
Labels: Infrastructure

#15209 Removes a bunch of spawn()'s
  code/__HELPERS/game.dm
  code/controllers/subsystem/ticker.dm
  code/datums/diseases/advance/symptoms/shedding.dm
  code/datums/helper_datums/teleport.dm
  code/datums/spells/conjure.dm
  code/datums/spells/knock.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/whistle.dm
  code/game/objects/structures/inflatable.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/events/tear.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
Labels: Refactor

#15688 Remove Devil Tips
  strings/tips.txt
Labels: Fix

#15689 Fix coordinates logging when new area is made, and excesive second pair of ? and FLW
  code/game/objects/items/blueprints.dm
Labels: Fix

#15701 Fixes dead AIs making cryo announcements
  code/game/machinery/cryopod.dm
  code/modules/mob/dead/observer/say.dm
Labels: Fix

#15638 Allows forcing of runechat colour for readability
  code/__DEFINES/preferences.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Feature

#13466 Fixes input being lost while holding keys down and pressing others
  code/modules/keybindings/bindings_carbon.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/setup.dm
Labels: Fix

#15581 Updates Status Effects
  code/datums/status_effects/status_effect.dm
Labels: Fix, Refactor

#15552 Better Alt Click
  code/_onclick/click.dm
  code/_onclick/observer.dm
Labels: Refactor

#15709 Attempts to fix CI dependency failures
  .github/workflows/ci.yml
  tools/ci/dbconfig.txt
  tools/ci/generate_sql_scripts.py
Labels: High Priority, Infrastructure

#15711 Fixes an exploit with martial arts duping through boxing gloves/wardens gloves etc
  code/modules/martial_arts/martial.dm
Labels: Exploit, Fix

#15696 Fixes being unable to make a disk compartmentalizer
  code/game/machinery/constructable_frame.dm
Labels: Fix

#15693 fixes tile atmos overlays going invisible
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Labels: Fix

#15036 Adds more magic items and spells to the wizard spellbook
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: Tweak

#15159 Combines some admin verbs together
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminjump.dm
Labels: Tweak

#15235 Nerfs drake form.
  code/datums/spells/shapeshift.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
Labels: Balance

#15512 Shaking the dead now gives a message indicating the person is dead
  code/modules/mob/living/carbon/carbon.dm
Labels: Tweak

#15522 Prevents the look of Krav maga from being changed in a washing machine
  code/game/machinery/washing_machine.dm
Labels: Tweak

#15539 Ports Slapping and Kissing
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/item_attack.dm
  code/game/objects/items/hand_item.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/power/lighting.dm
  code/modules/projectiles/gun.dm
  paradise.dme
  sound/effects/kiss.ogg
  sound/effects/tableslam.ogg
  sound/weapons/slap.ogg
Labels: Feature

#15550 Fixes the top left pixels on vending machines
  icons/obj/vending.dmi
Labels: Sprites

#15715 oops I broke the repo
  code/game/gamemodes/wizard/spellbook.dm
Labels: High Priority, Literally Everybody Ded, Oversight, oops

#15543 Adds a cancel combo button for krav maga
  code/modules/martial_arts/combos/krav_maga/leg_sweep.dm
  code/modules/martial_arts/combos/krav_maga/lung_punch.dm
  code/modules/martial_arts/combos/krav_maga/neck_chop.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/martial_arts/martial.dm
Labels: Feature

#15444 Fixes HUD sunglasses deconstruction
  code/game/objects/items/weapons/pneumaticCannon.dm
  code/game/objects/items/weapons/signs.dm
  code/modules/crafting/craft.dm
  code/modules/crafting/recipes.dm
  code/modules/crafting/tailoring.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_table.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/instruments/objs/items/instruments.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/crafting_lists.dm
Labels: Tweak

#15721 Fixes terror webs stunning under airlocks
  code/modules/mob/living/simple_animal/hostile/terror_spiders/actions.dm
Labels: Fix, Refactor

#15671 Fix for unremovable photos and default photo names if no photo name is provided
  code/modules/paperwork/photography.dm
Labels: Tweak

#15680 Fixes the shielded hardsuits helmet sprite and armour.
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Tweak

#15683 Consciousness transfer potions are now usable on golem shells
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
Labels: Tweak

#15699 Adds in-hand sprites to xray and mindflayer guns
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/guns/energy.dmi
  icons/obj/projectiles.dmi
Labels: Feature, Sprites

#15702 Disabled AI being able to open doors when its wireless is disabled
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Balance

#15712 Restricts "Delete All Security Records" to Magistrate or Armory access.
  code/game/machinery/computer/security.dm
Labels: Balance

#15717 Fixes a couple bugs with Krav maga.
  code/modules/martial_arts/krav_maga.dm
  icons/mob/actions/actions.dmi
Labels: Fix

#15679 Ports Improved Parallax
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/parallax.dm
  icons/effects/parallax.dmi
Labels: Feature, Sprites

#15746 Disposaling welders without having to throw them
  code/modules/recycling/disposal.dm
Labels: Fix

#15747 Allows crowbars to be recycled in autolathes
  code/game/machinery/autolathe.dm
Labels: Fix

#15740 spelling mistake in firefighter mech
  code/game/mecha/working/ripley.dm
Labels: Grammar and Formatting

#15739 Adds the current mode of door remotes to the description
  code/game/objects/items/control_wand.dm
Labels: Tweak

#15703 Adjusts Cook Book
  code/game/objects/items/weapons/manuals.dm
  icons/obj/library.dmi
Labels: Sprites

#15658 Mobs are removed from closets first
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Balance, Fix

#15269 Adds reagent vision to observers
  code/modules/mob/dead/observer/observer.dm
Labels: Feature

#14991 Fix roundstart Robots having null-named brainmobs
  code/modules/mob/living/carbon/brain/robotic_brain.dm
  code/modules/mob/transform_procs.dm
Labels: Fix

#15379 Emitter stacking fix
  code/modules/power/singularity/emitter.dm
  icons/obj/singularity.dmi
Labels: Fix

#15414 [TGUI] Guest Pass Terminals
  code/game/machinery/guestpass.dm
  tgui/packages/tgui/interfaces/GuestPass.js
  tgui/packages/tgui/interfaces/common/AccessList.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI

#15418 Add sunglasses to Captain HOP and NT Rep lockers
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Tweak

#15492 Refactors human explosion damage, rebalance explosions and bomb armor
  code/modules/mob/living/carbon/human/human.dm
Labels: Balance, Refactor

#15508 Make's drilling the safe actually viable
  code/game/objects/structures/safe.dm
Labels: Balance

#15515 Rapid Cyborg Disabler Upgrade now requires way higher Tech levels V2
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Balance

#15532 Fixes one-handed plant-people
  code/game/objects/structures/flora.dm
Labels: Fix

#15553 Adds missing things to drone cleaning
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/decals/misc.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/windoor_assembly.dm
  code/modules/food_and_drinks/food.dm
  code/modules/projectiles/ammunition.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Tweak

#15640 Adds combat gloves plus, gives them to nukies.
  code/datums/uplink_item.dm
  code/modules/martial_arts/krav_maga.dm
Labels: Balance

#15742 Adds slime soup sprite
  icons/obj/food/food.dmi
Labels: Sprites

#15590 [TGUI] Suit Storage Unit
  code/game/machinery/suit_storage_unit.dm
  tgui/packages/tgui/interfaces/SuitStorage.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, Refactor, TGUI, User Interface

#15763 Fire Fighting Grenade Grenade
  code/game/objects/items/weapons/grenades/chem_grenade.dm
Labels: Fix

#15764 Removes flight when wielded broomstick is dropped by a wizard
  code/game/objects/items/weapons/staff.dm
Labels: Fix

#15769 Fixes a typo in the description of the mech heavy plasma cutter
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Fix, Grammar and Formatting

#15639 Adds a cooldown to some mob spawners
  code/modules/awaymissions/corpse.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
  code/modules/ruins/lavalandruin_code/ash_walker_den.dm
Labels: I ded pls nerf

#15501 Fixes species without hair losing their hairstyle to radiation
  code/__DEFINES/genetics.dm
  code/datums/diseases/advance/symptoms/shedding.dm
  code/game/gamemodes/blob/blobs/blob_mobs.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/abductor.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/skeleton.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Fix

#15343 Adds reactive teleport armor construction, ports repulsive armor from TG
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/clothing/suits/armor.dm
  code/modules/research/anomaly/anomaly.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/ruins/lavalandruin_code/ash_walker_den.dm
Labels: Feature

#15199 Fix - Admin Secrets - "Make All Areas Powered", "Make All Areas Unpowered"
  code/modules/admin/topic.dm
  code/modules/events/apc_short.dm
  code/modules/power/apc.dm
Labels: Fix

#15705 Allows health scanners / ghosts to see cybernetic organs in health scan
  code/game/objects/items/devices/scanners.dm
Labels: Tweak

#15681 TG Sprite Project: R&D, Mechfabs, Telecomms, and Station Objects
  code/game/machinery/tcomms/_base.dm
  code/modules/research/message_server.dm
  code/modules/research/rdmachines.dm
  code/modules/research/server.dm
  icons/obj/machines/research.dmi
  icons/obj/machines/telecomms.dmi
  icons/obj/robotics.dmi
  icons/obj/stationobjs.dmi
  icons/obj/tcomms.dmi
Labels: Code Improvement, Sprites

#15770 Removes var/ from power_restore() def
  code/modules/events/apc_short.dm
Labels: Fix, High Priority, Webeditor Heresy

#15761 Clothing grammar tweaks and the such
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/chronosuit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/under/jobs/plasmamen/civilian_service.dm
  code/modules/clothing/under/jobs/plasmamen/engineering.dm
  code/modules/clothing/under/jobs/plasmamen/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/oldstation_uni.dm
Labels: Grammar and Formatting

#15771 Fixes invisible teleporter sprite
  icons/obj/stationobjs.dmi
Labels: Fix, High Priority, Sprites, Working as Intended™

#15772 Fixes shotgun sawing with chambered rounds
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: Fix

#15104 Syndie Space Base
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/ruins/syndicate_space_base.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/computer/depot.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/modules/research/research.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
  code/modules/ruins/syndicate_space_base.dm
  config/example/lavaRuinBlacklist.txt
  config/example/spaceRuinBlacklist.txt
  paradise.dme
Labels: General Map, Map Edit

#15775 Makes the teleport spell castable again
  code/datums/spells/area_teleport.dm
Labels: Fix

#15762 Fixes Gloves of the North Star exploit.
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Fix, Webeditor Heresy

#15759 Makes firelock opening and closing animations more smooth.
  icons/obj/doors/doorfireglass.dmi
Labels: Sprites

#15753 Make RND machines check for upgraded parts when checking if an item is constructable
  code/modules/research/protolathe.dm
  code/modules/research/rdconsole.dm
Labels: Tweak

#15751 Missing Engineering Scanner Goggle sprites for Vox, Grey, and Drask
  icons/mob/species/drask/eyes.dmi
  icons/mob/species/grey/eyes.dmi
  icons/mob/species/vox/eyes.dmi
Labels: Sprites
