Repository ParadiseSS13/Paradise, pull requests merged in 2021-01, with the labels that each got.

#15224 Fixes closed multi-tile poddoors in ruins being transparent
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#15228 Fixes 'Long-Distance Cloning Machine' ghosts being objectives
  code/game/objects/structures/misc.dm
Labels: Fix

#15237 A bit of GDPR compliance stuff
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mob/new_player/new_player.dm
  goon/code/datums/browserOutput.dm
Labels: Administration, Refactor

#15229 How the goat stole Christmas
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: BoxStation, Map Edit

#15242 Adds an adjacent check for sleeper beaker removal
  code/game/machinery/Sleeper.dm
Labels: Fix

#15255 Bloodbags ordered at cargo have blood in them again
  code/modules/reagents/reagent_containers.dm
Labels: Fix

#15256 Fixes ghosts being able to swap items in storage objects
  code/game/objects/items.dm
Labels: Fix

#15246 Fixes Mentor asay
  code/modules/admin/verbs/adminsay.dm
Labels: Tweak

#15245 Missing pixel added (Open durand)
  icons/mecha/mecha.dmi
Labels: Fix, Sprites

#15232 Adds a slight warning that you may have screwed up to the nuclear bomb
  code/game/gamemodes/nuclear/nuclearbomb.dm
Labels: Meme PR, Tweak

#15233 Live the Smartphone Dream
  code/modules/pda/PDA.dm
Labels: Tweak

#15231 Headslugs pass through people.
  code/modules/mob/living/simple_animal/hostile/headslug.dm
Labels: Balance

#15225 Starvation No Longer Impacts SSDs
  code/datums/diseases/critical.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Tweak

#15258 Fixes msay admin rights error
  code/modules/admin/verbs/adminsay.dm
Labels: Fix

#15241 Fixes many spelling errors in DOWNLOADING.md
  .github/DOWNLOADING.md
Labels: Documentation

#15243 Fixes bad icons on runtime-maploaded disposal pipes (and other things probably)
  code/game/turfs/turf.dm
  code/modules/recycling/disposal.dm
Labels: Fix

#15260 Makes mindless beings cryoing not break objectives without a targeted mind
  code/game/machinery/cryopod.dm
Labels: Fix

#15262 Save logdir to data/logpath.txt
  code/game/world.dm
Labels: Fix

#15219 [TGUI] Depot Computers
  code/game/area/areas/depot-areas.dm
  code/game/machinery/computer/depot.dm
  tgui/packages/tgui/interfaces/SyndicateComputerSimple.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, User Interface

#15188 Adds fernet, an alcoholic digestif drink into the game
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  icons/obj/drinks.dmi
Labels: Feature

#15259 Anomaly Refactor and Rework
  code/__DEFINES/gamemode.dm
  code/__HELPERS/lists.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/game/objects/effects/anomalies.dm
  code/modules/assembly/signaler.dm
  code/modules/countdown/countdown.dm
  code/modules/events/anomaly.dm
  code/modules/events/anomaly_atmos.dm
  code/modules/events/anomaly_bluespace.dm
  code/modules/events/anomaly_flux.dm
  code/modules/events/anomaly_grav.dm
  code/modules/events/anomaly_pyro.dm
  code/modules/events/anomaly_vortex.dm
  code/modules/events/event.dm
  code/modules/events/event_container.dm
  code/modules/research/anomaly/anomaly.dm
  icons/obj/assemblies/new_assemblies.dmi
  paradise.dme
Labels: Refactor, Tweak

#15182 Add counter to runtime viewer
  code/modules/error_handler/error_viewer.dm
Labels: Feature

#15183 Adds the door runtime event as an event, and to event rotation.
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/modules/events/door_runtime.dm
  code/modules/events/event_container.dm
  paradise.dme
Labels: Balance

#15207 Adds the Supply radio channel to Generalist cyborg
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Tweak

#15123 Tells kidnapped contractor targets they'll return in a few minutes
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
Labels: Tweak

#15133 Shadowling hatch spell tweaks for lockers
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
Labels: Tweak

#15062 Stops crew from pushing massive spiders
  code/modules/mob/living/simple_animal/hostile/terror_spiders/empress.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/princess.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/purple.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/red.dm
Labels: Balance

#15145 Sound for snowballs hitting mobs
  code/game/objects/effects/snowcloud.dm
Labels: Sound

#15147 Improved Wiki Button
  code/controllers/subsystem/changelog.dm
  interface/interface.dm
Labels: Feature

#15148 Boxing gloves haymaker now weakens instead of sleeping
  code/modules/martial_arts/brawling.dm
Labels: Balance

#15151 Spiderling Pathing Tweaks
  code/game/machinery/rechargestation.dm
  code/game/objects/effects/spiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/reproduction.dm
Labels: Tweak

#15154 Added Christmas Giftgiving Goal
  code/modules/holiday/holiday.dm
Labels: Feature

#15157 Makes NT Default a possible roundstart lawset
  code/datums/ai_law_sets.dm
  code/datums/ai_laws.dm
Labels: Feature

#15163 Adds a move intent button for Cyborgs and Maintenance Drones
  code/_onclick/hud/robot.dm
  icons/mob/screen_robot.dmi
Labels: Feature

#15252 Prevents diagonal teleports on the syndicate handheld teleporter
  code/game/objects/items/devices/traitordevices.dm
Labels: Balance, Tweak

#15266 Lowers the volume of shadowling hatch by 50%
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
Labels: Balance

#15261 Stops the cryo sleepers from putting items into null space. Fixing the pinpointer runtime. Fix recall items from being wacky in some cases
  code/datums/spells/summonitem.dm
  code/game/machinery/cryopod.dm
Labels: Fix

#15226 Fixes a double airlock at the Syndicate jail
  _maps/map_files/cyberiad/z2.dmm
Labels: General Map, Map Edit

#15187 Update some old food sprites with TG ones
  icons/obj/food/food.dmi
Labels: Sprites

#15244 Adds ability to color patch packs in ChemMaster
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  icons/obj/chemical.dmi
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Merge Conflict

#15257 Two handed Shotguns
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: Balance

#15280 Update newscaster.dm
  code/modules/newscaster/obj/newscaster.dm
Labels: Fix

#15276 Adds better logging for to_chat. Fixes update_inv_wear_mask runtime
  code/modules/mob/living/carbon/human/update_icons.dm
  goon/code/datums/browserOutput.dm
Labels: Feature, Fix

#15272 Middle Click Ghost Pointing
  code/_onclick/observer.dm
Labels: Feature

#15271 Ghost employment records
  code/modules/mob/living/carbon/human/human.dm
Labels: Feature

#15268 world/Reboot refactor
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/unit_tests/unit_test.dm
Labels: Refactor, Tweak

#15275 Batches EXP updates for incredible efficiency
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/jobs.dm
  code/game/jobs/job_exp.dm
Labels: Refactor

#15279 Nukes AI Multicam
  _maps/map_files/MetaStation/z2.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/_onclick/ai.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/ai/login.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  paradise.dme
Labels: Revert/Feature Removal

#15290 Updates code to be compatible with new lints
  code/__DEFINES/subsystems.dm
  code/game/gamemodes/miniantags/morph/morph_event.dm
  code/game/gamemodes/miniantags/revenant/revenant_spawn_event.dm
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
  code/modules/awaymissions/maploader/writer.dm
  code/modules/events/dust.dm
  code/modules/events/slaughterevent.dm
  code/modules/mob/emote.dm
Labels: Fix

#15295 Fixes the Teleporter Console not updating the target list
  code/game/machinery/computer/computer.dm
  code/game/machinery/teleporter.dm
Labels: Fix

#15297 Updates some admin stuff
  SQL/paradise_schema.sql
  SQL/paradise_schema_prefixed.sql
  SQL/updates/19-20.sql
  code/__DEFINES/admin.dm
  code/__DEFINES/misc.dm
  code/__HELPERS/unsorted.dm
  code/controllers/configuration.dm
  code/defines/procs/admin.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin.dm
  code/modules/admin/banjob.dm
  code/modules/admin/cookielog.dm
  code/modules/admin/db_ban/functions.dm
  code/modules/admin/sql_notes.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/admin/watchlist.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  config/example/config.txt
  config/example/dbconfig.txt
  goon/code/datums/browserOutput.dm
  paradise.dme
  tools/ci/dbconfig.txt
Labels: Administration, Configuration Change, Feature, SQL Change

#15304 RCS: Copy Z-levels instead of using directly (speedfix)
  code/modules/telesci/rcs.dm
Labels: Fix, High Priority

#15306 Fixes SSD warning spam
  code/modules/client/client_procs.dm
Labels: Fix

#15305 More pinpointer runtime fixes
  code/game/gamemodes/nuclear/pinpointer.dm
Labels: Fix

#15227 Buckle resist stacking fix
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#15270 Fixes visible message when showing paper
  code/modules/paperwork/paper.dm
Labels: Fix

#15172 Metastation Pipenet remap
  _maps/map_files/MetaStation/MetaStation.v41A.II.dmm
Labels: Map Edit, MetaStation

#15322 [s] Fixes an exploit with the foam dart and pen combo
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/projectile/reusable.dm
Labels: Exploit, Fix, High Priority

#15301 Changes the possessor crystal to make a mouse instead of cockroach by default
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Tweak

#15289 Fixes one handed dswords
  code/game/objects/items/weapons/twohanded.dm
  code/modules/surgery/organs/helpers.dm
Labels: Exploit, Fix, Tweak

#15288 Makes the plasmacutter and spellblade not delete cut of limbs
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/projectiles/projectile/special.dm
Labels: Tweak

#15286 Makes emaging make cloners malfunction
  code/game/machinery/cloning.dm
Labels: Tweak

#15281 Improves existing projectile logging. Deflect/Reflect etc
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/projectile.dm
Labels: Administration, Feature

#15278 Allows Janitor borg's EMAG lube to refill in a charger
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak

#15311 Notification for admins if a user closes a PM window that was force opened
  code/modules/admin/verbs/adminpm.dm
Labels: Administration, Feature

#15321 Fixes Declaration of War HTML tags
  code/game/gamemodes/nuclear/nuclear_challenge.dm
Labels: Fix

#15327 Fixes equipping deployed welding helmet hiding currently worn mask
  code/modules/clothing/head/misc_special.dm
Labels: Fix

#15236 Fixes the PDA Messenger not decoding HTML tags
  code/__HELPERS/text.dm
  code/game/machinery/computer/message.dm
  code/modules/pda/core_apps.dm
  code/modules/pda/messenger.dm
Labels: Fix

#15328 Updates the vscode debugger engine
  SpacemanDMM.toml
  code/__HELPERS/debugger.dm
  code/game/world.dm
  paradise.dme
Labels: Infrastructure

#15326 Fixes slow roundstarts
  code/game/gamemodes/game_mode.dm
Labels: Fix

#15337 Optimizes steal objective
  code/game/gamemodes/objective.dm
  code/game/gamemodes/steal_items.dm
Labels: Performance, Tweak

#15329 Gives some tells to using holy water on vampire thralls.
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Tweak

#15323 Update grey translator implant to have a proper EMP effect
  code/modules/surgery/organs/augments_internal.dm
Labels: Balance

#15319 Removes Malf AI Module from Ashwalker Nest
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
Labels: Balance, Map Edit

#15318 Adds a playstyle string to laughter demons
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
Labels: Tweak

#15316 Changes HoS outfit and adds an assistant outfit for Plasmamen
  code/datums/outfits/plasmamen.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/plasmamen/civilian_service.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  icons/mob/species/plasmaman/helmet.dmi
  icons/mob/species/plasmaman/uniform.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
  icons/obj/clothing/species/plasmaman/uniform.dmi
Labels: Sprites

#15307 'Who' verb chat spam improvement
  code/modules/mob/mob.dm
Labels: Tweak

#15285 pAI data cable retracting
  code/game/objects/items/weapons/misc.dm
  code/modules/mob/living/silicon/pai/software/pai_apps.dm
  tgui/packages/tgui/interfaces/pai/pai_doorjack.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak

#15342 Makes query_round_start synchronous
  code/controllers/subsystem/dbcore.dm
Labels: Fix, Performance

#15344 Tweaks Styling Guide for Bitwise Operators
  .github/CONTRIBUTING.md
Labels: Administration, Documentation

#15203 Refactors the events to be async (not use sleeps) and not use spawns
  code/controllers/subsystem/events.dm
  code/game/area/areas.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/events/abductor.dm
  code/modules/events/alien_infestation.dm
  code/modules/events/blob.dm
  code/modules/events/dust.dm
  code/modules/events/event.dm
  code/modules/events/infestation.dm
  code/modules/events/meaty_gore.dm
  code/modules/events/meaty_ops.dm
  code/modules/events/meaty_ores.dm
  code/modules/events/meteors.dm
  code/modules/events/sentience.dm
  code/modules/events/slaughterevent.dm
  code/modules/events/spacevine.dm
  code/modules/events/tear.dm
  code/modules/events/traders.dm
  code/modules/events/wallrot.dm
Labels: Fix

#15349 Implements N2O Decomposition
  code/__DEFINES/atmospherics.dm
  code/datums/gas_mixture.dm
Labels: Feature

#15238 Adds a warning message if the game config files aren't set up properly
  code/game/world.dm
  code/modules/mob/login.dm
Labels: Tweak

#15358 Fixes Scrubbers and Alarms
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_scrubber.dm
  code/game/machinery/alarm.dm
  tgui/packages/tgui/interfaces/AirAlarm.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Balance, Fix, TGUI

#15347 [READY] The big kahuna - Map Standardisation
  _maps/cyberiad.dm
  _maps/delta.dm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/z2.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/metastation.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/mobs.dm
  code/datums/mind.dm
  code/datums/spell.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/machinery/teleporter.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/arcade/mob_hunt/mob_datums.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/ert.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/supply.dm
  code/modules/shuttle/vox.dm
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: BoxStation, DeltaStation, Feature, Fix, General Map, Map Edit, MetaStation, Refactor

#15369 Standarizes Scrubbers
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: BoxStation, DeltaStation, General Map, Map Edit, Map Issue, MetaStation, Refactor

#15373 (Almost) All /turf now Initialize()
  code/LINDA/LINDA_turf_tile.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/modules/awaymissions/zvis.dm
Labels: Refactor

#15174 [TGUI] Gravity Generator
  code/modules/power/gravitygenerator.dm
  tgui/packages/tgui/interfaces/GravityGen.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, User Interface

#15364 Better Supermatter Monitor
  code/game/machinery/computer/sm_monitor.dm
  code/modules/power/supermatter/supermatter.dm
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/SupermatterMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, User Interface

#15363 Fixes Cigarettes rendering on mob when on the ears
  code/game/objects/items/weapons/cigs.dm
Labels: Fix

#15365 [TGUI] Minor Fixes/Tweaks To Various Machines
  code/game/machinery/computer/card.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/vending.dm
  code/modules/paperwork/faxmachine.dm
  tgui/packages/tgui/interfaces/CardComputer.js
  tgui/packages/tgui/interfaces/CommunicationsComputer.js
  tgui/packages/tgui/interfaces/FaxMachine.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, TGUI, Tweak, User Interface

#15374 Makes blob stuff /Initialize()
  code/game/gamemodes/blob/blob.dm
  code/game/gamemodes/blob/blobs/core.dm
  code/game/gamemodes/blob/blobs/node.dm
  code/game/gamemodes/blob/powers.dm
  code/game/gamemodes/blob/theblob.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Refactor

#15376 Refactors Heaters and Coolers
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  _maps/map_files/shuttles/emergency_mil.dmm
  code/ATMOSPHERICS/components/unary_devices/cold_sink.dm
  code/ATMOSPHERICS/components/unary_devices/heat_source.dm
  code/ATMOSPHERICS/components/unary_devices/thermomachine.dm
  code/__DEFINES/atmospherics.dm
  code/game/machinery/Freezer.dm
  code/game/machinery/constructable_frame.dm
  code/modules/examine/descriptions/atmospherics.dm
  paradise.dme
  tgui/packages/tgui/interfaces/GasFreezer.js
  tgui/packages/tgui/interfaces/ThermoMachine.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: BoxStation, General Map, Map Edit, MetaStation, Refactor, TGUI

#13822 Removes the last of the red cross
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  _maps/map_files/shuttles/emergency_meta.dmm
  code/game/objects/structures/signs.dm
  code/modules/economy/Economy_TradeDestinations.dm
  code/modules/vehicle/ambulance.dm
  code/modules/vehicle/snowmobile.dm
  icons/obj/chemical.dmi
  icons/obj/closet.dmi
  icons/obj/custom_items.dmi
  icons/obj/decals.dmi
  icons/obj/device.dmi
  icons/obj/vehicles.dmi
Labels: BoxStation, General Map, Map Edit, MetaStation, Refactor

#15370 Removes cat ears from Deltastation
  _maps/map_files/Delta/delta.dmm
Labels: DeltaStation, Map Edit

#15339 Adds better control of bridge shutters(rip bridge watchers) v2
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: BoxStation, Map Edit

#15383 Adds mint, a new plant that can be processed into menthol
  code/game/machinery/vending.dm
  code/modules/hydroponics/grown/herbals.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
Labels: Feature

#15382 adds menthol to the safe chem list (fixed)
  code/_globalvars/lists/reagents.dm
Labels: Tweak

#15391 Immovable Rod Z-level fix
  code/game/gamemodes/meteor/meteors.dm
  code/modules/events/immovable_rod.dm
Labels: Fix

#15372 SSprofiler
  code/__DEFINES/_profile.dm
  code/__DEFINES/subsystems.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/profiler.dm
  config/example/config.txt
  paradise.dme
Labels: Configuration Change, Feature

#15366 Improves Geiger Counters; Allows Toggle
  code/datums/action.dm
  code/datums/elements/rad_insulation.dm
  code/datums/radiation_wave.dm
  code/game/objects/items/devices/geiger_counter.dm
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Feature, Fix, Refactor

#15222 [TGUI] Drone Control Console
  code/__DEFINES/mobs.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/tgui/states/notcontained.dm
  tgui/packages/tgui/interfaces/DroneConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, User Interface

#15335 [TGUI] GPS
  code/modules/telesci/gps.dm
  tgui/packages/tgui/interfaces/GPS.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, Refactor, TGUI, User Interface
