Repository ParadiseSS13/Paradise, pull requests merged in 2022-02, with the labels that each got.

#17386 Fixes Rogue Pixels on Female Species Sprites
  icons/mob/human_races/r_lizard.dmi
  icons/mob/human_races/r_skrell.dmi
  icons/mob/human_races/r_slime.dmi
  icons/mob/human_races/r_tajaran.dmi
  icons/mob/human_races/r_vulpkanin.dmi
Labels: Fix, Sprites

#17390 Fix - Tranquillite airlock uses the proper door assembly
  code/game/machinery/doors/airlock_types.dm
Labels: Fix

#17392 Removes a pointless `initial()` call from chameleon changing
  code/modules/clothing/chameleon.dm
Labels: Refactor, GBP: No Update

#17393 Client Leave/Join is now published to discord with redis magic
  code/modules/client/client_procs.dm
Labels: Feature, Administration, GBP: No Update

#17394 Fixes a major runtime I accidently caused
  code/modules/client/client_procs.dm
Labels: Fix, GBP: No Update

#17327 fixes huds magically appearing when people go invisible from genes / reactive armor
  code/game/dna/mutations/powers.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mob/mob.dm
Labels: Fix, GBP: No Update

#17387 Various Fixes to DeltaStation
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#17380 Make SSinstancing no longer sleep, fixing client stuff
  code/controllers/subsystem/instancing.dm
Labels: Fix, Test Merge Candidate

#17397 Fix matter eater spamming chat when it can't cast
  code/game/dna/mutations/powers.dm
Labels: Fix, GBP: No Update

#17399 Goonchat Error Message Tweak
  goon/browserassets/html/browserOutput.html
Labels: Grammar and Formatting

#17383 Hides the contents of the PDA slot in the strip menu
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
Labels: Tweak

#17403 Adds seclite to the HoS' and the blueshield's lockers
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Tweak

#17414 Automatic handling of majorly-colliding CIDs
  code/controllers/configuration/sections/admin_configuration.dm
  code/modules/admin/db_ban/functions.dm
  config/example/config.toml
Labels: Administration, Configuration Change

#17424 Fixes ToS decline issues
  code/modules/admin/IsBanned.dm
Labels: Fix

#17409 Borgs and drones can now replace glass floors.
  code/game/turfs/simulated/floor/transparent.dm
Labels: Fix

#17427 Fixes a exploit that allows you to dupe rods.
  code/modules/recycling/disposal.dm
Labels: Fix, Exploit

#17428 Fixes patches preventing ventcrawling.
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#17437 Hopefully Resolves some mind GC issues.
  code/modules/antagonists/_common/antag_datum.dm
Labels: Fix, GC Related

#17422 Fixes Dreamchecker warnings in the codebase
  code/__HELPERS/type2type.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/machinery/syndicatebeacon.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple.dm
  code/modules/events/ion_storm.dm
  code/modules/flufftext/TextFilters.dm
  code/modules/hallucinations/hallucinations.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/singularity/singularity.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  paradise.dme
Labels: Fix

#17431 Fixes ashwalkers being permanently in a state of heart attack
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/surgery/organs/subtypes/unathi.dm
Labels: Fix

#17419 Makes the spawning message more beginner-friendly, removes unused line
  code/controllers/subsystem/jobs.dm
  code/controllers/subsystem/ticker.dm
Labels: Grammar and Formatting, Tweak

#17420 Removes 3 names from the random name generator
  config/names/first.txt
  config/names/first_male.txt
Labels: Configuration Change

#17415 Make kitchen machines show all contents on examine.
  code/game/atoms.dm
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
Labels: Tweak

#17000 Invasion of the moffs
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/dna.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/status_effects.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/datums/action.dm
  code/datums/datacore.dm
  code/game/area/areas.dm
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
  code/game/dna/mutations/powers.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software/pai_toggles.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/new_player/sprite_accessories/moth/moth_body_markings.dm
  code/modules/mob/new_player/sprite_accessories/moth/moth_head_accessories.dm
  code/modules/mob/new_player/sprite_accessories/moth/moth_head_markings.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  code/modules/surgery/organs/subtypes/moth.dm
  code/modules/tgui/modules/appearance_changer.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  icons/mob/human_face.dmi
  icons/mob/human_races/r_moth.dmi
  icons/mob/sprite_accessories/moth/moth_body_markings.dmi
  icons/mob/sprite_accessories/moth/moth_head_accessories.dmi
  icons/mob/sprite_accessories/moth/moth_head_markings.dmi
  icons/mob/sprite_accessories/moth/moth_wings.dmi
  icons/obj/assemblies.dmi
  icons/obj/butts.dmi
  icons/obj/species_organs/nian.dmi
  paradise.dme
  sound/voice/scream_moth.ogg
Labels: Feature

#17439 The return
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
Labels: Documentation

#17443 Repair description of irish_cream and beepsky_smash
  code/modules/reagents/chemistry/reagents/alcohol.dm
Labels: Grammar and Formatting, Webeditor Heresy

#17444 Fixes an exploit in notes
  code/modules/admin/sql_notes.dm
Labels: Fix, High Priority, Exploit, Security

#17442 Refactors job EXP to allow for multiple departments in restrictions
  code/__DEFINES/preferences.dm
  code/controllers/subsystem/jobs.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job_exp.dm
  code/game/jobs/jobs.dm
  code/modules/client/preference/character.dm
  code/modules/mob/new_player/new_player.dm
Labels: Refactor

#17402 Expands Chief Engineer Office, makes Engineering foyer less clustered, makes engineering hallway more like a lobby.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation

#17127 SSprojectiles - smoother and saner projectiles
  code/controllers/subsystem/processing/projectiles.dm
  code/datums/position_point_vector.dm
  code/game/gamemodes/blob/blobs/shield.dm
  code/game/objects/structures/reflector.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/simulated/walls.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/projectile.dm
  paradise.dme
Labels: Refactor

#17450 Fix - Necropolis walls use the right icon
  code/game/turfs/simulated/walls_indestructible.dm
Labels: Fix

#17449 Fix - Clockwork walls have the proper icons, regular and brass windoors can be properly disassembled, fix a windoor runtime and text
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/turfs/simulated/walls_misc.dm
Labels: Fix
