Repository ParadiseSS13/Paradise, pull requests merged in 2022-03, with the labels that each got.

#17416 Display container transfer amounts on examine.
  code/modules/reagents/reagent_containers.dm
Labels: Tweak

#17429 Improve defibrillator messaging
  code/game/objects/items/weapons/defib.dm
Labels: Grammar and Formatting, Tweak

#17464 Some hotfixes
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/instancing.dm
  code/controllers/subsystem/ipintel.dm
  code/modules/admin/cookielog.dm
  code/modules/admin/sql_notes.dm
  code/modules/client/client_procs.dm
Labels: Fix

#17413 Makes the old Brig Physician space into a new Prisoner Lockers Room (Cyberiad)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation

#17433 Replaces unused key shortcut with the admin freeze button
  code/_onclick/observer.dm
Labels: Administration

#17434 Adds major warning text for some jobs
  code/controllers/subsystem/jobs.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
Labels: Feature

#17436 Serialize/deserialize uniform accessories.
  code/modules/clothing/clothing.dm
Labels: Tweak

#17463 Updates Slapping to Allow for Damage
  code/game/objects/items/hand_item.dm
Labels: Refactor

#17456 Removes Force from Finger Gun
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Tweak

#17407 Ammo boxes now return materials properly.
  code/modules/projectiles/ammunition.dm
Labels: Fix

#17455 New barsign
  code/game/objects/structures/barsign.dm
  icons/obj/barsigns.dmi
Labels: Feature

#17465 Players can no longer exploit Meteorshot to throw anything that's not a turf
  code/game/machinery/shieldgen.dm
  code/modules/power/apc.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Tweak

#17459 Profiler results are now sent to Redis
  code/controllers/subsystem/profiler.dm
Labels: Feature

#17447 Completely refactors Karma
  SQL/updates/30-31.sql
  SQL/updates/31-32.py
  SQL/updates/32-33.sql
  SQL/updates/Readme.md
  code/__DEFINES/karma.dm
  code/__DEFINES/misc.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/misc.dm
  code/game/jobs/whitelist.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
  code/modules/client/login_processing/42-karma_numbers.dm
  code/modules/client/login_processing/43-karma_unlocks.dm
  code/modules/karma/karma.dm
  code/modules/karma/karma_holder.dm
  code/modules/karma/karma_packages.dm
  config/example/config.toml
  paradise.dme
  tgui/packages/tgui/interfaces/KarmaShop.js
  tgui/packages/tgui/public/tgui.bundle.js
  tools/ci/generate_sql_scripts.py
Labels: Refactor, SQL Change, TGUI

#17468 Species selection hotfix
  code/game/jobs/whitelist.dm
Labels: Fix, GBP: No Update

#17406 Rework display cases to allow plain types, disassembly, and new sprites
  code/game/objects/structures/displaycase.dm
  icons/obj/stationobjs.dmi
Labels: Tweak

#17408 Borg locker verb fix.
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Fix, Stale

#17448 Fixes the req_access_txt on Cyberiad HoP privacy shutters
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation

#17400 Updates Delta Morgue [Ready]
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#17475 Fixes new players having half their prefs disabled
  SQL/paradise_schema.sql
  SQL/updates/33-34.sql
  code/__DEFINES/misc.dm
  config/example/config.toml
Labels: Fix, SQL Change

#17479 Fixes Missing IPC Cable Sprite
  icons/obj/power.dmi
Labels: Fix, Sprites, GBP: No Update

#17421 Bureaucratic Fixes on DeltaStation
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#17482 Removes the Sandbox Gamemode from the codebase
  code/game/gamemodes/sandbox/h_sandbox.dm
  code/game/gamemodes/sandbox/sandbox.dm
Labels: Refactor, Revert/Feature Removal

#17425 Remaps CC, changes z1 layout
  _maps/map_files/generic/centcomm.dmm
  code/game/area/ss13_areas.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/poddoor.dm
  code/game/objects/structures/flora.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/modules/mining/equipment/marker_beacons.dm
  icons/obj/lighting.dmi
Labels: Map Edit, Test Merge Candidate, General Map

#17438 Moves blueshield from karma to 50 command hours
  code/__DEFINES/job.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/jobs.dm
  code/modules/karma/karma_packages.dm
Labels: Tweak

#17471 Changes SOO beret not to cover mask slot
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Tweak

#17476 Makes admin spawned organs properly serialize. And fixes 1 by 1 map saves to work
  code/modules/awaymissions/maploader/writer.dm
  code/modules/surgery/organs/organ.dm
Labels: Fix

#17473 Removes mech mass drivers and associated code
  _maps/map_files/RandomZLevels/spacebattle.dmm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/pod.dm
  code/game/objects/effects/landmarks.dm
  code/modules/research/designs/machine_designs.dm
  paradise.dme
Labels: Map Edit, Revert/Feature Removal, General Map

#17493 Fixes a runtime in mob_hunt_game_app.dm
  code/modules/pda/mob_hunt_game_app.dm
Labels: Fix

#17494 Fixes qdeling the supermatter with the supermatter (sliver)
  code/game/objects/items/theft_items.dm
Labels: Fix

#17485 Grammar and spelling edits
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/borer/borer.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/explosives.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
  code/modules/mob/living/simple_animal/slime/life.dm
Labels: Grammar and Formatting

#17496 CC z-level fixes
  _maps/map_files/generic/centcomm.dmm
Labels: Fix

#17497 Adds six Security Clothing Items
  code/game/machinery/vending.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/under/jobs/security.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Sprites

#17488 Allows ghosts signed up for ghost roles to leave the pool
  code/_onclick/hud/alert.dm
  code/controllers/subsystem/ghost_spawns.dm
Labels: Tweak

#17481 Replaces the Singularity with the Tesla on ThetaStation
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Tweak

#17508 Fixes jumpskirt sprites and unathi/tajaran tail clipping
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  icons/mob/clothing/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Fix, Sprites, GBP: No Update

#17469 Allows Blobs to "Capture" nukes instead of delete them
  code/game/gamemodes/blob/blobs/captured_nuke.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  icons/mob/blob.dmi
  paradise.dme
Labels: Feature

#17510 Fixes Shesi's fluff item
  icons/mob/clothing/suit.dmi
Labels: Fix, Custom Item

#17514 Prevents surgery on cult ghosts
  code/game/gamemodes/cult/runes.dm
  code/modules/surgery/helpers.dm
Labels: Fix

#17512 Removes "Cyborg Upgrade Module (Rapid Disabler Cooling)" from exosuit fabricators
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Fix

#17511 Adds more obvious logging to buildmode explosions
  code/modules/buildmode/submodes/boom.dm
Labels: Administration

#17522 The last PR till the next T-shirt season, probably
  .github/CONTRIBUTING.md
Labels: Documentation

#17526 [GBP no update] Fixes a disposals runtime
  code/modules/recycling/disposal.dm
Labels: Fix, GBP: No Update

#17527 BRPED provides user feedback for out-of-range exchanges and prevents false-positive logs
  code/game/objects/items/weapons/stock_parts.dm
Labels: Needs Head Approval

#17502 Resprites Crates and MULEbots to 3/4ths in the TGstation style
  icons/obj/aibots.dmi
  icons/obj/crates.dmi
Labels: Sprites

#17509 Fixes Jestosteron and Clipboard runtime
  code/modules/paperwork/clipboard.dm
  code/modules/reagents/chemistry/reagents/misc.dm
Labels: Fix

#17505 Makes git blame annotations ignore #13131
  .git-blame-ignore-revs
Labels: Refactor, Documentation

#17524 Removes tribbles
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/patreon/hats.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/living/simple_animal/tribbles.dm
  icons/mob/tribbles.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/items.dmi
  paradise.dme
Labels: Revert/Feature Removal

#17532 Updates Sprites for Wrapped/Present Objects + A Few other containers
  code/modules/recycling/sortingmachinery.dm
  icons/obj/closet.dmi
  icons/obj/crates.dmi
  icons/obj/storage.dmi
Labels: Sprites

#17525 Ports In hand bola sprites from TG
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items/weapons/legcuffs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites

#17530 Removes gateway missions we don't and won't use
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/generic/centcomm.dmm
  code/datums/outfits/outfit.dm
  code/datums/spell.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/weapons/dice.dm
  code/modules/awaymissions/mission_code/academy.dm
  code/modules/awaymissions/mission_code/challenge.dm
  code/modules/awaymissions/mission_code/spacebattle.dm
  code/modules/awaymissions/mission_code/stationCollision.dm
  code/modules/awaymissions/mission_code/wildwest.dm
  code/modules/power/singularity/singularity.dm
  config/example/config.toml
  paradise.dme
Labels: Map Edit, Revert/Feature Removal, Configuration Change, General Map

#17538 Adds RPD to engineering winter coats
  code/modules/clothing/suits/miscellaneous.dm
Labels: Tweak
