Repository ParadiseSS13/Paradise, pull requests merged in 2022-01, with the labels that each got.

#17291 Fixes vents having a double defined examine proc
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
Labels: Fix

#17285 Fixes floorbot construction
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: Fix

#17281 Clean up skin.dmf, fix input darkmode, add statusbar toggle option
  code/_onclick/hud/screen_objects.dm
  code/datums/statclick.dm
  code/modules/client/client_procs.dm
  interface/skin.dmf
Labels: Refactor

#17298 Storage Exploit Fix
  code/_onclick/hud/screen_objects.dm
Labels: Fix, High Priority, Exploit

#17273 Fix - Simple mobs sleep properly
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#17292 fixes grav & vortex anomalies throwing their own core at people
  code/game/objects/effects/anomalies.dm
Labels: Fix

#17283 Ban refactor part 3 - Job bans with CDL
  code/game/world.dm
  code/modules/admin/banjob.dm
  code/modules/admin/db_ban/functions.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/toggledebugverbs.dm
  code/modules/client/client_defines.dm
  code/modules/client/jobban_holder.dm
  code/modules/client/login_processing/25-load_jobbans.dm
  paradise.dme
Labels: Refactor, Performance

#17293 Fixes incorrect behavior when admin editing traitor objectives
  code/datums/mind.dm
Labels: Fix

#17300 Removes crit_fail from being an object level variable
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/objects/objs.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: Refactor

#17303 Fixes mech creation DB logging
  code/datums/helper_datums/construction_datum.dm
  code/game/mecha/mecha_construction_paths.dm
Labels: Fix

#17296 Limit the number of possible simple mob offspring.
  code/__DEFINES/mobs.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Tweak

#17202 Tweaks New Players to Not Use Spawns
  code/modules/mob/new_player/login.dm
Labels: Fix

#17288 Touches up default config
  config/example/config.toml
Labels: Configuration Change

#17301 Updates the paradise hub entry format
  code/game/world.dm
  config/example/config.toml
Labels: Configuration Change, Tweak

#17312 Fixes inflatable barrier boxes infinite storage exploit
  code/game/objects/structures/inflatable.dm
Labels: Fix, Exploit

#17309 Fixes destroyer borgs having a baton without a cell
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#17306 Prevents grabbing things that you cannot pull
  code/modules/mob/living/living_defense.dm
Labels: Tweak

#17280 Converts items / abilities that set alpha to zero, to use invisibility
  code/game/dna/mutations/powers.dm
  code/modules/clothing/suits/armor.dm
Labels: Tweak

#17238 [MDB Ignore] Refactors spawners, adds unique icons to spawner effects
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/example.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
  code/controllers/subsystem/mapping.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/machinery/computer/pod.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/effects/spawners/random_barrier.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/modules/events/electrical_storm.dm
  icons/effects/spawner_icons.dmi
Labels: Map Edit, Refactor, MetaStation, BoxStation, DeltaStation

#17240 Fix gravgen airlock cycling on deltastation
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#17253 Maps in the RD hardsuit to delta and meta
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, DeltaStation

#17277 Death alarms now use signals, and properly trigger on gibbing / dusting
  code/game/objects/items/weapons/implants/implant_death_alarm.dm
Labels: Fix

#17297 QOL tweaks for supermatter sliver objective
  code/modules/power/supermatter/supermatter.dm
Labels: Tweak

#17313 Fixes a critical error with the previously merged PR
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/effects/landmarks.dm
Labels: Fix, Map Edit, MetaStation, BoxStation, oops, DeltaStation, GBP: No Update

#17256 Removes heist mode & associated code
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/admin_skipjack.dmm
  code/__DEFINES/gamemode.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/rolebans.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/shuttles.dm
  code/game/area/ss13_areas.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/objective.dm
  code/game/jobs/access.dm
  code/game/jobs/job_exp.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/vox_raiders.dm
  code/modules/client/preference/preferences.dm
  code/modules/projectiles/guns/alien.dm
  code/modules/projectiles/guns/dartgun.dm
  code/modules/shuttle/syndicate.dm
  code/modules/shuttle/vox.dm
  config/example/config.toml
  paradise.dme
Labels: Map Edit, Revert/Feature Removal, Configuration Change, MetaStation, BoxStation, DeltaStation, General Map, Approved

#17206 Ghost "Toggle Darkness" value is now remembered
  SQL/paradise_schema.sql
  SQL/updates/29-30.sql
  code/__DEFINES/misc.dm
  code/_onclick/hud/ghost.dm
  code/modules/client/login_processing/10-load_preferences.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/mob/dead/observer/observer.dm
  config/example/config.toml
Labels: SQL Change, Tweak

#17315 [GDP: no update] fixes slimes having bones for surgery steps
  code/modules/surgery/organs/organ_external.dm
Labels: Fix, GBP: No Update

#17261 Fixes more bitmasking issues
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/icon_smoothing.dm
  code/__HELPERS/icon_smoothing.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/shuttle/ripple.dm
  icons/obj/smooth_structures/alien/weednode.dmi
  icons/obj/smooth_structures/alien/weeds1.dmi
  icons/obj/smooth_structures/alien/weeds2.dmi
  icons/obj/smooth_structures/alien/weeds3.dmi
  icons/turf/floors/grass.dmi
  icons/turf/floors/junglegrass.dmi
  icons/turf/smoothrocks.dmi
Labels: Fix, Map Edit, MetaStation, BoxStation, DeltaStation

#16718 Orbit Refactor, Add Orbiter Count
  code/__HELPERS/unsorted.dm
  code/datums/components/orbiter.dm
  code/game/atoms_movable.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/paperwork/photography.dm
  code/modules/power/tesla/energy_ball.dm
  paradise.dme
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor

#17321 Fixes ERT cameras floating in place when in a bag
  code/modules/clothing/spacesuits/ert.dm
Labels: Fix

#17322 Adds Missing in-hand sprites for Briefcases
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Fix, Sprites

#17314 Changes desc of organic shield to be more accurate
  code/game/gamemodes/changeling/powers/mutations.dm
Labels: Grammar and Formatting, GBP: No Update

#17318 Tweaks sling ascension message
  code/game/gamemodes/shadowling/shadowling.dm
Labels: Tweak, GBP: No Update

#17326 Fixes Area discrepancy with onehalf ruin bridge area
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  code/modules/ruins/ruin_areas.dm
Labels: Fix, Map Edit, General Map

#17328 Fix: timers not removing from second queue on init
  code/controllers/subsystem/timer.dm
Labels: Fix

#17329 Fix: avoid sleeping SSTicker
  code/controllers/subsystem/ticker.dm
  code/modules/mob/new_player/new_player.dm
Labels: Fix

#17279 Fixes Cyberiad still having podbay areas
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/area/ss13_areas.dm
  code/modules/arcade/mob_hunt/mob_type_datums.dm
Labels: Fix, Map Edit, BoxStation

#17331 [GBP: no update] Fixes Rev EMP
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
Labels: Fix, GBP: No Update

#17316 Adds a cap to Xenobiology Mobs and Allows Sentient Giant Spider prompts to be disabled
  code/__DEFINES/mobs.dm
  code/controllers/subsystem/mobs.dm
  code/game/objects/effects/spiders.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Tweak

#17332 Fixes exploit involving chairs
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: Fix, Exploit, GBP: No Update

#17259 [MDB Ignore] Makes maps comply with "[dir]_bump" standards
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_animal_hospital.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/centcomm.dmm
  tools/mapmerge2/map_scripts/dirbump_part1.txt
  tools/mapmerge2/map_scripts/dirbump_part2.txt
Labels: Map Edit, Refactor, MetaStation, BoxStation, DeltaStation

#17341 [GBP: No Update] Fax Machines can no longer eat folders
  code/modules/paperwork/faxmachine.dm
Labels: Fix, GBP: No Update

#17337 Adds mining shelters as a Radstorm protected area
  code/datums/weather/weather_types/radiation_storm.dm
Labels: Fix

#17335 Disallows Alien resin wall/membrane stacking
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
Labels: Fix

#17334 [GBP: No Update] Restores alien nests
  icons/mob/alien.dmi
Labels: Fix, Sprites, GBP: No Update

#17336 (restores) CLONG CLONG
  code/modules/recycling/disposal.dm
Labels: Fix

#17330 [GBP: No Update] Fixes orbiting in vents and disposals
  code/datums/components/orbiter.dm
  code/game/objects/structures.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Fix, GBP: No Update

#17166 Datumized vampires
  code/datums/mind.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/spell_handler/vampire.dm
  code/datums/status_effects/buffs.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/gamemodes/vampire/vampire_gamemode.dm
  code/game/machinery/cloning.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/modules/admin/admin.dm
  code/modules/antagonists/traitor/datum_mindslave.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/antagonists/vampire/vampire_powers/gargantua_powers.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
  code/modules/antagonists/vampire/vampire_powers/umbrae_powers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/antagonists/vampire/vampire_subclasses.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/silicon/login.dm
  code/modules/mob/mob.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/water.dm
  paradise.dme
Labels: Refactor

#17347 PP screen bans now creates notes again
  code/modules/admin/topic.dm
Labels: Fix

#17348 Fix: Avoid timer scheduling too far events into short queue
  code/controllers/subsystem/timer.dm
Labels: Fix

#17343 Fixes the sense victims spell
  code/datums/spell_targeting/alive_mobs.dm
  code/datums/spell_targeting/aoe.dm
  code/datums/spell_targeting/spell_targeting.dm
  code/datums/spell_targeting/targeted.dm
Labels: Fix, GBP: No Update

#17345 Smooths out ventcrawling
  code/game/atoms_movable.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/mob/mob.dm
Labels: Fix, Test Merge Candidate

#17351 Fixes some antag datum related issues
  code/datums/mind.dm
  code/modules/admin/admin.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Fix

#17354 Upgrades SOO nutriment implant to a hardened EMP proof version.
  code/game/jobs/job/central.dm
Labels: Fix

#17355 [GBP: NO UPDATE] Remove alien nest bitmasking properties
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
Labels: Fix, GBP: No Update

#17350 [GBP: NO UPDATE] Fix table-climbing with mobs
  code/game/objects/structures.dm
Labels: Fix, Webeditor Heresy, GBP: No Update

#17356 Standardize ghost follow
  code/game/gamemodes/cult/cult_actions.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
Labels: Refactor

#17361 Fix: Avoid runechat scheduling too far events into short queue
  code/controllers/subsystem/runechat.dm
Labels: Fix, GBP: No Update

#17362 Fixes spelling of three mile island iced tea
  code/modules/reagents/chemistry/reagents/alcohol.dm
Labels: Grammar and Formatting

#17358 Replace the existing nutriments implants to hardened one for the rest of the admin jobs.
  code/datums/outfits/outfit_admin.dm
  code/game/jobs/job/central.dm
Labels: Fix

#17364 [GBP: NO UPDATE] Add moved signals to ai movement procs
  code/game/atoms_movable.dm
  code/game/machinery/computer/camera_advanced.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Labels: Fix, GBP: No Update

#17365 Remove duplicate tracking implants
  code/game/objects/items/weapons/implants/implant_track.dm
  code/modules/research/designs/medical_designs.dm
Labels: Refactor

#17360 Fixes a runtime when you remove a fax too fast when sending it
  code/modules/paperwork/faxmachine.dm
Labels: Fix

#17370 [GBP: no update] Fixes vamp objectives
  code/modules/antagonists/vampire/vamp_datum.dm
Labels: Fix, GBP: No Update

#17368 Prevent using fire extinguisher to propel vehicles.
  code/game/objects/items/weapons/extinguisher.dm
Labels: Fix

#17367 A little bit more GDPR compliance stuff
  code/controllers/configuration/sections/system_configuration.dm
  code/modules/admin/IsBanned.dm
  code/modules/client/client_procs.dm
  code/modules/client/login_processing/30-tos_consent.dm
  code/modules/mob/new_player/new_player.dm
  config/example/config.toml
Labels: Refactor, Administration, Configuration Change

#17372 Warning hotfix
  code/modules/admin/IsBanned.dm
  goon/code/datums/browserOutput.dm
Labels: GBP: No Update

#17374 [GBP: no update] Fixes a runtime with vampire datums
  code/modules/mob/living/carbon/human/life.dm
Labels: Fix, GBP: No Update

#17377 Reverses "Yes" & "No" options for BS Compression Packaging Prompt on Crates
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Grammar and Formatting

#17357 Do away with old last_special checks
  code/_onclick/hud/alert.dm
  code/modules/mob/living/living.dm
Labels: Refactor, GBP: No Update

#17381 make sure improvised gauze doesn't actually heal brute
  code/game/objects/items/stacks/medical.dm
Labels: Fix

#17378 Tweaks MC logic
  code/controllers/subsystem.dm
Labels: Refactor, Test Merge Candidate
