Repository ParadiseSS13/Paradise, pull requests merged in 2022-04, with the labels that each got.

#17548 XxX Adds support for dank 360 no scopes XxX
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/paperwork/photography.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile.dm
Labels: Very Important PR

#17549 Makes my own gameplay more impactful
  code/game/objects/items/weapons/twohanded.dm
  code/modules/projectiles/guns/badass.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/64x64_guns_lefthand.dmi
  icons/mob/inhands/64x64_guns_righthand.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/guns/energy.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/items.dmi
  paradise.dme
Labels: Very Important PR

#17550 wzhzhzh
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
Labels: Very Important PR

#17551 Replace IPC starting box with comfy happy box <3
  code/modules/mob/living/carbon/human/species/machine.dm
Labels: Very Important PR

#17552 SSmoney
  code/controllers/subsystem/money.dm
  paradise.dme
Labels: Very Important PR

#17553 LIVE VOX REACTION
  code/controllers/subsystem/ticker.dm
  icons/effects/station_explosion.dmi
Labels: Very Important PR

#17554 Adds the suppressHONK
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/projectiles/gun_attachments.dm
  code/modules/projectiles/guns/projectile.dm
Labels: Very Important PR

#17564 Sets the default FPS to 63
  SQL/paradise_schema.sql
  SQL/updates/34-35.sql
  code/__DEFINES/misc.dm
  code/modules/client/preference/preferences.dm
  config/example/config.toml
Labels: Tweak

#17571 VV tweaks + security fix
  code/__HELPERS/unsorted.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
Labels: Fix, Security, Tweak

#17576 Fix - Wormholes do not affect transit tubes
  code/modules/events/wormholes.dm
Labels: Fix

#17541 fixes atmos pda readout
  code/modules/pda/core_apps.dm
Labels: Fix

#17581 Fixes a null override
  code/game/mecha/mecha_wreckage.dm
Labels: Fix

#17582 Makes the admin 'Cryo' button on the AFK player panel respect an area's fast_despawn variable
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Fix

#17580 Fix - Contractor targets are stripped of suit accessories when extracted
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
Labels: Fix

#17537 Makes check_self_for_injuries lag the client less.
  code/modules/mob/living/carbon/carbon.dm
Labels: Refactor

#17500 Clean up crate code, and fix emagging making the manifest invisible and not making sparks
  code/game/objects/structures/crates_lockers/crates.dm
  icons/obj/crates.dmi
Labels: Refactor

#17516 Adds DB logging to crew transfer and map votes
  code/controllers/subsystem/blackbox.dm
  code/controllers/subsystem/vote.dm
Labels: Tweak

#17533 Adds Nianen Species Flags
  code/game/objects/items/flag.dm
  code/modules/store/items.dm
  icons/obj/flag.dmi
Labels: Feature, GBP: No Update

#17589 Removes a redundant loop in client/New()
  code/modules/client/client_procs.dm
Labels: Refactor, Webeditor Heresy, GBP: No Update

#17565 Cigarette and drinks vendors generate the right circuitboard when disassembled, beach cigarette vendor can be reassembled properly
  code/game/machinery/constructable_frame.dm
  code/game/machinery/vending.dm
Labels: Fix

#17593 Fix Experimentor deconstruction, and standardizes into tool procs
  code/modules/research/experimentor.dm
Labels: Fix

#17598 Fix corgi equipment slots for Lisa and puppies.
  code/modules/mob/living/simple_animal/friendly/dog.dm
Labels: Fix

#17602 Ghosts can no longer be stuck visible from the spectral blade
  code/datums/components/orbiter.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
Labels: Fix

#17610 Fixes an issue preventing fire door alarms from showing
  code/game/area/areas.dm
Labels: Fix

#17568 Improves belt item overlay code, Adds new belt item overlay sprites
  code/game/gamemodes/wizard/soulstone.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/handheld_defib.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/holosign.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/power/cable.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  icons/obj/clothing/belts.dmi
Labels: Refactor

#17528 Replaces Most Privacy Shutters with Polarized Windows on BoxStation
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation

#17194 Port TG emissive appearances
  code/__DEFINES/layers.dm
  code/__DEFINES/lighting.dm
  code/__HELPERS/lighting.dm
  code/_onclick/hud/plane_master.dm
  code/datums/mutable_appearance.dm
  code/game/atoms_movable.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items.dm
  code/modules/lighting/emissive_blocker.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/mob_defines.dm
  icons/obj/computer.dmi
  icons/obj/cryogenic2.dmi
  paradise.dme
Labels: Feature, Port

#17504 Makes the "thanks" autoresponse from admins sound less sarcastic.
  code/controllers/subsystem/tickets/tickets.dm
Labels: Tweak

#17536 Add random critter crate, remove the unused crate subtype and tweak the animal hospital lavaland ruin to use new random crate
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_animal_hospital.dmm
  code/game/objects/structures/crates_lockers/closets/crittercrate.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  paradise.dme
Labels: Tweak

#17586 Initialize lootdrop spawners and fix Sol trader vehicle spawn to have enough keys
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Refactor

#17619 Fixes movable window tint buttons
  code/game/objects/structures/window.dm
Labels: Fix

#17353 Adds Dantalion, a new vampire subclass.
  code/__DEFINES/status_effects.dm
  code/__DEFINES/vampire.dm
  code/datums/status_effects/debuffs.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/antagonists/vampire/vampire_subclasses.dm
  code/modules/hallucinations/effects/moderate.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/reagents/chemistry/reagents/water.dm
  icons/effects/vampire_effects.dmi
  icons/mob/actions/actions.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/SpecMenu.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature

#17629 Dimensional tear update
  code/modules/events/tear.dm
  code/modules/events/tear_honk.dm
  code/modules/mob/living/simple_animal/hostile/hellhound.dm
  sound/magic/drum_heartbeat.ogg
Labels: Tweak

#17604 Adds a visual and audio cue when the sleeper cures addiction
  code/game/machinery/Sleeper.dm
Labels: Tweak

#17600 Add "reference in range" option to atom proccall
  code/modules/admin/verbs/debug.dm
Labels: Tweak

#17617 Makes the Notice Mech'd Robotic Brains Receive Bigger
  code/game/mecha/mecha.dm
Labels: Tweak

#17620 Tweaks the right in-hand blue e-sword sprite
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites

#17572 Deltastation: Fixes messed up pipes in the showers, fixes disposals shutters not opening and add's a donk pocket box to viro like on cyberiad.
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#17622 Fixes narsie and other singularities getting shuttle crushed
  code/__DEFINES/flags.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/shuttle/shuttle.dm
Labels: Fix

#17596 Add a permanent GPS beacon to mining station.
  _maps/map_files/generic/Lavaland.dmm
Labels: Map Edit, General Map

#17603 Refactor the Hunger Meter, add Machine People Battery Meters
  code/_onclick/hud/alert.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/hallucinations/effects/moderate.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  icons/mob/screen_alert.dmi
  icons/mob/screen_hunger.dmi
  icons/mob/screen_hunger_machine.dmi
  icons/mob/screen_hunger_vampire.dmi
Labels: Refactor

#17631 Removes "Bracket Pair Colorizer 2" from recommended VSCode extensions
  .vscode/extensions.json
  .vscode/settings.json
Labels: Tweak

#17637 Improves logging on teleportation portals
  code/game/objects/effects/portals.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
Labels: Fix, Administration

#17584 Removes karma lock on barber
  code/__DEFINES/job.dm
  code/game/jobs/job/support.dm
  code/game/jobs/jobs.dm
  code/modules/karma/karma_packages.dm
Labels: Tweak

#17616 Fluff ID sprite
  code/modules/customitems/item_defines.dm
Labels: Custom Item

#17633 Locks some really gamebreaking verbs to Maints
  code/__DEFINES/admin.dm
  code/__HELPERS/type2type.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/jobs.dm
  code/game/atoms.dm
  code/game/objects/explosion.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/cinematic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/verbs/ticklag.dm
  code/modules/admin/verbs/toggledebugverbs.dm
  code/modules/procedural_mapping/mapGenerator.dm
Labels: Refactor

#17597 Moves NanoTrasen Representative to 50 command hours
  code/__DEFINES/job.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/jobs.dm
  code/modules/karma/karma_packages.dm
Labels: Tweak

#17644 Fixes players assigned the +EVERYTHING rank not receiving the +ADMIN permission
  code/__DEFINES/admin.dm
Labels: Fix

#17639 Fixes gun cabinet icons breaking with less than 3 guns
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
Labels: Fix

#17636 Nukes all of the OpenDream warnings
  code/datums/outfits/vv_outfit.dm
  code/game/verbs/ooc.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/awaymissions/maploader/writer.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/persistence/persistence.dm
Labels: Fix

#17645 Fixes Engi, Atmos, Sec holosigns having Janitorial belt overlays
  code/game/objects/items/weapons/holosign.dm
Labels: Fix

#17594 Janitor QOL
  code/game/objects/items/weapons/holosign.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/research/designs/janitorial_designs.dm
  code/modules/surgery/organs/augments_arms.dm
  icons/obj/clothing/belts.dmi
  icons/obj/janitor.dmi
Labels: Tweak

#17506 Ensures stacks GC when merged in a storage. Also properly updates the users screen
  code/game/objects/items.dm
Labels: GC Related

#17507 Properly unsets the machine when undoing a paper bundle. Fixing a GC issue
  code/modules/paperwork/paper_bundle.dm
Labels: GC Related

#17519 Closes UI for all players looking into a storage inside a recently closed locker
  code/game/objects/items/weapons/storage/storage.dm
Labels: Fix

#17641 Ports some TG mapping helpers
  code/modules/mapping/access_helpers.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
  paradise.dme
Labels: Refactor, Port

#17649 Stops firelocks stealing airlock helper values by applying them to all doors in a turf
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/modules/mapping/mapping_helpers.dm
Labels: Fix

#17648 Fixes MrSynnester's fluff item sprite
  icons/mob/clothing/suit.dmi
Labels: Fix, Custom Item

#17655 Fixes some portal logging.
  code/game/objects/effects/portals.dm
  code/game/objects/items/weapons/teleportation.dm
Labels: Fix

#17656 Removes ability to change flavor text while you are unconscious.
  code/modules/mob/mob.dm
Labels: Fix

#17630 Touches up on the black pants sprite
  icons/mob/clothing/uniform.dmi
Labels: Sprites

#17635 Adds a warning regarding the bee brief case and slime jelly.
  code/datums/uplink_item.dm
Labels: Tweak

#17640 Resprites the mass driver
  code/game/machinery/mass_driver.dm
  icons/obj/objects.dmi
Labels: Sprites

#17642 Adds a CritterCare to Delta
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#17652 Delay awaymission terrorspider gibbing.
  code/modules/surgery/organs/parasites.dm
Labels: Tweak

#17653 Minor refactor examine to code, move held items up in the Examine display
  code/modules/mob/living/carbon/human/examine.dm
Labels: Tweak

#17654 Replaces Ashwalker egg sprite, nest sprite
  icons/mob/lavaland/lavaland_monsters.dmi
  icons/mob/nest.dmi
Labels: Sprites

#17664 [GBP no update] Fixes portals never despawning
  code/game/objects/effects/portals.dm
Labels: Fix, GBP: No Update

#17670 Removes war crimes from nurse hat
  icons/mob/clothing/head.dmi
Labels: Sprites

#17673 Remove warcrimes from amber ERT armor and Brigphys vest (And duplicates)
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#17683 Enable the auxtools debug console
  code/__HELPERS/debugger.dm
Labels: Refactor

#17684 Fixed autoadmin when launching the game through Dream Seeker
  code/modules/client/client_procs.dm
Labels: Fix

#17682 Fix tiny karma-related runtime when running server with no SQL
  code/modules/client/client_procs.dm
Labels: Fix

#17681 Remove bracket coloring from project settings.
  .vscode/settings.json
Labels: Tweak

#17680 Add eslint settings to vscode config
  .github/workflows/ci.yml
  .vscode/settings.json
  tools/ci/check_json.sh
  tools/ci/install_build_deps.sh
  tools/ci/json_verifier.py
Labels: Refactor

#17667 Fixes the captains medal being deleted when cryoing
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#17698 [GBP no update] Computers have keyboards when powered
  code/game/machinery/computer/computer.dm
Labels: Fix, GBP: No Update

#17701 Reverts #17636 commits to writer.dm - Fixes Build Mode Map Saver
  code/modules/awaymissions/maploader/writer.dm
Labels: Fix

#17703 Thrown stunbaton can no longer stun silicons
  code/game/objects/items/weapons/stunbaton.dm
Labels: Fix

#17534 Expands MetaStation Maintenance
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation

#17556 Completely reworks the plasma pistol, adds the dropwall shield generator (Serious)
  _maps/map_files/generic/centcomm.dmm
  code/__DEFINES/dcs/signals.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/machinery/deployable.dm
  code/game/objects/effects/effect_system/effects_sparks.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/research/designs/weapon_designs.dm
  icons/mob/clothing/species/drask/held.dmi
  icons/mob/clothing/species/vox/held.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/dropwall.dmi
  icons/obj/guns/energy.dmi
  icons/obj/projectiles.dmi
Labels: Balance

#17588 Adds `harmless = FALSE` to Haloperidol
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance, GBP: No Update

#17659 You can no longer use mech ranged weapons if you have a melee-only martial arts
  code/game/mecha/mecha.dm
Labels: Tweak, Webeditor Heresy

#17662 Prevent solid objects from turret deployment.
  code/game/machinery/portable_turret.dm
Labels: Tweak

#17675 Immovable rod can now cause hull breaches.
  code/modules/events/immovable_rod.dm
Labels: Tweak

#17678 Make "Reply" PDA messenger button clickable without scrolling
  tgui/packages/tgui/interfaces/PDA.js
  tgui/packages/tgui/interfaces/pda/pda_messenger.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/PDA.scss
Labels: Tweak, TGUI

#17685 Revert "Fixes singularity radiation not reaching rad collectors"
  code/modules/power/singularity/singularity.dm
Labels: Revert/Feature Removal

#17628 Removes Marauder Entry landmarks from cyberiad
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation

#17623 Removes unused latejoin spawners
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/_globalvars/mapping.dm
  code/game/objects/effects/landmarks.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/preferences_spawnpoints.dm
  code/modules/mob/new_player/new_player.dm
Labels: Map Edit, MetaStation, BoxStation, Tweak

#17625 Removes unused code regarding IDs on solar panels
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/power/solar.dm
Labels: Map Edit, MetaStation, BoxStation, DeltaStation, General Map

#17626 Moves the oxygen closet in the AI sat airlock
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation

#17627 Delta station fixes and such
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#17708 Some malf AI exploit fixes
  code/__DEFINES/flags.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/machinery.dm
  code/modules/atmospherics/machinery/pipes/pipe.dm
  code/modules/power/apc.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Fix, Exploit
