Repository ParadiseSS13/Paradise, pull requests merged in 2022-09, with the labels that each got.

#18654 Rework disease outbreak event
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
  code/modules/events/disease_outbreak.dm
  code/modules/events/event_container.dm
  code/modules/mob/new_player/new_player.dm
Labels: Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#18780 Small container transfer rate change improvements
  code/modules/detective_work/footprints_and_rag.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/hydroponics/beekeeping/honeycomb.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/applicator.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Tweak, -Status: Awaiting merge

#18788 Spraytan overdose update
  code/modules/reagents/chemistry/reagents/misc.dm
Labels: Tweak, -Status: Awaiting merge

#18948 Fixes invisible locker in the wizard crash space ruin
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
Labels: Fix, Map Edit, -Status: Awaiting type assignment

#18949 Fixes the last invisible locker
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
Labels: Fix, Map Edit, -Status: Awaiting type assignment

#18952 Removes a line of code that causes a runtime
  code/controllers/globals.dm
Labels: Fix, -Status: Awaiting merge

#18957 You can no longer pull something you're buckled to.
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
Labels: Fix, Exploit, -Status: Awaiting merge

#18943 Admin QoL: Deletes stickybans, tidies mob VV menu
  code/datums/datumvars.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/stickyban.dm
  code/modules/admin/topic.dm
  code/modules/mob/living/carbon/human/human.dm
  paradise.dme
Labels: Tweak, -Status: Awaiting merge

#18955 Meteorshot now knocks down instead of stunning
  code/modules/projectiles/projectile/bullets.dm
Labels: Balance, -Status: Awaiting merge, Project Progression

#18794 Tweaks DeltaStation Engineering
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#18934 Adds implants and hair gradients to serialisation
  code/game/objects/items/weapons/implants/implant_mindshield.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/subtypes/standard.dm
Labels: Tweak, -Status: Awaiting merge

#18855 Ports the TG Dish Drive. A quality of life machine for service.
  code/game/machinery/constructable_frame.dm
  code/game/machinery/dish_drive.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/mob/living/living.dm
  code/modules/power/cable.dm
  code/modules/research/designs/machine_designs.dm
  icons/obj/kitchen.dmi
  paradise.dme
Labels: Feature, -Status: Awaiting merge

#18947 Adds a suspicious multitool to the Syndicate toolbox
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  icons/obj/device.dmi
Labels: Sprites, -Status: Awaiting merge

#18909 Jackboots and black gloves resprite, THEY'RE ACTUALLY BLACK NOW WOOO
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/drask/shoes.dmi
  icons/mob/clothing/species/grey/gloves.dmi
  icons/mob/clothing/species/kidan/gloves.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/mob/clothing/species/vox/shoes.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/shoes.dmi
Labels: Sprites, -Status: Awaiting merge

#18938 [GBP: No update] Fix odd airlock interference with polarized airlocks
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/devices/painter/airlock_painter.dm
Labels: Fix, GBP: No Update, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#18795 Reconnects DeltaMime and DeltaClown to the Powernet
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#18961 Resprites the Hunger Meter
  icons/mob/screen_hunger.dmi
  icons/mob/screen_hunger_machine.dmi
  icons/mob/screen_hunger_vampire.dmi
Labels: Sprites, -Status: Awaiting merge

#18819 Legion Rework
  code/__DEFINES/status_effects.dm
  code/datums/beam.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/status_effect.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  icons/effects/beam.dmi
  icons/mob/lavaland/64x64megafauna.dmi
  icons/obj/lavaland/artefacts.dmi
Labels: Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#18879 Makes that Turbine Scrubbers no longer fight against Turbine itself
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation

#18969 wizard can now hit forced crawlers with fireball by clicking on them
  code/datums/spells/wizard.dm
Labels: Fix, -Status: Awaiting merge

#18933 Adds the "Jestographic Sequencer", a clown-exclusive traitor item
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/datums/uplink_item.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/control_wand.dm
  code/game/objects/items/weapons/cards_ids.dm
  icons/obj/card.dmi
Labels: Feature, -Status: Awaiting merge

#18854 Ports TG berserker armor from TG to replace champion hardsuit.
  code/__HELPERS/traits.dm
  code/modules/clothing/spacesuits/ert.dm
  code/modules/clothing/suits/hood.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  icons/mob/clothing/species/tajaran/suit.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vulpkanin/suit.dmi
Labels: Balance, Tweak, -Status: Awaiting merge

#18950 Adds config option to prevent repeating maps
  code/controllers/configuration/sections/vote_configuration.dm
  code/modules/vote/vote_presets.dm
  config/example/config.toml
Labels: Configuration Change, Tweak, -Status: Awaiting merge

#18889 Box station tweaks & fixes (pipe redundancy)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#18757 Ports TG cursed katana to replace our cursed katana.
  code/__DEFINES/status_effects.dm
  code/__HELPERS/lists.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/lavaland/artefacts.dmi
Labels: Feature, GBP: No Update, -Status: Awaiting merge

#18827 CC tcomms QoL
  code/game/machinery/tcomms/core.dm
  code/game/machinery/tcomms/presets.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: Tweak, -Status: Awaiting merge

#18907 New Turbine Sprites
  icons/obj/pipes.dmi
Labels: Sprites, -Status: Awaiting merge

#18914 Cargo/Mining bomber jackets, minor tweaks to allowed items in cargo wintercoats
  code/game/machinery/vending.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mining/mine_items.dm
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites, -Status: Awaiting merge

#18958 Reworks the exosuit tracking beacon
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_control_console.dm
Labels: Balance, -Status: Awaiting merge

#18954 Fixes the dimensional rift being able to spawn in maintenance
  code/game/area/ss13_areas.dm
  code/modules/events/anomaly.dm
  code/modules/events/event_procs.dm
Labels: Fix, -Status: Awaiting merge

#18956 Removes the pre-spawned tracking beacons from Ripleys and Odysseus
  code/game/mecha/medical/medical.dm
  code/game/mecha/working/working.dm
Labels: Tweak, -Status: Awaiting merge

#18963 Makes the EFTPOS a small item
  code/modules/economy/EFTPOS.dm
Labels: Tweak, -Status: Awaiting merge

#18965 Removes weakens on tripping over simplebots
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Tweak, -Status: Awaiting merge

#18981 Tweaks guidelines to prevent my own slip ups
  .github/CONTRIBUTING.md
Labels: Documentation, Webeditor Heresy, -Status: Awaiting merge

#18982 Fixes implant cases being invisible, refactors slightly implant cases and implanters
  code/game/objects/items/weapons/implants/implant_abductor.dm
  code/game/objects/items/weapons/implants/implant_adrenalin.dm
  code/game/objects/items/weapons/implants/implant_chem.dm
  code/game/objects/items/weapons/implants/implant_death_alarm.dm
  code/game/objects/items/weapons/implants/implant_dust.dm
  code/game/objects/items/weapons/implants/implant_emp.dm
  code/game/objects/items/weapons/implants/implant_exile.dm
  code/game/objects/items/weapons/implants/implant_explosive.dm
  code/game/objects/items/weapons/implants/implant_freedom.dm
  code/game/objects/items/weapons/implants/implant_health.dm
  code/game/objects/items/weapons/implants/implant_krav_maga.dm
  code/game/objects/items/weapons/implants/implant_mindshield.dm
  code/game/objects/items/weapons/implants/implant_sad_trombone.dm
  code/game/objects/items/weapons/implants/implant_storage.dm
  code/game/objects/items/weapons/implants/implant_tracking.dm
  code/game/objects/items/weapons/implants/implant_traitor.dm
  code/game/objects/items/weapons/implants/implant_uplink.dm
  code/game/objects/items/weapons/implants/implantcase.dm
  code/game/objects/items/weapons/implants/implanter.dm
Labels: Fix, -Status: Awaiting merge

#18967 Adds several more icons to tool-belts
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wirecutters.dm
  icons/obj/clothing/belts.dmi
  icons/obj/device.dmi
  icons/obj/tools.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#18974 Adds diagnostic huds to pAIs and fixes a visual glitch with their hud menu
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software/pai_toggles.dm
Labels: Tweak, -Status: Awaiting merge

#18878 Timestamp QoL
  code/__HELPERS/time.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
Labels: Tweak, -Status: Awaiting merge

#18911 Remakes PR #17569, gives all special armours full body coverage
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/gamemodes/steal_items.dm
  code/game/objects/items/weapons/storage/garment.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Map Edit, Balance, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation

#18992 get_idcard now checks for ID in the PDA slot
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix, -Status: Awaiting merge

#18993 fixes katana runtime GBP NO UPDATE
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#18980 Adds the missing Chaplain Zippo to Delta
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#18931 Gnashing Teeth buff - make it sharp
  code/modules/martial_arts/combos/sleeping_carp/gnashing_teeth.dm
Labels: Balance, -Status: Awaiting merge

#18989 Fixes Kerberos virology APC and the PANDEMIC
  _maps/map_files/Delta/delta.dmm
Labels: Fix, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#18734 Adds Species Drinks
  code/_globalvars/lists/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/drinks.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  icons/obj/drinks.dmi
Labels: Feature, GBP: No Update, -Status: Awaiting merge

#18897 Fixed localhost autoadmin for the re-admin verb
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
Labels: Fix, -Status: Awaiting merge

#18925 Cyberiad - Polarized airlocks
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#18972 Removal of a security newcaster on boxstation's cargo bay
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#18971 Combines the major disease outbreak event with the moderate.
  code/modules/events/disease_outbreak.dm
  code/modules/events/event_container.dm
Labels: Tweak, -Status: Awaiting merge

#19005 Fixes a ton of security issues
  code/__HELPERS/_string_lists.dm
  code/__HELPERS/files.dm
  code/controllers/subsystem/mapping.dm
  code/datums/helper_datums/map_template.dm
  code/modules/admin/admin_investigate.dm
  code/modules/admin/outfits.dm
  code/modules/admin/verbs/getlogs.dm
  code/modules/awaymissions/maploader/reader.dm
  code/modules/awaymissions/maploader/writer.dm
  code/modules/instruments/songs/play_legacy.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/tooltip/tooltip.dm
  goon/code/datums/browserOutput.dm
Labels: Fix, High Priority, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#18987 Forensic gloves now have their own worn sprite
  code/modules/clothing/gloves/miscellaneous.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/grey/gloves.dmi
  icons/mob/clothing/species/kidan/gloves.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/obj/clothing/gloves.dmi
Labels: Sprites, -Status: Awaiting merge

#18988 Firealarms now have a separate icon when alarming
  code/game/machinery/firealarm.dm
  icons/obj/monitors.dmi
Labels: Sprites, -Status: Awaiting merge

#19009 Mapping indictors for lootdrops are readable now
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Fix, -Status: Awaiting merge

#19020 Adds slaughter demons to the Antagonist Orbit list
  code/__DEFINES/mobs.dm
  code/game/gamemodes/miniantags/slaughter/bloodcrawl.dm
  code/game/gamemodes/miniantags/slaughter/slaughter.dm
  code/modules/mob/dead/observer/orbit.dm
Labels: Tweak, -Status: Awaiting merge

#19003 Blacklists bath salts "Berserker" disease from disease outbreak event.
  code/modules/events/disease_outbreak.dm
Labels: Fix, -Status: Awaiting merge

#19017 Fixes a cable in the space ruin drug lab
  _maps/map_files/RandomRuins/SpaceRuins/druglab.dmm
Labels: Map Edit, General Map, -Status: Awaiting merge

#19011 Fixes dish drive not picking up snack bowl and spamming the chat
  code/game/machinery/dish_drive.dm
Labels: Fix, -Status: Awaiting merge

#19004 Fixes runtime on dehydrated space carp
  code/game/objects/items/dehy_carp.dm
Labels: Fix, -Status: Awaiting merge

#19028 Fixes Xenomorphs being able to build resin structures in space
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
Labels: Fix, -Status: Awaiting merge

#19046 Xenomorphs can now die
  code/modules/mob/living/carbon/alien/humanoid/life.dm
Labels: Fix, -Status: Awaiting merge

#19018 Ports the shuttle console hijack from TG. Tweaks malf AI hijack.
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
  code/modules/mob/mob_helpers.dm
  code/modules/shuttle/emergency.dm
Labels: Feature, -Status: Awaiting merge

#19025 Facehuggers no longer instastun, removes some RNG
  code/modules/mob/living/carbon/alien/special/facehugger.dm
Labels: Balance, -Status: Awaiting merge, Project Progression

#19043 Makes empty implanters initialize properly.
  code/game/objects/items/weapons/implants/implanter.dm
Labels: Fix, -Status: Awaiting merge

#18991 adds xenomorphs back to the rotation
  code/modules/events/event_container.dm
Labels: Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#19038 Fix issue #18845 Orion Trail wrong value displayed and accidental game over
  code/game/machinery/computer/arcade.dm
Labels: Fix, -Status: Awaiting merge

#19050 Xenomorphs can now stun borgs for practical ammounts of time.
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Fix, -Status: Awaiting merge

#18910 Changes SR to not be an instant and unavoidable revival.
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Tweak, -Status: Awaiting merge

#19014 Spelling fix on admin autofax responses.
  code/modules/admin/topic.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#19026 Fixes emotes being displayed as the wrong type
  code/datums/emote.dm
  code/modules/mob/living/carbon/human/human_emote.dm
Labels: Fix, -Status: Awaiting merge

#19074 Adds icon_states to telescopic batons
  code/game/objects/items/weapons/batons.dm
  code/modules/antagonists/traitor/contractor/items/contractor_baton.dm
Labels: Refactor, -Status: Awaiting merge

#19039 Fix #13305. PA containment firing grids names are all the same
  code/modules/power/singularity/particle_accelerator/particle_emitter.dm
Labels: Tweak, -Status: Awaiting merge

#19052 Cloth footwraps now can be made using Cloth
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Tweak, -Status: Awaiting merge

#18325 Yet Another Surgery Refactor
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/surgery.dm
  code/__DEFINES/tools.dm
  code/__HELPERS/tool_helpers.dm
  code/__HELPERS/traits.dm
  code/_onclick/click.dm
  code/_onclick/item_attack.dm
  code/_onclick/observer.dm
  code/_onclick/other_mobs.dm
  code/datums/components/surgery_initiator.dm
  code/game/gamemodes/miniantags/abduction/abduction_surgery.dm
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/devices/autopsy.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/whetstone.dm
  code/game/objects/objs.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/species/abductor.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/paperwork/pen.dm
  code/modules/power/cable.dm
  code/modules/surgery/abstract_steps.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/helpers.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/pain.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/remove_embedded_object.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/tools.dm
  paradise.dme
Labels: Refactor, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#19065 ORM: Improved alloy naming
  code/modules/research/designs/smelting_designs.dm
Labels: Tweak, -Status: Awaiting merge

#19053 Fat IPCs get the proper hunger meter display
  code/_onclick/hud/alert.dm
  icons/mob/screen_hunger_machine.dmi
Labels: Fix, -Status: Awaiting merge

#19055 Fix head damage not displaying properly until another bodypart was updated
  code/modules/surgery/organs/subtypes/standard.dm
Labels: Fix, -Status: Awaiting merge

#19060 pyro anomalies no longer light people on fires through walls
  code/game/objects/effects/anomalies.dm
Labels: Fix, -Status: Awaiting merge

#19061 Fix issue #10130 Claw Game gives double prizes
  code/modules/arcade/crane.html
Labels: Fix, -Status: Awaiting merge

#19067 Fixes facehuggers facehugging forever
  code/modules/mob/living/carbon/alien/special/facehugger.dm
Labels: Fix, -Status: Awaiting merge

#18996 Uplink Price Rework
  code/datums/uplink_item.dm
Labels: Balance, -Status: Awaiting merge

#19070 Don't spawn spiderling remains for grown spiders.
  code/game/objects/effects/spiders.dm
Labels: Fix, -Status: Awaiting merge

#19089 Revert "Changes SR to not be an instant and unavoidable revival."
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Revert/Feature Removal, -Status: Awaiting type assignment

#19034 When removing traitor role, auto remove the uplink
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Tweak, -Status: Awaiting merge

#18804 Adds Fusion Gauntlets to RND
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_reinforced.dm
  code/modules/research/designs/weapon_designs.dm
  icons/mob/clothing/hands.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/items.dmi
Labels: Feature, -Status: Awaiting merge

#19073 Reset personnel locker overlays when lock/unlocking.
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
Labels: Fix, -Status: Awaiting merge

#19040 Beer2 no longer instastuns
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Balance, -Status: Awaiting merge, Project Progression

#19044 3/4th safe sprites
  icons/obj/structures.dmi
  paradise.dme
Labels: Sprites, -Status: Awaiting merge

#19056 Bronze/Glass ashtray now can be made
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Tweak, -Status: Awaiting merge

#19069 Fixes magboots not preventing you from being thrown
  code/modules/atmospherics/machinery/atmospherics.dm
Labels: Fix, -Status: Awaiting merge

#18891 Paradise's soul removal part one of many: Captain's drip and resprite
  code/game/objects/items/weapons/storage/garment.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/gloves.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/kidan/gloves.dmi
  icons/mob/clothing/species/kidan/suit.dmi
  icons/mob/clothing/species/kidan/uniform.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Sprites, -Status: Awaiting merge

#18930 [READY] Bot Refactor
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
  code/modules/pda/PDA.dm
  code/modules/pda/cart.dm
  code/modules/pda/cart_apps.dm
  code/modules/pda/pda_tgui.dm
  code/modules/pda/radio.dm
  paradise.dme
  tgui/packages/tgui/interfaces/pda/pda_mule.js
  tgui/packages/tgui/interfaces/pda/pda_secbot.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, Performance, Testmerge Requested, Testmerge Active, -Status: Awaiting merge, Project Progression

#19094 pyro gloves only work in glove slot [GBP NO UPDATE]
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#19087 Energy crossbow gunkits now need a laser gun
  code/modules/crafting/guncrafting.dm
  code/modules/crafting/recipes.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Balance, GBP: No Update, -Status: Awaiting merge

#19104 Fix #16297 Reinforced walls act as infinite metal rod farms
  code/game/turfs/simulated/walls_reinforced.dm
Labels: Fix, Exploit, -Status: Awaiting merge

#19105 Fix some busted logic
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: Fix, -Status: Awaiting merge

#19079 Fixes spoon/fork inhand sprites
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#19106 Buffs Alien Queens
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/alien/humanoid/empress.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Balance, -Status: Awaiting merge, Project Progression

#19102 Allows Captain jacket items to hold guns again
  code/modules/clothing/suits/armor.dm
Labels: Fix, -Status: Awaiting merge

#19091 [GBP: No Update] White captain's beret for Ian
  icons/mob/corgi_head.dmi
Labels: Sprites, -Status: Awaiting merge

#19107 Summon Guns/Magic can no longer tries to select people who are antag banned.
  code/game/gamemodes/wizard/rightandwrong.dm
Labels: Fix, -Status: Awaiting merge

#19120 Fix #17543 Genetics UI Block 32 Doesn't Properly Change Gender
  code/modules/mob/living/carbon/human/appearance.dm
Labels: Fix, -Status: Awaiting merge

#19019 Keeps bumped windoors open if someone stands in front of them
  code/game/machinery/doors/windowdoor.dm
Labels: Tweak, -Status: Awaiting merge

#19103 Removes radioactive gel from blobs
  code/__DEFINES/colors.dm
  code/modules/reagents/chemistry/reagents/blob.dm
Labels: Revert/Feature Removal, -Status: Awaiting merge

#19108 Surgery Hotfixes: Part 1
  code/__DEFINES/surgery.dm
  code/datums/components/surgery_initiator.dm
  code/modules/surgery/abstract_steps.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/surgery.dm
Labels: Fix, -Status: Awaiting merge

#19114 Fix #18667 var/digestion_ratio on mob/living is a depreciated or unused variable
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living_defines.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Refactor, -Status: Awaiting merge

#19000 BoxStation: Medbay Button
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#19016 Allow silicons to use electric smart fridges.
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Tweak, -Status: Awaiting merge

#19023 Ants will no longer spawn on food that is on racks
  code/modules/food_and_drinks/food.dm
Labels: Tweak, -Status: Awaiting merge

#19126 Fix runtimes with Rev malfunction ability
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
Labels: Fix, -Status: Awaiting review

#19110 Making assemblies will no longer be dropped
  code/modules/assembly/assembly.dm
  code/modules/assembly/holder.dm
Labels: Fix, -Status: Awaiting merge

#19112 Wryn removal v2
  code/__DEFINES/mobs.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/link_processing.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/new_player/sprite_accessories/wryn/wryn_face.dm
  code/modules/surgery/organs/subtypes/wryn.dm
  icons/mob/body_accessory.dmi
  icons/mob/human_races/r_wryn.dmi
  icons/mob/sprite_accessories/wryn/wryn_face.dmi
  paradise.dme
Labels: Revert/Feature Removal, -Status: Awaiting merge

#19133 Fix #18998 Exosuit Fabricator no longer continues to process it's queue when power is out
  code/game/mecha/mech_fabricator.dm
Labels: Fix, -Status: Awaiting merge

#19140 Fix #19083 Unathi snouts no longer poke through radiation hoods when looking left
  icons/mob/clothing/head.dmi
Labels: Fix, -Status: Awaiting merge

#19144 Fix #18731 Mixing bowl now disposes properly
  code/game/objects/items/mixing_bowl.dm
Labels: Fix, -Status: Awaiting merge

#19146 Fix #16339 Unbranded foot prosthetics doesn't clip through footwear anymore
  icons/mob/human_races/robotic.dmi
Labels: Fix, -Status: Awaiting merge

#18937 Renames non-cybernetic implants to bio-chips
  code/__DEFINES/hud.dm
  code/datums/mind.dm
  code/datums/supplypacks.dm
  code/datums/uplink_item.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/prisoner.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/implants/implant_abductor.dm
  code/game/objects/items/weapons/implants/implant_adrenalin.dm
  code/game/objects/items/weapons/implants/implant_chem.dm
  code/game/objects/items/weapons/implants/implant_death_alarm.dm
  code/game/objects/items/weapons/implants/implant_dust.dm
  code/game/objects/items/weapons/implants/implant_emp.dm
  code/game/objects/items/weapons/implants/implant_exile.dm
  code/game/objects/items/weapons/implants/implant_explosive.dm
  code/game/objects/items/weapons/implants/implant_freedom.dm
  code/game/objects/items/weapons/implants/implant_health.dm
  code/game/objects/items/weapons/implants/implant_krav_maga.dm
  code/game/objects/items/weapons/implants/implant_mindshield.dm
  code/game/objects/items/weapons/implants/implant_sad_trombone.dm
  code/game/objects/items/weapons/implants/implant_storage.dm
  code/game/objects/items/weapons/implants/implant_tracking.dm
  code/game/objects/items/weapons/implants/implant_traitor.dm
  code/game/objects/items/weapons/implants/implantcase.dm
  code/game/objects/items/weapons/implants/implantchair.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/items/weapons/implants/implantfluff.dm
  code/game/objects/items/weapons/implants/implantpad.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/awaymissions/gateway.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/carbon/superheroes.dm
  code/modules/paperwork/paper.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/implant_removal.dm
  tgui/packages/tgui/interfaces/ImplantPad.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, -Status: Awaiting merge

#19158 Fix #19156 Reinforcement caller no longer invisible
  code/modules/antagonists/_common/antag_spawner.dm
Labels: Fix, -Status: Awaiting merge

#19048 Medical tool resprite
  code/modules/surgery/tools.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/surgery.dmi
Labels: Sprites, -Status: Awaiting merge

#19160 Fix empty map vote runtime
  code/modules/vote/vote_presets.dm
Labels: Fix, -Status: Awaiting merge

#19051 IDs now take priority over PDAs in get_idcard
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix, -Status: Awaiting merge

#19129 Adds barber kit supply crate
  code/datums/supplypacks.dm
Labels: Feature, -Status: Awaiting merge

#19132 Admin tools, adds better logging for viruses
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/transformation.dm
Labels: Administration, -Status: Awaiting merge

#19139 Blood drunk will now transform its weapon during melee
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
Labels: Balance, -Status: Awaiting merge

#19002 Removes xenomorphs from xenobiology gold slimes
  code/modules/mob/living/simple_animal/hostile/alien.dm
Labels: Revert/Feature Removal, -Status: Awaiting approval

#19045 "None" and "Slime Jelly" blood types added for the appropriate species
  code/game/machinery/computer/medical.dm
  code/modules/client/preference/preferences.dm
Labels: Tweak, -Status: Awaiting review

#19064 Fixes anomalies spawning in walls
  code/modules/events/anomaly.dm
Labels: Fix, -Status: Awaiting review

#19075 Fixes NNO uniform on vox covering their tail
  icons/mob/clothing/species/vox/uniform.dmi
Labels: Fix, Sprites, -Status: Awaiting review

#19072 Port TG pointing to inventory thought bubble, and expand valid pointing targets
  code/__DEFINES/layers.dm
  code/__DEFINES/preferences.dm
  code/_onclick/hud/plane_master.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/point/point.dm
  code/modules/surgery/organs/mmi_holder.dm
  icons/effects/effects.dmi
  paradise.dme
Labels: Feature, -Status: Awaiting approval

#19077 Allow changing PDA owners.
  code/modules/pda/core_apps.dm
Labels: Tweak, -Status: Awaiting review

#19078 Add cooldown for unintentional emotes
  code/__DEFINES/emotes.dm
  code/datums/emote.dm
  code/modules/mob/living/carbon/human/human_emote.dm
  code/modules/mob/living/living_emote.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
Labels: Fix, -Status: Awaiting merge

#19081 Adds an NNO-specific gas mask, the "nanotrasen navy officer gas mask".
  code/modules/clothing/masks/gasmask.dm
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/species/drask/mask.dmi
  icons/mob/clothing/species/grey/mask.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
  icons/mob/clothing/species/unathi/mask.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/clothing/species/vulpkanin/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites, -Status: Awaiting review

#19088 Jumpboots (and gravitational magboots) dash actually lets you cross lava / chasms.
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
Labels: Fix, -Status: Awaiting review

#19090 AI VOX Dictionary Update - Some words added, some removed
  code/defines/vox_sounds.dm
  sound/vox_fem/abduction.ogg
  sound/vox_fem/andy.ogg
  sound/vox_fem/bailey.ogg
  sound/vox_fem/birdwell.ogg
  sound/vox_fem/borer.ogg
  sound/vox_fem/borers.ogg
  sound/vox_fem/brig.ogg
  sound/vox_fem/connor.ogg
  sound/vox_fem/coomer.ogg
  sound/vox_fem/corporation.ogg
  sound/vox_fem/cult.ogg
  sound/vox_fem/cultist.ogg
  sound/vox_fem/departures.ogg
  sound/vox_fem/drone.ogg
  sound/vox_fem/fig.ogg
  sound/vox_fem/freeman.ogg
  sound/vox_fem/go.ogg
  sound/vox_fem/golem.ogg
  sound/vox_fem/gordon.ogg
  sound/vox_fem/guthrie.ogg
  sound/vox_fem/helicopter.ogg
  sound/vox_fem/helium.ogg
  sound/vox_fem/lambda.ogg
  sound/vox_fem/lavaland.ogg
  sound/vox_fem/megafauna.ogg
  sound/vox_fem/mesa.ogg
  sound/vox_fem/minefield.ogg
  sound/vox_fem/nuclear.ogg
  sound/vox_fem/oxygen.ogg
  sound/vox_fem/quarantine.ogg
  sound/vox_fem/sarah.ogg
  sound/vox_fem/shadowling.ogg
  sound/vox_fem/shadowlings.ogg
  sound/vox_fem/silo.ogg
  sound/vox_fem/supermatter.ogg
  sound/vox_fem/swarmer.ogg
  sound/vox_fem/swarmers.ogg
  sound/vox_fem/topside.ogg
  sound/vox_fem/woody.ogg
Labels: Sound, Tweak, -Status: Awaiting review

#19096 Fixes #19095
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
Labels: Fix, -Status: Awaiting review

#19100 Fix #18927 Incorrect display of mutation chance on slime when changing tiers
  code/game/objects/items/devices/scanners.dm
Labels: Fix, -Status: Awaiting review

#19115 emergency shuttle console is indestructible
  code/modules/shuttle/emergency.dm
Labels: Tweak, -Status: Awaiting approval

#19117 Added SHAVED bodyflag and expanded BALD
  code/__DEFINES/flags.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
Labels: Refactor, -Status: Awaiting review

#19118 Fix #19098, update chassis mod install/uninstall procs.
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix, -Status: Awaiting review

#19119 [GBP: NO UPDATE] Fixes xeno surgery
  code/__DEFINES/mobs.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/computer/Operating.dm
  code/game/objects/items.dm
  code/modules/hallucinations/effects/moderate.dm
  code/modules/surgery/organs/pain.dm
  code/modules/surgery/organs_internal.dm
Labels: Fix, GBP: No Update, -Status: Awaiting review

#19122 Reworks nanocalcium injectors to be better.
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Balance, -Status: Awaiting review

#19084 Reworks alien facehugger incubation
  code/__DEFINES/_math.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
Labels: Tweak, -Status: Awaiting merge

#19062 Plastitanium/shuttle windows buff
  code/game/objects/structures/window.dm
Labels: Tweak, -Status: Awaiting merge

#19127 Fixes negative armour pen and blocking
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix, -Status: Awaiting merge

#19071 Adds new descriptions to several cartridges
  code/modules/pda/cart.dm
Labels: Tweak, -Status: Awaiting merge

#19181 [GBP no update] Adds cooldown to pointing verb
  code/modules/point/point.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#19142 Held items no longer prevent Xenomorph disarm knockdown + stamina damage
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Balance, -Status: Awaiting merge, Project Progression

#19128 Fixes runtime when wooden airlocks are destroyed
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/door_assembly_types.dm
Labels: Fix, -Status: Awaiting merge

#19093 Fix #18978 Mice, when resting or dead, dont have inhands or hat icons.
  icons/mob/animal.dmi
  icons/mob/clothing/head.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Fix, -Status: Awaiting merge

#19141 Fix #18719 Holopads now stops talking when the call is not answered
  code/datums/holocall.dm
Labels: Fix, -Status: Awaiting merge

#19155 Fix #11809 Collectable Welding Helmet no longer invisible on Vulpkanins and other species
  code/modules/clothing/head/collectable.dm
Labels: Fix, -Status: Awaiting merge
