Repository ParadiseSS13/Paradise, pull requests merged in 2022-08, with the labels that each got.

#18588 Improves sleepy pen logging
  code/modules/paperwork/pen.dm
Labels: Fix, Status: Awaiting merge

#18644 Reworks mech mounted ion weapon
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
Labels: Balance, Status: Awaiting merge

#18651 Blacklists gravity generator from Morph mimic
  code/datums/spells/mimic.dm
Labels: Tweak, Status: Awaiting merge

#18658 Puts drinks in one file, removes arbitrary temperature adjustments
  code/modules/reagents/chemistry/reagents/drink_base.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
  code/modules/reagents/chemistry/reagents/drinks.dm
  paradise.dme
Labels: Tweak, Status: Awaiting merge

#18663 Moves mining GPS into their storage units
  _maps/map_files/generic/Lavaland.dmm
  code/game/machinery/suit_storage_unit.dm
Labels: Map Edit, Tweak, General Map, Status: Awaiting merge

#18666 Ports TG Hierophant trophy, and TG colossus changes.
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  icons/mob/lavaland/96x96megafauna.dmi
Labels: Balance, Status: Awaiting merge

#18567 Fixes the knockout trait and simple mob sleeping
  code/datums/status_effects/debuffs.dm
  code/modules/mob/living/carbon/update_status.dm
  code/modules/mob/living/silicon/ai/update_status.dm
  code/modules/mob/living/silicon/robot/update_status.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix, Status: Awaiting merge

#18679 Fixed punctuation on armblade description
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Fix, Status: Awaiting merge

#18657 Fix pills checking wrong container flags on transfer attempt
  code/modules/reagents/reagent_containers/pill.dm
Labels: Fix, Status: Awaiting merge

#18664 Prevents -lathes from producing infinite power via cells
  code/modules/research/designs/power_designs.dm
Labels: Tweak, Status: Awaiting merge

#18661 Remove plasteel supply crates from cargo ordering.
  code/datums/supplypacks.dm
Labels: Tweak, Status: Awaiting merge

#18687 reverts #18618, fixing the melee attack chain
  code/game/objects/items/weapons/twohanded.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix, Revert/Feature Removal, Status: Awaiting review

#18695 fixes vampires showing their names through gas masks
  code/modules/antagonists/vampire/vamp_datum.dm
Labels: Fix, Status: Awaiting merge

#18635 3/4 perspective donut boxes
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  icons/obj/food/containers.dmi
Labels: Sprites, Status: Awaiting merge

#18575 Adds a special suicide action to air tanks
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/mob/living/death.dm
Labels: Tweak, Status: Awaiting merge

#18696 You now need to cut the cables before unscrewing the plating
  code/game/turfs/simulated/floor/plating.dm
Labels: Fix, Exploit, Status: Awaiting merge

#18684 Reactive fire armor keeps you from taking heat damage again
  code/modules/clothing/suits/armor.dm
Labels: Fix, Status: Awaiting merge

#18709 Donut boxes do exist
  code/game/objects/items/weapons/storage/fancy.dm
Labels: Fix

#18707 Adds nian cocoon admin logging
  code/modules/mob/living/carbon/human/species/moth.dm
Labels: Fix, Administration, Status: Awaiting type assignment

#18703 Fixes radiation view
  code/controllers/subsystem/radiation.dm
Labels: Fix, Status: Awaiting type assignment

#18688 Improve electrify logging
  code/game/machinery/doors/airlock.dm
Labels: Administration, Tweak, Status: Awaiting review

#18678 Fix - Undersuits grant actions to mobs properly
  code/modules/clothing/clothing.dm
Labels: Fix, Status: Awaiting review

#18682 Megafauna Drop Armor Rebalance
  code/modules/clothing/suits/armor.dm
  code/modules/mining/equipment/explorer_gear.dm
Labels: Balance, Status: Awaiting merge, Project Progression

#18647 Removes unused audio/music
  sound/ambience/ambifailure.ogg
  sound/ambience/ambivapor1.ogg
  sound/ambience/song_game.ogg
  sound/goonstation/misc/burp_alien.ogg
  sound/machines/copier.ogg
  sound/music/b12_combined_start.ogg
  sound/music/clouds.s3m
  sound/music/main.ogg
  sound/music/traitor.ogg
  sound/voice/Serithi/pretenddemoc.ogg
  sound/voice/Serithi/shuttlehere.ogg
  sound/voice/Serithi/weneedvote.ogg
Labels: Sound, Status: Awaiting review

#18475 IV bags now support being mapped onto IV drips
  code/game/machinery/iv_drip.dm
Labels: Refactor, Status: Awaiting review

#18509 Rework plasmamen helmets actions, add visor sprites for object and mob icon
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/clothing/species/plasmaman/helmet.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
Labels: Refactor, Status: Awaiting review

#18577 Nerfs Thermite
  code/game/turfs/simulated/walls.dm
Labels: Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#18650 Changes the cyborg death message on examine.
  code/modules/mob/living/silicon/robot/examine.dm
Labels: Tweak, -Status: Awaiting merge

#18649 Adds Weekend at Bernie's'ing people
  code/modules/mob/living/carbon/human/examine.dm
Labels: Feature, -Status: Awaiting merge

#18628 Make chitinous armor removable with a saw or chainsaw
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Tweak, -Status: Awaiting merge

#18716 hemomancer exploit fix
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
Labels: Fix, -Status: Awaiting type assignment

#18711 Fixes kitchenspikes making upsidedown mobs [No GBP Update]
  code/game/objects/structures/kitchen_spike.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#18335 Cleans up brain loss code a bit and adds a new line
  code/modules/mob/living/carbon/human/life.dm
Labels: Tweak, -Status: Awaiting merge

#18698 Tendril Drop Armor Rebalance
  code/modules/clothing/spacesuits/ert.dm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Balance, -Status: Awaiting merge, Project Progression

#18713 fixes weak ion shots... being stronger than normal ions
  code/modules/projectiles/projectile/special.dm
Labels: Fix, -Status: Awaiting review

#18672 Emagged deep fryers can deep fry non-food objects
  code/modules/food_and_drinks/kitchen_machinery/cooker.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
Labels: Tweak, -Status: Awaiting merge

#18671 Adds vox variants to bee costume and mask, captain hat, cult armor and helmet, medical beret
  code/game/gamemodes/cult/cult_items.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/clothing/species/vox/suit.dmi
Labels: Sprites, -Status: Awaiting merge

#18555 `/obj/item/reagent_container` is `Initialize`
  code/game/objects/items/contraband.dm
  code/game/objects/items/random_items.dm
  code/modules/awaymissions/mission_code/UO71-terrorspiders.dm
  code/modules/fish/fish_items.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/mugs.dm
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/food_and_drinks/food/foods/desserts.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/food/foods/misc.dm
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/kitchen_machinery/cooker.dm
  code/modules/hydroponics/beekeeping/honeycomb.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Refactor, -Status: Awaiting review

#18690 Contributing cleanup + Gitignore tweak
  .github/CONTRIBUTING.md
  .gitignore
Labels: Documentation, -Status: Awaiting merge

#18725 Fixes some stealth mode bypasses
  code/game/jobs/job_exp.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Fix, -Status: Awaiting merge

#18729 Fixes sunflowers
  code/modules/hydroponics/grown/flowers.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#18629 [GBP no update] Fix airlock updating icons when setting emergency mode
  code/game/area/areas/depot-areas.dm
  code/modules/security_levels/keycard_authentication.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#18608 Fixes an issue with flashers and mounted igniters, unanchored flashers will not appear as on
  code/game/machinery/flasher.dm
  code/game/machinery/igniter.dm
  icons/obj/stationobjs.dmi
Labels: Fix, -Status: Awaiting merge

#18710 Xenomorph gib no longer deletes eaten mobs
  code/modules/mob/living/carbon/alien/death.dm
Labels: Fix, -Status: Awaiting merge

#18723 Fixes 18704
  code/modules/newscaster/obj/newscaster.dm
Labels: Fix, -Status: Awaiting merge

#18733 Attempts to Fix 18730, Neckgrab stuns are made much more reasonable
  code/modules/mob/mob_grab.dm
Labels: Fix, -Status: Awaiting merge

#18724 Disabling sounds on using Camera Bug
  code/game/machinery/computer/camera.dm
  code/game/objects/items/devices/camera_bug.dm
Labels: Tweak, -Status: Awaiting merge

#18519 Cleans up the universal recorder, shifts it away from verbs
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Refactor, -Status: Awaiting merge

#18622 Fixes issues with Decapitation and NODROP items
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/surgery/organs/subtypes/standard.dm
Labels: Fix, -Status: Awaiting merge

#18743 [GBP: no update] Fixes mistake with force unequipping items
  code/modules/surgery/organs/subtypes/standard.dm
Labels: Fix, GBP: No Update

#18354 Stop fish from being removed from fish tank if they no longer exist
  code/modules/fish/fish_types.dm
  code/modules/fish/fishtank.dm
Labels: Fix, -Status: Awaiting merge

#18742 Fix security camera console users never being removed from the `watchers` list when closing the UI
  code/game/machinery/computer/camera.dm
Labels: Fix, -Status: Awaiting review

#18721 Mind-transferring into a golem keeps antagonist status
  code/modules/awaymissions/corpse.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
Labels: Tweak, -Status: Awaiting merge

#18728 Renames the exosuit fabricator Cyborg Upgrade board (reset) to (module reset)
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Tweak, -Status: Awaiting merge

#18737 Fixes bones being able to break on the first hit.
  code/modules/surgery/organs/organ_external.dm
Labels: Fix, -Status: Awaiting merge

#18744 Ports ambispace3
  code/__DEFINES/sound.dm
  sound/ambience/ambispace3.ogg
Labels: Sound, -Status: Awaiting merge

#18747 Fix 18746, Dedups cable coil description
  code/modules/power/cable.dm
Labels: Fix, -Status: Awaiting merge

#18748 DD stdout logging
  code/game/world.dm
Labels: Fix, High Priority, GBP: No Update, Testmerge Active, -Status: Awaiting review

#18752 Fixed radstorm not affecting IPCs
  code/datums/weather/weather_types/radiation_storm.dm
Labels: Fix, -Status: Awaiting type assignment

#18401 General tweaks to Bureaucracy items
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/paperplane.dm
  code/modules/paperwork/photography.dm
Labels: Tweak, -Status: Awaiting review

#18700 Some more stats logging
  SQL/updates/42-43.sql
  code/__DEFINES/misc.dm
  code/controllers/subsystem/blackbox.dm
  code/controllers/subsystem/jobs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/events/event_container.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/elite.dm
  code/modules/mob/new_player/new_player.dm
  config/example/config.toml
  tools/death_rid_parser/death_rid_parser.py
Labels: Feature, SQL Change, -Status: Awaiting merge

#18758 fixes a bug
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#18712 gives reactive armors internal power cells
  code/game/machinery/recharger.dm
  code/modules/clothing/suits/armor.dm
  code/modules/power/cell.dm
Labels: Balance, -Status: Awaiting merge

#18741 Adds the Stechkin APS to the nukeop uplink
  code/datums/uplink_item.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: Balance, -Status: Awaiting merge

#18760 Fix a misspelling on the holodeck disclaimer.
  code/modules/paperwork/paper.dm
Labels: Fix, -Status: Awaiting type assignment

#18745 Xeno Larva burst out of the chest, instead of gibbing
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
Labels: Tweak, -Status: Awaiting merge

#18768 bubblegum hallucinations no longer runtime on death
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
Labels: Fix, -Status: Awaiting type assignment

#18767 Deletes some uncalled procs
  code/defines/procs/radio.dm
  code/defines/procs/records.dm
Labels: Refactor, GBP: No Update, -Status: Awaiting merge

#18756 Add annihilator in-hand and ammo count sprites, tweak pulse rifle ammo sprite contrast
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/guns/energy.dmi
Labels: Sprites, -Status: Awaiting merge

#18523 Replaces vox O2 downside with vox only blood.
  code/datums/supplypacks.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/reagents/chemistry/colors.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
  code/modules/surgery/organs/blood.dm
Labels: Balance, -Status: Awaiting merge

#18776 Fixes queued smoothing items not being removed on del
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/structures.dm
  code/game/turfs/turf.dm
Labels: Fix, -Status: Awaiting review

#18468 Medsci remap strikes back
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/research/experimentor.dm
  code/modules/research/rdconsole.dm
Labels: Map Edit, BoxStation, Testmerge Requested, Testmerge Active, -Status: Awaiting review, [MQL] BoxStation

#18777 Properly log smoothing errors
  code/__HELPERS/icon_smoothing.dm
Labels: Fix, GBP: No Update, -Status: Awaiting review

#18775 Fixes removing pages from books
  code/modules/library/book.dm
Labels: Fix, -Status: Awaiting merge

#18764 Removes the juicer from the codebase
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  code/modules/food_and_drinks/kitchen_machinery/juicer.dm
  paradise.dme
Labels: Revert/Feature Removal, General Map, -Status: Awaiting merge, Project Progression

#18480 Removes mentions of brig phys request terminal, replaces it with Detective, Give Detective disposals shipping
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/_globalvars/lists/flavor_misc.dm
  code/datums/supplypacks.dm
  code/game/machinery/requests_console.dm
Labels: Fix, Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation

#18510 Removes redundant PJs, fixes perma PJs
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/clothing/suits/miscellaneous.dm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#18786 Fix turbine overlays and handling
  code/modules/power/turbine.dm
  icons/obj/pipes.dmi
Labels: Fix, -Status: Awaiting review

#18781 Prize counter resprite
  icons/obj/arcade.dmi
Labels: Sprites, -Status: Awaiting merge

#18761 Fixing visible message being visible even if the mob is in the object
  code/modules/mob/mob.dm
Labels: Fix, -Status: Awaiting merge

#18762 The most experimental PR in the world - Moves turf atmos init from New() to Initialize()
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/awaymissions/maploader/reader.dm
Labels: Refactor, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#18772 Asmerath's fluff item update
  code/modules/customitems/item_defines.dm
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/inhands/fluff_lefthand.dmi
  icons/mob/inhands/fluff_righthand.dmi
  icons/obj/custom_items.dmi
Labels: Custom Item, -Status: Awaiting review

#18766 Fixes an interaction between immortality talisman and the summon item spell
  code/datums/spells/summonitem.dm
Labels: Fix, -Status: Awaiting review

#18531 Adds a Pool and Gym to DeltaStation
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#18783 fixes pandora chasers going after dead mobs
  code/modules/mob/living/simple_animal/hostile/mining/elites/legionnaire.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/pandora.dm
Labels: Fix, -Status: Awaiting merge

#18779 mobs with zero environment damage can hurt mechs, mech damage more consistant
  code/game/mecha/mecha.dm
Labels: Balance, -Status: Awaiting merge

#18659 Fix issues with the bell
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/paperwork/desk_bell.dm
Labels: Fix, Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation

#18759 Blood crawling (not the one you're thinking of)
  code/game/objects/effects/decals/cleanable.dm
Labels: Tweak, -Status: Awaiting merge

#18805 Refactors ants. Yes, ants.
  code/modules/food_and_drinks/food.dm
Labels: Refactor, Performance, Testmerge Active, -Status: Awaiting merge

#18803 Timer Type Tracking
  code/controllers/subsystem/timer.dm
  code/modules/admin/admin_verbs.dm
Labels: Feature, GBP: No Update, Testmerge Active, -Status: Awaiting merge

#18769 Upgrades the MC
  code/__DEFINES/_tick.dm
  code/controllers/configuration/sections/mc_configuration.dm
  code/controllers/controller.dm
  code/controllers/failsafe.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/modules/mob/mob.dm
Labels: Refactor, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#18702 Adds animations for picking up and placing items.
  code/game/objects/items.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Feature, -Status: Awaiting review

#18722 Somewhat tidies necropolis code
  code/game/turfs/simulated/floor.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
Labels: Refactor, -Status: Awaiting review

#18668 [GBP: No Update] Minor Mapping Tweak to BoxStation Arrivals
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, Merge Conflict, BoxStation, GBP: No Update, -Status: Awaiting review, [MQL] BoxStation

#18816 Fixes IB being applied to species who cannot bleed
  code/modules/surgery/organs/organ_external.dm
Labels: Fix, -Status: Awaiting merge

#18689 Refactors signallers, assemblies, electropacks
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/blowntcommsat.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
  code/game/objects/effects/anomalies.dm
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/electricchair.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/igniter.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/mousetrap.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/shock_kit.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  code/modules/assembly/voice.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software/pai_apps.dm
  code/modules/pda/cart.dm
  code/modules/pda/cart_apps.dm
  code/modules/pda/radio.dm
  code/modules/research/anomaly/anomaly.dm
  code/modules/research/designs/autolathe_designs.dm
  tgui/packages/tgui/interfaces/RemoteSignaler.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Map Edit, Refactor, User Interface, MetaStation, BoxStation, TGUI, Testmerge Active, -Status: Awaiting merge, [MQL] BoxStation, [MQL] MetaStation

#18763 Removes the machinery pipe dispenser from the codebase
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  code/game/machinery/pipe/pipe_dispenser.dm
  icons/obj/stationobjs.dmi
  paradise.dme
Labels: Map Edit, Revert/Feature Removal, MetaStation, DeltaStation, -Status: Awaiting merge, Project Progression, [MQL] DeltaStation, [MQL] MetaStation

#18613 Makes shieldwall generators actually work and not drain the CPU
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  code/game/machinery/shieldgen.dm
  code/modules/power/singularity/singularity.dm
Labels: Fix, Performance, GC Related, -Status: Awaiting merge

#18832 fixes tumors not reviving dead elites out of combat (gbp no update)
  code/modules/mob/living/simple_animal/hostile/mining/elites/elite.dm
Labels: Fix, GBP: No Update, -Status: Awaiting type assignment

#18789 Fixes DeltaStation Law Office and Robotics Surgery Windows
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting review, [MQL] DeltaStation

#18799 Maptick profiling
  code/controllers/subsystem/profiler.dm
Labels: Feature, GBP: No Update, -Status: Awaiting merge

#18829 Partially revert "Nukes all of the OpenDream warnings (#17636)"
  code/modules/persistence/persistence.dm
Labels: Revert/Feature Removal, -Status: Awaiting merge

#18814 Sanity check for circuit boards without build_path
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
Labels: Refactor, -Status: Awaiting merge

#18838 Tweak rechargers icon handling so they don't update every process
  code/game/machinery/recharger.dm
Labels: Refactor, -Status: Awaiting type assignment

#18800 uplink updates
  code/__DEFINES/uplinks.dm
  code/datums/uplink_item.dm
  code/game/objects/items/devices/uplinks.dm
  code/game/objects/items/weapons/implants/implantuplink.dm
  paradise.dme
Labels: Refactor, -Status: Awaiting merge

#18823 Removes permanent toggle_clumsy buttons from ex-cultist clowns
  code/game/gamemodes/cult/cult.dm
Labels: Fix, -Status: Awaiting merge

#18824 Experimental revert of item pickup animations
  code/game/objects/items.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#18849 Makes spellblade sharp again
  code/game/objects/items/weapons/melee/misc.dm
Labels: Fix, -Status: Awaiting type assignment

#18848 Wall closets don't spam the chat when successfully closing
  code/game/objects/structures/crates_lockers/walllocker.dm
Labels: Fix, -Status: Awaiting type assignment

#18828 Json spawning is now logged
  code/modules/admin/verbs/serialization.dm
Labels: Tweak, -Status: Awaiting merge

#18808 Adds the Vox Mane Beard
  code/modules/mob/new_player/sprite_accessories/vox/vox_facial_hair.dm
  icons/mob/sprite_accessories/vox/vox_facial_hair.dmi
Labels: Sprites, -Status: Awaiting merge

#18809 Makes defib shocks dangerous
  code/game/objects/items/weapons/defib.dm
Labels: Tweak, -Status: Awaiting merge

#18817 Buffs His Grace
  code/game/objects/items/his_grace.dm
Labels: Balance, -Status: Awaiting merge

#18802 removing name from blind_message attribute
  code/datums/emote.dm
Labels: Tweak, -Status: Awaiting merge

#18833 Removes the need for `ComponentInitialize`
  code/game/atoms.dm
  code/game/machinery/flasher.dm
  code/game/machinery/recycler.dm
  code/game/mecha/combat/honker.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/caution.dm
  code/game/objects/items/weapons/grenades/clowngrenade.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/structures/flora.dm
  code/modules/assembly/proximity.dm
  code/modules/clothing/ears/ears.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/mint.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/pda/pdas.dm
  code/modules/power/lighting.dm
  code/modules/research/rdmachines.dm
Labels: Refactor, -Status: Awaiting merge, Project Progression

#18851 guardian picks are now logged to blackbox
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Tweak, -Status: Awaiting approval

#18834 Elite balance tweaks
  code/modules/mob/living/simple_animal/hostile/mining/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/legionnaire.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/pandora.dm
Labels: Balance, -Status: Awaiting merge

#18826 External organ icon handling tweak
  code/game/atoms.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_icon.dm
Labels: Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#18825 Axes TS gateway
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  code/modules/awaymissions/mission_code/UO71-terrorspiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/ghost.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/hive.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_ai.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/white.dm
  code/modules/ruins/objects_and_mobs/id_upgrader.dm
  code/modules/surgery/organs/parasites.dm
  config/example/config.toml
  paradise.dme
Labels: Revert/Feature Removal, Configuration Change, Approved, -Status: Awaiting merge

#18796 Fixes Med-Sci Remap Oversights
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#18850 Adds syndicate logo pencode
  code/__HELPERS/text.dm
Labels: Tweak, -Status: Awaiting review

#18801 deletes one window from medmaints on box
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting review, [MQL] BoxStation

#18856 Species armour fix
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Fix, -Status: Awaiting merge

#18860 Preemptive schema bump for an upcoming project
  SQL/paradise_schema.sql
  SQL/updates/43-44.sql
  code/__DEFINES/misc.dm
  config/example/config.toml
Labels: SQL Change, -Status: Awaiting review

#18863 ARMOUR FIX 2
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Fix, High Priority, GBP: No Update, -Status: Awaiting type assignment

#18810 Removes lavaland swarmer crash ruin (Its already disabled on the server anyway)
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_swarmer_crash.dmm
  code/datums/ruins/lavaland.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  config/example/config.toml
  icons/mob/swarmer.dmi
  paradise.dme
Labels: Revert/Feature Removal, Configuration Change, -Status: Awaiting merge

#18868 hierophant club / blue / red cube no longer ignore teleport blocks
  code/__HELPERS/unsorted.dm
  code/modules/mining/lavaland/loot/hierophant_loot.dm
Labels: Fix, -Status: Awaiting type assignment

#18836 Makes anomalies deadlier
  code/controllers/subsystem/throwing.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/living.dm
Labels: Balance, -Status: Awaiting merge

#18867 Server regions
  code/controllers/configuration/sections/system_configuration.dm
  code/game/world.dm
  code/modules/client/client_procs.dm
  code/modules/client/login_processing/10-load_preferences.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  config/example/config.toml
Labels: Feature, Configuration Change, -Status: Awaiting review

#18877 fixes reactive armors working with no charge GBP NO UPDATE
  code/modules/clothing/suits/armor.dm
Labels: Fix, GBP: No Update, -Status: Awaiting review

#18874 Fixes emagged deep fryer softlock
  code/modules/food_and_drinks/kitchen_machinery/cooker.dm
Labels: Fix, -Status: Awaiting merge

#18873 Swarmer removal. Revival of #17159.
  code/__DEFINES/medal.dm
  code/__DEFINES/mobs.dm
  code/_onclick/hud/swarmer.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer_event.dm
  code/game/objects/effects/effects.dm
  code/modules/events/event_container.dm
  code/modules/mining/minebot.dm
  code/modules/mob/language.dm
  icons/mob/swarmer.dmi
  paradise.dme
  strings/tips.txt
Labels: Revert/Feature Removal, -Status: Awaiting merge

#18820 Moves chainsaw buff application to afterattack()
  code/_onclick/item_attack.dm
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix, -Status: Awaiting merge

#18865 True map rotation
  code/controllers/subsystem/ticker.dm
Labels: Tweak, -Status: Awaiting merge

#18646 Rework / refactor of how the Give verb works. Give now has a re-bindable hotkey for it
  code/__DEFINES/status_effects.dm
  code/__HELPERS/qdel.dm
  code/_onclick/hud/alert.dm
  code/datums/keybindings/carbon.dm
  code/modules/mob/living/carbon/give.dm
  code/modules/mob/mob.dm
  icons/mob/screen_alert.dmi
  icons/mouse_icons/give_item.dmi
Labels: Refactor, Tweak, -Status: Awaiting review

#18835 Fixes multiple hat sprites for Vox
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/suits/wiz_robe.dm
  icons/mob/clothing/species/vox/head.dmi
Labels: Sprites, -Status: Awaiting merge

#18677 Allow cursed heart to be defibrillated up to three times
  code/__DEFINES/dcs/signals.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/objects/items/weapons/defib.dm
  code/modules/surgery/organs/heart.dm
Labels: Balance, -Status: Awaiting merge

#18883 Fixes armour blocking combat log
  code/modules/projectiles/projectile.dm
Labels: Fix, -Status: Awaiting type assignment

#18790 DeltaStation Security Tweaks
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting review, [MQL] DeltaStation

#18791 DeltaStation Medical Tweaks
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting review

#18798 Buffs the powerfist
  code/game/objects/items/weapons/powerfist.dm
Labels: Balance, -Status: Awaiting merge

#18841 Various fixes and QoL tweaks to labor camp
  _maps/map_files/generic/Lavaland.dmm
  code/game/machinery/computer/prisoner.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/mining/laborcamp/laborshuttle.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mining/machine_vending.dm
  paradise.dme
  tgui/packages/tgui/interfaces/LaborClaimConsole.js
  tgui/packages/tgui/interfaces/PrisonerImplantManager.js
  tgui/packages/tgui/interfaces/PrisonerShuttleConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, -Status: Awaiting merge

#18846 Clarifies that DNA injectors cannot be used with syringe guns
  code/modules/projectiles/guns/syringe_gun.dm
Labels: Tweak, -Status: Awaiting merge

#18840 Large Plasma Tank
  code/datums/outfits/plasmamen.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
Labels: Tweak, -Status: Awaiting merge

#18887 [GBP: No Update] Fixes problems with Give alerts
  code/modules/mob/living/carbon/give.dm
Labels: Fix, GBP: No Update, -Status: Awaiting type assignment

#18894 [GBP: No Update] Fixes Give Item failure messages showing even though the give was successful
  code/modules/mob/living/carbon/give.dm
Labels: Fix, -Status: Awaiting type assignment

#18896 Remove maintainer verbs from de-admined clients
  code/modules/admin/admin_verbs.dm
Labels: Fix, -Status: Awaiting review

#18792 Tweaks DeltaStation Disposal/Supply/Scrubber Pipes
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#18683 Refactors light switches, igniter switches, mass driver buttons, and crematoriums?
  code/game/machinery/buttons.dm
  code/game/machinery/igniter.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/machinery.dm
  code/game/machinery/mass_driver.dm
  code/game/objects/structures/morgue.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/atmospherics/machinery/atmospherics.dm
Labels: Refactor, Performance, Testmerge Active, -Status: Awaiting review

#18837 fixes bubblegum / vetus hitting twice during charge
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
Labels: Fix, -Status: Awaiting merge
