Repository ParadiseSS13/Paradise, pull requests merged in 2022-11, with the labels that each got.

#19562 Removes ponies and nazis
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/flags_lefthand.dmi
  icons/mob/inhands/flags_righthand.dmi
Labels: Sprites, -Status: Awaiting merge

#19552 Converts Laser Slugs to Lasershot 2: Electric Boogaloo
  code/modules/crafting/recipes.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
Labels: Balance, -Status: Awaiting merge

#19570 Fix surgery steps being performable in invalid states
  code/modules/surgery/surgery.dm
Labels: Fix, High Priority, -Status: Awaiting review

#19566 Fix changeling sting pathfinding and add additional feedback messages
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/mob/living/living.dm
Labels: Fix, -Status: Awaiting merge

#19234 Adds Radial Menus to Cyborg Module and Sprite selection
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/transform_procs.dm
  icons/mob/custom_synthetic/custom-synthetic.dmi
  icons/mob/robots.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#19343 Makes cult spear not an instant stun.
  code/game/gamemodes/cult/cult_items.dm
Labels: Balance, -Status: Awaiting review, Project Progression

#19424 Paradise's soul removal part four and five: jumpsuits and caps resprite simple as
  code/modules/clothing/under/color.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/under/color.dmi
  icons/mob/clothing/species/grey/under/color.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/under/color.dmi
  icons/mob/clothing/under/color.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/under/color.dmi
Labels: Sprites, -Status: Awaiting merge

#19459 Refactor announcements.
  code/__DEFINES/announce.dm
  code/controllers/subsystem/nightshift.dm
  code/datums/spells/knock.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/defines/procs/announce.dm
  code/game/gamemodes/blob/blob_report.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/jobs/job/supervisor.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/requests_console.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/events/radiation_storm.dm
  code/modules/events/spider_terror.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/security_levels/security_levels.dm
  code/modules/shuttle/emergency.dm
  code/modules/station_goals/station_goal.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/announcements.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  paradise.dme
Labels: Refactor, -Status: Awaiting review

#19492 Removes gibbing animation
  code/modules/mob/living/carbon/human/death.dm
Labels: Revert/Feature Removal, -Status: Awaiting merge

#19491 Add buttoned and unbuttoned sprites for trenchcoat
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites, -Status: Awaiting merge

#19506 Ports TG direction signs
  code/game/objects/structures/signs.dm
  icons/obj/decals.dmi
Labels: Sprites, -Status: Awaiting merge

#19512 Add new sprites for the ERT laser carbine
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: Sprites, -Status: Awaiting merge

#19579 Fixes this text being huge for no reason
  code/modules/world_topic/announce.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
Labels: Fix

#19574 Removes a useless string macro (part 2)
  code/game/objects/items/stacks/stack.dm
Labels: Refactor, -Status: Awaiting type assignment

#19580 Rename IC announcement CSS class
  code/defines/procs/announce.dm
  code/game/mecha/mecha.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
Labels: Fix, -Status: Awaiting type assignment

#19529 Adds *crack, an audible emote that lets you crack your knuckles.
  code/datums/emote.dm
  code/modules/mob/living/carbon/human/human_emote.dm
  sound/effects/mob_effects/diona_crunch.ogg
  sound/effects/mob_effects/ipc_crunch.ogg
  sound/effects/mob_effects/knuckles.ogg
Labels: Sound, Tweak, -Status: Awaiting merge

#19530 Fixes disposals not inheriting the proper icon state when welded
  code/modules/recycling/disposal.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#19532 Fixes certain items being removed unintentionally from operative uplinks
  code/datums/uplink_item.dm
Labels: Fix, -Status: Awaiting merge

#19538 Fixes human mobs still being able to vomit while dead
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix, -Status: Awaiting merge

#19587 Remove unused dead code for cargobonus event.
  code/modules/events/cargobonus.dm
Labels: Code Improvement, -Status: Awaiting merge

#19588 Delete several kinds of unticked DM files.
  code/datums/diseases/advance/symptoms/genetics.dm
  code/datums/diseases/dna_spread.dm
  code/modules/buildmode/submodes/sdql.dm
  code/modules/procedural_mapping/mapGenerators/lava_river.dm
  code/modules/procedural_mapping/mapGenerators/lavaland.dm
  sound/items/PDA/__credits.dm
Labels: Sound, Code Improvement, -Status: Awaiting merge

#19589 Fixed typo when removing airlock shielding
  code/game/machinery/doors/airlock.dm
Labels: Fix, -Status: Awaiting merge

#19591 Fixes wall deconstruction runtimes with power tools
  code/game/turfs/simulated/walls.dm
Labels: Fix, -Status: Awaiting review

#19582 Alien BlackBox tracking
  code/modules/mob/living/carbon/alien/humanoid/caste/drone.dm
  code/modules/mob/living/carbon/alien/larva/powers.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
Labels: Refactor, -Status: Awaiting review

#19569 Safes can now be closed when repaired
  code/game/objects/structures/safe.dm
Labels: Fix, -Status: Awaiting merge

#19567 Fixes a DNA scanner stacktrace runtime
  code/game/dna/dna_modifier.dm
Labels: Fix, -Status: Awaiting merge

#19561 Fix human appearance randomness in spawners.
  code/modules/awaymissions/corpse.dm
  code/modules/response_team/ert.dm
  code/modules/ruins/syndicate_space_base.dm
Labels: Fix, -Status: Awaiting merge

#19553 Removes .357 Speed Loaders from Autolathe, replaces with .357 Ammo Boxes
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Balance, -Status: Awaiting merge

#19545 Adds Suspicious Bomber Jacket
  code/datums/uplink_item.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#19543 Stops tree shadows from being part of their hitbox
  code/game/objects/structures/flora.dm
  icons/obj/flora/jungletrees.dmi
  icons/obj/flora/jungletreesmall.dmi
Labels: Sprites, -Status: Awaiting merge

#19535 New robot component sprites
  code/modules/mob/living/silicon/robot/component.dm
  icons/obj/robot_component.dmi
Labels: Sprites, -Status: Awaiting merge

#19571 Attempt to multibuild on CI
  .github/workflows/ci.yml
  _build_dependencies.sh
  tools/ci/install_byond.sh
Labels: Infrastructure, -Status: Awaiting merge

#19542 Improved antag fishing busting
  code/__DEFINES/admin.dm
  code/controllers/subsystem/jobs.dm
  code/controllers/subsystem/ticker.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/antaglog.dm
  code/modules/mob/mob_helpers.dm
  paradise.dme
Labels: Feature, Administration, -Status: Awaiting merge

#19576 Fixes a Barcode Scanner Runtime
  code/modules/library/library_equipment.dm
Labels: Fix, -Status: Awaiting review

#19608 Changes how the garbage subsystem queue stores and processes info
  code/controllers/subsystem/garbage.dm
Labels: Refactor, Performance, -Status: Awaiting type assignment

#19611 Fixes the telecommunications core having "Noise" as a listed language
  code/game/machinery/tcomms/nttc.dm
Labels: Fix, -Status: Awaiting review

#19306 Adds new lawset, "Pranksimov"
  code/datums/ai_law_sets.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
Labels: Feature, -Status: Awaiting merge

#19508 Power gloves deal stamina damage instead of weakening.
  code/_onclick/click_override.dm
  code/datums/uplink_item.dm
  code/modules/clothing/gloves/color.dm
Labels: Balance, -Status: Awaiting merge, Project Progression

#19280 Tweak the cyborg analyzer so it handles cybernetic implants separately
  code/modules/mob/living/silicon/robot/component.dm
Labels: Tweak, -Status: Awaiting merge

#19572 Makes slimes less "unique", more human shape
  icons/mob/human_races/r_slime.dmi
Labels: Sprites, -Status: Awaiting review

#19590 Add CI script for verifying tickedness of files.
  tools/ci/unticked_files.py
Labels: Infrastructure, -Status: Awaiting review

#19204 Implement map tests for catching common errors.
  .github/workflows/ci.yml
  code/controllers/subsystem/ticker.dm
  code/game/world.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/map_tests.dm
  code/modules/unit_tests/test_runner.dm
  code/modules/unit_tests/unit_test.dm
Labels: Infrastructure, -Status: Awaiting review

#19484 Add required configuration for automated map merge script.
  .gitattributes
  code/modules/mapping/merge_conflicts.dm
  icons/effects/mapping_helpers.dmi
  paradise.dme
  tools/ci/check_grep.sh
  tools/mapmerge2/merge_driver.py
Labels: Sprites, Infrastructure, -Status: Awaiting review

#19612 Remove unticked 'ninja' module code.
  code/modules/ninja/Ninja_Readme.dm
  code/modules/ninja/__ninjaDefines.dm
  code/modules/ninja/admin_ninja_verbs.dm
  code/modules/ninja/martial_art.dm
  code/modules/ninja/ninja_event.dm
  code/modules/ninja/suit/SpiderOS.dm
  code/modules/ninja/suit/n_suit_verbs/energy_net_nets.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_adrenaline.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_cost_check.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_empulse.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_net.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_smoke.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_stars.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_stealth.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_teleporting.dm
  code/modules/ninja/suit/suit_attackby.dm
  code/modules/ninja/suit/suit_process.dm
  code/modules/ninja/suit/suit_verbs_handlers.dm
Labels: Refactor, -Status: Awaiting merge

#19360 Attempts to fix phantom bot path overlays
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
Labels: Fix, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#19607 Fixes description grammar in a few places
  code/game/dna/mutations/powers.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/watercloset.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/food_and_drinks/food/foods/pasta.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#19618 Add untick file check to CI.
  .github/workflows/ci.yml
  tools/ci/unticked_files.py
Labels: Infrastructure, -Status: Awaiting type assignment

#19620 Ensures update_pipe_vision is called only when you switch pipenets. Fixes lag caused by ventcrawlers
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/atmospherics/machinery/components/binary_devices/binary_atmos_base.dm
  code/modules/atmospherics/machinery/components/trinary_devices/trinary_base.dm
  code/modules/atmospherics/machinery/pipes/pipe.dm
  code/modules/mob/living/login.dm
Labels: Fix, Performance, -Status: Awaiting type assignment

#19621 Fixes Saboteur Borg Price
  code/datums/uplink_item.dm
Labels: Fix, -Status: Awaiting type assignment

#19600 Replace /proc/num2hex with a much faster macro.
  code/__DEFINES/_math.dm
  code/__HELPERS/type2type.dm
  code/__HELPERS/unsorted.dm
  code/game/dna/dna2.dm
  code/game/machinery/computer/security.dm
  code/modules/reagents/chemistry/reagents/misc.dm
Labels: Performance, -Status: Awaiting merge

#19624 End of an era redux
  .github/CONTRIBUTING.md
Labels: Documentation

#19159 Different day? Different map rotation rules.
  code/__DEFINES/misc.dm
  code/controllers/configuration/sections/vote_configuration.dm
  code/controllers/subsystem/maprotate.dm
  code/controllers/subsystem/ticker.dm
  code/modules/vote/vote_presets.dm
  config/example/config.toml
  paradise.dme
Labels: Configuration Change, Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#19559 Removes the Ablative from the Theft Pool
  code/game/gamemodes/steal_items.dm
Labels: Tweak, -Status: Awaiting review

#19637 Fixes multibuild - It appears I cant do CI properly
  .github/workflows/ci.yml
  code/controllers/subsystem/profiler.dm
  config/example/config.toml
Labels: Fix, Configuration Change, Infrastructure, Webeditor Heresy, -Status: Awaiting review

#19593 Reduces the Disabler's Fire Rate
  code/modules/projectiles/ammunition/energy.dm
Labels: Balance, Testmerge Active, -Status: Awaiting merge

#19649 CI check for old style procrefs, tidies some that slipped in
  code/controllers/subsystem/pathfinder.dm
  code/controllers/subsystem/ticker.dm
  code/modules/pda/PDA.dm
  tools/ci/check_grep.sh
Labels: Infrastructure, -Status: Awaiting review

#19638 Bot movement hotfix
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Fix, -Status: Awaiting review

#19635 Buff sleeping carp keelhaul stamina damage
  code/modules/martial_arts/combos/sleeping_carp/keelhaul.dm
Labels: Balance, -Status: Awaiting merge

#19309 Plasrattle
  code/modules/mob/living/carbon/human/human_emote.dm
  sound/voice/plas_rattle.ogg
Labels: Sound, -Status: Awaiting merge

#19378 Various shuttle fixes, new shuttle type
  _maps/map_files/debug/singletile.dmm
  _maps/map_files/debug/smoothing.dmm
  _maps/map_files/shuttles/admin_admin.dmm
  _maps/map_files/shuttles/admin_armory.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  _maps/map_files/shuttles/admin_skipjack.dmm
  _maps/map_files/shuttles/emergency_bar.dmm
  _maps/map_files/shuttles/emergency_clown.dmm
  _maps/map_files/shuttles/emergency_cyb.dmm
  _maps/map_files/shuttles/emergency_dept.dmm
  _maps/map_files/shuttles/emergency_jungle.dmm
  _maps/map_files/shuttles/emergency_meta.dmm
  _maps/map_files/shuttles/emergency_narnar.dmm
  _maps/map_files/shuttles/emergency_old.dmm
  _maps/map_files/templates/medium_shuttle1.dmm
  _maps/map_files/templates/medium_shuttle2.dmm
  _maps/map_files/templates/medium_shuttle3.dmm
  _maps/map_files/templates/small_asteroid_1.dmm
  _maps/map_files/templates/small_shuttle_1.dmm
  code/datums/shuttles.dm
  code/modules/hydroponics/grown/towercap.dm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#19577 Revenant buff
  code/datums/spell.dm
  code/datums/spells/conjure.dm
  code/datums/spells/construct_spells.dm
  code/datums/spells/knock.dm
  code/datums/spells/mime.dm
  code/datums/spells/wizard.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/gamemodes/wizard/wizloadouts.dm
  code/game/jobs/job/support.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
  code/modules/martial_arts/combos/plasma_fist/tornado_sweep.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/hellhound.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/living/simple_animal/posessed_object.dm
  code/modules/research/xenobiology/xenobiology.dm
  icons/mob/actions/actions.dmi
Labels: Sprites, Balance, -Status: Awaiting review

#19648 ckey warriorstar fluff item: the Violet Flame, a unique Zippo.
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items.dmi
Labels: Sprites, Custom Item, -Status: Awaiting merge

#19329 Cloning pods can now be cmagged
  code/__HELPERS/traits.dm
  code/game/machinery/cloning.dm
Labels: Tweak, -Status: Awaiting review

#19604 Initializes and fixes alien eggs
  code/game/objects/structures/aliens.dm
Labels: Fix, -Status: Awaiting merge

#19646 Xenomorph night vision now defaults to on
  code/modules/mob/living/carbon/alien/alien.dm
Labels: Tweak, -Status: Awaiting merge

#19560 Powerfist now actually knocks back
  code/game/objects/items/weapons/powerfist.dm
Labels: Balance, -Status: Awaiting merge

#19578 Aliens now have a Biohazard announcement
  code/modules/events/alien_infestation.dm
  code/modules/events/spider_terror.dm
Labels: Tweak, -Status: Awaiting merge

#19596 Tweaks to protolathe designs
  code/game/objects/items/devices/scanners.dm
  code/modules/research/designs/bluespace_designs.dm
  code/modules/research/designs/equipment_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Balance, -Status: Awaiting merge

#19642 Minor Buff to Cling Augmented Sight
  code/modules/antagonists/changeling/powers/augmented_eyesight.dm
Labels: Balance, -Status: Awaiting merge

#19650 Changeling voice mimic doesn't slow chemical production
  code/modules/antagonists/changeling/powers/mimic_voice.dm
Labels: Balance, -Status: Awaiting merge

#19616 Fixes runtimes and GC issues with antag datums / the traitor datum
  code/datums/mind.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#19619 Makes dropwall grenades actually a reasonable price
  code/game/machinery/deployable.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Tweak, -Status: Awaiting merge

#19625 Sarcophagus now can be made using sandstone
  code/game/objects/items/stacks/sheets/mineral.dm
Labels: Tweak, -Status: Awaiting review

#19623 NTTC now uses rank for formatting if the job title is non-standard
  code/game/machinery/tcomms/_base.dm
  code/game/machinery/tcomms/nttc.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: Tweak, -Status: Awaiting review

#19549 Fix #19520 Adds a check for SSD players so they don't get harvested by revenants
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
Labels: Fix, -Status: Awaiting merge

#19594 Paradise's soul removal part 6: Syndicate turtlenecks
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/species/drask/under/syndicate.dmi
  icons/mob/clothing/species/grey/under/syndicate.dmi
  icons/mob/clothing/species/vox/under/syndicate.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites, -Status: Awaiting merge

#19334 Reworks block chance into Parrying.
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/misc.dm
  code/datums/components/parry.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/martial_arts/martial.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/projectile/beams.dm
  paradise.dme
Labels: Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#19551 Meson eyes prevent supermatter hallucinations
  code/modules/surgery/organs/eyes.dm
Labels: Tweak, -Status: Awaiting review

#19671 A thieves best friend: Balaclava fix
  code/modules/clothing/masks/boxing.dm
Labels: Fix, -Status: Awaiting review

#19660 Agent ID accepts numbers and other special characters
  code/game/objects/items/weapons/cards_ids.dm
Labels: Fix, -Status: Awaiting merge

#19667 Rev buff day 1 patch
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
Labels: Fix, -Status: Awaiting review

#19641 Fixes kitchen appliances partially sucking up ingredients when upgraded
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
Labels: Fix, -Status: Awaiting review

#19692 Fix security announcement title size.
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
Labels: Fix, -Status: Awaiting merge

#19662 Proper icons for revenant rework
  icons/mob/actions/actions.dmi
Labels: Sprites, -Status: Awaiting merge

#19656 Fixes cable cuffs changing Sec belt color
  code/game/objects/items/weapons/handcuffs.dm
  icons/obj/clothing/belts.dmi
Labels: Sprites, -Status: Awaiting merge

#19540 Converts cryo storage console to TGUI
  code/game/machinery/cryopod.dm
  tgui/packages/tgui/interfaces/CryopodConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface, TGUI, -Status: Awaiting merge, Project Progression

#19465 Removes the deathgasp sound if one is muffled
  code/modules/mob/living/living_emote.dm
Labels: Tweak, -Status: Awaiting review

#19702 Gives puddle a unique description
  code/game/objects/structures/watercloset.dm
Labels: Fix, -Status: Awaiting merge

#19686 Give item GC/runtime fixes
  code/modules/mob/living/carbon/give.dm
Labels: Fix, -Status: Awaiting merge

#19677 Fixes cheesing syndicate turrets by standing on them
  code/game/machinery/portable_turret.dm
Labels: Fix, -Status: Awaiting merge

#19674 Protector guardian is now immovable while in shield mode
  code/game/gamemodes/miniantags/guardian/types/protector.dm
Labels: Balance, -Status: Awaiting merge

#19676 Makes the arrival shuttle completely protected from solar flares
  code/datums/weather/weather_types/solar_flare.dm
Labels: Fix, -Status: Awaiting merge

#19633 Allows drones and mice to go under doors when hidden
  code/__DEFINES/flags.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/modules/mob/living/silicon/robot/drone/drone_abilities.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/powers.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Tweak, -Status: Awaiting review

#19652 New pipes sprites
  icons/obj/pipes/disposal.dmi
Labels: Sprites, -Status: Awaiting merge

#19695 Shortens the Mime's invisible wall duration
  code/datums/spells/mime.dm
Labels: Balance, -Status: Awaiting merge

#19696 Another buff to radio jammers
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/mob_helpers.dm
Labels: Balance, -Status: Awaiting merge

#19514 Removes unused picture frames
  code/modules/paperwork/frames.dm
  paradise.dme
Labels: Refactor, -Status: Awaiting merge

#19688 515 compat 2, ./proc/ boogaloo
  code/controllers/subsystem/garbage.dm
  code/game/machinery/flasher.dm
  code/game/objects/explosion.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/scanners.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/walls_misc.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/status_procs.dm
  code/modules/mob/mob_helpers.dm
  code/modules/paperwork/photography.dm
  code/modules/power/apc.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/research/rdmachines.dm
  code/modules/shuttle/navigation_computer.dm
  tools/ci/check_grep.sh
Labels: Refactor, -Status: Awaiting merge

#19441 Refactors table creation
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/table_frames.dm
Labels: Refactor, -Status: Awaiting merge

#19510 Adds sprites for opening and closing the bolt when using a bolt action rifle (Mosin).
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/guns/projectile.dmi
Labels: Sprites, -Status: Awaiting merge

#19602 Fixes the clipping on the SM sprite
  icons/obj/supermatter.dmi
Labels: Sprites, -Status: Awaiting merge

#19654 Garment bags for dignitaries
  code/game/objects/items/weapons/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Tweak, -Status: Awaiting merge

#19575 Wizard den remap
  _maps/map_files/generic/centcomm.dmm
  code/game/area/ss13_areas.dm
  code/game/objects/items/candle.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/turfs/simulated/walls_indestructible.dm
Labels: Map Edit, -Status: Awaiting merge

#19709 Makes blackpowder explode again
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Fix, -Status: Awaiting merge

#19689 Makes carp shockproof
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: Balance, -Status: Awaiting merge

#19598 Reinforced wall sprite tweaks (Alternative to #19411)
  icons/turf/walls/reinforced_wall.dmi
Labels: Sprites, -Status: Awaiting merge

#19668 Rainbow/Mime crayons can no longer be used for infinite nutrition
  code/game/objects/items/crayons.dm
Labels: Tweak, -Status: Awaiting merge

#19690 Adds additional safeties to map template loading
  code/datums/helper_datums/map_template.dm
Labels: Code Improvement, -Status: Awaiting review

#19488 Ports TCC style windows
  code/__DEFINES/icon_smoothing.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/effects/spawners/windowspawner.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_reinforced.dm
  code/modules/mining/equipment/survival_pod.dm
  icons/obj/smooth_structures/plasma_window.dmi
  icons/obj/smooth_structures/reinforced_window.dmi
  icons/obj/smooth_structures/rice_window.dmi
  icons/obj/smooth_structures/rplasma_window.dmi
  icons/obj/smooth_structures/tinted_window.dmi
  icons/obj/smooth_structures/window.dmi
  icons/obj/smooth_structures/windows/clockwork_window.dmi
  icons/obj/smooth_structures/windows/plasma_window.dmi
  icons/obj/smooth_structures/windows/plastitanium_window.dmi
  icons/obj/smooth_structures/windows/pod_window.dmi
  icons/obj/smooth_structures/windows/reinforced_window.dmi
  icons/obj/smooth_structures/windows/reinforced_window_edges.dmi
  icons/obj/smooth_structures/windows/rplasma_window.dmi
  icons/obj/smooth_structures/windows/shuttle_window.dmi
  icons/obj/smooth_structures/windows/tinted_window.dmi
  icons/obj/smooth_structures/windows/window.dmi
  icons/obj/smooth_structures/windows/window_edges.dmi
  icons/obj/structures.dmi
Labels: Sprites, -Status: Awaiting review

#19644 Makes the pet collar not an accessory. Remake remake of the revert of the revert.
  code/datums/supplypacks.dm
  code/game/machinery/vending.dm
  code/game/objects/items/misc.dm
  code/modules/admin/topic.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/obj/clothing/ties.dmi
  icons/obj/items.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#19622 Speeds up facehugger egg hatching time
  code/game/objects/structures/aliens.dm
Labels: Tweak, -Status: Awaiting merge

#19718 Cmagged objects now use the same define on ADD_TRAIT
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/cleaning.dm
  code/modules/hydroponics/gene_modder.dm
Labels: Refactor, -Status: Awaiting type assignment

#19714 Fixes negative armor penetration not working as intended
  code/modules/mob/living/living_defense.dm
Labels: Fix, -Status: Awaiting merge

#19666 Secbelt and detective
  code/game/objects/items/weapons/storage/belt.dm
Labels: Tweak, -Status: Awaiting merge

#19713 Changes the code of conduct to include that you have to discuss major changes with the proper teams
  CODE_OF_CONDUCT.md
Labels: Documentation, -Status: Awaiting merge

#19685 Hawaiian loadout
  code/modules/client/preference/loadout/loadout_uniform.dm
Labels: Feature, -Status: Awaiting merge

#19719 fixes shadow anchors getting destroyed
  code/modules/antagonists/vampire/vampire_powers/umbrae_powers.dm
Labels: Fix, -Status: Awaiting merge

#19698 Prevents bypassing disabler cooldowns by using two.
  code/modules/projectiles/guns/energy/stun.dm
Labels: Fix, -Status: Awaiting merge

#19707 Adds descriptions to pAI device and intellicards
  code/game/objects/items/devices/aicard.dm
  code/game/objects/items/devices/paicard.dm
Labels: Tweak, -Status: Awaiting merge

#19715 ORM unfasten time increase (2 -> 6 seconds)
  code/modules/mining/machine_redemption.dm
Labels: Tweak, -Status: Awaiting merge

#19712 Adds more accessible logging for opening harmful canisters
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Administration, -Status: Awaiting merge

#19711 Chaos guardian buff and tweak to some descriptions
  code/game/gamemodes/miniantags/guardian/types/bomb.dm
  code/game/gamemodes/miniantags/guardian/types/charger.dm
  code/game/gamemodes/miniantags/guardian/types/fire.dm
Labels: Balance, -Status: Awaiting merge

#19710 Clown FIX: Adds the clown recorder
  code/datums/action.dm
  code/game/objects/items/weapons/clown_items.dm
  code/game/objects/structures/crates_lockers/closets/secure/miscjobs.dm
  icons/obj/device.dmi
  sound/voice/sitcom_laugh.ogg
  sound/voice/sitcom_laugh2.ogg
Labels: Feature, Sound, Sprites, -Status: Awaiting merge

#19564 Terror spiders now have intro text
  code/modules/events/spider_terror.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/black.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/brown.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/empress.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/ghost.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/gray.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/green.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/mother.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/princess.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/purple.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/red.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/white.dm
Labels: Tweak, -Status: Awaiting review

#19381 Converts multiple warning signs into proper structures instead of varedits
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
Labels: Fix, Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation

#19738 adds 1 more radius to the arena teleport
  code/modules/mob/living/simple_animal/hostile/mining/elites/elite.dm
Labels: Tweak, -Status: Awaiting merge

#19730 Fixes CC windows and walls
  code/game/turfs/simulated/walls_indestructible.dm
Labels: Fix, -Status: Awaiting merge

#19404 Delta station: Tom returns to his rightful throne
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#19448 Bug fixes for Meta
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation, -Status: Awaiting merge, [MQL] MetaStation

#19499 Fix #19489, Changes aft maintenance library to aft maint area
  _maps/map_files/Delta/delta.dmm
  code/game/area/ss13_areas.dm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#19609 Rejoice for the mankini has sprites again and drask can no longer be nazis!
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/species/drask/under/costumes.dmi
  icons/mob/clothing/species/grey/under/costumes.dmi
Labels: Fix, Map Edit, Sprites, -Status: Awaiting merge

#19704 Restock unit tweaks
  code/game/machinery/vendors/vending.dm
  code/game/objects/items/weapons/vending_items.dm
Labels: Tweak, -Status: Awaiting merge

#19726 Adds shed tail and eating bugs to simplemob lizards
  code/__HELPERS/traits.dm
  code/game/objects/effects/spiders.dm
  code/modules/mob/living/simple_animal/friendly/butterfly.dm
  code/modules/mob/living/simple_animal/friendly/cockroach.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
Labels: Feature, -Status: Awaiting merge

#19231 Adds wedding/costume/bloody armor crates and other tweaks
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/supply/supply_packs/pack_miscellaneous.dm
  code/modules/supply/supply_packs/pack_security.dm
Labels: Feature, -Status: Awaiting merge

#19675 Converts clown mask selection to a radial menu
  code/modules/clothing/masks/gasmask.dm
Labels: Tweak, -Status: Awaiting merge

#19497 Tweaks medmaints and associated areas to improve flow
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#19697 NanoMed Plus nerf
  code/game/machinery/vendors/departmental_vendors.dm
Labels: Balance, -Status: Awaiting merge

#19753 Adds S34N to the review team. Long overdue this change
  .github/CONTRIBUTING.md
Labels: -Status: Awaiting merge

#19522 Paradise's soul removal part 2.5: rest of security
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/jobs/job/security.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Map Edit, Merge Conflict, Sprites, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation

#19663 Tajaran, Unathi and Vulpkanin can now eat bees!
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/mob_grab.dm
Labels: Tweak, -Status: Awaiting review

#19758 Large object transparency component uses the proper mouse opacity value
  code/datums/components/largeobjecttransparency.dm
Labels: Fix, -Status: Awaiting merge

#19720 Adds fancy pen to ArtVend
  code/game/machinery/vendors/generic_vendors.dm
Labels: Feature, -Status: Awaiting merge

#19743 Encourage Fixes syntax in PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Grammar and Formatting, -Status: Awaiting merge

#19523 Converts lavaland /random mobs to landmarks
  code/game/objects/effects/landmarks.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/modules/mob/living/simple_animal/hostile/mining/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
Labels: Refactor, -Status: Awaiting review

#19741 Gives some info about how headslugs work upon using Last Resort
  code/modules/antagonists/changeling/powers/headslug.dm
Labels: Tweak, -Status: Awaiting merge

#19691 Adds wallet to maintenance loot
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Tweak, -Status: Awaiting review

#19721 Lizards can now crawl under doors while hidden
  code/modules/mob/living/simple_animal/friendly/lizard.dm
Labels: Tweak, -Status: Awaiting review

#19723 Bomber jacket loadout changes - Job subtypes and adds engi/atmos to loadout options
  code/modules/client/preference/loadout/loadout_suit.dm
Labels: Feature, -Status: Awaiting review

#19729 Fixes the syndie multitool tech origin, adds unit test for origin tech
  code/game/objects/items/tools/multitool.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/origin_tech.dm
Labels: Fix, -Status: Awaiting review

#19735 puts the name of the GPS fired on by BSA in the message admins
  code/modules/station_goals/bsa.dm
Labels: Administration, -Status: Awaiting review
