Repository ParadiseSS13/Paradise, pull requests merged in 2022-06, with the labels that each got.

#17910 Fix some follow links
  code/game/gamemodes/cult/cult_actions.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
Labels: Fix

#17888 Randomizes the reactive armor in the RD's office
  code/game/gamemodes/steal_items.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/clothing/suits/armor.dm
Labels: Balance

#17912 Fixes cult speech's span class.
  code/game/gamemodes/cult/cult_actions.dm
Labels: Fix

#17920 "The veil is torn" message fix
  code/game/gamemodes/cult/runes.dm
Labels: Fix

#17693 Spellblade rework
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/buffs.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/lavaland/loot/bubblegum_loot.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/projectiles/ammunition/special.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/projectiles/projectile/magic.dm
  icons/effects/beam.dmi
  icons/effects/spellblade.dmi
Labels: Balance, Testmerge Requested, Testmerge Active

#17913 Firelock Unweld Grammar
  code/__DEFINES/tools.dm
  code/game/machinery/doors/firedoor.dm
Labels: Fix, Grammar and Formatting

#17905 Ash storms are no longer audible on mining/labor shuttles when in transit or docked on station
  code/controllers/subsystem/weather.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/modules/shuttle/shuttle.dm
Labels: Fix

#17879 Requires the nuclear codes to unanchor an armed nuke
  code/game/gamemodes/nuclear/nuclearbomb.dm
Labels: Balance

#17897 Move IPCs from being shown on medhud to diagnostic hud
  code/game/data_huds.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/update_status.dm
Labels: Tweak

#17904 Adds tiny fans to the Gamma Armoury
  _maps/map_files/generic/centcomm.dmm
Labels: Map Edit, General Map

#17906 Allow construction of grilles on lattices
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/stack_recipe.dm
  code/game/objects/structures/grille.dm
Labels: Tweak

#17928 Blacklists Plasmamen Envirosuits From Washing Machines
  code/game/machinery/washing_machine.dm
Labels: Fix

#17914 Adds a nian plushie
  code/game/objects/items/toys.dm
  code/modules/client/preference/loadout/loadout_general.dm
  icons/obj/toy.dmi
Labels: Feature, GBP: No Update

#17923 Robotic lungs can now be configured for vox and plasmamen
  code/modules/surgery/organs/lungs.dm
Labels: Tweak

#17784 Thiccer Police Baton
  icons/obj/items.dmi
Labels: Sprites

#17783 3/4 Perspective Ore Box Sprite
  code/modules/mining/satchel_ore_boxdm.dm
  icons/obj/mining.dmi
Labels: Sprites

#17827 Blue Medbay Airlocks
  code/game/machinery/doors/airlock_types.dm
  code/game/objects/items/devices/painter/airlock_painter.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/structures/door_assembly_types.dm
  icons/obj/doors/airlocks/station/medical.dmi
  icons/obj/doors/airlocks/station/virology.dmi
Labels: Sprites

#17907 Removes obsolete check in update_revive (thus fixing SR revival of people dead to tox)
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/stat_states.dm
Labels: Fix

#17931 Massively tones down the dizziness status effect
  code/datums/status_effects/debuffs.dm
Labels: Tweak

#17903 Dark Mode Color Tweaks
  goon/browserassets/css/browserOutput-dark.css
Labels: Tweak

#17941 Remove `jquery.mark.min.js` from the resource list
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  goon/browserassets/js/browserOutput.js
  goon/code/datums/browserOutput.dm
Labels: Fix

#17933 Adds colourblind mode and a colour matrix editor
  SQL/paradise_schema.sql
  SQL/updates/36-37.sql
  code/__DEFINES/misc.dm
  code/__DEFINES/preferences.dm
  code/datums/datumvars.dm
  code/game/atoms.dm
  code/game/objects/effects/mines.dm
  code/modules/client/client_procs.dm
  code/modules/client/login_processing/10-load_preferences.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
  code/modules/mob/mob_helpers.dm
  code/modules/surgery/organs/heart.dm
  code/modules/tgui/modules/colour_matrix_tester.dm
  config/example/config.toml
  paradise.dme
  tgui/packages/tgui/interfaces/ColourMatrixTester.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, SQL Change, TGUI, GBP: No Update

#17724 Adapts TG's version of Metastation for Paradise
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/area/ss13_areas.dm
  code/game/objects/effects/decals/turfdecals/markings.dm
  code/modules/mining/equipment/marker_beacons.dm
  icons/turf/areas.dmi
  icons/turf/decals.dmi
  icons/turf/floors.dmi
Labels: Map Edit, MetaStation, Testmerge Requested, Testmerge Active

#17763 Operating computer in Boxstation assembly line is no longer invisble.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation

#17948 Fixes Golden Bike Horn Crafting Runtime
  code/modules/crafting/recipes.dm
Labels: Fix

#17944 Hephaistos Industries left feet now are properly hidden by shoes
  icons/mob/human_races/cyberlimbs/hesphiastos/hesphiastos_main.dmi
Labels: Fix

#17953 Fixes plasma spear in-hand
  icons/mob/inhands/items_righthand.dmi
Labels: Fix

#17954 Switches [.dmi] Editor
  .vscode/extensions.json
  .vscode/settings.json
Labels: Tweak

#17955 Fixes Antihol 2: Electric Boogaloo
  code/datums/diseases/advance/symptoms/sensory.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Fix

#17775 Fixes a ton of bugs and annoyances with Box
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, Refactor, BoxStation

#17714 Virology air tank now holds contaminated air.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, Merge Conflict, MetaStation, BoxStation, Tweak

#17962 Fix: Nian eyeballs now use the correct sprite
  code/modules/surgery/organs/subtypes/moth.dm
Labels: Fix

#17935 [Ready] AI building fixes: Runtimes when adding AI law modules, Syndicate modules work during building again, Helpful messages for freeform modules.
  code/game/machinery/computer/ai_core.dm
  code/game/objects/items/weapons/AI_modules.dm
Labels: Fix

#17946 Advanced Plasma Cutter Inhand Sprites
  code/modules/projectiles/guns/energy/special.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
Labels: Sprites

#17949 Restores Music Note Toggle On Headphones
  code/datums/action.dm
  code/modules/instruments/objs/items/headphones.dm
Labels: Tweak

#17950 Window Banging Sound from TG
  code/game/objects/structures/window.dm
  sound/effects/glassbang.ogg
Labels: Sound

#17952 Inhand sprites for metal sheets and ores
  code/game/gamemodes/cult/cult_datums.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/telecrystal.dm
  code/modules/mining/ores_coins.dm
  code/modules/telesci/bscrystal.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites

#17960 Updates examine texts of some medical machines and operating table.
  code/game/machinery/OpTable.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Fix, Needs Head Approval

#17687 Delta sec remap 2
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, Tweak, DeltaStation, Testmerge Requested, Testmerge Active

#17957 Meteor shield sats can now shoot meaty ores
  code/modules/events/dust.dm
  code/modules/station_goals/shield.dm
Labels: Tweak

#17723 Tweaks DeltaStation AI Sat
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, Merge Conflict, DeltaStation

#17963 Makes the game track steal objectives individually.
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/vampire_gamemode.dm
Labels: Refactor

#17965 Adds Missing Liquid Dispenser and Intercom on DeltaStation AI
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, GBP: No Update

#17908 Arrival Shuttles: Tiny Fans Edition
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, MetaStation, BoxStation, DeltaStation

#17937 Restores Green Virology Airlocks
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, MetaStation, BoxStation, DeltaStation

#17967 [GBP: NO UPDATE] Notify ghosts of defib when paddles are applied, rather than just before shock
  code/game/objects/items/weapons/defib.dm
Labels: Fix

#17972 Few Meta Fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#17939 Fixes a slight oversight with the chat colours PR
  code/game/verbs/ooc.dm
  goon/browserassets/css/browserOutput-dark.css
Labels: Fix, GBP: No Update, Testmerge Active

#17838 Ends voting herd mentality
  code/controllers/subsystem/vote.dm
Labels: Tweak, Testmerge Active

#17973 chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Labels: Infrastructure

#17969 Refactors rusted walls and their spawners
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_misc.dm
  icons/turf/overlays.dmi
  icons/turf/walls.dmi
  icons/turf/walls/reinforced_wall.dmi
  icons/turf/walls/rusty_reinforced_wall.dmi
  icons/turf/walls/rusty_wall.dmi
Labels: Refactor

#17983 Fixes an exploit involving T4
  code/game/turfs/simulated/walls_indestructible.dm
Labels: Fix

#17980 Removes instances of rusty turfs
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_envy.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_tele.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/debug/smoothing.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  code/game/turfs/simulated/walls_misc.dm
  tools/mapmerge2/map_scripts/rust_converter.txt
  tools/mapmerge2/requirements.txt
Labels: Map Edit, BoxStation, DeltaStation, General Map

#17986 Fixes a medbay reception table and removes var-edited grilles on the Cyberiad (Third times the charm)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation

#17987 Fixes Area Shenanigans on Labour Camp, Derelict 5, and CharlieStation
  _maps/map_files/RandomRuins/SpaceRuins/derelict5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/generic/Lavaland.dmm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
Labels: Fix, Map Edit, General Map

#17994 [potentially] fixes defibs booting you back to the main menu
  code/game/objects/items/weapons/defib.dm
Labels: Fix, Testmerge Active

#18001 Sets the abductor baton's `force` to 0
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
Labels: Fix

#18010 Light Flicker Event No Longer Overrides Antag Light Extinguishing
  code/modules/power/lighting.dm
Labels: Fix

#18009 Freeform laws uploaded to under-construction AI cores are now "supplied" laws instead of "inherent" laws
  code/game/machinery/computer/ai_core.dm
Labels: Fix

#18016 Signaller bombs work when implanted again
  code/modules/surgery/cavity_implant.dm
Labels: Fix

#17985 New benches, colourable sofas
  _maps/map_files/cyberiad/cyberiad.dmm
  code/datums/mutable_appearance.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/obj/chairs.dmi
  icons/obj/objects.dmi
Labels: Map Edit, Sprites, BoxStation

#17998 Alert lights for SSU's with mobs inside
  code/game/machinery/suit_storage_unit.dm
  icons/obj/machines/suit_storage.dmi
Labels: Sprites

#18005 Ports Tau Ceti's welding animation
  code/game/objects/items.dm
  code/game/objects/items/tools/welder.dm
  icons/effects/welding_effect.dmi
Labels: Feature, GBP: No Update

#18008 Adds cargo blackbox tracking
  code/modules/shuttle/supply.dm
Labels: Tweak

#18011 Makes Collosus death bolt dust dead people
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: Balance, GBP: No Update

#17981 Adds Protective Windoors and Medical Wrenches to DeltaStation Chemistry/Medbay
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#17982 Fixes Maintenance Areas/Doors on DeltaStation
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation

#17989 DeltaStation Electrochromic/Head of Staff Door Update
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation

#18017 Deltastation is screwed, this fixes it
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, High Priority, DeltaStation

#18000 A new era
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/gbp.toml
Labels: Tweak, Documentation, Status: Awaiting merge

#18019 Bugfix Screwdriver AIfixer
  code/game/machinery/computer/aifixer.dm
Labels: Fix, Status: Awaiting merge

#18020 Fix unstable mutagen not causing mutations in mobs
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Fix, Status: Awaiting merge

#18022 Blindfold defib fix
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Fix, Status: Awaiting merge

#18026 Fixes dead bunnies' icon when held
  code/modules/mob/living/simple_animal/friendly/bunny.dm
Labels: Fix, Status: Awaiting merge

#18025 Fixes being able to dye clothing that probably shouldnt
  code/game/machinery/washing_machine.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/beanie.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/under/color.dm
Labels: Fix, Status: Awaiting merge

#18015 Beepsky Attack Animated
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Tweak, Status: Awaiting merge

#18012 Adds Species Sprite for Greys for EVA Helm and Engineering Hardsuit Helm
  icons/mob/clothing/species/grey/helmet.dmi
Labels: Sprites, Status: Awaiting merge

#17996 Grants VIEW variables to +VIEWRUNTIMES
  code/datums/datumvars.dm
  code/modules/admin/admin_verbs.dm
Labels: Tweak, Status: Awaiting merge

#17816 Rapid Syringe Gun rework
  code/datums/uplink_item.dm
  code/modules/projectiles/guns/syringe_gun.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Balance, Testmerge Requested, Status: Awaiting review

#18034 Updates tools to include mapmerge hooks and merge drivers, plus more
  .github/CONTRIBUTING.md
  .gitignore
  _build_dependencies.sh
  tools/UpdatePaths/Scripts/17259_dirbump_part1.txt
  tools/UpdatePaths/Scripts/17259_dirbump_part2.txt
  tools/UpdatePaths/Scripts/17980_rust_converter.txt
  tools/UpdatePaths/Update_Paths.bat
  tools/UpdatePaths/__main__.py
  tools/UpdatePaths/readme.md
  tools/bootstrap/python
  tools/bootstrap/python.bat
  tools/bootstrap/python37._pth
  tools/bootstrap/python_.ps1
  tools/hooks/Install.bat
  tools/hooks/README.md
  tools/hooks/Uninstall.bat
  tools/hooks/dmi.merge
  tools/hooks/dmm.merge
  tools/hooks/install.py
  tools/hooks/install.sh
  tools/hooks/merge_frontend.py
  tools/hooks/pre-commit.hook
  tools/hooks/python.sh
  tools/map_conflict_fixer/README.md
  tools/map_conflict_fixer/Run Map Conflict Fixer - DMM.bat
  tools/map_conflict_fixer/map_conflict_fixer.py
  tools/map_conflict_fixer/map_helpers.py
  tools/mapmerge2/I_Forgot_To_Map_Merge.bat
  tools/mapmerge2/Prepare Maps.bat
  tools/mapmerge2/README.md
  tools/mapmerge2/Resolve_Map_Conflicts.bat
  tools/mapmerge2/Run_Before_Committing.bat
  tools/mapmerge2/convert.py
  tools/mapmerge2/dmi.py
  tools/mapmerge2/dmm.py
  tools/mapmerge2/dmm2tgm.bat
  tools/mapmerge2/dmm_test.py
  tools/mapmerge2/fixup.py
  tools/mapmerge2/map_scripts/cornersfix.txt
  tools/mapmerge2/map_scripts/turfs2decals.txt
  tools/mapmerge2/mapmerge.bat
  tools/mapmerge2/mapmerge.py
  tools/mapmerge2/merge_driver.py
  tools/mapmerge2/merge_driver_dmi.py
  tools/mapmerge2/precommit.py
  tools/mapmerge2/requirements-install.bat
  tools/mapmerge2/requirements.txt
  tools/mapmerge2/tgm2dmm.bat
  tools/oldChangelog/README.MD
  tools/oldChangelog/github_webhook_processor.php
  tools/oldChangelog/makeChangelog.bat
  tools/oldChangelog/ss13_genchangelog.py
  tools/requirements.txt
Labels: Infrastructure, Status: Awaiting review

#18024 Fixes space movement pushing jank
  code/modules/mob/mob_movement.dm
Labels: Fix, Status: Awaiting merge

#18021 Removes the ability to EMP Handheld Defibs
  code/game/objects/items/devices/handheld_defib.dm
Labels: Balance, Status: Awaiting merge

#18032 Fix stack overflow in mutual grabs
  code/modules/mob/living/living.dm
Labels: Fix, Status: Awaiting review

#17992 Fire alarm sounds
  code/__DEFINES/sound.dm
  code/__HELPERS/unsorted.dm
  code/datums/looping_sounds/looping_sound.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/area/areas.dm
  code/game/machinery/firealarm.dm
  code/modules/client/preference/preferences.dm
  sound/machines/fire_alarm.ogg
Labels: Tweak, Status: Awaiting merge

#18037 Fix: Restores the sprite for fire alarm frames
  code/game/objects/items/mountable_frames/fire_alarm.dm
  icons/obj/monitors.dmi
Labels: Fix, Status: Awaiting review

#18043 fixes being able to break plasma pistols (GBP NO UPDATE)
  code/modules/projectiles/guns/energy/special.dm
Labels: Fix, GBP: No Update, Status: Awaiting merge

#18035 Using screwdrivers on posters pokes them, and tweaks the sounds for placing one down
  code/game/objects/effects/decals/contraband.dm
Labels: Tweak, Status: Awaiting review

#18027 Fixes delta brig cell block being rad-storm immune
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, Status: Awaiting merge

#18053 Fix age based emote audio
  code/datums/emote.dm
Labels: Fix, Status: Awaiting review

#18030 Removes Maintenance Tiny Fan Outside Hydroponics Maintenance on MetaStation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation, Status: Awaiting review

#18033 Adds Biohazard Quarantine to DeltaStation Medbay
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, Tweak, DeltaStation, Status: Awaiting review

#18057 H.O.N.K mech and bananium floor honk properly
  code/game/mecha/combat/honker.dm
  code/game/turfs/simulated/floor/mineral.dm
Labels: Fix, Status: Awaiting review

#18040 Inhands sprites for bluespace RPED
  code/game/objects/items/weapons/stock_parts.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites, Status: Awaiting review

#18060 Fixes dodging admin freezes
  code/modules/mob/living/status_procs.dm
Labels: Fix, High Priority, GBP: No Update

#18062 Removes public syringe guns
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: Map Edit, MetaStation, BoxStation, Tweak, DeltaStation, Status: Awaiting merge

#18048 Antag-Banned Players No Longer Selected In 'Everyone Is a traitor'
  code/modules/admin/topic.dm
Labels: Fix, Status: Awaiting review

#18073 Clean Up In Sprites: Misc Edition
  icons/misc/beach.dmi
  icons/misc/beach2.dmi
  icons/misc/buildmode.dmi
  icons/misc/debug_connect.dmi
  icons/misc/debug_group.dmi
  icons/misc/debug_rebuild.dmi
  icons/misc/debug_space.dmi
  icons/misc/imap.dmi
  icons/misc/inpipe.dmi
  icons/misc/largeui.dmi
  icons/misc/mark.dmi
  icons/misc/pic_in_pic.dmi
  icons/misc/radar.dmi
  icons/misc/static.dmi
Labels: Sprites, Status: Awaiting type assignment

#18047 Space ruins no longer have lava underneath them
  _maps/map_files/RandomRuins/SpaceRuins/abandonedtele.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid3.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid4.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/blowntcommsat.dmm
  _maps/map_files/RandomRuins/SpaceRuins/clownmime.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict3.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict4.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/druglab.dmm
  _maps/map_files/RandomRuins/SpaceRuins/emptyshell.dmm
  _maps/map_files/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/map_files/RandomRuins/SpaceRuins/golemtarget.dmm
  _maps/map_files/RandomRuins/SpaceRuins/intactemptyship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/listeningpost.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiecakesfactory.dmm
  _maps/map_files/RandomRuins/SpaceRuins/turretedoutpost.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_tele.dmm
  _maps/map_files/RandomRuins/SpaceRuins/way_home.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  code/game/area/areas/ruins/space.dm
  code/game/area/ss13_areas.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/ruins/ruin_areas.dm
  paradise.dme
Labels: Fix, Map Edit, General Map, Status: Awaiting review

#18066 Autopsy scanner no longer merges multiple autopsies into one when scanning one "Unknown" after the other.
  code/game/objects/items/devices/autopsy.dm
Labels: Fix, Status: Awaiting review

#18076 Fixes area-less ruin
  _maps/map_files/RandomRuins/SpaceRuins/abandonedtele.dmm
Labels: Fix, Map Edit, High Priority, General Map

#18061 Added time dilation tracking
  code/controllers/subsystem/time_track.dm
  code/modules/mob/mob.dm
  paradise.dme
Labels: Refactor, Status: Awaiting review, Project Progression

#18077 Gloves now dyeable again
  code/modules/clothing/gloves/color.dm
Labels: Fix, Status: Awaiting merge

#17874 Let admins allow ERT borgs to choose sec modules
  code/modules/response_team/ert.dm
  code/modules/tgui/modules/ert_manager.dm
  tgui/packages/tgui/interfaces/ERTManager.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Balance, Status: Awaiting approval

#17661 Surgery on napping people wakes them up.
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/status_effect.dm
  code/modules/mob/living/status_procs.dm
  code/modules/mob/mob_helpers.dm
  code/modules/surgery/helpers.dm
  code/modules/surgery/surgery.dm
Labels: Tweak, Status: Awaiting review

#18079 Added set_stat setter for mob/var/stat
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/robotic_brain.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/decoy/life.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/slime/death.dm
  code/modules/mob/living/stat_states.dm
  code/modules/mob/mob.dm
Labels: Refactor, Status: Awaiting merge

#18081 Fix a typo in tgui tutorial
  tgui/docs/tutorial-and-examples.md
Labels: Fix, Status: Awaiting review

#18069 Removes holdover text from Mindshields.
  code/game/objects/items/weapons/implants/implant_mindshield.dm
Labels: Tweak, Status: Awaiting merge

#17771 Energy detective revolver
  code/_onclick/click.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  code/game/machinery/tcomms/nttc.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/effects/spawners/detgun_spawner.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/customitems/item_defines.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/firing.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/energy.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/projectiles.dmi
  paradise.dme
  sound/weapons/gunshots/gunshot_det_energy.ogg
Labels: Balance, Testmerge Active, Status: Awaiting merge

#18089 [GBP no update] Fixes a potential runtime when someone cryos
  code/game/machinery/cryopod.dm
Labels: Fix, GBP: No Update, Status: Awaiting review

#18093 Fix runtime in mass-hallucination event
  code/modules/events/mass_hallucination.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix, Status: Awaiting review

#18087 [GBP no update] Fix the display of the zone being operated on during the surgery
  code/modules/surgery/surgery.dm
Labels: Fix, GBP: No Update, Status: Awaiting review

#18082 Film Camera Sprites
  icons/obj/items.dmi
Labels: Sprites, Status: Awaiting merge

#18080 Make monkey death/gasps not travel through walls
  code/modules/mob/living/carbon/human/human_emote.dm
  code/modules/mob/living/living_emote.dm
Labels: Tweak, Status: Awaiting merge

#18063 Admin spawn verb QoL
  code/modules/admin/admin.dm
Labels: Administration, Tweak, Status: Awaiting review

#18059 Adds smoke bombs as maints loot
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Tweak, Status: Awaiting review

#18092 Fix cutting meat to be consistent with itself and cutting other food items
  code/modules/food_and_drinks/food/foods/meat.dm
Labels: Fix, Status: Awaiting review

#18086 Toy Disintegrate spell no longer considered threat by sec bots.
  code/game/gamemodes/wizard/godhand.dm
Labels: Fix, Status: Awaiting review

#17918 Replaces Free Guns From Sci With Parts Kits
  code/modules/crafting/guncrafting.dm
  code/modules/crafting/recipes.dm
  code/modules/research/designs/weapon_designs.dm
  icons/obj/improvised.dmi
Labels: Balance, Testmerge Requested, Testmerge Active, Status: Awaiting merge

#18065 Shift+F3 debug menu
  code/__DEFINES/layers.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/acid.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/chat_pings.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/debugview.dm
  code/controllers/subsystem/fires.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/ghost_spawns.dm
  code/controllers/subsystem/http.dm
  code/controllers/subsystem/idlenpcpool.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machinery.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/npcpool.dm
  code/controllers/subsystem/overlays.dm
  code/controllers/subsystem/processing/processing.dm
  code/controllers/subsystem/profiler.dm
  code/controllers/subsystem/redis.dm
  code/controllers/subsystem/runechat.dm
  code/controllers/subsystem/shuttles.dm
  code/controllers/subsystem/spacedrift.dm
  code/controllers/subsystem/sun.dm
  code/controllers/subsystem/tgui.dm
  code/controllers/subsystem/throwing.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/controllers/subsystem/timer.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/keybindings/bindings_admin.dm
  code/modules/keybindings/bindings_client.dm
  paradise.dme
Labels: Feature, Status: Awaiting merge

#18101 Adds in a missed QDEL so a query doesn't go undeleted in Karma_holder.dm
  code/modules/karma/karma_holder.dm
Labels: Fix, Status: Awaiting type assignment

#17887 Ripping off the bandaid - New floors & walls
  icons/mecha/mech_bay.dmi
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
  icons/turf/floors/plating.dmi
  icons/turf/walls/reinforced_wall.dmi
  icons/turf/walls/wall.dmi
Labels: Sprites, Testmerge Active, Status: Awaiting merge

#18113 Alien Queen Dead Sprite Fix
  code/modules/mob/living/simple_animal/hostile/alien.dm
Labels: Fix, Status: Awaiting type assignment

#18096 Glass container reagents saftey check
  code/modules/reagents/reagent_containers/glass_containers.dm
Labels: Fix, Status: Awaiting review

#18108 Possibly fix runtime when sacrificing monkeys
  code/game/gamemodes/cult/runes.dm
Labels: Fix, Status: Awaiting review

#18119 Fix a runtime in admin tools
  code/modules/admin/topic.dm
Labels: Fix, Status: Awaiting review

#18121 Fixes a runtime on debris2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/debris2.dmm
Labels: Fix, Map Edit, General Map, Status: Awaiting type assignment

#18114 [GBP no update] Minor refactor to reflecting projectiles, detgun fix
  code/__DEFINES/misc.dm
  code/game/gamemodes/cult/cult_items.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
Labels: Refactor, Status: Awaiting review

#18103 Quieter radio emotes
  code/modules/mob/hear_say.dm
Labels: Fix, Status: Awaiting review

#18133 Fixes Spirit Realm text not showing large and bold.
  code/game/gamemodes/cult/cult_actions.dm
Labels: Fix, Status: Awaiting review

#18125 Replace maintenance brown shoes by black shoes
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Tweak, Status: Awaiting review

#18148 [GBP no update] Fix guardian tarot deck icon
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Fix, Status: Awaiting type assignment

#18120 Makes all Gamma ERT hardsuits have no slowdown
  code/modules/clothing/spacesuits/ert.dm
Labels: Balance, Status: Awaiting merge

#18126 Buffs stun absorption to stop disarms.
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Balance, Status: Awaiting review

#18128 Nerfs Deathnettle
  code/modules/hydroponics/grown/nettle.dm
Labels: Balance, GBP: No Update, Status: Awaiting merge

#18146 Code Readability - Probability of an Open Toilet
  code/game/objects/structures/watercloset.dm
Labels: Refactor, GBP: No Update, Status: Awaiting merge

#18145 Updated holopad sprite
  icons/obj/stationobjs.dmi
Labels: Sprites, Status: Awaiting merge
