Repository ParadiseSS13/Paradise, pull requests merged in 2022-10, with the labels that each got.

#19082 Adds in hand sprites for plastic fork, pspoon, pspork, pknife and spork
  code/game/objects/items/weapons/kitchen.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/kitchen.dmi
Labels: Sprites, -Status: Awaiting merge

#19124 Inhand small mobs now detail if they're dead/asleep when examined
  code/modules/mob/holder.dm
Labels: Fix, -Status: Awaiting merge

#19171 Reset spiderling walk instructions on Destroy.
  code/game/objects/effects/spiders.dm
Labels: Fix, GC Related, -Status: Awaiting review

#19194 Removes red slime speed potion, adds slime speed treat
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/research/xenobiology/xenobiology.dm
  icons/obj/chemical.dmi
Labels: Balance, -Status: Awaiting merge

#19134 Fix #18913 splashing acid on masks no longer displays "Your [null] melts away!"
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Fix, -Status: Awaiting review

#19193 Fixes speaking dead parrots
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Fix, -Status: Awaiting review

#19184 Adds plastic/glass/shadow rings to Prize Counter
  code/modules/arcade/prize_datums.dm
Labels: Tweak, -Status: Awaiting merge

#19180 Fix #19173 Flyswatter instakills bugs again
  code/game/objects/items/weapons/melee/misc.dm
Labels: Fix, -Status: Awaiting review

#19237 Fix failing main surgery during abstract steps getting surgeries stuck
  code/modules/surgery/abstract_steps.dm
Labels: Fix, -Status: Awaiting type assignment

#19210 Fixes typo when AI uses camera console
  code/game/machinery/computer/camera.dm
Labels: Fix, -Status: Awaiting merge

#19247 [GBP no update] Actually fixes speaking dead parrots
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#19123 BoxStation: Cargo Remap
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge

#19131 Adds captain rubber ducky
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/watercloset.dm
  icons/obj/watercloset.dmi
Labels: Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge

#19164 ATMs and id consoles will now make use of your inactive hand when returning items
  code/game/machinery/computer/card.dm
  code/modules/economy/ATM.dm
Labels: Tweak, -Status: Awaiting merge

#19145 Having a facehugger on your face muffles your speech
  code/game/dna/mutations/disabilities.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob.dm
Labels: Tweak, -Status: Awaiting merge

#19137 Improve airlock and windoor assembly examine cases
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/windoor_assembly.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#19186 Fixes a missing variable on a changeling objective
  code/datums/mind.dm
  code/modules/antagonists/changeling/datum_changeling.dm
Labels: Fix, -Status: Awaiting merge

#19256 Fixes an exploit
  code/modules/mining/equipment/survival_pod.dm
Labels: Fix, -Status: Awaiting merge

#19244 Fixes morgue icons not updating from clicking on the tray
  code/game/objects/structures/morgue.dm
Labels: Fix, -Status: Awaiting merge

#19216 [GBP no update] Robot and xeno gibs get their color set properly
  code/game/objects/effects/decals/Cleanable/aliens.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/robots.dm
Labels: Fix, -Status: Awaiting merge

#19161 Slightly improves Crew Monitor readability
  tgui/packages/tgui/interfaces/CrewMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, User Interface, Tweak, TGUI, -Status: Awaiting merge

#19001 Standardize cleaning object behavior into "cleaning_act" proc
  code/game/gamemodes/cult/runes.dm
  code/game/machinery/doors/door.dm
  code/game/objects/cleaning.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/soap.dm
  code/game/turfs/simulated.dm
  code/modules/detective_work/footprints_and_rag.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  paradise.dme
Labels: Refactor, -Status: Awaiting review

#19260 Fix #19259 Desk bell cannot be picked up when anchored anymore
  code/modules/paperwork/desk_bell.dm
Labels: Fix, -Status: Awaiting merge

#19168 Adds "Highlights" to the Orbit menu
  code/__HELPERS/unsorted.dm
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: User Interface, Tweak, TGUI, -Status: Awaiting merge

#19277 Fixes non-moppers getting "you mopped the floor" notifications
  code/game/objects/cleaning.dm
Labels: Fix, -Status: Awaiting merge

#19282 Merges two implant destroy procs
  code/game/objects/items/weapons/implants/implant.dm
Labels: Fix, -Status: Awaiting merge

#19174 Fixes the immovable rod not despawning
  code/modules/events/immovable_rod.dm
Labels: Fix, -Status: Awaiting merge

#19240 New GPS Sprites
  icons/obj/telescience.dmi
Labels: Sprites, -Status: Awaiting merge

#19197 Status/AI display now can be deconstructed with a wrench
  code/game/machinery/ai_display.dm
  code/game/machinery/status_display.dm
Labels: Tweak, -Status: Awaiting merge

#19215 Fix #18054 AI now loses respawnability when wiping its core too early in the round
  code/modules/mob/living/silicon/ai/latejoin.dm
Labels: Fix, -Status: Awaiting merge

#19178 Changes darkchat asay colour to be easier to read at a glance
  goon/browserassets/css/browserOutput-dark.css
Labels: Tweak, Testmerge Active, -Status: Awaiting merge

#19200 Lets you deepfry ice
  code/game/objects/effects/decals/Cleanable/robots.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/reagents/chemistry/reagents/misc.dm
Labels: Feature, GBP: No Update, -Status: Awaiting merge

#19267 Revenant resprite
  icons/effects/effects.dmi
  icons/mob/mob.dmi
Labels: Sprites, -Status: Awaiting merge

#19285 Fixes a runtime with telekinesis and closets
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix, -Status: Awaiting merge

#19261 New ability icons (part 1)
  code/datums/spells/cluwne.dm
  code/datums/spells/knock.dm
  code/datums/spells/mime_malaise.dm
  code/datums/spells/wizard.dm
  code/game/objects/items/weapons/implants/implant_dust.dm
  code/modules/antagonists/changeling/powers/swap_form.dm
  icons/mob/actions/actions.dmi
  icons/obj/implants.dmi
Labels: Sprites, -Status: Awaiting merge

#19212 Species now have their innate actions GC
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#19196 Free Golem Spawn/Ghost Role Message Clarification
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
Labels: Administration, Tweak, -Status: Awaiting merge

#19230 No longer need to have slimes with body parts to remove their cores
  code/modules/surgery/core_removal.dm
Labels: Fix, -Status: Awaiting merge

#19274 Fix Buildmode's Edit right-click to reset vars again
  code/modules/buildmode/submodes/variable_edit.dm
Labels: Fix, -Status: Awaiting merge

#19024 Moves most screwdriver checks to screwdriver_act
  code/game/machinery/constructable_frame.dm
  code/game/machinery/floodlight.dm
  code/game/machinery/mass_driver.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/grenades/bananade.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/game/objects/items/weapons/pneumaticCannon.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/structures/barsign.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/signs.dm
  code/modules/arcade/prize_counter.dm
  code/modules/assembly/shock_kit.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/crafting/guncrafting.dm
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/paperwork/frames.dm
  code/modules/power/lighting.dm
  code/modules/power/port_gen.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  code/modules/recycling/disposal.dm
  code/modules/research/server.dm
Labels: Refactor, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#19202 Tableing 2022: bartender's delight edition
  code/__DEFINES/icon_smoothing.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  icons/obj/smooth_structures/glass_table.dmi
  icons/obj/smooth_structures/poker_table.dmi
  icons/obj/smooth_structures/reinforced_table.dmi
  icons/obj/smooth_structures/table.dmi
  icons/obj/smooth_structures/table_greyscale.dmi
  icons/obj/smooth_structures/tables/alien_table.dmi
  icons/obj/smooth_structures/tables/brass_table.dmi
  icons/obj/smooth_structures/tables/fancy/fancy_table.dmi
  icons/obj/smooth_structures/tables/fancy/fancy_table_black.dmi
  icons/obj/smooth_structures/tables/fancy/fancy_table_blue.dmi
  icons/obj/smooth_structures/tables/fancy/fancy_table_cyan.dmi
  icons/obj/smooth_structures/tables/fancy/fancy_table_green.dmi
  icons/obj/smooth_structures/tables/fancy/fancy_table_orange.dmi
  icons/obj/smooth_structures/tables/fancy/fancy_table_purple.dmi
  icons/obj/smooth_structures/tables/fancy/fancy_table_red.dmi
  icons/obj/smooth_structures/tables/fancy/fancy_table_royalblack.dmi
  icons/obj/smooth_structures/tables/fancy/fancy_table_royalblue.dmi
  icons/obj/smooth_structures/tables/glass_table.dmi
  icons/obj/smooth_structures/tables/plasmaglass_table.dmi
  icons/obj/smooth_structures/tables/plastitaniumglass_table.dmi
  icons/obj/smooth_structures/tables/poker_table.dmi
  icons/obj/smooth_structures/tables/reinforced_table.dmi
  icons/obj/smooth_structures/tables/rglass_table.dmi
  icons/obj/smooth_structures/tables/rplasmaglass_table.dmi
  icons/obj/smooth_structures/tables/table.dmi
  icons/obj/smooth_structures/tables/titaniumglass_table.dmi
  icons/obj/smooth_structures/tables/wood_table.dmi
  icons/obj/smooth_structures/wood_table.dmi
  icons/obj/structures.dmi
Labels: Sprites, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#19245 Adds cap revolver ammo and toy cuffs to prize counter
  code/modules/arcade/prize_datums.dm
Labels: Tweak, -Status: Awaiting merge

#19283 Diona nymphs eject from dionas if a species change occur
  code/modules/mob/living/carbon/human/species/diona.dm
Labels: Fix, -Status: Awaiting merge

#19232 Ensures the gibber "feed" animation does not block the calling code
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
Labels: Fix, -Status: Awaiting merge

#19229 Fix #18872 Shark teeth is no longer invisible
  code/game/objects/items/weapons/shards.dm
  code/modules/fish/fish_items.dm
Labels: Fix, -Status: Awaiting merge

#19301 Fixes implant cases not being empty
  code/game/objects/items/weapons/implants/implantcase.dm
Labels: Fix, -Status: Awaiting review

#19284 Terror Prince attack now (also) does stamina damage
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
Labels: Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#19192 Tweaks the syndicate research base a little
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
Labels: Map Edit, General Map, -Status: Awaiting merge

#19254 Ports new Fulton beacon sprite from tg.
  code/modules/mining/fulton.dm
  icons/obj/fulton.dmi
Labels: Sprites, -Status: Awaiting merge

#19291 Fix VV restore to default and add additional info to logs
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
Labels: Fix, -Status: Awaiting merge

#19251 New newscaster sprites
  code/game/objects/items/mountable_frames/newscaster_frame.dm
  code/modules/newscaster/obj/newscaster.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/syndicate.dm
  icons/obj/terminals.dmi
Labels: Sprites, -Status: Awaiting merge

#19271 Fix RPD making pipes on the turf when failing to be put in storage
  code/game/objects/items/weapons/rpd.dm
Labels: Fix, -Status: Awaiting merge

#19273 Plant data disks can now be cmagged
  code/game/atoms.dm
  code/game/objects/cleaning.dm
  code/modules/hydroponics/gene_modder.dm
Labels: Tweak, -Status: Awaiting merge

#19300 Admin added contracts generate rewards instead of defaulting to 0 TC
  code/datums/mind.dm
Labels: Fix, -Status: Awaiting merge

#19332 Fixes gib exploit
  code/game/objects/effects/decals/Cleanable/humans.dm
Labels: Fix, Exploit, -Status: Awaiting merge

#19303 Nerfs Vampiric Claws
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
Labels: Balance, -Status: Awaiting merge, Project Progression

#19304 Tweaks mass hallucination midround message
  code/modules/events/mass_hallucination.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#19249 Micro-optimization of build_appearance_list
  code/controllers/subsystem/overlays.dm
Labels: Refactor, -Status: Awaiting review

#19227 Fixes cleanable floor decals shading jank
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/crayon.dm
Labels: Fix

#19264 Fix lit cigarette inhand sprites
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
Labels: Fix, -Status: Awaiting review

#19272 Add support for sharing overlays for energy guns
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Fix, -Status: Awaiting review

#19275 Fixes cursed heart overlay remaining active
  code/modules/surgery/organs/heart.dm
Labels: Fix, -Status: Awaiting review

#19233 Candles do not repeatedly update their icon on every process
  code/game/objects/items/candle.dm
Labels: Refactor, -Status: Awaiting review

#19321 Adds a container capacity check before pill reagent transfer
  code/modules/reagents/reagent_containers/pill.dm
Labels: Fix, -Status: Awaiting review

#19287 Fixes a runtime with IV drips
  code/game/machinery/iv_drip.dm
Labels: Fix, -Status: Awaiting merge

#19296 Fixes invisible in-hand pai sprite if the pai is resting
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Fix, -Status: Awaiting merge

#19298 Legcuffs and beartraps show up on examine
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Tweak, -Status: Awaiting merge

#19340 Xenos can no longer pry open doors they're already prying open
  code/game/machinery/doors/airlock.dm
Labels: Fix, -Status: Awaiting merge

#19165 [TM] [TGUI] Kitchen Improvements
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/objects/items/mixing_bowl.dm
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/food/foods/ingredients.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/food/foods/misc.dm
  code/modules/food_and_drinks/food/foods/seafood.dm
  code/modules/food_and_drinks/kitchen_machinery/candy_maker.dm
  code/modules/food_and_drinks/kitchen_machinery/cooker.dm
  code/modules/food_and_drinks/kitchen_machinery/grill_new.dm
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/food_and_drinks/kitchen_machinery/oven_new.dm
  sound/machines/kitchen/deep_fryer_1.ogg
  sound/machines/kitchen/deep_fryer_2.ogg
  sound/machines/kitchen/deep_fryer_emerge.ogg
  sound/machines/kitchen/deep_fryer_immerse.ogg
  sound/machines/kitchen/grill_end.ogg
  sound/machines/kitchen/grill_mid.ogg
  sound/machines/kitchen/grill_start.ogg
  sound/machines/kitchen/microwave_end.ogg
  sound/machines/kitchen/microwave_mid1.ogg
  sound/machines/kitchen/microwave_mid2.ogg
  sound/machines/kitchen/microwave_start.ogg
  sound/machines/kitchen/oven_loop_end.ogg
  sound/machines/kitchen/oven_loop_mid.ogg
  sound/machines/kitchen/oven_loop_start.ogg
  tgui/packages/tgui/interfaces/KitchenMachine.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/KitchenMachine.scss
  tgui/packages/tgui/styles/main.scss
Labels: User Interface, Tweak, TGUI, Testmerge Requested, -Status: Awaiting merge

#18997 Adds some examine helpers
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/firealarm.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/power/solar.dm
Labels: Tweak, -Status: Awaiting review

#19320 Admin Maximize Research applies to all tech types
  code/modules/research/rdconsole.dm
Labels: Fix, -Status: Awaiting merge

#19136 Adds mech cores, a component required by durands and gygaxs
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/datums/supplypacks.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
Labels: Map Edit, Balance, MetaStation, BoxStation, DeltaStation, -Status: Awaiting review, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation

#19299 Glowshrooms no longer spread when planted
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  code/game/objects/effects/glowshroom.dm
Labels: Tweak, -Status: Awaiting merge

#19350 [TGUI] Temp gun
  code/modules/projectiles/guns/energy/special.dm
  tgui/packages/tgui/interfaces/TempGun.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, -Status: Awaiting merge

#19175 Fixes several robotics access issues on DeltaStation/Kerberos
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#19361 Fixes IPCs dying to hallucinations.
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/machine.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#19344 Moves paper from layer 4 to layer 3
  code/game/objects/items/documents.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
Labels: Tweak, -Status: Awaiting review

#19349 Fixes draggable bushes, sprite oversight
  code/game/objects/structures/flora.dm
  icons/obj/flora/jungleflora.dmi
Labels: Fix, -Status: Awaiting review

#19208 Fix Delta issues caught by automated map tests.
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#19211 Fix Meta issues caught by automated map tests.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, -Status: Awaiting merge

#19359 Cleans up some disease data
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/appendicitis.dm
  code/datums/diseases/berserker.dm
  code/datums/diseases/cold.dm
  code/datums/diseases/food_poisoning.dm
  code/datums/diseases/gbs.dm
  code/datums/diseases/kuru.dm
Labels: Fix, -Status: Awaiting merge

#19367 Fixes intercoms/radios not being accessible via wirecutter
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix, -Status: Awaiting review

#19354 Removes corgis as a facehugger target, fixes #19157
  code/modules/mob/living/carbon/alien/special/facehugger.dm
Labels: Fix, -Status: Awaiting review

#19379 Bump DreamAnnotate in CI
  .github/workflows/ci.yml
Labels: Infrastructure, -Status: Awaiting review

#19170 Adds the u-ION silencer to rnd, replacing ecrossbow. Ecrossbow up to syndicate 5
  code/modules/crafting/guncrafting.dm
  code/modules/crafting/recipes.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/research/designs/weapon_designs.dm
  sound/weapons/silencer_laser.ogg
Labels: Balance, -Status: Awaiting review

#19116 Contractor Post-Prison Injuries
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
Labels: Tweak, -Status: Awaiting review

#19265 Rock walls become 3/4ths
  code/__DEFINES/colors.dm
  code/__HELPERS/icon_smoothing.dm
  code/game/turfs/simulated/minerals.dm
  icons/turf/smooth_wall.dmi
  icons/turf/smoothrocks.dmi
  icons/turf/walls.dmi
  icons/turf/walls/reinforced_rock.dmi
  icons/turf/walls/rock_wall.dmi
  icons/turf/walls/smoothrocks.dmi
Labels: Sprites, -Status: Awaiting merge

#19385 [GBP: No update] Fixes screen alerts sometimes going invisible
  code/modules/mob/living/carbon/give.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#19213 Fix Box issues caught by automated map tests.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge

#19221 Fixes point of sale description
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/items/weapons/misc.dm
Labels: Fix, Map Edit, Grammar and Formatting, BoxStation, -Status: Awaiting merge

#19292 Ensures status effects can't be added post qdel. Fixing GC issues with mobs caused by status effects
  code/datums/status_effects/status_effect.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#19348 Fixes mulebots not being screwable
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#19398 Makes wormhole projector portals spawn effects once every 0.5 seconds max
  code/datums/helper_datums/teleport.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/effects/portals.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/research/experimentor.dm
  code/modules/telesci/bscrystal.dm
Labels: Fix, -Status: Awaiting type assignment

#19387 Smoke spells readability
  code/__DEFINES/spell.dm
  code/datums/spell.dm
  code/datums/spells/banana_touch.dm
  code/datums/spells/construct_spells.dm
  code/datums/spells/mime_malaise.dm
  code/datums/spells/rathens.dm
  code/datums/spells/wizard.dm
  code/game/gamemodes/wizard/godhand.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/effect_system/effect_system.dm
  code/game/objects/effects/effect_system/effects_explosion.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/effects/step_triggers.dm
  code/game/objects/items/weapons/alien_specific.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/game/objects/items/weapons/scrolls.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple.dm
  code/modules/food_and_drinks/kitchen_machinery/cooker.dm
  code/modules/martial_arts/combos/mimejutsu/smokebomb.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mob/living/simple_animal/hostile/hellhound.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/legionnaire.dm
  code/modules/power/apc.dm
  code/modules/power/smes.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/research/experimentor.dm
  code/modules/station_goals/bsa.dm
Labels: Refactor, -Status: Awaiting merge

#19252 New newscaster sprites [MAPPING CHANGES]
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/centcomm.dmm
  tools/UpdatePaths/Scripts/19252_newscaster_directionality.txt
Labels: Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge

#19257 Return of Pete, delta station edition
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge

#19268 Magistrate deskside office door button
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge

#19281 Fixes some Issues with Delta
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting merge

#19307 Fixes monitors having the wrong circuit board when deconstructed
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/camera.dm
Labels: Fix, Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge

#19315 Add an additional camera to meta xenobio so it fully reaches every pen fully
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, -Status: Awaiting merge

#19319 Removes the HOP's second locker from Cyberiad and Kerberos
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Map Edit, BoxStation, Tweak, DeltaStation, -Status: Awaiting merge

#19253 [GBP: NO UPDATE] Fixes robotic surgery issues
  code/datums/components/surgery_initiator.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Fix, GBP: No Update, -Status: Awaiting merge

#19386 Fixes scuffed RCD airlock image previews
  code/game/objects/items/weapons/RCD.dm
Labels: Fix, -Status: Awaiting merge

#19279 Fix #18370 Crayon bedsheets colors are correct now
  code/game/machinery/washing_machine.dm
  code/game/objects/structures/bedsheet_bin.dm
Labels: Fix, -Status: Awaiting review

#19399 Adds SSblackbox logging for revival
  code/game/machinery/cloning.dm
  code/game/objects/items/weapons/defib.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Refactor, -Status: Awaiting merge

#19342 Adds briefcase/card box as leather recipes and reorganizes other recipes
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Tweak, -Status: Awaiting review

#19278 Orbiter component now uses lock_in_orbit parameter, allowing for orbiters that always stay with an atom
  code/datums/components/orbiter.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: Fix, -Status: Awaiting merge

#19355 Grenade GC improvement
  code/game/objects/items/weapons/grenades/grenade.dm
Labels: GC Related, -Status: Awaiting merge

#19335 Adds the chameleon counterfeiter
  code/datums/uplink_item.dm
  code/game/objects/items/devices/chameleon_counter.dm
  icons/obj/device.dmi
  paradise.dme
Labels: Feature, GBP: No Update, -Status: Awaiting merge

#19199 Allows wooden airlocks to be made and removes another text2path function.
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/door_assembly.dm
Labels: Refactor, -Status: Awaiting merge

#19389 Fixes #13967 AI crewmember hologram now works properly
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix, -Status: Awaiting merge

#19269 Fixes waterpacks and friends not GCing. Clears atom reference from reagents
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/reagent_containers.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#19317 Add skrell headpocket feedback and action button icons
  code/modules/surgery/organs/subtypes/skrell.dm
  icons/mob/actions/actions.dmi
Labels: Tweak, -Status: Awaiting merge

#19347 Box: Fix tile with simultaneous floor and wall turfs in brig.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge

#19365 Fixes 2 minor tile oversights on Delta
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting merge

#19373 Removes USSP gateway, adds nothing
  _maps/map_files/RandomZLevels/centcomAway.dmm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/awaymissions/mission_code/centcomAway.dm
  config/example/config.toml
  paradise.dme
Labels: Map Edit, Configuration Change, Tweak, General Map, -Status: Awaiting review

#19351 Fixes draggable bushes, sprite oversight [MAPPING CHANGES]
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/objects/structures/flora.dm
  tools/UpdatePaths/Scripts/19351_bushes.txt
Labels: Map Edit, Sprites, MetaStation, -Status: Awaiting merge

#19392 [GBP: No update] Expands the usage of some bodyflags
  code/modules/client/preference/character.dm
  code/modules/client/preference/link_processing.dm
Labels: Refactor, GBP: No Update, -Status: Awaiting merge

#19364 Adds mob sprite for cyborg suit
  icons/mob/clothing/suit.dmi
Labels: Sprites, -Status: Awaiting merge

#19453 fixes chems giving speed boosts to the wrong people
  code/modules/reagents/chemistry/holder.dm
Labels: Fix, High Priority, Exploit

#19445 Fixes typo in war declaration fail message
  code/game/gamemodes/nuclear/nuclear_challenge.dm
Labels: Fix, -Status: Awaiting type assignment

#19372 Removes a word from nouns.txt
  config/names/nouns.txt
Labels: Configuration Change, Tweak, -Status: Awaiting merge

#19405 Lavaboat now doesn't burn you when you ride it over lava
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: Fix, -Status: Awaiting merge

#19417 Nerfs Beepsky Smash
  code/modules/reagents/chemistry/reagents/alcohol.dm
Labels: Balance, -Status: Awaiting merge

#19421 Poly no longer can fly while resting, and sleeping!
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Fix, -Status: Awaiting merge

#19429 New Carved Pumpkin Sprites
  code/modules/clothing/head/misc_special.dm
  code/modules/hydroponics/grown/pumpkin.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites, -Status: Awaiting merge

#19439 Fixes a spelling error in advanced kingstons
  code/datums/diseases/kingstons.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#19225 [GBP NO UPDATE][READY FOR TM] Simplemob GC improvement
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix, GC Related, Testmerge Requested, -Status: Awaiting merge

#19435 Fix a CID warning not obeying the ignore list
  code/modules/mob/login.dm
Labels: Fix, -Status: Awaiting merge

#19371 Fixes a duplicated vendor on metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation, -Status: Awaiting merge

#19058 Removes the need to make handholes for jumpsuit sprites
  code/__DEFINES/misc.dm
  code/modules/client/preference/character.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/clothing/masking_helpers.dmi
Labels: Refactor, Sprites, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#19415 Slightly optimizes admin surgery room
  _maps/map_files/generic/centcomm.dmm
Labels: Map Edit, General Map, -Status: Awaiting merge

#19451 Carbon mobs get proper species-based names for mob spawners
  code/modules/awaymissions/corpse.dm
Labels: Fix, -Status: Awaiting merge

#19442 Remove unused newscast ability from announcements.
  code/defines/procs/announce.dm
  code/game/jobs/job/supervisor.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/requests_console.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/security_levels/security_levels.dm
Labels: Refactor, -Status: Awaiting review

#19430 Don't track Runtime or Ian in E.X.P.E.R.I-MENTOR state.
  code/modules/research/experimentor.dm
Labels: GC Related, -Status: Awaiting review

#19401 Blob report/CC detonation request is now logged
  code/game/gamemodes/blob/blob_report.dm
Labels: Administration, -Status: Awaiting review

#19409 Fixes Tom description
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Fix, -Status: Awaiting review

#19384 Fixes #19331 Teleportation spell no longer grants free smoke when cancelled
  code/datums/spells/area_teleport.dm
  code/datums/spells/wizard.dm
Labels: Fix, -Status: Awaiting review

#19246 Adminwho topic tweak + Graphics fix verb
  code/modules/client/client_procs.dm
  code/modules/world_topic/adminwho.dm
  code/modules/world_topic/status.dm
  paradise.dme
Labels: Tweak, -Status: Awaiting merge

#19376 Paradise's soul removal part three: lawyers
  code/datums/supplypacks.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/clothing/under/jobs/civilian.dm
  icons/mob/clothing/species/drask/under/civilian.dmi
  icons/mob/clothing/species/grey/under/civilian.dmi
  icons/mob/clothing/species/vox/under/civilian.dmi
  icons/mob/clothing/under/civilian.dmi
  icons/obj/clothing/under/civilian.dmi
Labels: Sprites, -Status: Awaiting review

#19356 Sentience Potions now violently explode if overused
  code/modules/research/xenobiology/xenobiology.dm
Labels: Tweak, -Status: Awaiting merge

#19400 IPCs are Now Ignored by Slimes
  code/modules/mob/living/carbon/human/species/machine.dm
Labels: Balance, -Status: Awaiting merge

#19380 rotatium now rotates space
  code/_onclick/hud/plane_master.dm
  code/_onclick/hud/plane_master_controller.dm
Labels: Fix, -Status: Awaiting review

#19455 Radium is now processed by IPCs
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Fix, -Status: Awaiting merge

#19473 [GBP NO UPDATE] Hands don't overlay above jumpsuits on which the hands are covered
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Fix, GBP: No Update, -Status: Awaiting type assignment

#19479 Prevents Players from circumventing attack cooldown with Wooden Barricades
  code/game/machinery/deployable.dm
Labels: Fix, -Status: Awaiting merge

#19310 Ports Yogstation's version of CQC, adds it back to traitor uplink.
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/batons.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/martial_arts/combos/cqc/consecutive.dm
  code/modules/martial_arts/combos/cqc/kick.dm
  code/modules/martial_arts/combos/cqc/pressure.dm
  code/modules/martial_arts/combos/cqc/restrain.dm
  code/modules/martial_arts/combos/cqc/slam.dm
  code/modules/martial_arts/cqc.dm
Labels: Balance, -Status: Awaiting merge, Project Progression

#19474 Fixes parallax being visible in the "fog of war"
  code/_onclick/hud/parallax.dm
  code/_onclick/hud/plane_master.dm
  code/datums/weather/weather.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Fix, GBP: No Update, Testmerge Active, -Status: Awaiting review

#19377 buffs the radio jammer
  code/datums/action.dm
  code/datums/uplink_item.dm
  code/game/objects/items/devices/traitordevices.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/device.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#19382 Blue suit fix
  icons/mob/clothing/species/drask/under/civilian.dmi
  icons/mob/clothing/species/grey/under/civilian.dmi
  icons/mob/clothing/species/vox/under/civilian.dmi
  icons/mob/clothing/under/civilian.dmi
  icons/obj/clothing/under/civilian.dmi
Labels: Fix, Sprites, GBP: No Update, -Status: Awaiting merge
