Repository ParadiseSS13/Paradise, pull requests merged in 2023-07, with the labels that each got.

#21526 Various github file updates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
Labels: Documentation

#21522 Fixes people not getting escape objectives when they should
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix

#21516 Fixes a runtime with railings
  code/game/objects/structures/railings.dm
Labels: Fix, -Status: Awaiting type assignment

#21460 Fixes an issue with removing glass flooring
  code/game/turfs/simulated/floor/transparent.dm
Labels: Fix, -Status: Awaiting review

#21358 Makes duplicate events have less weight work / work based on percentage now.
  code/modules/events/event_container.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#21401 The Mediborgs can now evil chem
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  icons/obj/aibots.dmi
Labels: Sprites, Balance, -Status: Awaiting merge

#21429 Cults can now "fall" when their numbers are too low.
  code/game/gamemodes/cult/cult_mode.dm
Labels: Balance, -Status: Awaiting merge

#21443 Tape removes AI inbuilt Camera while Carded
  code/datums/components/ducttape.dm
  code/game/machinery/computer/ai_core.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/aicard.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Feature, -Status: Awaiting approval

#21446 Polishes turret control sprites
  icons/obj/device.dmi
Labels: Sprites, -Status: Awaiting merge

#21447 Vampire/Changeling/Abductor anti-stuns remove all stuns instantly
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/modules/antagonists/changeling/powers/epinephrine.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
Labels: Balance, -Status: Awaiting merge

#21449 carp now reflects projectiles while horizontal
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Balance, -Status: Awaiting merge

#21455 Ports TG blast door sprites
  icons/obj/doors/blastdoor.dmi
Labels: Sprites, -Status: Awaiting merge

#21457 Polishes the GPS console sprite
  icons/obj/terminals.dmi
Labels: Sprites, -Status: Awaiting merge

#21458 Ports TG sack of money sprite
  icons/obj/storage.dmi
Labels: Sprites, -Status: Awaiting merge

#21463 Dswords now return melee attack on parry. Eswords reflect lasers on parry. Throwing bodies at a dsword user may not work well
  code/game/objects/items/weapons/melee/energy_melee_weapons.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Balance, -Status: Awaiting merge

#21473 Powerfist Now Costs 10TC
  code/datums/uplink_items/uplink_general.dm
Labels: Balance, -Status: Awaiting merge

#21477 Tranquilizer Shells can be ordered from Cargo
  code/modules/supply/supply_packs/pack_security.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#21529 [s] Fixes an issue with potted plants
  code/__DEFINES/dcs/signals.dm
  code/game/objects/structures/flora.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
Labels: Fix, -Status: Awaiting type assignment

#21235 Adds the Stealth implant, available to traitors
  code/__DEFINES/dcs/signals.dm
  code/datums/action.dm
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/items/weapons/implants/implant_stealth.dm
  code/game/objects/items/weapons/implants/implantfluff.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/game/verbs/suicide.dm
  icons/mob/actions/actions.dmi
  icons/obj/cardboard_boxes.dmi
  paradise.dme
  sound/misc/box_deploy.ogg
Labels: Feature, Sound, Sprites, -Status: Awaiting merge, Requires Wiki Update

#21354 Solar flare now only affects station level
  code/datums/weather/weather_datum.dm
  code/datums/weather/weather_types/solar_flare.dm
Labels: Fix, -Status: Awaiting merge

#21532 Objects on the same tile as a megaphone user can now hear them
  code/game/objects/items/devices/megaphone.dm
Labels: Fix

#21534 Fixes labeling disks when using DNA Modifier
  code/game/dna/dna_modifier.dm
Labels: Fix, -Status: Awaiting review

#21515 Deletes amorph.dmi
  icons/mob/amorph.dmi
Labels: Refactor, Sprites, -Status: Awaiting merge

#21468 Minor SPaG fix in vomiting section
  code/modules/mob/living/carbon/carbon.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#21484 Adds some overlooked objects to pull slowdown exclusion
  code/game/machinery/iv_drip.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: Tweak, -Status: Awaiting merge

#21495 Fixes some Cloning Console UI bugs
  code/game/machinery/computer/cloning.dm
  tgui/packages/tgui/interfaces/CloningConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#21505 Fixes vests using the incorrect sprites for Greys
  code/modules/clothing/suits/armor_suits.dm
Labels: Fix, -Status: Awaiting merge

#21563 Fixes tickets not logging awho properly
  code/controllers/subsystem/tickets/tickets.dm
Labels: -Status: Awaiting type assignment

#21225 Projectile accuracy tweak
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile_base.dm
Labels: Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#21582 Fix typo with voice analyzer
  code/modules/assembly/voice.dm
Labels: -Status: Awaiting type assignment

#21575 Fixes false wall examine text and makes them instantly smashable by simplemobs
  code/game/objects/structures/false_walls.dm
Labels: -Status: Awaiting type assignment

#21539 Adds Supply Medal
  code/game/objects/structures/crates_lockers/closets/secure/cargo_lockers.dm
  code/modules/clothing/under/accessories/accessory.dm
Labels: Feature, -Status: Awaiting merge

#21537 Reduces the amount of perf organic space suit injects
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Balance, -Status: Awaiting merge

#21536 Clicking on RCD carts with an RCD loads it.
  code/game/objects/items/weapons/RCD.dm
Labels: -Status: Awaiting review

#21531 Updates wallets
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/arcade/prize_datums.dm
  code/modules/mob/inventory_procs.dm
  icons/obj/wallets.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge, Requires Wiki Update

#21530 Being splashed with water now wakes you up
  code/modules/mob/living/living_defense.dm
Labels: Tweak, -Status: Awaiting review

#21524 Reworks the "derelict5" space ruin.
  _maps/map_files/RandomRuins/SpaceRuins/derelict5.dmm
  code/modules/awaymissions/mission_code/ruins/derelict5.dm
  paradise.dme
Labels: Map Edit, -Status: Awaiting merge

#21523 Cigarette vendor tweaks
  code/game/machinery/vendors/generic_vendors.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#21512 Contort body day 1 changes
  code/__HELPERS/mob_helpers.dm
  code/game/machinery/doors/airlock.dm
  code/modules/antagonists/changeling/powers/contort_body.dm
  code/modules/mob/living/living_status_procs.dm
Labels: Balance, -Status: Awaiting review

#21500 Fire rolling no longer hardstuns you because its not 2016 and is current year
  code/__HELPERS/trait_helpers.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Balance, -Status: Awaiting review

#21476 Buffs Nanocalcium
  code/datums/uplink_items/uplink_general.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance, -Status: Awaiting review

#21471 Adds Cargo Office Access to JaniKeyring + Fits in JaniBelt
  code/game/objects/items/control_wand.dm
  code/game/objects/items/weapons/storage/belt.dm
Labels: Fix, -Status: Awaiting review

#21467 fixes the item sprites for closed labcoats
  icons/obj/clothing/suits.dmi
Labels: Sprites, -Status: Awaiting review

#21462 Adds confetti shot
  code/datums/uplink_items/uplink_nuclear.dm
  code/game/objects/items/weapons/grenades/confetti.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/crafting/recipes.dm
  code/modules/projectiles/ammunition/ammo_boxes.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/projectile/special_projectiles.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  icons/obj/ammo.dmi
Labels: Feature, Sprites, -Status: Awaiting review, Requires Wiki Update

#21448 Fixes invisible sandbag item
  icons/obj/stacks/miscellaneous.dmi
Labels: Fix, Sprites, -Status: Awaiting review

#21430 Gives the syndicate hardsuits some origin tech
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Tweak, -Status: Awaiting review

#21412 removes hallucination sting
  code/modules/antagonists/changeling/powers/tiny_prick.dm
Labels: Revert/Feature Removal

#21405 Ear Organ Refactor + Deafness is a status effect
  code/__DEFINES/status_effects.dm
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/elements/earhealing.dm
  code/datums/status_effects/debuffs.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/modules/antagonists/changeling/powers/shriek.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_status_procs.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/mob_status_procs_base.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Refactor, Balance, -Status: Awaiting merge

#21333 fixes mining armblades being unable to be picked up after being dropped
  code/game/objects/items/weapons/holy_weapons.dm
Labels: Fix, -Status: Awaiting review

#21324 Adds the name of the occupant to the examine text of sleepers and body scanners
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Tweak, -Status: Awaiting review

#21487 Cleans up and fixes some bugs in operating table code
  code/game/machinery/OpTable.dm
Labels: Fix, -Status: Awaiting review

#21597 Block wires from placed under floor catwalks
  code/game/turfs/simulated/floor/misc_floor.dm
Labels: Fix

#21422 gives malf ais the ability to repair their cyborgs
  code/game/gamemodes/malfunction/Malf_Modules.dm
Labels: Feature, Balance, -Status: Awaiting review, Requires Wiki Update

#21617 Fix baseball bat deflecting small objects
  code/game/objects/items/weapons/weaponry.dm
Labels: Fix, -Status: Awaiting review

#21593 Fixes a minor mistake in a space ruin riddle.
  code/modules/awaymissions/mission_code/ruins/derelict5.dm
Labels: Fix, -Status: Awaiting merge

#21621 Fixes an issue with bot comms
  code/modules/mob/living/simple_animal/bot/bot_construction.dm
Labels: Fix

#21620 Toy dualswords no longer fucking kill the crew when thrown into, clowns no longer die to toy dsword.
  code/game/objects/items/weapons/twohanded.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#21622 Bumps CI beta version
  _build_dependencies.sh
Labels: Infrastructure

#21521 Widescreen lobby art
  _maps/map_files/generic/centcomm.dmm
  code/controllers/subsystem/non_firing/SStitlescreen.dm
  code/game/turfs/simulated/walls_indestructible.dm
  config/title_screens/images/blank.png
  config/title_screens/images/default.dmi
Labels: Map Edit, Configuration Change, Tweak, -Status: Awaiting merge

#21174 Reworks delta alert ambience
  code/__DEFINES/sound_defines.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/lists/misc_lists.dm
  code/controllers/subsystem/SSticker.dm
  code/datums/looping_sounds/looping_sound.dm
  code/modules/security_levels/security_levels.dm
  sound/effects/delta_alarm.ogg
  sound/effects/deltaalarm.ogg
Labels: Sound, Tweak, -Status: Awaiting merge

#21148 Adds Sanguine and Osseous Reagent
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/recipes/medicine_reactions.dm
  code/modules/surgery/organs/bone_tumor.dm
  paradise.dme
Labels: Feature, Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting review, Requires Wiki Update

#21295 Droplimb Chance Tweak
  code/modules/surgery/organs/organ_external.dm
Labels: Balance, -Status: Awaiting review

#21478 Buffs most stamina drugs. Nerfs meth stamina ***SLIGHTLY***
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/recipes/drugs_reactions.dm
Labels: Balance, -Status: Awaiting review

#21261 Supermatter slivers (cut off from the SM) have a slightly glowy ray effect to them, and soul shards
  code/__HELPERS/filters.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/objects/items/theft_items.dm
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Tweak, -Status: Awaiting review

#21528 (Hopefully) fixes an issue with Cryogenic Oversight Console
  tgui/packages/tgui/interfaces/CryopodConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting review

#21647 [s] Fixes some blood properties not interacting properly
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Fix, Exploit

#21650 fix: upgrades parts now affect ore_redemption machine
  code/modules/mining/machine_redemption.dm
Labels: Fix, -Status: Awaiting merge

#21689 [s] fixes a lag exploit
  code/game/machinery/doors/airlock.dm
Labels: Fix, Exploit

#21690 [s] fixes a cling exploit
  code/modules/antagonists/changeling/powers/transform.dm
Labels: Fix, Exploit

#20955 Changes the Tesla movement pattern [READY FOR REVIEW]
  code/datums/uplink_items/uplink_general.dm
  code/game/machinery/firealarm.dm
  code/modules/arcade/mob_hunt/battle_computer.dm
  code/modules/events/event_procs.dm
  code/modules/power/engines/singularity/field_generator.dm
  code/modules/power/engines/tesla/energy_ball.dm
Labels: Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#21320 Changes the revolver obtained from gatfruit to an overgrown revolver
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/misc_seeds.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: Feature, Sprites, Tweak, -Status: Awaiting merge, Requires Wiki Update

#21353 Fix some defib bugs
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/misc_defines.dm
  code/datums/components/defibrillator.dm
  code/game/objects/items/weapons/defib.dm
  code/modules/mob/living/carbon/human/human_life.dm
Labels: Fix, -Status: Awaiting merge

#21701 [s] Fixes an inconstancy
  code/game/objects/items/toys.dm
  code/modules/mob/living/living.dm
Labels: Fix, -Status: Awaiting type assignment

#21583 Fixes inaccuracy in changeling chemical storage UI element.
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/datum_changeling.dm
Labels: Fix, -Status: Awaiting review

#21588 Adds some missing checks for suicides on revivals, prevents clings from suiciding
  code/datums/components/defibrillator.dm
  code/game/machinery/computer/aifixer.dm
  code/game/objects/structures/morgue.dm
  code/game/verbs/suicide.dm
  code/modules/mob/living/carbon/brain/brain_update_status.dm
  code/modules/mob/living/carbon/human/human_update_status.dm
  code/modules/mob/living/silicon/robot/robot_update_status.dm
  code/modules/mob/living/stat_states.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#21589 Fixes janidrobe charging for essential equipment
  code/game/machinery/vendors/wardrobe_vendors.dm
Labels: Fix, -Status: Awaiting review

#21623 Makes myself codeowner of build dependencies
  .github/CODEOWNERS
Labels: Documentation, Infrastructure, -Status: Awaiting merge

#21601 Fixes vaccines not merging properly
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Fix, -Status: Awaiting merge

#21606 Fixes an issue with dap/highfive code
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix, -Status: Awaiting merge

#21702 Adds delta alarm to mixer
  code/datums/looping_sounds/looping_sound.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_volume_mixer.dm
Labels: Fix, -Status: Awaiting review

#21545 Gloves of the North Star now allow Martial Arts
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/modules/clothing/gloves/misc_gloves.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#21711 Fixes a couple issues with random costume spawners
  code/game/objects/effects/landmarks.dm
Labels: Fix, -Status: Awaiting merge

#21706 [Fix] Stealth implant boxes no longer drop cardboard when destroyed
  code/game/objects/items/weapons/implants/implant_stealth.dm
Labels: Fix, -Status: Awaiting merge

#21459 Makes meteor events more consistant, with major meteors being more deadly.
  code/game/objects/effects/meteors.dm
  code/modules/events/event_container.dm
  code/modules/events/meteors_event.dm
Labels: Tweak, -Status: Awaiting merge

#21547 The syndicate balloon now has a special suicide action
  code/game/objects/items/toys.dm
Labels: Feature, -Status: Awaiting merge

#21694 Adds article override to make examine text more consistent
  code/__HELPERS/text.dm
  code/modules/mob/living/carbon/human/human_examine.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
Labels: Fix, Grammar and Formatting, -Status: Awaiting merge

#21693 Fix malfunctioning drones failing to GC
  code/modules/events/rogue_drones.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#21555 Makes the existence of regions a little more obvious
  code/modules/mob/new_player/new_player.dm
Labels: Feature, -Status: Awaiting merge

#21691 Fixes an issue with examining
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/diona_species.dm
  code/modules/mob/living/carbon/human/species/machine.dm
Labels: Fix, -Status: Awaiting merge

#21609 Migrates meson stuff FULLY to traits
  code/modules/clothing/glasses/engine_goggles.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/helmet.dm
  code/modules/power/engines/singularity/singularity.dm
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Fix, Refactor, -Status: Awaiting merge

#21616 Ports TG style IV stands and bags sprites
  icons/goonstation/objects/iv.dmi
Labels: Sprites, -Status: Awaiting merge

#21686 Attempts to allow for timers attached to no objects to be diagnosed
  code/controllers/subsystem/SStimer.dm
Labels: Code Improvement, -Status: Awaiting merge

#21634 Refactors inventory items code to allow to play custom sounds, adds custom sounds to pill bottles and patch packs
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/storage_base.dm
  code/game/sound.dm
  sound/effects/CC0/licence.txt
  sound/effects/CC0/patchpack1.ogg
  sound/effects/CC0/patchpack2.ogg
  sound/effects/CC0/patchpack3.ogg
  sound/effects/CC0/patchpack4.ogg
  sound/effects/CC0/patchpack5.ogg
  sound/effects/CC0/pillbottle1.ogg
  sound/effects/CC0/pillbottle2.ogg
  sound/effects/CC0/pillbottle3.ogg
  sound/effects/CC0/pillbottle4.ogg
Labels: Refactor, Sound, -Status: Awaiting merge

#21640 Do not spawn parrots with headsets.
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Tweak, -Status: Awaiting merge

#21641 plasmamen detectives now spawn with bowman headsets
  code/datums/outfits/plasmamen_outfits.dm
Labels: Fix, -Status: Awaiting merge

#21649 Remove obsolete pod mainboard.
  code/game/mecha/mecha_parts.dm
Labels: Fix, -Status: Awaiting merge

#21671 [FEAT] Battlemage Bundle now contains wizard magboots!
  code/datums/outfits/outfit_admin.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Feature, -Status: Awaiting merge

#21669 [FEAT] Security Records Console prints photos
  code/game/machinery/computer/security_records.dm
  icons/effects/64x32.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#21668 [FIX] Mute people can show Emote Typing Indicator
  code/modules/mob/typing_indicator.dm
Labels: Fix, -Status: Awaiting merge

#21655 [FEAT] BRPED tier4 for debugging
  code/game/objects/items/weapons/stock_parts.dm
Labels: Code Improvement, -Status: Awaiting merge

#21659 [FIX] Gray Terror Spider moves like a normal mob
  code/modules/mob/living/simple_animal/hostile/terror_spiders/gray.dm
Labels: Fix, -Status: Awaiting merge

#21660 [FIX] Brand Intelligence will live in refillable vendor
  code/modules/events/brand_intelligence.dm
Labels: Tweak, -Status: Awaiting merge

#21661 [FEAT] MALF factory emaggs borgs
  code/game/machinery/transformer.dm
Labels: Tweak, -Status: Awaiting merge

#21664 [FIX] UFO crash site chamber no more enterable
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ufo_crash.dmm
  code/game/gamemodes/miniantags/abduction/machinery/experiment.dm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#21653 [FIX TGUI]: Organ's healthbars in bodyscanners
  tgui/packages/tgui/interfaces/BodyScanner.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#21549 New medal box sprite
  icons/obj/storage.dmi
Labels: Sprites, -Status: Awaiting review

#21550 New TG style guest pass, and retro access card sprites
  icons/obj/card.dmi
Labels: Sprites, -Status: Awaiting review

#21546 Reset camera upon remoteview gene deactivation (#21465)
  code/game/dna/mutations/mutation_powers.dm
Labels: Fix, -Status: Awaiting review

#21559 Add New "Access Windoors" tool to Mapping_Helpers in Map Editor.
  code/modules/mapping/mapping_helpers.dm
  code/modules/mapping/windoor_access_helpers.dm
  icons/effects/mapping_helpers.dmi
  paradise.dme
Labels: Sprites, Code Improvement, -Status: Awaiting review

#21573 You can no longer cheese open shocked doors
  code/game/machinery/doors/airlock.dm
Labels: -Status: Awaiting review

#21576 stamina damage logging
  code/datums/log_record.dm
  code/modules/projectiles/projectile_base.dm
Labels: Administration, Tweak, -Status: Awaiting review

#21578 Buffs 3 Umbra powers.
  code/modules/antagonists/vampire/vampire_powers/umbrae_powers.dm
Labels: Balance, -Status: Awaiting review

#21584 Be polite! While on walk intent, you will no longer bump into/shuffle around people.
  code/modules/mob/living/living.dm
Labels: Tweak, -Status: Awaiting review

#21602 Adds code enforcement for rules regarding disabilities and jobs
  code/controllers/subsystem/SSjobs.dm
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/modules/client/preference/character.dm
  code/modules/mob/new_player/new_player.dm
Labels: Tweak, -Status: Awaiting review

#21607 Tweak floor tile replacement and add missing catwalk sprite
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/transparent.dm
  icons/turf/floors/catwalk_floor.dmi
Labels: Fix, Sprites, -Status: Awaiting review

#21624 Gives blueshield a sechailer gas mask
  code/game/objects/items/weapons/storage/garment.dm
Labels: Tweak, -Status: Awaiting review

#21734 [s] Fixes an exploit with tails
  code/modules/mob/living/init_signals.dm
Labels: Fix, Exploit

#21099 Adds OpenDream as a CI lint
  .github/workflows/ci.yml
  .gitignore
  __odlint.dm
  code/__HELPERS/type2type.dm
  code/controllers/subsystem/SSacid.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/turf.dm
  code/modules/admin/topic.dm
  code/modules/awaymissions/maploader/reader.dm
  code/modules/events/blob/theblob.dm
  code/modules/events/false_alarm.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob_misc_procs.dm
  code/modules/mob/mob_say_base.dm
  code/modules/reagents/chemistry/reagents/drinks_reagents.dm
  code/modules/shuttle/shuttle.dm
  code/modules/telesci/telesci_computer.dm
  paradise.dme
  tools/ci/lints.dm
  tools/ci/run_od.sh
  tools/ci/setup_od.sh
  tools/ci/unticked_files.py
Labels: Infrastructure, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#21381 Cere: fix lattice dupes and spawner over wall in NTR office.
  _maps/map_files/cerestation/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge, CereStation

#21494 Cerestation: Making Farragus Dirty
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  code/game/objects/effects/spawners/random_spawners.dm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, CereStation

#21264 Cyberiad: Rework Janitory Room (and Swap some Rooms in Process)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting review, [MQL] BoxStation

#21424 Removes a redundant var from a few machines
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/mining/laborcamp/laborshuttle.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_stacking.dm
Labels: Map Edit, MetaStation, BoxStation, Code Improvement, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation

#21425 Fixes some Design Oversights in "Cyberiad: Maintenance Rework [Part #2]"
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/mob/living/simple_animal/hostile/feral_cat.dm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting review

#21426 Adds tools to all Prisons
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation, DeltaStation, -Status: Awaiting review

#21434 Meta: fix wall/lattice stacking.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, -Status: Awaiting merge

#21730 Fixes pickweight's comment
  code/__HELPERS/lists.dm
Labels: Documentation, -Status: Awaiting type assignment

#21733 people transformed into slimes / newly made slimes no longer spawn in crit
  code/modules/mob/living/carbon/human/species/slimepeople.dm
Labels: Fix, -Status: Awaiting type assignment

#21737 server blacklist now logs to game / messages admins when stuff is blacklisted
  code/modules/research/server.dm
Labels: Administration, -Status: Awaiting type assignment

#21769 You may now stuff grenades in plushies. Adds the shark and abductor plushies from TG, non haunted branch
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_animal_hospital.dmm
  _maps/map_files/generic/centcomm.dmm
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/dehy_carp.dm
  code/game/objects/items/toys.dm
  code/modules/client/preference/loadout/loadout_general.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
  paradise.dme
  tools/UpdatePaths/Scripts/21769_plushies.txt
Labels: Map Edit, Sprites, MetaStation, DeltaStation, -Status: Awaiting type assignment

#21770 Runs mapmerge on two maps that someone forgot to run
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/cerestation/cerestation.dmm
Labels: Fix, Map Edit, CereStation

#21506 Restricts Xenomicrobes to admin only and trader shuttle, yes the funny become a biohazard instant reagent
  _maps/map_files/RandomRuins/SpaceRuins/debris3.dmm
  code/modules/reagents/chemistry/reagents/disease.dm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#21510 Removes a lot of tiny fans that are just unnecessary
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge, CereStation, [MQL] CereStation

#21542 cere: remove null req_access varedits
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, Code Improvement, -Status: Awaiting merge, CereStation

#21544 lavaland: remove null req_access varedits
  _maps/map_files/generic/Lavaland.dmm
Labels: Map Edit, Code Improvement, -Status: Awaiting merge

#21710 Space: Space Bar Rework
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  code/datums/ruins/space_ruins.dm
Labels: Map Edit, -Status: Awaiting review

#21543 box: remove null req_access varedits
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, Code Improvement, -Status: Awaiting merge, [MQL] BoxStation

#21783 Fix Plushie Path in spacebar, it cause other PR's to fail map check.
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
Labels: Fix, Map Edit, -Status: Awaiting type assignment

#21794 Fixes a weird pixel offset and typo on the beer nuke
  _maps/map_files/MetaStation/MetaStation.dmm
  code/modules/reagents/reagent_dispenser.dm
Labels: Fix, Map Edit, MetaStation, [MQL] MetaStation

#21513 Poly now can not get stuck on the Kerberos
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#21519 Removes Vox... Armalis, yes the other vox we forgot about
  _maps/map_files/shuttles/admin_skipjack.dmm
  code/__DEFINES/mob_defines.dm
  code/datums/outfits/outfit_admin.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/spacesuits/alien_suits.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/projectiles/guns/alien_guns.dm
  icons/mob/clothing/species/armalis/back.dmi
  icons/mob/clothing/species/armalis/belt.dmi
  icons/mob/clothing/species/armalis/ears.dmi
  icons/mob/clothing/species/armalis/feet.dmi
  icons/mob/clothing/species/armalis/gloves.dmi
  icons/mob/clothing/species/armalis/head.dmi
  icons/mob/clothing/species/armalis/held.dmi
  icons/mob/clothing/species/armalis/mask.dmi
  icons/mob/clothing/species/armalis/suit.dmi
  paradise.dme
Labels: Map Edit, Revert/Feature Removal, Sprites, -Status: Awaiting review

#21541 delta: remove null req_access varedits
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, Code Improvement, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#21558 Adds light to the explorer spawn room on farragus.
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, -Status: Awaiting review, CereStation, [MQL] CereStation

#21788 Fix: paradise_schema missed migration
  SQL/paradise_schema.sql
Labels: SQL Change, On Hold, -Status: Awaiting type assignment

#21560 Clean Window Doors Code and Change Paths for all Maps.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/meatpackers.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/admin_admin.dmm
  _maps/map_files/shuttles/admin_armory.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  _maps/map_files/shuttles/admin_skipjack.dmm
  _maps/map_files/shuttles/emergency_cramped.dmm
  code/game/machinery/doors/windowdoor.dm
  tools/UpdatePaths/Scripts/21560_window_doors_part1.txt
  tools/UpdatePaths/Scripts/21560_window_doors_part2.txt
Labels: Map Edit, Refactor, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#21567 Cyberiad: Fix xenobio cage cables.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting review

#21568 Fixes those DARNED EVA doors in fore-port secondary maints.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting review

#21611 Remakes the Syndi Cakes Factory space ruin.
  _maps/map_files/RandomRuins/SpaceRuins/syndiecakesfactory.dmm
  code/modules/awaymissions/mission_code/ruins/syndiecakesfactory.dm
  paradise.dme
Labels: Map Edit, -Status: Awaiting review

#21570 Deletes an old gateway paper in Meta (Cerebron)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Revert/Feature Removal, MetaStation, -Status: Awaiting merge, [MQL] MetaStation

#21699 Fixes some issues with the NSS Asclepius and Central Command
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  code/modules/shuttle/shuttle_manipulator.dm
Labels: Map Edit, Tweak, -Status: Awaiting review

#21793 spacebar: remove stacked lattice
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
Labels: Map Edit, -Status: Awaiting type assignment
