Repository ParadiseSS13/Paradise, pull requests merged in 2023-06, with the labels that each got.

#20598 Power Code Cleanup + Conversion to Regional Powernets [Refactor Only]
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  code/__DEFINES/directions.dm
  code/__DEFINES/misc_defines.dm
  code/_onclick/click_override.dm
  code/controllers/subsystem/machinery.dm
  code/datums/cache/apc_cache.dm
  code/game/machinery/computer/power_monitor.dm
  code/game/machinery/shieldgen.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/structures/grille.dm
  code/game/turfs/simulated/floor/transparent.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/power/apc/apc.dm
  code/modules/power/cable.dm
  code/modules/power/cable_logic.dm
  code/modules/power/cables/cable.dm
  code/modules/power/cables/cable_coil.dm
  code/modules/power/cables/terminal.dm
  code/modules/power/engines/singularity/collector.dm
  code/modules/power/engines/singularity/containment_field.dm
  code/modules/power/engines/singularity/emitter.dm
  code/modules/power/engines/singularity/field_generator.dm
  code/modules/power/engines/singularity/investigate.dm
  code/modules/power/engines/singularity/narsie.dm
  code/modules/power/engines/singularity/particle_accelerator/particle.dm
  code/modules/power/engines/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/power/engines/singularity/particle_accelerator/particle_chamber.dm
  code/modules/power/engines/singularity/particle_accelerator/particle_control.dm
  code/modules/power/engines/singularity/particle_accelerator/particle_emitter.dm
  code/modules/power/engines/singularity/particle_accelerator/particle_power.dm
  code/modules/power/engines/singularity/singularity.dm
  code/modules/power/engines/singularity/singulogen.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/power/engines/tesla/coil.dm
  code/modules/power/engines/tesla/energy_ball.dm
  code/modules/power/engines/tesla/generator.dm
  code/modules/power/engines/tesla/teslagen.dm
  code/modules/power/generators/portable generators/pacman.dm
  code/modules/power/generators/portable generators/port_gen.dm
  code/modules/power/generators/solar.dm
  code/modules/power/generators/thermo_electric_generator.dm
  code/modules/power/generators/tracker.dm
  code/modules/power/generators/treadmill.dm
  code/modules/power/generators/turbine.dm
  code/modules/power/power.dm
  code/modules/power/power_machine.dm
  code/modules/power/powernet.dm
  code/modules/power/powernets/README.md
  code/modules/power/powernets/powernet_helpers.dm
  code/modules/power/powernets/regional_powernet.dm
  code/modules/power/smes.dm
  code/modules/station_goals/bluespace_tap.dm
  code/modules/supply/supply_packs/pack_engineering.dm
  code/modules/tgui/modules/power_monitor.dm
  paradise.dme
Labels: Map Edit, Refactor, Testmerge Requested, -Status: Awaiting merge

#20808 Ports TG supermatter effects / warp effect
  code/__DEFINES/layers.dm
  code/_onclick/hud/plane_master.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/temporary_visuals/misc_visuals.dm
  code/game/objects/effects/warp_effect.dm
  code/modules/power/engines/singularity/singularity.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/power/gravitygenerator.dm
  icons/effects/light_352.dmi
  paradise.dme
Labels: Feature, Sprites, Testmerge Requested, -Status: Awaiting merge

#20830 Adds gorillas and cargorillas
  code/__DEFINES/mob_defines.dm
  code/__DEFINES/radiation_defines.dm
  code/datums/keybindings/emote.dm
  code/datums/keybindings/mob.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/dna/dna2_domutcheck.dm
  code/game/dna/dna2_helpers.dm
  code/game/objects/items/weapons/implants/implant_gorilla_rampage.dm
  code/game/objects/items/weapons/implants/implantfluff.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/mob/inventory_procs.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/simple_animal/friendly/bunny.dm
  code/modules/mob/living/simple_animal/friendly/butterfly.dm
  code/modules/mob/living/simple_animal/friendly/deer.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/sloth.dm
  code/modules/mob/living/simple_animal/friendly/snake.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla_emote.dm
  code/modules/mob/living/simple_animal/hostile/jungle_animals.dm
  code/modules/mob/living/simple_animal/hostile/killertomato.dm
  code/modules/mob/living/simple_animal/hostile/mushroom.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/transform_procs.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
  code/modules/supply/supply_packs/pack_organic.dm
  icons/mob/actions/actions_animal.dmi
  icons/mob/cargorillia.dmi
  icons/mob/gorilla.dmi
  icons/obj/crates.dmi
  icons/obj/hypo.dmi
  icons/obj/implants.dmi
  paradise.dme
  sound/creatures/gorilla.ogg
Labels: Feature, Sound, Sprites, Testmerge Requested, -Status: Awaiting review, Requires Wiki Update

#21069 Stunbaton delayed knockdown now respects antistuns
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/items/weapons/implants/implant_adrenalin.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/antagonists/changeling/powers/epinephrine.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Refactor, Balance, -Status: Awaiting review

#20860 [DNM] Runechat refactor
  code/__DEFINES/MC.dm
  code/__DEFINES/_tick.dm
  code/controllers/subsystem/runechat.dm
  code/datums/chatmessage.dm
Labels: Refactor, Testmerge Requested, -Status: Awaiting review

#20895 Polishes most of the module.dmi circuitry sprites to blend with newer sprite styles.
  icons/obj/module.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#21218 Gorilla mapping changes 2
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/mob/living/simple_animal/friendly/sloth.dm
Labels: Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting type assignment, CereStation

#20839 Updates piano path
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomZLevels/example.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/shuttles/emergency_bar.dmm
  code/modules/instruments/objs/structures/piano.dm
  code/modules/supply/supply_packs/pack_miscellaneous.dm
Labels: Map Edit, Refactor, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#21055 Decals now do not decline your action
  code/game/objects/effects/effects.dm
Labels: Refactor, -Status: Awaiting merge

#21087 Reworks changeling's last resort
  code/modules/antagonists/changeling/powers/headslug.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
Labels: Balance, Testmerge Requested, -Status: Awaiting merge, Requires Wiki Update

#21102 morphine now processes on OD
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: -Status: Awaiting merge

#21107 Buffs morphine duration
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance, -Status: Awaiting merge

#21103 Alien Alloy Sprite Fix
  code/game/objects/items/stacks/sheets/mineral.dm
Labels: Fix, -Status: Awaiting merge

#21110 Decreases the research requirement for Holostretchers
  code/modules/research/designs/medical_designs.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#21112 adds mint to mojito recipe
  code/modules/reagents/chemistry/recipes/drinks_reactions.dm
Labels: -Status: Awaiting merge, Requires Wiki Update

#21119 Engi ERT now get hardened wireless interface implants
  code/modules/response_team/ert_outfits.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#21122 Added empty descriptions
  code/game/objects/items/latexballoon.dm
  code/game/objects/structures/crates_lockers/closets/secure/depot_closets.dm
  code/game/objects/structures/depot_structures.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#21123 Fixes secure safe inventory breaking
  code/game/objects/items/weapons/storage/secure.dm
Labels: Fix, -Status: Awaiting merge

#21127 Fix harvest message reporting decimal item amount when using Robust Harvest
  code/modules/hydroponics/seeds.dm
Labels: Fix, -Status: Awaiting merge

#21129 Paramedic Tweaks (and Tiny CMO Tweak)
  code/game/jobs/job/medical_jobs.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical_lockers.dm
  code/modules/clothing/spacesuits/misc_spacesuits.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#21135 Space Ruins: blowntcommsat Rework
  _maps/map_files/RandomRuins/SpaceRuins/blowntcommsat.dmm
Labels: Feature, Map Edit, -Status: Awaiting merge

#21139 Honksquad clowns now spawn with comic sans and title
  code/datums/outfits/outfit_admin.dm
Labels: Tweak, -Status: Awaiting merge

#21141 Adds JaniDrobe, LawDrobe (No Mapping)
  code/game/machinery/constructable_frame.dm
  code/game/machinery/vendors/wardrobe_vendors.dm
  code/game/objects/items/weapons/vending_items.dm
  code/modules/supply/supply_packs/pack_miscellaneous.dm
  icons/obj/vending.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#21144 You can no longer give items to xenos
  code/modules/mob/living/carbon/give.dm
Labels: Fix, -Status: Awaiting merge

#21146 Being well fed increases your blood regeneration
  code/modules/surgery/organs/blood.dm
Labels: Tweak, -Status: Awaiting merge

#21152 Tweak kitchen spikes
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/kitchen_spike.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#21154 Adds some missing doctor gear to the MediDrobe
  code/game/machinery/vendors/wardrobe_vendors.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#21153 Swaps engineering and atmospheric beret sprites
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#21158 Improves how notify_ghosts works with larger icons
  code/modules/mob/mob_helpers.dm
Labels: Fix, -Status: Awaiting merge

#21159 Fixes combat gloves for Grey
  icons/mob/clothing/species/grey/gloves.dmi
Labels: Sprites, -Status: Awaiting merge

#21161 Removes duplicate cybernetic implants from ERT Red Medic
  code/modules/response_team/ert_outfits.dm
Labels: Fix, -Status: Awaiting merge

#21172 Oversight fix: Augment Surgery Limb Status Fix
  code/modules/surgery/limb_augmentation.dm
Labels: Fix, -Status: Awaiting merge

#21173 Fixes body scanner printout not properly displaying blood level
  code/game/machinery/adv_med.dm
Labels: Fix, -Status: Awaiting merge

#21175 Prevents Captain's ID from being kept in the cryostorage console
  code/game/machinery/cryopod.dm
Labels: Fix, -Status: Awaiting merge

#21118 Biodegrade buff
  code/modules/antagonists/changeling/powers/biodegrade.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#21177 Make various machinery properly update their icons on init
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/status_display.dm
  code/game/machinery/vendors/vending.dm
  code/modules/mapping/mapping_helpers.dm
Labels: Fix, -Status: Awaiting merge

#21180 Fixes ghosts not being able to deactivate antaghud
  code/modules/tgui/modules/ghost_hud_panel.dm
Labels: Fix, -Status: Awaiting merge

#21188 Empty ammo no longer runtimes on EMP
  code/modules/projectiles/ammunition.dm
Labels: Refactor, -Status: Awaiting merge

#21190 Oversight Fix: Destructive Analyzer destroying stacks
  code/modules/research/rdconsole.dm
Labels: Fix, -Status: Awaiting merge

#21192 Oversight fix: Remove redundant typepath for "Flat Top" hair
  code/modules/mob/new_player/sprite_accessories/human/human_hair.dm
Labels: Fix, -Status: Awaiting merge

#21145 morphs now show up the orbit menu antagonist section
  code/__DEFINES/mob_defines.dm
  code/datums/spells/mimic.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/ruins/lavalandruin_code/sin_ruins.dm
Labels: Tweak, -Status: Awaiting merge

#21201 Make burning Oil into Ash *actually* not cause fires at 30u or below
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
Labels: Tweak, -Status: Awaiting merge

#21170 Makes it so nano calcium always fixes bones/IB/burns and lowers weaken time
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance, -Status: Awaiting merge

#21162 Minor deadchat control improvements
  code/datums/components/deadchat_control.dm
  code/game/atoms_movable.dm
  code/modules/mob/living/carbon/carbon_emote.dm
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: Tweak, -Status: Awaiting merge

#20774 [serious april pr pls no close] Adds the magic nanny bag.
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/storage.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#21198 Fixes a few small spelling mistakes in the SM examine
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#20459 converts the hide verb to an action button
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/alien/larva/larva_powers.dm
  code/modules/mob/living/silicon/robot/drone/drone_abilities.dm
  code/modules/mob/living/silicon/robot/drone/maint_drone.dm
  code/modules/mob/living/simple_animal/hide_action.dm
  code/modules/mob/living/simple_animal/hide_verb.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/actions/actions.dmi
  paradise.dme
Labels: Sprites, Tweak, -Status: Awaiting review

#21037 Martial arts now use a weight system to determine which one is active
  code/datums/mind.dm
  code/modules/martial_arts/adminfu.dm
  code/modules/martial_arts/brawling.dm
  code/modules/martial_arts/cqc.dm
  code/modules/martial_arts/grav_stomp.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/mimejutsu.dm
  code/modules/martial_arts/plasma_fist.dm
  code/modules/martial_arts/sleeping_carp.dm
  code/modules/martial_arts/wrestling.dm
Labels: Fix, Refactor, -Status: Awaiting review

#20855 Explorer Overhaul and Gateway Retirement
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomZLevels/beach.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/example.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/access_defines.dm
  code/_onclick/observer_onclick.dm
  code/controllers/configuration/configuration_core.dm
  code/controllers/configuration/sections/gateway_configuration.dm
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/game/area/ss13_areas.dm
  code/game/jobs/access.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/antagonists/traitor/contractor/datums/objective_contract.dm
  code/modules/arcade/mob_hunt/mob_type_datums.dm
  code/modules/awaymissions/gateway.dm
  code/modules/awaymissions/mission_code/evil_santa.dm
  code/modules/awaymissions/pamphlet.dm
  code/modules/client/preference/character.dm
  code/modules/mapping/access_helpers.dm
  code/modules/power/engines/tesla/energy_ball.dm
  code/modules/shuttle/shuttle_rotate.dm
  config/example/config.toml
  icons/effects/spawner_icons.dmi
  icons/turf/areas.dmi
  paradise.dme
Labels: Feature, Map Edit, Merge Conflict, Sprites, Configuration Change, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, Requires Wiki Update, CereStation, [MQL] CereStation

#21228 Adds MedHUD Sunglasses to CMO/Paramedic
  code/game/objects/structures/crates_lockers/closets/secure/medical_lockers.dm
Labels: Fix

#20917 Adds ability to auto-follow debris for meteor events
  code/_onclick/hud/follow_alert.dm
  code/modules/events/meteors_event.dm
  paradise.dme
Labels: Feature, Testmerge Requested, -Status: Awaiting merge

#20872 Prescription glasses for all!
  code/modules/clothing/glasses/hudglasses.dm
Labels: Tweak, -Status: Awaiting merge

#20914 Adds Safe Codes to Farragus
  _maps/map_files/cerestation/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge, CereStation, [MQL] CereStation

#20962 Fixes access' around the brig and courtroom
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#20931 Adds public teleporter shutters to box and meta stations
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, MetaStation, BoxStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] MetaStation

#21006 Updates the tracy replay link
  tools/tracy_replay/README.MD
Labels: Documentation, -Status: Awaiting merge

#21048 All living mobs can now go through security holobarrier signs
  code/game/objects/structures/holosigns.dm
Labels: Tweak, -Status: Awaiting merge

#21121 Blood rites refactor
  code/game/gamemodes/cult/blood_magic.dm
Labels: Refactor, Tweak, -Status: Awaiting merge

#21187 Replaces the Kudzu flytrap pod effects sprite
  icons/effects/spacevines.dmi
Labels: Sprites, -Status: Awaiting merge

#21191 Balaclava QOL
  code/modules/clothing/clothing.dm
Labels: Tweak, -Status: Awaiting merge

#21195 Makes the beer keg nuke more realistic
  code/modules/reagents/reagent_dispenser.dm
Labels: Tweak, -Status: Awaiting merge

#21182 Instruction for how to right a vending machine
  code/game/machinery/vendors/vending.dm
Labels: Tweak, -Status: Awaiting merge

#21212 Adds four new labcoats
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/machinery/vendors/wardrobe_vendors.dm
  code/game/objects/items/weapons/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/clothing/suits/labcoat.dm
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#21234 Fixes brig cell lockers not updating their icon when a prisoner is released.
  code/game/machinery/doors/brigdoors.dm
Labels: Fix, -Status: Awaiting merge

#21216 Meido Outfit Sprite Replacement
  icons/mob/clothing/under/costumes.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#21089 Blob is now targetted by turrets
  code/__DEFINES/machines.dm
  code/game/machinery/portable_tag_turret.dm
  code/game/machinery/portable_turret.dm
Labels: Tweak, -Status: Awaiting merge

#21136 Logs wizard spell names instead of initialisms to the DB
  code/game/gamemodes/wizard/spellbook.dm
  code/game/gamemodes/wizard/wizloadouts.dm
  code/modules/unit_tests/purchase_reference_test.dm
  tools/wizard_spell_converter/spell_converter.json
  tools/wizard_spell_converter/spell_converter.py
Labels: Documentation, -Status: Awaiting review

#21243 Fixes a stealth conflict
  code/game/gamemodes/wizard/spellbook.dm
Labels: Fix

#21065 Improved cooldown visualisation on spells with charges
  code/datums/action.dm
  code/datums/spell_cooldown/spell_charges.dm
  code/datums/spell_cooldown/spell_cooldown.dm
Labels: Tweak, -Status: Awaiting review

#21244 Fixes an issue with adding buns to trays
  code/modules/food_and_drinks/food/customizables.dm
Labels: Fix, -Status: Awaiting type assignment

#21245 Fixes an exploit
  code/game/objects/items/weapons/storage/bags.dm
Labels: Fix, Exploit

#21163 [Re-Sprite] New Dectetive Sprites + New Skirt, Black Jumpsuit and Black Jacket!
  code/game/machinery/vendors/wardrobe_vendors.dm
  code/modules/clothing/head/job_hats.dm
  code/modules/clothing/head/misc_hats.dm
  code/modules/clothing/suits/job_suits.dm
  code/modules/clothing/under/jobs/security_jumpsuits.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/drask/under/security.dmi
  icons/mob/clothing/species/grey/gloves.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/grey/under/security.dmi
  icons/mob/clothing/species/kidan/gloves.dmi
  icons/mob/clothing/species/kidan/suit.dmi
  icons/mob/clothing/species/kidan/under/security.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vox/under/security.dmi
  icons/mob/clothing/under/security.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/security.dmi
  paradise.dme
Labels: Feature, Merge Conflict, Sprites, -Status: Awaiting merge, Requires Wiki Update

#21022 Getting thrown into things actually hurts now [ready for review]
  code/game/atoms.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/vendors/vending.dm
  code/game/objects/objs.dm
  code/game/objects/structures/window.dm
  code/game/turfs/turf.dm
  code/modules/events/blob/theblob.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
Labels: Tweak, -Status: Awaiting merge

#21056 Slowdown on pulling
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/machinery/machinery.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/engicart.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/vehicle/ambulance.dm
Labels: Balance, -Status: Awaiting review

#21019 Welders now use 0.5 fuel on attack.
  code/game/objects/items/tools/welder.dm
Labels: Tweak, -Status: Awaiting approval

#21034 Lets the rnd server controller actually have use in blacklisting
  code/modules/research/rdconsole.dm
  code/modules/research/research.dm
  code/modules/research/server.dm
Labels: Feature, -Status: Awaiting review

#20861 [READY] Widescreen
  SQL/paradise_schema.sql
  SQL/updates/48-49.sql
  _maps/map_files/generic/centcomm.dmm
  code/__DEFINES/misc_defines.dm
  code/_onclick/hud/hud_datum.dm
  code/_onclick/hud/parallax.dm
  code/game/gamemodes/miniantags/demons/slaughter demon/slaughter.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/weapons/rpd.dm
  code/game/objects/items/weapons/stock_parts.dm
  code/game/turfs/turf.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/login_processing/10-load_preferences.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/client/view.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/living_life.dm
  code/modules/point/point.dm
  code/modules/projectiles/firing.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/tgui/states/default.dm
  code/modules/tooltip/tooltip.dm
  code/modules/tooltip/tooltip.html
  code/world_definition.dm
  config/example/config.toml
Labels: Feature, Map Edit, SQL Change, Configuration Change, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#20905 Wizard Staves fit in Wizard Robes
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/mob.dm
Labels: Balance, -Status: Awaiting merge

#21246 Fixing infinite fire alarm sounds
  code/datums/looping_sounds/looping_sound.dm
Labels: Fix, -Status: Awaiting type assignment

#21301 Fix(CI): mysqladmin symlink is gone in latest mariadb docker container
  .github/workflows/ci.yml
Labels: Infrastructure, -Status: Awaiting type assignment

#21160 Janicart Speed Exploit Fix
  code/modules/vehicle/janivehicle.dm
Labels: Fix, -Status: Awaiting merge

#21311 Fixes radsuits not working correctly
  code/datums/armor.dm
Labels: Fix, -Status: Awaiting type assignment

#21284 [Icon Fixes] Fixes some missing sprites of Det's Re-Sprite
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
Labels: Fix, Sprites

#20585 Reworks sentient swords
  code/_onclick/click.dm
  code/datums/spells/sentient_sword_lunge.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/modules/mob/living/simple_animal/shade.dm
  icons/mob/actions/actions.dmi
  paradise.dme
Labels: Feature, Sprites, Testmerge Requested, Testmerge Active, -Status: Awaiting merge, Requires Wiki Update

#21239 organs no longer gain germs while in a changeling egg/headslug
  code/modules/antagonists/changeling/powers/become_headslug.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
  code/modules/surgery/organs/organ.dm
Labels: Fix, -Status: Awaiting merge

#21298 Revert "Airlocks now smooth with walls and windows."
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_reinforced.dm
Labels: Revert/Feature Removal, -Status: Awaiting merge

#21322 Scrying orb sprite
  code/game/gamemodes/wizard/artefact.dm
  icons/obj/wizard.dmi
Labels: Sprites, -Status: Awaiting merge

#21321 Prevents adding a head with a second brain to a body
  code/modules/surgery/limb_reattach.dm
Labels: Fix, -Status: Awaiting merge

#21308 Fix: Cyborgs can use quantum pads again
  code/game/machinery/quantum_pad.dm
Labels: -Status: Awaiting merge

#21305 TG dorms fitness equipment sprites
  icons/goonstation/objects/fitness.dmi
Labels: Sprites, -Status: Awaiting merge

#21304 Polishes door control buttons with a new but still soulful sprite
  icons/obj/stationobjs.dmi
Labels: Sprites, -Status: Awaiting merge

#21303 Ports better looking pills and droppers from TG
  icons/obj/chemical.dmi
Labels: Sprites, -Status: Awaiting merge

#21293 power fist no longer works when user is pacified
  code/game/objects/items/weapons/powerfist.dm
Labels: Fix, -Status: Awaiting merge

#21270 Adds units (rads) to geiger counter readout
  code/game/objects/items/devices/geiger_counter.dm
Labels: Tweak, -Status: Awaiting merge

#21260 Fixes Shuttle Parallax
  code/_onclick/hud/parallax.dm
Labels: Fix, -Status: Awaiting merge

#21266 Fixes AI Restore Power Routine
  code/modules/mob/living/silicon/ai/ai_life.dm
  code/modules/tgui/states.dm
Labels: Fix, -Status: Awaiting merge

#21263 Fixes an issue with turrets not updating on roundstart
  code/game/machinery/turret_control.dm
Labels: Fix, -Status: Awaiting merge

#21274 Buffs Cyborgificaiton machine for malf AI
  code/game/machinery/transformer.dm
Labels: Balance, -Status: Awaiting merge

#21268 Gives psychologist a garment bag
  code/game/objects/items/weapons/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical_lockers.dm
Labels: Tweak, -Status: Awaiting merge

#21249 Decreases the price of CQC to 10tc, CQC can now be discounted
  code/datums/uplink_items/uplink_traitor.dm
Labels: Balance, -Status: Awaiting merge

#21247 adds detective to sleek veil whitelist
  code/modules/client/preference/loadout/loadout_racial.dm
Labels: Tweak, -Status: Awaiting merge

#21230 Reduces Solar Crate Price from 250 to 100
  code/modules/supply/supply_packs/pack_engineering.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#21226 TGUI - Turbine
  code/modules/power/generators/turbine.dm
  tgui/packages/tgui/interfaces/TurbineComputer.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface, TGUI, -Status: Awaiting merge

#21222 Lets you click the blob overmind
  code/modules/events/blob/overmind.dm
Labels: Fix, -Status: Awaiting merge

#21219 Throw mode changes client cursor when activated
  code/modules/mob/living/carbon/carbon.dm
Labels: Tweak, -Status: Awaiting merge

#21214 dchat now gets an alert on what jobs have changed in Bureaucratic error
  code/modules/events/bureaucratic_error.dm
Labels: Tweak, -Status: Awaiting merge

#21213 PAI Borgi Sprite Replacements
  icons/mob/pai.dmi
Labels: Sprites, -Status: Awaiting merge

#21211 players no longer hear a malf ai hack an apc
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Tweak, -Status: Awaiting merge

#21207 Adds the "Ingredient Crate"
  code/modules/supply/supply_packs/pack_organic.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#21206 the lathe hack wire now really only gives illegal stuff
  code/modules/research/designs/autolathe_designs.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#21189 improves clarification on having martial arts as a non carbon
  code/__DEFINES/mob_defines.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/martial_arts/martial.dm
Labels: Tweak, -Status: Awaiting merge

#21169 Fractional slowdown under 0.5 no longer slows you, reduces damage neded to slow instead
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Balance, -Status: Awaiting merge

#20894 Adds Ability to Emag the AI upload console
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/law.dm
  icons/obj/module.dmi
Labels: Feature, Sprites, -Status: Awaiting review, Requires Wiki Update

#21184 Digital Camouflage now makes you fully invisible to the AI
  code/__DEFINES/sight.dm
  code/modules/antagonists/changeling/powers/digitalcamo.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#21186 Reverts give chitinous armor durability. Gibbers can now accept clothed people, but take more time if clothed.
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
Labels: Merge Conflict, Revert/Feature Removal, Balance, -Status: Awaiting merge

#21341 limbs can be attached to bodies again
  code/modules/surgery/limb_reattach.dm
Labels: Fix

#20993 Blood now floats in zero G
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc_cleanables.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/decals/cleanable.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/mob_vars.dm
  code/modules/surgery/organs/blood.dm
  icons/effects/blood_weightless.dmi
Labels: Feature, Sprites, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#21309 Blacklists some other bottles from silver slimes
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Tweak, -Status: Awaiting merge

#21300 Uplink Stechkins Now Come with Two Spare Mags
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#21307 Prevents Silver Extract reaction from generating Everfull Mugs
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Merge Conflict, Tweak, -Status: Awaiting merge

#21196 New sprite for the inflatables box
  icons/obj/storage.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#21227 Synditele kit now comes with chameleon mesons
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/items/devices/traitordevices.dm
  code/modules/clothing/chameleon.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#21199 Persistent data saves at round end instead of server restart
  code/controllers/subsystem/SSticker.dm
  code/controllers/subsystem/non_firing/SSpersistent_data.dm
Labels: Tweak, -Status: Awaiting merge

#21101 2-way server heartbeats (plus bonus DMAPI update)
  code/__DEFINES/tgs.dm
  code/controllers/subsystem/SSheartbeat.dm
  code/datums/tgs_event_handler.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/core/tgs_datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/README.md
  code/modules/tgs/v4/README.md
  code/modules/tgs/v4/v4_api.dm
  code/modules/tgs/v4/v4_commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/_v5_defines.dm
  code/modules/tgs/v5/v5_api.dm
  code/modules/tgs/v5/v5_bridge.dm
  code/modules/tgs/v5/v5_chunking.dm
  code/modules/tgs/v5/v5_commands.dm
  code/modules/tgs/v5/v5_interop_version.dm
  code/modules/tgs/v5/v5_serializers.dm
  code/modules/tgs/v5/v5_topic.dm
  code/modules/tgs/v5/v5_undefs.dm
  paradise.dme
Labels: Administration, -Status: Awaiting review

#21070 allows med borgs to pet nymphs and mice
  code/game/objects/items/robot/robot_items.dm
Labels: Fix, -Status: Awaiting review

#21251 You can now help intent click on people to complete a dap, highfive, or handshake
  code/datums/status_effects/status_effect.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Tweak, -Status: Awaiting review

#20958 fixes applying and removing pandora's hope effect
  code/modules/mob/living/simple_animal/hostile/mining/elites/pandora.dm
Labels: Fix, -Status: Awaiting merge

#21386 Makes machinery properly consume power on use
  code/game/machinery/machinery.dm
  code/game/machinery/portable_turret.dm
Labels: Fix

#21357 removes a debug check that I forgot to cut
  code/datums/spells/summon_supermatter.dm
Labels: Fix

#21348 Fixes penlights being unable to write
  code/modules/paperwork/paper.dm
Labels: Fix, -Status: Awaiting merge

#21371 Whitespace cleanup part 6.
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/weapons/dice.dm
  code/modules/clothing/shoes/misc_shoes.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
Labels: Code Improvement, -Status: Awaiting merge

#21402 Sarin now works overdosed again
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Fix, -Status: Awaiting merge

#21205 Space Ruin: Voyager
  _maps/map_files/RandomRuins/SpaceRuins/voyager.dmm
  code/datums/ruins/space_ruins.dm
  code/modules/ruins/spaceruin_code/voyager.dm
  config/example/config.toml
  icons/obj/space/voyager.dmi
  paradise.dme
Labels: Map Edit, Sprites, Configuration Change, -Status: Awaiting merge

#21271 [TGUI] Botany plant DNA manipulator
  code/modules/hydroponics/gene_modder.dm
  code/modules/hydroponics/plant_genes.dm
  tgui/packages/tgui/interfaces/GeneModder.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, User Interface, TGUI, -Status: Awaiting merge

#21273 Refactors rocket launchers, adds it to nukie uplink
  code/datums/uplink_items/uplink_nuclear.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/guns/rocket.dm
  code/modules/projectiles/projectile/special_projectiles.dm
Labels: Refactor, Tweak, -Status: Awaiting merge

#21280 Improved body scanner printouts
  code/game/machinery/adv_med.dm
Labels: Grammar and Formatting, Tweak, -Status: Awaiting merge

#21291 Remakes the Mech Transport space ruin
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
Labels: Map Edit, -Status: Awaiting merge

#21292 Universal self assembling gun part kit
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/modules/crafting/guncrafting.dm
  icons/obj/improvised.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#21306 Resprites arcade tickets/stacks
  icons/obj/arcade.dmi
Labels: Sprites, -Status: Awaiting merge

#21325 Makes soul stones that are supposed to be usable by everyone actually usable by everyone
  code/game/gamemodes/wizard/soulstone.dm
Labels: Fix, -Status: Awaiting merge

#21334 fixes some lesser drake weirdness
  code/datums/spells/shapeshift.dm
Labels: -Status: Awaiting merge

#21335 Switch thermomachines to Initialize
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Fix, Refactor, -Status: Awaiting merge

#21336 makes resin doors a tad less jank
  code/game/objects/structures/aliens.dm
Labels: -Status: Awaiting merge

#21337 You can no longer get the supermatter sliver objective if the station does not have a supermatter
  code/_globalvars/misc_globals.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/steal_items.dm
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Refactor, Tweak, -Status: Awaiting merge

#21342 Heck typo
  code/modules/mining/equipment/explorer_gear.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#21351 Airlock wires panel no more pop ups when you're trying to open it
  code/game/machinery/doors/airlock.dm
Labels: Tweak, -Status: Awaiting merge

#21299 Improves illusions, nerfs stealth armor
  code/modules/clothing/suits/armor_suits.dm
  code/modules/mob/living/simple_animal/hostile/illusion.dm
Labels: Balance, -Status: Awaiting merge

#21363 Alert for mech connecting to an atmos connector is now properly cleared/thrown on exit/enter.
  code/game/mecha/mecha.dm
Labels: -Status: Awaiting merge

#21365 Prevents pulling anchored objects along while veil shifting
  code/game/gamemodes/cult/cult_items.dm
Labels: Fix, -Status: Awaiting merge

#21366 Allows unbuckling mobs from an operating table even if it is depowered.
  code/game/machinery/OpTable.dm
Labels: Fix, -Status: Awaiting merge
