Repository ParadiseSS13/Paradise, pull requests merged in 2023-03, with the labels that each got.

#20438 Dignitary drip - Magistrate, NT Rep, Blueshield
  code/game/jobs/job/supervisor.dm
  code/game/objects/items/weapons/storage/garment.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/misc_gloves.dm
  code/modules/clothing/head/job_hats.dm
  code/modules/clothing/suits/job_suits.dm
  code/modules/clothing/suits/misc_suits.dm
  code/modules/clothing/under/centcom.dm
  code/modules/clothing/under/jobs/civilian.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/drask/under/centcom.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/grey/under/centcom.dmi
  icons/mob/clothing/species/kidan/gloves.dmi
  icons/mob/clothing/species/kidan/suit.dmi
  icons/mob/clothing/species/kidan/under/centcom.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vox/under/centcom.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/centcom.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/centcom.dmi
  icons/obj/items.dmi
Labels: Merge Conflict, Sprites, Tweak, -Status: Awaiting merge

#20444 fixes a lightgeist runtime + possible qdel loop
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Fix, -Status: Awaiting merge

#20060 Tipping vending machines for freebies and/or crushes
  code/datums/components/squish.dm
  code/game/machinery/vendors/generic_vendors.dm
  code/game/machinery/vendors/vending.dm
  code/game/machinery/vendors/vendor_crits.dm
  paradise.dme
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20327 Refactors revolution code to be a little less of a mess
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/objects/items/devices/flash.dm
  code/modules/mob/living/living.dm
Labels: Refactor, -Status: Awaiting merge

#20117 Makes Pets faster, cat improvements.
  code/datums/keybindings/emote.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/friendly_emote.dm
  code/modules/mob/living/simple_animal/friendly/pet.dm
  icons/mob/pets.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#20346 Deluxe soap for ERT
  code/game/objects/items/weapons/storage/belt.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update

#20484 Updates cells, cell chargers, and cable coils
  code/game/machinery/cell_charger.dm
  icons/mob/screen_hunger_machine.dmi
  icons/obj/power.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#20490 Prevents large E-bows from being holstered
  code/modules/projectiles/guns/energy/special_eguns.dm
Labels: Balance, -Status: Awaiting merge

#20415 Suppressors now can be attached to toy guns
  code/modules/projectiles/guns/projectile/toy.dm
  code/modules/projectiles/guns/projectile_gun.dm
  icons/obj/guns/toy.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#20482 Adds wire interface implant
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/datums/wires/wires.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering_lockers.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/response_team/ert_outfits.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: Feature, -Status: Awaiting review, Requires Wiki Update

#20449 Removes the RCD from engi borgs base kit, and replaces it with a module upgrade
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Tweak, -Status: Awaiting review

#20531 Fixes Ian and Runtime not GCing
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
Labels: GC Related, -Status: Awaiting review

#20460 Reduces heat damage for Drasks from 300% to 200%.
  code/modules/mob/living/carbon/human/species/drask.dm
Labels: Balance, -Status: Awaiting merge

#20514 Fixes wrongly set var on mixing bowls
  code/game/objects/items/mixing_bowl.dm
Labels: Fix, -Status: Awaiting merge

#20430 Fixes mob spawners not respecting antag jobbans
  code/modules/awaymissions/corpse.dm
Labels: Fix, Exploit, Administration, -Status: Awaiting review

#20537 Reduces Gun-kit weapon crafting time
  code/modules/crafting/recipes.dm
Labels: Tweak, -Status: Awaiting merge

#20311 Eyes of the gods no longer sees ghosts.
  code/game/dna/mutations/mutation_powers.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/modules/mob/mob.dm
  code/modules/surgery/organs/eyes.dm
Labels: Tweak, -Status: Awaiting merge

#20525 actually makes new players fully GC
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/new_player_logout.dm
Labels: GC Related, -Status: Awaiting merge

#20552 fixes a vendor alert bug
  code/game/machinery/vendors/vendor_crits.dm
Labels: Fix, -Status: Awaiting merge

#20379 combat defib tweaks, moved out of the medikit
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20399 the mime's force wall is now destructible
  code/datums/spells/mime.dm
  code/game/objects/effects/forcefields.dm
Labels: Balance, -Status: Awaiting merge

#20434 Reorganizes and Adds Items to the Clothing Vendors V2
  code/game/machinery/vendors/generic_vendors.dm
  code/game/machinery/vendors/wardrobe_vendors.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20389 The attempts to diagnose asay/msay dropouts
  code/controllers/subsystem/redis.dm
  code/game/gamemodes/game_mode.dm
Labels: Fix, Testmerge Active, -Status: Awaiting review

#20443 fixes ais being able to control apcs with ai control off and borgs runtiming when attempting to do so
  code/modules/power/apc/apc.dm
Labels: Fix, -Status: Awaiting merge

#20467 Fixes air alarm scrubbing mode
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Fix, -Status: Awaiting merge

#20469 Fixes indestructible window smoothing
  code/game/turfs/simulated/walls_indestructible.dm
Labels: Fix, -Status: Awaiting merge

#20474 Adds more robust labeller/rename logging
  code/__DEFINES/misc_defines.dm
  code/game/atoms.dm
  code/modules/paperwork/handlabeler.dm
Labels: Administration, -Status: Awaiting merge

#20553 Forcemoves, instead of setting loc, for ghost notifications.
  code/_onclick/hud/alert.dm
Labels: Fix, -Status: Awaiting merge

#20478 makes APCs gc and fixes an APC destroy issue
  code/modules/power/apc/apc.dm
Labels: Fix, -Status: Awaiting merge

#20240 Prevents readying up in invalid state
  code/modules/mob/new_player/new_player.dm
Labels: Tweak, -Status: Awaiting merge

#20313 Makes the armblade handle more like the fireaxe with opening doors
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Tweak, -Status: Awaiting merge

#20426 Better pizza bomb logging
  code/modules/food_and_drinks/food/foods/pizza.dm
Labels: Administration, -Status: Awaiting merge

#20450 harvesters are now glass cannons
  code/modules/mob/living/simple_animal/constructs.dm
Labels: Balance, -Status: Awaiting merge

#20485 objective items being destroyed are now logged
  code/game/objects/items.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/documents.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Administration, -Status: Awaiting review

#20491 fixes a null material runtime
  code/datums/components/material_container.dm
Labels: Fix, -Status: Awaiting merge

#20492 fixes default blocks not being carried over through Clone()
  code/game/dna/dna2.dm
Labels: Fix, -Status: Awaiting merge

#20497 Space cleaner works on IPCs
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Fix, -Status: Awaiting merge

#20498 improved admin logging for chembombs
  code/game/objects/items/weapons/grenades/chem_grenade.dm
Labels: Administration, -Status: Awaiting merge

#20190 Fixes Garbage Collection issues with Xenobiology
  code/game/objects/items/devices/scanners.dm
  code/modules/food_and_drinks/kitchen_machinery/monkeyrecycler.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/mob/living/simple_animal/slime/slime_death.dm
  code/modules/mob/living/simple_animal/slime/slime_mob.dm
  code/modules/mob/living/simple_animal/slime/slime_powers.dm
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: GC Related, -Status: Awaiting merge

#20593 improves storage GCing
  code/modules/mob/mob.dm
Labels: GC Related, -Status: Awaiting review

#20376 fixes mob/living mind gc issues
  code/modules/mob/living/living.dm
Labels: GC Related, -Status: Awaiting merge

#20556 Fixes facehuggers trying to attach to golems' face
  code/modules/mob/living/carbon/human/species/golem.dm
Labels: Fix, -Status: Awaiting merge

#20558 Fixes some runtimes in the floor cluwne event
  code/modules/surgery/organs/organ_external.dm
Labels: Fix, -Status: Awaiting merge

#20559 Deletes the "Jump to mob" verb from ghosts
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost_hud.dm
  code/modules/mob/dead/observer/observer_base.dm
Labels: Tweak, -Status: Awaiting merge

#20546 Fixes dish drive beam
  code/game/machinery/dish_drive.dm
Labels: Fix, -Status: Awaiting merge

#20566 Fixes Thermo-Machine Power Consumption
  code/game/machinery/machinery.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Fix, -Status: Awaiting merge

#20619 Limits combat defib to nuclear operative uplinks.
  code/datums/uplink_item.dm
Labels: Fix

#20576 Allows you to mute soundfiles from specific admins
  SQL/paradise_schema.sql
  SQL/updates/45-46.sql
  code/__DEFINES/misc_defines.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/client/client_procs.dm
  code/modules/client/login_processing/10-load_preferences.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/client/preference/preferences_toggles.dm
  config/example/config.toml
Labels: Feature, SQL Change, Configuration Change, -Status: Awaiting merge

#20611 fixes borgs not being able to use APCs
  code/modules/power/apc/apc.dm
Labels: Fix, -Status: Awaiting merge

#20493 Adds soap for medical ERT
  code/modules/response_team/ert_outfits.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#20516 Helper crystal is now a point of interest
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Tweak, -Status: Awaiting merge

#20538 Prevents spawning of off-station mobs
  code/modules/mob/mob.dm
Labels: Tweak, -Status: Awaiting merge

#20562 Ashes no longer tell you what they used to be on examine.
  code/game/objects/items.dm
Labels: Tweak, -Status: Awaiting merge

#20564 Floor cluwne now drops the false cluwne mask
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
Labels: Tweak, -Status: Awaiting merge

#20569 Buffs summon magic and summon guns
  code/game/gamemodes/wizard/spellbook.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20570 Declaring War Now Sets Gamma Alert
  code/game/gamemodes/nuclear/nuclear_challenge.dm
Labels: Tweak, -Status: Awaiting merge

#20561 Ert medic kit rework
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/response_team/ert_outfits.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20304 initializes obj/random
  code/game/objects/random/random.dm
Labels: Refactor, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#20451 Fixes a bug that allowed turret guns to be fired by mobs.
  code/game/gamemodes/wizard/rightandwrong.dm
  code/modules/mob/living/living.dm
Labels: Balance, -Status: Awaiting merge

#20481 Ports SS220 AutoComplete for Documents
  code/modules/paperwork/paper.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#20494 malf drones get zeroth law alerts again
  code/modules/mob/living/silicon/robot/robot_laws.dm
Labels: Fix, -Status: Awaiting merge

#20495 makes crusher+accelerator upgrades gc and fixes a ghost upgrade issue
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix, -Status: Awaiting merge

#20496 Fixes runtimes with less than 2 proc arguments runtiming
  code/modules/error_handler/error_handler.dm
Labels: Fix, -Status: Awaiting merge

#20501 fixes a forcebolt runtime
  code/modules/projectiles/projectile/force.dm
Labels: Fix, -Status: Awaiting merge

#20502 Fixes runtime with Chitinous Armor being punched
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Fix, -Status: Awaiting merge

#20511 Fixes wonky cinematics
  code/controllers/subsystem/ticker.dm
  icons/effects/station_explosion.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#20468 Adds more QoL logs for admins
  code/controllers/subsystem/jobs.dm
  code/datums/mind.dm
  code/game/gamemodes/blob/blob_mode.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/wizard/raginmages.dm
  code/game/gamemodes/wizard/wizard.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/events/sentience.dm
  code/modules/events/traders.dm
Labels: Administration, -Status: Awaiting merge

#20518 Fix #20348 Cursed clown suit now appears properly on people
  code/modules/clothing/under/misc_jumpsuits.dm
Labels: Fix, -Status: Awaiting merge

#20522 Silver slime cores don't spawn placeholder snacks
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Fix, -Status: Awaiting merge

#20524 Food Cart now correctly no longer uses power.
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Fix, -Status: Awaiting merge

#20526 Fixes venus human trap cooldown
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
Labels: Fix, -Status: Awaiting merge

#20609 deletes some unused variables
  code/_globalvars/game_modes.dm
  code/_globalvars/genetics.dm
  code/game/gamemodes/setupgame.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/objects/items/weapons/mop.dm
Labels: Refactor, -Status: Awaiting merge

#20544 adjusts the visible message for weedinvasion proc
  code/modules/hydroponics/hydroponics_tray.dm
Labels: Fix, -Status: Awaiting merge

#20565 Fixes a runtime with mindless revolutionaries
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix, -Status: Awaiting merge

#20567 Fixes organ removal mid-surgery causing stuck surgeries
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/surgery.dm
Labels: Fix, -Status: Awaiting merge

#20572 Fixes false alarm event
  code/modules/events/false_alarm.dm
Labels: Fix, -Status: Awaiting merge

#20580 Vendor head squishes now use more consistent gib colors
  code/game/machinery/vendors/vendor_crits.dm
Labels: Fix, -Status: Awaiting merge

#20594 Makes transparent mineral doors work
  code/game/objects/structures/mineral_doors.dm
Labels: Fix, -Status: Awaiting merge

#20638 Fixes paper fields
  code/modules/paperwork/paper.dm
Labels: Fix, -Status: Awaiting type assignment

#20628 Nukes karma
  SQL/paradise_schema.sql
  SQL/updates/46-47.sql
  code/__DEFINES/genetics.dm
  code/__DEFINES/karma.dm
  code/__DEFINES/misc_defines.dm
  code/__DEFINES/preferences.dm
  code/__HELPERS/_logging.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/misc_lists.dm
  code/_globalvars/lists/mob_lists.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/sections/general_configuration.dm
  code/datums/diseases/kingstons.dm
  code/game/jobs/whitelist.dm
  code/game/objects/structures/mirror.dm
  code/game/world.dm
  code/modules/admin/misc_admin_procs.dm
  code/modules/admin/topic.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/login_processing/42-karma_numbers.dm
  code/modules/client/login_processing/43-karma_unlocks.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/karma/karma.dm
  code/modules/karma/karma_holder.dm
  code/modules/karma/karma_packages.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/species/abductor_species.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/shadow.dm
  code/modules/mob/living/carbon/human/species/skeleton_species.dm
  code/modules/mob/living/carbon/human/species/slimepeople.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/shuttle/emergency.dm
  config/example/config.toml
  interface/skin.dmf
  paradise.dme
  tgui/packages/tgui/interfaces/KarmaShop.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Revert/Feature Removal, SQL Change, Configuration Change, TGUI, -Status: Awaiting merge, Requires Wiki Update

#20606 Decreases Lasershot Variance
  code/modules/projectiles/ammunition/ammo_casings.dm
Labels: Balance, -Status: Awaiting merge

#20472 Pops up a little bubble when you're requesting a high-five, along with some other emotes
  code/__DEFINES/status_effects.dm
  code/datums/keybindings/emote.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/items/hand_item.dm
  code/modules/mob/living/carbon/human/human_emote.dm
  code/modules/point/point.dm
Labels: Tweak, -Status: Awaiting review

#20375 Reworks Cling Hivemind
  code/datums/mind.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/datum_changeling.dm
  code/modules/antagonists/changeling/powers/hivemind.dm
  code/modules/antagonists/changeling/powers/linglink.dm
  code/modules/mob/language.dm
  paradise.dme
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20583 Resprites gibber, food processor, grinder, bottler.
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  icons/obj/kitchen.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#20337 Gives the teleporter gun an in-hand sprite
  code/modules/projectiles/guns/energy/telegun.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
Labels: Sprites, -Status: Awaiting merge

#20505 Gives fleshmend a weakness to cold
  code/datums/status_effects/buffs.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20314 Nukes detailed examine
  code/game/gamemodes/cult/cult_items.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/game/objects/items/stacks/telecrystal.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/bee_briefcase.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/melee/energy_melee_weapons.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/turfs/simulated/walls.dm
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/valve.dm
  code/modules/atmospherics/machinery/components/trinary_devices/tvalve.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/other/meter.dm
  code/modules/atmospherics/machinery/pipes/cap.dm
  code/modules/atmospherics/machinery/pipes/manifold.dm
  code/modules/atmospherics/machinery/pipes/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/pipe.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_he.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_hidden.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_insulated.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_visible.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/suits/misc_suits.dm
  code/modules/examine/examine_procs.dm
  code/modules/mob/living/silicon/robot/drone/maint_drone.dm
  code/modules/mob/mob.dm
  code/modules/pda/cart.dm
  code/modules/power/apc/apc.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/energy_guns.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile_gun.dm
  paradise.dme
Labels: Revert/Feature Removal, Tweak, -Status: Awaiting merge

#20573 Ports TG Fake virus event
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/modules/events/event_container.dm
  code/modules/events/fake_virus.dm
  paradise.dme
Labels: Feature, -Status: Awaiting review, Requires Wiki Update

#20664 Fixes body scanner's circuit color
  code/game/machinery/constructable_frame.dm
Labels: Fix, -Status: Awaiting type assignment

#20668 Fixes vendors not updating icons when depowered
  code/game/machinery/vendors/vending.dm
Labels: -Status: Awaiting type assignment

#20639 Adds a death alarm for ERT Jani Red
  code/modules/response_team/ert_outfits.dm
Labels: Balance, -Status: Awaiting merge

#20453 Donk Pocket Cooling 2: The Reworkening
  code/datums/recipe.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/crafting/recipes.dm
  code/modules/food_and_drinks/food/foods/misc_food.dm
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  icons/obj/storage.dmi
Labels: Sprites, Balance, -Status: Awaiting merge

#20683 Fixes a nuke exploit/bug
  code/game/gamemodes/nuclear/nuclearbomb.dm
Labels: Fix

#20694 adds empty donk box to crafting menu
  code/modules/crafting/recipes.dm
Labels: Fix

#20414 Refactors becoming a mouse
  code/modules/mob/mob.dm
Labels: Tweak, -Status: Awaiting merge

#20539 Adds a cooldown for setting alert level through comms console
  code/game/machinery/computer/communications.dm
Labels: Tweak, -Status: Awaiting merge

#20695 fixes gutlunch udders not properly GCing
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/mining/gutlunch.dm
Labels: -Status: Awaiting type assignment

#20685 fixes cult stuff not returning a qdel hint
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_structures.dm
Labels: Refactor, -Status: Awaiting merge

#20653 fixes syndikey gc issues
  code/game/objects/items/devices/radio/headset.dm
Labels: GC Related, -Status: Awaiting review

#20640 You can now change the amount of barber job slots
  code/game/machinery/computer/card.dm
  code/modules/newscaster/obj/newscaster.dm
Labels: Tweak, -Status: Awaiting merge

#20545 Ports the Bluespace Light Replacer from BeeStation
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/research/designs/janitorial_designs.dm
  code/modules/response_team/ert_outfits.dm
  icons/obj/janitor.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#20615 blows up pancakes with mind
  code/modules/food_and_drinks/food/foods/baked_goods.dm
Labels: Feature, -Status: Awaiting review

#20626 adds a message notice that you can no longer move as a slime
  code/modules/mob/living/simple_animal/slime/slime_life.dm
Labels: Tweak, -Status: Awaiting merge

#20303 Stun batons and Stun prods that are turned on cannot be stored
  code/game/objects/items/weapons/stunbaton.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#20541 Alternative to Darklight, Shadowcocoon
  code/game/gamemodes/miniantags/demons/shadow_demon/shadow_demon.dm
  icons/obj/objects.dmi
Labels: Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#20630 Smuggler's satchel now fits in Bag of Holding
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/storage_base.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update

#20629 You can now sweep into janicarts trash bags
  code/game/objects/items/weapons/twohanded.dm
Labels: Tweak, -Status: Awaiting merge

#20706 IPCs can no longer get fake viruses
  code/modules/events/fake_virus.dm
Labels: Fix, -Status: Awaiting merge

#20435 Cere station fix/tweak collection
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge, CereStation, [MQL] CereStation

#20462 ID Card Console tweaks
  code/controllers/subsystem/jobs.dm
  code/game/machinery/computer/card.dm
  tgui/packages/tgui/interfaces/CardComputer.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge

#20713 Bug and exploit fixes
  code/game/gamemodes/steal_items.dm
  code/game/machinery/OpTable.dm
  code/game/verbs/suicide.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Fix, High Priority, Exploit

#20602 Adds the Security Laser Rifle
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/supply/supply_packs/pack_security.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: Feature, Sprites, Balance, Testmerge Requested, -Status: Awaiting review, Requires Wiki Update

#20708 PDA ID fix
  code/modules/pda/PDA.dm
  code/modules/pda/app.dm
Labels: Fix, -Status: Awaiting merge

#20707 Fixed a runtime preventing the crafting of donk pocket boxes
  code/modules/crafting/recipes.dm
Labels: Fix, -Status: Awaiting merge

#20705 Fixes an oversight with head shake/shake keybind
  code/datums/keybindings/emote.dm
Labels: Fix, -Status: Awaiting merge

#20698 Burning pAIs have a proper overlay
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Fix, -Status: Awaiting merge

#20697 Fixes cooking machines making a runtime whenever they process a reagent without a normal reaction
  code/modules/reagents/chemistry/reagents_holder.dm
Labels: Fix, -Status: Awaiting merge

#20696 fixes duplicated examine text on grills
  code/game/objects/structures/grille.dm
Labels: Fix, -Status: Awaiting merge

#20679 Emagged deepfryer no longer tries to deepfry grabs
  code/modules/food_and_drinks/kitchen_machinery/cooker.dm
Labels: Fix, -Status: Awaiting merge

#20678 Supply crate item stack fix
  code/modules/supply/supply_pack.dm
Labels: Fix, -Status: Awaiting merge

#20675 fixes a cult construct death runtime
  code/game/gamemodes/cult/cult_mode.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/shade.dm
Labels: Fix, -Status: Awaiting merge

#20672 makes revive runes not kick out the dead in some cases
  code/game/gamemodes/cult/runes.dm
Labels: Fix, -Status: Awaiting merge

#20670 Properly charge IPC/IRCs in borg charger to full.
  code/game/machinery/rechargestation.dm
Labels: Fix, -Status: Awaiting merge

#20642 Removes slime people and kidan from the syndicate M.A.G.I.C mirror
  code/game/objects/structures/mirror.dm
Labels: Fix, -Status: Awaiting merge

#20637 Adds internal turrets to the nuclear operative ship
  _maps/map_files/generic/centcomm.dmm
  code/game/machinery/portable_turret.dm
Labels: Map Edit, Balance, -Status: Awaiting merge

#20636 gives constructs an intent swapping hud
  code/_onclick/hud/constructs.dm
Labels: -Status: Awaiting merge

#20617 Fixes some issues with ghosts pointing
  code/_onclick/observer_onclick.dm
  code/modules/mob/dead/observer/observer_base.dm
Labels: Fix, -Status: Awaiting merge

#20614 Renames Strange Reagent to Lazarus Reagent
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/bee_briefcase.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/reagents/reagent_containers/bottle.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20613 most reagent dispensers are no longer automatically anchored
  code/modules/reagents/reagent_dispenser.dm
Labels: Tweak, -Status: Awaiting merge

#20581 Janiborgs can no longer use floor buffer for massive speedboost
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Fix, Exploit, -Status: Awaiting merge

#20607 Medical Wrench suicide now glows brightly
  code/game/objects/items/tools/wrench.dm
Labels: Tweak, -Status: Awaiting merge

#20597 Fixes Vox MMI sprite
  icons/obj/species_organs/vox.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#20603 Tweaks comms/request console notification sounds
  code/defines/procs/announcer_datum.dm
  sound/misc/announce.ogg
Labels: Sound, -Status: Awaiting merge

#20595 Syndie depot NPCs do not point at their fallen targets
  code/modules/mob/living/simple_animal/hostile/syndicate_mobs.dm
Labels: Tweak, -Status: Awaiting merge

#20591 Improves logging on vending machine crushes
  code/game/machinery/vendors/vending.dm
Labels: Administration, -Status: Awaiting merge

#20588 Ports a load of Pigeonverde322 sprites from beestation
  code/game/objects/items/stacks/medical_packs.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/telecrystal.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/misc_items.dm
  code/modules/mining/equipment/marker_beacons.dm
  code/modules/mining/ores_coins.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/telesci/bscrystal.dm
  icons/obj/chairs.dmi
  icons/obj/items.dmi
  icons/obj/mining.dmi
  icons/obj/stacks/minerals.dmi
  icons/obj/stacks/miscellaneous.dmi
  icons/obj/stacks/ores.dmi
  icons/obj/stacks/organic.dmi
  icons/obj/telescience.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#20680 Ant goes to optometrist: new eyewear sprites for Kidan
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hudglasses.dm
  code/modules/clothing/patreon/glasses.dm
  icons/mob/clothing/species/kidan/eyes.dmi
Labels: Sprites, -Status: Awaiting merge

#20579 Fixes some tool interactions for IPC surgeries
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/implant_removal.dm
Labels: Fix, -Status: Awaiting merge, Requires Wiki Update

#20575 Fixes chasms showing lattice or lava when affected by an explosion
  code/game/turfs/simulated/floor/chasm.dm
Labels: Fix, -Status: Awaiting merge

#20554 Fix SM (and some other) follow links
  code/game/machinery/cloning.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/collar.dm
  code/game/objects/items/devices/radio/radio_objects.dm
  code/modules/mining/laborcamp/laborshuttle.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  code/modules/security_levels/keycard_authentication.dm
Labels: Fix, -Status: Awaiting merge

#20550 Adds new sounds when sweeping and mopping
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/twohanded.dm
  sound/weapons/mopping1.ogg
  sound/weapons/mopping2.ogg
  sound/weapons/sweeping.ogg
Labels: Sound, Tweak, -Status: Awaiting merge

#20549 adds a blob act to mineral/ancient turfs
  code/game/turfs/simulated/minerals.dm
Labels: Fix, -Status: Awaiting merge

#20477 Box: Merge tiles that are duplicates aside from z-order.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#20471 Buffs Mediborg abductor module to affect medihypo
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Balance, -Status: Awaiting merge

#20499 Simple syndi-cakes sprite rework.
  icons/obj/food/food.dmi
  icons/obj/trash.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#20503 Distinguish between plating turf layer and floor turf layer.
  code/__DEFINES/layers.dm
  code/game/objects/structures/safe.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/atmospherics/machinery/components/binary_devices/binary_atmos_base.dm
  code/modules/atmospherics/machinery/components/trinary_devices/trinary_base.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/passive_vent.dm
  code/modules/atmospherics/machinery/components/unary_devices/portables_connector.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/other/meter.dm
  code/modules/atmospherics/machinery/pipes/cap.dm
  code/modules/atmospherics/machinery/pipes/manifold.dm
  code/modules/atmospherics/machinery/pipes/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_he.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_hidden.dm
  code/modules/atmospherics/machinery/pipes/simple/pipe_simple_visible.dm
  code/modules/power/terminal.dm
Labels: Fix, -Status: Awaiting merge

#20508 Adds 3 new tattoos for the Grey species
  code/modules/mob/new_player/sprite_accessories/grey/grey_body_markings.dm
  icons/mob/sprite_accessories/grey/grey_body_markings.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#20717 Fixes missing stacks, wonky ORM icons
  code/game/objects/items/stacks/stack.dm
  code/modules/client/asset_cache.dm
  tgui/packages/tgui/interfaces/OreRedemption.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting type assignment, I am unable to can

#20718 Fixes watcher sinew being invisible when you have more than one
  code/game/objects/items/stacks/sheets/leather.dm
Labels: Fix

#20479 Fixes gamma armoury hatch cheese
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/datums/spells/knock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/poddoor.dm
  code/modules/admin/misc_admin_procs.dm
Labels: Map Edit, MetaStation, BoxStation, Tweak, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation
