Repository ParadiseSS13/Paradise, pull requests merged in 2023-05, with the labels that each got.

#20582 Adds the bureaucratic error event
  code/game/jobs/job/central.dm
  code/game/jobs/job/support_chaplain.dm
  code/game/jobs/job/syndicate_jobs.dm
  code/modules/events/bureaucratic_error.dm
  code/modules/events/event_container.dm
  paradise.dme
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#20907 Resprites ID container at HOP and data disk storage in botany
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  icons/obj/idbox.dmi
  icons/obj/vending.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#20930 Chem heater now shows beakers when screwed closed
  code/modules/reagents/chemistry/machinery/chem_heater.dm
Labels: Fix, -Status: Awaiting merge

#20749 Diona Nymphs Fixes + Ear Slot
  code/modules/mob/living/simple_animal/friendly/diona_nymph.dm
  code/modules/mob/mob_holder.dm
  icons/mob/clothing/ears.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#20596 cleans up some giant spider code, moves verbs to action buttons
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Refactor, Tweak, -Status: Awaiting merge

#20648 Cyberiad: Maintenance Rework [Part #1] (Fixed merge issue)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#20711 Gives the Syndicate Space Base plastitanium windows
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
Labels: Map Edit, -Status: Awaiting merge

#20884 Reworks the lwap to make it better.
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/neutral.dm
  code/modules/crafting/guncrafting.dm
  code/modules/crafting/recipes.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/misc/blastcannon.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile_base.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Feature, Balance, -Status: Awaiting merge, Requires Wiki Update

#20888 Nuke resprite revival
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/mob/blob.dmi
  icons/obj/nuclearbomb.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#20910 tweaks / fixes vetus a bit
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
Labels: Tweak, -Status: Awaiting merge

#20586 Tool Size Tweaks
  code/__DEFINES/inventory_defines.dm
  code/game/machinery/vendors/generic_vendors.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/storage_base.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/research/designs/equipment_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/tools.dmi
Labels: Merge Conflict, Sprites, Balance, Testmerge Requested, -Status: Awaiting review

#20926 USSP update part 2
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_tele.dmm
  code/_globalvars/lists/names.dm
  code/datums/outfits/outfit_admin.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/jobs/access.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  config/names/first_soviet_male.txt
  config/names/last_soviet_male.txt
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Map Edit, Sprites, Configuration Change, -Status: Awaiting merge, Requires Wiki Update

#20941 Fixes a survival pod runtime
  code/modules/mining/equipment/survival_pod.dm
Labels: Fix, -Status: Awaiting merge

#20949 gives spellblade with lightning grant the user shock immunity
  code/game/objects/items/weapons/melee/melee_misc.dm
Labels: Fix, Balance, -Status: Awaiting merge

#20953 Rebalancing the BSG
  code/modules/projectiles/ammunition/energy_lens.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20956 turns off fire alarm sounds when power is off
  code/game/machinery/firealarm.dm
Labels: Fix, -Status: Awaiting merge

#20960 Fixes detective access
  code/game/jobs/job/security_jobs.dm
Labels: Fix, -Status: Awaiting merge

#20967 Fix cryo cells not autoejecting patients with burn wounds
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Fix, -Status: Awaiting merge

#20997 Fixes brand intelligence typo
  code/modules/events/brand_intelligence.dm
Labels: Fix, -Status: Awaiting merge

#20984 plastic crates no longer drop metal
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Fix, -Status: Awaiting merge

#20921 fixes cherry bombs
  code/modules/hydroponics/grown/misc_seeds.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Fix, -Status: Awaiting merge

#21035 Fixed Jestosterone removing clown waddles
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
Labels: Fix, -Status: Awaiting merge

#21016 Revert "Cyberiad: Maintenance Rework [Part #1] (Fixed merge issue)"
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge

#21032 Slime Jelly Vomit Fix
  code/modules/surgery/organs/blood.dm
Labels: Fix, -Status: Awaiting merge

#21039 Prevents /camera/ mobs from being put in lockers
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix, -Status: Awaiting merge

#20981 Thunderdome no longer allows unfair fights
  code/modules/admin/verbs/one_click_antag.dm
Labels: Fix, -Status: Awaiting merge

#20976 Adds a new sound for when the janitor proximity mine is activated
  code/game/objects/items/weapons/caution.dm
  sound/misc/sign_says_walk.ogg
Labels: Sound, Tweak, -Status: Awaiting merge

#21010 Fixes bureaucratic error event runtime
  code/modules/events/bureaucratic_error.dm
Labels: Fix, -Status: Awaiting merge

#20402 Reworks cult sharding to not perma kill mindshielded victims [Needs TM]
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/game/gamemodes/cult/cult_mode.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/modules/mob/living/simple_animal/constructs.dm
Labels: Balance, Testmerge Requested, -Status: Awaiting merge, Requires Wiki Update

#21042 [Should] Fix "Cyberiad: Maintenance Rework [Part #1] (Fixed merge issue)"
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, Testmerge Requested, -Status: Awaiting merge

#20719 Cyberiad: Replace old Freezers in Medical Storage with IV Freezers.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#20969 Fix 0.1u reagent amounts behaving inconsistently
  code/modules/reagents/chemistry/reagents_holder.dm
Labels: Fix, -Status: Awaiting merge

#20961 fixes ripleys having their movespeed capped while using thrusters
  code/game/mecha/working/ripley.dm
Labels: Fix, -Status: Awaiting merge

#21004 calculates richest escapee by including account balance along with cash
  code/game/gamemodes/scoreboard.dm
Labels: Fix, -Status: Awaiting merge

#21002 Fixes sentinels appearing as drones in the evolve menu
  code/datums/spells/alien_spells/larva_evolve.dm
Labels: Fix, -Status: Awaiting merge

#21001 Adds color to debug text
  code/__HELPERS/_logging.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
Labels: Administration, -Status: Awaiting merge

#21026 Adds [signfont] as an HTML Code for Admin Fax Use
  code/__HELPERS/text.dm
Labels: Feature, Administration, -Status: Awaiting merge

#21012 Visual update of shadow cocoon
  code/game/gamemodes/miniantags/demons/shadow_demon/shadow_demon.dm
  icons/effects/effects.dmi
  icons/obj/objects.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#21011 Fixes rapid highfives
  code/game/objects/items/hand_item.dm
Labels: Fix, -Status: Awaiting merge

#21077 fixes shield in hand sprites. merge conflicts begone
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Fix, Sprites

#21068 Tea heals a bit more if you're british
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/game/dna/mutations/disabilities.dm
  code/modules/reagents/chemistry/reagents/drinks_reagents.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#21045 Prevents IPC husking
  code/modules/mob/living/carbon/human/human_death.dm
Labels: Fix, -Status: Awaiting merge

#20302 Camera net/chunk refactor. Slight performance improvements and makes it GC properly
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/misc_defines.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/camera.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
  code/modules/clothing/spacesuits/ert_hardsuits.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/silicon/ai/freelook/cameranet.dm
  code/modules/mob/living/silicon/ai/freelook/chunk.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  paradise.dme
Labels: Fix, Refactor, Performance, GC Related, Testmerge Requested, -Status: Awaiting merge

#20699 Tweaks demon spawn rate
  code/modules/events/event_container.dm
Labels: Tweak, -Status: Awaiting review

#21017 Rework the cryo cell's handling of the occupant icon
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Fix, Refactor, -Status: Awaiting merge

#20974 fixes bacon from cutlets in hand
  code/modules/food_and_drinks/food/foods/meat.dm
Labels: Fix, -Status: Awaiting merge

#21014 Makes emp bomb more useful
  code/datums/uplink_items/uplink_traitor.dm
  code/game/machinery/syndicatebomb.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#21023 Xenomorph Deathrattle
  code/modules/mob/living/carbon/alien/alien_base.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
Labels: Tweak, -Status: Awaiting merge

#21025 Fixes missing Krav Maga sprites for certain species, vulps no longer have broken radiation hood sprites and vox can now poke their beak through pumpkins.
  code/modules/clothing/suits/utility.dm
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/grey/gloves.dmi
  icons/mob/clothing/species/kidan/gloves.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#21027 Combat borgs have lights in their eyes (again?)
  icons/mob/robots.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#21043 Officer slots can no longer be opened or closed
  code/game/machinery/computer/card.dm
Labels: Balance, -Status: Awaiting merge

#21064 Fixes BSG and lwap mob /icon sprite issues
  code/modules/projectiles/ammunition/energy_lens.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
Labels: Sprites, -Status: Awaiting merge

#20868 Holding a plant pot hides mob HUD
  code/game/objects/structures/flora.dm
Labels: Balance, -Status: Awaiting merge

#20965 Adds the boop emote for synthetic
  code/datums/keybindings/emote.dm
  code/modules/mob/living/silicon/silicon_emote.dm
  sound/machines/boop.ogg
Labels: Feature, Sound, -Status: Awaiting merge

#20986 Fixes roundstart airlocks not setting unrestricted access sides on electronics when deconstructed
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_electronics.dm
  tgui/packages/tgui/interfaces/AirlockElectronics.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge

#20988 Reduces Cargo Export Revenue for Plastic Crates
  code/__DEFINES/economy_defines.dm
  code/controllers/subsystem/economy.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/shuttle/supply.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20970 Chemicals that reduce pain make the users personal health bar less accurate
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_life.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance, -Status: Awaiting review

#20659 Metastation R&D remap
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation, -Status: Awaiting merge, [MQL] MetaStation

#20822 Adds four new departmental tools
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/tools.dmi
Labels: Feature, Map Edit, Sprites, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#21097 Updates Github Staff List in CONTRIBUTING.dm
  .github/CONTRIBUTING.md
Labels: Documentation, -Status: Awaiting type assignment

#21044 Buffs Adminordrazine against stamina and cold
  code/modules/reagents/chemistry/reagents/admin_reagents.dm
Labels: Balance, -Status: Awaiting review

#21061 Security bot now checks if your ID is in your hand
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: Tweak, -Status: Awaiting review

#21066 faster radial menu
  code/_onclick/hud/radial.dm
Labels: Tweak, -Status: Awaiting merge

#21140 Splits traitor & vampire feedback data
  code/game/gamemodes/vampire/vampire_gamemode.dm
Labels: -Status: Awaiting type assignment

#20977 Allows proximity mine signs to be used by all traitors
  code/datums/uplink_items/uplink_traitor.dm
  code/game/objects/items/weapons/caution.dm
Labels: Tweak, -Status: Awaiting merge

#20600 Deadchat Plays SS13: Ghost Control of Mobs
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/misc_defines.dm
  code/datums/components/deadchat_control.dm
  code/datums/datumvars.dm
  code/game/atoms_movable.dm
  code/modules/client/client_procs.dm
  code/modules/events/immovable_rod.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_say_base.dm
  code/modules/power/singularity/singularity.dm
  paradise.dme
Labels: Feature, Administration, Testmerge Requested, -Status: Awaiting merge

#20756 Translator implants no longer bypass muting effects
  code/modules/mob/living/carbon/human/human_say.dm
Labels: Tweak, -Status: Awaiting merge

#20747 Add default key binding for Give and Whisper, remove default binding for Cycle Intents
  code/datums/keybindings/carbon.dm
  code/datums/keybindings/living.dm
  code/datums/keybindings/mob.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20989 Fixes molotov cocktails being used to craft molotov cocktails
  code/modules/crafting/craft.dm
  code/modules/crafting/recipes.dm
Labels: Fix, -Status: Awaiting merge

#20878 Adds custom age limits to each species
  code/__DEFINES/mob_defines.dm
  code/datums/emote.dm
  code/game/machinery/computer/medical_records.dm
  code/game/machinery/computer/security_records.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/link_processing.dm
  code/modules/mob/living/carbon/human/human_emote.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/diona_species.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/slimepeople.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/living/living_emote.dm
Labels: Tweak, -Status: Awaiting merge

#20998 Changelings can sting targets on the same tile as them
  code/modules/antagonists/changeling/powers/tiny_prick.dm
Labels: Fix, -Status: Awaiting merge

#21007 Makes lwap scope not freak out if move before scoping
  code/modules/projectiles/guns/energy/laser.dm
Labels: Tweak, -Status: Awaiting merge

#21021 Fix: Trash bin icon not updating when someone got shoved in
  code/modules/recycling/disposal.dm
Labels: Fix, -Status: Awaiting merge

#21024 Fixes screwdriver_act on bloodstained recycler
  code/game/machinery/recycler.dm
  icons/obj/recycling.dmi
Labels: Sprites, -Status: Awaiting merge

#21028 Removes bluespace crystal sheets, makes crystals look as expected
  code/datums/components/material_container.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
  code/modules/telesci/bscrystal.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#21029 Access Giveth, Access Taketh Away
  code/game/jobs/job/supervisor.dm
Labels: Tweak, -Status: Awaiting merge

#21033 Removes need for the cake hat when making Birthday Cake
  code/modules/food_and_drinks/recipes/recipes_oven.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#21049 SWAT suit tweak
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/misc_spacesuits.dm
  code/modules/clothing/suits/armor.dm
  code/modules/supply/supply_packs/pack_security.dm
Labels: -Status: Awaiting merge, Requires Wiki Update

#21050 Fixes vox lungs being affected by infections
  code/modules/surgery/organs/lungs.dm
Labels: Fix, -Status: Awaiting merge

#21057 Fixes (Oversight?) with fungus spawner from #16877
  code/game/objects/effects/spawners/random_spawners.dm
Labels: Fix, -Status: Awaiting merge

#21058 Guardians can not manifest when user is in atmos machinery
  code/_onclick/hud/guardian.dm
Labels: Balance, -Status: Awaiting merge

#21059 Zippos can light Cigars
  code/game/objects/items/weapons/cigs.dm
Labels: Tweak, -Status: Awaiting merge

#21067 Changes the hacking implant to the abductor toolset implant
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#21072 Comms consoles can now only change alert level on red or lower alert
  code/game/machinery/computer/communications.dm
Labels: Fix, -Status: Awaiting merge

#21073 You can no longer crawl under protector guardians.
  code/game/gamemodes/miniantags/guardian/types/protector.dm
Labels: -Status: Awaiting merge

#21075 Defibrillating someone no longer flashes all ghost's screens
  code/datums/components/defibrillator.dm
Labels: Fix, -Status: Awaiting merge

#21076 flash ability to destroy shadow snare
  code/modules/antagonists/vampire/vampire_powers/umbrae_powers.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#21078 Quantum pads now check AI cam visibility (#21074)
  code/game/machinery/quantum_pad.dm
Labels: Fix, -Status: Awaiting merge

#21079 H-hel-lp m-main-n-nt-ts-s!
  code/game/objects/items/weapons/stunbaton.dm
Labels: Tweak, -Status: Awaiting merge

#21081 Converts Perfluorodecalin's side-effect into an actual overdose
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Tweak, -Status: Awaiting merge

#21082 Nerfs laser rifle ammo size and emp proofness.
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/response_team/ert_outfits.dm
  icons/obj/ammo.dmi
Labels: Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#21085 Adds advanced burn kits to maintenance
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#21088 Moves the traitor posion bottle to the main uplink from job specific
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_traitor.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#21090 Antags in the the Orbit menu now have counters
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge

#21094 Makes the dropwall probably viable
  code/game/machinery/deployable.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#21095 Changes "Pocket Crowbar" to "Crowbar" in the autolathe menu
  code/modules/research/designs/autolathe_designs.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#21100 Fixes reset modules not properly clearing upgrades
  code/modules/mob/living/silicon/robot/robot_mob.dm
Labels: Fix, -Status: Awaiting merge

#21126 Fix plant reagent genes producing slightly more chemicals than expected
  code/modules/hydroponics/seeds.dm
Labels: Fix, -Status: Awaiting merge

#21131 Vortex vetus no longer bloody dies when it charges at you more than once.
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
Labels: Fix, -Status: Awaiting merge

#21091 Fixes for [signfont]
  code/__HELPERS/text.dm
Labels: Fix, -Status: Awaiting merge

#21151 Fix render_nanomaps action
  .github/workflows/render_nanomaps.yml
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: Infrastructure, -Status: Awaiting review

#20536 WT Rework and Nerf
  code/__HELPERS/mob_helpers.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/supply/supply_packs/pack_security.dm
  icons/obj/ammo.dmi
Labels: Merge Conflict, Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update
