Repository ParadiseSS13/Paradise, pull requests merged in 2023-02, with the labels that each got.

#20170 Allows the Kinetic Crusher to Parry Melee Attacks + BDM Trophy Tweaks
  code/datums/status_effects/buffs.dm
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20196 Cult ghosts begin to die if they go too far from the summoner
  code/datums/status_effects/debuffs.dm
  code/game/gamemodes/cult/runes.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20336 Fixes BDM trophy causing you to take absurd damage
  code/datums/status_effects/buffs.dm
Labels: Fix, -Status: Awaiting merge

#20330 cult bola runtime fix
  code/game/gamemodes/cult/cult_items.dm
Labels: Fix, -Status: Awaiting merge

#20321 Fixes female slime floating hand
  icons/mob/human_races/r_slime.dmi
Labels: Sprites, -Status: Awaiting merge

#20333 carp scroll can no longer be refunded
  code/datums/uplink_item.dm
Labels: Balance, -Status: Awaiting merge

#20016 Delta firing range moving target fix attempt 2
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#20037 Janitorial equipment tweaks and cleaners availability
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/response_team/ert_outfits.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/janitor.dmi
Labels: Map Edit, Sprites, Balance, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, Requires Wiki Update, CereStation, [MQL] CereStation

#19999 Projectiles now orbit blackholes
  code/modules/power/singularity/singularity.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#20054 Fix varedited areas on Box.
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/area/ss13_areas.dm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#20122 Fix varedited areas on Meta.
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/area/ss13_areas.dm
  code/modules/martial_arts/cqc.dm
Labels: Map Edit, MetaStation, -Status: Awaiting merge, [MQL] MetaStation

#20329 Fixed varedited areas on Cere.
  _maps/map_files/cerestation/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge, CereStation, [MQL] CereStation

#20277 Fix #20268 Vendor dispense change fixes
  code/game/machinery/vendors/vending.dm
  tgui/packages/tgui/interfaces/Vending.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#20214 hierophant arena walls now decay after the hierophant dies
  code/_globalvars/lists/objects.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: Tweak, -Status: Awaiting merge

#20239 Adds mannitol and salbutamol to medical borgs hypospray
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20288 IDs with alternative titles now be able to select account associated with their department
  code/game/objects/items/weapons/cards_ids.dm
Labels: Fix, -Status: Awaiting merge

#20273 fixes foam dart gc issues
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/firing.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/toy.dm
Labels: Fix, -Status: Awaiting merge

#20299 fixes medbeam bug
  code/modules/projectiles/guns/medbeam.dm
Labels: Fix, -Status: Awaiting merge

#20300 datum/song gc fix
  code/modules/instruments/songs/_song.dm
Labels: GC Related, -Status: Awaiting merge

#20291 Minor is_blocked_turf optimization
  code/__HELPERS/unsorted.dm
Labels: Performance, -Status: Awaiting merge

#20290 makes morph spells GC properly
  code/game/gamemodes/miniantags/morph/morph.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#20230 Adds a searchbar to the Traitor uplink
  code/game/objects/items/devices/uplinks.dm
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge

#20282 fixes cyborg kpa modkits not being able to be removed
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix, -Status: Awaiting merge

#20351 Cleans up and fixes an issue with demon fluff objectives
  code/game/gamemodes/miniantags/demons/slaughter demon/slaughter.dm
Labels: Fix, -Status: Awaiting merge

#20339 Bartender bandolier now starts with rubbershot instead of beanbag
  code/game/objects/items/weapons/storage/belt.dm
Labels: Balance, -Status: Awaiting merge

#20031 Refactor Fleshmend into a Status Effect
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/buffs.dm
  code/modules/antagonists/changeling/powers/fleshmend.dm
Labels: Refactor, -Status: Awaiting merge

#20275 Vulp/Taj Chocolate and Darksight
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/surgery/organs/subtypes/tajaran.dm
  code/modules/surgery/organs/subtypes/vulpkanin.dm
Labels: Balance, -Status: Awaiting merge

#20191 Pizza bombs can no longer be told apart, some pizza improvements
  code/datums/uplink_item.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/devices/pizza_bomb.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
  code/modules/ruins/lavalandruin_code/pizzaparty.dm
  paradise.dme
Labels: Tweak, -Status: Awaiting merge

#20173 Shoving nerds into disposals
  code/modules/recycling/disposal.dm
Labels: Feature, Balance, -Status: Awaiting merge

#20324 Fix pointing into containers and cooldown
  code/modules/point/point.dm
Labels: Fix, -Status: Awaiting merge

#20356 Fixes Negative Power Consumption Caused by Thermo Machines
  code/game/machinery/machinery.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Fix, -Status: Awaiting merge

#20323 Attacks on turrets no longer do 2x-> 1.5x damage, and now respect armor
  code/game/machinery/portable_turret.dm
Labels: Fix, -Status: Awaiting merge

#20285 Changelings no longer have to debrain changelings
  code/__DEFINES/gamemode.dm
  code/game/gamemodes/objective.dm
Labels: Fix, -Status: Awaiting merge

#20360 Fixing common spelling mistakes part 2
  code/controllers/configuration/configuration_core.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/dbcore.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/machinery/airlock_control/airlock_controllers.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/robot_control.dm
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/objs.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/client/login_processing/__client_login_processor.dm
  code/modules/client/preference/preferences.dm
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/instruments/songs/_song.dm
  code/modules/maze_generation/helper_modules/_helper_module_base.dm
  code/modules/maze_generation/loot_modules/_loot_module_base.dm
  code/modules/mob/living/simple_animal/posessed_object.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/redis/redis_callback.dm
  code/modules/server_commands/servermsg.dm
  code/modules/shuttle/emergency.dm
  code/modules/unit_tests/sql.dm
Labels: Fix, -Status: Awaiting merge

#20391 nuke no longer needs power to be armed
  code/game/gamemodes/nuclear/nuclearbomb.dm
Labels: Fix, -Status: Awaiting type assignment

#20390 Fixes socks missing pixel
  icons/mob/clothing/underwear.dmi
Labels: Sprites, -Status: Awaiting merge

#20384 Fixes [Re]Vitiligo
  code/datums/diseases/advance/symptoms/skin.dm
  code/modules/mob/living/carbon/human/appearance.dm
Labels: Fix, -Status: Awaiting merge

#20413 Fixes a security issue on runtime logging
  code/modules/admin/admin_verbs.dm
  code/modules/error_handler/error_handler.dm
Labels: Fix, High Priority, Security, -Status: Awaiting type assignment

#20002 [Ready for code review] Moves alien verbs to spells
  code/datums/mind.dm
  code/datums/spell_handler/alien_spell_handler.dm
  code/datums/spells/alien_spells/basetype_alien_spell.dm
  code/datums/spells/alien_spells/basetype_alien_touch.dm
  code/datums/spells/alien_spells/build_resin_structure.dm
  code/datums/spells/alien_spells/corrosive_acid_spit.dm
  code/datums/spells/alien_spells/larva_evolve.dm
  code/datums/spells/alien_spells/lay_alien_eggs.dm
  code/datums/spells/alien_spells/neurotoxin_spit.dm
  code/datums/spells/alien_spells/plasma_weeds.dm
  code/datums/spells/alien_spells/queen_evolve.dm
  code/datums/spells/alien_spells/regurgitate.dm
  code/datums/spells/alien_spells/transfer_plasma.dm
  code/datums/spells/alien_spells/whisper.dm
  code/datums/spells/touch_attacks.dm
  code/game/gamemodes/wizard/godhand.dm
  code/game/objects/effects/meteors.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
  code/modules/mob/living/carbon/alien/alien_base.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/alien/alien_life.dm
  code/modules/mob/living/carbon/alien/alien_login.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/alien_drone.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/sentinel.dm
  code/modules/mob/living/carbon/alien/humanoid/empress.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_defense.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_inventory.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/alien/larva/larva_powers.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/surgery/organs/subtypes/xenos.dm
  icons/mob/actions/actions.dmi
  icons/obj/items.dmi
  paradise.dme
Labels: Sprites, Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#20361 Whitespace fixes, final part (hopefully)
  code/game/machinery/computer/brigcells.dm
  code/game/objects/items/weapons/batons.dm
Labels: Code Improvement, -Status: Awaiting merge

#20048 Admin UI improvements
  code/modules/admin/create_mob.dm
  code/modules/admin/create_object.dm
  code/modules/admin/create_turf.dm
  code/modules/admin/db_ban/functions.dm
  code/modules/admin/misc_admin_procs.dm
  html/create_object.html
Labels: User Interface, Administration, -Status: Awaiting merge

#20220 Adds a cargo crate spawning tool for admins
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/supply/supply_order.dm
  code/modules/supply/supply_pack.dm
Labels: Feature, Administration, -Status: Awaiting merge

#20138 Adds the cash register
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/tools.dm
  code/game/objects/items/weapons/misc_items.dm
  code/modules/economy/economy_machinery/eftpos.dm
  sound/items/handling/register_drop.ogg
  sound/machines/checkout.ogg
  sound/weapons/ringslam.ogg
Labels: Feature, Map Edit, Sound, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, Requires Wiki Update, CereStation, [MQL] CereStation

#20182 Adds onscreen admin alerts
  code/__DEFINES/admin_defines.dm
  code/__HELPERS/lists.dm
  code/_globalvars/lists/misc_lists.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/misc_admin_procs.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/maptext_alerts/text_blurbs.dm
  paradise.dme
Labels: Administration, -Status: Awaiting review

#20227 Renames the CMO hypospray
  code/game/gamemodes/steal_items.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Grammar and Formatting, Tweak, -Status: Awaiting merge

#20228 Emergency lights now turn off after 2 minutes, not 10 minutes
  code/modules/power/apc/apc.dm
Labels: Tweak, -Status: Awaiting merge

#20248 Everfull Mug
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/spellbook.dm
  icons/obj/drinks.dmi
Labels: Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#20294 Alt-click on disposal bins to manually eject their contents
  code/modules/recycling/disposal.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20297 Add SSair Recover
  code/controllers/subsystem/air.dm
Labels: Fix, -Status: Awaiting merge

#20301 Updates Vox magboot sprites
  icons/mob/clothing/species/vox/shoes.dmi
Labels: Sprites, -Status: Awaiting merge

#20325 adds bananium meteors
  code/game/objects/effects/meteors.dm
  icons/obj/meteor.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#20427 Fixes ghost locker exploit
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix, Exploit, -Status: Awaiting type assignment

#20420 Real cere webmap link
  code/modules/mapping/cerestation.dm
Labels: Refactor, Webeditor Heresy, -Status: Awaiting type assignment

#20197 Indestructable toxins test site camera is now viewable from the camera monitor in the toxins launch room on Box.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#20224 Television version of the entertainment monitor is now a proper item
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/machinery/computer/camera_console.dm
Labels: Map Edit, BoxStation, Code Improvement, -Status: Awaiting merge, [MQL] BoxStation

#20398 deletes the forcesay() proc fixing tyder wizards getting murderized
  code/_globalvars/lists/flavor_misc.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/clothing/under/color.dm
  code/modules/martial_arts/brawling.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Fix, -Status: Awaiting merge

#20140 Adds a new gamemode, Trifecta
  code/game/gamemodes/trifecta/trifecta.dm
  config/example/config.toml
  paradise.dme
Labels: Feature, Configuration Change, Testmerge Requested, Testmerge Active, -Status: Awaiting merge, Requires Wiki Update

#20157 Re-fixes limb regeneration, now with 100% fewer brain deletions (I hope)
  code/datums/diseases/kingstons.dm
  code/game/dna/dna2.dm
  code/game/dna/mutations/monkey.dm
  code/game/gamemodes/miniantags/abduction/gland.dm
  code/modules/antagonists/changeling/powers/humanform.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/transform_procs.dm
Labels: Fix, Testmerge Requested, -Status: Awaiting merge

#20331 Removes smoke cluster grenades
  _maps/map_files/generic/centcomm.dmm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/grenades/clusterbuster.dm
  code/game/objects/items/weapons/grenades/custom_grenades.dm
Labels: Map Edit, Revert/Feature Removal, Performance, -Status: Awaiting merge

#20280 Fixes disconnected APCs in research department on Deltastation.
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#20432 fixes trifecta bug with antagonist generation
  code/game/gamemodes/trifecta/trifecta.dm
Labels: Fix, -Status: Awaiting type assignment

#20405 https runtime fix
  code/controllers/subsystem/http.dm
Labels: Fix, -Status: Awaiting merge

#20404 regular space carp are no longer deleted when changing holodeck, only holocarp
  code/game/machinery/computer/HolodeckControl.dm
Labels: Fix, -Status: Awaiting merge

#20332 more medborg love: surgery tool edition.
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Balance, -Status: Awaiting merge

#20328 Adds a cooldown progress bar to Cryocells
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  tgui/packages/tgui/interfaces/Cryo.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: User Interface, TGUI, -Status: Awaiting merge

#20092 A dance preferences toggle for the disco machine because I just wanna listen to the music without any of the annoying dancing animations
  code/__DEFINES/preferences.dm
  code/game/machinery/dance_machine.dm
  code/modules/client/preference/preferences_toggles.dm
Labels: Feature, -Status: Awaiting merge

#20058 Ash storms can now have their volume altered with a slider
  code/__DEFINES/sound.dm
  code/__HELPERS/unsorted.dm
  code/datums/looping_sounds/looping_sound.dm
  code/datums/looping_sounds/weather_sounds.dm
  code/modules/client/preference/preferences.dm
Labels: Sound, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#20428 Changes the fluffy cuffs description to not mention keeping your SO in line..
  code/game/objects/items/weapons/handcuffs.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#20424 Removes Viagra
  code/game/objects/items/weapons/alien_specific.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#20363 fixes the kidian click emote
  code/modules/mob/living/carbon/human/human_emote.dm
Labels: Fix, -Status: Awaiting merge

#20281 Hyposprays and Injectors resprite
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/clothing/belts.dmi
  icons/obj/hypo.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#20371 parry is now automatically binded to space
  code/datums/keybindings/human_keybinds.dm
Labels: Tweak, -Status: Awaiting merge

#20442 fixes a cryocell runtime
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Fix, -Status: Awaiting merge

#20441 fixes an acid dreams runtime
  code/modules/reagents/chemistry/reagents/alcohol.dm
Labels: Fix, -Status: Awaiting merge

#20412 Gravity generator icon properly reflects its state on roundstart.
  code/modules/power/gravitygenerator.dm
Labels: Fix, -Status: Awaiting merge

#20439 Replaces chocolate in weightloss shakes with berry juice
  code/modules/food_and_drinks/drinks/drinks_base.dm
Labels: Tweak, -Status: Awaiting merge

#20437 fixes a bad del runtime on bubblegum
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
Labels: Fix, -Status: Awaiting merge

#20470 [TGUI] Holodeck + Bugfix
  code/__HELPERS/unsorted.dm
  code/game/machinery/computer/HolodeckControl.dm
  tgui/packages/tgui/interfaces/Holodeck.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting type assignment

#20436 Putting nerds to bed
  code/game/objects/items/candle.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: Feature, -Status: Awaiting merge

#20476 Arcade machine typo
  code/game/machinery/computer/arcade.dm
Labels: Fix, Grammar and Formatting, -Status: Awaiting type assignment

#20095 EFTPOS Tweaks + TGUI makeover
  code/modules/economy/economy_machinery/eftpos.dm
  tgui/packages/tgui/interfaces/EFTPOS.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge, Requires Wiki Update

#20486 Fixes re-admin runtime
  code/modules/mob/mob_login_base.dm
  code/modules/mob/new_player/new_player_login.dm
Labels: Fix

#20489 Fixes #12821
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/power/cable.dm
Labels: Fix

#20341 Turbine Wiring and Pipe Safety Tweaks Deconflicted
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#20340 fixes new players logging out causing a GC fail
  code/modules/mob/new_player/new_player_logout.dm
Labels: GC Related, -Status: Awaiting merge

#20353 Reworks the poison pen
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/pen.dm
Labels: Feature, Balance, -Status: Awaiting merge, Requires Wiki Update

#20368 Janitorial holosign projector tweaks
  code/game/objects/items/weapons/holosign_projector.dm
Labels: Tweak, -Status: Awaiting merge

#20369 janicart (pimpin' ride) tweaks
  code/modules/vehicle/janicart.dm
Labels: Tweak, -Status: Awaiting merge

#20387 Fixes some plaques descriptions
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
  code/game/objects/structures/signs.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
Labels: Map Edit, Refactor, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#20392 (TG Port) Recolors the circuit boards into department-based colors
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/modules/station_goals/bluespace_tap.dm
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/dna_vault.dm
  icons/obj/module.dmi
Labels: Sprites, -Status: Awaiting merge

#20393 Fiber Garrote now mutes all emotes when garroting target
  code/__DEFINES/status_effects.dm
  code/datums/emote.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/weapons/garrote.dm
  code/modules/mob/living/living_status_procs.dm
Labels: Fix, Balance, -Status: Awaiting merge

#20367 Ports TG push broom
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/janicart.dm
  code/modules/response_team/ert_outfits.dm
  code/modules/supply/supply_packs/pack_miscellaneous.dm
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
  icons/obj/janitor.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#20362 PDA power monitor listing uses areas instead of names
  code/datums/cache/powermonitor.dm
  tgui/packages/tgui/interfaces/PowerMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge

#20395 Fixes armory inventory having incorrect quantities
  code/modules/paperwork/paper.dm
Labels: Fix, -Status: Awaiting merge

#20312 Rework bluespace beacons to be an effect and cannot be created on lava/chasms
  code/game/gamemodes/miniantags/guardian/types/healer.dm
Labels: Tweak, -Status: Awaiting merge

#20394 Gives chitinous armor durability
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Balance, -Status: Awaiting merge

#20401 Re-adds the LWAP, reworked
  code/modules/crafting/guncrafting.dm
  code/modules/crafting/recipes.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Balance, -Status: Awaiting merge

#20409 fixes a highlander runtime and the highland martial art not being assigned
  code/game/objects/items/weapons/highlander_swords.dm
Labels: Fix, -Status: Awaiting merge

#20418 Fixed nukie borg ghost poll incorrectly showing operative icon
  code/modules/antagonists/_common/antag_spawner.dm
  icons/mob/robots.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#20416 Adds five new bible sprites
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/library/library_computer.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/religion_lefthand.dmi
  icons/mob/inhands/religion_righthand.dmi
  icons/obj/storage.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#20456 fixes an EFTPOS runtime if there's no connected account
  code/modules/economy/economy_machinery/eftpos.dm
Labels: Fix, -Status: Awaiting merge

#20455 actually fixes all disease curing runtimes
  code/datums/diseases/kingstons.dm
  code/datums/diseases/pierrot_throat.dm
  code/datums/diseases/rhumba_beat.dm
Labels: Refactor, -Status: Awaiting merge

#20457 Fix shock sounds
  code/game/objects/items/devices/handheld_defib.dm
  code/game/objects/items/weapons/implants/implant_freedom.dm
  code/modules/clothing/gloves/misc_gloves.dm
  code/modules/hallucinations/effects/moderate.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix, -Status: Awaiting merge

#20458 fixes being unable to deconstruct reagent grinders
  code/game/machinery/machinery.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Fix, -Status: Awaiting merge

#20320 Making hallucination great again
  code/datums/status_effects/debuffs.dm
  code/modules/events/mass_hallucination.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#20349 fixes improper scoping on revenant hallucination
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
Labels: Tweak, -Status: Awaiting merge
