Repository ParadiseSS13/Paradise, pull requests merged in 2023-11, with the labels that each got.

#23112 Fixes a revenant runtime
  code/_onclick/observer_onclick.dm
Labels: -Status: Awaiting type assignment

#22741 delta/box/cere: add missing grilled/wired windows for hos/qm/eng
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  tools/maplint/lints/multiple_window_spawner.yml
Labels: Map Edit, BoxStation, DeltaStation, -Status: Awaiting review, [MQL] BoxStation, [MQL] DeltaStation, CereStation, [MQL] CereStation

#23117 Adds DGamerL to the review team
  .github/CONTRIBUTING.md
Labels: -Status: Awaiting type assignment

#22754 Ports hitscan from TG, adds it to *SELECT* things
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/layers.dm
  code/__HELPERS/game.dm
  code/__HELPERS/unsorted.dm
  code/datums/spell_targeting/spell_targeting.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon_abilities.dm
  code/game/machinery/portable_turret.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/effects/temporary_visuals/projectile/impact.dm
  code/game/objects/effects/temporary_visuals/projectile/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectile/projectile_effects.dm
  code/game/objects/effects/temporary_visuals/projectile/tracer.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
  code/modules/crafting/recipes.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/combat_drone.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/mob/mob_movement.dm
  code/modules/power/engines/singularity/emitter.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/energy_lens.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  code/modules/projectiles/guns/medbeam.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/magic_projectiles.dm
  code/modules/projectiles/projectile/special_projectiles.dm
  code/modules/projectiles/projectile_base.dm
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/shield.dm
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  paradise.dme
Labels: Map Edit, Sprites, Balance, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#22312 Silicon Chamo properly hides huds
  code/_onclick/click.dm
  code/datums/atom_hud.dm
  code/game/verbs/suicide.dm
  code/modules/antagonists/changeling/powers/digitalcamo.dm
  code/modules/clothing/under/syndicate_jumpsuits.dm
  code/modules/detective_work/footprints_and_rag.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_misc_procs.dm
  code/modules/mob/mob_vars.dm
  code/modules/mob/typing_indicator.dm
  code/modules/tgui/external.dm
Labels: Fix, -Status: Awaiting merge

#22884 You have unlocked: Greedier mode!
  code/__DEFINES/dcs/signals.dm
  code/datums/status_effects/debuffs.dm
  code/modules/ruins/lavalandruin_code/sin_ruins.dm
  icons/mob/screen_alert.dmi
  icons/obj/computer.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#22902 Adds tabs to the cling menu
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/evolution_menu.dm
  code/modules/antagonists/changeling/powers/augmented_eyesight.dm
  code/modules/antagonists/changeling/powers/become_headslug.dm
  code/modules/antagonists/changeling/powers/biodegrade.dm
  code/modules/antagonists/changeling/powers/chameleon_skin.dm
  code/modules/antagonists/changeling/powers/contort_body.dm
  code/modules/antagonists/changeling/powers/digitalcamo.dm
  code/modules/antagonists/changeling/powers/epinephrine.dm
  code/modules/antagonists/changeling/powers/fleshmend.dm
  code/modules/antagonists/changeling/powers/hivemind.dm
  code/modules/antagonists/changeling/powers/lesserform.dm
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/panacea.dm
  code/modules/antagonists/changeling/powers/shriek.dm
  code/modules/antagonists/changeling/powers/strained_muscles.dm
  code/modules/antagonists/changeling/powers/summon_spiders.dm
  code/modules/antagonists/changeling/powers/swap_form.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  tgui/packages/tgui/components/DraggableControl.js
  tgui/packages/tgui/interfaces/EvolutionMenu.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: User Interface, Tweak, TGUI, -Status: Awaiting merge

#22967 Fixes lack of body customization options for the handheld mirror
  code/game/objects/items/devices/traitordevices.dm
Labels: Fix, -Status: Awaiting merge

#22810 adds a pulse demon demon heart
  code/game/gamemodes/miniantags/demons/shadow_demon/shadow_demon.dm
  code/game/gamemodes/miniantags/demons/slaughter demon/slaughter.dm
  code/game/gamemodes/miniantags/pulsedemon/cross_shock_component.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon.dm
  code/modules/surgery/organs/organ_internal.dm
  paradise.dme
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#22923 Tones down the demand for Ash
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine_reactions.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#23118 Grammar and formatting/issue 23065/broken dropwall generator description typo
  code/game/machinery/deployable.dm
Labels: -Status: Awaiting type assignment

#22762 box: shock and grille ai sat windows
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#22837 Cerestation power issue mitigation
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting merge, CereStation, [MQL] CereStation

#22609 mapmerge: Separate DMM conflicts for distinct atom root types.
  code/modules/mapping/merge_conflicts.dm
  tools/maplint/lints/merge_conflict_marker.yml
  tools/mapmerge2/merge_driver.py
Labels: Infrastructure, -Status: Awaiting review

#22797 [TGUI] Filing Cabinet
  code/modules/paperwork/filingcabinet.dm
  tgui/packages/tgui/interfaces/FilingCabinet.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, -Status: Awaiting merge

#22830 Fixes some fugly cabling and pipe spots on delta, and a single tile on box, and adds a new mapping area
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/area/ss13_areas/engineering_areas.dm
Labels: Map Edit, Merge Conflict, BoxStation, DeltaStation, -Status: Awaiting review, [MQL] BoxStation, [MQL] DeltaStation

#23089 Sprite: Stage 1 - Cleanup - AIBOTS
  icons/obj/aibots.dmi
Labels: Refactor, Sprites, -Status: Awaiting merge

#22917 Fixes BoxStation Stacking Machine, while adding a Stacking Machine in CereStation
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation, CereStation, [MQL] CereStation

#22784 Reworks xenomorph space ruin: Moonoutpost19
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  code/game/turfs/simulated/walls_indestructible.dm
  code/modules/awaymissions/mission_code/ruins/moonoutpost19.dm
  paradise.dme
Labels: Map Edit, Merge Conflict, -Status: Awaiting merge

#22960 removes Supply SoP from the HoP's office
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting approval, [MQL] BoxStation

#23106 CPR effectiveness messages now properly reflect effectiveness
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: -Status: Awaiting type assignment

#23133 Fixes dark blessing not having an in-hand sprite
  code/game/objects/items/weapons/holy_weapons.dm
Labels: -Status: Awaiting type assignment

#23078 Adds a chat box + bwoink sound to the Admin Message Antagonist Team button
  code/modules/antagonists/_common/antag_team.dm
Labels: Administration, -Status: Awaiting review

#23098 Fix crew not in accurate positions in crew monitor
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting type assignment

#23103 Salad Description Adjustment
  code/modules/food_and_drinks/food/foods/misc_food.dm
Labels: Fix, -Status: Awaiting type assignment

#23116 Fixes FLIP_DIR_HORIZONTALLY/VERTICALLY
  code/__DEFINES/directions.dm
Labels: -Status: Awaiting type assignment

#23126 Fixes analyzer chat message visibility
  code/__HELPERS/unsorted.dm
Labels: Fix, -Status: Awaiting merge

#23088 Make Syringe Guns shoot Syringes in Inject mode
  code/__DEFINES/reagents_defines.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/projectiles/guns/syringe_gun.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Tweak, -Status: Awaiting merge

#23105 Autohiss now properly capitalized
  code/modules/mob/living/autohiss.dm
Labels: Fix, -Status: Awaiting merge

#23124 Gives syndicate infiltrators basic engineering access
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
Labels: Fix, -Status: Awaiting merge

#23125 Fixes hierophant club issues
  code/modules/mining/lavaland/loot/hierophant_loot.dm
Labels: Fix, -Status: Awaiting merge

#23091 ISSUE TEMPLATES: Moves to boxes - Uses new github issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Documentation, -Status: Awaiting review

#22977 PDA: You can now select ringtones from a preset list
  code/modules/pda/messenger.dm
  code/modules/pda/pda_tgui.dm
  tgui/packages/tgui/interfaces/pda/pda_messenger.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, Tweak, TGUI, -Status: Awaiting merge

#23076 Lavaland Seed Vault - fixing oversights.
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/paperwork/paper.dm
Labels: Fix, Map Edit, Tweak, -Status: Awaiting approval

#23109 Morgue tray now updates properly
  code/__DEFINES/dcs/signals.dm
  code/game/objects/structures/morgue.dm
  code/modules/mob/dead/observer/observer_base.dm
  code/modules/mob/living/living.dm
Labels: Fix, Refactor, -Status: Awaiting review

#23042 Adds SS loading to title screen
  code/controllers/master.dm
  code/controllers/subsystem/non_firing/SStitlescreen.dm
  code/game/turfs/simulated/walls_indestructible.dm
Labels: Feature, -Status: Awaiting review

#22983 makes the lwap not pierce infinite r_walls, pierces resin like walls
  code/modules/projectiles/guns/energy/laser.dm
Labels: Balance, -Status: Awaiting review

#22953 move 'Jump to Ruin' from an admin to a ghost verb
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/dead/observer/observer_base.dm
Labels: Administration, -Status: Awaiting review

#22963 fixes radios doubling up on frequency sometimes causing weirdness and GC issues
  code/datums/radio_frequency.dm
Labels: GC Related, -Status: Awaiting review

#23107 Turns isholy into a trait and adds a trait mind helper
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/mind.dm
  code/datums/spells/chaplain_bless.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_mode.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/jobs/job/support_chaplain.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/admin/verbs/pray.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/response_team/ert_outfits.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: Refactor, Code Improvement, -Status: Awaiting review

#22864 Adds HUD goggles and basic goggles
  code/game/machinery/vendors/generic_vendors.dm
  code/modules/client/preference/loadout/loadout_general.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hudgoggles.dm
  code/modules/crafting/tailoring.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/species/drask/eyes.dmi
  icons/mob/clothing/species/grey/eyes.dmi
  icons/mob/clothing/species/kidan/eyes.dmi
  icons/mob/clothing/species/vox/eyes.dmi
  icons/obj/clothing/glasses.dmi
  paradise.dme
Labels: Feature, Sprites, -Status: Awaiting review, Requires Wiki Update

#22928 Adds EMP weakness to welding shield eyes
  code/modules/surgery/organs/eyes.dm
Labels: Balance, -Status: Awaiting review

#23135 [s] Adds camera bug camera network to restricted_camera_networks
  code/game/objects/items/devices/camera_bug.dm
Labels: Fix, Exploit, -Status: Awaiting merge

#23130 Bugfix/issue 22899/vendor restocking unit's description is misleading
  code/game/objects/items/weapons/vending_items.dm
Labels: Fix, -Status: Awaiting merge

#22642 fixes pdas not being able to have their ids removed/added while on the ground
  code/modules/pda/PDA.dm
Labels: Fix, -Status: Awaiting merge

#23101 Moved ChickenBall sprite from SoupSalad.dmi to meats.dmi
  code/modules/food_and_drinks/food/foods/ethnic.dm
  icons/obj/food/meat.dmi
  icons/obj/food/soupsalad.dmi
Labels: Refactor, Sprites, -Status: Awaiting merge

#22721 Space Ruin: Rework Syndie Research Base
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  code/game/area/areas/ruins/syndicate_space_base_areas.dm
  code/game/machinery/vendors/generic_vendors.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/paperwork/paper.dm
  code/modules/power/apc/apc.dm
Labels: Map Edit, -Status: Awaiting review

#23145 [s] Lowers thermals research
  code/modules/clothing/chameleon.dm
Labels: -Status: Awaiting type assignment

#23081 Refactor: Floorbot Overlay + Sprite Reduction
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  icons/obj/aibots.dmi
Labels: Refactor, Sprites, -Status: Awaiting merge

#22732 Active job bans are displayed to players when they join the lobby
  code/modules/admin/banjob.dm
  code/modules/client/client_procs.dm
  code/modules/mob/new_player/new_player_login.dm
Labels: Administration, -Status: Awaiting merge

#23104 Modernises issue reports using templates.
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue_report.yml
Labels: Documentation, -Status: Awaiting merge

#22933 Adds "Teach them a lesson" Objective (traitor only)
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Feature, -Status: Awaiting review, Requires Wiki Update

#23069 Changes the powerfist to work off pressure
  code/game/objects/items/weapons/powerfist.dm
Labels: Balance, -Status: Awaiting merge

#23038 Belts and some select belt slot items no longer require a jumpsuit to wear
  code/__DEFINES/flags.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/martial_arts/judo.dm
  code/modules/mob/living/carbon/human/human_inventory.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Tweak, -Status: Awaiting merge

#22585 Adds soil clumps and a compost bin.
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/hydroponics/compost_bin.dm
  code/modules/research/designs/biogenerator_designs.dm
  icons/obj/hydroponics/equipment.dmi
  icons/obj/stacks/organic.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/CompostBin.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Sprites, TGUI, -Status: Awaiting merge, Requires Wiki Update

#23128 Multicolor pens for service borgs
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#23146 Fixes O2 wall locker directional icons
  icons/obj/walllocker.dmi
Labels: Sprites, -Status: Awaiting type assignment

#22729 Adds Whistles to the game
  code/datums/action.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/devices/whistle.dm
  code/game/objects/mail.dm
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/species/grey/mask.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
  icons/mob/clothing/species/unathi/mask.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/clothing/species/vulpkanin/mask.dmi
  icons/obj/clothing/masks.dmi
  sound/items/whistle1.ogg
  sound/items/whistle2.ogg
  sound/items/whistle3.ogg
Labels: Feature, Sound, Sprites, -Status: Awaiting merge

#22132 pAI card is now available in loadout for two points
  code/modules/client/preference/loadout/loadout_general.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#22867 Adds the NT drunk dialer, chasm recovery grenade
  code/game/turfs/simulated/floor/chasm.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/mining/machine_vending.dm
Labels: Feature, Tweak, -Status: Awaiting merge, Requires Wiki Update

#22919 Adds HOP beret
  code/game/objects/items/weapons/storage/garment.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/clothing/head/job_hats.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#23115 Adds a new loadout to wizard: Fireball.
  code/datums/spells/infinite_guns.dm
  code/datums/spells/wizard_spells.dm
  code/game/gamemodes/wizard/wizloadouts.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/projectiles/projectile/homing_projectiles.dm
  icons/mob/actions/actions.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#22801 makes ssticker fire faster
  code/controllers/subsystem/SSticker.dm
Labels: Refactor, -Status: Awaiting merge

#23204 Fixes a bug with Hemo Claws being spent on tile clicks
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
Labels: Fix, -Status: Awaiting type assignment

#23127 Makes gauze/ointment craftable; refactors a bit of crafting code
  code/modules/crafting/craft.dm
  code/modules/crafting/recipes.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Refactor, Tweak, -Status: Awaiting merge, Requires Wiki Update

#23134 Adds hair gradient to DNA
  code/__DEFINES/dna.dm
  code/game/dna/dna2_helpers.dm
Labels: Fix, Refactor, Administration, Tweak, -Status: Awaiting merge

#23216 Adds sprite for oxygen is toxic module
  icons/obj/module_ai.dmi
Labels: Fix, Sprites, -Status: Awaiting type assignment

#23218 Adds cheese to the cheese
  code/game/objects/items/granters/action_granters/summon_cheese.dm
Labels: Fix, -Status: Awaiting type assignment

#22898 Increases the duration of Regenerative Stasis to 50 seconds
  code/game/gamemodes/changeling/changeling.dm
Labels: Balance, -Status: Awaiting approval, Requires Wiki Update

#23237 fixes reactive frost armor shooting at ghosts
  code/modules/clothing/suits/armor_suits.dm
Labels: -Status: Awaiting type assignment

#23228 Adds Physique and Height to DNA
  code/__DEFINES/dna.dm
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
Labels: Fix, Administration, Tweak, -Status: Awaiting merge

#23223 Removing a few unused dmi files
  icons/effects/targeted.dmi
  icons/effects/ulicons.dmi
  icons/mecha/mech_fab.dmi
  icons/misc/imap.dmi
  icons/mob/32x64.dmi
  icons/mob/clowncar.dmi
  icons/mob/gimmick_head.dmi
  icons/mob/human_races/o_peg.dmi
  icons/mob/human_races/r_armalis.dmi
  icons/mob/human_races/r_lshadowling.dmi
  icons/mob/human_races/r_nucleation.dmi
  icons/mob/human_races/r_plasmaman_pb.dmi
  icons/mob/human_races/tatt1.dmi
  icons/mob/lavaland/hierophant.dmi
  icons/mob/livestock.dmi
  icons/mob/otherHuman/human.dmi
  icons/mob/otherHuman/notes.txt
  icons/mob/roaper.dmi
  icons/mob/spirits/mask.dmi
  icons/mob/vox.dmi
  icons/obj/atmospherics/mixer.dmi
  icons/obj/atmospherics/outlet_injector.dmi
  icons/obj/doors/airlocks/clockwork/overlays.dmi
  icons/obj/doors/airlocks/clockwork/pinion_airlock.dmi
  icons/obj/doors/door_fire2.dmi
  icons/obj/doors/doorf.dmi
  icons/obj/doors/doorgold.dmi
  icons/obj/doors/doorhazard.dmi
  icons/obj/doors/doorhazard2x1.dmi
  icons/obj/doors/doorhazard3x1.dmi
  icons/obj/doors/doorsand.dmi
  icons/obj/machines/implantchair.dmi
  icons/obj/machines/metal_detector.dmi
  icons/obj/pipes/large.dmi
  icons/obj/pipes/regular.dmi
  icons/obj/power_cond/power_local.dmi
  icons/obj/smooth_structures/catwalk_clockwork_large.dmi
  icons/obj/smooth_structures/lattice_clockwork_large.dmi
  icons/obj/smooth_structures/swarmer_catwalk.dmi
  icons/obj/syndieweapons.dmi
  icons/obj/tram/tram_rail.dmi
  icons/turf/catwalks.dmi
  icons/turf/floors/ash.dmi
  icons/turf/floors/rocky_ash.dmi
  icons/turf/floors/snow_turf.dmi
  icons/turf/mining.dmi
  icons/turf/walls/icedmetal_wall.dmi
  icons/turf/walls/materialwall.dmi
  icons/turf/walls/mountain_wall.dmi
  icons/turf/walls/red_wall.dmi
  icons/turf/walls/riveted.dmi
  icons/turf/walls/snow_wall.dmi
Labels: Sprites, Code Improvement, -Status: Awaiting merge

#22619 Bicycle is now a bicycle! (and gives it a bicycle bell too)
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/arcade/prize_datums.dm
  code/modules/customitems/item_defines.dm
  code/modules/vehicle/bicycle.dm
  icons/obj/vehicles.dmi
  paradise.dme
Labels: Sprites, Tweak, -Status: Awaiting merge

#23144 Fixes an oversight when altclicking emagged lockboxes
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/lockbox.dm
Labels: Fix, -Status: Awaiting merge

#23149 Fixes waterfall drip recursive timer to loop one
  code/modules/awaymissions/mission_code/beach.dm
Labels: Fix, -Status: Awaiting merge

#23150 [s] Fix Syndicate Outpost and Cameras
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  code/_globalvars/lists/misc_lists.dm
Labels: Fix, Map Edit, -Status: Awaiting merge

#23160 Refactors custom_pain to work on organs instead of on mobs
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/pain.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
Labels: Refactor, -Status: Awaiting merge

#23170 Makes throwing croissants craftable (again)
  code/modules/crafting/craft.dm
  code/modules/crafting/recipes.dm
  code/modules/holiday/christmas.dm
Labels: Fix, -Status: Awaiting merge

#23176 Cyborgs and AIs now don't get a bank account assigned.
  code/controllers/subsystem/SSjobs.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/silicon_jobs.dm
Labels: Fix, -Status: Awaiting merge

#23178 Removes the IPC damage mod. For real this time.
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Balance, -Status: Awaiting merge

#23193 Fixes vendor refills not working
  code/game/machinery/vendors/vending.dm
  code/game/objects/items/weapons/vending_items.dm
Labels: Fix, -Status: Awaiting merge

#23197 Fixes wallets and PDAs with an ID (which has access) inside of them being unable to enter a mech
  code/game/mecha/mecha.dm
Labels: Fix, -Status: Awaiting merge

#23214 Fix: Some invisible food sprites
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/food/foods/sandwiches.dm
Labels: Fix, -Status: Awaiting merge

#23220 Adds new Changeling ability Lethargic sting
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  icons/mob/actions/actions.dmi
  icons/mob/screen_gen.dmi
Labels: Feature, Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#23071 Nerfs the basic plasma cutter. Yep.
  code/game/objects/structures/crates_lockers/closets/secure/medical_lockers.dm
  code/modules/mining/machine_vending.dm
  code/modules/projectiles/ammunition/energy_lens.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#23166 Makes some alterations to the APC CI
  code/modules/unit_tests/areas_apcs.dm
Labels: Refactor, -Status: Awaiting merge

#22653 Allows All Silicons to do Paperwork
  code/modules/paperwork/photocopier.dm
  tgui/packages/tgui/interfaces/Photocopier.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Merge Conflict, Sprites, User Interface, TGUI, -Status: Awaiting merge

#22996 cere: move aft telepads closer to their destination areas
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, -Status: Awaiting approval, CereStation, [MQL] CereStation

#23224 Service armband + minor tweaks
  code/game/machinery/vendors/wardrobe_vendors.dm
  code/modules/client/preference/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/armband.dm
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
Labels: Feature, Sprites, Tweak, -Status: Awaiting merge, Requires Wiki Update

#23245 Fixes PDAs not dropping when being stripped
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: -Status: Awaiting type assignment

#23159 Potato batteries now have a minimum max charge of 1
  code/modules/hydroponics/plant_genes.dm
Labels: Tweak, -Status: Awaiting merge

#23163 Makes lavaland outpost (and gulag) less annoying to fix.
  _maps/map_files/generic/Lavaland.dmm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/turf.dm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#22972 Removes the second keycard authentication device in Delta's HOP office
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting review, [MQL] DeltaStation

#23147 Updates wooden floor sprites v2
  icons/turf/floors.dmi
Labels: Sprites, -Status: Awaiting review

#23177 fixes admin given assassinateonce objective.
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
Labels: Fix, -Status: Awaiting merge

#22959 Adds a confirmation prompt to all OOC events in the secrets panel.
  code/modules/admin/topic.dm
Labels: Administration, -Status: Awaiting review

#23066 Ports Firing Range Magnet Control to TGUI
  code/game/machinery/magnetic_module.dm
  tgui/packages/tgui/interfaces/MagnetController.js
  tgui/packages/tgui/interfaces/pai/pai_main_menu.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, Refactor, TGUI, -Status: Awaiting merge

#23211 Fix item state of flashlights & cult mirror shield
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items/devices/flashlight.dm
Labels: Fix, -Status: Awaiting review

#23139 Reason text for sentience potion
  code/controllers/subsystem/SSghost_spawns.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Feature, -Status: Awaiting review

#22806 Metastation Adds Hallway
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/area/ss13_areas/public_areas.dm
Labels: Fix, Map Edit, Refactor, MetaStation, -Status: Awaiting review

#23052 Shadow Demon Sound Rework
  code/game/gamemodes/miniantags/demons/shadow_demon/shadow_demon.dm
  sound/shadowdemon/shadowattack1.ogg
  sound/shadowdemon/shadowattack2.ogg
  sound/shadowdemon/shadowattack3.ogg
  sound/shadowdemon/shadowattack4.ogg
  sound/shadowdemon/shadowdeath.ogg
  sound/shadowdemon/shadowhalluc1.ogg
  sound/shadowdemon/shadowhalluc2.ogg
  sound/shadowdemon/shadowhalluc3.ogg
  sound/shadowdemon/shadownode.ogg
  sound/shadowdemon/shadownodeambientt.ogg
Labels: Sound, -Status: Awaiting review

#23190 removes the 'is' from the set-pose command
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/silicon/robot/robot_examine.dm
  code/modules/mob/living/silicon/silicon_mob.dm
Labels: Tweak, -Status: Awaiting review

#23123 Improves updatepaths documentation and minor code improvements
  tools/UpdatePaths/Update Paths.bat
  tools/UpdatePaths/__main__.py
  tools/UpdatePaths/readme.md
Labels: Documentation, Code Improvement, -Status: Awaiting merge

#23264 Fixes a few runtimes
  code/game/machinery/Sleeper.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/paperwork/paper.dm
  code/modules/surgery/organs_internal.dm
Labels: -Status: Awaiting type assignment

#23233 Further changeling engoodening: chameleon skin buff.
  code/modules/antagonists/changeling/powers/chameleon_skin.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#23225 New Skrell Sprites that make you feel immersed as a giant toad creature thing
  icons/mob/human_races/r_skrell.dmi
  icons/mob/sprite_accessories/skrell/skrell_hair.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#22856 Contractees Now Lose All Implants + 10 Minute Time if Antagonist
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
Labels: Balance, -Status: Awaiting review

#23200 Fixes a runtime in mind traits and makes IS_HOLY work versus vampires
  code/__HELPERS/trait_helpers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
Labels: Fix, -Status: Awaiting merge

#23188 Fixes machine using power from the area it was created in, rather than using the area it is in
  code/game/machinery/cell_charger.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/doppler_array.dm
  code/game/machinery/machinery.dm
  code/game/machinery/recharger.dm
  code/game/machinery/snow_machine.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/food_and_drinks/drinks/bottler/bottler.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/power/generators/thermo_electric_generator.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
Labels: Fix, -Status: Awaiting merge

#23151 makes ancient goliaths only make tendrils if they have a target
  code/modules/mob/living/simple_animal/hostile/mining/goliath.dm
Labels: Tweak, -Status: Awaiting merge

#23070 Gives drones respawnability, improves killing yourself as a drone
  code/game/verbs/suicide.dm
  code/modules/mob/living/silicon/robot/drone/maint_drone.dm
Labels: Tweak, -Status: Awaiting merge

#22849 makes paper stack burning more consistent
  code/modules/paperwork/paper_bundle.dm
Labels: Stale, -Status: Awaiting merge

#23015 Cyberiad Bridge remap
  _maps/map_files/cyberiad/cyberiad.dmm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/objects/structures/statues.dm
  icons/obj/station_statue.dmi
Labels: Map Edit, Sprites, BoxStation, Testmerge Requested, Testmerge Active, -Status: Awaiting merge, [MQL] BoxStation

#23032 Map: [DELTA] General Fixes
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting approval, [MQL] DeltaStation

#23022 Some box floor safe loot tweaks, and crate loot in the maints vault.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, Tweak, -Status: Awaiting merge, [MQL] BoxStation

#23048 adds an air alarm to the fitness room in delta station
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting approval

#22842 Tweaks Load Lawset to differentiate between admins and normal players, admins can choose to not change zeroth laws
  code/datums/ai_laws_datums.dm
  code/modules/tgui/modules/law_manager.dm
Labels: Fix, -Status: Awaiting merge

#23009 Allows roundstart observers to freely use antag HUD without losing respawnability
  code/_globalvars/lists/mob_lists.dm
  code/controllers/subsystem/SSghost_spawns.dm
  code/game/gamemodes/cult/runes.dm
  code/modules/admin/misc_admin_procs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/awaymissions/mob_spawn.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mob/dead/observer/observer_base.dm
  code/modules/mob/living/carbon/brain/robotic_brain.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/living/silicon/robot/drone/maint_drone.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_ghost_interaction.dm
  code/modules/mob/mob_misc_procs.dm
  code/modules/mob/mob_vars.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/response_team/ert.dm
  code/modules/tgui/modules/ghost_hud_panel.dm
Labels: Administration, Tweak, -Status: Awaiting merge

#23222 Resprites Cigars, Holocigars, Premium Cigars, Rollies, and Cigarettes
  icons/obj/clothing/masks.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#23298 Fixes acid peels
  code/modules/hydroponics/growninedible.dm
Labels: Fix, -Status: Awaiting merge

#23044 [s] Fix cyberiad research windoor.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting review, [MQL] BoxStation

#23053 Removes Barber because its a poorly designed role
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/job_defines.dm
  code/datums/datacore.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/jobs/departments.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job_globals.dm
  code/game/machinery/computer/arcade_games/recruiter.dm
  code/game/machinery/tcomms/nttc.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/scissors.dm
  code/game/objects/mail.dm
  icons/mob/hud/sechud.dmi
  icons/obj/card.dmi
Labels: Map Edit, Revert/Feature Removal, Sprites, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation, [MQL] MetaStation, Requires Wiki Update, CereStation, [MQL] CereStation, Requires SOP Update

#23322 Fixes some issues with patches and pills
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix, -Status: Awaiting type assignment

#22798 Adds 3 ipc only implants.
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs_internal.dm
Labels: Feature, Balance, -Status: Awaiting merge, Requires Wiki Update

#23072 Fix Cyberiad Unisex Restroom near Engineering (not arrivals)
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/area/ss13_areas/public_areas.dm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#23121 Make dicebag not a pillbottle subtype.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
  code/game/objects/items/weapons/RSF.dm
  code/game/objects/items/weapons/dice.dm
  code/modules/mining/equipment/survival_pod.dm
Labels: Fix, Map Edit, Refactor, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#23276 fixes some issues with defibs
  code/game/objects/items/weapons/defib.dm
Labels: Fix, -Status: Awaiting type assignment

#23284 [s] Adds pAI to cargo shuttle blacklist
  code/modules/shuttle/supply.dm
Labels: -Status: Awaiting type assignment

#23340 [s] Makes cult ghost runes work again
  code/game/gamemodes/cult/runes.dm
Labels: Fix, oops, -Status: Awaiting type assignment

#23040 Buffs His Grace
  code/__DEFINES/combat_defines.dm
  code/datums/status_effects/buffs.dm
  code/game/objects/items/his_grace.dm
Labels: Balance, -Status: Awaiting merge

#23086 HUDs can now only change status with sufficient ID access
  code/__DEFINES/hud.dm
  code/datums/outfits/outfit_debug.dm
  code/game/jobs/job/supervisor.dm
  code/game/objects/items/weapons/storage/garment.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/glasses/hudglasses.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/human_examine.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/surgery/organs/augments_eyes.dm
Labels: Balance, -Status: Awaiting merge

#23215 Reflectors now return materials on deconstruction
  code/game/objects/structures/reflector.dm
Labels: Fix, -Status: Awaiting merge

#23241 Nerfs baton throwing
  code/game/objects/items/weapons/stunbaton.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#23256 Adds LOOC to runechat.
  code/__DEFINES/misc_defines.dm
  code/datums/chatmessage.dm
  code/game/verbs/ooc.dm
Labels: Feature, -Status: Awaiting merge

#23257 Defibs now shock people giving CPR
  code/datums/components/defibrillator.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: Feature, -Status: Awaiting merge

#23189 Removes boxes from the uplink PART 1
  _maps/map_files/generic/centcomm.dmm
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/mod/mod_types.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Map Edit, Tweak, -Status: Awaiting merge, Requires Wiki Update

#23260 The temperature gun no longer self charges.
  code/modules/projectiles/guns/energy/special_eguns.dm
Labels: Balance, -Status: Awaiting merge

#23261 Fixes changeling with contort body being able to pass airlock while upright
  code/game/machinery/doors/airlock.dm
Labels: Fix, -Status: Awaiting merge

#23269 fixes being unable to rename paper
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperplane.dm
Labels: Fix, -Status: Awaiting merge

#23270 Engineer ERT buff, and a small gamma ert buff
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/response_team/ert_outfits.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#23281 [TGUI] Input List
  code/game/machinery/hologram.dm
  code/game/objects/structures/barsign.dm
  code/modules/admin/admin_verbs.dm
  code/modules/tgui/modules/tgui_input_list.dm
  paradise.dme
  tgui/packages/tgui/components/Autofocus.js
  tgui/packages/tgui/components/Input.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/hotkeys.js
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/ListInput.scss
  tgui/packages/tgui/styles/main.scss
Labels: TGUI, -Status: Awaiting merge

#23282 customised_abstract_text - removed useless check, changed var
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/wizard/godhand.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Refactor, -Status: Awaiting merge

#23283 Portable scrubber/pump eject into hand
  code/modules/atmospherics/machinery/portable/portable_pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: Tweak, -Status: Awaiting merge

#23286 Lets lockers/crates protect food from ants
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/food_and_drinks/food_base.dm
Labels: Tweak, -Status: Awaiting merge

#23288 fixes water backpacks not being able to have their miser be toggled by clicking on it while it's on your back
  code/game/objects/items/weapons/tanks/watertank.dm
Labels: Fix, -Status: Awaiting merge

#23293 Adds colored shoes to loadout, makes satchels craftable
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/client/preference/loadout/loadout_shoes.dm
Labels: Tweak, -Status: Awaiting merge

#23295 Moves voyager.dmi into items.dmi to reduce bloat
  code/modules/ruins/spaceruin_code/voyager.dm
  icons/obj/ruin_objects.dmi
  icons/obj/space/voyager.dmi
Labels: Sprites, Code Improvement, -Status: Awaiting merge

#23301 Moves a few sprites out of items.dmi
  code/game/gamemodes/cult/cult_items.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/batons.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/melee/energy_melee_weapons.dm
  code/game/objects/items/weapons/paint_bucket.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mining/equipment/resonator.dm
  code/modules/mining/machine_vending.dm
  code/modules/ninja/energy_katana.dm
  icons/obj/baton.dmi
  icons/obj/bedsheet.dmi
  icons/obj/energy_melee.dmi
  icons/obj/items.dmi
  icons/obj/lighter.dmi
  icons/obj/mining_tool.dmi
  icons/obj/paint.dmi
  icons/obj/restraints.dmi
  icons/obj/shield.dmi
  icons/obj/spear.dmi
  icons/obj/toy.dmi
Labels: Refactor, Sprites, -Status: Awaiting merge

#23306 reduces a massive amount of endround lag
  code/controllers/subsystem/SSticker.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult_mode.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/vampire_gamemode.dm
  code/game/gamemodes/wizard/wizard.dm
Labels: Fix, -Status: Awaiting merge

#23312 Fixes teg anchoring
  code/modules/power/generators/thermo_electric_generator.dm
Labels: Fix, -Status: Awaiting merge
