Repository ParadiseSS13/Paradise, pull requests merged in 2023-10, with the labels that each got.

#22501 Kills Check Pulse
  code/__DEFINES/mob_defines.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: Revert/Feature Removal, Code Improvement, -Status: Awaiting merge

#22549 fixes some turfs being active on a space ruin roundstart
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#22567 Fixes mail crates sometimes spawning inside the Supply shuttle engines
  code/controllers/subsystem/SSshuttles.dm
Labels: Fix, -Status: Awaiting merge

#22572 Allows pacifists to fire cap guns
  code/modules/projectiles/ammunition/ammo_casings.dm
Labels: Tweak, -Status: Awaiting merge

#22591 Some fake virus tweaks
  code/datums/status_effects/debuffs.dm
  code/modules/events/fake_virus.dm
Labels: -Status: Awaiting merge, Requires Wiki Update

#22584 Splits up `item_inhands.dmi`
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/teleprod.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
  code/modules/hydroponics/grown/nettle.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/guns/throw/crossbow.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/weapons_lefthand.dmi
  icons/mob/inhands/weapons_righthand.dmi
Labels: Refactor, Sprites, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#22593 Fixes a runtime with hud glasses and latespawn players
  code/modules/clothing/glasses/hudglasses.dm
Labels: Fix, -Status: Awaiting merge

#22594 Adds a progressbar to heating up reagent containers.
  code/_onclick/item_attack.dm
Labels: Balance, -Status: Awaiting merge

#22602 Syndicate bots no longer show up on security bot control PDA menu
  code/modules/pda/cart_apps.dm
Labels: Fix, -Status: Awaiting merge

#22427 Nt recruiter First DLC (emag and other tweaks)
  code/game/machinery/computer/arcade_games/recruiter.dm
  code/modules/clothing/under/accessories/accessory.dm
  sound/misc/for_the_syndicate.ogg
  sound/misc/what_this_button_do.ogg
  tgui/packages/tgui/interfaces/NTRecruiter.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Sound, TGUI, -Status: Awaiting merge, Requires Wiki Update

#22136 Parallax in Darkness
  code/__DEFINES/preferences_defines.dm
  code/_onclick/hud/parallax.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/client/preference/preferences_toggles.dm
Labels: Feature, -Status: Awaiting review

#22173 Adds a new fauna to lavaland: an abandoned minebot!
  code/game/objects/effects/landmarks.dm
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/modules/mob/living/simple_animal/hostile/mining/abandoned_minebot.dm
  paradise.dme
Labels: Feature, -Status: Awaiting review, Requires Wiki Update

#22287 Removes Pet Hospital, Adds Althland Corporation Refinery Ruins
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_animal_hospital.dmm
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland_areas.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/game/turfs/simulated/floor/lava.dm
  code/modules/awaymissions/mission_code/ruins/processing_facility.dm
  code/modules/ruins/lavalandruin_code/animal_hospital.dm
  config/example/config.toml
  paradise.dme
Labels: Feature, Map Edit, Revert/Feature Removal, Configuration Change, -Status: Awaiting review, Requires Wiki Update

#22355 changes qdel method on bridge spawners
  code/datums/ruins/bridges/bridges.dm
Labels: Fix, -Status: Awaiting review

#22367 Refactors the surplus crate
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Refactor, -Status: Awaiting review

#22384 Slightly nerfs and fixes slaughter demon healing
  code/datums/spells/bloodcrawl.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#22374 Refactors objectives, expands team functionality, and custom teams
  code/controllers/subsystem/SSjobs.dm
  code/controllers/subsystem/SSticker.dm
  code/datums/mind.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult_mode.dm
  code/game/gamemodes/cult/cult_objectives.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/miniantags/abduction/abductee_objectives.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/miniantags/abduction/machinery/experiment.dm
  code/game/gamemodes/miniantags/demons/slaughter demon/slaughter.dm
  code/game/gamemodes/miniantags/morph/morph.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/objective_holder.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/vampire_gamemode.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/raginmages.dm
  code/game/gamemodes/wizard/wizard.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/weapons/dice.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/_common/antag_team.dm
  code/modules/antagonists/changeling/datum_changeling.dm
  code/modules/antagonists/revolutionary/team_revolution.dm
  code/modules/antagonists/survivalist/survivalist.dm
  code/modules/antagonists/traitor/datum_mindslave.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/antagonists/wishgranter/wishgranter_avatar.dm
  code/modules/awaymissions/mob_spawn.dm
  code/modules/events/traders.dm
  code/modules/mining/lavaland/loot/bubblegum_loot.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  paradise.dme
Labels: Refactor, Testmerge Requested, -Status: Awaiting merge

#22402 Certain headsets now no longer need telecomms to work (Nukeops, Deathsquad, ERT Commander)
  code/game/machinery/tcomms/tcomms_base.dm
Labels: Fix, -Status: Awaiting review

#22422 Updates Sprite on Vox Breath Mask
  code/modules/clothing/masks/breath.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  icons/mob/clothing/species/vox/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites, -Status: Awaiting review

#22557 Modsuit flashlights are now properly extinguished
  code/modules/mod/mod_control.dm
  code/modules/mod/modules/modules_general.dm
Labels: Fix, -Status: Awaiting review

#22560 Fix/Tweak: Now admin logout messages are more important than mentor ones
  code/modules/mob/mob_logout_base.dm
Labels: Administration, -Status: Awaiting review

#22523 Fixes AI being able to control not working APCs
  code/_onclick/ai_onclick.dm
Labels: Fix, -Status: Awaiting merge

#22596 Moves the lobby panel to the status panel
  code/modules/mob/new_player/new_player.dm
Labels: Tweak, -Status: Awaiting review

#22563 Stops you from grabbing someone if you are horizontal
  code/modules/martial_arts/brawling.dm
  code/modules/martial_arts/judo.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/living_defense.dm
Labels: Balance, -Status: Awaiting review

#22565 Fixes missing windoors in Delta security (And a few other places)
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting review

#22660 Fixes Crutches not working properly
  code/game/objects/items/weapons/misc_items.dm
Labels: -Status: Awaiting type assignment

#22271 Removes Bluespace Tile Speed, Replaces It With Anti-Slowdown
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#22428 Garbage Collector Update
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/misc_defines.dm
  code/__DEFINES/qdel_defines.dm
  code/controllers/subsystem/SSgarbage.dm
  code/datums/datum.dm
  code/modules/admin/verbs/debug.dm
Labels: Merge Conflict, Refactor, Performance, Port, GC Related, -Status: Awaiting merge

#22614 Admins are now properly alerted again when a hamborger is made.
  code/modules/food_and_drinks/food/foods/sandwiches.dm
Labels: Fix, -Status: Awaiting type assignment

#22684 [s] Martial arts granted by equipped items no longer persist through cloning.
  code/datums/mind.dm
  code/game/objects/items/weapons/highlander_swords.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/martial_arts/judo.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/martial_arts/martial.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Fix, -Status: Awaiting type assignment

#22460 Makes the Librarian a little less shit, now they know most languages.
  code/__DEFINES/language_defines.dm
  code/game/jobs/job/support.dm
  code/modules/mob/language.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#22496 Adds jaunter kit to mining voucher options
  code/modules/mining/machine_vending.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update

#22506 Antimatter now innacurate without zooming. Sniper projectiles are faster / pass through weak stuff.
  code/__DEFINES/flags.dm
  code/datums/uplink_items/uplink_nuclear.dm
  code/game/objects/structures/girders.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#22564 Carding AIs now takes time.
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Balance, -Status: Awaiting review

#22607 File cleanup for ert_outfits.dm
  code/modules/response_team/ert_outfits.dm
Labels: Code Improvement, -Status: Awaiting review

#22612 Drask no longer slow down when cold.
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Fix, -Status: Awaiting review

#22613 Adds supply department to agent ID options and cleans code a little
  code/game/objects/items/weapons/cards_ids.dm
Labels: Fix, -Status: Awaiting review

#22615 Changelings now cannot use their shrieks while they are ventcrawling
  code/modules/antagonists/changeling/powers/shriek.dm
Labels: Balance, -Status: Awaiting review

#22621 fixes new players not always being able to use their keybinds
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/new_player_login.dm
Labels: Fix, -Status: Awaiting review

#22625 Fixes canisters constantly 'failing to connect' despite it actually connecting
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
Labels: Fix, -Status: Awaiting review

#22638 TG lavaland watcher sprites, Mey-Ha-Zah
  icons/mob/lavaland/watcher.dmi
  icons/obj/stacks/organic.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#22627 Bug fix for carrot shivs Fixes #22556
  _maps/map_files/generic/centcomm.dmm
  code/game/objects/items/weapons/kitchen.dm
  code/modules/hydroponics/grown/root.dm
Labels: Fix, Map Edit, Sprites, -Status: Awaiting merge, Requires Wiki Update

#22640 Robot storage resprite
  icons/obj/robot_storage.dmi
Labels: Sprites, -Status: Awaiting review

#22643 H.E.C.C. suit resprite
  code/modules/mining/equipment/explorer_gear.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/tajaran/head.dmi
  icons/mob/clothing/species/tajaran/suit.dmi
  icons/mob/clothing/species/unathi/head.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vulpkanin/head.dmi
  icons/mob/clothing/species/vulpkanin/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#22661 fixes some interface runtimes
  code/modules/client/client_procs.dm
  interface/skin.dmf
Labels: -Status: Awaiting review

#22665 Fixes cult ghosts not being able to be summoned anymore
  code/game/gamemodes/cult/runes.dm
Labels: Fix, -Status: Awaiting review

#22672 fix runtimes setting empty crayon message
  code/game/objects/items/crayons.dm
Labels: Fix, -Status: Awaiting review

#22679 Fixes a runtime with ERTs cryoing
  code/controllers/subsystem/SSjobs.dm
Labels: Refactor, -Status: Awaiting review

#22680 Fixes some runtimes with the Rejuv Borgs Malf AI upgrade
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/modules/mob/living/silicon/robot/robot_inventory.dm
Labels: Fix, -Status: Awaiting review

#22685 You can no longer attack MMIs and posibrains with items.
  code/modules/mob/living/carbon/brain/MMI.dm
Labels: Fix, -Status: Awaiting review

#22686 Your job gets transferred to new body when cloned.
  code/datums/mind.dm
Labels: Fix, -Status: Awaiting review

#22693 Shelter areas use mining ambience instead of station ones
  code/modules/mining/equipment/survival_pod.dm
Labels: Fix, -Status: Awaiting review

#22695 Buffs nukies (Just kidding, fixes an oversight from the TC inflation act)
  code/game/gamemodes/nuclear/nuclear.dm
Labels: Fix, -Status: Awaiting review

#22673 fixes a tochat runtime
  code/game/gamemodes/cult/runes.dm
Labels: Fix, -Status: Awaiting merge

#22649 Adds logging for chem bio-chip implant
  code/game/objects/items/weapons/implants/implant_chem.dm
Labels: Administration, -Status: Awaiting merge

#22708 fixes tabbing in nanny bag
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Fix, -Status: Awaiting type assignment

#22727 Revert "Bump pillow from 9.3.0 to 10.0.1 in /tools"
  tools/requirements.txt
Labels: Fix

#22273 The degrilling: map windows no longer have grilles under them unless electrified or space adjacent
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedtele.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/RandomRuins/SpaceRuins/blowntcommsat.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/effects/spawners/windowspawner.dm
  icons/obj/structures.dmi
Labels: Map Edit, Sprites, MetaStation, BoxStation, Tweak, DeltaStation, -Status: Awaiting review, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#22730 Bumps merge driver deps
  _build_dependencies.sh
  tools/bootstrap/python311._pth
  tools/bootstrap/python_.ps1
  tools/requirements.txt
Labels: -Status: Awaiting type assignment

#22738 fixes slaughter demons being broken
  code/datums/spells/bloodcrawl.dm
Labels: Fix, -Status: Awaiting type assignment

#22737 mapmerge: fix bidict.KeyAndValueDuplicationError
  tools/mapmerge2/merge_driver.py
Labels: Fix, Infrastructure, -Status: Awaiting type assignment

#22626 Updates the title, and inspect message of portable pumps, and scrubbers.
  code/modules/atmospherics/machinery/portable/portable_pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: Grammar and Formatting, Tweak, -Status: Awaiting merge

#22349 New Taj Head & Hairstyles
  code/modules/mob/new_player/sprite_accessories/tajaran/tajaran_hair.dm
  icons/mob/clothing/modsuit/species/taj_modsuits.dmi
  icons/mob/clothing/species/tajaran/head.dmi
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
  icons/mob/clothing/species/tajaran/suit.dmi
  icons/mob/human_races/r_tajaran.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_body_markings.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_facial_hair.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_hair.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_head_markings.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#22746 mapmerge: one last fix for diff size
  tools/mapmerge2/dmm.py
  tools/mapmerge2/merge_driver.py
Labels: -Status: Awaiting type assignment

#22361 Ports Humans from TG - Soul Massacre
  code/modules/mob/living/carbon/human/species/human_species.dm
  icons/mob/human_races/human_skintones/r_human_Coffee.dmi
  icons/mob/human_races/human_skintones/r_human_Olive.dmi
  icons/mob/human_races/human_skintones/r_human_Oliverandcompany.dmi
  icons/mob/human_races/human_skintones/r_human_beige.dmi
  icons/mob/human_races/human_skintones/r_human_chestnut.dmi
  icons/mob/human_races/human_skintones/r_human_classic.dmi
  icons/mob/human_races/human_skintones/r_human_pale.dmi
  icons/mob/human_races/r_human.dmi
  icons/mob/simple_human.dmi
  icons/obj/cardboard_cutout.dmi
Labels: Feature, Sprites, -Status: Awaiting review, Requires Wiki Update

#22039 [TGUI HELL] Adds a Shopping Cart System to the syndicate uplink
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/items/devices/uplinks.dm
  tgui/packages/tgui/components/Box.js
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/Section.js
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/components/Section.scss
  tgui/packages/tgui/styles/themes/syndicate.scss
Labels: Feature, Refactor, User Interface, TGUI, -Status: Awaiting review

#22743 fixes flashbangs
  code/game/objects/items/weapons/grenades/flashbang.dm
Labels: Fix, -Status: Awaiting merge

#22723 you can no longer kidnap people with the syndicate teleporter
  code/game/objects/items/devices/traitordevices.dm
Labels: Fix, -Status: Awaiting type assignment

#22758 Fixes TC amount for admin spawned Syndicate Infiltrator
  code/datums/outfits/outfit_admin.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
Labels: Fix, -Status: Awaiting type assignment

#22774 Strange object refactor
  code/modules/research/experimentor.dm
  code/modules/research/strange_objects.dm
  paradise.dme
Labels: Refactor

#22787 [s] Fixes an exploit
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/init_signals.dm
Labels: Fix, Exploit

#22788 Restricts the visibility of some more variables in the VV menu
  code/controllers/globals.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/datums/datumvars.dm
Labels: Fix, Administration, -Status: Awaiting type assignment

#22795 Adds Burzah to the Review Team in Documentation
  .github/CONTRIBUTING.md
Labels: -Status: Awaiting type assignment

#22302 Cyberiad: Fixes some minor issues (No conflicts version)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#22304 Pixel shifts some requestconsoles onto the walls on Meta/cereberon
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, -Status: Awaiting review, [MQL] MetaStation

#22637 Adds a nugget smite for admins
  code/modules/admin/topic.dm
  code/modules/mob/living/carbon/human/human_death.dm
Labels: Feature, Administration, -Status: Awaiting review

#22333 Increase the Emergency Nanomeds on meta from 4 to 16
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Merge Conflict, MetaStation, Tweak, -Status: Awaiting review, [MQL] MetaStation

#22451 gives runtime access the ability to view timer logs and debug timers
  code/controllers/subsystem/SStimer.dm
  code/modules/admin/admin_verbs.dm
Labels: Administration, -Status: Awaiting merge

#22489 Tweaks the protector guardian
  code/game/gamemodes/miniantags/guardian/types/protector.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#22503 LWAP now descopes more accurately to movement, instead of on process
  code/modules/projectiles/guns/energy/laser.dm
Labels: -Status: Awaiting merge

#22544 Adds blackbox logging to rnd printing.
  code/modules/research/rdconsole.dm
Labels: Tweak, -Status: Awaiting merge

#22571 Adds Riot Shield Bashing with Combat Knives
  code/game/objects/items/weapons/shields.dm
Labels: Tweak, -Status: Awaiting merge

#22579 Removes Mass Borg Detonation + Adds Cooldown to Singular Borg Detonation
  code/game/machinery/computer/robot_control.dm
  tgui/packages/tgui/interfaces/RoboticsControlConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Balance, TGUI, -Status: Awaiting merge

#22610 One Two, Buckle my Jackshoe (Adds Old Jackboots)
  code/game/machinery/vendors/wardrobe_vendors.dm
  code/modules/clothing/shoes/misc_shoes.dm
  sound/effects/jackboot1.ogg
  sound/effects/jackboot2.ogg
Labels: Feature, Sound, -Status: Awaiting merge, Requires Wiki Update

#22604 Add 2 new stupidly resistant wheelchairs.
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  icons/obj/chairs.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#22618 Adds new microtransaction method: Scratch Cards!
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/scratch_card.dm
  code/game/objects/mail.dm
  code/modules/economy/merch_items.dm
  icons/obj/economy.dmi
  paradise.dme
  sound/items/scratching.ogg
Labels: Feature, Sound, Sprites, -Status: Awaiting merge, Requires Wiki Update

#22622 Esword and Desword removal (brand new arrived)
  icons/obj/items.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#22656 New sprites for O2 wall lockers
  icons/obj/walllocker.dmi
Labels: Sprites, -Status: Awaiting merge

#22670 Raises max transfer capacity on bottles from 30u to 50u
  code/modules/reagents/reagent_containers/chemical_bottle.dm
Labels: Tweak, -Status: Awaiting merge

#22671 Atmospherics Manual Improvement
  code/game/objects/items/weapons/manuals.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#22682 Makes gun reskins use a radial menu instead of a input menu
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Tweak, -Status: Awaiting merge

#22687 Pick-Darkness verb now supports command box input
  code/modules/mob/dead/observer/observer_base.dm
Labels: Tweak, -Status: Awaiting merge

#22692 Nanopaste resprite
  code/game/objects/items/stacks/nanopaste.dm
  icons/obj/nanopaste.dmi
  icons/obj/surgery.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#22699 TG resprite, shiny internals tanks for all!
  icons/obj/tank.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#22702 Add serialization support to Modsuit modules
  code/modules/mod/mod_control.dm
  code/modules/mod/modules/modules_general.dm
Labels: Administration, -Status: Awaiting merge

#22705 Add logging to modsuit kick module
  code/modules/mod/modules/modules_antag.dm
Labels: -Status: Awaiting merge, Logging

#22711 Fixes the TGUI Error Logo
  tgui/packages/tgui/public/tgui.html
Labels: Fix, TGUI, -Status: Awaiting merge

#22713 Swaps Atmos Tray scanners with engineering goggles
  code/game/machinery/vendors/departmental_vendors.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering_lockers.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#22722 Properly informs CQC Headkick does Brain Damage
  code/modules/martial_arts/combos/cqc/kick.dm
Labels: Tweak, -Status: Awaiting merge

#22725 Fulton extraction properly unbuckles mobs
  code/modules/mining/fulton.dm
Labels: Fix, -Status: Awaiting merge

#22736 Expanded Passive Gate Functionality
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
Labels: Feature, -Status: Awaiting merge

#22744 Normal tomatoes can now be sliced. Tomato Meat now functions as meat.
  code/modules/food_and_drinks/food/foods/ingredients.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/hydroponics/grown/tomato.dm
  code/modules/mob/living/simple_animal/hostile/killertomato.dm
  icons/obj/food/food.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#22748 Creates research costs for some PKA mods
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/research/designs.dm
  code/modules/research/research.dm
Labels: Fix, -Status: Awaiting merge

#22749 Fixes dusting part 2
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix, -Status: Awaiting merge

#22753 optimizes MouseEnter
  code/_onclick/click.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/screen_objects.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/items.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/space/space_turf.dm
Labels: Performance, -Status: Awaiting merge

#22782 Megafauna are no longer chronically afraid of chasms
  code/game/turfs/simulated/floor/chasm.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: Fix, -Status: Awaiting merge

#22802 Fixes some runtimes caused by #22788
  code/controllers/globals.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/datums/datumvars.dm
Labels: Fix

#22315 Removes Beach Bums, Adds Althland Excavation Pit
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_excavation.dmm
  _maps/map_files/templates/biodome_beach.dmm
  code/datums/ruins/lavaland.dm
  code/modules/awaymissions/mob_spawn.dm
  config/example/config.toml
Labels: Feature, Map Edit, Revert/Feature Removal, Configuration Change, -Status: Awaiting review, Requires Wiki Update

#22764 vinegar and a vinegar included food
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/foods/ethnic.dm
  code/modules/food_and_drinks/recipes/recipes_grill.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/recipes/food_reactions.dm
  icons/obj/food/containers.dmi
  icons/obj/food/food.dmi
Labels: Feature, Merge Conflict, Sprites, -Status: Awaiting merge, Requires Wiki Update

#22778 TGUI Bots Refactor
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Refactor, -Status: Awaiting merge

#22792 Gives Engineering ERTs Rapid Pipe Dispensers
  code/modules/response_team/ert_outfits.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#22382 Adds the NT Recruiter game to the arcade room
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, MetaStation, BoxStation, Tweak, DeltaStation, -Status: Awaiting review, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#22385 Remove invalid icon dirs from station floors.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, Merge Conflict, Refactor, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#22568 Minor card tweaks
  code/modules/games/cards.dm
Labels: Tweak, -Status: Awaiting merge

#22573 Adds eight vox hairstyles because why not and stuff
  code/modules/mob/new_player/sprite_accessories/vox/vox_hair.dm
  icons/mob/sprite_accessories/vox/vox_hair.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#22678 Removes nucleations
  code/game/machinery/computer/arcade_games/recruiter.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/new_player/sprite_accessories/nucleation/nucleation_face.dm
  code/modules/surgery/organs/subtypes/nucleation_organs.dm
  icons/obj/surgery.dmi
  paradise.dme
  strings/syndicate_wanted_messages.json
Labels: Revert/Feature Removal, Sprites, -Status: Awaiting merge, Requires Wiki Update

#22733 Add seconds to hh:mm:ss proc for Check Antagonists panel
  code/__HELPERS/time.dm
  code/modules/admin/player_panel.dm
Labels: Tweak, -Status: Awaiting merge

#22789 Ash Walker Speed Only Works on Lavaland
  code/game/atoms_movable.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/ruins/lavalandruin_code/ash_walker_den.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#22703 Adds logging for injecting food via syringe
  code/modules/reagents/reagent_containers/syringes.dm
Labels: -Status: Awaiting review

#22710 Add edge cases to summon item spell, and tweak to feedback if object is hidden
  code/datums/spells/summonitem.dm
Labels: Fix, -Status: Awaiting review

#22719 Fixes empty (bluespace)trashbag not being able to fit into empty belts.
  code/game/objects/items/weapons/storage/bags.dm
Labels: Fix, -Status: Awaiting review

#22724 Fixes modsuit cell removal
  code/game/objects/items.dm
Labels: Fix, -Status: Awaiting review

#22747 Fix: Anti-drop causing permanent nodrop items when dropped item picked up by user.
  code/modules/surgery/organs/augments_internal.dm
Labels: Fix, -Status: Awaiting review

#22750 Ashwalkers now use unathi clothing sprites
  code/modules/client/preference/character.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/modules/_modules.dm
Labels: Fix, -Status: Awaiting review

#22779 The resting/getting up message is sent before the do_mob
  code/modules/mob/mob_misc_procs.dm
Labels: Fix, -Status: Awaiting review

#22791 Fixes an issue with fake death
  code/modules/mob/living/carbon/carbon_death.dm
Labels: Fix, -Status: Awaiting review

#22735 Makes the /Stat proc about five times faster
  code/__HELPERS/trait_helpers.dm
  code/modules/assembly/health.dm
  code/modules/mob/dead/observer/observer_base.dm
  code/modules/mob/living/carbon/alien/alien_base.dm
  code/modules/mob/living/carbon/brain/carbon_brain.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/telesci/gps.dm
Labels: Performance, -Status: Awaiting review

#22520 Makes destructive analyzer stay in the same menu after deconstruction
  code/modules/research/rdconsole.dm
Labels: Tweak, -Status: Awaiting merge

#22689 Fully-implement disabled/no access Slider component
  tgui/packages/tgui/components/DraggableControl.js
  tgui/packages/tgui/components/Slider.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/components/ProgressBar.scss
  tgui/packages/tgui/styles/components/Slider.scss
  tgui/packages/tgui/styles/themes/abductor.scss
  tgui/packages/tgui/styles/themes/cardtable.scss
  tgui/packages/tgui/styles/themes/hackerman.scss
  tgui/packages/tgui/styles/themes/malfunction.scss
  tgui/packages/tgui/styles/themes/retro.scss
  tgui/packages/tgui/styles/themes/syndicate.scss
Labels: Fix, TGUI, -Status: Awaiting merge

#22524 Lavaland: Seed Vault Rework.
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  code/modules/paperwork/paper.dm
Labels: Feature, Map Edit, -Status: Awaiting review, Requires Wiki Update

#22566 Removes the ability to disassemble and unwrench the donksoft vendor in the syndie research base.
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  code/game/machinery/vendors/contraband_vendors.dm
Labels: Map Edit, Tweak, -Status: Awaiting review

#22600 Add space ruin: abandoned engi sat
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_engi_sat.dmm
  code/datums/ruins/space_ruins.dm
  code/game/area/areas/ruins/space_areas.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  config/example/config.toml
Labels: Feature, Map Edit, Configuration Change, -Status: Awaiting review

#22634 New sprites for mugs (there is sprite in my mug)
  icons/obj/mugs.dmi
Labels: Sprites, -Status: Awaiting review

#22639 Resprites Holobadges for security
  icons/mob/ties.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#22620 Makes Drying Rack Operational without Power.
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  icons/obj/hydroponics/equipment.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#22717 Makes Kidan take less damage from pest spray if they have a mask, everyone else takes a very minor amount too
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Balance, -Status: Awaiting review

#22751 Ragin' Mages tweaks
  code/game/gamemodes/wizard/raginmages.dm
Labels: Tweak, -Status: Awaiting review

#22755 adds the bread smite
  code/datums/spells/sentient_sword_lunge.dm
  code/modules/admin/topic.dm
  code/modules/mob/living/simple_animal/shade.dm
Labels: Feature, -Status: Awaiting review

#22757 blackbox: record ruin placements
  code/modules/awaymissions/zlevel_helpers.dm
Labels: -Status: Awaiting review, Logging

#22766 Splits up the abomination that is hud.dmi
  code/__DEFINES/hud.dm
  code/modules/mob/mob.dm
  icons/mob/hud.dmi
  icons/mob/hud/antaghud.dmi
  icons/mob/hud/diaghud.dmi
  icons/mob/hud/hud_misc.dmi
  icons/mob/hud/hydrohud.dmi
  icons/mob/hud/medhud.dmi
  icons/mob/hud/sechud.dmi
Labels: Sprites, Code Improvement, -Status: Awaiting review

#22773 Adjusts Taj Veils + Masks
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
Labels: Sprites, -Status: Awaiting review

#22781 Fix: whitespace in pm
  code/modules/admin/verbs/adminpm.dm
Labels: Grammar and Formatting, -Status: Awaiting review

#22790 Removes the slime friendship & speech buffer system
  code/__DEFINES/mob_defines.dm
  code/game/gamemodes/miniantags/abduction/gland.dm
  code/modules/mob/living/simple_animal/slime/slime_life.dm
  code/modules/mob/living/simple_animal/slime/slime_mob.dm
  code/modules/mob/living/simple_animal/slime/slime_powers.dm
  code/modules/mob/living/simple_animal/slime/slime_say.dm
Labels: Revert/Feature Removal, Performance, -Status: Awaiting review, Requires Wiki Update

#22800 The sound of shells dropping from a gun is no longer louder than the gunitself. Reloading modified
  code/modules/projectiles/guns/projectile_gun.dm
Labels: Balance, -Status: Awaiting review

#22796 Ports Condiment Sprites from TG. Ports Mayonnaise, Peanut Butter, Olives, and Olive Oil from TG
  code/game/machinery/vendors/departmental_vendors.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/hydroponics/grown/olive.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/recipes/food_reactions.dm
  icons/obj/food/containers.dmi
  icons/obj/hydroponics/growing_fruits.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/kitchen.dmi
  paradise.dme
Labels: Feature, Sprites, -Status: Awaiting review, Requires Wiki Update

#22825 Hoodie hood Runtime fix
  code/modules/clothing/suits/hood.dm
Labels: -Status: Awaiting type assignment

#22280 Adds message boxes to the chat system
  code/__DEFINES/chat_box_defines.dm
  code/controllers/subsystem/SSjobs.dm
  code/datums/mind.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/miniantags/abduction/machinery/experiment.dm
  code/game/gamemodes/miniantags/demons/slaughter demon/slaughter.dm
  code/game/gamemodes/miniantags/morph/morph.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/raginmages.dm
  code/game/gamemodes/wizard/wizard.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/misc_admin_procs.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/_common/antag_team.dm
  code/modules/antagonists/changeling/datum_changeling.dm
  code/modules/antagonists/revolutionary/datum_headrev.dm
  code/modules/antagonists/revolutionary/datum_revolutionary.dm
  code/modules/antagonists/survivalist/survivalist.dm
  code/modules/antagonists/traitor/datum_mindslave.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/antagonists/wishgranter/wishgranter_avatar.dm
  code/modules/events/sentience.dm
  code/modules/events/traders.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/sample.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/carbon/brain/robotic_brain.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/silicon/ai/ai_examine.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot_examine.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/slime/slime_mob.dm
  code/modules/mob/mob.dm
  code/modules/reagents/chemistry/reagents/paradise_pop.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  goon/browserassets/js/browserOutput.js
  paradise.dme
Labels: Feature, Merge Conflict, Refactor, -Status: Awaiting merge

#22865 [s] removes 2 vars we no longer need
  code/modules/client/client_procs.dm
  code/modules/client/preference/preferences.dm
Labels: Code Improvement

#22819 Fixes an administration issue with revolutionaries
  code/modules/antagonists/revolutionary/team_revolution.dm
Labels: Fix, -Status: Awaiting type assignment

#22667 TGUI Medbot/Medibot
  code/modules/mob/living/simple_animal/bot/medbot.dm
  tgui/packages/tgui/interfaces/BotMed.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, -Status: Awaiting merge
