Repository ParadiseSS13/Paradise, pull requests merged in 2023-01, with the labels that each got.

#19828 Improves the Medical Record Terminal
  code/datums/diseases/_disease.dm
  code/datums/diseases/cold9.dm
  code/datums/diseases/kingstons.dm
  code/game/machinery/computer/medical.dm
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/MedicalRecords.scss
  tgui/packages/tgui/styles/main.scss
Labels: Tweak, TGUI, -Status: Awaiting merge

#19873 Tool resprite
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/RSF.dm
  icons/effects/effects_rcd.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/device.dmi
  icons/obj/tools.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#19982 Buffs cling emp from 2, 4 to 3, 5
  code/modules/antagonists/changeling/powers/shriek.dm
Labels: Balance, -Status: Awaiting merge

#20042 Allows you to place off welders on reinforced tables
  code/game/objects/structures/tables_racks.dm
Labels: Fix, -Status: Awaiting merge

#19914 Fixes epic fail with reinforced glass tables
  code/game/objects/structures/tables_racks.dm
Labels: Fix, -Status: Awaiting merge

#19959 Blob can now expand diagonally by moving twice linearly in one move for 10 points.
  code/game/gamemodes/blob/powers.dm
  code/game/gamemodes/blob/theblob.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#19986 Mining borgs now have melee armor.
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/silicon/silicon_defense.dm
Labels: Balance, -Status: Awaiting merge

#20011 Clean up of AStar procs, rework one into an independant adjacent turf proc
  code/game/turfs/turf.dm
  code/modules/fish/fishtank.dm
Labels: Refactor, -Status: Awaiting merge

#20025 Fixes a playing card runtime
  code/modules/games/cards.dm
Labels: Fix, -Status: Awaiting merge

#20029 Ports TGs Syndicate HUD icon
  icons/mob/hud.dmi
  icons/obj/card.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#20038 Replaces corp paperwork logos with slightly more consistent ones.
  icons/paper_icons/ntlogo.png
  icons/paper_icons/syndielogo.png
Labels: Sprites, -Status: Awaiting merge

#20039 Bartenders Spawn with an EFTPOS
  code/game/jobs/job/support.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20053 Ports TG medibeam
  icons/effects/beam.dmi
Labels: Sprites, -Status: Awaiting merge

#20022 Fixes fultons being able to send you into a nullspace like state
  code/modules/mining/fulton.dm
Labels: Fix, -Status: Awaiting merge

#20047 fixes a wrestling to_chat() runtime
  code/modules/martial_arts/martial.dm
Labels: Fix, -Status: Awaiting merge

#20079 Fix #20076 Plasmaglass and plasmarglass now returns the correct amount of materials
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/research/designs/smelting_designs.dm
Labels: Fix, -Status: Awaiting merge

#20062 Fixes mechs being immune to extinguish light
  code/game/mecha/mecha.dm
Labels: Fix, -Status: Awaiting merge

#19974 Converts the PDA Painter to TGUI
  code/game/machinery/PDApainter.dm
  tgui/packages/tgui/interfaces/PdaPainter.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/PdaPainter.scss
  tgui/packages/tgui/styles/main.scss
Labels: Merge Conflict, TGUI, -Status: Awaiting merge

#19910 Adds Engineering Storage to Special Operations
  _maps/map_files/generic/centcomm.dmm
Labels: Map Edit, -Status: Awaiting merge, Requires Wiki Update

#20064 Fix #20063 Exosuit control console: cell charge now shows the real value
  code/game/mecha/mecha_control_console.dm
Labels: Fix, -Status: Awaiting merge

#20056 Fix #20049 Upgraded protolathe no longer has issues with reagent costs
  code/modules/research/rdconsole.dm
Labels: Fix, -Status: Awaiting merge

#20069 Fixes positioning error with welding tools on state
  icons/obj/tools.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#19892 Disposals - Sort junctions can now hold a list of destinations they filter for
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Feature, Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, Requires Wiki Update

#20052 Wizard forcewall now has a 15 second cooldown vs 10 second
  code/datums/spells/wizard.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#19957 You can now put items into bags, belts and the suit slot using hotkeys.
  code/datums/keybindings/human.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#19945 Prevents limb regeneration when changing species
  code/datums/diseases/kingstons.dm
  code/game/dna/dna2.dm
  code/game/dna/mutations/monkey.dm
  code/game/gamemodes/miniantags/abduction/gland.dm
  code/modules/antagonists/changeling/powers/humanform.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/transform_procs.dm
Labels: Balance, -Status: Awaiting merge

#19966 Adds missing stacking machine and laser tag closets to Delta
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#19967 Tweaks to Vendomat and Artvend
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/intactemptyship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomZLevels/example.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/Lavaland.dmm
  code/game/machinery/vendors/generic_vendors.dm
Labels: Map Edit, MetaStation, BoxStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] MetaStation, Requires Wiki Update

#20066 Fixes the Thunderdome
  code/modules/admin/verbs/one_click_antag.dm
Labels: Fix, -Status: Awaiting merge

#20102 Revert "Prevents limb regeneration when changing species"
  code/datums/diseases/kingstons.dm
  code/game/dna/dna2.dm
  code/game/dna/mutations/monkey.dm
  code/game/gamemodes/miniantags/abduction/gland.dm
  code/modules/antagonists/changeling/powers/humanform.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/transform_procs.dm
Labels: High Priority, Revert/Feature Removal, Testmerge Active, -Status: Awaiting review, I am unable to can

#19855 Makes cling tentacle more reliable / less shit
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/mob.dmi
  icons/obj/items.dmi
Labels: Sprites, Balance, -Status: Awaiting merge

#19846 Unequip gib victims earlier in the process.
  code/game/objects/items/weapons/implants/implant_explosive.dm
  code/modules/mob/living/carbon/human/death.dm
Labels: Tweak, -Status: Awaiting review

#19927 Updates darkmodes theming to more closely match Bay
  code/modules/client/client_procs.dm
  goon/browserassets/css/browserOutput-dark.css
Labels: User Interface, -Status: Awaiting merge

#20001 Gravity generator is now more radioactive to people when turning on or off
  code/modules/power/gravitygenerator.dm
Labels: Tweak, -Status: Awaiting merge

#20013 fixes the mopbucket not accepting mops
  code/game/objects/items/weapons/mop.dm
  code/game/objects/structures/mop_bucket.dm
Labels: Fix, -Status: Awaiting merge

#19996 Tweaks to unfasten times
  code/game/machinery/recycler.dm
  code/game/objects/items/decorations.dm
  code/modules/arcade/prize_counter.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/food_and_drinks/kitchen_machinery/monkeyrecycler.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
Labels: Tweak, -Status: Awaiting merge

#20046 Changes portable seed extractor to be alt-shift-clickable
  code/game/objects/items/weapons/storage/bags.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20045 Crewmembers missing one of their foot now spawns with a cane
  code/modules/client/preference/character.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update

#20040 Tweaks the Hardstun (Weaken) from Cult Doors to a Knockdown
  code/game/machinery/doors/airlock_types.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20091 Removes the part of apc losing malf points on apc deconstruction I missed
  code/modules/power/apc.dm
Labels: Fix, -Status: Awaiting merge

#20094 Fixes 3 Economy Bugs
  code/game/jobs/departments.dm
  code/game/objects/items/weapons/cash.dm
  code/modules/supply/supply_console.dm
Labels: Fix, -Status: Awaiting review

#20105 Fixes mistake in tgui conversion of robotics control console
  code/game/machinery/computer/robot.dm
Labels: Fix, -Status: Awaiting review

#20043 Sharp burn weapons can now disember
  code/modules/surgery/organs/organ_external.dm
Labels: Balance, -Status: Awaiting review

#20099 Add fail-safes to disposal sort junctions, fix looping
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Fix, Map Edit, BoxStation, Testmerge Active, -Status: Awaiting merge

#20008 Makes Simple Mobs unable to be Converted
  code/game/gamemodes/cult/cult.dm
Labels: Balance, -Status: Awaiting merge

#20068 GREATLY lowers the chances of viral events
  code/modules/events/event_container.dm
Labels: Tweak, -Status: Awaiting merge

#20081 Fixes a surgery runtime
  code/datums/components/surgery_initiator.dm
Labels: Fix, -Status: Awaiting merge

#20087 Ports TG stamp sound effect
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/stamps.dm
  sound/Attributions.txt
  sound/items/handling/standard_stamp.ogg
Labels: Sound, -Status: Awaiting merge

#20090 Bandolier Buff because its existance is pathetic and im tired of every individual shell being its own seperate slot oh my god
  code/game/objects/items/weapons/storage/belt.dm
Labels: Balance, -Status: Awaiting merge

#20101 Desk bell now can be spooked by ghosts
  code/modules/paperwork/desk_bell.dm
Labels: Tweak, -Status: Awaiting merge

#20104 hide_attacklogs areas actually hide attack logs
  code/__HELPERS/mobs.dm
Labels: Tweak, -Status: Awaiting merge

#20106 Removes Clingtot
  code/game/gamemodes/traitor/traitor.dm
Labels: Balance, -Status: Awaiting merge

#20110 Fixes a Changeling Exploit
  code/modules/antagonists/changeling/powers/revive.dm
Labels: Fix, -Status: Awaiting merge

#20120 Add AI sat /areas necessary for multiple map fixes.
  code/game/area/ss13_areas.dm
Labels: Code Improvement, -Status: Awaiting merge

#20134 Fix a thing with desk bells
  code/modules/paperwork/desk_bell.dm
Labels: Fix, -Status: Awaiting type assignment

#20118 Escape with Identity objective fixes
  code/__DEFINES/dcs/signals.dm
  code/game/gamemodes/objective.dm
Labels: Fix, -Status: Awaiting merge

#20059 Standardizes weight and slots for most handheld scanners
  code/game/objects/items/devices/autopsy.dm
  code/game/objects/items/devices/scanners.dm
Labels: Tweak, -Status: Awaiting merge

#20086 Fixes lots of common spelling mistakes
  code/_onclick/hud/alert.dm
  code/controllers/subsystem/redis.dm
  code/datums/action.dm
  code/datums/diseases/wizarditis.dm
  code/datums/uplink_item.dm
  code/game/dna/mutations/disabilities.dm
  code/game/gamemodes/intercept_report.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/jobs/job_objectives/science.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/computer/security.dm
  code/game/objects/items/flag.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/false_walls.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/verbs/possess.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/awaymissions/mission_code/ruins/snowbiodome.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/jobs/captain.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/economy/economy_admin.dm
  code/modules/events/ion_storm.dm
  code/modules/food_and_drinks/food/foods/ingredients.dm
  code/modules/library/library_catalog.dm
  code/modules/library/library_computer.dm
  code/modules/library/library_equipment.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/paperwork/photocopier.dm
  code/modules/pda/messenger_plugins.dm
  code/modules/pda/nanobank.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/ruins/lavalandruin_code/puzzle.dm
  code/modules/shuttle/shuttle.dm
  code/modules/surgery/organs/augments_arms.dm
  tgui/packages/tgui/interfaces/Instrument.js
  tgui/packages/tgui/interfaces/SpecMenu.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Grammar and Formatting, TGUI, -Status: Awaiting merge

#19994 Fixed incorrect scope for some simple animal emote keybinds
  code/__DEFINES/mobs.dm
  code/datums/keybindings/emote.dm
Labels: Fix, -Status: Awaiting merge

#20124 adds a unique trophy to CC
  _maps/map_files/generic/centcomm.dmm
  code/modules/food_and_drinks/drinks/drinks.dm
Labels: Feature, Map Edit, -Status: Awaiting review

#19878 Makes the crematorium able to be "broken" and fixed instead of destroyed.
  code/game/objects/structures/morgue.dm
  icons/obj/stationobjs.dmi
Labels: Sprites, Balance, -Status: Awaiting merge

#19978 Resprites Xeno structures. Adds Xeno Doors. Fixes and polishes a lot of issues and features of Xenos
  _maps/map_files/RandomRuins/SpaceRuins/derelict1.dmm
  code/__DEFINES/icon_smoothing.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  icons/mob/alien.dmi
  icons/obj/doors/mineral_doors.dmi
  icons/obj/smooth_structures/alien/nest.dmi
  icons/obj/smooth_structures/alien/resin_door.dmi
  icons/obj/smooth_structures/alien/resin_membrane.dmi
  icons/obj/smooth_structures/alien/resin_wall.dmi
  icons/obj/smooth_structures/alien/weednode.dmi
  icons/obj/smooth_structures/alien/weeds.dmi
  icons/obj/smooth_structures/alien/weeds1.dmi
  icons/obj/smooth_structures/alien/weeds2.dmi
  icons/obj/smooth_structures/alien/weeds3.dmi
  sound/effects/alien_resin_break1.ogg
  sound/effects/alien_resin_break2.ogg
  sound/machines/alien_airlock.ogg
Labels: Map Edit, Sound, Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#19963 Energy dagger is quieter, and can backstab
  code/modules/paperwork/pen.dm
Labels: Balance, -Status: Awaiting merge

#20135 Adds pepperspray to the SecTech vendor
  code/game/machinery/vendors/departmental_vendors.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20024 Entertainment monitor screen now changes if there is any video camera active
  code/game/machinery/computer/camera.dm
  code/modules/paperwork/photography.dm
  icons/obj/computer.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#20073 Admin tools: Adds a forceMove tool to build mode
  code/modules/buildmode/submodes/forcemove.dm
  icons/misc/buildmode.dmi
  paradise.dme
Labels: Sprites, Administration, -Status: Awaiting merge

#20084 Adds better use feedback to Nanobank and Pin Changing
  code/modules/economy/economy_machinery/account_terminal.dm
  code/modules/pda/nanobank.dm
  tgui/packages/tgui/interfaces/AccountsUplinkTerminal.js
  tgui/packages/tgui/interfaces/pda/pda_nanobank.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting review

#20085 Replaces some ore box, sleeper, and body scanner verbs with click combinations
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/modules/mining/satchel_ore_boxdm.dm
Labels: Tweak, -Status: Awaiting merge

#20065 Throwing items at someone no longer turns off sleeping carp deflection
  code/__DEFINES/dcs/signals.dm
  code/modules/martial_arts/sleeping_carp.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20127 Removes the Speed-boost from Cling Epi OD
  code/modules/antagonists/changeling/powers/epinephrine.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance, -Status: Awaiting review

#20116 Alternate to Bag of holding changes
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20143 CE's blueprints can now see wires
  code/game/objects/items/blueprints.dm
Labels: Tweak, -Status: Awaiting review

#20174 Helmet of justice is no longer broken on Greys
  icons/mob/clothing/species/grey/helmet.dmi
Labels: Fix, Sprites, -Status: Awaiting type assignment

#20150 Pews now give 5 wood back when deconstructed
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: Fix, -Status: Awaiting merge

#20128 Prevents Syndie Nukes from being moved without the NAD
  code/game/gamemodes/nuclear/nuclearbomb.dm
Labels: Balance, -Status: Awaiting review

#20100 Added pie cannon and spirit board to Sol Trader items
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/structures/spirit_board.dm
Labels: Tweak, -Status: Awaiting review

#20156 fixes morph button icons not getting updated
  code/game/gamemodes/miniantags/morph/morph.dm
Labels: Fix, -Status: Awaiting merge

#20057 Mop no longer fails to clean when used with 1 unit remaining
  code/game/objects/cleaning.dm
Labels: Fix, -Status: Awaiting merge

#20070 Syndie tool tweaks
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/weapons/storage/toolbox.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20083 You can no longer redirect the mining / labour shuttle when it is moving
  _maps/map_files/generic/Lavaland.dmm
  code/controllers/subsystem/shuttles.dm
  code/modules/shuttle/shuttle.dm
Labels: Map Edit, Balance, Tweak, -Status: Awaiting merge

#20151 Allows chaplain to be a traitor on vamptot rounds
  code/game/gamemodes/vampire/traitor_vamp.dm
Labels: Fix, -Status: Awaiting merge

#20121 Nuke disc respawn checks its surroundings for an open space if someone winds up building a wall over it
  code/game/gamemodes/nuclear/nuclearbomb.dm
Labels: Fix, -Status: Awaiting merge

#20188 A lot of perf micro-optimisations
  code/__DEFINES/hud.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/sections/system_configuration.dm
  code/controllers/subsystem/debugview.dm
  code/controllers/subsystem/instancing.dm
  code/game/data_huds.dm
  code/game/machinery/tcomms/_base.dm
  code/game/world.dm
  code/modules/admin/admin_investigate.dm
  code/modules/admin/admin_verbs.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/client/preference/character.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  config/example/config.toml
  icons/obj/aibots.dmi
Labels: Sprites, Performance, Configuration Change, -Status: Awaiting type assignment

#20183 Fix bad pathing on `/obj/machinery/biogenerator/crowbar_act`
  code/modules/hydroponics/biogenerator.dm
Labels: Fix, oops, -Status: Awaiting type assignment

#20180 Removes a defunct thunderdome warning
  code/modules/admin/topic.dm
Labels: Fix, -Status: Awaiting merge

#20203 Fixes a narsie runtime
  code/modules/power/singularity/narsie.dm
Labels: Fix, -Status: Awaiting merge

#20171 Parry-capable shields/weapons list which attack types they're able to parry when examined
  code/datums/components/parry.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20194 Fixes alien weed nodes not GCing
  code/game/objects/structures/aliens.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#20206 Fixes bad del on griefsky (made by exavere)
  code/modules/mob/living/simple_animal/bot/griefsky.dm
Labels: Fix, -Status: Awaiting merge

#20200 Wallets can no longer hold the hand drill
  code/game/objects/items/weapons/storage/wallets.dm
Labels: Fix, -Status: Awaiting merge

#20201 Hand drill's screwdriver form no longer as a weight class of 1
  code/game/objects/items/tools/screwdriver.dm
Labels: Fix, -Status: Awaiting merge

#20199 Makes it impossible to deploy an arm implant while wielding a twohanded item.
  code/modules/surgery/organs/augments_arms.dm
Labels: Fix, -Status: Awaiting merge

#20166 Fixes changelings and legion cores allowing for revival within Slaughter and Laughter demons
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/datums/spells/bloodcrawl.dm
  code/game/gamemodes/miniantags/demons/slaughter demon/slaughter.dm
  code/modules/antagonists/changeling/powers/revive.dm
Labels: Fix, Exploit, -Status: Awaiting merge

#20169 Cope and seethe, ghosts
  code/modules/mob/say.dm
Labels: Tweak, -Status: Awaiting merge

#20167 Ports TG inhand sprites for advanced mop
  code/game/objects/items/weapons/mop.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites, -Status: Awaiting merge

#20107 Removes coin mechanic from vending machines, premium items cost money now
  code/game/machinery/vendors/contraband_vendors.dm
  code/game/machinery/vendors/departmental_vendors.dm
  code/game/machinery/vendors/generic_vendors.dm
  code/game/machinery/vendors/vending.dm
  code/game/machinery/vendors/wardrobe_vendors.dm
  tgui/packages/tgui/interfaces/Vending.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Balance, TGUI, -Status: Awaiting merge, Requires Wiki Update

#20088 The cyborg chameleon projector can now transform into every (crew) cyborg type
  code/game/objects/items/devices/chameleonproj.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: -Status: Awaiting review

#20187 Fixes external airlock buttons
  code/game/machinery/airlock_control/airlock_button.dm
Labels: Fix, -Status: Awaiting merge

#19987 Refactors defib code into a component
  code/__DEFINES/dcs/signals.dm
  code/datums/components/defibrillator.dm
  code/game/atoms.dm
  code/game/objects/items/weapons/defib.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  paradise.dme
Labels: Refactor, -Status: Awaiting merge

#20218 Vending Machine Hotfix
  tgui/packages/tgui/interfaces/Vending.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix

#20192 The drop hotkey is now consistent with the drop verb
  code/datums/keybindings/mob.dm
Labels: Tweak, -Status: Awaiting merge

#20209 (mostly) fixes wallweed GC issues
  code/game/objects/structures/aliens.dm
Labels: GC Related, -Status: Awaiting merge

#20035 Reduces Taj and Vulp dark sight from 8 tiles to 3
  code/modules/surgery/organs/subtypes/tajaran.dm
  code/modules/surgery/organs/subtypes/vulpkanin.dm
Labels: Balance, -Status: Awaiting merge

#20123 Fix varedited areas on space bar.
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  code/game/area/areas/ruins/space.dm
Labels: Map Edit, -Status: Awaiting merge

#20125 Fix varedited areas on USSP.
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
Labels: Map Edit, Refactor, -Status: Awaiting merge

#20216 Fixes drone GC issues
  code/modules/mob/living/silicon/robot/drone/drone.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#19951 Cere-station [100% free lag edition]
  .github/workflows/ci.yml
  _maps/map_files/cerestation/cerestation.dmm
  code/__DEFINES/colors.dm
  code/__DEFINES/icon_smoothing.dm
  code/__DEFINES/is_helpers.dm
  code/_globalvars/lists/flavor_misc.dm
  code/defines/vox_sounds.dm
  code/game/area/areas/mining.dm
  code/game/area/ss13_areas.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/quantum_pad.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/objects/effects/spawners/airlock_spawner.dm
  code/game/objects/items/weapons/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/arcade/mob_hunt/mob_type_datums.dm
  code/modules/client/asset_cache.dm
  code/modules/mapping/cerestation.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/resonator.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/recycling/conveyor2.dm
  icons/_nanomaps/CereStation_nanomap_z1.png
  icons/obj/recycling.dmi
  icons/turf/areas.dmi
  icons/turf/walls/smoothrocks.dmi
  sound/vox_fem/farragus.ogg
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: Map Edit, Sound, Sprites, Testmerge Requested, Testmerge Active, -Status: Awaiting merge, Requires Wiki Update

#20162 Soap stops swearing
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/game/objects/items/weapons/soap.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/reagents/chemistry/reagents/food.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#20222 Fixes observers nullspacing themselves via quantum pads
  code/game/machinery/quantum_pad.dm
Labels: Fix, -Status: Awaiting merge

#20112 Gives the wizard some more clownish options
  code/game/machinery/vendors/generic_vendors.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20204 Fixes a thunk runtime
  code/game/area/areas.dm
Labels: Fix, -Status: Awaiting merge

#20198 Janicart and Mop bucket tweaks
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
Labels: Fix, Tweak, -Status: Awaiting merge, Requires Wiki Update

#20179 Emagging a pacman does something once again.
  code/modules/power/port_gen.dm
  tgui/packages/tgui/interfaces/Pacman.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge, Requires Wiki Update

#20109 Adds disco light floor
  _maps/map_files/generic/centcomm.dmm
  code/__HELPERS/lists.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/simulated/floor/light_floor.dm
  icons/obj/tiles.dmi
Labels: Feature, Map Edit, Sprites, -Status: Awaiting merge

#20155 Parrying Hotkey
  code/__DEFINES/dcs/signals.dm
  code/datums/components/parry.dm
  code/datums/keybindings/human.dm
Labels: Tweak, -Status: Awaiting merge

#20089 Wallets now show proper jobs on Sechuds and Comms
  code/__DEFINES/is_helpers.dm
  code/game/data_huds.dm
  code/game/jobs/access.dm
  code/game/machinery/machinery.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/pda/PDA.dm
Labels: Fix, Tweak, -Status: Awaiting merge, Requires Wiki Update

#20181 Clears an undeleted DB query on switch_server()
  code/game/verbs/switch_server.dm
Labels: Refactor, -Status: Awaiting merge

#20249 Fixes Wallets breaking security HUDs
  code/game/objects/items.dm
Labels: Fix

#20223 toolbox tournament trophey sprite
  code/modules/food_and_drinks/drinks/drinks.dm
  icons/obj/drinks.dmi
Labels: Sprites, -Status: Awaiting merge

#20231 bsh no longer spawns invisible penguins
  code/modules/station_goals/bluespace_tap.dm
Labels: Fix, -Status: Awaiting merge

#20241 Allows Prisoners to Use the Perma Library Computer
  code/game/objects/items/weapons/cards_ids.dm
Labels: Fix, -Status: Awaiting merge

#20217 Receiving two steal objectives no longer makes the second one a Free Objective
  code/modules/antagonists/_common/antag_datum.dm
Labels: Fix, -Status: Awaiting merge

#20219 Fixes countdowns being out of movement sync with their atom
  code/modules/countdown/countdown.dm
Labels: Fix, -Status: Awaiting merge

#20243 Fix AI alarm camera selection locate scope.
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Refactor, -Status: Awaiting merge

#20232 Fixes janicart and mop bucket overlays not updating properly
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
Labels: Fix, -Status: Awaiting merge

#20233 fixes body syndicate hardsuit sprites not updating properly
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Fix, -Status: Awaiting merge

#20160 Shoving nerds into lockers
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Feature, Balance, -Status: Awaiting merge

#20154 Xeno Door Balancing + Tiny fixes
  code/game/objects/structures/aliens.dm
Labels: Balance, -Status: Awaiting merge

#20146 Plasma pistol no longer requires the user stand still while overloading it
  code/modules/projectiles/guns/energy/special.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20097 Limits Telegun to Current Z-Level (Unless a Beacon is Emagged)
  code/datums/uplink_item.dm
  code/modules/projectiles/guns/energy/telegun.dm
  code/modules/projectiles/projectile/special.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#20242 Assemblies containing an igniter do not prime grenade when used in hand
  code/modules/assembly/igniter.dm
Labels: Fix, -Status: Awaiting merge

#20237 Removes automender smallhealth
  code/modules/reagents/reagent_containers/applicator.dm
Labels: Balance, -Status: Awaiting merge

#20148 Goldgrubs can not block projectiles with 100% armor penetration
  code/modules/mob/living/simple_animal/hostile/mining/goldgrub.dm
Labels: Tweak, -Status: Awaiting merge

#20136 Wrong chute in clown ruin now has a 50% chance of sending failures in lava instead of safety
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#20254 fixes flashbang cheese
  code/game/objects/items/weapons/grenades/flashbang.dm
Labels: Fix, -Status: Awaiting type assignment

#20246 fixes a folded mask runtime
  code/modules/clothing/masks/gasmask.dm
Labels: Fix, -Status: Awaiting merge

#20159 Prevents cult teleport while prone
  code/game/gamemodes/cult/blood_magic.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#20262 fixes weakened issue
  code/modules/mob/living/status_procs.dm
Labels: Fix, -Status: Awaiting type assignment, I am unable to can

#20247 fixes disease curing runtimes
  code/datums/diseases/_disease.dm
  code/datums/diseases/anxiety.dm
  code/datums/diseases/appendicitis.dm
  code/datums/diseases/beesease.dm
  code/datums/diseases/berserker.dm
  code/datums/diseases/brainrot.dm
  code/datums/diseases/cold.dm
  code/datums/diseases/cold9.dm
  code/datums/diseases/fake_gbs.dm
  code/datums/diseases/flu.dm
  code/datums/diseases/fluspanish.dm
  code/datums/diseases/food_poisoning.dm
  code/datums/diseases/gbs.dm
  code/datums/diseases/kingstons.dm
  code/datums/diseases/kuru.dm
  code/datums/diseases/lycancoughy.dm
  code/datums/diseases/magnitis.dm
  code/datums/diseases/pierrot_throat.dm
  code/datums/diseases/retrovirus.dm
  code/datums/diseases/transformation.dm
  code/datums/diseases/tuberculosis.dm
  code/datums/diseases/wizarditis.dm
Labels: Fix, -Status: Awaiting merge

#20044 Converts some borg equipment to radial menus
  code/game/objects/items/weapons/RSF.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: User Interface, -Status: Awaiting merge

#20144 Prevents Grey Mimes from talking via telepathy
  code/game/dna/mutations/powers.dm
  code/modules/mob/language.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20244 Adds the cluwne goblin
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/events/tear.dm
  code/modules/events/tear_honk.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  icons/mob/animal.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#20245 Polishes the Shadow Demon
  code/datums/spells/bloodcrawl.dm
  code/game/gamemodes/miniantags/demons/shadow_demon/shadow_demon.dm
  icons/mob/actions/actions.dmi
  icons/mob/mob.dmi
Labels: Sprites, -Status: Awaiting merge

#20133 Janiborg no longer starts with floor buffer and now can be toggled
  code/datums/action.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#20253 Re-enable logging for request consoles.
  code/defines/procs/announce.dm
Labels: Fix, -Status: Awaiting type assignment

#20256 powered crossbow fixes
  code/modules/projectiles/guns/throw/crossbow.dm
Labels: Fix, -Status: Awaiting type assignment

#20259 [Fix] Restores parry cooldown. Can no longer parry while meleeing/shooting again.
  code/__DEFINES/misc.dm
  code/datums/components/parry.dm
Labels: Fix, -Status: Awaiting type assignment

#20032 ERT / nukies can now choose any NON KARMA species
  _maps/map_files/generic/centcomm.dmm
  code/game/objects/structures/mirror.dm
  code/modules/response_team/ert.dm
  icons/mob/clothing/species/skrell/helmet.dmi
  icons/mob/clothing/species/skrell/suit.dmi
Labels: Map Edit, Sprites, Tweak, -Status: Awaiting review

#19856 Allows clings to regenerate without a brain.
  code/datums/components/defibrillator.dm
  code/datums/diseases/advance/symptoms/beard.dm
  code/datums/diseases/advance/symptoms/shedding.dm
  code/game/dna/mutations/powers.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/cosmetics.dm
  code/game/objects/items/weapons/scissors.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/structures/guillotine.dm
  code/modules/antagonists/changeling/datum_changeling.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/oven_new.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/superheroes.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/surgery/organs/brain.dm
  code/modules/surgery/organs/organ_internal.dm
  paradise.dme
Labels: Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting merge, Requires Wiki Update

#20119 Fix varedited areas on Lavaland.
  _maps/map_files/generic/Lavaland.dmm
  code/game/area/areas/mining.dm
  code/game/area/ss13_areas.dm
Labels: Fix, Map Edit, -Status: Awaiting merge
