Repository ParadiseSS13/Paradise, pull requests merged in 2024-01, with the labels that each got.

#23703 makes make everyone random not the worst button of all time
  code/modules/mob/new_player/new_player.dm
Labels: -Status: Awaiting type assignment

#23195 cere: fix many grille/shock windows
  _maps/map_files/cerestation/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review, CereStation, [MQL] CereStation

#23716 [s] Fixes an oversight
  code/_globalvars/lists/reagents_lists.dm
Labels: -Status: Awaiting type assignment

#23720 TGUIv4: TGchat fix traitor codeword highlighting
  code/__HELPERS/name_helpers.dm
  code/controllers/subsystem/SSticker.dm
  code/datums/components/codeword_hearing.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/mob/hear_say.dm
  paradise.dme
Labels: -Status: Awaiting type assignment, TGUI Upgrade Project

#23721 TGUIv4: Tooling bump
  tgui/bin/tgui
  tgui/bin/tgui analyse.bat
  tgui/bin/tgui lint fix.bat
  tgui/bin/tgui-clean.bat
  tgui/bin/tgui_.ps1
Labels: TGUI, -Status: Awaiting type assignment, TGUI Upgrade Project

#23343 Reworks the effects of brain damage
  code/game/machinery/machinery.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/power/apc/apc.dm
  code/modules/surgery/organs/brain.dm
Labels: Balance, Tweak, -Status: Awaiting merge, Requires Wiki Update

#23402 Removes Steal AI as an Objective
  code/game/gamemodes/steal_items.dm
Labels: Controversial, Tweak, -Status: Awaiting merge, Requires Wiki Update

#23420 Adds the Technocracy Advanced Cloning System Kit
  code/datums/mind.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/machinery/clonepod.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/weapons/implants/implant_prescan.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/structures/grey_autocloner.dm
  paradise.dme
Labels: Feature, Balance, -Status: Awaiting merge, Requires Wiki Update, Requires Space Law Update

#23508 Fix duplicate tracking beacon issue
  code/game/mecha/mecha.dm
Labels: Fix, -Status: Awaiting merge

#23533 Antag contractees no longer have an increased timer, contractees now are guaranteed to get injured.
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
Labels: Balance, -Status: Awaiting merge

#23579 PDA ringtone input is now trimmed
  code/modules/pda/PDA.dm
  code/modules/pda/pda_tgui.dm
Labels: Tweak, -Status: Awaiting merge

#23580 Fix Reactive Repulse Armor no longer yetting spectators
  code/modules/clothing/suits/armor_suits.dm
Labels: Fix, -Status: Awaiting merge

#23586 Replaces the ghost role alert ping with an unique sound, and decreases ghost window highlight spam
  code/controllers/subsystem/SSghost_spawns.dm
  code/game/area/areas/depot-areas.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
  code/modules/events/fake_virus.dm
  sound/effects/ghost_ping.ogg
Labels: Sound, Tweak, -Status: Awaiting merge

#23587 Fixes an oversight
  code/modules/client/preference/character.dm
Labels: Fix, -Status: Awaiting merge

#23591 Clown cake can now be sliced.
  code/modules/food_and_drinks/food/foods/frozen.dm
Labels: Fix, -Status: Awaiting merge

#23596 Add immunity to ash storm for possessed objects and swords
  code/modules/mob/living/simple_animal/posessed_object.dm
  code/modules/mob/living/simple_animal/shade.dm
Labels: Tweak, -Status: Awaiting merge

#23599 Bomber Jacket resprite + departmental expansion
  code/game/machinery/vendors/wardrobe_vendors.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/misc_suits.dm
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/kidan/suit.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/custom_items.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#23601 Makes Endoskeleton Bulky
  code/game/objects/items/robot/robot_parts.dm
Labels: Balance, -Status: Awaiting merge

#23603 demons / people no longer fall in chasms while jaunting / bloodcrawling
  code/game/turfs/simulated/floor/chasm.dm
Labels: Fix, -Status: Awaiting merge

#23604 Instant summons no longer works on the NAD.
  code/datums/spells/summonitem.dm
Labels: Tweak, -Status: Awaiting merge

#23606 Adds Two Soap Crates
  code/modules/supply/supply_packs/pack_miscellaneous.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#23607 Xenobio can no longer make baby watcher eggs
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Tweak, -Status: Awaiting merge

#23609 Non-clonable species can no longer be cloned
  code/game/machinery/computer/cloning.dm
Labels: Fix, -Status: Awaiting merge

#23623 Removing sleepers chemicals type limit on injured occupants
  code/game/machinery/Sleeper.dm
Labels: Balance, -Status: Awaiting merge

#23631 bluespace vetus can no longer rarely teleport on station when a miner jaunts
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
Labels: Fix, -Status: Awaiting merge

#23637 Adds allowed items to HoP coat
  code/modules/clothing/suits/job_suits.dm
Labels: Tweak, -Status: Awaiting merge

#23641 Redspace Purge
  code/datums/spells/construct_spells.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/machinery/computer/depot_consoles.dm
  code/game/objects/effects/portals.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/antagonists/traitor/contractor/items/extraction_items.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/station_goals/bluespace_tap.dm
  icons/obj/machines/bluespace_tap.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge, Requires Wiki Update

#23642 Removes Vulp/Taj Chocolate Debuff
  code/modules/reagents/chemistry/reagents/drinks_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Revert/Feature Removal, -Status: Awaiting merge

#23648 Fixes an issue with the destroy ai objective not updating + adds a stack_trace
  code/game/gamemodes/objective.dm
Labels: Fix, -Status: Awaiting merge

#23649 pulse demons can now ai click doors without runtiming
  code/_onclick/ai_onclick.dm
Labels: Fix, -Status: Awaiting merge

#23651 Silicon mind names are now updated properly
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/silicon/silicon_mob.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob_misc_procs.dm
Labels: Fix, -Status: Awaiting merge

#23653 Modsuit file name standardization
  code/modules/mod/mod_clothes.dm
  icons/mob/clothing/modsuit/species/unathi_modsuits.dmi
Labels: Refactor, Sprites, -Status: Awaiting merge

#23164 Metastation: Maintenance Rework [Part 2]
  _maps/map_files/MetaStation/MetaStation.dmm
  code/modules/paperwork/paper.dm
Labels: Map Edit, MetaStation, -Status: Awaiting review, [MQL] MetaStation

#23627 IPC will no longer lose his hair after death
  code/modules/mob/living/carbon/human/species/machine.dm
Labels: Revert/Feature Removal, Tweak, -Status: Awaiting merge

#23477 TG Double Examine
  code/__DEFINES/mob_defines.dm
  code/game/atoms.dm
  code/modules/client/client_defines.dm
  code/modules/mob/mob.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_theme.dm
Labels: Feature, -Status: Awaiting review, Requires Wiki Update

#23652 Removes most hardsuits from the code, replaces with MODsuits where appropriate, alongside a small sprite cleanup
  code/datums/outfits/outfit_admin.dm
  code/game/jobs/job/support.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/explosion.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/awaymissions/mob_spawn.dm
  code/modules/clothing/spacesuits/ert_hardsuits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/customitems/item_defines.dm
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/tajaran/suit.dmi
  icons/mob/clothing/species/unathi/helmet.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
  icons/mob/clothing/species/vulpkanin/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge, Requires Wiki Update

#23140 Converts no slip into a trait
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/misc_shoes.dm
  code/modules/clothing/spacesuits/alien_suits.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/ninja/suit/ninja_shoes.dm
Labels: Refactor, -Status: Awaiting review

#23213 Boxes new sprites & little refactor
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/meatpackers.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
  code/game/jobs/job/central.dm
  code/game/machinery/clonepod.dm
  code/game/machinery/vendors/generic_vendors.dm
  code/game/objects/items/random_items.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/structures/watercloset.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/contractor_fulton.dm
  code/modules/client/preference/loadout/loadout_general.dm
  code/modules/clothing/suits/armor_suits.dm
  code/modules/hydroponics/gene_modder.dm
  code/modules/mining/machine_vending.dm
  code/modules/pda/pdas.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/surgery/organs/augments_internal.dm
  icons/obj/boxes.dmi
  icons/obj/food/food.dmi
  icons/obj/pda.dmi
  icons/obj/storage.dmi
  icons/obj/toy.dmi
  tools/UpdatePaths/Scripts/23213_matches.txt
Labels: Map Edit, Refactor, Sprites, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation, Requires Wiki Update, CereStation, [MQL] CereStation

#23655 Ports Abductee Objectives
  code/game/gamemodes/miniantags/abduction/abductee_objectives.dm
Labels: Feature, -Status: Awaiting review

#23309 blackbox logging for biohazards
  code/__DEFINES/misc_defines.dm
  code/controllers/subsystem/SSevents.dm
  code/controllers/subsystem/SSticker.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/modules/admin/misc_admin_procs.dm
  code/modules/events/alien_infestation.dm
  code/modules/events/blob_spawn.dm
  code/modules/events/spider_terror.dm
Labels: Code Improvement, -Status: Awaiting review

#23746 Prevents pushing from the person you are pulling
  code/modules/mob/living/living.dm
Labels: Fix, Exploit

#22334 Ports (most(ok like half)) station traits from tg. Ready for review into TM
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/station_defines.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/trait_helpers.dm
  code/controllers/subsystem/SSeconomy.dm
  code/controllers/subsystem/SSjobs.dm
  code/controllers/subsystem/SSticker.dm
  code/controllers/subsystem/processing/SSstation.dm
  code/datums/ai_law_sets.dm
  code/datums/ai_laws_datums.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/admin_panel.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/station_traits/postive_traits.dm
  code/datums/status_effects/debuffs.dm
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_special.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/gamemodes/game_mode.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/support.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/game/objects/items/weapons/bio_chips/bio_chip.dm
  code/game/objects/items/weapons/bio_chips/bio_chip_deathrattle.dm
  code/game/objects/items/weapons/bio_chips/bio_chip_fluff.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/admin/admin_verbs.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/silicon/silicon_laws.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/pda/PDA.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  code/modules/supply/supply_console.dm
  code/modules/supply/supply_order.dm
  code/modules/supply/supply_pack.dm
  code/modules/surgery/organs/augments_arms.dm
  paradise.dme
  sound/items/knell1.ogg
  sound/items/knell2.ogg
  sound/items/knell3.ogg
  sound/items/knell4.ogg
  sound/machines/twobeep_voice1.ogg
  sound/machines/twobeep_voice2.ogg
  tgui/packages/tgui/interfaces/StationTraitsPanel.js
  tgui/packages/tgui/interfaces/common/collections.js
  tgui/packages/tgui/interfaces/common/exhaustive.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Refactor, Sound, User Interface, TGUI, Testmerge Requested, Testmerge Active, -Status: Awaiting review, Requires Wiki Update

#23187 Maps the transit tube area locations into the other maps.
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, MetaStation, BoxStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] MetaStation

#23737 TGUI Upgrade Project: Various interface fixes
  code/datums/station_traits/admin_panel.dm
  tgui/packages/common/collections.ts
  tgui/packages/common/exhaustive.ts
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/interfaces/Holodeck.js
  tgui/packages/tgui/interfaces/StationTraitsPanel.tsx
  tgui/packages/tgui/interfaces/common/BeakerContents.js
  tgui/packages/tgui/interfaces/common/collections.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting type assignment, TGUI Upgrade Project

#23629 Allow MODsuit storage Bag (ShiftB) keybinding
  code/modules/mob/living/carbon/human/human_inventory.dm
Labels: Tweak, -Status: Awaiting merge

#23618 Add a prompt for cyborg created with Roborgers/Nanomachines
  code/datums/diseases/transformation.dm
Labels: Tweak, -Status: Awaiting merge

#23738 Fixes an oversight in which drinking too much hot chocolate gives you diabetes and fatally kills you due to sugar overdose
  code/modules/reagents/chemistry/reagents/drinks_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: -Status: Awaiting type assignment

#23752 Fixes hardsuits not having an item icon
  icons/obj/clothing/suits.dmi
Labels: Sprites, -Status: Awaiting type assignment

#23570 Fire extinguishers no longer lose their examine description after being used.
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/modules/mod/modules/modules_engineering.dm
Labels: Fix, -Status: Awaiting merge

#23583 Fix syndicate MMI message spam
  code/modules/mob/living/silicon/robot/robot_laws.dm
Labels: Fix, -Status: Awaiting merge

#23592 Changes the gamma alert announcement wording
  code/modules/security_levels/security_level_datums.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update, Requires SOP Update

#23517 Fixes IPC drinking jestosterone
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
  code/modules/reagents/chemistry/reagents_holder.dm
Labels: Fix, -Status: Awaiting merge

#23531 Borgs can now dispense stuff from the tank storage unit, as well as open/close morgue trays
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/tank_dispenser.dm
Labels: Tweak, -Status: Awaiting merge

#23249 added advanced burn kits to the stations and centcomm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
Labels: Map Edit, MetaStation, BoxStation, Tweak, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#23714 Vox Sprite Fixes
  icons/effects/species.dmi
  icons/mob/human_races/vox/r_voxcrim.dmi
Labels: Sprites, -Status: Awaiting type assignment

#23212 Removes Ladders
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_excavation.dmm
  code/_globalvars/lists/objects.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/lavaland/ladder.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/shuttle/on_move.dm
  icons/obj/structures.dmi
  paradise.dme
Labels: Map Edit, Revert/Feature Removal, Sprites, -Status: Awaiting review

#23050 Rage of the Space Bear & The Bearserker Pelt
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/buffs.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/modules/martial_arts/bearserk.dm
  code/modules/martial_arts/combos/bearserk/bear_jaws.dm
  code/modules/martial_arts/combos/bearserk/paw_slam.dm
  code/modules/martial_arts/combos/bearserk/smokey.dm
  paradise.dme
Labels: Feature, Balance, Testmerge Requested, -Status: Awaiting review, Requires Wiki Update, Requires Space Law Update

#23375 Some of the coins now do something.
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  code/modules/mining/ores_coins.dm
Labels: Feature, Map Edit, Balance, -Status: Awaiting review

#23268 Fixes captains cigarette vender on meta
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation, -Status: Awaiting merge, [MQL] MetaStation

#23297 An Actual Surgical tray
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  code/game/objects/items/weapons/storage/surgical_tray.dm
  icons/obj/storage.dmi
  paradise.dme
Labels: Map Edit, Sprites, MetaStation, BoxStation, Tweak, DeltaStation, -Status: Awaiting review, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#23324 Delta Station - Remaps Medbay and Virologist
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, Merge Conflict, DeltaStation, -Status: Awaiting review, [MQL] DeltaStation

#23770 Fixes transformation viruses yeeting you out of the game
  code/datums/diseases/transformation.dm
Labels: -Status: Awaiting type assignment

#23762 TGUI fixes. Again...
  code/controllers/subsystem/SSdbcore.dm
  code/datums/spawners_menu.dm
  code/modules/asset_cache/assets/asset_alloys.dm
  code/modules/mob/hear_say.dm
  tgui/packages/tgui-panel/Panel.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/constants.js
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/Input.js
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/CloningConsole.js
  tgui/packages/tgui/interfaces/CryopodConsole.js
  tgui/packages/tgui/interfaces/DestinationTagger.js
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
  tgui/packages/tgui/interfaces/FloorPainter.js
  tgui/packages/tgui/interfaces/MechBayConsole.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/interfaces/MiningVendor.js
  tgui/packages/tgui/interfaces/NTRecruiter.js
  tgui/packages/tgui/interfaces/OreRedemption.js
  tgui/packages/tgui/interfaces/PDA.js
  tgui/packages/tgui/interfaces/PowerMonitor.js
  tgui/packages/tgui/interfaces/RequestConsole.js
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/packages/tgui/interfaces/SpecMenu.js
  tgui/packages/tgui/interfaces/SupermatterMonitor.js
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/packages/tgui/stories/Button.stories.js
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/components/Dropdown.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Map Edit, TGUI, -Status: Awaiting type assignment, TGUI Upgrade Project

#23772 TGUIv4 - TGchat Theme Adjustments
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
  tgui/webpack.config.js
Labels: TGUI, -Status: Awaiting type assignment, TGUI Upgrade Project

#23786 [s[ Fixes bearserker
  code/modules/martial_arts/bearserk.dm
Labels: -Status: Awaiting type assignment

#23776 TGUIv4 - Abductor Experiment Machine TGUI
  code/game/gamemodes/miniantags/abduction/machinery/experiment.dm
  tgui/packages/tgui/interfaces/ExperimentConsole.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting type assignment, TGUI Upgrade Project

#23785 TGUIv4 - Adjustments, Fixes, and Tweaks
  code/modules/supply/supply_console.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/hotkeys.ts
  tgui/packages/tgui/interfaces/Autolathe.js
  tgui/packages/tgui/interfaces/CargoConsole.js
  tgui/packages/tgui/interfaces/Photocopier.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting type assignment, TGUI Upgrade Project

#23790 TGUIv4: Reconnect fix and some other fixes + tweaks
  code/__DEFINES/chat_box_defines.dm
  code/game/machinery/guestpass.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/vote/vote_datum.dm
  tgui/packages/tgui-panel/reconnect.js
  tgui/packages/tgui-panel/reconnect.tsx
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/interfaces/AirlockElectronics.js
  tgui/packages/tgui/interfaces/CameraConsole.js
  tgui/packages/tgui/interfaces/CardComputer.js
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/GuestPass.js
  tgui/packages/tgui/interfaces/PortableTurret.js
  tgui/packages/tgui/interfaces/RCD.js
  tgui/packages/tgui/interfaces/RPD.js
  tgui/packages/tgui/interfaces/ShuttleManipulator.js
  tgui/packages/tgui/interfaces/VotePanel.js
  tgui/packages/tgui/interfaces/common/AccessList.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting type assignment

#23795 TGUIv4 - Adjustments, Fixes, and Tweaks v2
  code/controllers/subsystem/SSchat.dm
  code/datums/chat_payload.dm
  code/game/objects/items/devices/scanners.dm
  tgui/packages/tgui/interfaces/StationTraitsPanel.tsx
  tgui/packages/tgui/interfaces/pda/pda_nanobank.js
  tgui/packages/tgui/styles/components/Dropdown.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
Labels: TGUI, -Status: Awaiting review, TGUI Upgrade Project

#23467 Nudges bodytemperature to your desired temperature
  code/__DEFINES/atmospherics_defines.dm
  code/modules/mob/living/autohiss.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Tweak, -Status: Awaiting merge

#23617 Chitinous armor headgear cover both mouth and eyes
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Tweak, -Status: Awaiting merge

#23622 Changes power gloves to a bio chip, buffs it.
  code/_onclick/click_override.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/weapons/bio_chips/bio_chip_fluff.dm
  code/game/objects/items/weapons/bio_chips/bio_chip_shock.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/gloves/colored_gloves.dm
  paradise.dme
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update, Requires Space Law Update

#23663 blackbox logs syndicate bundle picks
  code/game/objects/items/devices/radio/beacon.dm
Labels: Refactor, -Status: Awaiting merge

#23666 Puts multi instance stuff behind a define
  .github/workflows/ci.yml
  code/_compile_options.dm
  code/controllers/subsystem/SSinstancing.dm
  code/game/verbs/switch_server.dm
  code/game/world.dm
  code/modules/admin/IsBanned.dm
  code/modules/client/client_procs.dm
  code/modules/redis/callbacks/server_messages_callback.dm
  tools/ci/dm.sh
Labels: Refactor, Code Improvement, -Status: Awaiting merge

#23668 Removes Apple mutation from Olives
  code/modules/hydroponics/grown/olive.dm
Labels: Fix, -Status: Awaiting merge

#23672 Corrects grammar and typos for Species Blurbs
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/human_species.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/slimepeople.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#23673 Black pants now also look black on vox
  icons/mob/clothing/species/vox/under/pants.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#23682 fixes armory shuttle spacing itself every time we send it
  _maps/map_files/shuttles/admin_armory.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#23683 Organizes robot_upgrades.dm
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Code Improvement, -Status: Awaiting merge

#23694 BALANCE: Buff generator for mecha
  code/game/mecha/equipment/tools/other_tools.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#23662 Contractor item changes
  code/modules/antagonists/traitor/contractor/items/contractor_kit.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#23702 Blocks the pulse pistol from being charged again
  code/modules/projectiles/guns/energy/pulse.dm
Labels: Fix, -Status: Awaiting merge

#23710 you can reset actions button's positions again
  code/_onclick/hud/action_button.dm
Labels: Fix, -Status: Awaiting merge

#23711 fixes external limbs runtiming when no owner at times
  code/modules/surgery/organs/organ_external.dm
Labels: Fix, -Status: Awaiting merge

#23717 Supermatter shard no longer goes invisiable in high co2 enviroments
  icons/obj/supermatter.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#23739 Purges improvised and overloaded improvised shotgun ammo
  code/modules/crafting/recipes.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#23740 remove unused mulebot sprites
  icons/vehicles/CargoTrain.dmi
Labels: Sprites, Code Improvement, -Status: Awaiting merge

#23741 remove duplicate vox modsuit sprites
  icons/mob/clothing/modsuit/species/vox_modsuits.dmi
Labels: Fix, Sprites, Code Improvement, -Status: Awaiting merge

#23742 remove duplicate space parallax icons and floors
  icons/turf/floors.dmi
  icons/turf/space.dmi
Labels: Sprites, Code Improvement, -Status: Awaiting merge

#23611 feat: add different background planet based on current lavaland theme. Refactor lavaland themes to datums
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/game/turfs/simulated/floor/lava.dm
  code/modules/lavaland/lavaland_theme.dm
  icons/effects/parallax.dmi
  paradise.dme
Labels: Feature, Sprites, -Status: Awaiting merge

#23764 Lethal injection syringes no longer fit into syringe guns
  code/modules/projectiles/guns/syringe_gun.dm
Labels: Balance, -Status: Awaiting merge

#23774 APC access ID must have an icon
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
Labels: Fix, -Status: Awaiting merge

#23787 Fixes sprites of the Shipping package
  icons/obj/boxes.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#23758 Fixed russian walls saying they can be Sliced when they cannot
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_mineral.dm
Labels: Fix, -Status: Awaiting merge

#23331 Maplint now prohibits var-edited grilles
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_tele.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  tools/UpdatePaths/Scripts/23331_grille_varedits.txt
  tools/maplint/lints/grille_varedits.yml
Labels: Map Edit, MetaStation, DeltaStation, Infrastructure, -Status: Awaiting merge, [MQL] DeltaStation, [MQL] MetaStation

#23349 Fixes missing wires escape/arrivals telepads
  _maps/map_files/cerestation/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge, CereStation, [MQL] CereStation

#23610 Fix ghost bar character selector breaking when multiple characters share the same name
  code/modules/ruins/ghost_bar.dm
Labels: Fix, -Status: Awaiting review

#23346 Fixes #23344
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, -Status: Awaiting merge

#23376 Randomless Kirby plants
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiecakesfactory.dmm
  _maps/map_files/cerestation/cerestation.dmm
  code/game/objects/structures/flora.dm
  icons/obj/flora/plants.dmi
  tools/UpdatePaths/Scripts/23376_kirbyplants.txt
Labels: Map Edit, Merge Conflict, Refactor, Sprites, MetaStation, -Status: Awaiting merge, [MQL] MetaStation, CereStation, [MQL] CereStation

#23803 Reenable no-undef rule. Enable Format On Save for VSCode
  .vscode/settings.json
  tgui/.eslintrc.yml
  tgui/packages/tgui/interfaces/ImplantPad.js
  tgui/packages/tgui/routes.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting type assignment

#23304 Updated FontAwesome
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-regular-400.eot
  html/font-awesome/webfonts/fa-regular-400.woff
  html/font-awesome/webfonts/fa-solid-900.eot
  html/font-awesome/webfonts/fa-solid-900.woff
Labels: Code Improvement, -Status: Awaiting review

#23807 TGUIv4 - Adjustments, Fixes, and Tweaks v3
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/tgui/modules/atmos_control.dm
  code/modules/tgui/modules/crew_monitor.dm
  code/modules/tgui/modules/ert_manager.dm
  code/modules/tgui/modules/power_monitor.dm
  tgui/bin/tgui-inspect-dev-tools.bat
  tgui/packages/tgui/interfaces/CloningConsole.js
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
  tgui/packages/tgui/interfaces/LibraryComputer.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/interfaces/Newscaster.js
  tgui/packages/tgui/interfaces/common/ComplexModal.js
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/components/Dropdown.scss
  tgui/packages/tgui/styles/interfaces/ExosuitFabricator.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Merge Conflict, TGUI, -Status: Awaiting type assignment, TGUI Upgrade Project

#23154 Anomaly core modules for modsuits
  _maps/map_files/generic/centcomm.dmm
  code/__DEFINES/dcs/signals.dm
  code/datums/components/shielded.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/uplink_items/uplink_nuclear.dm
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  code/game/machinery/deployable.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/simple_animal/hostile/mining/basilisk.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_security.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  code/modules/projectiles/guns/projectile/saw.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy_projectiles.dm
  code/modules/projectiles/projectile_base.dm
  code/modules/research/designs/modsuit_designs.dm
  icons/effects/64x64.dmi
  icons/obj/clothing/modsuit/mod_modules.dmi
  paradise.dme
Labels: Feature, Map Edit, Merge Conflict, Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#23566 Refactors some reagent sacid/facid code
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Refactor, -Status: Awaiting merge

#23568 Fire extinguishers and sprays only hit a tile once.
  code/game/objects/effects/effect_system/effects_water.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: Fix, -Status: Awaiting merge

#23528 tweak: randomly choose special kit receiver
  code/game/gamemodes/objective.dm
Labels: Tweak, -Status: Awaiting merge

#23597 Recorder no longer says "Skipping Silence"
  code/game/objects/items/devices/taperecorder.dm
Labels: Tweak, -Status: Awaiting merge

#23633 Intellicard improved description
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/objects/items/devices/aicard.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#23684 Adds RPED to Engieborg
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#23681 fixes an 8 year old krav sound / visual bug
  code/modules/martial_arts/krav_maga.dm
  code/modules/martial_arts/muscle_implant.dm
Labels: Fix, -Status: Awaiting merge

#23679 Added general sound configuration to volume mixer
  code/__DEFINES/sound_defines.dm
  code/__HELPERS/unsorted.dm
  code/game/sound.dm
  code/modules/client/preference/preferences.dm
Labels: Tweak, -Status: Awaiting merge

#23685 Knuckledusters; New Ways to Beat People to Death in Style
  code/datums/uplink_items/uplink_general.dm
  code/game/gamemodes/steal_items.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/knuckledusters.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo_lockers.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/knuckleduster.dmi
  paradise.dme
Labels: Feature, Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update, Requires Space Law Update, Requires SOP Update

#23693 REFACTOR: Mecha icon_state
  code/game/mecha/mecha.dm
Labels: Refactor, -Status: Awaiting merge

#23695 IMAGEADD: Mech Weapon
  code/game/mecha/equipment/weapons/weapons.dm
  icons/mecha/mecha_equipment.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#23700 Adds a durathread beret sprite for vox
  icons/mob/clothing/species/vox/head.dmi
Labels: Sprites, -Status: Awaiting merge

#23712 Makes two fluff IPC screens public; deletes one fluff IPC screen
  code/modules/mob/new_player/sprite_accessories/ipc/ipc_face.dm
  icons/mob/sprite_accessories/ipc/ipc_face.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#23713 You can now ctr+click to turn on/off passive gates
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
Labels: Tweak, -Status: Awaiting merge

#23723 Increase default minute topic limit to 150
  code/modules/client/client_procs.dm
Labels: Administration, -Status: Awaiting merge

#23728 Adds Light Tube Coloring - Colored Lighting! No more light floors needed!
  code/modules/power/lights.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#23744 Makes the Combat Shotgun Bulky instead of Huge
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: Balance, -Status: Awaiting merge

#23745 Removes some unused "rock" sprites
  icons/obj/flora/rocks.dmi
Labels: Sprites, Code Improvement, -Status: Awaiting merge

#23755 Add suckers/lollipops to hacked NanoMed Plus inventory
  code/game/machinery/vendors/departmental_vendors.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#23765 Adds ability to create droppers from glass
  code/game/objects/items/stacks/sheets/glass.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#23777 Soda Dispenser Content, Pineapple Juice & Cream
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Tweak, On Hold, -Status: Awaiting merge

#23779 fix eswords / cleaving saws not being sharpenable
  code/game/objects/items/weapons/whetstone.dm
Labels: Fix, -Status: Awaiting merge

#23780 RnD Nerf, Purges most NVG variants from the lathe
  code/modules/research/designs/equipment_designs.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#23782 Gives flares the same attack sound and attack verbs as lighters.
  code/game/objects/items/devices/flashlight.dm
Labels: Tweak, -Status: Awaiting merge

#23794 Fixes IPC ghetto surgery tools not being able to actually initiate the surgery
  code/game/objects/items/weapons/kitchen.dm
  code/modules/mining/ores_coins.dm
Labels: Fix, -Status: Awaiting merge

#23796 Making Bearserk Good
  code/datums/status_effects/buffs.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/modules/martial_arts/bearserk.dm
  code/modules/martial_arts/combos/bearserk/bear_jaws.dm
  code/modules/martial_arts/combos/bearserk/paw_slam.dm
  code/modules/martial_arts/combos/bearserk/smokey.dm
  code/modules/martial_arts/sleeping_carp.dm
  icons/mob/screen_alert.dmi
Labels: Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#23873 Fixes some food being broken
  code/modules/food_and_drinks/food_base.dm
Labels: -Status: Awaiting type assignment

#23575 Add the Disguise Self spell
  code/__DEFINES/status_effects.dm
  code/datums/spells/disguise_self.dm
  code/datums/status_effects/magic_disguise.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  icons/mob/actions/actions.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/WizardApprenticeContract.js
  tgui/public/tgui.bundle.js
Labels: Feature, Sprites, TGUI, -Status: Awaiting merge, Requires Wiki Update

#23397 Revives Organ Datumization
  code/__DEFINES/mob_defines.dm
  code/datums/components/defibrillator.dm
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/critical.dm
  code/datums/diseases/tuberculosis.dm
  code/game/gamemodes/miniantags/abduction/abduction_surgery.dm
  code/game/gamemodes/miniantags/abduction/gland.dm
  code/game/gamemodes/miniantags/demons/slaughter demon/slaughter.dm
  code/game/objects/items/devices/painter/painter.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/carbon_life.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/carbon/human/species/slimepeople.dm
  code/modules/reagents/chemistry/reagents/disease.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/surgery/organs/brain.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ_datums/heart_datum.dm
  code/modules/surgery/organs/organ_datums/lung_datum.dm
  code/modules/surgery/organs/organ_datums/organ_datum.dm
  code/modules/surgery/organs/organ_helpers.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/subtypes/slime_organs.dm
  code/modules/surgery/organs/subtypes/unathi_organs.dm
  icons/obj/species_organs/slime.dmi
  paradise.dme
Labels: Sprites, Balance, Tweak, -Status: Awaiting merge

#23878 Replace inlined SVGs with relative URL imports
  tgui/.gitattributes
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/syndicate.scss
  tgui/public/tgui.bundle.css
Labels: TGUI, -Status: Awaiting type assignment

#23829 Fix spawn at ghost bar
  code/modules/ruins/ghost_bar.dm
Labels: Fix

#23880 Fixes a food size issue
  code/modules/food_and_drinks/food_base.dm
  tools/UpdatePaths/Scripts/23063_patch_pill.txt
  tools/UpdatePaths/Scripts/23379_food_containers.txt
Labels: Fix

#23626 Bump BYOND ver for CI deps to 1628
  _build_dependencies.sh
Labels: Infrastructure, -Status: Awaiting merge

#23904 bumps ci to 1630
  _build_dependencies.sh
Labels: Webeditor Heresy, -Status: Awaiting type assignment

#23916 [s] The PR I just made about fixing an IPC revival exploit but this time I'm on the right branch
  code/modules/mob/living/carbon/human/human_update_status.dm
  code/modules/surgery/organs/organ_helpers.dm
Labels: -Status: Awaiting type assignment

#23842 Fixing a few grammar issues
  code/__DEFINES/tools_defines.dm
  code/_onclick/click_override.dm
  code/controllers/subsystem/SSjobs.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/datums/action.dm
  code/datums/dog_fashion.dm
  code/datums/emote.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/demons/slaughter demon/slaughter.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/machinery/airlock_control/airlock_controllers.dm
  code/game/machinery/computer/arcade_games/recruiter.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/revolutionary/datum_revolutionary.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/crafting/guncrafting.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/syndicate_mobs.dm
  code/modules/power/apc/apc.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_eyes.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/robolimbs.dm
  code/modules/surgery/organs/skeleton_organs.dm
  code/modules/surgery/organs/subtypes/drask_organs.dm
  code/modules/surgery/organs/subtypes/grey_organs.dm
  code/modules/surgery/organs/subtypes/skrell_organs.dm
  code/modules/surgery/organs/subtypes/unathi_organs.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#23865 IPCs once again get 65 damage from a heavy EMP, and 40 from a light.
  code/modules/surgery/organs/organ_external.dm
Labels: Fix

#23822 Remove unused 'salvage captain' ID and related areas
  code/__DEFINES/access_defines.dm
  code/game/area/shuttle_areas.dm
  code/game/jobs/access.dm
  code/game/objects/items/weapons/cards_ids.dm
Labels: Refactor, -Status: Awaiting merge

#23888 Fixes the metal foam box sprite being invisible
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Fix, -Status: Awaiting merge

#23881 Fixes the staff of animation not working properly
  code/modules/projectiles/projectile/magic_projectiles.dm
Labels: Fix, -Status: Awaiting merge

#23851 allow quick spawn with doubleclick
  html/create_object.html
Labels: Tweak, -Status: Awaiting merge

#23875 Remove additional TGUIv4 debug logs at CI
  tgui/bin/tgui
  tgui/bin/tgui_.ps1
Labels: Infrastructure, TGUI, -Status: Awaiting merge

#23896 Fixes janihud highlight not being very visible sometimes
  code/game/data_huds.dm
Labels: Fix, -Status: Awaiting merge

#23855 Fix multiple S-class SM anomalies appearing per round
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Fix, -Status: Awaiting merge

#23852 Increases Fleshmend cost by one point
  code/modules/antagonists/changeling/powers/fleshmend.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#23834 Purges clown planet references from station traits
  code/datums/station_traits/neutral_traits.dm
Labels: Tweak, -Status: Awaiting merge

#23523 Robotic Analyzer Buff + Cleanup
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/silicon/robot/component.dm
Labels: Refactor, Tweak, -Status: Awaiting merge
