Repository ParadiseSS13/Paradise, pull requests merged in 2024-10, with the labels that each got.

#26910 Removes Princess of Terror RNG
  code/modules/mob/living/simple_animal/hostile/terror_spiders/princess.dm
Labels: Balance, -Status: Awaiting review

#26941 Lowers succumb threshold to 130 damage
  code/__DEFINES/combat_defines.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/living.dm
Labels: Balance, -Status: Awaiting merge

#26801 Allows multitile to work with arbitrary list lengths
  code/__DEFINES/misc_defines.dm
  code/datums/components/multitile.dm
  code/modules/power/gravitygenerator.dm
  code/modules/station_goals/bluespace_tap.dm
  code/modules/station_goals/dna_vault.dm
Labels: Refactor, -Status: Awaiting merge

#26824 Adds borgi undershirt
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  icons/mob/clothing/species/grey/underwear.dmi
  icons/mob/clothing/species/kidan/underwear.dmi
  icons/mob/clothing/species/vox/underwear.dmi
  icons/mob/clothing/underwear.dmi
Labels: Sprites, -Status: Awaiting merge

#26916 Event characters now have their own section in the orbit menu when ahudded
  code/modules/mob/dead/observer/orbit.dm
Labels: Feature, -Status: Awaiting merge

#26917 The amplified drill actually heals IPCs for more than just stamina damage
  code/datums/status_effects/buffs.dm
Labels: Fix, -Status: Awaiting merge

#26924 Makes medical wrench slightly faster
  code/game/objects/items/tools/wrench.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#26817 Fixes N2O not decomposing above 100000 Kelvin
  code/__DEFINES/atmospherics_defines.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Labels: Fix, -Status: Awaiting review

#26755 Judo combos fix
  code/modules/martial_arts/combos/judo/judothrow.dm
  code/modules/martial_arts/judo.dm
Labels: Fix, -Status: Awaiting merge

#26936 Add Seppuku to the Captain Saber
  code/game/objects/items/weapons/melee/melee_misc.dm
Labels: Feature, -Status: Awaiting merge

#26965 Fixes charger guardians
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Fix, -Status: Awaiting type assignment

#26887 Let's the chef cook up some new ideas: Chef fridge starts with 3 plants and 2 condiments.
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Map Edit, -Status: Awaiting merge

#26738 Nerf Space Loot
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiecakesfactory.dmm
  code/game/objects/effects/spawners/depot_spawners.dm
  code/game/objects/items/weapons/melee/energy_melee_weapons.dm
  code/modules/mob/living/simple_animal/corpse.dm
Labels: Map Edit, Balance, Tweak, -Status: Awaiting merge

#26979 Fix: Syndie depot locker is only spawned when there is a loot
  _maps/map_files/RandomRuins/SpaceRuins/syndiedepot.dmm
  code/game/objects/effects/spawners/depot_spawners.dm
  code/game/objects/effects/spawners/random/random_spawner.dm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26884 Surgery sounds 2: Now with volume mixer!
  code/__DEFINES/sound_defines.dm
  code/__HELPERS/unsorted.dm
  code/game/gamemodes/miniantags/abduction/abduction_surgery.dm
  code/modules/client/preference/preferences.dm
  code/modules/surgery/bio_chip_removal.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/surgery.dm
  sound/surgery/cautery1.ogg
  sound/surgery/cautery2.ogg
  sound/surgery/hemostat1.ogg
  sound/surgery/organ1.ogg
  sound/surgery/organ2.ogg
  sound/surgery/retractor1.ogg
  sound/surgery/retractor2.ogg
  sound/surgery/saw.ogg
  sound/surgery/scalpel1.ogg
  sound/surgery/scalpel2.ogg
Labels: Sound, -Status: Awaiting merge

#26957 Repairing a robobrain in an IPC now properly revives the IPC
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/surgery/robotics.dm
Labels: Fix, -Status: Awaiting merge

#26982 Removes a random proc that we don't use
  code/modules/mob/living/living_defense.dm
Labels: Code Improvement, -Status: Awaiting merge

#26988 Fixes some unknown tgui change breaking station trait saving
  code/controllers/subsystem/processing/SSstation.dm
  code/datums/station_traits/admin_panel.dm
Labels: Fix, -Status: Awaiting review

#27005 Fixes the organ extractor implant mechanic working in unintended ways.
  code/modules/surgery/organs/organ_extractor.dm
Labels: Fix, -Status: Awaiting type assignment

#26866 refactor: barrier spawners.
  _maps/map_files/RandomRuins/SpaceRuins/debris1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/telecomns_returns.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/effects/spawners/random/random_spawner.dm
  code/game/objects/effects/spawners/random_barrier.dm
  icons/effects/random_spawners.dmi
  icons/effects/spawner_icons.dmi
  tools/UpdatePaths/Scripts/26866_random_barrier_spawners.txt
Labels: Map Edit, Sprites, -Status: Awaiting merge

#26526 Improves Anomaly Logging
  code/game/objects/effects/anomalies.dm
Labels: Administration, -Status: Awaiting merge, Logging

#26840 IPCs are affected by Jestosterone now
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
Labels: Feature, Balance, -Status: Awaiting merge

#26731 [FIX] Prevent duplicate cyborg upgrades
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix, -Status: Awaiting merge

#26948 Fixes singulo pull on reinforced floor
  code/game/turfs/simulated/floor/plating.dm
Labels: Fix, -Status: Awaiting merge

#26989 Fixes Powercell Removal On Modsuits
  code/modules/mod/mod_core.dm
Labels: Fix, -Status: Awaiting merge

#26869 Captain's saber help intent slaps with flat of blade
  code/game/objects/items/weapons/melee/melee_misc.dm
Labels: Feature, Balance, -Status: Awaiting merge

#26877 Makes RemoveComponent more sane
  code/__DEFINES/dcs/datum_signals.dm
  code/controllers/subsystem/SSstatpanel.dm
  code/datums/components/_component.dm
  code/datums/components/surgery_initiator.dm
  code/datums/diseases/zombie_virus.dm
  code/datums/outfits/outfit_admin.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/jobs/job/support.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/structures/aliens.dm
  code/modules/awaymissions/mission_code/ruins/telecomns.dm
  code/modules/events/brand_intelligence.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/elite.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_service.dm
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
Labels: -Status: Awaiting merge

#26901 Fix: #26850 - Allows kitchen utensils to be used on custom dishes
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food_base.dm
Labels: Fix, -Status: Awaiting merge

#27007 feat: Pizza bombs now disguise as any flavor.
  code/game/objects/effects/spawners/depot_spawners.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
Labels: Feature, Balance, -Status: Awaiting merge

#27008 Fixes eternal candle boxes appearing empty on spawn
  code/game/objects/items/weapons/storage/fancy.dm
Labels: Fix, Refactor, -Status: Awaiting merge

#26599 Rework Lavaland tunnel themes.
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_excavation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_blooddrunk1.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_blooddrunk2.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_blooddrunk3.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_cultaltar.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_dead_ratvar.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_elite_tumor.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_gluttony.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hierophant.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pride.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_puzzle.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_survivalpod.dmm
  _maps/map_files/generic/Lavaland.dmm
  code/__DEFINES/misc_defines.dm
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/game/area/areas/mining_areas.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/lavaland/caves_theme.dm
  code/modules/lavaland/lavaland_theme.dm
  paradise.dme
Labels: Map Edit, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#26453 New Mech - The Nkarrdem, Janitor Supreme
  code/__DEFINES/lighting_defines.dm
  code/game/mecha/equipment/tools/janitor_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/janitor/nkarrdem.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/objects/cleaning.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/weapons/storage/storage_base.dm
  code/game/turfs/simulated.dm
  code/modules/power/lights.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mecha/mech_construct.dmi
  icons/mecha/mech_construction.dmi
  icons/mecha/mecha.dmi
  icons/mecha/mecha_equipment.dmi
  paradise.dme
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#26525 Tweak: Revision of miners' and explorers' gear.
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo_lockers.dm
  code/modules/mining/machine_vending.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#26604 BSH tweak/refactor/fix
  code/modules/station_goals/bluespace_tap.dm
  tgui/packages/tgui/interfaces/BluespaceTap.js
  tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge

#26713 Thurible - Holy Incense Burner
  code/game/objects/items/weapons/thurible.dm
  code/game/objects/structures/crates_lockers/closets/secure/chaplain.dm
  icons/mob/inhands/religion_lefthand.dmi
  icons/mob/inhands/religion_righthand.dmi
  icons/obj/weapons/magical_weapons.dmi
  paradise.dme
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#26716 Engineering machinery and consoles area detection refactor
  code/game/area/areas.dm
  code/game/area/ss13_areas/station_area.dm
  code/game/machinery/computer/atmos_alert.dm
  code/game/machinery/computer/atmos_controllers.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/station_alert.dm
  code/modules/power/gravitygenerator.dm
  code/modules/ruins/ruin_areas.dm
  code/modules/tgui/modules/atmos_control.dm
  paradise.dme
Labels: Refactor, -Status: Awaiting review

#26754 Security belts tweak
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/martial_arts/judo.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#26822 [LORE] Replaces most uses of "Russian" with "Soviet"
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_tele.dmm
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/datums/ruins/space_ruins.dm
  code/game/objects/items/salvage.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/statues.dm
  code/modules/hallucinations/effects/major.dm
  code/modules/martial_arts/bearserk.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/soviet.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  paradise.dme
Labels: Map Edit, -Status: Awaiting review, Lore

#26918 [REFACTOR] Helper proc for unbuckling a mob
  code/datums/components/zombie_regen.dm
  code/datums/helper_datums/teleport.dm
  code/datums/spells/area_teleport.dm
  code/game/machinery/slotmachine.dm
  code/game/objects/buckling.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/weapons/scrolls.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
  code/modules/mob/living/simple_animal/slime/slime_powers.dm
  code/modules/mob/mob_vars.dm
  code/modules/research/experimentor.dm
  code/modules/shuttle/shuttle.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: Refactor, -Status: Awaiting merge

#27030 Fixes Sm anomaly generation to not spawn them inside machines/structures
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Fix, -Status: Awaiting merge, I am unable to can

#27038 [FIX] Stimulating steak no longer possible kitchen secondary goal
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Fix, -Status: Awaiting type assignment

#26796 Adds some more admin-focused cleaning reagents
  code/_globalvars/lists/reagents_lists.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/clusterbuster.dm
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
Labels: Feature, Administration, -Status: Awaiting merge

#27053 Bungo Fruit is now growable.
  code/modules/hydroponics/grown/cocoa_vanilla.dm
Labels: -Status: Awaiting type assignment

#27066 Fixes `UNIQUE_TRAIT_SOURCE`
  code/__HELPERS/trait_helpers.dm
Labels: Fix, -Status: Awaiting type assignment

#27011 Fixes magboot fuckery
  code/__HELPERS/trait_helpers.dm
  code/modules/clothing/shoes/magboots.dm
Labels: Fix, -Status: Awaiting review

#27064 Fixes Soviet Mobs being Invisible
  code/game/objects/structures/statues.dm
  code/modules/martial_arts/bearserk.dm
  icons/mob/simple_human.dmi
  icons/obj/statue.dmi
Labels: Fix, Sprites, oops, -Status: Awaiting type assignment, Needs detailed review

#27051 [FIX] return some classes and standardize some class=\"
  code/controllers/failsafe.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/admin/misc_admin_procs.dm
  code/modules/mob/new_player/new_player_login.dm
  code/modules/tgui/tgui_panel/tgui_panel.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-default.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Fix, TGUI, -Status: Awaiting type assignment, Needs detailed review

#26985 Fixes machines not registering on new area's powernet when it is created
  code/modules/lighting/lighting_turf.dm
Labels: Fix, -Status: Awaiting review

#27044 Fix floating animation
  code/modules/mob/living/living.dm
Labels: Fix, -Status: Awaiting type assignment

#27025 Fix malf AI getting assigned a traitor organization
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix, -Status: Awaiting merge

#26832 [PORT/FEATURE] Animated closet doors
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/game/objects/structures/crates_lockers/closets/fitness.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/l3closet.dm
  code/game/objects/structures/crates_lockers/closets/malfunction.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo_lockers.dm
  code/game/objects/structures/crates_lockers/closets/secure/chaplain.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering_lockers.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical_lockers.dm
  code/game/objects/structures/crates_lockers/closets/secure/miscjobs.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_lockers.dm
  code/game/objects/structures/crates_lockers/closets/syndicate_lockers.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  code/game/objects/structures/crates_lockers/walllocker.dm
  code/modules/mining/mine_items.dm
  icons/obj/bodybag.dmi
  icons/obj/closet.dmi
  icons/obj/guncabinet.dmi
  icons/obj/legacy_closet.dmi
Labels: Sprites, -Status: Awaiting merge

#27098 Fixes combat pants not having a icon state
  code/modules/customitems/item_defines.dm
Labels: Fix, -Status: Awaiting type assignment

#27095 Adds back the fuel cleanable decal sprite(again)
  icons/effects/effects.dmi
Labels: Fix, Sprites, -Status: Awaiting type assignment

#27096 Fixes weed extract not having a sprite
  icons/mob/alien.dmi
Labels: Fix, Sprites, -Status: Awaiting type assignment

#27073 Fixes invisible signs on mining shelters
  code/game/objects/structures/signs.dm
  code/modules/mining/equipment/survival_pod.dm
  icons/obj/decals.dmi
  paradise.dme
Labels: Fix, Sprites, -Status: Awaiting type assignment

#27105 fix: duplicate mapped fire-extinguishers
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/stations/deltastation.dmm
  tools/maplint/lints/stacked_matching_extinguisher_cabinets.yml
Labels: Map Edit, -Status: Awaiting type assignment

#27102 [FIX] Animated closet fixes
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
Labels: Fix, -Status: Awaiting type assignment

#27107 [FIX] Guncabinet overlay fix
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
Labels: Fix

#26934 Fixes a glowing eye issue and eye overlay issue
  code/__DEFINES/misc_defines.dm
  code/modules/mob/living/carbon/human/human_inventory.dm
Labels: Fix, -Status: Awaiting merge

#27099 [FIX] chat language colours
  code/modules/mob/language.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-default.scss
  tgui/public/tgui-panel.bundle.css
Labels: Fix, TGUI, -Status: Awaiting review

#26956 Renames the suppressor to "universal suppressor", as it is called everywhere else
  code/modules/projectiles/gun_attachments.dm
Labels: Tweak, -Status: Awaiting merge

#27123 Fixes deepfrier / cereal maker not transfering reagents
  code/modules/food_and_drinks/kitchen_machinery/cooker.dm
Labels: -Status: Awaiting type assignment

#26881 [REFACTOR] Remove the flying var, adds the flying trait.
  code/__HELPERS/paths/path.dm
  code/__HELPERS/trait_helpers.dm
  code/datums/components/caltrop.dm
  code/datums/components/footstep.dm
  code/datums/components/slippery.dm
  code/datums/components/squeak.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/game/dna/mutations/mutation_powers.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/wizard/magic_tarot.dm
  code/game/objects/effects/alien_acid.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/game/objects/items/weapons/shards.dm
  code/game/objects/items/weapons/staff.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/game/turfs/simulated/floor/lava.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/misc_shoes.dm
  code/modules/events/blob/blob_mobs.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_life.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/friendly/butterfly.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/fish.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/undead.dm
  code/modules/mob/living/simple_animal/hostile/syndicate_mobs.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_vars.dm
  code/modules/power/lights.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Refactor, -Status: Awaiting merge

#27126 [FIX] [IDB Ignore] Closet emag sparks disappear again
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
Labels: -Status: Awaiting type assignment

#27122 refactor: Remove unused grill machine
  code/modules/food_and_drinks/kitchen_machinery/food_grill.dm
  paradise.dme
Labels: Revert/Feature Removal, Code Improvement, -Status: Awaiting type assignment

#26900 Datumizes microbatteries
  code/__DEFINES/mob_defines.dm
  code/game/gamemodes/miniantags/abduction/gland.dm
  code/game/gamemodes/miniantags/demons/slaughter_demon/slaughter.dm
  code/game/machinery/rechargestation.dm
  code/modules/mob/living/carbon/carbon_update_status.dm
  code/modules/mob/living/carbon/human/human_update_status.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/organ_datums/battery_datum.dm
  code/modules/surgery/organs/organ_helpers.dm
  code/modules/surgery/organs/subtypes/machine_organs.dm
  paradise.dme
Labels: Fix, Refactor, Tweak, -Status: Awaiting merge

#26895 Fix `image-rendering` method in Image component
  tgui/packages/tgui/components/Image.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#27148 [s] [FIX] Fixes a thing
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/misc_shoes.dm
Labels: -Status: Awaiting type assignment

#27145 fix: dupe corpse nullspace spawning
  code/modules/awaymissions/mob_spawn.dm
Labels: -Status: Awaiting review

#27151 [FIX] PACMAN accurately displays time left
  tgui/packages/tgui/interfaces/Pacman.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#27152 Suit storage units can now hold backpacks
  code/game/machinery/suit_storage_unit.dm
Labels: -Status: Awaiting type assignment

#27124 fix: TESTING-enabled admin rank helper procs
  code/modules/admin/admin_ranks.dm
Labels: Fix, -Status: Awaiting review

#26972 lint: forbid whitespace in empty list decls
  code/__HELPERS/bitflag_lists.dm
  code/datums/mixed.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/effects/misc_effects.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/clothing/suits/armor_suits.dm
  code/modules/clothing/suits/suit_storage.dm
  code/modules/clothing/under/accessories/storage_accessories.dm
  code/modules/clothing/under/costumes.dm
  code/modules/crafting/craft.dm
  code/modules/library/library_catalog.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/human_species.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_vars.dm
  code/modules/mod/mod_types.dm
  code/modules/recycling/disposal.dm
  tools/ci/check_grep2.py
Labels: Code Improvement, -Status: Awaiting merge

#26992 blackbox: improve lathe production feedback
  code/game/machinery/autolathe.dm
  code/game/mecha/mech_fabricator.dm
  code/modules/research/rdconsole.dm
Labels: -Status: Awaiting merge, Logging

#27144 cleanup: remove unused mob spawners
  code/modules/awaymissions/mob_spawn.dm
Labels: Code Improvement, -Status: Awaiting merge

#27113 Departmental shuttle now has proper cargo access
  _maps/map_files/shuttles/emergency_dept.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26950 Fix 3 posibrain / robobrain bugs
  code/modules/mob/living/brain/robotic_brain.dm
Labels: Fix, -Status: Awaiting merge

#27075 Fixes smoothing of small shuttles to prevent floating lights or black space
  _maps/map_files/shuttles/emergency_bar.dmm
  _maps/map_files/shuttles/emergency_clown.dmm
  _maps/map_files/shuttles/emergency_old.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#27087 makes secbots / ed209's not stupid as a fucking rock
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix, -Status: Awaiting merge

#26925 [PORT/SPRITES] New BSA beam sprite
  code/game/objects/effects/temporary_visuals/misc_visuals.dm
  code/modules/station_goals/bsa.dm
  icons/effects/beam.dmi
  icons/effects/beam_splash.dmi
Labels: Sprites, Port, -Status: Awaiting merge, Requires Wiki Update

#26928 Ports the Power Transmission Laser
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__DEFINES/announce_defines.dm
  code/__DEFINES/power_defines.dm
  code/defines/procs/announcer_datum.dm
  code/game/area/ss13_areas/engineering_areas.dm
  code/game/atoms.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/objects/effects/effects.dm
  code/game/objects/objs.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/minerals.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/turf.dm
  code/goonstation/modules/power/power_transmission_laser/transmission_laser.dm
  code/modules/mob/living/living.dm
  icons/goonstation/effects/pt_beam.dmi
  icons/goonstation/objects/pt_laser.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/goonstation_TDL/index.js
  tgui/public/tgui.bundle.js
Labels: Feature, Map Edit, Sprites, Port, TGUI, -Status: Awaiting merge, Requires Wiki Update

#26935 Ports Jumpskirts!
  code/_globalvars/lists/dye_registry.dm
  code/game/machinery/vendors/generic_vendors.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_lockers.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/under/color.dm
  icons/mob/clothing/species/drask/under/color.dmi
  icons/mob/clothing/species/grey/under/color.dmi
  icons/mob/clothing/species/kidan/under/color.dmi
  icons/mob/clothing/species/vox/under/color.dmi
  icons/mob/clothing/under/color.dmi
  icons/obj/clothing/under/color.dmi
Labels: Feature, Sprites, Port, -Status: Awaiting merge

#26945 Fixes guns playing scredriver sounds when they shouldn't be. as well as adds sounds to attaching stuff
  code/modules/projectiles/gun.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#26954 [FIX] Prevent Shell Count From Appearing on DL-88 Speedcharger
  code/modules/projectiles/ammunition/magazines.dm
Labels: Fix, -Status: Awaiting merge

#26955 Improves the throwing capabilities of the Scrying orb
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/mob/mob_misc_procs.dm
Labels: Feature, Balance, -Status: Awaiting merge, Requires Wiki Update

#26958 Adds a Collection of Spent Ballistic Casings With Random Rotation and Offsets
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  code/game/objects/effects/spawners/random/trash_spawners.dm
  code/game/objects/items/trash.dm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#26960 Fixes admin give objectives for supermatter sliver/plutonium core
  code/game/gamemodes/objective.dm
Labels: Fix, Administration, -Status: Awaiting merge

#26964 [LORE] Reasonably Sized ERT Lore Drop
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/ert_hardsuits.dm
  code/modules/clothing/suits/armor_suits.dm
  code/modules/clothing/under/centcom.dm
  code/modules/mod/mod_theme.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update, Lore

#26968 adds strong arm to exosuit fabricator like all other cybernetic implants
  code/modules/research/designs/weapon_designs.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#26969 Updates the Research & Development Crate to Include Components for the R&D Server and Server Controller
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#26986 Kidan gloves - Refitted sprites
  code/modules/clothing/clothing.dm
  icons/mob/clothing/species/kidan/gloves.dmi
Labels: Sprites, -Status: Awaiting merge

#26995 TWEAK: Love pen now higly peaceful
  code/datums/uplink_items/uplink_traitor.dm
  code/modules/paperwork/pen.dm
Labels: Balance, Tweak, -Status: Awaiting merge, Requires Wiki Update

#26998 Mole crush SMs now generate anomalies
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Tweak, -Status: Awaiting merge

#27000 Resprite Disco floors
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
Labels: Sprites, -Status: Awaiting merge

#27015 Adds some wall items to Diagoras
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#27040 PDA Resprite
  code/game/jobs/job/support.dm
  code/modules/pda/PDA.dm
  code/modules/pda/pdas.dm
  icons/goonstation/objects/pda_overlay.dmi
  icons/mob/screen_ai.dmi
  icons/mob/screen_midnight.dmi
  icons/mob/screen_operative.dmi
  icons/mob/screen_plasmafire.dmi
  icons/mob/screen_retro.dmi
  icons/mob/screen_slimecore.dmi
  icons/mob/screen_white.dmi
  icons/obj/pda.dmi
  icons/ui_icons/inventory/pda.png
Labels: Sprites, Tweak, -Status: Awaiting merge, Requires Wiki Update

#27045 Modsuit pinned buttons now indicate whether the module is active
  code/modules/mod/mod_actions.dm
  icons/mob/actions/actions_mod.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#27048 Pins firefighting tank by default in atmos and advanced modsuits
  code/modules/mod/mod_types.dm
Labels: Tweak, -Status: Awaiting merge

#27060 Janimech Cleaning grenade launcher mount fix
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Fix, -Status: Awaiting merge

#27074 Fixes inhands for fake artefacts
  code/game/objects/structures/displaycase.dm
  code/modules/mining/equipment/survival_pod.dm
Labels: Fix, -Status: Awaiting merge

#27079 Makes Plastitanium windows resistant to large mobs one hit break abilities
  code/game/objects/structures/window.dm
Labels: Fix, -Status: Awaiting merge

#27081 refactor: Only sort named machine lists at mapload end.
  code/controllers/subsystem/non_firing/SSlate_mapping.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/power/apc/apc.dm
Labels: Refactor, -Status: Awaiting merge

#27090 Fix black security announcement title on light theme
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Fix, TGUI, -Status: Awaiting merge

#27101 Fix: Mouse Opacity of items dropped by a burned container should be Icon
  code/game/objects/items/weapons/storage/storage_base.dm
Labels: Fix, -Status: Awaiting merge

#27112 cere: fix access helpers on mime and clown offices
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#27138 Fixes a thurible runtime
  code/game/objects/items/weapons/thurible.dm
Labels: Fix, -Status: Awaiting merge

#27121 Fixes Newscaster Treatment of Wallets
  code/defines/procs/announcer_datum.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/newscaster/obj/newscaster.dm
Labels: Fix, -Status: Awaiting merge

#26952 Add images to the Mining Vendor
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/mining/machine_vending.dm
  tgui/packages/tgui/interfaces/MiningVendor.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge, Needs detailed review

#27115 Fixes the ninja and corgi/E-N suits
  code/modules/clothing/suits/misc_suits.dm
  code/modules/ninja/suit/ninja_head.dm
  code/modules/ninja/suit/ninja_mask.dm
  code/modules/ninja/suit/ninja_suit.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/suit.dmi
Labels: Fix, Sprites, -Status: Awaiting review

#27006 Resprites shotgun shell boxes (with fancy storage!)
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/admin_armory.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/supply/supply_packs/pack_security.dm
  icons/obj/boxes.dmi
  icons/obj/shell_boxes.dmi
Labels: Map Edit, Sprites, Balance, -Status: Awaiting approval, Requires Wiki Update

#27057 Removes a lot of unused floor sprites
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/templates/biodome_beach.dmm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
  icons/turf/floors.dmi
  paradise.dme
Labels: Map Edit, Sprites, Code Improvement, -Status: Awaiting merge

#27159 Removes a stray cable at the USSP station
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
Labels: Fix, Map Edit, -Status: Awaiting type assignment

#26803 port: Aurora mapmanip library for map templates, and documentation.
  .github/workflows/build_rust.yml
  .gitignore
  code/__DEFINES/rust.dm
  code/game/objects/effects/map_effects/mapmanip.dm
  code/modules/awaymissions/maploader/reader.dm
  docs/CONTRIBUTING.md
  docs/mapping/images/mapmanip_contents.png
  docs/mapping/images/mapmanip_error.png
  docs/mapping/images/mapmanip_inplace.png
  docs/mapping/images/mapmanip_markers.png
  docs/mapping/images/mapmanip_noops1.png
  docs/mapping/images/mapmanip_noops2.png
  docs/mapping/images/mapmanip_noops3.png
  docs/mapping/images/mapmanip_noops4.png
  docs/mapping/images/mapmanip_results.png
  docs/mapping/submaps.md
  icons/effects/map_effects_96x96.dmi
  icons/effects/mapping_helpers.dmi
  milla.dll
  milla/Cargo.toml
  milla/src/logging.rs
  mkdocs.yml
  paradise.dme
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/logging/mod.rs
  rust/src/mapmanip/.gitignore
  rust/src/mapmanip/core/map_to_string.rs
  rust/src/mapmanip/core/mod.rs
  rust/src/mapmanip/core/to_dict_map.rs
  rust/src/mapmanip/core/to_grid_map.rs
  rust/src/mapmanip/mod.rs
  rust/src/mapmanip/test-in/_tiny_test_map.dmm
  rust/src/mapmanip/test-in/extracted.dmm
  rust/src/mapmanip/test-in/inserted.dmm
  rust/src/mapmanip/test.rs
  rust/src/mapmanip/tools/extract_submap.rs
  rust/src/mapmanip/tools/insert_submap.rs
  rust/src/mapmanip/tools/mod.rs
  rust/src/milla/api.rs
  rust/src/milla/constants.rs
  rust/src/milla/conversion.rs
  rust/src/milla/mod.rs
  rust/src/milla/model.rs
  rust/src/milla/simulate.rs
  rust/src/milla/statics.rs
  rust/src/milla/tick.rs
  rustlibs.dll
  tools/ci/libmilla_ci.so
  tools/ci/librustlibs_ci.so
  tools/rustlibs_tools/mapmanip.ps1
  tools/tgs_scripts/PreCompile.sh
Labels: Feature, Sprites, Port, -Status: Awaiting merge, Requires Wiki Update

#26926 Adds a Ranked list input modal
  code/__HELPERS/lists.dm
  code/modules/tgui/tgui_input/list_input.dm
  code/modules/tgui/tgui_input/ranked_list_input.dm
  paradise.dme
  tgui/packages/tgui/interfaces/RankedListInputModal.tsx
  tgui/public/tgui.bundle.js
Labels: Merge Conflict, TGUI, -Status: Awaiting merge

#27010 Adds CI to prevent manual calls of update_icon_state, update_overlay, etc.
  code/__DEFINES/_spacemandmm.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/requests_console.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/scratch_card.dm
  code/game/objects/items/weapons/chemical_flamethrower/chemical_flamethrower.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/transit_tubes/transit_tube_construction.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/hydroponics/compost_bin.dm
  code/modules/hydroponics/gene_modder.dm
  code/modules/mob/living/simple_animal/slime/slime_death.dm
  code/modules/mob/living/simple_animal/slime/slime_mob.dm
  code/modules/mob/living/simple_animal/slime/slime_powers.dm
  code/modules/mod/mod_activation.dm
  code/modules/mod/mod_construction.dm
  code/modules/mod/modules/_modules.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/projectiles/ammunition.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/recycling/sortingmachinery.dm
  tools/ci/check_grep2.py
Labels: Code Improvement, -Status: Awaiting merge

#27146 fix: polarized access helper false positives
  code/modules/mapping/access_helpers.dm
  code/modules/mapping/mapping_helpers.dm
Labels: Fix, Merge Conflict, -Status: Awaiting merge

#27167 [s] fixes this bloody laser
  code/modules/mob/living/living.dm
Labels: Fix

#27133 Update readme to use devdocs site for links to guides
  README.md
Labels: Documentation, -Status: Awaiting merge

#27041 Tweaks syndicate MMI and cyborg console interactions
  code/datums/uplink_items/uplink_traitor.dm
  code/game/machinery/computer/robot_control.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/silicon/robot/robot_module_actions.dm
  icons/mob/actions/actions.dmi
Labels: Sprites, Balance, Tweak, -Status: Awaiting merge, Requires Wiki Update

#27166 Fixes some shell box issues
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
Labels: Fix, -Status: Awaiting type assignment

#26974 The syndicate depo closests actually use their sprites + door sprites.
  code/game/objects/structures/crates_lockers/closets/secure/depot_closets.dm
  icons/obj/closet.dmi
Labels: Sprites, Tweak, -Status: Awaiting review

#27131 [FIX] Personal lockers fix
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
Labels: Fix, -Status: Awaiting merge

#27185 Fix: Secure Virus Storage now recognizes Virologist authority again
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Fix, -Status: Awaiting type assignment

#27183 emerald: replace custom trash spawners with generic trash spawner
  _maps/map_files/stations/emeraldstation.dmm
  tools/UpdatePaths/Scripts/27183_trash_spawners.txt
Labels: Map Edit, Tweak, -Status: Awaiting type assignment

#27180 fix: update spent casing root types on maps
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  tools/UpdatePaths/Scripts/27180_spentcasings.txt
  tools/maplint/lints/spentcasing_roottype.yml
Labels: Fix, Map Edit, -Status: Awaiting type assignment

#26978 Adds the bluespace anchor cybernetic implant
  code/__DEFINES/dcs/mob_signals.dm
  code/__DEFINES/dcs/movable_signals.dm
  code/datums/diseases/wizarditis.dm
  code/datums/helper_datums/teleport.dm
  code/datums/spells/bloodcrawl.dm
  code/datums/spells/ethereal_jaunt.dm
  code/datums/spells/turf_teleport.dm
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/wizard/magic_tarot.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/weapons/bio_chips/bio_chip_tracking.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/antagonists/vampire/vampire_powers/umbrae_powers.dm
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/supply/supply_packs/pack_security.dm
  code/modules/surgery/organs/augments_internal.dm
  icons/obj/surgery.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#27191 [FIX] AI can no longer toggle floorbolts while dead
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Fix, -Status: Awaiting type assignment

#27201 [FIX] Cargo console pinnumber prompt works again
  code/modules/supply/supply_console.dm
Labels: Fix, -Status: Awaiting type assignment

#27203 [FIX] Silicons can change the size of their photo camera again
  code/modules/paperwork/silicon_photography.dm
Labels: Fix, -Status: Awaiting type assignment

#27205 fix: don't spawn salvage on flipped tables
  code/controllers/subsystem/non_firing/SSmapping.dm
Labels: Fix, -Status: Awaiting type assignment

#27202 Fixes assistants spawning with jumpskirts
  code/modules/clothing/under/color.dm
Labels: Fix, -Status: Awaiting type assignment

#27176 Supermatter events are now announced by "supermatter crystal" instead of "the supermatter crystal"
  code/modules/power/engines/supermatter/supermatter_event.dm
Labels: Fix, -Status: Awaiting type assignment

#27163 Fixes the gravity generator not going down when the gravity anomaly detonates
  code/game/objects/effects/anomalies.dm
Labels: Fix, -Status: Awaiting type assignment

#27157 Removes 3 Extra Holopads from Deltastation
  _maps/map_files/stations/deltastation.dmm
  tools/maplint/lints/multiple_holopads.yml
Labels: Fix, Map Edit, -Status: Awaiting type assignment

#27158 Adds Disaster Counters to Deltastation/Kerberos
  _maps/map_files/stations/deltastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting type assignment

#27009 Makes Disarmed Pizzabombs closeable, refactors their code
  code/modules/food_and_drinks/food/foods/pizza.dm
Labels: Refactor, -Status: Awaiting merge

#27139 Fixes borg cameras
  code/datums/wires/robot_wires.dm
  code/modules/mob/living/silicon/robot/robot_death.dm
  code/modules/mob/living/silicon/robot/robot_life.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/silicon/robot/robot_update_status.dm
Labels: Fix, -Status: Awaiting merge

#27143 Fixes a machine analyzer runtime
  code/game/objects/items/devices/scanners.dm
Labels: Fix, -Status: Awaiting review

#27221 Black boxes his grace ascentions.
  code/game/objects/items/his_grace.dm
Labels: -Status: Awaiting merge

#27231 Removes the stairway to heaven from the syndiebase
  _maps/map_files/generic/centcomm.dmm
Labels: Fix, Map Edit, -Status: Awaiting type assignment

#27227 Warden gloves made indestructible
  code/modules/martial_arts/krav_maga.dm
Labels: -Status: Awaiting review

#27220 Fixes Kerberos science Break Room access
  _maps/map_files/stations/deltastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#26981 Makes powerfist and wallbashing not ignore armor
  code/game/objects/items/weapons/powerfist.dm
  code/game/objects/objs.dm
  code/modules/mob/living/living.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#27012 BSA now checks if the APC has enough power to reload
  code/modules/station_goals/bsa.dm
Labels: Fix, -Status: Awaiting merge

#27076 Morphs now spawn in vents
  code/game/gamemodes/miniantags/morph/morph_event.dm
  code/modules/antagonists/_common/antag_spawner.dm
Labels: Fix, -Status: Awaiting merge

#27200 fix: three small mapmanip followup issues
  .gitignore
  code/game/objects/effects/map_effects/mapmanip.dm
  code/modules/awaymissions/maploader/reader.dm
Labels: Fix, -Status: Awaiting merge

#27248 [S] Yikes exploit fixes attempt 2
  code/modules/paperwork/paper.dm
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/public/tgui-panel.bundle.js
Labels: TGUI, Testmerge Active, -Status: Awaiting type assignment

#27190 [FIX] Cargo requests get deleted when requester cryos
  code/modules/supply/supply_console.dm
  code/modules/supply/supply_order.dm
Labels: Fix, -Status: Awaiting merge
