Repository ParadiseSS13/Paradise, pull requests merged in 2024-09, with the labels that each got.

#25571 Enhances the Smoking Experience - Adds Many New Item Interactions for Cigarettes and Items Interacting With Them
  code/game/objects/items.dm
  code/game/objects/items/robot/cyborg_gripper.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/melee/energy_melee_weapons.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/assembly/igniter.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mining/lavaland/loot/legion_loot.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/surgery/tools.dm
  strings/sillytips.txt
  strings/tips.txt
Labels: Tweak, -Status: Awaiting merge

#26441 Adds and Adjusts Loadout Items
  code/game/objects/items/weapons/storage/garment.dm
  code/modules/client/preference/loadout/loadout_accessories.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/head/beret.dm
  code/modules/supply/supply_packs/pack_security.dm
Labels: Tweak, -Status: Awaiting merge

#26618 improves tarot card logging
  code/game/gamemodes/wizard/magic_tarot.dm
Labels: Administration, -Status: Awaiting merge

#26621 Makes xenobiology slimes and monkeys GC better
  code/modules/mob/living/simple_animal/slime/slime_death.dm
  code/modules/mob/living/simple_animal/slime/slime_mob.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#26638 Fixes Chameleon beanies appearing white while a different color is selected.
  code/modules/clothing/chameleon.dm
Labels: Fix, -Status: Awaiting merge

#26600 Fairly Sizable Fed Lore Drop
  code/datums/outfits/outfit_admin.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult_mode.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/trifecta/trifecta.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/vampire/vampire_gamemode.dm
  code/game/jobs/access.dm
  code/game/jobs/job/central.dm
  code/game/machinery/tcomms/nttc.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/head/beret.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/spacesuits/ert_hardsuits.dm
  code/modules/clothing/spacesuits/misc_spacesuits.dm
  code/modules/clothing/under/centcom.dm
  code/modules/clothing/under/solgov.dm
  code/modules/economy/merch_items.dm
  code/modules/events/ion_storm.dm
  code/modules/mob/living/carbon/human/species/human_species.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/projectiles/ammunition/magazines.dm
Labels: Tweak, -Status: Awaiting merge

#26560 Documents and standardizes power and energy units. Fixes a pulse demon bug.
  code/__DEFINES/power_defines.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon_abilities.dm
  code/game/machinery/cell_charger.dm
  code/modules/power/apc/apc.dm
  code/modules/power/cell.dm
  code/modules/power/power_machine.dm
  code/modules/power/powernets/regional_powernet.dm
  code/modules/power/smes.dm
  code/modules/station_goals/bluespace_tap.dm
Labels: Fix, Code Improvement, -Status: Awaiting review

#26594 Fix runtimes when events cannot find a valid event area
  code/game/objects/effects/spawners/mess_spawners.dm
  code/modules/events/event_procs.dm
  code/modules/events/tear.dm
Labels: Fix, -Status: Awaiting review

#26610 Prevents pseudo-exploit with heal_on_apply reagents and IV bags
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Fix, -Status: Awaiting review

#26619 fix: stop damage to delivery chutes from items thrown through space
  code/modules/recycling/sortingmachinery.dm
Labels: Fix, -Status: Awaiting review

#26629 Fixes thermomachines runtiming and not connecting when wrenching them to a pipe
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Fix, -Status: Awaiting review

#26631 Cleans up /obj/effect/decal/cleanable
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc_cleanables.dm
  code/game/objects/effects/decals/cleanable.dm
Labels: Fix, GC Related, -Status: Awaiting review

#26639 Fixing syndicate tech on mining charges
  code/modules/mining/equipment/mining_charges.dm
Labels: Fix, -Status: Awaiting review

#26654 fix: Standardize abandoned engi sat lockers.
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_engi_sat.dmm
  code/modules/awaymissions/mission_code/ruins/abandoned_engi_sat.dm
  paradise.dme
Labels: Fix, Map Edit, -Status: Awaiting review

#26663 fix: Unfrozen mobs keep their bodies.
  code/modules/admin/verbs/freeze.dm
Labels: Fix, -Status: Awaiting review

#26673 [DELTASTATION/FIX] Wall flashers now linked to right cell console
  _maps/map_files/stations/deltastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#26672 [FIX] Demotion/termination now properly updates HUD icon
  code/game/machinery/computer/card.dm
Labels: Fix, -Status: Awaiting review

#26674 Fixes cyborgs not getting blinded by flashes
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
Labels: Fix, -Status: Awaiting merge

#26669 Dev team chat
  code/__DEFINES/admin_defines.dm
  code/__DEFINES/chat.dm
  code/__DEFINES/mob_defines.dm
  code/__DEFINES/speech_channels.dm
  code/__HELPERS/_logging.dm
  code/__HELPERS/type2type.dm
  code/controllers/configuration/sections/discord_configuration.dm
  code/datums/keybindings/communication_keybinds.dm
  code/game/verbs/who.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/asays.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/redis/callbacks/dev_callback.dm
  code/modules/tgui_input/say_modal/tgui_say_speech.dm
  config/example/config.toml
  paradise.dme
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui-say/ChannelIterator.test.ts
  tgui/packages/tgui-say/ChannelIterator.ts
  tgui/packages/tgui-say/styles/colors.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.css
  tgui/public/tgui-say.bundle.js
Labels: Feature, Administration, Configuration Change, TGUI, -Status: Awaiting review

#26676 Fix stealthmin handling in adminwho
  code/game/verbs/who.dm
Labels: Fix, Administration, -Status: Awaiting type assignment

#26682 Dev docs build rev 1
  .github/workflows/devdocs.yml
Labels: -Status: Awaiting type assignment

#26689 docs: enable site search
  mkdocs.yml
Labels: Fix, -Status: Awaiting type assignment

#26690 ci: watch mkdocs.yml for changes to publish
  .github/workflows/devdocs.yml
Labels: -Status: Awaiting type assignment

#26643 [TWEAK] Makes vampire warning for burning in space a bit more obvious.
  code/modules/antagonists/vampire/vamp_datum.dm
Labels: Tweak, -Status: Awaiting review

#25091 Adds Chemical flamethrowers
  code/datums/uplink_items/uplink_nuclear.dm
  code/game/atoms_movable.dm
  code/game/objects/items/weapons/chemical_flamethrower/chemical_flamethrower.dm
  code/game/objects/items/weapons/chemical_flamethrower/fire_effect.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/crafting/guncrafting.dm
  code/modules/crafting/recipes.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/projectiles/ammunition/ammo_boxes.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/reagents_datum.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/supply/supply_packs/pack_engineering.dm
  icons/effects/chemical_fire.dmi
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/flamethrower_lefthand.dmi
  icons/mob/inhands/flamethrower_righthand.dmi
  icons/obj/chemical_flamethrower.dmi
  paradise.dme
  sound/effects/fire_sizzle.ogg
Labels: Feature, Sound, Sprites, -Status: Awaiting review, Requires Wiki Update, Stale Exempt

#26698 Fixes extended thrower recipes
  code/modules/crafting/recipes.dm
Labels: Fix

#26420 R&D Rework PT1 - The network refactor
  _maps/map_files/RandomRuins/SpaceRuins/telecomns_returns.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/misc_lists.dm
  code/controllers/subsystem/SSresearch.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/admin/admin_verbs.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/research/backup_console.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/experimentor.dm
  code/modules/research/rdconsole.dm
  code/modules/research/rdmachines.dm
  code/modules/research/research.dm
  code/modules/research/rnd_network_controller.dm
  code/modules/research/server.dm
  icons/obj/computer.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
  tgui/packages/tgui/interfaces/RndBackupConsole.js
  tgui/packages/tgui/interfaces/RndConsole/LinkMenu.js
  tgui/packages/tgui/interfaces/RndConsole/SettingsMenu.js
  tgui/packages/tgui/interfaces/RndConsole/index.js
  tgui/packages/tgui/interfaces/RndNetController.js
  tgui/packages/tgui/interfaces/RndServer.js
  tgui/public/tgui.bundle.js
Labels: Feature, Map Edit, Refactor, Sprites, MetaStation, BoxStation, Tweak, DeltaStation, TGUI, Testmerge Requested, -Status: Awaiting review, CereStation

#26721 fix: R&D rework: convert rest of tgui_alert choices to lists
  code/game/mecha/mech_fabricator.dm
  code/modules/research/backup_console.dm
Labels: Fix

#26620 Replaces the changeling gamemode with a vampires + changelings gamemode.
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/vampire/vampire_chan.dm
  code/game/gamemodes/vampire/vampire_gamemode.dm
  config/example/config.toml
  paradise.dme
Labels: Revert/Feature Removal, Configuration Change, -Status: Awaiting review, Requires Wiki Update

#26550 The mech crusher module
  code/game/mecha/equipment/tools/work_tools.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mecha/mecha_equipment.dmi
Labels: Feature, Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#26648 Fixes being unable to ignite bonfire in lavaland
  code/modules/hydroponics/grown/towercap.dm
Labels: Fix, -Status: Awaiting merge

#26675 Remove flying request console from Farragus
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26567 Protect arrival shuttle from spacevine
  code/modules/events/spacevine.dm
Labels: Feature, Tweak, -Status: Awaiting merge

#26635 Mime drink consistency
  code/modules/reagents/chemistry/reagents/drinks_reagents.dm
Labels: Feature, Balance, Tweak, -Status: Awaiting merge

#26539 Remasters the Clown-Mime Battle Ruin
  _maps/map_files/RandomRuins/SpaceRuins/clownmime.dmm
  code/game/area/areas/ruins/space_areas.dm
  code/modules/paperwork/paper.dm
Labels: Map Edit, Balance, Tweak, -Status: Awaiting merge

#26531 Adds support for machinery to be bigger than 1x1
  SpacemanDMM.toml
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__DEFINES/misc_defines.dm
  code/datums/components/multitile.dm
  code/modules/power/gravitygenerator.dm
  code/modules/station_goals/bluespace_tap.dm
  code/modules/station_goals/dna_vault.dm
  paradise.dme
Labels: Map Edit, Code Improvement, -Status: Awaiting review

#26633 Fixes stacks, attempt 2
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/shards.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/hydroponics/grown/towercap.dm
Labels: Fix, -Status: Awaiting merge

#26586 Re-weight secondary goals.
  code/game/gamemodes/game_mode.dm
  code/modules/admin/topic.dm
  code/modules/station_goals/secondary/bar/random_bulk_drink.dm
  code/modules/station_goals/secondary/bar/variety_drinks.dm
  code/modules/station_goals/secondary/botany/kudzu_goal.dm
  code/modules/station_goals/secondary/kitchen/random_bulk_condiment.dm
  code/modules/station_goals/secondary/kitchen/random_bulk_food.dm
  code/modules/station_goals/secondary/kitchen/variety_food.dm
  code/modules/station_goals/secondary/medical/random_bulk_medicine.dm
  code/modules/station_goals/secondary/medical/variety_medicine.dm
  code/modules/station_goals/secondary/science/random_bulk_chemical.dm
  code/modules/station_goals/secondary/science/random_ripley.dm
  code/modules/station_goals/secondary/science/variety_chemicals.dm
  code/modules/station_goals/secondary/secondary_goal.dm
Labels: Tweak, -Status: Awaiting merge

#26014 add option to disable end of round sound
  code/__DEFINES/preferences_defines.dm
  code/controllers/subsystem/SSticker.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_toggles.dm
Labels: Feature, Stale, -Status: Awaiting review

#26659 fix: Unintentional night-shift despite disabled in configuration.
  code/controllers/subsystem/SSticker.dm
Labels: -Status: Awaiting review

#26741 Fixes for mech crusher
  code/game/mecha/equipment/tools/work_tools.dm
Labels: Fix, -Status: Awaiting type assignment

#26700 refactor: remove CanPass height arg
  code/game/atoms_movable.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/shieldgen.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/structures/coathanger.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/events/blob/blob_mobs.dm
  code/modules/events/blob/blob_structures/strong_blob.dm
  code/modules/events/blob/theblob.dm
  code/modules/events/spacevine.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/mob/dead/observer/observer_base.dm
  code/modules/mob/living/simple_animal/hostile/syndicate_mobs.dm
  code/modules/mob/mob_movement.dm
  code/modules/power/engines/singularity/containment_field.dm
  code/modules/power/generators/turbine.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/vehicle/vehicle.dm
Labels: Code Improvement, -Status: Awaiting merge

#26603 [FIX] Red engineering ERT suits have their species sprites back.
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/skrell/helmet.dmi
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/tajaran/suit.dmi
  icons/mob/clothing/species/unathi/helmet.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
  icons/mob/clothing/species/vulpkanin/suit.dmi
Labels: Sprites, -Status: Awaiting review

#26625 Gas Meter Resprite
  icons/obj/meter.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#26634 A more precise message for when you detach your Hierophant beacon.
  code/modules/mining/lavaland/loot/hierophant_loot.dm
Labels: Tweak, -Status: Awaiting review

#26707 [FIX] Cult Shadow Shackles can now cuff people who are missing an arm.
  code/game/gamemodes/cult/blood_magic.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/surgery/organs/organ_helpers.dm
Labels: Fix, -Status: Awaiting review

#26756 fix: remove two unused vardecls
  code/game/objects/items/weapons/shards.dm
  code/modules/hydroponics/grown/towercap.dm
Labels: Fix, -Status: Awaiting type assignment

#26723 Fixes holo stretcher misspelling
  code/modules/research/designs/medical_designs.dm
Labels: Grammar and Formatting, -Status: Awaiting review

#26739 Re-add removed toggle for prayer sounds
  code/modules/client/preference/preferences_toggles.dm
Labels: Fix, -Status: Awaiting merge

#26722 Adds the new R&D boards to secure tech storage on all maps
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#26711 Fix SMES not working after recharge
  code/modules/power/smes.dm
Labels: -Status: Awaiting merge

#26664 Move global access procs to the mapping subsystem
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/modules/security_levels/keycard_authentication.dm
Labels: Code Improvement, -Status: Awaiting review

#26703 refactor: use DCS signal for explosion sensors.
  code/game/machinery/doppler_array.dm
  code/game/objects/explosion.dm
  code/modules/mod/modules/modules_science.dm
Labels: Refactor, -Status: Awaiting merge

#26730 [FIX] Floorbots now actually use the colour of the toolbox they were made of
  code/modules/mob/living/simple_animal/bot/floorbot.dm
Labels: Fix, -Status: Awaiting merge

#26691 Changes the in_game name of chameleon mason scanners
  code/modules/clothing/chameleon.dm
Labels: Tweak, -Status: Awaiting merge

#26614 Makes the cryo anomaly more dangerous
  code/game/objects/effects/anomalies.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#26595 Updates some salvage lore
  code/game/objects/items/salvage.dm
Labels: Tweak, -Status: Awaiting merge

#26592 Captain's sabre - Resprite and rebrand
  code/game/gamemodes/steal_items.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_lockers.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/weapons_lefthand.dmi
  icons/mob/inhands/weapons_righthand.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/weapons/melee.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#26589 [SPRITES] Emissive mechs
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/working/ripley.dm
  icons/mecha/mecha.dmi
  icons/mecha/mecha_emissive.dmi
Labels: Feature, Sprites, Tweak, -Status: Awaiting merge

#26717 Conveyer belts and Disposals units no longer steal items on nonhelp intents
  code/modules/recycling/conveyor2.dm
  code/modules/recycling/disposal.dm
Labels: Fix, -Status: Awaiting review

#24040 Adds Syndicate organizations
  code/__DEFINES/antag_defines.dm
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/objective_holder.dm
  code/game/gamemodes/objectives_subtypes.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/antag_org/antag_org_datum.dm
  code/modules/antagonists/antag_org/antag_org_syndicate.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  paradise.dme
Labels: Feature, Testmerge Requested, Testmerge Active, -Status: Awaiting review, Requires Wiki Update

#26493 Farragus: Remaps Service Asteroid and Locker Room Area
  _maps/map_files/stations/cerestation.dmm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
Labels: Map Edit, -Status: Awaiting merge, Requires Wiki Update

#26646 Changes the permissions for the Door Remote of the RD, QM, Command.
  code/game/jobs/access.dm
Labels: -Status: Awaiting review

#26438 Adds map: EmeraldStation (NSS Diagoras)
  .github/workflows/ci.yml
  _maps/map_files/stations/emeraldstation.dmm
  code/game/area/ss13_areas/ai_areas.dm
  code/game/area/ss13_areas/engineering_areas.dm
  code/game/area/ss13_areas/maintenance_areas.dm
  code/game/area/ss13_areas/public_areas.dm
  code/game/area/ss13_areas/service_areas.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/plasma_geyser.dm
  code/game/objects/structures/signs.dm
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/simulated/floor/plating.dm
  code/modules/asset_cache/assets/asset_nanomap.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/awaymissions/mission_code/ruins/telecomns.dm
  code/modules/hydroponics/grown/potato.dm
  code/modules/mapping/station_datums.dm
  code/modules/paperwork/paper.dm
  icons/_nanomaps/EmeraldStation_nanomap_z1.png
  icons/obj/decals.dmi
  icons/obj/lavaland/geyser.dmi
  icons/turf/areas.dmi
  paradise.dme
  sound/voice/dvorak/diagoras1.ogg
  sound/voice/dvorak/diagoras2.ogg
  sound/voice/dvorak/diagoras3.ogg
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: Feature, Map Edit, Sound, Sprites, General Map, Testmerge Requested, Testmerge Active, -Status: Awaiting merge, Requires Wiki Update

#26708 Fixes a Misaligned Disposal Pipe for Farragus' Robotics Corpse Delivery Chute
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#26653 The cloner once again mulches people on emag or emp
  code/game/machinery/clonepod.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#26745 reflectors anchor on mapload
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/structures/reflector.dm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26661 Removes hoverboard from SOO starting inventory
  code/game/jobs/job/central.dm
Labels: Feature, Tweak, -Status: Awaiting merge

#26742 Makes chemical flamethrowers more efficient
  code/game/objects/items/weapons/chemical_flamethrower/chemical_flamethrower.dm
Labels: -Status: Awaiting merge

#26709 fix squeak component
  code/datums/components/squeak.dm
Labels: Fix, -Status: Awaiting merge

#26773 fix: cere jani closet disposal pipe
  _maps/map_files/stations/cerestation.dmm
Labels: Fix

#26767 Fixes missing Unanchored Gas Meter Item sprite
  icons/obj/pipe-item.dmi
Labels: Fix, Sprites, -Status: Awaiting type assignment

#26641 Paradise's soul removal part 7: engineering jumpsuits and accessories
  code/datums/datacore.dm
  code/modules/client/preference/character.dm
  code/modules/clothing/under/jobs/engineering_jumpsuits.dm
  icons/mob/clothing/head/beret.dmi
  icons/mob/clothing/species/drask/head/beret.dmi
  icons/mob/clothing/species/drask/under/engineering.dmi
  icons/mob/clothing/species/grey/under/engineering.dmi
  icons/mob/clothing/species/kidan/under/engineering.dmi
  icons/mob/clothing/species/vox/head/beret.dmi
  icons/mob/clothing/species/vox/under/engineering.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/engineering.dmi
  icons/obj/clothing/head/beret.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/engineering.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#26793 [s]makes you unable to to see inventory from another zlvl
  code/game/objects/items/weapons/storage/storage_base.dm
Labels: -Status: Awaiting type assignment

#26795 Fixes a runtime caused by stacks accidentally merging twice
  code/game/objects/items/stacks/stack.dm
Labels: Fix, -Status: Awaiting type assignment

#26688 Adds a message on examine of cyberimplants to indicate where they should be installed
  code/__HELPERS/unsorted.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: Tweak, -Status: Awaiting merge

#26695 Hoverboards will now get cursed if used during megafauna
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/vehicle/tg_vehicles/scooter.dm
Labels: Balance, -Status: Awaiting merge

#26651 Grey sprite tweak - HoP, QM, dignitaries
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/grey/under/cargo.dmi
  icons/mob/clothing/species/grey/under/civilian.dmi
  icons/mob/clothing/species/grey/under/procedure.dmi
Labels: Feature, Sprites, Tweak, -Status: Awaiting merge

#26728 Cerebon - Toxins Test Site Fix
  _maps/map_files/stations/metastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26725 Removes tech levels from four high risk items
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/knuckledusters.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/teleportation.dm
Labels: Tweak, -Status: Awaiting merge

#26680 Fix Request Consoles "new messages" displaying wrong
  tgui/packages/tgui/interfaces/RequestConsole.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#26798 [s] you no longer can instantly husk people as an ERT inquisitor
  code/game/objects/items/weapons/holy_weapons.dm
Labels: Fix, -Status: Awaiting type assignment

#26617 More 516 fixes and TGUI improvements
  code/modules/client/client_procs.dm
  code/modules/tgui/tgui_panel/tgui_panel_external.dm
  tgui/.yarn/releases/yarn-4.3.1.cjs
  tgui/.yarn/releases/yarn-4.4.1.cjs
  tgui/.yarnrc.yml
  tgui/package.json
  tgui/packages/common/keys.ts
  tgui/packages/common/storage.js
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui/interfaces/KeyComboModal.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
Labels: Dependencies, TGUI, -Status: Awaiting merge

#26650 [FIX] Mobs that were offered up to ghosts no longer get taken over by their old owners
  code/datums/components/defibrillator.dm
  code/datums/mind.dm
  code/game/data_huds.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/mob_misc_procs.dm
  code/modules/surgery/organs/brain.dm
Labels: Fix, -Status: Awaiting merge

#26679 [FIX] Pipes can be lit by direct clicking again
  code/game/objects/items/weapons/cigs.dm
Labels: Fix, -Status: Awaiting merge

#26683 Make Gravitational Anomalies exist above items.
  code/game/objects/effects/anomalies.dm
Labels: Feature, Tweak, -Status: Awaiting merge

#26701 [RUNTIME] Fixes trying to open the head marking menu for certain IPC heads.
  code/modules/client/preference/link_processing.dm
Labels: Fix, -Status: Awaiting review

#26732 Vaporizes NT Supreme Court
  code/game/jobs/job/supervisor.dm
Labels: Grammar and Formatting, Tweak, -Status: Awaiting review, Requires Wiki Update

#26757 Fix heat-proof doors
  code/game/machinery/doors/door.dm
Labels: Fix, -Status: Awaiting type assignment

#26772 Fixes AI's VOX system saying 'farragus' twice
  sound/vox_fem/farragus.ogg
Labels: Fix, Sound, -Status: Awaiting type assignment

#26810 [s] Fixes eswords reflecting bullets rather than just energy projectiles on parry.
  code/game/objects/items/weapons/melee/energy_melee_weapons.dm
Labels: Fix

#26811 [s] Fixes shell launch sytem not backfiring right
  code/modules/projectiles/firing.dm
Labels: -Status: Awaiting type assignment

#26753 [TWEAK] Improved cloning UI
  code/game/machinery/computer/cloning.dm
  tgui/packages/tgui/interfaces/CloningConsole.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge

#26699 refactor: ore bag pickup
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/modules/mining/ores_coins.dm
  code/modules/mining/satchel_ore_boxdm.dm
Labels: Refactor, -Status: Awaiting merge

#26535 Stat Panel font size/family settings & more TGUI-like look
  html/statbrowser.css
  html/statbrowser.html
  html/statbrowser.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/SettingsStatPanel.js
  tgui/packages/tgui-panel/settings/constants.js
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/packages/tgui-panel/styles/themes/paradise.scss
  tgui/packages/tgui-panel/styles/themes/syndicate.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
Labels: Tweak, TGUI, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#26766 Fixes saber spelling
  code/game/gamemodes/steal_items.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_lockers.dm
  code/modules/antagonists/antag_org/antag_org_syndicate.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/mob/inhands/weapons_lefthand.dmi
  icons/mob/inhands/weapons_righthand.dmi
  icons/obj/weapons/melee.dmi
Labels: Fix, Sprites, Grammar and Formatting, -Status: Awaiting merge, Requires Wiki Update

#26747 Revenants can once again flip tables
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/objects/structures/tables_racks.dm
Labels: Fix, -Status: Awaiting merge

#26770 Fixes gas grenades not going away after detonation
  code/game/objects/items/weapons/grenades/atmosgrenade.dm
Labels: Fix, -Status: Awaiting merge

#26785 cleanup: access lists.
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job/support_chaplain.dm
Labels: Code Improvement, -Status: Awaiting merge

#26790 Fix: Prevent Mech Fabricator output into the wall
  code/game/mecha/mech_fabricator.dm
Labels: -Status: Awaiting merge

#26792 fix: AI Eye movement runtimes
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Labels: Fix, -Status: Awaiting merge

#26794 the wizard voice of god no longer makes you drop your own items
  code/modules/surgery/organs/vocal_cords.dm
Labels: -Status: Awaiting merge

#26813 fix too much squeaking
  code/datums/components/squeak.dm
Labels: -Status: Awaiting merge

#26827 [FIX] Bluespace closet no longer has a random offset when printed on protolathe
  code/modules/research/rdconsole.dm
Labels: Fix, -Status: Awaiting type assignment

#26807 [FIX/CERESTATION] Adds missing railing to Cerestation security
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#26800 [FIX] Bottles created in the chemmaster now use the right chemical overlay.
  code/modules/reagents/chemistry/machinery/chem_master.dm
  icons/obj/reagentfillings.dmi
Labels: Fix, Sprites, -Status: Awaiting review

#26831 fix: Farragus disposal outlet direction
  _maps/map_files/stations/cerestation.dmm
Labels: Fix

#26829 Fixes the abductor belt having incorrect overlays
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
Labels: Fix, -Status: Awaiting type assignment

#26712 Administration tool: Build mode offer tool to quickly offer large amount of mobs.
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/modules/buildmode/submodes/offer.dm
  code/modules/mob/mob_misc_procs.dm
  icons/misc/buildmode.dmi
  paradise.dme
Labels: Feature, Sprites, Administration, -Status: Awaiting merge

#26835 Makes extended chemthrower kits available in the protolathe
  code/modules/research/designs/weapon_designs.dm
Labels: Fix

#26826 [FIX] Dead cats no longer chase mice
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: -Status: Awaiting type assignment

#26846 [FIX] Unbricks cloning
  code/game/machinery/computer/cloning.dm
Labels: Fix

#26853 [FIX/RUNTIME] Offering a body with no mind to ghosts no longer runtimes
  code/modules/mob/mob_misc_procs.dm
Labels: Fix

#26565 Makes Indestructible Titanium Walls Into an Indestructible Wall Subtype
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_mineral.dm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26815 [FIX] Now properly remove/add machines to the RNC console when (un)linked
  code/game/mecha/mech_fabricator.dm
  code/modules/research/rdconsole.dm
Labels: Fix, -Status: Awaiting review

#26858 modsuit magboots save you from singulo hammer
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix, -Status: Awaiting type assignment

#26863 Adds Procedure Radio as a Chat Selector
  tgui/packages/tgui-panel/chat/constants.js
  tgui/public/tgui-panel.bundle.js
Labels: Fix

#26799 removes the energy shield module from dvorak as promised, gives a portal gun instead
  code/modules/awaymissions/mission_code/ruins/telecomns.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#26735 Makes nest ghosting clearer
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
Labels: Tweak, -Status: Awaiting merge

#26865 [Fix] GC issue of multi-tile airlocks
  code/game/machinery/doors/airlock_types.dm
Labels: Fix, -Status: Awaiting merge

#26862 [FIX] Tourist not rolling traitor
  code/game/gamemodes/miniantags/tourist/tourist_arrivals.dm
Labels: Fix, -Status: Awaiting merge

#26848 [FIX] You can no longer put your cyborg gripper in a display case
  code/game/objects/items/robot/cyborg_gripper.dm
  code/modules/mob/living/silicon/robot/robot_inventory.dm
Labels: Fix, -Status: Awaiting merge

#26845 [FIX] Cargo console entry for critter crates now show their contents
  code/modules/supply/supply_packs/pack_organic.dm
Labels: Fix, -Status: Awaiting review

#26783 Disable encoding for tcomms filter input
  code/game/machinery/tcomms/tcomms_core.dm
Labels: Fix, -Status: Awaiting merge

#26660 Kidan Resprite (CLOTHES NOT INCLUDED)
  icons/mob/clothing/masking_helpers.dmi
  icons/mob/human_face.dmi
  icons/mob/human_races/r_kidan.dmi
  icons/mob/sprite_accessories/kidan/kidan_body_markings.dmi
  icons/mob/sprite_accessories/kidan/kidan_hair.dmi
  icons/mob/sprite_accessories/kidan/kidan_head_accessories.dmi
  icons/mob/sprite_accessories/kidan/kidan_head_markings.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#26623 Port DmIcon & Image components from TG
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/non_firing/SSassets.dm
  code/controllers/subsystem/non_firing/SSearly_assets.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/stack_recipe.dm
  code/modules/arcade/prize_counter.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/assets/asset_icon_ref_map.dm
  code/modules/asset_cache/assets/asset_prize_counter.dm
  code/modules/tgui/tgui_datum.dm
  paradise.dme
  tgui/docs/component-reference.md
  tgui/global.d.ts
  tgui/packages/tgui/components/DmIcon.tsx
  tgui/packages/tgui/components/Image.tsx
  tgui/packages/tgui/components/ImageButton.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/http.ts
  tgui/packages/tgui/icons.ts
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/PrizeCounter.tsx
  tgui/packages/tgui/interfaces/StackCraft.js
  tgui/packages/tgui/styles/components/ImageButton.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
Labels: TGUI, -Status: Awaiting merge

#26671 Paradise's soul removal part 7.25: firesuits, radsuits, workboots and all magboots
  code/game/objects/structures/crates_lockers/closets/secure/engineering_lockers.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/utility.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/head/utility.dmi
  icons/mob/clothing/species/drask/head/utility.dmi
  icons/mob/clothing/species/drask/shoes.dmi
  icons/mob/clothing/species/drask/suits/utility.dmi
  icons/mob/clothing/species/grey/head/utility.dmi
  icons/mob/clothing/species/grey/suits/utility.dmi
  icons/mob/clothing/species/kidan/head/utility.dmi
  icons/mob/clothing/species/kidan/suits/utility.dmi
  icons/mob/clothing/species/tajaran/head/utility.dmi
  icons/mob/clothing/species/tajaran/suits/utility.dmi
  icons/mob/clothing/species/unathi/head/utility.dmi
  icons/mob/clothing/species/unathi/suits/utility.dmi
  icons/mob/clothing/species/vox/head/utility.dmi
  icons/mob/clothing/species/vox/shoes.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vox/suits/utility.dmi
  icons/mob/clothing/species/vulpkanin/head/utility.dmi
  icons/mob/clothing/species/vulpkanin/suits/utility.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/suits/utility.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/head/utility.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/suits/utility.dmi
Labels: Sprites, Tweak, -Status: Awaiting review, Requires Wiki Update

#26786 mapping: separate cargo warehouses and break rooms.
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, Refactor, -Status: Awaiting merge

#26776 Adds the firefighting module to the Advanced MODsuit
  code/modules/mod/mod_types.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#26816 [TWEAK/BALANCE] Destroyed monkey cube box now destroys monkey cubes inside
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#26859 fix: only blackbox maintloot spawners
  code/game/objects/effects/spawners/random/engineering_spawners.dm
  code/game/objects/effects/spawners/random/food_spawners.dm
  code/game/objects/effects/spawners/random/maint_loot_spawners.dm
  code/game/objects/effects/spawners/random/misc_spawners.dm
  code/game/objects/effects/spawners/random/random_spawner.dm
  code/game/objects/effects/spawners/random/trash_spawners.dm
Labels: Fix, -Status: Awaiting merge

#26861 refactor: syndie depot spawners and icons.
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiedepot.dmm
  code/game/objects/effects/spawners/depot_spawners.dm
  code/game/objects/effects/spiders.dm
  code/modules/awaymissions/mission_code/ruins/deepstorage.dm
  icons/effects/random_spawners.dmi
  icons/effects/spawner_icons.dmi
  tools/UpdatePaths/Scripts/26861_syndie_depot_spawners.txt
Labels: Map Edit, Refactor, Sprites, -Status: Awaiting merge

#26871 Successfully making a terminal for a SMES no longer leaves it broken
  code/modules/power/smes.dm
Labels: Fix, -Status: Awaiting merge

#26771 Stops hemo claws runtiming on xenos, makes them become stronger
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
Labels: Balance, -Status: Awaiting merge

#26789 fix: Increase radius of singulo movement target.
  code/modules/power/engines/singularity/singularity.dm
Labels: Fix, -Status: Awaiting review

#26838 Fixes #26522 | Wheelchairs with bots are now dense
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: Fix, -Status: Awaiting merge

#26825 [FIX] You can now map in flipped tables
  code/game/objects/structures/tables_racks.dm
Labels: -Status: Awaiting merge

#26892 Protects living damage variables
  code/datums/components/riding/riding_vehicle.dm
  code/datums/status_effects/buffs.dm
  code/game/machinery/clonepod.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living_defines.dm
Labels: Code Improvement, -Status: Awaiting type assignment

#26734 Fixes Cigarette Act `attackby()` handling.
  code/game/objects/items.dm
Labels: Stale, -Status: Awaiting merge

#25884 Fixes problems with multiple sources of alpha on humans
  code/__DEFINES/misc_defines.dm
  code/game/dna/mutations/mutation_powers.dm
  code/game/objects/structures/flora.dm
  code/modules/antagonists/changeling/powers/environmental_adaption.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/mob.dm
  code/modules/mod/modules/modules_antag.dm
Labels: Fix, -Status: Awaiting review

#26842 Ant Popsicle Now Drops Proper Trash when Eaten
  code/modules/food_and_drinks/food/foods/frozen.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#26872 Fix: byond tracy init
  code/__DEFINES/__proc_refs.dm
  code/_compile_options.dm
  paradise.dme
  tools/ci/check_grep2.py
Labels: -Status: Awaiting merge

#26880 Gives all status effects an ID
  code/datums/status_effects/blob_burst.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/neutral.dm
  code/datums/status_effects/status_effect.dm
  code/modules/projectiles/guns/chaos_bolt.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/status_effect_ids.dm
Labels: -Status: Awaiting review

#26729 Updates OD lints
  code/__HELPERS/paths/path.dm
  code/datums/components/orbiter.dm
  code/datums/spells/mind_transfer.dm
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/structures/safe.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/surgery/abstract_steps.dm
  tools/ci/lints.dm
Labels: Infrastructure, -Status: Awaiting merge

#26645 blackbox: Add accumulating feedback types for numeric and text values.
  SQL/paradise_schema.sql
  SQL/updates/59-60.sql
  code/__DEFINES/misc_defines.dm
  code/controllers/subsystem/SSblackbox.dm
  config/example/config.toml
  docs/references/feedback_data.md
Labels: SQL Change, Configuration Change, -Status: Awaiting merge

#26886 Non fulltile windows don't get blood on them, spacecleaner cleans blood more reliably
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/modules/reagents/chemistry/reagents/water.dm
Labels: Fix, -Status: Awaiting merge

#26922 fixes surgery again please fuck
  code/modules/surgery/organs_internal.dm
Labels: -Status: Awaiting type assignment

#26902 [FIX] Apex predator can no longer target yourself
  code/modules/antagonists/changeling/powers/apex_predator.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
Labels: Fix, -Status: Awaiting merge

#26933 Fixes some logic in the vampire+changeling gamemode
  code/game/gamemodes/vampire/vampire_chan.dm
Labels: Fix, -Status: Awaiting type assignment

#26915 Adds me to CONTRIBUTING.md review team
  docs/CONTRIBUTING.md
Labels: -Status: Awaiting type assignment
