Repository ParadiseSS13/Paradise, pull requests merged in 2024-05, with the labels that each got.

#24986 More Crowbar Acts
  code/__HELPERS/tool_helpers.dm
  code/game/atoms.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/mass_driver.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/devices/geiger_counter.dm
  code/game/objects/items/tools/tool_behaviour.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/kitchen_spike.dm
  code/game/objects/structures/railings.dm
  code/modules/arcade/prize_counter.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/satchel_ore_boxdm.dm
  code/modules/mob/living/silicon/robot/drone/maint_drone.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/power/engines/singularity/collector.dm
  code/modules/power/generators/portable generators/pacman.dm
  code/modules/power/generators/solar.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  code/modules/research/server.dm
Labels: Refactor, -Status: Awaiting merge

#25179 Reduce the chance of getting no changes to a stat when mutating plants.
  code/modules/hydroponics/seeds.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#25204 BUFF: Mining Grenade launcher
  code/game/mecha/equipment/weapons/weapons.dm
  code/modules/mining/machine_vending.dm
  icons/mecha/mecha_equipment.dmi
Labels: Sprites, Balance, Tweak, -Status: Awaiting merge, Requires Wiki Update

#25206 Qol + fix for mecha
  code/game/mecha/combat/marauder.dm
  code/game/mecha/mecha.dm
  code/game/mecha/working/ripley.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#25003 Removes a variable that is only set once
  code/game/atoms.dm
  code/modules/awaymissions/maploader/writer.dm
  code/modules/mob/mob_vars.dm
Labels: Code Improvement, -Status: Awaiting merge

#25318 fix shield generators on zlvl change
  code/game/machinery/shieldgen.dm
Labels: Fix, -Status: Awaiting merge

#25319 Changes incorporeal_move to defines
  code/__DEFINES/mob_defines.dm
  code/game/gamemodes/miniantags/guardian/types/ranged.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/mob_movement.dm
Labels: Refactor, -Status: Awaiting merge

#25322 gives lavaland plants 50 potency
  code/modules/mining/lavaland/ash_flora.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#25310 modsuits have the same virus protection as space suits / biosuits
  code/modules/mod/mod_clothes.dm
Labels: Fix, -Status: Awaiting merge

#25273 Remove tgui say error
  code/modules/tgui_input/say_modal/tgui_say_modal.dm
  tgui/packages/tgui-say/index.tsx
  tgui/public/tgui-say.bundle.js
Labels: TGUI, -Status: Awaiting merge

#25254 [s] Gives contractees 1u of mutadone upon entering the prison
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
Labels: Fix, -Status: Awaiting merge

#25269 ion scatter gets 2 more pellets and 5 degrees more spread
  code/game/mecha/equipment/weapons/weapons.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#25305 Adds logging for thrall deconversions
  code/modules/antagonists/vampire/vamp_thrall.dm
Labels: -Status: Awaiting merge, Logging

#25327 Grant TRAIT_NOFIRE while cloning
  code/game/machinery/clonepod.dm
Labels: Fix, -Status: Awaiting merge

#25184 Adds MARK: to some comments
  code/game/dna/mutations/disabilities.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Code Improvement, -Status: Awaiting merge

#25302 Renames most processing SS' to the convention of `SS[SS name here]`
  code/controllers/subsystem/processing/SSdcs.dm
  code/controllers/subsystem/processing/SSfastprocess.dm
  code/controllers/subsystem/processing/SSfields.dm
  code/controllers/subsystem/processing/SSinstruments.dm
  code/controllers/subsystem/processing/SSobj.dm
  code/controllers/subsystem/processing/SSobj_tab_items.dm
  code/controllers/subsystem/processing/SSprocessing.dm
  code/controllers/subsystem/processing/SSprojectiles.dm
  code/controllers/subsystem/processing/SStransittubes.dm
  code/controllers/subsystem/tickets/SSmentor_tickets.dm
  code/controllers/subsystem/tickets/SStickets.dm
  paradise.dme
Labels: -Status: Awaiting merge

#25275 [FIX] Cyborgs With Guns Can Now Perform Executions (With Guns!).
  code/modules/projectiles/gun.dm
Labels: Fix, -Status: Awaiting merge

#25287 The Gibber Now Drops 6 Meat Instead of 3 When Gibbing.
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
Labels: Tweak, -Status: Awaiting merge

#24786 Makes tesla movement pretty
  code/modules/mob/living/living.dm
  code/modules/power/engines/tesla/energy_ball.dm
Labels: Tweak, -Status: Awaiting merge

#25019 Filter not filtering
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
Labels: Tweak, -Status: Awaiting review

#25341 Fixes a bug with admin keybinds occasionally not working
  code/datums/keybindings/admin_keybinds.dm
Labels: Fix, -Status: Awaiting type assignment

#25253 Moving pulled objects as a borg checks if the turf is adjacent to you.
  code/modules/mob/mob_movement.dm
Labels: Fix, -Status: Awaiting merge

#25248 Don't walk without gravity while being space drugged
  code/modules/reagents/chemistry/reagents/drugs.dm
Labels: Fix, -Status: Awaiting review

#25070 Tweak recipes of glasses
  code/modules/crafting/tailoring.dm
Labels: Tweak, -Status: Awaiting review

#25094 Allow borgs to use holopads
  code/game/machinery/hologram.dm
Labels: Tweak, -Status: Awaiting review

#25255 Sanitize empty values in `file2list()`
  code/__HELPERS/type2type.dm
Labels: -Status: Awaiting merge

#25170 Secondary goals will now refuse to generate if messaging is offline.
  code/game/machinery/requests_console.dm
Labels: Tweak, -Status: Awaiting merge

#24685 Improves barsigns and makes them buildable.
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  _maps/map_files/templates/biodome_beach.dmm
  code/__HELPERS/unsorted.dm
  code/datums/spells/mimic.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/barsign.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/supply/supply_packs/pack_organic.dm
  icons/obj/barsigns.dmi
Labels: Map Edit, Sprites, MetaStation, BoxStation, Tweak, DeltaStation, -Status: Awaiting merge, Requires Wiki Update, CereStation

#25314 Beret + softcap .dmi split
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/metastation.dmm
  code/datums/outfits/outfit_admin.dm
  code/game/machinery/vendors/wardrobe_vendors.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weapons/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo_lockers.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/clothing/head/beret.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/job_hats.dm
  code/modules/clothing/head/misc_hats.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/spacesuits/misc_spacesuits.dm
  code/modules/customitems/item_defines.dm
  code/modules/martial_arts/mimejutsu.dm
  code/modules/supply/supply_packs/pack_security.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/head/beret.dmi
  icons/mob/clothing/head/softcap.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/head/beret.dmi
  icons/mob/clothing/species/drask/head/softcap.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/head/softcap.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/head/beret.dmi
  icons/mob/clothing/species/vox/head/softcap.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/head/beret.dmi
  icons/obj/clothing/head/softcap.dmi
  paradise.dme
Labels: Map Edit, Refactor, Sprites, -Status: Awaiting merge

#24790 Mining charges, second try!
  code/datums/uplink_items/uplink_traitor.dm
  code/game/objects/items/weapons/explosives.dm
  code/modules/mining/equipment/mining_charges.dm
  code/modules/mining/machine_vending.dm
  code/modules/research/designs/mining_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/mining.dmi
  paradise.dme
  sound/items/detonator.ogg
Labels: Feature, Sound, Sprites, Port, -Status: Awaiting merge, Requires Wiki Update, Requires Space Law Update

#25340 Upgrades TGS build script to actually build RUSTG
  .tgs.yml
  tools/tgs_scripts/PreCompile.sh
Labels: Infrastructure, -Status: Awaiting review

#25331 Autodocs robot_mob.dm. Removes an unused proc.
  code/modules/mob/living/silicon/robot/robot_life.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
Labels: Code Improvement, -Status: Awaiting merge

#25308 Timer log now includes the function called
  code/controllers/subsystem/SStimer.dm
Labels: -Status: Awaiting merge

#25225 Adds 2 hand keybinds for right and left hands
  code/__DEFINES/clothing_defines.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/keybindings/mob_keybinds.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_vars.dm
Labels: Feature, -Status: Awaiting review

#25351 Makes mentor PMs show up as mentor PMs again
  code/modules/admin/verbs/adminpm.dm
Labels: Fix

#25342 Bureaucracy resprite
  icons/obj/bureaucracy.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#25098 Add a public mode to holopads
  code/game/machinery/hologram.dm
Labels: Feature, -Status: Awaiting merge

#25191 Makes the Supermatter Announcements More Noticeable.
  code/modules/hallucinations/effects/moderate.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/power/engines/supermatter/supermatter_event.dm
Labels: Tweak, -Status: Awaiting merge

#25356 Fixes a very old singularity bug
  code/modules/power/engines/singularity/singularity.dm
Labels: Fix, -Status: Awaiting review

#25326 File cleanup for autotraitor.dm
  code/game/gamemodes/autotraitor/autotraitor.dm
Labels: Refactor, -Status: Awaiting merge

#25316 Vetus Speculator now tell you what type he is
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
Labels: Tweak, -Status: Awaiting merge

#25358 Fixes being unable to move objects out of your way when stuck.
  code/modules/mob/mob_movement.dm
Labels: Fix, -Status: Awaiting type assignment

#25323 Adds an admin message and logging for 'Crew Traitor' smite
  code/modules/admin/topic.dm
Labels: Administration, -Status: Awaiting merge, Logging

#25366 Un-doubles double negative var in uplink_item
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_nuclear.dm
  code/datums/uplink_items/uplink_special.dm
  code/datums/uplink_items/uplink_traitor.dm
Labels: Refactor, -Status: Awaiting type assignment

#24533 /tg/ui Virology PanD.E.M.I.C 2200 (PanDEMIC)
  code/controllers/subsystem/SStgui.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/interfaces/PanDEMIC.tsx
  tgui/packages/tgui/styles/interfaces/PanDEMIC.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Feature, TGUI, -Status: Awaiting merge

#24659 Add "docking area signaller", a device for creating new white ship docks
  code/modules/shuttle/dock_generator.dm
  paradise.dme
Labels: Feature, -Status: Awaiting merge

#25062 RCD refactor
  code/game/objects/items/weapons/RCD.dm
Labels: Refactor, -Status: Awaiting merge

#24360 You can no longer see hud / screen when asleep. DOESN'T AFFECT BLINDNESS
  code/__DEFINES/hud_locations.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/hud_datum.dm
  code/_onclick/hud/human_hud.dm
  code/_onclick/hud/other_mobs_hud.dm
  code/_onclick/hud/plane_master.dm
  code/_onclick/hud/robot_hud.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/safe.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_update_icons.dm
  code/modules/mob/living/carbon/carbon_life.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_status.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_life.dm
  code/modules/mob/living/living_update_status.dm
  code/modules/mob/living/silicon/silicon_mob.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/slime/slime_mob.dm
  code/modules/mob/living/stat_states.dm
  code/modules/mob/mob.dm
  code/modules/mod/modules/module_kinesis.dm
  code/modules/recycling/disposal.dm
  icons/mob/screen_sleeping.dmi
  icons/mob/screen_tight.dmi
Labels: Sprites, Tweak, Testmerge Requested, -Status: Awaiting merge

#25384 Makes !merge_upstream rebuild TGUI properly if needed
  .github/workflows/merge_upstream_master.yml
Labels: -Status: Awaiting type assignment

#25383 Made RCD code more efficient.
  code/game/objects/items/weapons/RCD.dm
Labels: Fix, -Status: Awaiting merge

#25386 Github workflow for building MILLA
  .github/workflows/build_milla.yml
Labels: -Status: Awaiting type assignment

#25390 fixes sleepblind not being cleared if you are blind from othermeans
  code/modules/mob/living/living_update_status.dm
  code/modules/mob/living/stat_states.dm
Labels: Fix

#25392 Replace librust_g.so with milla.dll in CODEOWNERS
  .github/CODEOWNERS
Labels: -Status: Awaiting type assignment

#25391 Fix the workflows failing every comment
  .github/workflows/merge_upstream_master.yml
Labels: Fix, -Status: Awaiting type assignment

#25171 Admin secondary goal modifications will now unregister when deleting/completing.
  code/modules/station_goals/secondary/secondary_goal.dm
  code/modules/station_goals/secondary/secondary_goal_tracker.dm
Labels: Fix, -Status: Awaiting merge

#25334 Fixing bots detaining mode
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix, -Status: Awaiting merge

#25226 Adds CI for SQL versions
  .github/workflows/ci.yml
  tools/ci/verify_sql_version.py
Labels: Code Improvement, -Status: Awaiting merge

#25382 Fixes malf janiborg mines
  code/game/objects/items/weapons/caution.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix, -Status: Awaiting merge

#25389 fixes hecksuit
  code/modules/mining/equipment/explorer_gear.dm
Labels: Fix, -Status: Awaiting type assignment

#25117 Don't html-ize high rank admins in Discord.
  code/__HELPERS/_logging.dm
  code/__HELPERS/text.dm
  code/controllers/subsystem/tickets/SStickets.dm
  code/datums/discord/discord_manager.dm
  code/defines/procs/announcer_datum.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/message_monitor.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/assembly/voice.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/living_say.dm
  code/modules/paperwork/paper.dm
Labels: Fix, Administration, -Status: Awaiting merge, Logging

#24548 Chasmland labour camp is now escapable
  _maps/map_files/generic/Lavaland.dmm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#25172 Update Secondary Goals to accept reagents in fermenting barrels, etc..
  code/modules/shuttle/supply.dm
  code/modules/station_goals/secondary/random_bulk_reagent.dm
  code/modules/station_goals/secondary/science/random_ripley.dm
  code/modules/station_goals/secondary/secondary_goal_tracker.dm
  code/modules/station_goals/secondary/variety_reagent.dm
Labels: Tweak, -Status: Awaiting merge

#25193 Fix grammar error in both nuke codes text announcement and voice announcement
  code/game/machinery/computer/communications.dm
  sound/AI/nuke_codes.ogg
Labels: Sound, Tweak, -Status: Awaiting merge

#25218 Adds CI to remove duplicate definitions
  .github/workflows/ci.yml
  code/game/area/areas/ruins/lavaland_areas.dm
  code/modules/client/preference/preferences_toggles.dm
  tools/ci/no_duplicate_definitions.py
Labels: Code Improvement, -Status: Awaiting merge

#25230 Renames Kabobs to Kebabs. Fixes Kebab-Related Issues. Expands Kebab Production Methods.
  code/modules/food_and_drinks/food/foods/ethnic.dm
  code/modules/food_and_drinks/recipes/recipes_grill.dm
Labels: Sprites, Tweak, -Status: Awaiting merge, Requires Wiki Update

#25238 Splits Up Chameleon Kit
  code/datums/uplink_items/uplink_nuclear.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/antagonists/traitor/contractor/items/contractor_kit.dm
  code/modules/clothing/chameleon.dm
Labels: Balance, Tweak, -Status: Awaiting merge, Requires Wiki Update

#25258 Tweak: Converting into cult also purge all holy water from body
  code/game/gamemodes/cult/runes.dm
Labels: Tweak, -Status: Awaiting merge

#25156 Removes blobs from the ticker if the core is destroyed, truncates tally text
  code/controllers/subsystem/SSticker.dm
  code/modules/events/blob/blob_structures/blob_core.dm
Labels: Fix, -Status: Awaiting merge

#25406 Tidy workflow oversights
  .github/workflows/build_milla.yml
  .github/workflows/merge_upstream_master.yml
Labels: -Status: Awaiting type assignment

#25403 Botanists are no longer Gardeners and made Chemist matter in the Fungal Growth event.
  code/modules/events/event_container.dm
  code/modules/events/event_procs.dm
Labels: Fix, -Status: Awaiting type assignment

#25288 Removes toddler dolls because it's just a bad idea
  code/game/objects/items/toys.dm
  code/modules/economy/merch_items.dm
  icons/obj/items.dmi
Labels: Revert/Feature Removal, Sprites, -Status: Awaiting merge, Requires Wiki Update

#25343 Magmawings, Icewings and Ancient Goliaths are now (almost) guaranteed to drop their kinetic crusher trophies if you kill them using one.
  code/modules/mob/living/simple_animal/hostile/mining/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining/goliath.dm
Labels: Balance, -Status: Awaiting merge

#25364 Stock parts resprite
  icons/obj/stock_parts.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#25373 Succesful heist (money resprite)
  code/game/objects/items/weapons/cash.dm
  icons/goonstation/objects/money.dmi
  icons/obj/money.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge, Requires Wiki Update

#25368 Fixes vampires ending up with negative blood
  code/datums/spell_handler/vampire.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
  code/modules/antagonists/vampire/vampire_powers/umbrae_powers.dm
Labels: Fix, -Status: Awaiting merge

#25435 Makes bullet debris not come from disablers
  code/datums/components/debris.dm
Labels: Fix, -Status: Awaiting type assignment

#25438 fixes particle holders not naturally gcing
  code/game/objects/effects/effects.dm
Labels: Fix, GC Related

#25355 removes clingspiders from gold core spawns
  code/modules/antagonists/changeling/powers/summon_spiders.dm
Labels: Tweak, -Status: Awaiting merge

#25320 Adds a bone tumor specific to slime people
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/surgery/organs/bone_tumor.dm
Labels: Tweak, -Status: Awaiting review

#25365 fixes some locate checks being in world
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/events/blob/overmind.dm
Labels: Performance, Tweak, -Status: Awaiting review

#25379 c4 can now be used on all mobs when unconscious or dead
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/items/weapons/explosives.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#25344 Adds some new OOC emoji
  icons/ui_icons/emoji.dmi
Labels: Sprites, -Status: Awaiting merge

#25333 Gives all the marauder mechs a bluespace cell, since they're CC mechs and all.
  code/game/mecha/combat/marauder.dm
Labels: Balance, -Status: Awaiting merge

#25330 Moves pre-round observers to the wizden
  _maps/map_files/generic/centcomm.dmm
  code/_globalvars/mapping_vars.dm
  code/game/objects/effects/landmarks.dm
  code/modules/mob/new_player/new_player.dm
Labels: Feature, Map Edit, -Status: Awaiting review

#25315 Botany light sourses can now be turned off
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/hydroponics_tray.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#25304 Remove EMP spellbook from random pool
  code/game/gamemodes/wizard/spellbook.dm
Labels: Balance, -Status: Awaiting merge

#25332 added announcements for Trader Event
  code/modules/events/traders.dm
  sound/AI/traderdeny.ogg
  sound/AI/tradergranted.ogg
Labels: Sound, -Status: Awaiting merge

#25376 trader shuttle gets shuttle windows inside
  _maps/map_files/generic/centcomm.dmm
Labels: Map Edit, -Status: Awaiting merge

#25354 ghost bar members are now cleared more hastily
  code/modules/ruins/ghost_bar.dm
Labels: Fix, -Status: Awaiting merge

#25188 Made turf contents listing more performant.
  code/__HELPERS/iconprocs.dm
  code/controllers/subsystem/SSstatpanel.dm
  code/modules/client/client_procs.dm
  html/statbrowser.css
  html/statbrowser.js
Labels: Fix, Performance, -Status: Awaiting merge

#25335 [FIX] Turn off autopatrol when an area is assigned
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Fix, -Status: Awaiting merge

#25312 makes the profiler more accessible
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
  interface/skin.dmf
Labels: -Status: Awaiting merge

#25378 makes flash range on explosives actually do something
  code/game/objects/explosion.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#24288 Ports the scope component from TG and new scope eyes
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/mob_defines.dm
  code/__DEFINES/zoom.dm
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/action.dm
  code/datums/components/scope.dm
  code/datums/status_effects/neutral.dm
  code/datums/uplink_items/uplink_general.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/guns/rocket.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/organs/eyes.dm
  icons/mob/screen_scope.dmi
  paradise.dme
  sound/weapons/scope.ogg
Labels: Feature, Sound, Sprites, Port, -Status: Awaiting merge

#25417 Removes Nanomob
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__DEFINES/nanomob_defines.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/SSnano_mob_hunter.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/vendors/generic_vendors.dm
  code/game/objects/effects/landmarks.dm
  code/modules/arcade/mob_hunt/battle_computer.dm
  code/modules/arcade/mob_hunt/mob_avatar.dm
  code/modules/arcade/mob_hunt/mob_cards.dm
  code/modules/arcade/mob_hunt/mob_datums.dm
  code/modules/arcade/mob_hunt/mob_type_datums.dm
  code/modules/arcade/prize_datums.dm
  code/modules/asset_cache/assets/asset_mob_hunt.dm
  code/modules/client/preference/loadout/loadout_general.dm
  code/modules/economy/merch_items.dm
  code/modules/pda/PDA.dm
  code/modules/pda/cart.dm
  code/modules/pda/mob_hunt_game_app.dm
  code/modules/pda/pda_tgui.dm
  icons/effects/mob_hunt.dmi
  icons/obj/computer.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/CommunicationsComputer.js
  tgui/packages/tgui/interfaces/pda/pda_mob_hunt.js
  tgui/public/tgui.bundle.js
Labels: Map Edit, Revert/Feature Removal, Sprites, MetaStation, BoxStation, TGUI, -Status: Awaiting merge, Requires Wiki Update, CereStation

#25352 Adds the Nuclear training bomb, second try
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__DEFINES/wires_defines.dm
  code/_globalvars/lists/objects.dm
  code/datums/wires/nuclearbomb_wires.dm
  code/datums/wires/wires.dm
  code/game/area/ss13_areas/security_areas.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/gamemodes/steal_items.dm
  code/modules/paperwork/paper.dm
  code/modules/research/designs/misc_designs.dm
  icons/obj/module.dmi
  icons/obj/nuclearbomb.dmi
  icons/turf/areas.dmi
Labels: Feature, Map Edit, Sprites, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, Requires Wiki Update, CereStation

#25423 Allows atmosians into the emitter room
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, MetaStation, BoxStation, Tweak, -Status: Awaiting merge, CereStation

#25452 Fixes a few issues with the PanDEMIC
  code/modules/reagents/chemistry/machinery/pandemic.dm
  tgui/packages/tgui/interfaces/PanDEMIC.tsx
  tgui/public/tgui.bundle.js
Labels: Fix, Refactor, TGUI, -Status: Awaiting type assignment

#25357 adds planet ruin: crashed passenger shuttle
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_shuttlecrash.dmm
  code/datums/ruins/lavaland.dm
  config/example/config.toml
Labels: Map Edit, Configuration Change, -Status: Awaiting merge

#25486 Reverse Wheel of Fortune tarot card now no longer spawns wallmeds or Donksoft vendors
  code/game/gamemodes/wizard/magic_tarot.dm
Labels: -Status: Awaiting type assignment

#25434 Removes two unused damage defines
  code/__DEFINES/combat_defines.dm
Labels: Refactor, -Status: Awaiting merge

#25309 Enable runechat for grey psionic speech
  code/modules/mob/language.dm
Labels: Tweak, -Status: Awaiting merge

#24837 [TGUI] AI Bot Access
  code/__DEFINES/bots.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/silicon/ai/ai_verbs/botcall.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  paradise.dme
  tgui/packages/tgui/interfaces/BotCall.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge

#24806 Adds the Lance emergency shuttle
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/emergency_lance.dmm
  code/controllers/subsystem/SSshuttles.dm
  code/datums/shuttles.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/effects/decals/turfdecals/markings.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/lance_docking_targeter.dm
  code/modules/shuttle/ripple.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttle_manipulator.dm
  code/modules/supply/supply_packs/pack_shuttle.dm
  icons/obj/3x3.dmi
  icons/turf/decals.dmi
  paradise.dme
Labels: Feature, Map Edit, Sprites, -Status: Awaiting merge, Requires Wiki Update

#25307 Click cooldown modifiers affect full auto component the same as every other gun
  code/datums/components/fullauto.dm
Labels: Tweak, -Status: Awaiting merge

#25447 Removes a file we forgot about
  _maps/map_files/RandomZLevels/beach.dmm
Labels: Map Edit, Code Improvement, -Status: Awaiting type assignment

#25454 Adds additional logging for Uplink purchases
  code/datums/uplink_items/uplink_general.dm
Labels: Administration, -Status: Awaiting type assignment, Logging

#25453 [FIX] Glorious Communist Walls of USSP Station Now Fully Repel Capitalist Pigs!
  code/game/turfs/simulated/walls_mineral.dm
Labels: Fix, -Status: Awaiting merge

#25405 Updates surgical tool descriptions
  code/modules/surgery/tools.dm
Labels: Tweak, -Status: Awaiting merge

#25497 lets admins see inside mod storage again
  code/modules/mob/living/living.dm
Labels: Fix

#25461 Tarot statue time fix, no longer can emote or pda as a statue
  code/game/objects/structures/crates_lockers/closets/statue.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#25445 Infrared emitter lasers no longer float off into space. Fixes #25317
  code/game/atoms_movable.dm
  code/modules/assembly/infrared.dm
Labels: Fix, -Status: Awaiting merge

#25338 Proto-Kinetic Accelerator and Kinetic Crusher examine text update
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#25428 Updates tips.
  strings/sillytips.txt
  strings/tips.txt
Labels: Feature, -Status: Awaiting merge

#25422 Adds blackbox tracking for purchasing Changeling abilities
  code/modules/antagonists/changeling/evolution_menu.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/shriek.dm
Labels: -Status: Awaiting review, Logging

#25057 Adds Abductor Janitorial Tools!
  _maps/map_files/generic/centcomm.dmm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/abduction/abduction_outfits.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/research/designs/janitorial_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_arms.dm
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
  icons/mob/inhands/weapons_lefthand.dmi
  icons/mob/inhands/weapons_righthand.dmi
  icons/obj/abductor.dmi
Labels: Feature, Map Edit, Sprites, -Status: Awaiting merge, Requires Wiki Update

#25249 Adjusts grinder behaviour and towercap log contents
  code/modules/hydroponics/grown/towercap.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Tweak, -Status: Awaiting merge

#25424 Adds a rod smite
  code/modules/admin/topic.dm
  code/modules/events/immovable_rod.dm
Labels: Administration, -Status: Awaiting merge

#25420 Gives singularity engines a slight nudge towards the station
  code/modules/power/engines/singularity/singularity.dm
  code/modules/power/engines/tesla/energy_ball.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#25350 tube stations can be skipped by holding direction key
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/structures/transit_tubes/station.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
Labels: Map Edit, MetaStation, BoxStation, Tweak, DeltaStation, -Status: Awaiting merge

#25372 Nuclear war check now checks for living crew instead of connected people
  code/game/gamemodes/nuclear/nuclear_challenge.dm
Labels: Tweak, -Status: Awaiting merge

#25395 Refactors outfits to work with mind initialization
  code/__DEFINES/dcs/signals.dm
  code/datums/mind.dm
  code/datums/outfits/outfit.dm
  code/datums/outfits/outfit_admin.dm
  code/game/dna/mutations/monkey_mutation.dm
  code/game/jobs/job/central.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job/support_chaplain.dm
  code/game/jobs/job/syndicate_jobs.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/ruins/syndicate_space_base.dm
Labels: Fix, -Status: Awaiting merge

#25502 [S] Fixes an exploit
  code/game/objects/mail.dm
Labels: -Status: Awaiting type assignment

#24596 Refactors borg grippers, service now has a specialized gripper.
  code/game/objects/items/robot/cyborg_gripper.dm
  code/game/turfs/simulated/walls.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/robot_inventory.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/surgery/surgery.dm
  paradise.dme
Labels: Feature, Refactor, -Status: Awaiting merge

#24701 Less scuffed Tajaran veils
  code/__DEFINES/misc_defines.dm
  code/datums/wires/wires.dm
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hudglasses.dm
  code/modules/clothing/glasses/tajblind.dm
  code/modules/crafting/tailoring.dm
  paradise.dme
Labels: Balance, Tweak, -Status: Awaiting merge, Requires Wiki Update

#25231 FEAT: Two new attachable armor for Ripley
  code/__DEFINES/mecha_hides.dm
  code/game/data_huds.dm
  code/game/mecha/working/ripley.dm
  code/game/mecha/working/working.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mecha/mecha.dmi
  icons/mecha/mecha_equipment.dmi
  paradise.dme
Labels: Feature, Sprites, Balance, Stale, Tweak, -Status: Awaiting review, Requires Wiki Update

#25155 Adds a global spores limit to blob factories
  code/modules/events/blob/blob_mobs.dm
  code/modules/events/blob/blob_structures/factory.dm
Labels: Balance, -Status: Awaiting merge

#25173 Add Variety of Food secondary goal, small tweaks.
  code/__DEFINES/food_defines.dm
  code/__DEFINES/reagents_defines.dm
  code/controllers/subsystem/SSeconomy.dm
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  code/modules/food_and_drinks/food/foods/bread.dm
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/food_and_drinks/food/foods/frozen.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/food/foods/misc_food.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
  code/modules/food_and_drinks/food/foods/sandwiches.dm
  code/modules/food_and_drinks/food/foods/seafood.dm
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/food_base.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/shuttle/supply.dm
  code/modules/station_goals/secondary/botany/kudzu_goal.dm
  code/modules/station_goals/secondary/kitchen/random_bulk_food.dm
  code/modules/station_goals/secondary/kitchen/variety_food.dm
  code/modules/station_goals/secondary/random_bulk_reagent.dm
  code/modules/station_goals/secondary/science/random_ripley.dm
  code/modules/station_goals/secondary/secondary_goal_tracker.dm
  code/modules/station_goals/secondary/variety_reagent.dm
  paradise.dme
Labels: Feature, Tweak, -Status: Awaiting merge, Requires Wiki Update

#25267 Make some guns REAL auto
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/saw.dm
Labels: Balance, -Status: Awaiting merge

#25296 Fix planetary_atmos working correctly only for lavaland + use defines for lavaland atmos
  code/__DEFINES/atmospherics_defines.dm
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/simulated/floor/mineral_floors.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/awaymissions/mission_code/beach.dm
Labels: Fix, -Status: Awaiting merge

#25300 Adds a new rock-paper-scissors emote
  code/__DEFINES/emotes_defines.dm
  code/__DEFINES/status_effects.dm
  code/_onclick/hud/radial.dm
  code/datums/emote.dm
  code/datums/status_effects/neutral.dm
  code/modules/mob/living/carbon/human/human_emote.dm
Labels: Feature, -Status: Awaiting merge

#25339 Cleans up a nested proc with returns
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Refactor, -Status: Awaiting merge

#25345 You can now crash into things with leap
  code/game/dna/mutations/mutation_powers.dm
Labels: Balance, -Status: Awaiting merge

#25360 Kangaroo and larva now can be butchering
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/kangaroo.dm
Labels: Tweak, -Status: Awaiting merge

#25418 Body Randomize button now changes physique and height
  code/modules/client/preference/character.dm
  code/modules/client/preference/link_processing.dm
Labels: Tweak, -Status: Awaiting merge

#25460 Improves note deletions
  SQL/paradise_schema.sql
  SQL/updates/55-56.sql
  code/__DEFINES/misc_defines.dm
  code/modules/admin/sql_notes.dm
  config/example/config.toml
Labels: SQL Change, Configuration Change, -Status: Awaiting merge

#25473 prototype nanite injector now heals ipcs / robotic limbs / cybernetic organs
  code/datums/uplink_items/uplink_general.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance, -Status: Awaiting merge

#25006 Adds a VV Menu for Manipulating Reagent Holders
  code/datums/datumvars.dm
  code/game/atoms.dm
  code/modules/admin/reagents_editor.dm
  code/modules/client/client_procs.dm
  code/modules/reagents/chemistry/reagents_holder.dm
  paradise.dme
  tgui/packages/tgui/interfaces/ReagentsEditor.tsx
  tgui/packages/tgui/styles/interfaces/ReagentsEditor.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Administration, TGUI, -Status: Awaiting merge

#25457 GOLDEN BLAST: a new judo combo
  code/modules/martial_arts/combos/judo/goldenblast.dm
  code/modules/martial_arts/combos/judo/wheelthrow.dm
  code/modules/martial_arts/judo.dm
  paradise.dme
  sound/weapons/goldenblast.ogg
Labels: Feature, Sound, Balance, -Status: Awaiting review, Requires Wiki Update

#25410 Adds explosion particles!
  code/__DEFINES/particle_defines.dm
  code/datums/components/debris.dm
  code/datums/elements/shatters_when_thrown.dm
  code/datums/particles.dm
  code/game/objects/effects/effect_system/effects_explosion.dm
  code/game/objects/effects/temporary_visuals/explosion_temp_visuals.dm
  code/game/objects/effects/temporary_visuals/misc_visuals.dm
  code/game/objects/explosion.dm
  code/game/objects/structures/depot_structures.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/mining/ores_coins.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  icons/effects/96x96.dmi
  paradise.dme
Labels: Feature, Sprites, -Status: Awaiting merge

#25401 Prevents using organ extractor to circumvent mephedrone heart damage
  code/modules/surgery/organs/organ_extractor.dm
Labels: Tweak, -Status: Awaiting merge

#25095 [TGUI] Noticeboard
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/noticeboard.dm
  icons/obj/stationobjs.dmi
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/Noticeboard.tsx
  tgui/packages/tgui/styles/themes/noticeboard.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Sprites, Tweak, TGUI, -Status: Awaiting review, Requires Wiki Update

#25506 Another !merge_upstream PR
  .github/workflows/merge_upstream_master.yml
Labels: -Status: Awaiting type assignment

#25489 Tweaks Dynamic Height Adjustment for TGUI Number Input Modal
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/public/tgui.bundle.js
Labels: Fix, Code Improvement, TGUI, -Status: Awaiting review

#25515 Remove unused variable in rod code
  code/modules/events/immovable_rod.dm
Labels: Fix, Webeditor Heresy

#25474 Medbeams now heal IBs and burn wounds as well
  code/modules/projectiles/guns/medbeam.dm
Labels: Balance, -Status: Awaiting merge

#25239 Radio Hotmic Noise + Alt Click Toggle
  code/__DEFINES/misc_defines.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio_objects.dm
Labels: Tweak, -Status: Awaiting merge

#25501 The lance now has a very clear confirmation message on it.
  code/modules/supply/supply_console.dm
  code/modules/supply/supply_pack.dm
  code/modules/supply/supply_packs/pack_shuttle.dm
Labels: Feature, -Status: Awaiting merge

#25419 adds the abductor surgery toolset
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Feature, -Status: Awaiting review, Requires Wiki Update

#25213 Requests Console standardization
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/modules/station_goals/secondary/medical/random_bulk_medicine.dm
  code/modules/station_goals/secondary/medical/variety_medicine.dm
Labels: Fix, Map Edit, MetaStation, BoxStation, Tweak, DeltaStation, -Status: Awaiting merge, CereStation
