Repository ParadiseSS13/Paradise, pull requests merged in 2024-02, with the labels that each got.

#23820 Refactor machinery hand attack
  code/game/machinery/machinery.dm
Labels: Refactor, -Status: Awaiting merge

#23801 Terminating/Demoting IDs now clear jobs slots
  code/game/machinery/computer/card.dm
Labels: Tweak, -Status: Awaiting review

#23883 Refactors composting, allows to compost things again
  code/modules/hydroponics/hydroponics_tray.dm
Labels: Fix, -Status: Awaiting review

#24054 [s] fixes a bug
  code/modules/mod/modules/modules_antag.dm
Labels: -Status: Awaiting type assignment

#23447 Stamina damage no longer bypass some checks
  code/_onclick/click_override.dm
  code/datums/components/defibrillator.dm
  code/datums/components/spooky.dm
  code/datums/status_effects/debuffs.dm
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/objects/effects/snowcloud.dm
  code/game/objects/items/devices/handheld_defib.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/weapons/batons.dm
  code/game/objects/items/weapons/grenades/atmosgrenade.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/hallucinations/effects/common.dm
  code/modules/martial_arts/combos/cqc/consecutive.dm
  code/modules/martial_arts/combos/cqc/kick.dm
  code/modules/martial_arts/combos/cqc/pressure.dm
  code/modules/martial_arts/combos/cqc/restrain.dm
  code/modules/martial_arts/combos/krav_maga/lung_punch.dm
  code/modules/martial_arts/martial.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/black.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/white.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/reagents/chemistry/reagents/blob_reagents.dm
  code/modules/surgery/organs/subtypes/standard_organs.dm
Labels: Balance, -Status: Awaiting merge

#23473 Adds Malfunctioning AI Deploy Turret Ability
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  icons/mob/actions/actions.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#23800 [TM prolly] Some init optimisationss
  code/controllers/subsystem/SSair.dm
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/datums/datacore.dm
  code/game/dna/dna2.dm
  code/game/jobs/job_exp.dm
  code/game/objects/items/devices/painter/floor_painter.dm
  code/modules/client/preference/character.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: Performance, Testmerge Requested, -Status: Awaiting merge

#23821 Fix tint control logic
  code/__DEFINES/construction_defines.dm
  code/game/area/areas.dm
  code/game/objects/structures/window.dm
Labels: Fix, -Status: Awaiting merge

#23843 Adjust supermatter mole crush / changes out cryo anomalies / sm zap power gen.
  code/game/objects/effects/anomalies.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/power/engines/tesla/coil.dm
Labels: Fix, Tweak, -Status: Awaiting merge, Requires Wiki Update

#23472 Refactor and rework the staff of chaos
  code/__DEFINES/status_effects.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/machinery/dance_machine.dm
  code/game/objects/effects/temporary_visuals/misc_visuals.dm
  code/game/objects/items/toys.dm
  code/modules/projectiles/ammunition/special_ammo.dm
  code/modules/projectiles/guns/chaos_bolt.dm
  code/modules/projectiles/guns/magic/magic_staff.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/magic_projectiles.dm
  icons/obj/guns/magic.dmi
  paradise.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Sprites, Balance, TGUI, -Status: Awaiting review, Requires Wiki Update

#23554 Fixes railings mentioning tables on inspect.
  code/game/objects/structures.dm
  code/game/objects/structures/railings.dm
Labels: Fix, -Status: Awaiting review

#23813 Reboots the CNS implant
  code/__DEFINES/dcs/signals.dm
  code/modules/mob/living/carbon/carbon_life.dm
  code/modules/mob/living/carbon/carbon_status_procs.dm
  code/modules/mob/living/carbon/carbon_update_status.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living_defines.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#23850 stimulants now use stun absorb, flashes no longer makes stun immune people drop items
  code/game/objects/items/devices/flash.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance, -Status: Awaiting review

#23861 Adds the pondering orb to the wizard den
  _maps/map_files/generic/centcomm.dmm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/structures/pondering_orb.dm
  code/modules/mob/dead/observer/observer_base.dm
  paradise.dme
Labels: Map Edit, Balance, -Status: Awaiting review, Requires Wiki Update

#23925 Cult spells shows charges now
  code/game/gamemodes/cult/blood_magic.dm
Labels: Tweak, -Status: Awaiting review

#23840 adds request console rotational sprites
  icons/obj/terminals.dmi
Labels: Sprites, Tweak, -Status: Awaiting review

#23849 Abductors can not be recalled for 10 seconds after beaming down
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/game/gamemodes/miniantags/abduction/machinery/abductor_camera.dm
  code/game/gamemodes/miniantags/abduction/machinery/console.dm
  code/game/gamemodes/miniantags/abduction/machinery/pad.dm
  code/game/objects/items/weapons/bio_chips/bio_chip_abductor.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#23868 Adds runechat to the abductor mindlink
  code/__DEFINES/language_defines.dm
  code/game/dna/mutations/mutation_powers.dm
  code/modules/mob/language.dm
  interface/skin.dmf
Labels: Tweak, -Status: Awaiting review

#23929 Separate `Antags` from `Game Settings`
  code/__DEFINES/preferences_defines.dm
  code/modules/client/preference/preferences.dm
  html/browser/common.css
Labels: Tweak, -Status: Awaiting review

#23877 Species with oldcrit no longer go unconcious at 0 HP
  code/__DEFINES/combat_defines.dm
  code/modules/mob/living/carbon/carbon_life.dm
  code/modules/mob/living/carbon/carbon_update_status.dm
Labels: Balance, -Status: Awaiting review

#23902 Adding Improvements to Knuckledusters
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/items/weapons/knuckledusters.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#23439 QOL changes to NSS kerberos
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation

#23946 remove most top-level vardecls
  code/__HELPERS/mob_helpers.dm
  code/controllers/subsystem/processing/processing.dm
  code/datums/components/orbiter.dm
  code/datums/datum.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/jobs/access.dm
  code/game/objects/objs.dm
  code/modules/admin/verbs/freeze.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/client/client_defines.dm
  code/modules/detective_work/detective_work.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/tgui/external.dm
  code/modules/tgui/tgui_panel/audio.dm
  code/modules/tgui/tgui_panel/telemetry.dm
  code/modules/tgui/tgui_panel/tgui_panel_external.dm
Labels: Refactor, -Status: Awaiting merge

#23545 Ports / reworks roundstart blurbs
  code/controllers/subsystem/SSjobs.dm
  code/controllers/subsystem/SSticker.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/changeling/datum_changeling.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/maptext_alerts/location_blurbs.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/transform_procs.dm
  paradise.dme
  sound/machines/ai_start.ogg
  sound/machines/typewriter.ogg
Labels: Feature, Sound, Port, -Status: Awaiting merge

#24019 Fixes the gibber rarely not working
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
Labels: -Status: Awaiting type assignment

#23945 The admin outfit "Debug outfit" gets the breathless DNA string active now.
  code/datums/outfits/outfit_debug.dm
Labels: Tweak, -Status: Awaiting merge

#23444 Fixes Quartermaster's office on other stations that doesn't have an Announcement Request console
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#23448 Keycard authentication Devices now show on all maps on walls and not hidden under a table
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, Merge Conflict, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge

#23451 Fix for metastation qm office's window tint button does not tint windows
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, -Status: Awaiting merge

#23561 fixed a windoor access on NSS Kerberos in cargobay
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting merge

#23634 Changed airlocks to airlock helpers on NSS, Kerberos, NSS Cyberiad, NSS Cerebron
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/effects/spawners/airlock_spawner.dm
Labels: Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting approval, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation

#23688 Fixes windoors of the robotics lab on nss kerberos and nss farragus are not electrochromic
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting merge, CereStation, [MQL] CereStation

#23729 Fixes cereberon's RnD buttons being misslabled and in one in a bad spot. Also moved a horridly placed table.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, Merge Conflict, MetaStation, -Status: Awaiting merge

#24039 [s] Changes two slime cores out on Metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, -Status: Awaiting type assignment

#24055 fix: stop charging plasma mod core when full
  code/modules/mod/mod_core.dm
Labels: Fix, -Status: Awaiting merge

#24046 Fixes grammar with vampire ability
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#24043 Removes Something LRP From Code (Literally 1984)
  code/modules/reagents/chemistry/reagents/paradise_pop.dm
Labels: Tweak, -Status: Awaiting merge

#24010 Fix passive vent RPD icon
  code/datums/pipe_datums.dm
  icons/obj/pipe-item.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#24009 Gives H/E pipes visuals when they are wrenched without neighbours
  icons/atmos/heat.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#24003 fixes a card console runtime
  code/game/machinery/computer/card.dm
Labels: Refactor, -Status: Awaiting merge

#23999 fix Tranquilite Shipment station trait typepath
  code/datums/station_traits/neutral_traits.dm
Labels: Fix, -Status: Awaiting merge

#23984 add aft/stbd solar area icons
  code/game/area/ss13_areas/engineering_areas.dm
  icons/turf/areas.dmi
Labels: Refactor, Sprites, -Status: Awaiting merge

#23983 modsuit nodrop fix
  code/modules/projectiles/guns/energy/special_eguns.dm
Labels: Fix, -Status: Awaiting merge

#23971 fixes extra lag from the RND console
  code/modules/research/rdconsole.dm
Labels: Performance, -Status: Awaiting merge

#23963 add condiments to reagent updatepaths script
  tools/UpdatePaths/Scripts/23379_food_containers.txt
Labels: Fix, Infrastructure, -Status: Awaiting merge

#23961 fixes the signed up icon not getting updated when a new poll is polled
  code/_onclick/hud/alert.dm
  code/controllers/subsystem/SSghost_spawns.dm
Labels: Fix, -Status: Awaiting merge

#24050 More CI for conditionals
  code/__HELPERS/icon_smoothing.dm
  code/controllers/master.dm
  code/game/dna/dna_modifier.dm
  code/game/gamemodes/miniantags/guardian/types/healer.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/machinery.dm
  code/game/mecha/mecha_topic.dm
  code/game/objects/items/devices/radio/radio_objects.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/tape.dm
  code/game/objects/objs.dm
  code/game/objects/structures/noticeboard.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/space/space_turf.dm
  code/game/verbs/ooc.dm
  code/modules/antagonists/changeling/powers/apex_predator.dm
  code/modules/clothing/gloves/misc_gloves.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/hostile/syndicate_mobs.dm
  code/modules/mob/living/simple_animal/slime/slime_mob.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/surgery/organs/organ_datums/lung_datum.dm
  tools/ci/check_grep2.py
Labels: Infrastructure, -Status: Awaiting merge

#24041 Optimized SSTimers' bucketJoin to be less laggy
  code/controllers/subsystem/SStimer.dm
Labels: Performance, -Status: Awaiting merge

#24058 fix: golem ship no longer hears ash storm in space
  code/datums/weather/weather_types/ash_storm.dm
Labels: Fix, -Status: Awaiting review

#24004 Remove names from monkey brains and heads (#23942)
  code/modules/surgery/organs/brain.dm
  code/modules/surgery/organs/subtypes/standard_organs.dm
Labels: Fix, -Status: Awaiting review

#23985 Dental Implant fix
  code/modules/surgery/dental_implant.dm
Labels: Fix, -Status: Awaiting review

#23978 BioChipPad UI Fix
  tgui/packages/tgui/interfaces/BioChipPad.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting review

#23979 Adds a monitorkey to listening outpost that was forgotten about
  _maps/map_files/RandomRuins/SpaceRuins/listeningpost.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#24024 TGchat: Case Sensitive fix, Mute button
  tgui/packages/tgui-panel/chat/ChatPageSettings.js
  tgui/packages/tgui-panel/chat/ChatTabs.js
  tgui/packages/tgui-panel/chat/model.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/chat/replaceInTextNode.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui/styles/components/Button.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
Labels: Fix, TGUI, -Status: Awaiting merge, TGUI Upgrade Project

#24067 Adds Construction Bag
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering_lockers.dm
  code/modules/response_team/ert_outfits.dm
  icons/obj/tools.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge, Requires Wiki Update

#24104 Makes the VTEC subtract 1 speed instead of setting it to -1 [NPFC]
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Fix, -Status: Awaiting merge

#23808 Wizard crash shuttle walls are now not weldable, crate no longer destroys the loot.
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#24110 Removes superfluous spacing from comms messages with job announcements
  code/game/machinery/tcomms/nttc.dm
Labels: Fix, -Status: Awaiting review

#24106 fixes xenos bricking cryopods
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Fix, -Status: Awaiting review

#24127 Makes circles have a correct 360 degrees again
  code/__HELPERS/type2type.dm
Labels: Fix, I am unable to can

#24145 Adds Henri215 to the review team
  .github/CONTRIBUTING.md
Labels: -Status: Awaiting type assignment

#24150 [s] no unfun allowed
  code/modules/surgery/organs/augments_internal.dm
Labels: -Status: Awaiting type assignment

#23705 [DELTA] Atmos Remap Revival
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting review, [MQL] DeltaStation

#23736 Fixes some stuff for "Metastation: Maintenance Rework [Part 2]"
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Merge Conflict, MetaStation, -Status: Awaiting merge, [MQL] MetaStation

#23747 ci: ban non-integer gas filter types
  _maps/map_files/Delta/delta.dmm
  tools/maplint/lints/filter_types.yml
Labels: Map Edit, DeltaStation, Infrastructure, -Status: Awaiting merge, [MQL] DeltaStation

#23793 Gives engieering access to windoor in the control room on NSS Cyberiad
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#23894 cere: starboard disposals remap
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge, CereStation, [MQL] CereStation

#23856 box: move Chang's newscaster off APC
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge

#23923 Adds a hand labeler on NSS Farragus
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge, CereStation, [MQL] CereStation

#23924 Cyberiad Station: Fix Port Hallway having no scrubbers or vents
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#23981 Fixes labor camp airlocks bolting open during a greytide tide event on NSS cyberiad
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting review, [MQL] BoxStation

#23831 Maps the areas in the main hallway's on delta map
  _maps/map_files/Delta/delta.dmm
  code/game/area/ss13_areas/public_areas.dm
Labels: Map Edit, DeltaStation, -Status: Awaiting review, [MQL] DeltaStation

#23918 meta: small service adjustments
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Merge Conflict, MetaStation, -Status: Awaiting merge

#23935 meta: remove grille lootdrops (?)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, Merge Conflict, MetaStation, -Status: Awaiting merge

#23957 Fixes Availability of Request Console differs between stations
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
Labels: Fix, Map Edit, MetaStation, DeltaStation, -Status: Awaiting review, CereStation, [MQL] CereStation

#24005 meta: fix an incorrect storage belt type
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, -Status: Awaiting merge

#24030 Making Burn Medkit more Accessible in Delta Engineering.
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting review, [MQL] DeltaStation

#24026 Fixes the area around medbay on boxstation
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/area/ss13_areas/medical_areas.dm
Labels: Map Edit, BoxStation, -Status: Awaiting approval, [MQL] BoxStation

#24037 Puts evidence secure lockers in evidence room in brig on Cerestation, delta, meta and on box station
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/crates_lockers/closets/secure/security_lockers.dm
Labels: Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting review, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, CereStation, [MQL] CereStation

#24077 Adds two cameras on cyberid
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, Balance, BoxStation, -Status: Awaiting merge, [MQL] BoxStation

#24082 Fixes APCs in engineering on Delta and Meta are not the correct APC's
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, DeltaStation, -Status: Awaiting merge, [MQL] DeltaStation, [MQL] MetaStation

#24096 cere: create distinct nearspace area for disposals
  _maps/map_files/cerestation/cerestation.dmm
  code/game/area/misc_areas.dm
  icons/turf/areas.dmi
Labels: Map Edit, Refactor, Sprites, -Status: Awaiting review, CereStation, [MQL] CereStation

#24125 Swaps the infinite cell on moonoutpost19 for a void core
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
Labels: Map Edit, -Status: Awaiting type assignment

#23989 Buffs Machine Overload
  code/game/gamemodes/malfunction/Malf_Modules.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#24056 Adds some more guns, and removes some spells/wands from the greater summon guns and magic spell
  code/game/gamemodes/wizard/rightandwrong.dm
Labels: Balance, -Status: Awaiting merge

#23960 remove skeleton crew card access
  code/controllers/configuration/sections/job_configuration.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/central.dm
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job/support_chaplain.dm
  code/game/jobs/job/syndicate_jobs.dm
  config/example/config.toml
Labels: Revert/Feature Removal, Configuration Change, -Status: Awaiting merge

#24083 Removes comparisons to true and false
  .github/CONTRIBUTING.md
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/parallax.dm
  code/datums/station_traits/negative_traits.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/weapons/rpd.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/library/library_computer.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mob/dead/observer/spells.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/power/gravitygenerator.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/recycling/disposal.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/brain.dm
Labels: Refactor, -Status: Awaiting merge

#24078 Reverts Portable Emitter Hitscan
  code/modules/projectiles/ammunition/energy_lens.dm
Labels: Revert/Feature Removal, Balance, -Status: Awaiting merge

#23859 Converts over the missing TGUI input lists
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/alert.dm
  code/datums/spells/area_teleport.dm
  code/game/dna/mutations/mutation_powers.dm
  code/game/gamemodes/miniantags/abduction/machinery/abductor_camera.dm
  code/game/gamemodes/miniantags/abduction/machinery/console.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/miniantags/guardian/host_actions.dm
  code/game/gamemodes/miniantags/guardian/types/gaseous.dm
  code/game/machinery/computer/atmos_controllers.dm
  code/game/machinery/computer/depot_consoles.dm
  code/game/machinery/computer/law.dm
  code/game/machinery/computer/message_monitor.dm
  code/game/machinery/computer/robot_control.dm
  code/game/machinery/dance_machine.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/objects/buckling.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/flag.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/signs.dm
  code/game/objects/structures/statues.dm
  code/game/objects/structures/watercloset.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/awaymissions/mob_spawn.dm
  code/modules/clothing/clothing.dm
  code/modules/events/blob/blob_powers.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
  code/modules/food_and_drinks/kitchen_machinery/oven.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/mob/dead/observer/observer_base.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/default_language.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/silicon/robot/misc_robot_items.dm
  code/modules/mob/living/silicon/silicon_mob.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/friendly/diona_nymph.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/actions.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/empress_terror.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/green.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen_terror.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/mob/living/simple_animal/slime/slime_powers.dm
  code/modules/mob/mob.dm
  code/modules/paperwork/photography.dm
  code/modules/projectiles/guns/energy/telegun.dm
  code/modules/projectiles/guns/throw/crossbow.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/research/rdconsole.dm
  code/modules/shuttle/assault_pod.dm
Labels: Fix, Merge Conflict, -Status: Awaiting review

#24095 ci: remove unused check_grep.sh
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  tools/ci/check_grep.sh
  tools/maplint/lints/step_varedits.yml
Labels: Map Edit, MetaStation, BoxStation, DeltaStation, Infrastructure, -Status: Awaiting merge, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation

#24099 Removed a airlock button that was forgot about on NSS cyberiad
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting approval

#24133 make explicit broken computer subtype
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_engi_sat.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wreckedcargoship.dmm
  _maps/map_files/RandomZLevels/beach.dmm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/computer.dm
  tools/maplint/lints/base_computer.yml
Labels: Map Edit, MetaStation, -Status: Awaiting type assignment

#24182 Fixes agent ID being uneditable
  code/game/objects/items/weapons/cards_ids.dm
Labels: -Status: Awaiting type assignment

#23907 TGUI say: Upgrades chat input with modern features
  code/__DEFINES/keybindings_defines.dm
  code/__DEFINES/preferences_defines.dm
  code/__DEFINES/speech_channels.dm
  code/__HELPERS/text.dm
  code/_globalvars/lists/keybindings_lists.dm
  code/datums/keybindings/admin_keybinds.dm
  code/datums/keybindings/client.dm
  code/datums/keybindings/communication_keybinds.dm
  code/datums/keybindings/living_keybinds.dm
  code/game/verbs/ooc.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_logout_base.dm
  code/modules/mob/mob_vars.dm
  code/modules/mob/typing_indicator.dm
  code/modules/tgui/tgui_datum.dm
  code/modules/tgui/tgui_panel/tgui_panel.dm
  code/modules/tgui/tgui_panel/tgui_panel_external.dm
  code/modules/tgui/tgui_window.dm
  code/modules/tgui_input/say_modal/tgui_say_modal.dm
  code/modules/tgui_input/say_modal/tgui_say_speech.dm
  code/modules/tgui_input/say_modal/tgui_say_typing.dm
  icons/mob/talk.dmi
  interface/skin.dmf
  paradise.dme
  tgui/packages/common/keys.ts
  tgui/packages/common/timer.js
  tgui/packages/common/timer.ts
  tgui/packages/tgui-say/ChannelIterator.test.ts
  tgui/packages/tgui-say/ChannelIterator.ts
  tgui/packages/tgui-say/ChatHistory.test.ts
  tgui/packages/tgui-say/ChatHistory.ts
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/fonts/VT323-Regular.ttf
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-say/index.tsx
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui-say/styles/button.scss
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui-say/styles/content.scss
  tgui/packages/tgui-say/styles/dragzone.scss
  tgui/packages/tgui-say/styles/main.scss
  tgui/packages/tgui-say/styles/textarea.scss
  tgui/packages/tgui-say/styles/window.scss
  tgui/packages/tgui-say/timers.ts
  tgui/packages/tgui/components/TextArea.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.css
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
  tgui/webpack.config.js
  tgui/yarn.lock
Labels: Refactor, Sprites, TGUI, Testmerge Requested, -Status: Awaiting merge, TGUI Upgrade Project

#24185 Restricts the visibility of some variables in the TGUI panel
  code/modules/tgui/tgui_panel/tgui_panel.dm
Labels: -Status: Awaiting type assignment

#24187 Fixes an issue with limited martial arts
  code/__DEFINES/martial_arts.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: -Status: Awaiting type assignment

#24191 [s] Prevents some weird stuff
  code/game/machinery/teleporter.dm
Labels: Fix, -Status: Awaiting type assignment

#24189 Fixes a duplicate definition of a proc
  code/_onclick/item_attack.dm
  code/game/objects/items.dm
Labels: Code Improvement, -Status: Awaiting type assignment

#24200 Fix misleading CI error when linting fails
  .github/workflows/ci.yml
Labels: -Status: Awaiting type assignment

#24197 Adds a global spark limit
  code/_globalvars/misc_globals.dm
  code/game/objects/effects/effect_system/effects_sparks.dm
Labels: -Status: Awaiting type assignment

#23970 fireball fix
  code/datums/spell_targeting/clicked_atom.dm
  code/datums/spells/wizard_spells.dm
Labels: Fix, -Status: Awaiting merge

#23976 Update sprites for drone fab and experimentor
  icons/obj/machines/drone_fab.dmi
  icons/obj/machines/heavy_lathe.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#23988 Cursed heart tweaks
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#24053 camera bugs now stick to things they're thrown at
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/components/sticky.dm
  code/game/objects/items/devices/camera_bug.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Balance, -Status: Awaiting merge

#24057 Limits Command Antagonist Eligibility
  code/controllers/subsystem/SSjobs.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/wizard/wizard.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#24066 Reagent Grinder refactor'n'fixes
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Fix, -Status: Awaiting merge

#23930 add ci check for toplevel vardecls
  tools/ci/check_grep2.py
Labels: Infrastructure, -Status: Awaiting review

#24112 Backpressure surge now checks if a scrubber is welded
  code/modules/events/vent_clog.dm
Labels: Fix, -Status: Awaiting type assignment

#24194 Cyborg now always updates damage when taking damage
  code/modules/mob/living/silicon/robot/robot_damage.dm
Labels: Fix, -Status: Awaiting merge

#24186 Removes one map area that is not being utilized
  code/game/area/ss13_areas/medical_areas.dm
Labels: Refactor, -Status: Awaiting merge

#24180 Perpetual Pacemaker properly reports source of electrocution
  code/game/gamemodes/miniantags/pulsedemon/cross_shock_component.dm
Labels: Fix, -Status: Awaiting merge

#24171 Evidence bag now respects nodrop
  code/modules/detective_work/evidence.dm
Labels: Fix, -Status: Awaiting merge

#24169 Fixes invisible suits on Grey, Kidan and Drask
  code/modules/clothing/suits/misc_suits.dm
  code/modules/customitems/item_defines.dm
Labels: Fix, -Status: Awaiting merge

#24161 remove 'game kit' deadcode object and icon
  code/game/objects/items/weapons/misc_items.dm
  icons/obj/items.dmi
Labels: Sprites, Code Improvement, -Status: Awaiting merge

#24159 Fixes a runtime with the rod of asclepius
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix, -Status: Awaiting merge

#24152 Removes unneeded verb settings
  code/modules/customitems/item_defines.dm
  code/modules/mob/language.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/paperwork/carbonpaper.dm
  code/modules/paperwork/silicon_photography.dm
  code/modules/pda/ai_pda.dm
Labels: Code Improvement, -Status: Awaiting merge

#24149 Fixed emagged secbots being broken
  code/modules/mob/living/carbon/alien/alien_base.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
Labels: Fix, -Status: Awaiting merge

#24148 Combat Baguette now bonks correctly
  code/modules/food_and_drinks/food/snacks.dm
Labels: Fix, -Status: Awaiting merge

#24136 Floorbot Eat_tile bug fix
  code/modules/mob/living/simple_animal/bot/floorbot.dm
Labels: Fix, -Status: Awaiting merge

#24134 Shotglasses now go down in one sip
  code/modules/mob/living/carbon/carbon.dm
Labels: Tweak, -Status: Awaiting merge

#24122 Nerfs Botany Maximum Yield + Plant Bags
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/hydroponics/seeds.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#24111 Moves the kinesis screen effect to a seperate file
  code/modules/mod/modules/module_kinesis.dm
  icons/mob/screen_full.dmi
  icons/mob/screen_kinesis.dmi
Labels: Sprites, Performance, -Status: Awaiting merge

#24089 Sprite fixes
  icons/mob/human_races/r_slime.dmi
  icons/mob/sprite_accessories/human/human_hair.dmi
Labels: Sprites, On Hold, -Status: Awaiting merge

#24081 Vox Tails Have Been Incorrectly Placed For 8 Years
  icons/effects/species.dmi
  icons/mob/sprite_accessories/vox/vox_tail_markings.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge, Requires Wiki Update

#24131 Fixes Cyberiad Issues
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/area/ss13_areas/legal_areas.dm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting review, [MQL] BoxStation

#23990 Fix runtime
  code/game/machinery/requests_console.dm
Labels: Refactor, -Status: Awaiting merge

#24212 Cyborg analyzers can see organs again
  code/game/objects/items/devices/scanners.dm
Labels: Fix, -Status: Awaiting merge

#24230 Fixes "????" making you vomit more than normal
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
  code/modules/surgery/organs/heart.dm
Labels: Fix, -Status: Awaiting merge

#24231 Tapes correctly display capacity after erasing them.dm
  code/game/objects/items/devices/taperecorder.dm
Labels: Fix, -Status: Awaiting merge

#24232 Fixes a rare case where newscaster stories are duplicated
  tgui/packages/tgui/interfaces/Newscaster.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting review

#24218 Don't pick the color of `cable_coil/random` when splitting a stack
  code/modules/power/cables/cable_coil.dm
Labels: Fix, -Status: Awaiting review

#24214 Fix item dropping when upgrading camera
  code/game/machinery/camera/camera.dm
Labels: Fix, -Status: Awaiting review

#24144 Changes how the external portable pumps/scrubbers deals with their gas on cyberiad
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, Merge Conflict, BoxStation, -Status: Awaiting review, [MQL] BoxStation

#24196 Removes a couple of area's that are no longer being used
  code/game/area/ss13_areas/command_areas.dm
  code/game/area/ss13_areas/legal_areas.dm
  code/game/area/ss13_areas/medical_areas.dm
  code/game/area/ss13_areas/public_areas.dm
  code/game/area/ss13_areas/security_areas.dm
  code/game/area/ss13_areas/service_areas.dm
Labels: Refactor, -Status: Awaiting review

#24160 Fixes an ERT runtime
  code/controllers/subsystem/SSjobs.dm
Labels: Fix, -Status: Awaiting merge

#24177 Refactors the atmos watertank backpack
  code/game/objects/effects/decals/Cleanable/misc_cleanables.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/modules/mob/inventory_procs.dm
Labels: Refactor, -Status: Awaiting merge

#24184 Head sprites for bandanas (Purple, orange, camo)
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
Labels: Sprites, -Status: Awaiting merge

#24092 Check_grep2 errors now use github actions errors syntax
  tools/ci/check_grep2.py
Labels: Infrastructure, -Status: Awaiting merge

#24246 [MAJOR] Fix putting someone into a machinery with active grab
  code/game/dna/dna_modifier.dm
  code/game/gamemodes/miniantags/abduction/machinery/experiment.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/rechargestation.dm
  code/game/machinery/suit_storage_unit.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/recycling/disposal.dm
Labels: -Status: Awaiting type assignment

#24235 Fixes cigars being lightable by everything
  code/game/objects/items/weapons/cigs.dm
Labels: Fix, -Status: Awaiting merge

#24135 Makes floorlights only toggleable in help intent
  code/game/turfs/simulated/floor/light_floor.dm
Labels: Tweak, -Status: Awaiting merge

#23395 adds the ability to keybind click() triggers
  code/__DEFINES/keybindings_defines.dm
  code/_globalvars/lists/keybindings_lists.dm
  code/_onclick/ai_onclick.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/_onclick/observer_onclick.dm
  code/_onclick/other_mobs.dm
  code/_onclick/overmind_onclick.dm
  code/datums/keybindings/click_keybindings.dm
  code/game/atoms_movable.dm
  code/modules/client/client_defines.dm
  paradise.dme
Labels: Tweak, Testmerge Requested, -Status: Awaiting merge

#23911 Adds the razorwire implant. Ready for review into merge
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/inventory_defines.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/items.dm
  code/modules/mob/living/living_defense.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/autosurgeon.dm
  icons/mob/inhands/implants_lefthand.dmi
  icons/mob/inhands/implants_righthand.dmi
  icons/obj/energy_melee.dmi
  icons/obj/items.dmi
  icons/obj/surgery.dmi
Labels: Feature, Sprites, Balance, -Status: Awaiting review, Requires Wiki Update, Requires Space Law Update

#23550 Bots refactor
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/syndicate_bots.dm
Labels: Fix, Refactor, Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#24121 QOL changes to NSS Kerberos PT2
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting approval, [MQL] DeltaStation

#24139 maps: more varedit whitespace cleanup
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiecakesfactory.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, MetaStation, Code Improvement, DeltaStation, -Status: Awaiting merge, [MQL] MetaStation, CereStation, [MQL] CereStation

#23054 Reworks xenomorphs
  code/__DEFINES/is_helpers.dm
  code/_onclick/hud/alien_hud.dm
  code/datums/beam.dm
  code/datums/spells/alien_spells/basetype_alien_spell.dm
  code/datums/spells/alien_spells/build_resin_structure.dm
  code/datums/spells/alien_spells/corrosive_acid_spit.dm
  code/datums/spells/alien_spells/lay_alien_eggs.dm
  code/datums/spells/alien_spells/neurotoxin_spit.dm
  code/datums/spells/alien_spells/plasma_weeds.dm
  code/datums/spells/alien_spells/queen_evolve.dm
  code/datums/spells/alien_spells/regurgitate.dm
  code/datums/spells/alien_spells/tail_lash.dm
  code/datums/spells/alien_spells/transfer_plasma.dm
  code/game/mecha/combat/combat.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/combat/reticence.dm
  code/game/mecha/mecha.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/cleaning.dm
  code/game/objects/effects/alien_acid.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
  code/modules/mob/living/carbon/alien/alien_base.dm
  code/modules/mob/living/carbon/alien/alien_death.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/alien/alien_login.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/alien_drone.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/sentinel.dm
  code/modules/mob/living/carbon/alien/humanoid/empress.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_defense.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_update_icons.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/alien/larva/larva_inventory.dm
  code/modules/mob/living/carbon/alien/larva/larva_life.dm
  code/modules/mob/living/carbon/alien/larva/larva_update_icons.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/mob_movement.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/shuttle/supply.dm
  code/modules/surgery/organs/brain.dm
  code/modules/surgery/organs/subtypes/xenos.dm
  icons/mob/alien.dmi
  paradise.dme
Labels: Sprites, Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting review, Requires Wiki Update

#24270 TGUI Input fixes
  code/modules/clothing/clothing.dm
  code/modules/mob/living/default_language.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/reagent_containers.dm
Labels: Fix, -Status: Awaiting merge

#23974 allow mountable machines on asteroid walls
  code/game/objects/items/mountable_frames/mountables.dm
Labels: Tweak, -Status: Awaiting merge

#24090 updates the contributing guide to disallow for direct var access from function returns
  .github/CONTRIBUTING.md
Labels: Documentation, -Status: Awaiting merge
