Repository ParadiseSS13/Paradise, pull requests merged in 2024-08, with the labels that each got.

#26353 Adds a missing `|` to the player panel after "make super hero"
  code/modules/admin/misc_admin_procs.dm
Labels: Fix, -Status: Awaiting merge

#25738 Adds: The C-Foam launcher
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/status_effects.dm
  code/datums/station_state.dm
  code/datums/status_effects/debuffs.dm
  code/datums/uplink_items/uplink_general.dm
  code/game/machinery/deployable.dm
  code/game/machinery/doors/door.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/objects/items/weapons/c_foam_launcher.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/paiwire.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/projectile/magic_projectiles.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vehicle/vehicle.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/foam_blobs.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/projectiles.dmi
  paradise.dme
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update, Stale Exempt

#26356 fix: cere departures sec room access/floor plating
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26259 Fixes a few tiles that were misaligned decal wise on farragus
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26365 [s] fixes that one baton bug again
  code/game/objects/items/weapons/stunbaton.dm
Labels: Fix

#26303 Makes incorporeal moving mobs immune to tipping
  code/game/atoms_movable.dm
  code/game/machinery/vendors/vending.dm
Labels: Fix, -Status: Awaiting merge

#26358 [FIX] Tourist Midround fixes
  code/game/gamemodes/miniantags/tourist/tourist_arrivals.dm
Labels: Fix, -Status: Awaiting merge

#26313 Minor changes to table frames
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/objects/structures/table_frames.dm
Labels: Fix, -Status: Awaiting merge

#26361 Updates chem smoke to work visually again
  code/game/objects/effects/effect_system/effects_chem_smoke.dm
Labels: Fix, -Status: Awaiting review

#26342 fix rigged powercell for modsuits
  code/modules/mod/mod_core.dm
  code/modules/power/cell.dm
Labels: Fix, -Status: Awaiting merge

#26371 Fixes AI cores being weirdly wrenchable
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Fix

#26255 Refactors `janitorialcart/attackby` and removes a very duplicated proc on mops, lightreplacers and more
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/janicart.dm
Labels: Refactor, -Status: Awaiting merge

#26338 Fixes blindness through eye damage not affecting flashes or eye damage, also fixes blindfolds
  code/modules/mob/living/carbon/carbon_procs.dm
Labels: Fix, -Status: Awaiting merge

#26374 Bring emitter locking back
  code/modules/power/engines/singularity/emitter.dm
Labels: Fix

#25896 Remaps the Delta AI Sat
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#26174 Caterpillars and Nymphs that evolve no longer provide blood to vampires and cannot be culted
  code/__HELPERS/trait_helpers.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/mob/living/simple_animal/friendly/diona_nymph.dm
  code/modules/mob/living/simple_animal/friendly/nian_caterpillar.dm
Labels: Balance, -Status: Awaiting merge, Pre-approved PR

#26384 updates the general chem blacklist comment
  code/_globalvars/lists/reagents_lists.dm
Labels: -Status: Awaiting type assignment

#26381 Prevents depot mob from dropping two salvage
  code/modules/mob/living/simple_animal/hostile/syndicate_mobs.dm
Labels: -Status: Awaiting type assignment

#26382 Coffin healing now updates vampire's overall health
  code/datums/status_effects/debuffs.dm
Labels: Fix, -Status: Awaiting type assignment

#26226 mapping: create directional helpers for requests consoles.
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/area/areas/mining_areas.dm
  code/game/machinery/requests_console.dm
  icons/obj/terminals.dmi
  tools/UpdatePaths/Scripts/XXXXX_reqconsole_directionals.txt
Labels: Map Edit, Sprites, -Status: Awaiting merge

#25905 Upgrades Atmos APC power cell roundstart
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#26366 fix: Remove wall under vendor on Delta.
  _maps/map_files/stations/deltastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#25852 Flash refactor and rebalance
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  code/game/objects/items/devices/flash.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Map Edit, Balance, -Status: Awaiting review

#25915 Allows Job and Species specific items to roll discounts
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/objects/items/devices/uplinks.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#26377 fix: Autoapply disposal sort junction names.
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/modules/recycling/disposal.dm
  tools/maplint/lints/sort_junction_names.yml
Labels: Fix, Map Edit, -Status: Awaiting merge

#25630 Gives Most High-Risk Items Extended Descriptions
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/documents.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/knuckledusters.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/suits/armor_suits.dm
  code/modules/hydroponics/gene_modder.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Tweak, -Status: Awaiting review

#26191 Makes people on skateboards unable to pull things
  code/_globalvars/traits.dm
  code/datums/components/riding/riding.dm
  code/modules/mob/living/living.dm
  code/modules/vehicle/tg_vehicles/tg_vehicles.dm
Labels: Balance, -Status: Awaiting merge, Pre-approved PR

#25922 Adds an abandoned security shuttle space ruin
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_sec_shuttle.dmm
  code/datums/particles.dm
  code/datums/ruins/space_ruins.dm
  code/game/area/areas/ruins/space_areas.dm
  code/game/objects/effects/effects.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/awaymissions/mob_spawn.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/undead.dm
  code/modules/power/cell.dm
  code/modules/projectiles/guns/medbeam.dm
  config/example/config.toml
  icons/effects/particles/generic_particles.dmi
  icons/mob/simple_human.dmi
Labels: Map Edit, Sprites, Configuration Change, -Status: Awaiting merge

#26390 Adds hijack items back to the uplink for normal traitors
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_nuclear.dm
  code/datums/uplink_items/uplink_traitor.dm
Labels: Fix, -Status: Awaiting type assignment

#26032 BSH update
  code/modules/station_goals/bluespace_tap.dm
  tgui/packages/tgui/interfaces/BluespaceTap.js
  tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, Testmerge Requested, Testmerge Active, -Status: Awaiting merge, Requires Wiki Update

#26042 remap: Farragus Cargo.
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/stations/cerestation.dmm
  code/game/area/ss13_areas/public_areas.dm
  code/game/area/ss13_areas/supply_areas.dm
  icons/turf/areas.dmi
  icons/turf/floors.dmi
Labels: Map Edit, Sprites, Testmerge Requested, -Status: Awaiting review, Requires Wiki Update

#26392 Fixes a new powercell bug
  code/modules/power/cell.dm
Labels: Fix, -Status: Awaiting type assignment

#26386 fix: Give reqconsole directional updatepaths script its proper ID.
  tools/UpdatePaths/Scripts/26226_reqconsole_directionals.txt
Labels: Fix, -Status: Awaiting merge

#26344 Fixes the Office Door button in the Captain's Bedroom on Boxstation
  _maps/map_files/stations/boxstation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26400 Fixes the B-RPED trying to upgrade machinery that dont have stock parts
  code/game/objects/items/weapons/stock_parts.dm
Labels: Fix, -Status: Awaiting merge

#25903 Adjusts IPC Adrenals to be Like Regular Adrenals - Robotic Equality Update!
  code/game/objects/items/weapons/bio_chips/bio_chip_supercharge.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Balance, -Status: Awaiting merge

#26396 Fixes some grammar on infections
  code/modules/surgery/organs/organ_external.dm
Labels: -Status: Awaiting review

#26401 516 compat: Replace `caller` with `requester`
  code/__HELPERS/paths/jps.dm
Labels: Fix, -Status: Awaiting review

#26391 Delta: Fix arrivals checkpoint access.
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting review

#26016 Adds a disposal chute to the command meeting room on delta station
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#26018 [TWEAK] Runechat Color Preference and Species Dependent Organ (runechat) Removal
  SQL/paradise_schema.sql
  SQL/updates/58-59.sql
  code/__DEFINES/misc_defines.dm
  code/__DEFINES/preferences_defines.dm
  code/game/dna/dna2.dm
  code/modules/client/login_processing/20-load_characters.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/tgui/modules/appearance_changer.dm
  config/example/config.toml
  tgui/packages/tgui/interfaces/AppearanceChanger.js
  tgui/public/tgui.bundle.js
Labels: SQL Change, Configuration Change, Tweak, TGUI, -Status: Awaiting review, Stale Exempt

#26397 Fixes Missing Runechat Color for Tkachi
  interface/skin.dmf
Labels: Fix, -Status: Awaiting merge

#26411 Makes surpluses spawn items again
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Fix

#26410 Fixes runtime in anomalous crystal ghost notification
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Fix, -Status: Awaiting type assignment

#26395 Remove icon_stated broken wood floors
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_horizontal_5.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_vertical_5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/listeningpost.dmm
  _maps/map_files/RandomRuins/SpaceRuins/rocky_motel.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  tools/UpdatePaths/Scripts/26395_broken_floor_converter.txt
Labels: Map Edit, -Status: Awaiting review

#26412 Fixes trifecta not handing out objectives properly
  code/game/gamemodes/trifecta/trifecta.dm
Labels: Fix

#26394 makes cloning scanner deconstructable
  code/game/machinery/clonescanner.dm
Labels: Fix, -Status: Awaiting merge

#26311 Fixes medical grippers not being usable in surgery
  code/__HELPERS/trait_helpers.dm
  code/game/objects/items/robot/cyborg_gripper.dm
  code/modules/surgery/abstract_steps.dm
  code/modules/surgery/surgery.dm
Labels: Fix, -Status: Awaiting review

#26416 Resolve TGUI eslint deps issue
  tgui/package.json
  tgui/yarn.lock
Labels: Fix, Dependencies

#26403 Fixes tether module being able to tether yourself
  code/modules/mod/modules/modules_engineering.dm
Labels: Fix, -Status: Awaiting type assignment

#26007 Merges the Hug Module With the Cyborg Gripper
  code/game/objects/items/robot/cyborg_gripper.dm
  code/game/objects/items/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#26417 Fix CrewMonitors too many actions
  tgui/packages/tgui/components/NanoMap.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#26419 Fix invisible rolling paper pack
  code/game/objects/items/weapons/storage/fancy.dm
Labels: Fix, -Status: Awaiting merge

#26375 Makes emitter hits that didn't turn on the SM not get logged by investigate
  code/modules/power/engines/singularity/emitter.dm
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Administration, -Status: Awaiting merge, Logging

#26089 Fixes missing vent and scrubber in security checkpoint near brig on delta station
  _maps/map_files/stations/deltastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#26427 Makes dry mops insert properly into the janicart
  code/game/objects/items/weapons/mop.dm
Labels: Fix

#26085 -🧊- FEATURE FREEZE -🧊-
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  README.md
Labels: Bug, Cannot Reproduce, Controversial, Do Not Merge, Feature, Feature Request, Fix, Map Edit, Map Issue, Not A Bug, High Priority, Refactor, Revert/Feature Removal, Sound, Sprites, Usability, Runtime, Balance, Oversight, Exploit, User Interface, Cannot/Will Not Fix, BYOND Issue, Grammar and Formatting, Performance, Custom Item, WTF, Easily Fixed, Administration, Working as Intended™, Inconsistency, Security, MetaStation, BoxStation, Work In Progress, Meme PR, FEATURE FROZEN, Tweak, Needs Info, Map Templates, Duplicate, Misdesign, Port, Documentation, Literally Everybody Ded, Map Edit Without Pics, I ded pls nerf, Tools, LIKE COMMENT AND SUBSCRIBE FOR MORE VIDEOS, oops, Code Improvement, Need Verification, DeltaStation, Good First Issue, Code Limitation, Test Merge Candidate, Multi-PR Contribution, Fix Citation Needed, Map Freeze, Dependencies, JavaScript, Infrastructure, General Map, TGUI, Large PR, Webeditor Heresy, NanoMaps, Python, Very Important PR, The Spawn Of Satan, Wrong Repo, (99% Sure) Not A Bug, Spurious, GC Related, Wanted Change, Approved, On Hold, Testmerge Requested, Untested, Requires Refactor, -Status: Awaiting approval, Project Progression, Micro-Optimisation, I am unable to can, CereStation, github_actions, Bad RNG, Logging, TGUI Upgrade Project, TGUI frozen, Test PR; Please ignore, Stale Exempt, [MQL] BoxStation, [MQL] DeltaStation, [MQL] MetaStation, [MQL] CereStation

#26409 Fixes flash check runtime when flashee does not have eyes
  code/modules/mob/living/carbon/carbon_procs.dm
Labels: Fix, -Status: Awaiting merge

#25971 Remaps and Refines the Farragus Science Asteroid
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting review

#26424 refactor: Streamline biohazard blackbox recording.
  code/__DEFINES/misc_defines.dm
  code/controllers/subsystem/SSticker.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/modules/admin/misc_admin_procs.dm
Labels: -Status: Awaiting review, Logging

#26423 Byondstorage tweaks
  tgui/packages/common/storage.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
Labels: Refactor, Code Improvement, TGUI, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#26431 Fixes a runtime with buildmode
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/basic.dm
Labels: -Status: Awaiting type assignment

#26298 Getting Medieval - Breach Cleaver
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/buffs.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/storage/belt.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/weapons_lefthand.dmi
  icons/mob/inhands/weapons_righthand.dmi
  icons/mob/screen_alert.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/weapons/melee.dmi
  sound/weapons/swordhit.ogg
  sound/weapons/swordhitheavy.ogg
Labels: Feature, Sound, Sprites, Balance, -Status: Awaiting review, Requires Wiki Update

#26083 Tidies up grenades.
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/clusterbuster.dm
  code/game/objects/items/weapons/grenades/custom_grenades.dm
  code/game/objects/items/weapons/grenades/emgrenade.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/frag.dm
  code/game/objects/items/weapons/grenades/ghettobomb.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/game/objects/items/weapons/grenades/spawnergrenade.dm
  code/game/objects/items/weapons/grenades/syndieminibomb.dm
Labels: Refactor, Tweak, -Status: Awaiting review

#26454 FIX: Remove armor value 0-0-0-0-0-0 in plague doctor mask
  code/modules/clothing/masks/gasmask.dm
Labels: Refactor, -Status: Awaiting merge

#26402 Fix DNA modifier update_icon_state() proc
  code/game/dna/dna_modifier.dm
Labels: Fix, -Status: Awaiting merge

#26433 [TGUI] Fixes scrollbar & background styles for 516
  html/statbrowser.css
  html/statbrowser.js
  tgui/packages/tgui/layouts/Layout.js
  tgui/packages/tgui/styles/layouts/Layout.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Refactor, TGUI, -Status: Awaiting merge

#26468 Fixes traitor-chan runtiming on roundstart
  code/game/gamemodes/objective.dm
Labels: Fix

#26451 refactor: remove maint loot spawn varedits.
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/metastation.dmm
  tools/UpdatePaths/Scripts/26451_maintloot_varedits.txt
Labels: Map Edit, Refactor, -Status: Awaiting merge

#26469 Fix CI failures by shuffling RNG in Lavaland procgen
  code/game/turfs/simulated/river.dm
Labels: Fix, Tools

#26067 Slightly Expands 3 Rooms of Cyberiad's AI sat, Tidies Furnishings. Cleans up Vents and Scrubber pipes. Improves Wallbump Placement.
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, -Status: Awaiting merge

#26475 Fixes a pulse demon bug
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon_abilities.dm
Labels: Fix

#26446 Proto pulse slugs no longer immediately destroy reinforced walls
  code/modules/projectiles/projectile/beams.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#26443 [TGUI] Stack Craft 3: Rebirth
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/stack_recipe.dm
  tgui/packages/tgui/components/Collapsible.js
  tgui/packages/tgui/interfaces/StackCraft.js
  tgui/packages/tgui/styles/components/ImageButton.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Feature, TGUI, -Status: Awaiting merge

#26479 Fixes ores runtiming when being picked up
  code/game/objects/items/stacks/stack.dm
Labels: Fix

#26483 Fix stack merge & return lost code
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/stack_recipe.dm
Labels: Fix, -Status: Awaiting type assignment

#26434 Add an admin-spawn-only syndicate scanner
  code/game/objects/items/devices/traitordevices.dm
  icons/obj/device.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#26437 cere: remove errant intercom from aft starboard solars
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26445 Makes Passive Power Consumption Safer and Fixes Negative Power Issues on APCs
  code/game/machinery/machinery.dm
  code/modules/power/lights.dm
  code/modules/power/powernets/README.md
  code/modules/power/powernets/local_powernet.dm
Labels: Fix, -Status: Awaiting merge

#26430 Adds non-heated variations of heated turfs for admin use.
  _maps/map_files/EventStructures/thunderdome_catwalk_chasm_fake.dmm
  _maps/map_files/EventStructures/thunderdome_hiero_default.dmm
  _maps/map_files/EventStructures/thunderdome_hiero_pandora.dmm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/floor/lava.dm
Labels: Map Edit, -Status: Awaiting merge

#26473 Stops runtime in cult spirit realm rune when observer doesn't have a mind
  code/game/gamemodes/cult/runes.dm
Labels: -Status: Awaiting merge

#26448 Airlock Access Buttons will now correctly consume power on powernets
  code/game/machinery/airlock_control/airlock_button.dm
Labels: Fix, Refactor, -Status: Awaiting merge

#26488 Fix ore picking with bag
  code/game/objects/items/stacks/stack.dm
Labels: -Status: Awaiting type assignment

#26078 Tweaked the area for the court room separating it out on delta and meta station
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting review

#26463 Adds comments to atmos defines
  code/__DEFINES/atmospherics_defines.dm
Labels: -Status: Awaiting merge

#26460 Re-adds the Disk Compartmentalizer
  code/game/machinery/constructable_frame.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  icons/obj/vending.dmi
Labels: Sprites, -Status: Awaiting merge

#26449 Adds 3 new light crates
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/supply/supply_packs/pack_emergency.dm
Labels: Feature, -Status: Awaiting merge

#26476 Fix cloak of the prophet not working if a broken mirror exists
  code/modules/mob/living/simple_animal/hostile/mining/elites/herald.dm
Labels: Fix, -Status: Awaiting review

#25619 refactor: Moves simplemob atmos and temperature requirements to DCS elements.
  code/__DEFINES/dcs/signals.dm
  code/datums/elements/atmos_requirements.dm
  code/datums/elements/body_temperature.dm
  code/modules/mob/living/living_life.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  paradise.dme
Labels: Refactor, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#25430 Fix missing ability to get pilot out of mecha manually as MMI
  code/game/mecha/mecha.dm
Labels: Tweak, -Status: Awaiting merge

#26388 Fix Desk Bell Bugs
  code/modules/paperwork/desk_bell.dm
Labels: Fix, -Status: Awaiting merge

#26266 Fixing blood spreading too much during surgery
  code/game/atoms.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items/weapons/soap.dm
  code/modules/detective_work/detective_work.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/surgery/organs/blood.dm
  code/modules/surgery/other.dm
  code/modules/surgery/surgery.dm
Labels: Fix, -Status: Awaiting merge

#26501 Fixes Changeling escape with identity objective not rerolling after target cryos
  code/game/gamemodes/objective.dm
Labels: Fix, -Status: Awaiting type assignment

#26502 blackbox: Add station traits.
  code/controllers/subsystem/processing/SSstation.dm
Labels: -Status: Awaiting type assignment, Logging

#26513 General fix to update tint applying/removing blindness, tweak to facehuggers.
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/carbon_procs.dm
Labels: Fix, -Status: Awaiting type assignment

#26492 Fixes StackCraft search and work on 516
  tgui/packages/tgui/interfaces/StackCraft.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#26481 fix: Make ruin area names more consistent.
  code/game/area/areas/ruins/blackmarketpackers.dm
  code/game/area/areas/ruins/space_areas.dm
  code/game/area/ss13_areas/engineering_areas.dm
Labels: -Status: Awaiting merge

#26444 Set Ore Redemption Machines to use Low Priority Messages
  code/__DEFINES/misc_defines.dm
  code/game/machinery/requests_console.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/events/prison_break.dm
  code/modules/mining/machine_redemption.dm
  code/modules/research/message_server.dm
  icons/obj/terminals.dmi
  tgui/packages/tgui/interfaces/RequestConsole.js
  tgui/public/tgui.bundle.js
Labels: Sprites, TGUI, -Status: Awaiting merge

#26516 Fix PR template approval link
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
Labels: Documentation, -Status: Awaiting type assignment

#26465 Using explosives at end round now gibs you
  code/controllers/subsystem/SSticker.dm
  code/game/objects/explosion.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/admin/misc_admin_procs.dm
  code/modules/admin/topic.dm
Labels: -Status: Awaiting merge

#26496 Stops mice from eating cables during CI
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Fix, -Status: Awaiting review

#26491 Fix missing icon for Stack Craft
  code/game/objects/items/weapons/storage/belt.dm
Labels: Fix, -Status: Awaiting merge

#26511 refactor: Remove unused DCS signal categories.
  code/__DEFINES/dcs/signals.dm
Labels: -Status: Awaiting type assignment

#26495 Replace Magic Numbers Related to EMP and Explosion Severity with Defines
  code/datums/beam.dm
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/guardian/types/explosive_guardian.dm
  code/game/gamemodes/miniantags/guardian/types/protector.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/deployable.dm
  code/game/machinery/doors/poddoor.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/decals/Cleanable/misc_cleanables.dm
  code/game/objects/effects/snowcloud.dm
  code/game/objects/empulse.dm
  code/game/objects/explosion.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/depot_structures.dm
  code/game/turfs/simulated/floor.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/events/spacevine.dm
  code/modules/mining/equipment/mining_charges.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/brain/robotic_brain.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mod/mod_control.dm
  code/modules/power/engines/singularity/narsie.dm
  code/modules/power/gravitygenerator.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/shuttle/shuttle.dm
  code/modules/station_goals/bsa.dm
Labels: Refactor, -Status: Awaiting review

#26447 Cleans up disposal chute power state changes to reduce the number of proc calls it makes throughout the round
  code/modules/recycling/disposal.dm
Labels: Refactor, -Status: Awaiting merge

#26435 cere: Move APCs out of maints.
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#26524 Fixes the signaller device sprite
  icons/obj/assemblies/new_assemblies.dmi
  icons/obj/radio.dmi
Labels: Fix, Sprites, -Status: Awaiting type assignment

#26489 Fixes cult airlock runtime when throwing a mob
  code/game/machinery/doors/airlock_types.dm
Labels: Fix, -Status: Awaiting merge

#26515 Exclude /tg/ui bundle files from VSCode find and search
  .vscode/settings.json
Labels: -Status: Awaiting type assignment

#26527 Fixes typo in issue_report.yml
  .github/ISSUE_TEMPLATE/issue_report.yml
Labels: Grammar and Formatting, -Status: Awaiting type assignment

#26543 Fix the fix to the PR template, emphasise the pre-approval list
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
Labels: Documentation, -Status: Awaiting merge

#26484 Fixes Nanotrasen paper bin + now its tgui_alert instead of alert
  code/modules/paperwork/paperbin.dm
Labels: Fix, -Status: Awaiting merge

#26370 Splits Farragus's bridge blast doors in two.
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting review

#26265 Slaying Goliath: a Washing Machine and Dyeing overhaul
  code/__DEFINES/dye_keys.dm
  code/_globalvars/lists/dye_registry.dm
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/cleaning.dm
  code/game/objects/items.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/dyeing.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/colored_gloves.dm
  code/modules/clothing/head/beanie.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/misc_masks.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/misc_shoes.dm
  code/modules/clothing/spacesuits/alien_suits.dm
  code/modules/clothing/spacesuits/chronosuit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/misc_spacesuits.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void.dm
  code/modules/clothing/suits/hood.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/under/dress.dm
  code/modules/clothing/under/jobs/captain.dm
  code/modules/clothing/under/jobs/cargo.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering_jumpsuits.dm
  code/modules/clothing/under/jobs/medical_jumpsuits.dm
  code/modules/clothing/under/jobs/plasmamen/_plasmamen.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/clothing/under/jobs/security_jumpsuits.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/ninja/suit/ninja_suit.dm
  code/modules/paperwork/stamps.dm
  code/modules/power/cables/cable.dm
  code/modules/power/cables/cable_coil.dm
  icons/obj/machines/washing_machine.dmi
  paradise.dme
  strings/sillytips.txt
Labels: Fix, Sprites, Tweak, -Status: Awaiting review

#26545 Holoparasite host action icon fix
  code/game/gamemodes/miniantags/guardian/host_actions.dm
Labels: Fix

#26536 fix: correct iconstate varedited disposals and forbid their use.
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  tools/maplint/lints/disposal_varedits.yml
Labels: Fix, Map Edit, -Status: Awaiting merge

#26462 Makes surgical trays able to hold surgical drapes
  code/game/objects/items/weapons/storage/surgical_tray.dm
Labels: Tweak, -Status: Awaiting merge

#26472 Updates some flag lore
  code/game/objects/items/flag.dm
Labels: -Status: Awaiting merge

#26458 Changes Area Classification of Farragus Science & Cargo Solar Arrays, Standardizes Solar Areas.
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/area/areas/ruins/space_areas.dm
  code/game/area/ss13_areas/engineering_areas.dm
  code/game/area/ss13_areas/maintenance_areas.dm
  icons/turf/areas.dmi
Labels: Map Edit, Sprites, -Status: Awaiting review

#26529 You can no longer parry while dead
  code/datums/components/parry.dm
Labels: Fix, -Status: Awaiting merge

#26507 Fixed the last word pop up window instantly killing you if you are fu…
  code/modules/mob/living/living.dm
Labels: Fix, -Status: Awaiting review

#26439 You can now feel how hot the damage medbeam is. and slightly changes the description
  code/modules/projectiles/guns/medbeam.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#26546 Cleans up last words
  code/modules/mob/living/living.dm
Labels: Refactor, -Status: Awaiting type assignment

#26459 Adds extended descriptions to tarot cards.
  code/game/gamemodes/wizard/magic_tarot.dm
Labels: Feature, -Status: Awaiting merge

#26548 cere: Add a sink to genetics.
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, Oversight, -Status: Awaiting type assignment

#26564 Fixes a oversight with xenobiology
  code/modules/mob/living/simple_animal/hostile/retaliate/undead.dm
Labels: Fix

#26554 Syndicake factory has power again. And the commando wont go crazy on its pet bunny.
  _maps/map_files/RandomRuins/SpaceRuins/syndiecakesfactory.dmm
  code/game/area/areas/ruins/space_areas.dm
  code/modules/mob/living/simple_animal/friendly/bunny.dm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26573 Fixes the Fix of the Fix for the PR Template Pre-approval Link
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Fix, Documentation

#26569 Internally renames the small size to be more inclusive
  code/game/objects/items/weapons/dna_injector.dm
  code/modules/station_goals/bluespace_tap.dm
Labels: Refactor, -Status: Awaiting type assignment

#26579 Fixes smoke grenades making turfs permanently dark
  code/game/atoms_movable.dm
Labels: Fix, -Status: Awaiting type assignment

#26584 Fixes runtime with paper bins
  code/modules/paperwork/paperbin.dm
Labels: Fix

#26583 Makes training nuclear bomb not cause GC failure on Initialize()
  code/game/gamemodes/nuclear/nuclearbomb.dm
Labels: Fix, -Status: Awaiting type assignment

#26590 Fixes QM having the possibility of becoming a head rev
  code/game/gamemodes/revolution/revolution.dm
Labels: Fix

#26538 refactor: Split up signals file.
  code/__DEFINES/dcs/atom_signals.dm
  code/__DEFINES/dcs/basetype_signals.dm
  code/__DEFINES/dcs/carbon_signals.dm
  code/__DEFINES/dcs/datum_signals.dm
  code/__DEFINES/dcs/dept_signals.dm
  code/__DEFINES/dcs/global_signals.dm
  code/__DEFINES/dcs/item_signals.dm
  code/__DEFINES/dcs/machinery_signals.dm
  code/__DEFINES/dcs/mob_signals.dm
  code/__DEFINES/dcs/movable_signals.dm
  code/__DEFINES/dcs/obj_signals.dm
  code/__DEFINES/dcs/signals.dm
  paradise.dme
Labels: Refactor, -Status: Awaiting merge

#26523 Moving while buckled or while in a locker that is locked / welded will no longer reset resist timer.
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/modules/mob/living/carbon/carbon_procs.dm
Labels: Balance, -Status: Awaiting merge

#26553 Fixing modsuit causing infinitely bloody hands
  code/modules/mod/modules/modules_general.dm
Labels: Fix, -Status: Awaiting merge

#26570 Do not use sprays after putting them into a MODsuit
  code/modules/reagents/reagent_containers/spray.dm
Labels: Fix, -Status: Awaiting review

#26577 Fixes #26559: "Dyed gloves do not appear on in-world sprite"
  code/game/objects/items/dyeing.dm
Labels: Fix, -Status: Awaiting review

#26452 Adds size-based slowdowns to flipping tables.
  code/game/objects/structures/tables_racks.dm
Labels: Tweak, -Status: Awaiting review

#26576 [FIX] Certain AI modules no longer causes overlapping priorities.
  code/game/objects/items/weapons/AI_modules.dm
Labels: Fix, -Status: Awaiting merge

#26500 More varied and balanced maintenance loot.
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/RandomRuins/SpaceRuins/casino.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/telecomns_returns.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wreckedcargoship.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/shuttles/emergency_cramped.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__HELPERS/lists.dm
  code/_globalvars/lists/maint_loot_tables.dm
  code/game/objects/effects/spawners/decorative_spawners.dm
  code/game/objects/effects/spawners/depot_spawners.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/effects/spawners/random/engineering_spawners.dm
  code/game/objects/effects/spawners/random/food_spawners.dm
  code/game/objects/effects/spawners/random/maint_loot_spawners.dm
  code/game/objects/effects/spawners/random/misc_spawners.dm
  code/game/objects/effects/spawners/random/random_spawner.dm
  code/game/objects/effects/spawners/random/readme.md
  code/game/objects/effects/spawners/random/trash_spawners.dm
  code/game/objects/effects/spawners/turf_spawners.dm
  code/game/objects/items/devices/flashlight.dm
  icons/effects/random_spawners.dmi
  paradise.dme
  tools/UpdatePaths/Scripts/26500_random_spawners.txt
Labels: Map Edit, Sprites, Balance, Testmerge Requested, -Status: Awaiting review

#26533 IPC Clowns and Mimes now heal from the Clown and Mime drinks.
  code/modules/reagents/chemistry/reagents/drinks_reagents.dm
Labels: Feature, Balance, Tweak, -Status: Awaiting merge

#26534 Added attack_self to the petrock so you can appreciate it
  code/game/objects/items/toys.dm
Labels: Feature, -Status: Awaiting merge

#26608 Makes human huds not harddel
  code/_onclick/hud/hud_datum.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#26490 [TGUI] Refactor & Improve ImageButton component
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Button.tsx
  tgui/packages/tgui/components/ImageButton.js
  tgui/packages/tgui/components/ImageButton.tsx
  tgui/packages/tgui/interfaces/ChemMaster.tsx
  tgui/packages/tgui/interfaces/CoinMint.tsx
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/interfaces/PrizeCounter.tsx
  tgui/packages/tgui/interfaces/RCD.js
  tgui/packages/tgui/interfaces/RPD.js
  tgui/packages/tgui/interfaces/RequestConsole.js
  tgui/packages/tgui/interfaces/StackCraft.js
  tgui/packages/tgui/interfaces/StripMenu.tsx
  tgui/packages/tgui/interfaces/VotePanel.js
  tgui/packages/tgui/stories/Button.stories.js
  tgui/packages/tgui/stories/ImageButton.stories.js
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/components/ImageButton.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge

#26597 Cere: Bot patrols no longer stuck in Arrivals.
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#26578 Reverts #25805 and #25846: "Only one IV bag at a time "
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
Labels: Revert/Feature Removal, -Status: Awaiting merge

#26612 Cleans up a few more duplicate var definitions
  code/modules/awaymissions/mission_code/ruins/deepstorage.dm
  code/modules/mod/mod_actions.dm
  code/modules/vehicle/tg_vehicles/tg_vehicles.dm
Labels: Code Improvement, -Status: Awaiting review

#26613 Fixes a source of camera harddels
  code/game/machinery/camera/camera.dm
Labels: Fix, GC Related, -Status: Awaiting merge

#26611 Makes blood decals clean up their weightless image
  code/game/objects/effects/decals/Cleanable/humans.dm
Labels: Fix, GC Related, -Status: Awaiting merge
