Repository ParadiseSS13/Paradise, pull requests merged in 2024-03, with the labels that each got.

#23958 Minor pill/patch application refactor
  code/modules/mob/living/carbon/alien/alien_base.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Fix, -Status: Awaiting merge

#23969 Add Cranial Hypertrichosis (Hair Grow Symptom)
  code/datums/diseases/advance/symptoms/hair.dm
  paradise.dme
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#24107 But what if I don't want to kill people? Disabler SMG Port.
  code/modules/projectiles/ammunition/energy_lens.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/supply/supply_packs/pack_security.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/guns/energy.dmi
  sound/weapons/taser3.ogg
Labels: Feature, Sound, Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#24224 Smoke Grenade Module + Blob Buff
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/modules/mod/modules/modules_security.dm
  code/modules/research/designs/modsuit_designs.dm
  icons/obj/clothing/modsuit/mod_modules.dmi
Labels: Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#24257 Photos can be burnt with hot items
  code/modules/paperwork/photography.dm
Labels: Tweak, -Status: Awaiting merge

#24279 Makes Weeping Angel Conversion Clearer
  code/modules/projectiles/projectile/magic_projectiles.dm
Labels: Tweak, -Status: Awaiting merge

#24295 Makes attack animation if baton is toggled off
  code/game/objects/items/weapons/stunbaton.dm
Labels: Tweak, -Status: Awaiting merge

#24312 Makes Check Grep output line numbers again
  tools/ci/check_grep2.py
Labels: Infrastructure, -Status: Awaiting merge

#24344 Fixes attacking chemmasters when unwrenching them
  code/modules/reagents/chemistry/machinery/chem_master.dm
Labels: Fix, -Status: Awaiting merge

#24348 Clarifies, cleans up auto-autopsy report functionality
  code/game/objects/items/devices/autopsy.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#24352 Replaces the `stat < DEAD` with `stat != DEAD` comparisons
  code/game/gamemodes/scoreboard.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mob/living/living.dm
Labels: Refactor, -Status: Awaiting merge

#24362 fixes xenos being nullspaced in rare situations
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
Labels: Fix, -Status: Awaiting merge

#24363 Adds names and descriptions to most bullets and ammo boxes
  code/modules/projectiles/ammunition/ammo_boxes.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/guns/projectile/saw.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#23992 Headslug for everyone + Headslug once per absorb + Cling abilities offline after reviving
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/datum_changeling.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/changeling/powers/become_headslug.dm
  code/modules/antagonists/changeling/powers/revive.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#23234 Sleight of Hand, a Bartender Ability
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/game/jobs/job/support.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/martial_arts/judo.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Sprites, Balance, -Status: Awaiting review, Requires Wiki Update

#22734 forbid in-DMI icon state name dupes with CI
  .github/workflows/ci.yml
  code/modules/customitems/item_defines.dm
  icons/mob/robots.dmi
  icons/mob/screen_bot.dmi
  icons/mob/screen_robot.dmi
  icons/obj/custom_items.dmi
  icons/obj/flora/snowflora.dmi
  icons/obj/wizard.dmi
  tools/ci/check_icon_dupenames.py
Labels: Refactor, Sprites, -Status: Awaiting review

#23987 Welding tools can be used to light other people's cigarettes
  code/game/objects/items/tools/welder.dm
Labels: Tweak, -Status: Awaiting review

#23947 Add DMI/JSON export to local client admins.
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: Refactor, -Status: Awaiting review

#23489 Add coordinate janicart pda
  code/modules/pda/cart_apps.dm
  code/modules/vehicle/janivehicle.dm
  tgui/packages/tgui/interfaces/pda/pda_janitor.js
  tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting approval

#24033 Pepper Spray update
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting review, Requires Wiki Update

#24124 Spectral blade now shows orbs, not ghosts
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mob/dead/observer/observer_base.dm
Labels: Tweak, -Status: Awaiting merge

#24305 Removes unused revival code from revenants
  code/game/gamemodes/miniantags/revenant/revenant.dm
Labels: Code Improvement, -Status: Awaiting merge

#24353 Fixes hydroponics tray irrigation
  code/modules/hydroponics/hydroponics_tray.dm
Labels: Fix, -Status: Awaiting merge

#24247 Upgrades SpacemanDMM + Dreamchecker CI
  .github/workflows/ci.yml
  _build_dependencies.sh
  tools/ci/annotate_dm.py
  tools/ci/annotate_dm.sh
Labels: Tools, Infrastructure, -Status: Awaiting review

#23968 Removes Toxin Damage from Drinking Blood in Virus Culture Bottles
  code/__DEFINES/reagents_defines.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/reagents/chemistry/reagents_datum.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/surgery/organs/blood.dm
Labels: Tweak, -Status: Awaiting merge

#24401 Made sleepy pens awake enough to react.
  code/modules/paperwork/pen.dm
Labels: Fix, -Status: Awaiting merge

#24397 Remove account login from EFTPOS
  code/modules/economy/economy_machinery/eftpos.dm
Labels: Fix, TGUI, -Status: Awaiting merge

#24386 make no_lava mapping helper visible above rock walls
  code/modules/mapping/mapping_helpers.dm
Labels: Tweak, -Status: Awaiting merge

#24381 Deletes some unused vars
  code/modules/admin/holder2.dm
Labels: Code Improvement, -Status: Awaiting merge

#24375 nearspace is radioactive again during radstorms
  _maps/map_files/generic/centcomm.dmm
  code/game/area/misc_areas.dm
  icons/turf/areas.dmi
Labels: Fix, Map Edit, Sprites, -Status: Awaiting merge

#24132 NT Recruiter: Tweaks and replacing gender with DOB
  code/game/machinery/computer/arcade_games/recruiter.dm
  tgui/packages/tgui/interfaces/NTRecruiter.js
  tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge

#24410 Removed improper \improper
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/wizard/godhand.dm
  code/game/machinery/computer/atmos_controllers.dm
  code/game/mecha/paintkits.dm
  code/game/objects/items/devices/camera_bug.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/structures/signs.dm
  code/game/turfs/simulated/floor/light_floor.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/suits/misc_suits.dm
  code/modules/crafting/guncrafting.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/jungle_animals.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/fish.dm
  code/modules/paperwork/stamps.dm
  code/modules/power/engines/singularity/collector.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/research/anomaly/anomaly.dm
Labels: Fix, Grammar and Formatting, -Status: Awaiting merge

#24420 [s] Fixes a modsuit exploit
  code/modules/mod/modules/_modules.dm
Labels: -Status: Awaiting type assignment

#24345 ATM resprite
  icons/obj/terminals.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#24437 Stinky clings
  code/modules/antagonists/changeling/datum_changeling.dm
Labels: -Status: Awaiting type assignment, Test PR; Please ignore

#24439 adds z's to clings
  code/modules/antagonists/changeling/datum_changeling.dm
Labels: -Status: Awaiting type assignment, Test PR; Please ignore

#24440 lava medbay cyberiad
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting type assignment, Test PR; Please ignore

#24475 [s] Merge queue test - Remove headslugged var
  code/modules/antagonists/changeling/datum_changeling.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/changeling/powers/become_headslug.dm
Labels: Test PR; Please ignore

#24453 Removed a few not-useful wrench comments.
  code/game/objects/items/tools/wrench.dm
Labels: Refactor, -Status: Awaiting merge

#24431 fixes a bogus runtime
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon.dm
Labels: Fix, -Status: Awaiting merge

#24418 Fix simplemobs' see_through_darkness
  code/_onclick/hud/other_mobs_hud.dm
Labels: Fix, -Status: Awaiting merge

#24409 fixes the error where chicks lose their custom name when growing into chickens
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: Fix, -Status: Awaiting merge

#23926 Adds The Qani-Laaca Sensory Computer and mephedrone. Ready for review into merge
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/directions.dm
  code/__DEFINES/misc_defines.dm
  code/__HELPERS/filters.dm
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/_onclick/hud/human_hud.dm
  code/datums/elements/shatters_when_thrown.dm
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/atoms.dm
  code/game/objects/effects/temporary_visuals/misc_visuals.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/projectiles/projectile_base.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents_datum.dm
  code/modules/reagents/chemistry/reagents_holder.dm
  code/modules/reagents/chemistry/recipes/drugs_reactions.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/organs/organ_internal.dm
  icons/mob/human_races/robotic.dmi
  icons/obj/surgery.dmi
  paradise.dme
Labels: Feature, Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update, Requires Space Law Update

#24226 Makes glass shards craftable using sheets
  code/game/objects/items/stacks/sheets/glass.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#24367 ci: update maplint for APC mapping helpers
  tools/maplint/lints/apc_pixel_shifts.yml
  tools/maplint/lints/directional_apcs.yml
Labels: Infrastructure, -Status: Awaiting merge

#24332 Fixes AI still seeing HUD on mobs invisible for silicons.
  code/modules/mob/mob_misc_procs.dm
Labels: Fix, -Status: Awaiting review

#24336 fixes deleted cultists still being considered cultists
  code/game/gamemodes/cult/cult_mode.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/shade.dm
Labels: Fix, -Status: Awaiting review

#24361 Fixes #23835: Emotes properly check for mob species
  code/datums/emote.dm
Labels: Fix, -Status: Awaiting review

#24369 Make the safe at Moon Outpost 19 be unknown to captain
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#24466 Borgs without a client can be reset now
  code/modules/mob/living/silicon/robot/robot_mob.dm
Labels: Fix, -Status: Awaiting review

#24339 Fixed lastproduce initialization for grass.
  code/modules/hydroponics/hydroponics_tray.dm
Labels: Fix, -Status: Awaiting review

#24424 replacing with correct bots list for emag in ion storm
  code/modules/events/ion_storm.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Fix, -Status: Awaiting review

#24392 Refresh TGUI blank window fix
  code/modules/tgui/tgui_panel/tgui_panel_external.dm
Labels: Fix, TGUI, -Status: Awaiting review

#24252 Puts some of the stack crafting code onto the stack recipe datum.
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/stack_recipe.dm
Labels: Fix, Refactor, -Status: Awaiting review

#24087 Throwing fix
  code/controllers/subsystem/SSthrowing.dm
  code/game/atoms_movable.dm
Labels: Fix, -Status: Awaiting review

#23900 Yet another Bot refactor. 2.0
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
Labels: Fix, Refactor, -Status: Awaiting review

#24130 tgui chat message stacking and message amount improvements
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: Fix, Tweak, TGUI, -Status: Awaiting approval

#24280 Cult offer puts shard in hands instead of dropping on the floor
  code/game/gamemodes/cult/runes.dm
Labels: Tweak, -Status: Awaiting merge

#24281 Makes the crowbars of non-construction borgs red
  code/game/objects/items/tools/crowbar.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#24283 Blueshield armour no longer refers to the blueshield as a lieutenant
  code/modules/clothing/suits/armor_suits.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#24483 Make the Changelog button change color when unread.
  code/controllers/subsystem/non_firing/SSchangelog.dm
Labels: Fix, -Status: Awaiting type assignment

#24479 MULEBOT AI CALL Fix
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Fix, -Status: Awaiting type assignment

#24491 [s] Make on_mob_movement work on all mob movement
  code/game/objects/items/weapons/RCL.dm
  code/game/objects/items/weapons/defib.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_movement.dm
  code/modules/mod/mod_control.dm
Labels: Fix

#24490 Revert #24361, fixes double screaming
  code/datums/emote.dm
Labels: Fix, Revert/Feature Removal, -Status: Awaiting type assignment

#24511 [S] Bad cubemonkeys
  code/modules/food_and_drinks/food/foods/meat.dm
Labels: Fix

#24478 Bump CI to 515.1633 (515 stable)
  _build_dependencies.sh
Labels: -Status: Awaiting review

#23325 Makes Lavaland Actually... Hot :fire: and some other tweaks for said heat.
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_excavation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_cultaltar.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_envy.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_fountain_hall.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_gluttony.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_greed.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hierophant.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_monster_nest.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pride.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_survivalpod.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ufo_crash.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/templates/biodome_beach.dmm
  code/__DEFINES/atmospherics_defines.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/simulated/floor/mineral_floors.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/awaymissions/mission_code/beach.dm
  code/modules/clothing/gloves/misc_gloves.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/shoes/misc_shoes.dm
  code/modules/clothing/suits/armor_suits.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/simple_animal/hostile/alien_types.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/surgery/organs/organ_datums/lung_datum.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Map Edit, Sprites, Balance, Testmerge Requested, Testmerge Active, -Status: Awaiting review, Requires Wiki Update

#23690 [PORT FEAT] Borg hats
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/silicon/robot/drone/maint_drone.dm
  code/modules/mob/living/silicon/robot/robot_inventory.dm
  code/modules/mob/living/silicon/robot/robot_life.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/silicon/silicon_mob.dm
  icons/mob/robots.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#24017 [BORG UPDATE] Cyborg engineer inflatable walls tool
  code/game/objects/items/robot/items/inflatable_tool.dm
  code/game/objects/structures/inflatable.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  paradise.dme
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#24179 Makes all bitflags use bitshifting
  .github/CONTRIBUTING.md
  code/__DEFINES/admin_defines.dm
  code/__DEFINES/bots.dm
  code/__DEFINES/clothing_defines.dm
  code/__DEFINES/combat_defines.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/genetics_defines.dm
  code/__DEFINES/misc_defines.dm
  code/__DEFINES/mob_defines.dm
  code/__DEFINES/preferences_defines.dm
  code/__DEFINES/radio_defines.dm
  code/__DEFINES/shuttle_defines.dm
  code/__DEFINES/sight.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/non_firing/SSatoms.dm
  code/datums/diseases/_disease.dm
  code/game/dna/dna_modifier.dm
  code/game/machinery/computer/atmos_controllers.dm
  code/game/machinery/requests_console.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/awaymissions/maploader/writer.dm
  code/modules/power/apc/apc_overlay.dm
Labels: Refactor, Documentation, -Status: Awaiting merge

#24321 Changes some of the cyber implants that you get from the cybernetic revolution trait
  code/datums/station_traits/postive_traits.dm
Labels: Balance, -Status: Awaiting merge

#24323 Swaps the wrench and wire snippers for weed and pest spray on the botany implant
  code/modules/surgery/organs/augments_arms.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#24364 Ups the razorwire price to 20
  code/datums/uplink_items/uplink_general.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#24371 The metroid bundle no longer has adrenals, has an emp proof emaged cybernetic heart
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/organs/heart.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#24372 Buffs all glasses
  code/modules/clothing/clothing.dm
Labels: Tweak, -Status: Awaiting merge

#24377 Update the Respawn as NPC -> Mouse intro text
  code/modules/mob/mob.dm
Labels: Grammar and Formatting, Tweak, -Status: Awaiting merge

#24385 Makes weeping angel blindness not affect other angels
  code/modules/mob/living/simple_animal/hostile/angel_statue.dm
Labels: Balance, -Status: Awaiting merge

#24388 Fix syringe being sharp
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Tweak, -Status: Awaiting merge

#24393 Lavaland welcoming billboard
  _maps/map_files/generic/Lavaland.dmm
  code/game/objects/structures/lavaland/billboard.dm
  icons/obj/lavaland/billboard.dmi
  paradise.dme
Labels: Feature, Map Edit, Sprites, -Status: Awaiting merge

#24406 Reduces Autolathe cost of E-Revolver Chargepacks
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#24407 Salt shaker suicide refills its salt
  code/modules/food_and_drinks/food/condiment.dm
Labels: Tweak, -Status: Awaiting merge

#24416 Updates names and descriptions of common ballistics
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/launchers.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/supply/supply_packs/pack_security.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#24421 Allow book printing in Syndicate
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  code/modules/library/library_computer.dm
Labels: Map Edit, -Status: Awaiting merge

#24425 Added a chem heater description to point out that it can cool, too.
  code/modules/reagents/chemistry/machinery/chem_heater.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#24428 Recolour for cargo/qm PDAs (no soul removal)
  icons/obj/pda.dmi
Labels: Sprites, -Status: Awaiting merge

#24432 Mice pull cheese wedges under doors
  code/modules/food_and_drinks/food/foods/ingredients.dm
Labels: Tweak, -Status: Awaiting merge

#24433 Standardize on exclaiming about committing suicide.
  code/game/objects/items/crayons.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/courtroom.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/garrote.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/game/objects/items/weapons/melee/energy_melee_weapons.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/shards.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/verbs/suicide.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/fish/fish_items.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/hydroponics/grown/nettle.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/paperwork/pen.dm
  code/modules/power/cables/cable_coil.dm
  code/modules/power/cell.dm
  code/modules/projectiles/guns/energy_guns.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/projectiles/guns/projectile_gun.dm
  code/modules/surgery/tools.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#24435 Resprite of circuit floor tiles
  icons/turf/floors.dmi
Labels: Sprites, -Status: Awaiting merge

#24460 Adds Secway Crate to Cargo orderables.
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/supply/supply_packs/pack_security.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#24465 New plasmaman suit - Coke Suit
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/plasmamen/civilian_service.dm
  icons/mob/clothing/species/plasmaman/helmet.dmi
  icons/mob/clothing/species/plasmaman/uniform.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
  icons/obj/clothing/species/plasmaman/uniform.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#24468 Adds a skirt to the CMO's garment bag
  code/game/objects/items/weapons/storage/garment.dm
Labels: Tweak, -Status: Awaiting merge

#24476 Makes vendors unanchor themselves when tipping over.
  code/game/machinery/vendors/vending.dm
Labels: Tweak, -Status: Awaiting merge

#24488 Adds Lexorin to the Uplink Poison Bottle Bool. Also, Fixes Lexorin.
  code/modules/mob/living/carbon/carbon_life.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  strings/chemistry_tools.json
Labels: Fix, Balance, -Status: Awaiting merge, Requires Wiki Update

#24499 Adminordrazine/nanites no longer remove traits
  code/modules/reagents/chemistry/reagents/admin_reagents.dm
Labels: Fix, -Status: Awaiting merge

#24492 Made the AI Connection Port setting actually work.
  code/game/objects/items/robot/robot_parts.dm
Labels: Fix, -Status: Awaiting merge

#24503 fixes SM crystals being able to delete containment fields
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Fix, -Status: Awaiting merge

#24538 vsc: run check_grep2 before build
  .vscode/tasks.json
  tools/ci/check_grep2.py
Labels: -Status: Awaiting merge

#24544 Fixes local repos with an edited DME not always being able to compile
  code/modules/mob/living/simple_animal/hostile/terror_spiders/!terror_spiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/__defines.dm
  paradise.dme
Labels: -Status: Awaiting type assignment

#24278 Mapped in cryo cells now gives the correct amount of cables when deconstructed
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Fix, -Status: Awaiting review

#24154 Updates get_edge_target_turf to work better with diagonals
  code/__HELPERS/unsorted.dm
  code/game/objects/items/weapons/dice.dm
Labels: Fix, Tweak, -Status: Awaiting review

#24333 Fixes medical records missing from the medical records console
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting review

#24374 fixes some weird stuff with rejuv pods
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
Labels: Fix, -Status: Awaiting review

#24354 SMES fixes
  code/modules/power/smes.dm
  tgui/packages/tgui/interfaces/Smes.js
  tgui/public/tgui.bundle.js
Labels: Fix, Merge Conflict, TGUI, -Status: Awaiting merge

#24480 Re-enable sleeping affecting colds after 8 years.
  code/datums/diseases/cold.dm
Labels: Fix, -Status: Awaiting review

#24404 Improved storage UX of labcoats and similar.
  code/game/objects/items/weapons/storage/storage_base.dm
  code/modules/clothing/suits/suit_storage.dm
Labels: Fix, Tweak, -Status: Awaiting review

#24518 Remove excess variable from machinery
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/machinery/machinery.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/devices/camera_bug.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Fix, Refactor, -Status: Awaiting review

#24542 [FIX] Jetpack module stabilizer setting button now works.
  code/modules/mod/modules/modules_general.dm
Labels: Fix, -Status: Awaiting type assignment

#24510 reverts "tgui chat message stacking and message amount improvements"
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: Revert/Feature Removal, TGUI, Testmerge Active, -Status: Awaiting review

#24253 Finally adds a decontruction act to wooden barricades!
  code/game/machinery/deployable.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update

#24504 Fix for null "atoms_to_show" runtimes
  code/controllers/subsystem/SSstatpanel.dm
Labels: Fix, -Status: Awaiting review

#24164 Janitors(and jani ert) dont miss disposal shots anymore
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/game/jobs/job/support.dm
  code/modules/recycling/disposal.dm
  code/modules/response_team/ert_outfits.dm
Labels: Feature, -Status: Awaiting review, Requires Wiki Update

#24402 Custom food can now be renamed, as the tip indicates.
  code/modules/food_and_drinks/food/customizables.dm
Labels: Feature, -Status: Awaiting review

#23701 Purchasable Emergency Shuttles (Ready for review)
  code/__DEFINES/economy_defines.dm
  code/controllers/subsystem/SSeconomy.dm
  code/controllers/subsystem/SSshuttles.dm
  code/datums/shuttles.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttle_manipulator.dm
  code/modules/supply/supply_console.dm
  code/modules/supply/supply_pack.dm
  code/modules/supply/supply_packs/pack_abstract.dm
  code/modules/supply/supply_packs/pack_shuttle.dm
  paradise.dme
  tgui/packages/tgui/interfaces/CargoConsole.js
  tgui/public/tgui.bundle.js
Labels: Feature, TGUI, Testmerge Requested, Testmerge Active, -Status: Awaiting merge, Requires Wiki Update

#24415 Lock down research servers
  code/modules/research/server.dm
Labels: Tweak, -Status: Awaiting review

#24456 Change wrench, wirecutters, and powered wirecutters suicides.
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
Labels: Tweak, -Status: Awaiting merge

#24400 Adds the Detective Holobarrier Projector + Chalk
  code/game/jobs/job/security_jobs.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/weapons/holosign_projector.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_lockers.dm
  code/game/objects/structures/holosigns.dm
  icons/effects/effects.dmi
  icons/obj/device.dmi
Labels: Feature, Sprites, -Status: Awaiting review, Requires Wiki Update

#24114 Makes Genetics less miserable + Removes mentions of midget from code.
  code/game/dna/dna_modifier.dm
  code/game/dna/mutations/_mutations.dm
  code/game/dna/mutations/disabilities.dm
  code/game/dna/mutations/mutation_powers.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#24229 People are now hidden behind smoke
  code/__DEFINES/layers.dm
  code/_onclick/hud/plane_master.dm
  code/datums/outfits/outfit_admin.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/clothing/under/solgov.dm
  code/modules/mob/mob.dm
Labels: Balance, -Status: Awaiting review

#24209 Buffs clockwork and cult floortiles
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/walls_misc.dm
Labels: Tweak, -Status: Awaiting review

#24355 Makes it clear that central command has called the shuttle when cance…
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/shuttle/emergency.dm
Labels: Tweak, -Status: Awaiting review

#24514 Fixes #24512: Adds Abductor Experimental Dissection surgery for boneless people
  code/game/gamemodes/miniantags/abduction/abduction_surgery.dm
Labels: Fix, -Status: Awaiting review

#24547 [FIX] Borg hat fixes
  code/modules/mob/living/silicon/!silicon_mob.dm
  code/modules/mob/living/silicon/robot/!robot_mob.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/mob_emote.dm
Labels: Fix, -Status: Awaiting merge

#24287 Adds five new borg skins!
  code/modules/mob/living/silicon/robot/!robot_mob.dm
  icons/mob/robots.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#24341 Quartermaster Drip
  code/datums/dog_fashion.dm
  code/game/jobs/job/support.dm
  code/game/objects/items/weapons/storage/garment.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/head/job_hats.dm
  code/modules/clothing/suits/job_suits.dm
  code/modules/clothing/under/jobs/cargo.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/drask/under/cargo.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/grey/under/cargo.dmi
  icons/mob/clothing/species/kidan/suit.dmi
  icons/mob/clothing/species/kidan/under/cargo.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vox/under/cargo.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/cargo.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/cargo.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#24395 storage items no longer bring up the turf panel on alt-click
  code/datums/outfits/outfit_debug.dm
  code/game/objects/items/weapons/storage/storage_base.dm
  code/game/objects/structures/snow.dm
  code/modules/mod/mod_control.dm
Labels: Performance, Tweak, -Status: Awaiting merge

#24405 Fixes issues with althland ruins causing space on lavaland
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_excavation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#24408 Removes some weird references to the captain job for access
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/living/simple_animal/bot/!bot.dm
Labels: Refactor, Code Improvement, -Status: Awaiting merge

#24477 Surgery table resprite
  icons/obj/surgery.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#24411 Let MMI brains commit suicide.
  code/game/verbs/suicide.dm
  code/modules/mob/living/brain/MMI.dm
Labels: Tweak, -Status: Awaiting merge

#24484 Make directional windows and windoors solid
  code/game/atoms_movable.dm
  code/game/objects/structures/window.dm
Labels: Fix, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#24568 [s] merge queue check script
  tools/mapmerge2/merge_queue_check.py
Labels: -Status: Awaiting type assignment

#24519 Make admin and mentor tickets actually update their info in the table view
  code/controllers/subsystem/tickets/mentor_tickets.dm
  code/controllers/subsystem/tickets/tickets.dm
Labels: Fix, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#24172 Adds a single light fixture in medbay on boxstation
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge

#24204 Removes the mech from the syndie space base
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
Labels: Map Edit, -Status: Awaiting merge

#24228 cere: Add transit tubes between cargo/medbay/evac maints
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge, CereStation

#24543 reverts atmos techs getting cyber lungs during cybernetic revolution rounds
  code/datums/station_traits/postive_traits.dm
Labels: Revert/Feature Removal, -Status: Awaiting merge

#24494 It hurts to lose your groin.
  code/game/dna/mutations/mutation_powers.dm
Labels: Fix, -Status: Awaiting merge

#24256 box: remove stray disposals pipe in starboard central hall
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge

#24265 meta: fix improper and duplicate cabling
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, -Status: Awaiting merge

#24267 delta: fix improper and duplicate cabling
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting merge

#24063 Renames "Cyborg Analyzer" to "Machine Analyzer", it now scans how damaged machines are too!
  code/_onclick/observer_onclick.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/silicon/robot/!robot_mob.dm
  code/modules/research/designs/medical_designs.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#24268 re-maps cables on Farragus
  _maps/map_files/cerestation/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge, CereStation

#24266 cyberiad: fix improper and duplicate cabling
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: Fix, Map Edit, BoxStation, -Status: Awaiting merge

#24261 re-maps cables on metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation, -Status: Awaiting merge

#24272 cere: fix improper and duplicate cabling
  _maps/map_files/cerestation/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge, CereStation

#24334 Resprites brown and white fedora
  code/game/objects/items/weapons/holy_weapons.dm
  code/modules/clothing/head/misc_hats.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#24370 meta: expand warden office slightly
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, MetaStation, -Status: Awaiting merge

#24290 [DELTA] Fixes turbine mix missing pipe
  _maps/map_files/Delta/delta.dmm
Labels: Fix, Map Edit, DeltaStation, -Status: Awaiting merge

#24301 Moved a APC inside the AI core on Delta station
  _maps/map_files/Delta/delta.dmm
Labels: Map Edit, DeltaStation, -Status: Awaiting merge

#24472 Fixes a floating camera in explorer room on NSS Cerebron
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, MetaStation, -Status: Awaiting merge
