Repository ParadiseSS13/Paradise, pull requests merged in 2025-06, with the labels that each got.

#29474 Minor spelling fix in organs_internal.dm
  code/modules/surgery/organs_internal.dm
Labels: Fix, Grammar and Formatting, -Status: Awaiting merge

#29495 Minor spell fixings/removal of Britishism in bscrystal.dm
  code/modules/telesci/bscrystal.dm
Labels: Grammar and Formatting, -Status: Awaiting review

#29500 Fixes a typo in the CC envirosuit
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/plasmamen/antags.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#29494 Spelling fixes/Britishims removed in drugs.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#29414 camera name standardization, part 1
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  tools/UpdatePaths/Scripts/29414_rename_camera_directions.txt
Labels: Map Edit, -Status: Awaiting merge

#29296 Smith Polish - Nerfs gun parts material costs
  code/modules/smithing/smithed_items/misc_smithed.dm
Labels: Tweak, -Status: Awaiting merge

#29156 Get rid of generic office chair type
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_excavation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_minebot_factory.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/RandomRuins/SpaceRuins/casino.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/submaps/rocky_motel_submap.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wreckedcargoship.dmm
  _maps/map_files/shuttles/emergency_raven.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  tools/UpdatePaths/Scripts/29156_generic_chair_part1.txt
  tools/UpdatePaths/Scripts/29156_generic_chair_part2.txt
Labels: Fix, Map Edit, -Status: Awaiting review

#29480 support running saved sdql scripts
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/SDQL2/sdql2_verbs.dm
  paradise.dme
Labels: Feature, Administration, -Status: Awaiting merge

#29455 Standardized plant names
  code/modules/hydroponics/grown/ambrosia.dm
Labels: Code Improvement, -Status: Awaiting merge

#29464 Connects the NorthWest Solars to the Control Console on Cerebron
  _maps/map_files/stations/metastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#29527 Update growing.dmi to Allow Gaia To Be Seen Again
  icons/obj/hydroponics/growing.dmi
Labels: Fix, Sprites, -Status: Awaiting type assignment

#29451 Allows for negative payroll modification
  code/modules/economy/economy_admin.dm
Labels: Fix, Administration, -Status: Awaiting type assignment

#29524 [FIX] Gorilla icon updates on death
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
Labels: Fix, -Status: Awaiting review

#29545 Lone HE Junctions are not Invisible
  icons/atmos/junction.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#29540 Fixes Incorrect Dublin Drop Recipe
  code/modules/reagents/chemistry/recipes/drinks_reactions.dm
Labels: Fix, -Status: Awaiting merge

#29539 Fix FLASH_PROTECTION trait not protecting against flashes.
  code/modules/mob/living/living.dm
Labels: Fix, -Status: Awaiting merge

#29523 Harmful Cash No More
  code/game/objects/items/weapons/cash.dm
Labels: Tweak, -Status: Awaiting merge

#29512 Angel Statues Cannot Move When Borgs View Them
  code/modules/mob/living/simple_animal/hostile/angel_statue.dm
Labels: Fix, -Status: Awaiting merge

#29445 No Brute From Throwing Cig Butts
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/storage/fancy.dm
Labels: Tweak, -Status: Awaiting merge

#29452 Adds a hud icon for non-abstract nodrop items
  code/__DEFINES/misc_defines.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/spells/horsemask.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/abduction/abduction_outfits.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/grenades/syndieminibomb.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/knuckledusters.dm
  code/game/objects/items/weapons/powerfist.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/antagonists/mind_flayer/powers/flayer_weapon_powers.dm
  code/modules/clothing/masks/misc_masks.dm
  code/modules/clothing/spacesuits/alien_suits.dm
  code/modules/clothing/spacesuits/chronosuit.dm
  code/modules/customitems/item_defines.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/human/human_inventory.dm
  code/modules/mob/living/carbon/superheroes.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
  code/modules/mod/mod_activation.dm
  code/modules/ninja/suit/ninja_suit.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/subtypes/standard_organs.dm
  icons/mob/screen_midnight.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#29454 Disables Revenant's ability to emag the emergency shuttle console
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
Labels: Tweak, -Status: Awaiting merge

#29479 Shrinks mice
  code/modules/mob/mob_holder.dm
Labels: Tweak, -Status: Awaiting merge

#29394 SMES Noises
  code/modules/power/smes.dm
  sound/effects/contactor_off.ogg
  sound/effects/contactor_on.ogg
Labels: Sound, -Status: Awaiting merge

#29552 Volcanic Activity Fixes
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_nt.dmm
  code/datums/weather/weather_types/lavaland_weather.dm
  code/game/area/areas/mining_areas.dm
Labels: Fix, Map Edit, -Status: Awaiting review

#29544 Typo fixes to magboots.dm
  code/modules/clothing/shoes/magboots.dm
Labels: Grammar and Formatting, -Status: Awaiting review

#29541 Wizard spells spelling/grammar fixes
  code/datums/spells/bloodcrawl.dm
  code/datums/spells/conjure.dm
  code/datums/spells/construct_spells.dm
  code/datums/spells/horsemask.dm
  code/datums/spells/magnet.dm
  code/datums/spells/mime_malaise.dm
  code/datums/spells/wizard_spells.dm
Labels: Grammar and Formatting, -Status: Awaiting review

#29537 Typo and grammar fixes for alien spells
  code/datums/spells/alien_spells/corrosive_acid_spit.dm
  code/datums/spells/alien_spells/lay_alien_eggs.dm
  code/datums/spells/alien_spells/neurotoxin_spit.dm
  code/datums/spells/alien_spells/plasma_weeds.dm
  code/datums/spells/alien_spells/queen_evolve.dm
  code/datums/spells/alien_spells/transfer_plasma.dm
Labels: Grammar and Formatting, -Status: Awaiting review

#29510 Adds tracksuits to the loadout.
  code/modules/client/preference/loadout/loadout_suit.dm
Labels: Tweak, -Status: Awaiting review

#29453 Allows cult fall to have more cultists on lowpop
  code/modules/antagonists/cult/team_cult.dm
Labels: Balance, -Status: Awaiting merge

#29470 A round of spelling/grammar fixes for uplink_general.dm
  code/datums/uplink_items/uplink_general.dm
Labels: Grammar and Formatting, -Status: Awaiting review

#29435 Allows ruins to block other ruins from spawning on the same level
  code/datums/mapping/ruin_placer.dm
  code/datums/mapping/templates/lavaland_map_templates.dm
  code/datums/mapping/templates/space_map_templates.dm
  code/datums/ruins.dm
  code/modules/space_management/space_level.dm
Labels: Tweak, -Status: Awaiting review

#29468 Minor spelling mistake fix in uplink_traitor.dm (Sydnicate to Syndicate)
  code/datums/uplink_items/uplink_traitor.dm
Labels: Grammar and Formatting, -Status: Awaiting review

#29373 Fixes AI program nanites
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/modules/mob/living/silicon/ai/ai_programs.dm
Labels: Fix, -Status: Awaiting review

#29576 place required ruins in decreasing order of size
  code/__HELPERS/cmp.dm
  code/datums/mapping/ruin_placer.dm
Labels: Fix, -Status: Awaiting type assignment

#29556 prohibit prefabs in spawner loot lists
  .github/workflows/ci.yml
  code/game/objects/effects/spawners/random/loot_spawners.dm
  code/game/objects/effects/spawners/random/pool/space_loot.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/mining/ores_coins.dm
  code/modules/telesci/bscrystal.dm
  docs/mapping/random_spawners.md
  tools/ci/check_random_spawner_prefabs.py
  tools/requirements.txt
Labels: Code Improvement, -Status: Awaiting merge

#29428 Makes Roller Beds Printable
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Feature, -Status: Awaiting merge

#29519 Fixes deconstructing shocked devices without consequence
  code/game/machinery/autolathe.dm
  code/game/machinery/vendors/vending.dm
Labels: Tweak, -Status: Awaiting merge

#29580 Allow sentient bees to enter and leave apiaries + fix queen bee home not being set
  code/modules/hydroponics/beekeeping/beebox.dm
Labels: Fix, -Status: Awaiting merge

#29482 Additional sound-emote for Vox (Voxcaw V2)
  code/datums/keybindings/emote_keybinds.dm
  code/modules/mob/living/carbon/human/human_emote.dm
  config/names/verbs.txt
  sound/Attributions.txt
  sound/effects/voxfcaw.ogg
  sound/effects/voxrcaw.ogg
Labels: Feature, Sound, Configuration Change, -Status: Awaiting merge

#29610 Add logging to Summon Ghosts and Silence Ghosts
  code/game/gamemodes/wizard/spellbook.dm
Labels: Administration, -Status: Awaiting merge, Logging

#29587 Statpanel properly renders modsuit control's icon
  code/controllers/subsystem/SSstatpanel.dm
Labels: Fix, -Status: Awaiting merge

#29542 Spelling, grammar, and Britishism fixes for all things news
  code/datums/periodic_news.dm
  code/modules/economy/economy_events/economy_events.dm
  code/modules/economy/economy_events/economy_events_mundane.dm
  code/modules/economy/economy_events/economy_trade_destinations.dm
  code/modules/newscaster/obj/newscaster.dm
  config/news/trivial.txt
Labels: Grammar and Formatting, Configuration Change, -Status: Awaiting review

#29478 Job Perks - True Professionals
  code/__HELPERS/trait_helpers.dm
  code/_onclick/item_attack.dm
  code/datums/diseases/_MobProcs.dm
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/objects/items/granters/_granters.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/crafting/craft.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/library/book.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/power/apc/apc.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/smithing/smith_item.dm
  code/modules/smithing/smithed_items/inserts.dm
  code/modules/smithing/smithed_items/lens.dm
  code/modules/smithing/smithed_items/tool_bits.dm
  code/modules/vehicle/ambulance.dm
Labels: Feature, Balance, -Status: Awaiting merge

#29521 fix undesirable spacedrift behavior
  code/controllers/subsystem/movement/SSmovement.dm
  code/modules/mob/mob_movement.dm
Labels: Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#29618 Rename a `var/src` to `var/source`
  code/modules/power/engines/singularity/particle_accelerator/particle.dm
Labels: -Status: Awaiting type assignment

#29628 Fix ghosts getting double messages when true observing
  code/__HELPERS/game.dm
Labels: Fix, -Status: Awaiting type assignment

#29612 Fix mechas' immunity against lavaland's weather
  code/__DEFINES/mob_defines.dm
  code/datums/weather/weather_types/lavaland_weather.dm
Labels: -Status: Awaiting merge

#29606 Fixes Kinetic Assembler and Scientific Assembler's missing open closed states, makes RPED work on them
  code/modules/smithing/machinery/kinetic_assembler.dm
Labels: Fix, -Status: Awaiting merge

#29561 Migrates the Mindflayer's Silicon Administrative Override to the new Attack Chain
  code/modules/antagonists/mind_flayer/powers/flayer_stealth_powers.dm
Labels: Fix, -Status: Awaiting merge, Attack Chain Migration

#29505 Being buckled doesn't block borg tool and non-remote machine interaction
  code/_onclick/cyborg.dm
Labels: Tweak, -Status: Awaiting merge

#29631 Various vending machine fixes
  code/game/machinery/vendors/custom_vendors.dm
  code/game/machinery/vendors/vending.dm
Labels: Fix, -Status: Awaiting review

#29469 Spelling and grammar fixes for Syndicate item descriptions
  code/datums/uplink_items/uplink_nuclear.dm
  code/datums/uplink_items/uplink_traitor.dm
Labels: Grammar and Formatting, -Status: Awaiting review

#29621 Fix broken radio inside modsuits
  code/modules/mod/mod_control.dm
Labels: Fix, -Status: Awaiting review

#29588 No more ERROR modsuits in SDMM
  code/modules/mod/mod_types.dm
Labels: Code Improvement, -Status: Awaiting review

#29358 Touches up the Abandoned Engineering Satellite
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_engi_sat.dmm
Labels: Map Edit, -Status: Awaiting review

#29426 Infuses the NSV Chrenkov's Windows With Lead
  _maps/map_files/shuttles/emergency_cherenkov.dmm
  code/game/objects/effects/spawners/windowspawner.dm
  code/game/objects/structures/window.dm
  icons/obj/structures.dmi
Labels: Map Edit, Sprites, -Status: Awaiting review

#29427 Add Wheelcart Sound To More Objs
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/machinery/iv_drip.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/atmospherics/machinery/portable/portable_pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: Sound, Tweak, -Status: Awaiting review

#29411 NSS Cerebron (Metastation), adds missing smith locker
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting review

#29611 Prevent AI queen bees from leaving the apiary
  code/modules/mob/living/simple_animal/hostile/bees.dm
Labels: Fix, -Status: Awaiting merge

#29577 Add `RESET_TRANSFORM` to turf wet_overlay
  code/game/turfs/simulated.dm
Labels: Fix, -Status: Awaiting merge

#29356 Adds Evac Signs to Evac Along With Some Evac Floor Markings
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting review

#29485 Midouri Cigarettes are Contraband, Rolling Papers are not, Medical Weed is now Fully Legal Under Space Law
  code/game/machinery/vendors/generic_vendors.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/storage/fancy.dm
Labels: Tweak, -Status: Awaiting review

#29586 Update cling shield description so it doesn't claim it can auto-parry
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Fix, -Status: Awaiting review

#29625 Flashlight Resprite Attempt 2
  icons/mob/inhands/items/devices_lefthand.dmi
  icons/mob/inhands/items/devices_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/engicart.dmi
  icons/obj/lighting.dmi
Labels: Sprites, -Status: Awaiting review

#29575 Fix flavortext not clearing itself if you transform into a flavorless person
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: Fix, -Status: Awaiting merge

#29591 remove several cameras from maints
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting review

#29579 Migrate crematorium and morgue tray to the new attack chain
  code/game/objects/structures/morgue.dm
Labels: -Status: Awaiting review, Attack Chain Migration

#29520 Makes Electrocution have tiers - zap zap
  code/game/objects/effects/temporary_visuals/misc_visuals.dm
  code/modules/mob/living/carbon/_defines.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/living_defense.dm
  icons/effects/effects.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#29630 Updated the strip menu PDA icon
  icons/ui_icons/inventory/pda.png
Labels: Fix, Sprites, -Status: Awaiting review

#29329 Slightly Remaps Derelict 4
  _maps/map_files/RandomRuins/SpaceRuins/derelict4.dmm
  code/datums/mapping/templates/space_map_templates.dm
Labels: Map Edit, -Status: Awaiting review

#29677 fix a typo in can_pass_info decl
  code/__HELPERS/paths/path.dm
Labels: -Status: Awaiting type assignment

#29534 Handheld Scanners Do No Throw Damage
  code/game/objects/items/devices/scanners.dm
Labels: -Status: Awaiting merge

#29546 Wires And Wirecutters Damage Tweak
  code/game/objects/items/tools/wirecutters.dm
  code/modules/power/cables/cable_coil.dm
Labels: Tweak, -Status: Awaiting merge

#29662 Updates Lightning Bolt Smite
  code/modules/admin/topic.dm
Labels: Administration, Tweak, -Status: Awaiting review

#29683 [s] fix vertical offsets incorrectly stacking when switching between resting and standing positions
  code/modules/mob/living/carbon/carbon_update_icons.dm
Labels: -Status: Awaiting type assignment

#29690 tiny newsfeed refactor
  code/controllers/subsystem/SSticker.dm
  code/datums/news_channels.dm
  code/modules/newscaster/newsfeed_datums.dm
  paradise.dme
Labels: Refactor, Code Improvement, -Status: Awaiting merge

#29679 add VV button to event manager
  code/controllers/subsystem/SSevents.dm
Labels: Administration, Code Improvement, -Status: Awaiting merge

#29177 Touches up Meta Engineering, Engineering-Related Maintenance, and Remaps Atmos
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, MetaStation, -Status: Awaiting review

#29596 Fix technology levels of some items
  code/__DEFINES/misc_defines.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/cooking/machines/deep_fryer.dm
  code/modules/cooking/machines/grill.dm
  code/modules/cooking/machines/ice_cream_mixer.dm
  code/modules/cooking/machines/oven.dm
  code/modules/cooking/machines/stovetop.dm
  code/modules/research/research.dm
  code/modules/surgery/organs/organ_extractor.dm
Labels: Fix, -Status: Awaiting review

#29649 Fixes conveyor belts blocking cargo crates from spawning
  code/modules/shuttle/supply.dm
Labels: Fix, -Status: Awaiting review
