Repository ParadiseSS13/Paradise, pull requests merged in 2025-05, with the labels that each got.

#29182 fix too-long oven recipes
  code/modules/cooking/recipes/oven_recipes.dm
Labels: -Status: Awaiting type assignment

#29078 [516] Reduces stuttering issues for 516 users
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: TGUI, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#29183 fix lavaland anomalous crystal shuttle floors
  code/game/turfs/simulated/floor/plating.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Fix, -Status: Awaiting merge

#29175 Fixes Roundstart Air Vacuum
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Labels: Fix, -Status: Awaiting merge

#29155 Fixes layering/cover icon for the sports car
  code/modules/vehicle/sportscar.dm
  icons/vehicles/sportscar.dmi
Labels: Sprites, -Status: Awaiting merge

#29136 fix cigarette syringe injections
  code/game/objects/items/weapons/cigs.dm
Labels: -Status: Awaiting merge

#29193 Fix for stickykey movement issues
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/hotkeys.ts
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, Testmerge Active, -Status: Awaiting review

#29201 fix empty list length check in volcano
  code/datums/weather/weather_types/lavaland_weather.dm
Labels: -Status: Awaiting type assignment

#29097 Standardizes Cargo Telepads in Science
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting review

#28928 Make multitile airlocks/poddoors directional
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_excavation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_nt.dmm
  _maps/map_files/RandomRuins/SpaceRuins/casino.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/freighter.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/sieged_lab.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiedepot.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wreckedcargoship.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  code/__DEFINES/mappers.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/poddoor.dm
  code/game/objects/structures/door_assembly_types.dm
  code/modules/shuttle/shuttle_rotate.dm
  icons/obj/doors/1x2blast_hor.dmi
  icons/obj/doors/1x2blast_vert.dmi
  icons/obj/doors/1x3blast_hor.dmi
  icons/obj/doors/1x3blast_vert.dmi
  icons/obj/doors/1x4blast_hor.dmi
  icons/obj/doors/1x4blast_vert.dmi
  icons/obj/doors/airlocks/glass_large/glass_large.dmi
  icons/obj/doors/airlocks/glass_large/overlays.dmi
  icons/obj/doors/blastdoor.dmi
  icons/obj/doors/blastdoor_1x2.dmi
  icons/obj/doors/blastdoor_1x3.dmi
  icons/obj/doors/blastdoor_1x4.dmi
  icons/obj/doors/door2x1glass.dmi
  icons/obj/doors/door_assembly2x1.dmi
  tools/UpdatePaths/Scripts/28928_directional_doors.txt
  tools/maplint/lints/directional_airlocks.yml
Labels: Map Edit, Sprites, -Status: Awaiting merge

#29075 Bio-suit slowdown reduction
  code/modules/clothing/suits/bio.dm
Labels: Tweak, -Status: Awaiting merge

#29005 Slight Remapping of BoxStation Security Maintenance
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, -Status: Awaiting merge

#29101 Improve ERT appearance by a little
  code/modules/response_team/ert.dm
Labels: Fix, Tweak, -Status: Awaiting review

#29096 Smith Polish: Makes tool bits affect surgery fail rate
  code/modules/smithing/smithed_items/tool_bits.dm
  code/modules/surgery/surgery.dm
Labels: -Status: Awaiting merge

#29088 Tweak tactical first aid kit
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: Tweak, -Status: Awaiting review

#29138 Nerfs Productivity Bit
  code/datums/ores.dm
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/game/turfs/simulated/minerals.dm
Labels: -Status: Awaiting merge

#29171 Resprites biochips and biochip related items
  icons/obj/bio_chips.dmi
Labels: Sprites, -Status: Awaiting review

#29176 add emissives to refill stations
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/atmospherics/machinery/other/refill_station.dm
  icons/obj/atmos.dmi
Labels: Sprites, -Status: Awaiting review

#29181 Updates the shield generator sprites thanks to Exusa and TG
  code/game/machinery/shieldgen.dm
  icons/effects/effects.dmi
  icons/obj/stationobjs.dmi
  paradise.dme
Labels: Sprites, -Status: Awaiting review

#29130 Captain Jumpsuit Resprite + Expansion
  code/game/objects/items/weapons/storage/garment.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/head/job_hats.dm
  code/modules/clothing/under/jobs/captain.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/under/captain.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/under/captain.dmi
  icons/mob/clothing/species/kidan/head.dmi
  icons/mob/clothing/species/kidan/under/captain.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/under/captain.dmi
  icons/mob/clothing/under/captain.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/under/captain.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#29131 Fixes Metastation's smith shutters
  _maps/map_files/stations/metastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#28579 Moves eyes to the eye slot
  code/modules/surgery/organs/eyes.dm
Labels: Tweak, -Status: Awaiting review, Stale Exempt

#29174 add admin verb for log access by round ID
  code/__DEFINES/misc_defines.dm
  code/__HELPERS/files.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/getlogs.dm
Labels: Administration, -Status: Awaiting review

#28956 SQL changes for quirks
  SQL/paradise_schema.sql
  SQL/updates/66-67.sql
  code/__DEFINES/misc_defines.dm
  config/example/config.toml
Labels: SQL Change, Configuration Change, -Status: Awaiting review

#29217 Oneliner to make RSC CDN work.
  code/controllers/subsystem/SStgui.dm
  tgui/public/tgui.html
Labels: TGUI, -Status: Awaiting type assignment

#29218 Fixes captains spare ID getting deleted
  code/game/machinery/cryopod.dm
Labels: Fix, -Status: Awaiting type assignment

#28521 Datumize job assignment.
  code/controllers/subsystem/SSjobs.dm
  code/controllers/subsystem/SSticker.dm
  code/datums/job_selection/job_candidate.dm
  code/datums/job_selection/job_selector.dm
  code/game/jobs/job/job.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/mob/new_player/new_player.dm
  code/tests/game_tests.dm
  code/tests/test_job_selection.dm
  paradise.dme
Labels: Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#28686 Removes the Pulse Demon event from rotation
  code/modules/events/event_container.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update

#28731 Pulse Demon Rework
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon_abilities.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/power/cables/cable.dm
  icons/mob/actions/actions.dmi
Labels: Sprites, Testmerge Requested, Testmerge Active, -Status: Awaiting approval, Requires Wiki Update

#29167 Adds the "badass bandana", puts it in the loadout menu and costume vendor.
  code/game/machinery/vendors/generic_vendors.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/clothing/head/misc_hats.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/kidan/head.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites, -Status: Awaiting merge

#29230 Fixes Captain parade cap mob sprites
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/kidan/head.dmi
  icons/mob/clothing/species/vox/head.dmi
Labels: Fix

#29228 Fixes chat tabs disappearing if chat persistence is disabled
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/public/tgui-panel.bundle.js
Labels: Fix, TGUI, Testmerge Active, -Status: Awaiting type assignment

#29120 Adds a `megafauna_safe_range` var to ruin datums and adds a megafauna exclusion zone to ghost spawn ruins on lavaland.
  code/datums/ruins.dm
  code/datums/ruins/lavaland.dm
  code/game/objects/effects/spawners/random/pool/lavaland_pools.dm
Labels: Map Edit, -Status: Awaiting merge

#29246 516 mindflayer menu scrolling fix
  tgui/packages/tgui/interfaces/AugmentMenu.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting type assignment

#29122 Fix kinetic accelerator desc taking up half your chat when it has modkits inside it
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix, -Status: Awaiting merge

#29209 elementize pet collars
  code/__DEFINES/dcs/mob_signals.dm
  code/datums/elements/strippable.dm
  code/datums/elements/wears_collar.dm
  code/game/objects/items/collar.dm
  code/modules/admin/topic.dm
  code/modules/events/sentience.dm
  code/modules/mining/equipment/lazarus_injector.dm
  code/modules/mob/living/living_status_procs.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/friendly/bunny.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/corgi_stripping.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/friendly/deer.dm
  code/modules/mob/living/simple_animal/friendly/diona_nymph.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/nian_caterpillar.dm
  code/modules/mob/living/simple_animal/friendly/penguin.dm
  code/modules/mob/living/simple_animal/friendly/pet.dm
  code/modules/mob/living/simple_animal/friendly/sloth.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/parrot_stripping.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_misc_procs.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/tests/game_tests.dm
  code/tests/test_wears_collar.dm
  icons/mob/pets.dmi
  paradise.dme
Labels: Sprites, Code Improvement, -Status: Awaiting review

#29249 Thermite won't create fake plating anymore
  code/game/turfs/simulated/walls.dm
Labels: Fix, -Status: Awaiting review

#29241 NSS NSS Farragus, moves a double wide airlock to its correct spot
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting review

#29235 Reagent Lists Fix
  code/_globalvars/lists/reagents_lists.dm
Labels: Fix, -Status: Awaiting merge

#29229 Standardizes Declaration Section on Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: -Status: Awaiting review

#29117 Fixes the perpetual pacemaker attack log
  code/game/gamemodes/miniantags/pulsedemon/cross_shock_component.dm
Labels: -Status: Awaiting merge

#29261 fix a bad typecast with collar element
  code/datums/elements/wears_collar.dm
Labels: Fix, -Status: Awaiting type assignment

#29240 Ports the webroot RSC asset server to rust
  tools/asset_server_rs/.gitignore
  tools/asset_server_rs/Cargo.lock
  tools/asset_server_rs/Cargo.toml
  tools/asset_server_rs/README.MD
  tools/asset_server_rs/src/main.rs
  tools/localhost-asset-webroot-server.py
Labels: Tools, -Status: Awaiting merge

#29211 Fix examine broadcast sending the wrong messages
  code/modules/mob/mob.dm
Labels: Fix, -Status: Awaiting review

#29186 Hides morph ventcrawl cogbar
  code/modules/mob/living/carbon/carbon_procs.dm
Labels: -Status: Awaiting merge

#29025 [Tweak] borgs won't take stamina damage from riot darts
  code/modules/projectiles/projectile/reusable.dm
Labels: Stale, Tweak, -Status: Awaiting review

#29014 Update borg hypospray
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#28791 Adds Firefighting Foam extinguishers, this time hopefully wont be accidentally closing
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering_lockers.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/supply/supply_packs/pack_engineering.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
  icons/obj/objects.dmi
Labels: Map Edit, Sprites, -Status: Awaiting review

#29007 Expands BoxStation Atmospheric Maintenance
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, -Status: Awaiting review

#29040 Smith Expansion - Smith + Xenobiology = Energy Guns
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/machinery/machine_frame.dm
  code/game/machinery/vendors/departmental_vendors.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/smithing/machinery/casting_basin.dm
  code/modules/smithing/machinery/kinetic_assembler.dm
  code/modules/smithing/machinery/power_hammer.dm
  code/modules/smithing/smithed_items/misc_smithed.dm
  code/modules/smithing/smithing_cast.dm
  icons/obj/machines/smithing_machines.dmi
  icons/obj/smithing.dmi
  paradise.dme
Labels: Map Edit, Sprites, -Status: Awaiting review, Requires Wiki Update

#29206 Custom patch icons for ChemMaster
  code/game/objects/items/contraband.dm
  code/modules/asset_cache/assets/asset_chem_master.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/patch.dm
  icons/obj/chemical.dmi
Labels: Sprites, -Status: Awaiting merge

#29196 Restores the "malfunctioning" screen state for the ai
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: -Status: Awaiting merge

#29076 Slightly Remaps Delta Science Maintenance
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting review

#29305 refactor: split up actions file
  code/datums/actions/action.dm
  code/datums/actions/generic_action.dm
  code/datums/actions/innate_action.dm
  code/datums/actions/item_action.dm
  code/datums/actions/spell_action.dm
  paradise.dme
Labels: Refactor

#29307 Fixes malf hud on PROD
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: Fix

#29306 Fix for eyes despawning when heads are reattached
  code/modules/surgery/organs/organ_internal.dm
Labels: -Status: Awaiting type assignment

#29242 Makes antidrop implant release its items regardless which slot theyre in
  code/modules/mob/mob.dm
  code/modules/surgery/organs/augments_internal.dm
  code/tests/game_tests.dm
  code/tests/test_anti_drop.dm
Labels: Fix, -Status: Awaiting review

#29275 fix carp mouth overlays
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: -Status: Awaiting merge

#29272 Fix simple mobs not updating their icon state on `death()`
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: -Status: Awaiting merge

#29269 add admin logging for pulls of mobs, canisters, and reagent tanks
  code/_globalvars/misc_globals.dm
  code/modules/mob/living/living.dm
Labels: Administration, -Status: Awaiting merge, Logging

#29254 Makes cookware printable in autolathe
  code/modules/research/designs/autolathe_designs.dm
Labels: Tweak, -Status: Awaiting merge

#29250 Skrell Specific Bandana Sprites
  code/modules/clothing/masks/misc_masks.dm
  icons/mob/clothing/species/skrell/mask.dmi
Labels: Sprites, -Status: Awaiting review

#29194 Fix repeat kill objective rerolls
  code/game/gamemodes/objective.dm
  code/game/gamemodes/objective_holder.dm
Labels: Fix, -Status: Awaiting merge

#29185 make binary fedora a normal hat
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#29287 Ports pneumatic cannon to new attack chain
  code/game/objects/items/weapons/pneumaticCannon.dm
Labels: -Status: Awaiting review, Attack Chain Migration

#29149 Quicksilver form no longer allows item useage
  code/datums/status_effects/buffs.dm
Labels: Balance, -Status: Awaiting merge

#29216 some food tray improvements
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/food_and_drinks/food_base.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#29215 adds a relay kit to the mining vendor
  code/modules/mining/machine_vending.dm
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#29243 increases garment bag slots to 27
  code/game/objects/items/weapons/storage/garment.dm
Labels: Tweak, -Status: Awaiting merge

#29223 Fire-safety and Emergency Closets' Contents Tweak
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/crates_lockers/walllocker.dm
Labels: Tweak, -Status: Awaiting review

#29244 Skrell Cosmetic Enhancement
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/new_player/sprite_accessories/skrell/skrell_body_markings.dm
  code/modules/mob/new_player/sprite_accessories/skrell/skrell_face.dm
  code/modules/mob/new_player/sprite_accessories/skrell/skrell_facial_hair.dm
  icons/mob/body_accessory.dmi
  icons/mob/sprite_accessories/skrell/skrell_body_markings.dmi
  icons/mob/sprite_accessories/skrell/skrell_facial_hair.dmi
  icons/mob/sprite_accessories/skrell/skrell_hair.dmi
  paradise.dme
Labels: Sprites, -Status: Awaiting review

#29173 Adds the bridge capsule, a mining tool for spawning bridges.
  code/__DEFINES/misc_defines.dm
  code/datums/ruins/bridges/bridges.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/game/turfs/simulated/floor/lava.dm
  code/modules/mining/bridge_capsule.dm
  code/modules/mining/machine_vending.dm
  icons/obj/mining.dmi
  paradise.dme
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#29169 All megafauna now drop ore on death
  code/modules/mining/lavaland/loot/ancient_loot.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mining/lavaland/loot/bubblegum_loot.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  paradise.dme
Labels: Feature, Tweak, -Status: Awaiting review, Requires Wiki Update

#29172 Removing the addFireStacks from Showers
  code/game/objects/structures/watercloset.dm
Labels: Tweak, -Status: Awaiting review

#29048 Makes Mantis Blades Cheaper
  code/datums/uplink_items/uplink_general.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#29205 Smith Polish: Fast-Click Lens Durability Fix
  code/modules/projectiles/guns/energy_guns.dm
Labels: Fix, -Status: Awaiting review

#29309 Another Malf Hud Fix
  code/__HELPERS/mob_helpers.dm
  code/game/data_huds.dm
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: Fix, -Status: Awaiting type assignment

#29154 Smith Polish: Free Golem Integration
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_vending.dm
Labels: Feature, Balance, Tweak, -Status: Awaiting review

#29270 Ports deer to basic mobs and adds some behaviors
  _maps/map_files/stations/emeraldstation.dmm
  code/__DEFINES/ai/blackboard_defines.dm
  code/__DEFINES/basic_mob_defines.dm
  code/__DEFINES/misc_defines.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/emote_with_target.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/stop_and_stare.dm
  code/datums/ai/basic_mobs/basic_subtrees/stare_at_thing.dm
  code/datums/ai/basic_mobs/hunting_behavior/hunting_behaviors.dm
  code/datums/ai/generic/find_and_set.dm
  code/datums/ai/movement/complete_stop.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  code/modules/mob/living/basic/farm_animals/cow.dm
  code/modules/mob/living/basic/farm_animals/deer.dm
  code/modules/mob/living/basic/farm_animals/deer_ai.dm
  code/modules/mob/living/basic/farm_animals/pig.dm
  code/modules/mob/living/simple_animal/friendly/deer.dm
  paradise.dme
  tools/UpdatePaths/Scripts/29270_deer.txt
Labels: Feature, Map Edit, -Status: Awaiting review, Requires Wiki Update

#28813 Adds Staff-say
  code/__DEFINES/chat.dm
  code/__DEFINES/speech_channels.dm
  code/__HELPERS/_logging.dm
  code/datums/keybindings/communication_keybinds.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/asays.dm
  code/modules/redis/callbacks/staff_callback.dm
  code/modules/tgui_input/say_modal/tgui_say_speech.dm
  paradise.dme
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/tgchat/chat-default.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui-say/ChannelIterator.test.ts
  tgui/packages/tgui-say/ChannelIterator.ts
  tgui/packages/tgui-say/styles/colors.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.css
  tgui/public/tgui-say.bundle.js
Labels: Merge Conflict, TGUI, -Status: Awaiting merge

#29303 delete several unused misc procs
  code/__HELPERS/unsorted.dm
Labels: Code Improvement, -Status: Awaiting review

#29189 Energy cutlass resprite
  icons/obj/weapons/energy_melee.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#29161 fix modlink from scryers not renaming the hologram to voice correctly
  code/modules/mod/mod_link.dm
Labels: Fix, -Status: Awaiting review

#29290 Fixes Egun Frame Cast Examine Runtime
  code/modules/smithing/machinery/casting_basin.dm
  code/modules/smithing/smithing_cast.dm
Labels: Fix, -Status: Awaiting review

#29298 IPC monitors no longer reset to a default after reattachment
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Fix, -Status: Awaiting review

#29304 Vetus now properly gets 20% faster in its special moves once it is below half hp
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
Labels: Fix, -Status: Awaiting merge

#29166 Smith Polish: Fixes Radiation
  code/modules/smithing/components/trim.dm
  code/modules/smithing/smith_item.dm
  code/modules/smithing/smithed_items/inserts.dm
  code/modules/smithing/smithed_items/lens.dm
  code/modules/smithing/smithed_items/tool_bits.dm
Labels: Fix, -Status: Awaiting review

#29274 Makes touching engines with Telekinesis retain respawnability
  code/modules/power/engines/singularity/singularity.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/power/engines/tesla/energy_ball.dm
Labels: Fix, -Status: Awaiting review

#29227 switch spawn pools from using IDs to typerefs
  code/game/objects/effects/spawners/random/pool/lavaland_pools.dm
  code/game/objects/effects/spawners/random/pool/misc_pools.dm
  code/game/objects/effects/spawners/random/pool/pool_spawner.dm
  code/game/objects/effects/spawners/random/pool/space_loot.dm
  code/game/objects/effects/spawners/random/pool/spawn_pool.dm
  code/game/objects/effects/spawners/random/pool/spawn_pool_manager.dm
  docs/mapping/spawn_pools.md
Labels: Code Improvement, -Status: Awaiting review

#29264 Adds New Machine Antennae and Screen
  code/modules/mob/new_player/sprite_accessories/ipc/ipc_face.dm
  code/modules/mob/new_player/sprite_accessories/ipc/ipc_head_accessories.dm
  icons/mob/sprite_accessories/ipc/ipc_face.dmi
  icons/mob/sprite_accessories/ipc/ipc_head_accessories.dmi
Labels: Feature, Sprites, -Status: Awaiting review

#29212 Gives Cerebrons Medical monkey cubes
  _maps/map_files/stations/metastation.dmm
Labels: Feature, Map Edit, -Status: Awaiting review

#29262 Adds tracksuits to the game and clothing vendors.
  code/game/machinery/vendors/generic_vendors.dm
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites, -Status: Awaiting review

#29079 Fixes a bug in BSH stabilizer power calculation
  code/modules/station_goals/bluespace_tap.dm
Labels: Fix, -Status: Awaiting merge

#29132 Gives Combat Gloves light armor
  code/modules/clothing/gloves/misc_gloves.dm
Labels: Tweak, -Status: Awaiting merge

#29276 Makes knuckledusters visible on strip menu
  code/datums/elements/strippable.dm
  code/game/objects/items/weapons/knuckledusters.dm
Labels: Tweak, -Status: Awaiting merge

#29187 IPCs can be colorblind
  code/modules/mob/mob_misc_procs.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/subtypes/tajaran_organs.dm
  code/modules/surgery/organs/subtypes/vulpkanin_organs.dm
Labels: Tweak, -Status: Awaiting merge

#29188 Adds tail thumping & scream sound for Unathi
  code/datums/keybindings/emote_keybinds.dm
  code/modules/mob/living/carbon/human/human_emote.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  sound/effects/unathiscream.ogg
  sound/effects/unathitailthump.ogg
Labels: Feature, Sound, -Status: Awaiting merge

#28397 IPC implants are now mechfab-only
  code/game/mecha/mech_fabricator.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/mining_designs.dm
Labels: Feature, Tweak, -Status: Awaiting review, Requires Wiki Update

#29137 Gives the librarian a piece of armor.
  code/game/jobs/job/support.dm
  code/modules/clothing/suits/armor_suits.dm
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#29257 Make mob capsules respect collar names
  code/modules/mining/equipment/lazarus_injector.dm
Labels: Tweak, -Status: Awaiting merge

#29252 New Grey Skin Tones
  code/modules/mob/living/carbon/human/species/grey.dm
  icons/mob/human_races/grey/r_grey.dmi
  icons/mob/human_races/grey/r_grey_blue.dmi
  icons/mob/human_races/grey/r_grey_green.dmi
  icons/mob/human_races/grey/r_grey_red.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#29251 Update Atmos and Engi character preview outfit to match the ingame outfit.
  code/modules/client/preference/character.dm
Labels: Fix, -Status: Awaiting merge

#29328 Fixes Icon for RGB Lighting program
  code/modules/mob/living/silicon/ai/ai_programs.dm
Labels: -Status: Awaiting type assignment

#29323 fix meat/chickensteak recipe collision
  code/__DEFINES/cooking_defines.dm
  code/modules/cooking/recipes/deep_fryer_recipes.dm
  code/modules/cooking/recipes/grill_recipes.dm
  code/modules/cooking/recipes/oven_recipes.dm
  code/modules/cooking/recipes/stove_recipes.dm
  code/modules/cooking/steps/recipe_step_add_meathunk.dm
  paradise.dme
Labels: Fix, -Status: Awaiting review

#29204 add siegedlab loot, add research paper noticeboard
  _maps/map_files/RandomRuins/SpaceRuins/sieged_lab.dmm
  code/modules/awaymissions/mission_code/ruins/sieged_lab.dm
Labels: Fix, Map Edit, Balance, -Status: Awaiting review

#29192 Adds icons for wooden bucket helmets.
  icons/mob/clothing/head.dmi
Labels: Sprites, -Status: Awaiting merge

#29302 Ore bag of Holding and Treasure Satchel resprite by Ell Good and Hollow
  code/game/objects/items/weapons/storage/bags.dm
  icons/obj/mining.dmi
Labels: Sprites, -Status: Awaiting review

#29317 Fixes golem having no access to smart hopper points
  code/modules/smithing/machinery/smart_hopper.dm
Labels: Fix, -Status: Awaiting review

#29199 removes 1 tile chasm potential from summoning ritual ruin
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_cultaltar.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#29312 fix coffee/drgibb jelly bean recipes
  code/modules/cooking/recipes/midway_recipes.dm
Labels: -Status: Awaiting review

#29277 Make autochef ignore abstract items
  code/modules/cooking/autochef/autochef.dm
Labels: -Status: Awaiting review

#29314 No more heartattack on cancelled server restart
  code/modules/admin/misc_admin_procs.dm
Labels: -Status: Awaiting review

#29055 What's an employment record ? 2/6 - Allow sillicons to see peoples' employment records.
  code/modules/mob/living/carbon/examine.dm
Labels: -Status: Awaiting review

#29313 moves hemo claws to new attack chain, fixes them not working at all
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
Labels: -Status: Awaiting review

#29340 Fixes runtime in applying bit damage to unarmed steps in surgery
  code/modules/surgery/surgery.dm
Labels: -Status: Awaiting type assignment

#29333 CMO & RD Drip
  code/_globalvars/lists/dye_registry.dm
  code/datums/dog_fashion.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/objects/items/weapons/storage/garment.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/head/beret.dm
  code/modules/clothing/head/job_hats.dm
  code/modules/clothing/under/jobs/medical_jumpsuits.dm
  code/modules/clothing/under/jobs/rnd.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/head/beret.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/head/beret.dmi
  icons/mob/clothing/species/drask/under/medical.dmi
  icons/mob/clothing/species/drask/under/rnd.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/under/medical.dmi
  icons/mob/clothing/species/grey/under/rnd.dmi
  icons/mob/clothing/species/kidan/head.dmi
  icons/mob/clothing/species/kidan/head/beret.dmi
  icons/mob/clothing/species/kidan/under/medical.dmi
  icons/mob/clothing/species/kidan/under/rnd.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/head/beret.dmi
  icons/mob/clothing/species/vox/under/medical.dmi
  icons/mob/clothing/species/vox/under/rnd.dmi
  icons/mob/clothing/under/medical.dmi
  icons/mob/clothing/under/rnd.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/head/beret.dmi
  icons/obj/clothing/under/medical.dmi
  icons/obj/clothing/under/rnd.dmi
Labels: Sprites, -Status: Awaiting review

#29345 Megafauna dropping ore hotfixes
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
Labels: Fix, -Status: Awaiting review

#29346 fix spelling in vetus' self destruct
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
Labels: Fix, -Status: Awaiting review

#29347 ERT no longer initially spawns in nullspace
  code/modules/response_team/ert.dm
Labels: Fix, -Status: Awaiting review

#29294 Golem ship remap and equipment tweaking.
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/golemtarget.dmm
  code/__DEFINES/misc_defines.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/awaymissions/mission_code/ruins/freegolems.dm
  code/modules/mining/equipment/resonator.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_vending.dm
  code/modules/research/research.dm
  code/modules/shuttle/shuttle.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/closet.dmi
  paradise.dme
Labels: Map Edit, Sprites, -Status: Awaiting review

#29289 Smith visual update
  code/modules/smithing/machinery/casting_basin.dm
  code/modules/smithing/machinery/magma_crucible.dm
  code/modules/smithing/smithing_cast.dm
  icons/obj/machines/magma_crucible.dmi
  icons/obj/machines/smithing_machines.dmi
Labels: Sprites, -Status: Awaiting review

#29200 NXV Chrenkov's Supermatter Shard Cannot Experience Supermatter Events + Doesn't Give Out Shard Objective
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Tweak, -Status: Awaiting review

#29293 Adds a Singularity Monitor Circuit to Diagoras Secure Storage
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, -Status: Awaiting review

#29292 Installs a Singularity Monitor to Delta Engineering
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting review

#29054 What's an employment record ? 1/6 - Add the employment HUD implant.
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_eyes.dm
  icons/obj/surgery.dmi
Labels: Feature, Sprites, Tweak, -Status: Awaiting review

#29056 Standardise security and medical records examination (QOL)
  code/modules/mob/living/carbon/human/human_examine.dm
Labels: Tweak, -Status: Awaiting merge

#29331 Item sprites - Default command uniforms
  code/modules/clothing/under/jobs/captain.dm
  code/modules/clothing/under/jobs/cargo.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering_jumpsuits.dm
  icons/mob/clothing/species/drask/under/engineering.dmi
  icons/mob/clothing/species/grey/under/engineering.dmi
  icons/mob/clothing/species/kidan/under/engineering.dmi
  icons/mob/clothing/species/vox/under/engineering.dmi
  icons/mob/clothing/under/engineering.dmi
  icons/obj/clothing/under/captain.dmi
  icons/obj/clothing/under/cargo.dmi
  icons/obj/clothing/under/civilian.dmi
  icons/obj/clothing/under/engineering.dmi
  icons/obj/clothing/under/procedure.dmi
Labels: Sprites, -Status: Awaiting review

#29128 Adds Instakill Rifle close examine text
  code/modules/projectiles/guns/energy/special_eguns.dm
Labels: Tweak, -Status: Awaiting review

#29184 modsuits now deactivate when dead / don't show a gear when deploying / retracting
  code/__HELPERS/mob_helpers.dm
  code/modules/mod/mod_activation.dm
Labels: Fix, -Status: Awaiting merge

#29170 Fix some chameleon items display no on-mob sprite on non-human species
  code/modules/clothing/chameleon.dm
Labels: Fix, Sprites, -Status: Awaiting review

#29208 Smith Polish: Upgrades - Now in Color!
  code/modules/smithing/smith_datums.dm
  code/modules/smithing/smith_item.dm
Labels: Feature, -Status: Awaiting review, Requires Wiki Update

#29359 [s] fixes something
  code/modules/mob/living/carbon/carbon_update_status.dm
Labels: Fix

#29300 NSS Cyberiad (Boxstation) reinforces a single regular table on the bridge
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, -Status: Awaiting review

#29368 fix permament teleporters with effects
  code/game/machinery/teleporter.dm
Labels: Fix

#29039 Smith Polish: Lenses for Turrets
  code/game/machinery/portable_turret.dm
Labels: Feature, Balance, -Status: Awaiting merge, Requires Wiki Update

#29324 refactor is_blocked_turf
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/SSshuttles.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/basic_attacking.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/run_away_from_target.dm
  code/datums/components/shelved.dm
  code/datums/spells/ethereal_jaunt.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/gamemodes/wizard/magic_tarot.dm
  code/game/machinery/deployable.dm
  code/game/objects/effects/spawners/random/random_spawner.dm
  code/game/objects/items/weapons/caution.dm
  code/game/objects/items/weapons/holosign_projector.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/scrolls.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/events/anomaly_event.dm
  code/modules/events/infestation.dm
  code/modules/events/tear.dm
  code/modules/hallucinations/effects/major.dm
  code/modules/hallucinations/effects/moderate.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/basic/farm_animals/deer_ai.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/recycling/disposal.dm
  code/modules/supply/supply_packs/pack_shuttle.dm
  code/tests/_game_test_puppeteer.dm
Labels: Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#29361 fix new golem ship docking port dimensions
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/golemtarget.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  code/modules/awaymissions/mission_code/ruins/freegolems.dm
  code/modules/shuttle/shuttle.dm
Labels: Fix, Map Edit, -Status: Awaiting review

#29383 fix inability to climb over railings
  code/game/objects/structures.dm
Labels: -Status: Awaiting merge

#29372 Various enhanced tracker fixes
  code/modules/mob/living/silicon/ai/ai_life.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/silicon/ai/ai_programs.dm
Labels: Fix, -Status: Awaiting review

#29371 Fixes nanite amount not displaying in status tab for AIs
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Fix, -Status: Awaiting review

#29363 makes non-required ruin placement failures a log, not a runtime
  code/datums/ruins/ruin_placer.dm
Labels: -Status: Awaiting review, Logging

#29366 Fixes a bunch of missing clothes in the character creator
  code/modules/client/preference/character.dm
Labels: Fix, -Status: Awaiting review

#29279 AI Programs: Nanosurgeon Adjustment
  code/modules/mob/living/silicon/ai/ai_programs.dm
Labels: Tweak, -Status: Awaiting merge

#29320 Buffs event kudzu mutation rate and spread rate.
  code/modules/events/spacevine.dm
Labels: Tweak, -Status: Awaiting merge

#29336 Updates the minimum character age to 20 years.
  code/__DEFINES/mob_defines.dm
Labels: Tweak, -Status: Awaiting merge

#29390 modify default vsc settings to insert final newlines on save
  .vscode/settings.json
Labels: -Status: Awaiting merge

#29387 fix persistent wizard immovable rod
  code/datums/spells/rod_form.dm
Labels: Fix, -Status: Awaiting review

#29381 Reduces log_debug message spam
  code/controllers/subsystem/non_firing/SSatoms.dm
  code/modules/awaymissions/maploader/reader.dm
  code/modules/awaymissions/zlevel_helpers.dm
  code/modules/space_management/space_level.dm
  code/modules/space_management/zlevel_manager.dm
Labels: -Status: Awaiting merge, Logging

#29392 Fixes stack merge runtimes when building stack recipes
  code/game/objects/items/stacks/stack_recipe.dm
Labels: Fix, -Status: Awaiting type assignment

#29140 Grants the white ship submaps
  _maps/map_files/RandomRuins/SpaceRuins/submaps/whiteship_submaps.dmm
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.jsonc
  code/game/objects/effects/map_effects/mapmanip.dm
  code/game/objects/effects/spawners/random/pool/space_loot.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/paperwork/paper.dm
  icons/effects/mapping_helpers.dmi
  tools/maplint/lints/area_noop_on_turf.yml
Labels: Map Edit, Merge Conflict, Sprites, -Status: Awaiting review
