Repository ParadiseSS13/Paradise, pull requests merged in 2025-10, with the labels that each got.

#30367 Adds the alien cache ruin and a PTL terminal
  _maps/map_files/RandomRuins/SpaceRuins/alien_cache_site.dmm
  code/__DEFINES/_math.dm
  code/__HELPERS/lists.dm
  code/datums/mapping/templates/space_map_templates.dm
  code/game/area/areas/ruins/alien_cache_site_areas.dm
  code/game/atoms.dm
  code/game/objects/effects/spawners/random/alien_cache_random_spawners.dm
  code/goonstation/modules/power/power_transmission_laser/transmission_laser.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/power/alien_cache.dm
  code/modules/power/laser_terminal.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/ruins/objects_and_mobs/secure_alien_airlock.dm
  code/modules/ruins/objects_and_mobs/simon_says.dm
  config/example/config.toml
  icons/effects/simon_says_32x32.dmi
  icons/obj/machines/alien_cache.dmi
  icons/obj/machines/ptl_terminal.dmi
  paradise.dme
  sound/effects/simon_says_1.ogg
  sound/effects/simon_says_2.ogg
  sound/effects/simon_says_3.ogg
  sound/effects/simon_says_4.ogg
  sound/effects/simon_says_5.ogg
  sound/effects/simon_says_6.ogg
  sound/effects/simon_says_success.ogg
  sound/effects/simon_says_wrong.ogg
Labels: Map Edit, Sound, Sprites, Configuration Change, -Status: Awaiting review

#30476 Expanded productivity bit usage
  code/game/objects/items/storage/storage_base.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/food_and_drinks/food_base.dm
  code/modules/smithing/machinery/kinetic_assembler.dm
  code/modules/smithing/smithed_items/tool_bits.dm
Labels: -Status: Awaiting review, Requires Wiki Update

#30468 Fix bsod on departmental id consoles
  tgui/packages/tgui/interfaces/CardComputer/job_transfer.tsx
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting review

#30466 Improves smith internals boxes
  code/game/jobs/job/support.dm
Labels: Tweak, -Status: Awaiting review

#30547 Standardize plasma helmets, move lights to overlays.
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  icons/mob/clothing/species/plasmaman/helmet.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
Labels: Sprites, -Status: Awaiting merge

#30449 Add slime, lizard, nian caterpillar, and butterfly holograms
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Feature, -Status: Awaiting merge

#30437 Fix observe runtime
  code/datums/vision_override.dm
  code/modules/mob/dead/observer/observer_base.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_vars.dm
  paradise.dme
Labels: Fix, -Status: Awaiting merge

#30426 add large internals tanks to biosuit suit slot whitelist
  code/modules/clothing/suits/bio.dm
Labels: Tweak, -Status: Awaiting review

#30419 Fixes exfiltration species adjustments, holoparas
  code/__DEFINES/dcs/mob_signals.dm
  code/datums/outfits/outfit_ghostbar.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/modules/antagonists/_common/antag_exfiltration.dm
  code/modules/antagonists/changeling/datum_changeling.dm
  code/modules/antagonists/mind_flayer/flayer_datum.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/vampire/vamp_datum.dm
Labels: Fix, -Status: Awaiting merge

#29806 Converts blob mobs to basic mobs
  code/__DEFINES/ai/blackboard_defines.dm
  code/datums/ai/basic_mobs/basic_subtrees/travel_to_point.dm
  code/modules/events/blob/blob_mobs.dm
  code/modules/events/blob/blob_mobs_ai.dm
  code/modules/events/blob/blob_powers.dm
  code/modules/events/blob/blob_structures/factory.dm
  code/modules/events/blob/overmind.dm
  code/modules/mob/living/basic/basic_mob.dm
  paradise.dme
  tools/UpdatePaths/Scripts/29806_blob_mobs.txt
  tools/ci/check_simplemob_additions.py
Labels: Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#30558 fix references to rustlibs in mapmanip.ps1
  tools/rustlibs_tools/mapmanip.ps1
Labels: Tools, -Status: Awaiting review

#30479 Renames the PDA halogen counter to radiation scanner
  code/modules/pda/cart.dm
  code/modules/pda/utilities.dm
Labels: Merge Conflict, -Status: Awaiting merge

#30504 Buffs Tobacco
  code/modules/hydroponics/grown/tobacco.dm
Labels: -Status: Awaiting review

#30506 Fixes a Farragus External Airlock
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting review

#30554 Fixes Preferences key binding problem Issue #29597
  code/modules/client/preference/preferences.dm
Labels: Fix, -Status: Awaiting review

#30518 Moves some notes in MB19 to be lore consoles
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  code/modules/awaymissions/mission_code/ruins/moonoutpost19.dm
Labels: Map Edit, -Status: Awaiting merge

#30577 Notify cargo of incoming secondary goal crates.
  code/modules/station_goals/secondary/secondary_goal.dm
Labels: -Status: Awaiting merge

#30589 HRD-MDE Legion drops loot now
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
Labels: Fix, -Status: Awaiting review

#30098 Gives many cybernetics on mob sprites. Adds synthetic skin to allow hiding of them.
  code/__DEFINES/misc_defines.dm
  code/game/objects/items/stacks/synthetic_skin.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/living_defense.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_internal.dm
  icons/mob/human_races/robotic.dmi
  icons/obj/surgery.dmi
  paradise.dme
Labels: Feature, Sprites, -Status: Awaiting review, Requires Wiki Update

#30497 Adds new physique and height options to character creation
  code/_globalvars/misc_globals.dm
Labels: Feature, -Status: Awaiting merge

#30424 Separate lights and wallbumps on boxstation/Cyberiad.
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, -Status: Awaiting merge

#30508 Slight Touchup of the Default Emergency Shuttle
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/emergency_cyb.dmm
Labels: Map Edit, -Status: Awaiting merge

#30619 Fixes Broken Shuttle
  _maps/map_files/generic/centcomm.dmm
Labels: Fix, Map Edit, -Status: Awaiting type assignment

#30531 Hides off-station power monitors from the power-on app
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/telecomns_returns.dmm
  _maps/map_files/RandomRuins/SpaceRuins/turretedoutpost.dmm
Labels: Map Edit, -Status: Awaiting merge

#30561 Adds Cult Tables
  code/__DEFINES/icon_smoothing_defines.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/table_frames.dm
  code/game/objects/structures/tables_racks.dm
  icons/obj/smooth_structures/tables/cult_table.dmi
  icons/obj/structures.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#30534 Add better-fitting helmets for monitor heads.
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/misc_hats.dm
  code/modules/clothing/spacesuits/alien_suits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/misc_spacesuits.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/customitems/item_defines.dm
  icons/mob/clothing/species/machine/monitor/hat.dmi
  icons/mob/clothing/species/machine/monitor/helmet.dmi
Labels: Sprites, -Status: Awaiting review
