Repository ParadiseSS13/Paradise, pull requests merged in 2025-04, with the labels that each got.

#28869 hopefully fix users-as-clients runtiming browser UIs
  code/datums/browser.dm
Labels: -Status: Awaiting type assignment

#28471 Adds Recolorable AI Holograms
  code/game/machinery/hologram.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Feature, -Status: Awaiting review, Requires Wiki Update

#28848 Adds admin message for improvised firebomb
  code/game/objects/items/weapons/grenades/ghettobomb.dm
Labels: Administration, -Status: Awaiting review

#28799 Fixes wrong `icon_state` of opened crates on initialize
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Fix, -Status: Awaiting merge

#28651 Makes the Alien Scalpel Into a Laser Scalpel + Slight Sprite Modification
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ufo_crash.dmm
  _maps/map_files/generic/centcomm.dmm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_arms.dm
  icons/obj/abductor.dmi
Labels: Map Edit, Sprites, -Status: Awaiting merge

#28757 Fixes certain atmos devices appearing wrong when unwrenched
  code/game/machinery/pipe/pipe_construction.dm
Labels: Fix, -Status: Awaiting review

#28570 Bans the use of `/area/noop/` from being used where turf are
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_monster_nest.dmm
  _maps/map_files/RandomRuins/SpaceRuins/casino.dmm
  _maps/map_files/RandomRuins/SpaceRuins/clockwork_monastery.dmm
  _maps/map_files/RandomRuins/SpaceRuins/debris1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/debris2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/debris3.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/voyager.dmm
  _maps/map_files/tests/test_ventcrawl.dmm
  tools/maplint/lints/area_noop_on_turf.yml
Labels: Fix, Map Edit, -Status: Awaiting merge

#27988 AI Programs: More than a Door
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/datums/alarm_manager.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/ai_resource.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/machine_frame.dm
  code/game/objects/effects/temporary_visuals/misc_visuals.dm
  code/modules/mob/living/silicon/ai/ai_life.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/silicon/ai/ai_programs.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/silicon/silicon_mob.dm
  code/modules/research/designs/machine_designs.dm
  icons/obj/computer.dmi
  icons/obj/machines/ai_machinery.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/AIProgramPicker.js
  tgui/packages/tgui/interfaces/AIResourceManagementConsole.js
  tgui/public/tgui.bundle.js
Labels: Map Edit, Sprites, Configuration Change, TGUI, Testmerge Requested, Testmerge Active, -Status: Awaiting review, Stale Exempt

#28825 refactor: remove unused var /mob/var/LAssailant
  code/game/objects/items.dm
  code/game/objects/items/weapons/batons.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/mob_vars.dm
  code/modules/recycling/disposal.dm
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Code Improvement, -Status: Awaiting review

#28638 add miscellanous engineering boards to maint loots table
  code/_globalvars/lists/maint_loot_tables.dm
  code/game/objects/effects/spawners/random/engineering_spawners.dm
Labels: Feature, -Status: Awaiting review

#28867 fix pumpkin/blumpkin pie recipe collision
  code/modules/cooking/recipes/oven_recipes.dm
  code/modules/cooking/steps/recipe_step_add_produce.dm
Labels: Fix, -Status: Awaiting merge

#28841 move airlock controller defines to the right place
  code/__DEFINES/airlock_control_defines.dm
  code/game/machinery/airlock_control/z_airlock_undef.dm
  paradise.dme
Labels: Code Improvement, -Status: Awaiting review

#28801 Gives the SOO beret its own sprite
  code/modules/clothing/spacesuits/misc_spacesuits.dm
  icons/mob/clothing/head/beret.dmi
  icons/mob/clothing/species/vox/head/beret.dmi
  icons/obj/clothing/head/beret.dmi
Labels: Sprites, -Status: Awaiting review

#28695 Reverts Slime/IPC Imitation Cosmetics
  SQL/paradise_schema.sql
  SQL/updates/65-66.sql
  code/__DEFINES/flags.dm
  code/__DEFINES/misc_defines.dm
  code/__HELPERS/iconprocs.dm
  code/datums/diseases/advance/symptoms/hair.dm
  code/game/dna/dna2_helpers.dm
  code/game/gamemodes/miniantags/tourist/tourist_arrivals.dm
  code/game/objects/structures/dresser.dm
  code/modules/awaymissions/mob_spawn.dm
  code/modules/client/login_processing/20-load_characters.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/clothing/clothing.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/slimepeople.dm
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
  code/modules/response_team/ert.dm
  code/modules/surgery/organs/organ_icon.dm
  code/modules/surgery/robotics.dm
  code/modules/tgui/modules/appearance_changer.dm
  config/example/config.toml
Labels: Revert/Feature Removal, SQL Change, Configuration Change, -Status: Awaiting review

#28872 [Fix] You can tape food to walls again
  code/modules/food_and_drinks/food_base.dm
Labels: -Status: Awaiting review

#28836 Fixes MULEbots not unloading crates according nav beacon's `dir`
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: -Status: Awaiting merge

#28792 Fixes xenobio camera actions
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: -Status: Awaiting merge

#28482 Adds three new lavaland ruins
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_minebot_factory.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker_siege.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_eden.dmm
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland_areas.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/modules/awaymissions/mob_spawn.dm
  config/example/config.toml
Labels: Map Edit, Configuration Change, -Status: Awaiting merge

#28854 Attack chain migration: spellblade; fixes spellblade enchantments
  code/game/objects/items/weapons/melee/melee_misc.dm
Labels: -Status: Awaiting review, Attack Chain Migration

#28782 Reorganise smithing files into a modules folder
  code/__DEFINES/machines.dm
  code/__DEFINES/smith_defines.dm
  code/game/machinery/smith_machines.dm
  code/modules/crafting/smithed_items.dm
  code/modules/mining/machine_redemption.dm
  code/modules/smithing/components/inserts_components.dm
  code/modules/smithing/components/lens_components.dm
  code/modules/smithing/components/tool_bits_components.dm
  code/modules/smithing/components/trim.dm
  code/modules/smithing/machinery/casting_basin.dm
  code/modules/smithing/machinery/kinetic_assembler.dm
  code/modules/smithing/machinery/lava_furnace.dm
  code/modules/smithing/machinery/magma_crucible.dm
  code/modules/smithing/machinery/power_hammer.dm
  code/modules/smithing/machinery/smart_hopper.dm
  code/modules/smithing/smith_component.dm
  code/modules/smithing/smith_datums.dm
  code/modules/smithing/smith_item.dm
  code/modules/smithing/smith_machinery.dm
  code/modules/smithing/smithed_items/inserts.dm
  code/modules/smithing/smithed_items/lens.dm
  code/modules/smithing/smithed_items/tool_bits.dm
  code/modules/smithing/smithing_cast.dm
  paradise.dme
Labels: -Status: Awaiting merge

#28694 Remaps MetaStation Departures + Slight Touching of Chapel
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting review

#28724 Makes the Bar Shuttle Bigger & Better
  _maps/map_files/shuttles/emergency_bar.dmm
  code/datums/shuttles.dm
Labels: Map Edit, -Status: Awaiting review

#28794 Clonepod will now show robot limbs in storage
  code/game/machinery/clonepod.dm
Labels: -Status: Awaiting review

#28779 Applies Some Remapping to the Syndicate HQ
  _maps/map_files/generic/centcomm.dmm
  code/game/turfs/simulated/walls_indestructible.dm
Labels: Map Edit, -Status: Awaiting review

#28880 Add investigate log for broken canisters
  code/__HELPERS/atom_helpers.dm
  code/game/atoms.dm
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Administration, -Status: Awaiting review, Logging

#28808 Fixes the NTR and BS Office Door Button on Cerestation
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28423 [LORE] Updates Skrell standard language
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/silicon/pai/software/pai_toggles.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update, Lore

#28618 improves SM warnings
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Tweak, -Status: Awaiting review

#28742 Walloping Wacky Wallbumps aWay from Lights: Central Command/Shuttles Edition
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  _maps/map_files/shuttles/emergency_jungle.dmm
  _maps/map_files/shuttles/emergency_meta.dmm
Labels: Map Edit, -Status: Awaiting merge

#28840 Fixes energy cutlass randomising its color
  code/game/objects/items/weapons/melee/energy_melee_weapons.dm
Labels: Fix, -Status: Awaiting merge

#28855 Makes red lighting color more red
  code/__DEFINES/lighting_defines.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/legionnaire.dm
Labels: Tweak, -Status: Awaiting merge

#28726 Removes Light Fixtures Sitting On a Tile in Deltastation's Atmospherics, along with other places, and Adds a Maplint For It
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  _maps/map_files/shuttles/emergency_lance.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  tools/maplint/lints/multiple_light_fixture.yml
Labels: Map Edit, -Status: Awaiting review

#28849 Migrates Engi Cart to the New Attack Chain - Cleans up Engi Cart Code - Makes Pre-Filled Engi Cart Variant and Adds it to All Stations
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/structures/engicart.dm
Labels: Map Edit, -Status: Awaiting merge, Attack Chain Migration

#28800 Adds CC Envirosuit
  code/datums/outfits/plasmamen_outfits.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/plasmamen/antags.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  icons/mob/clothing/species/plasmaman/helmet.dmi
  icons/mob/clothing/species/plasmaman/uniform.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
  icons/obj/clothing/species/plasmaman/uniform.dmi
Labels: Sprites, -Status: Awaiting review

#28727 add dormant CI check for wallbump collisions
  tools/ci/check_wallbump_collisions.py
Labels: Stale, -Status: Awaiting review

#28889 ensure atoms spawned over chasms fall when appropriate
  code/game/turfs/simulated/floor/chasm.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
Labels: Fix, -Status: Awaiting review

#28732 Medbay Spare Power Cells Now Unified as High Capacity With Complimentary Screwdriver
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Feature, Map Edit, Tweak, -Status: Awaiting merge

#28898 fix atmos machines not updating appearance on shuttle rotate
  code/modules/atmospherics/machinery/atmospherics.dm
Labels: Fix, -Status: Awaiting merge

#28713 Fixes the rear diagoras AI sat airlock having no air and a basically empty air canister for cycling. Fixes front airlock being unpowered.
  _maps/map_files/stations/emeraldstation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#28748 Walloping Wacky Wallbumps aWay from Lights: Cerestation Edition
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting review

#28907 Tweak grille and the base barrier random spawners to make it chance based/remove the floor turf from their spawn list
  code/game/objects/effects/spawners/random_barrier.dm
Labels: -Status: Awaiting type assignment

#28252 Tank control console improvements(and migrates multitool to new attack chain)
  code/game/machinery/computer/atmos_controllers.dm
  code/game/objects/items/devices/uplinks.dm
  code/game/objects/items/tools/multitool.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  tgui/packages/tgui/interfaces/AtmosTankControl.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting review, Attack Chain Migration

#28640 Syndicate Mobs With IDs Now Have Syndicate-Themed IDs.
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/living/simple_animal/corpse.dm
Labels: Tweak, -Status: Awaiting merge

#28843 Adjusts input for atmos buildmode
  code/modules/buildmode/submodes/atmos.dm
Labels: Administration, -Status: Awaiting review

#28750 Adds envirosuits and showers to prison lockers
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting review

#28857 Fixes roundstart asteroid mining mods not being spaceproof
  code/__DEFINES/mod.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_paint.dm
  code/modules/mod/mod_theme.dm
Labels: -Status: Awaiting review

#28905 Eden ruin grammar fix
  code/datums/ruins/lavaland.dm
Labels: -Status: Awaiting review

#28769 Adds Secondary Goals for the Smith
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__DEFINES/smith_defines.dm
  code/controllers/subsystem/SSeconomy.dm
  code/game/machinery/requests_console.dm
  code/modules/smithing/smith_datums.dm
  code/modules/smithing/smith_item.dm
  code/modules/smithing/smithed_items/inserts.dm
  code/modules/smithing/smithed_items/lens.dm
  code/modules/smithing/smithed_items/tool_bits.dm
  code/modules/station_goals/secondary/supply/random_smithed_item.dm
  paradise.dme
Labels: Map Edit, -Status: Awaiting merge, Requires Wiki Update

#28896 more whiteship signaller features
  code/controllers/subsystem/non_firing/SSlate_mapping.dm
  code/modules/shuttle/dock_generator.dm
  code/modules/shuttle/shuttle.dm
Labels: Tweak, -Status: Awaiting review

#28901 readds slime jelly toast recipe to new system
  code/modules/cooking/recipes/cutting_board_recipes.dm
Labels: Fix, -Status: Awaiting review

#28358 Enable multi-sector lavaland.
  _maps/__MAP_DEFINES.dm
  _maps/base_map.dm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_legiongate.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_miningbase.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_nt.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/map_files/RandomRuins/LavaRuins/zlvl_bridges/lavaland_zlvl_bridge_horizontal_1.dmm
  _maps/map_files/RandomRuins/LavaRuins/zlvl_bridges/lavaland_zlvl_bridge_vertical_1.dmm
  _maps/map_files/generic/lavaland_baselayer.dmm
  code/__DEFINES/zlevel_defines.dm
  code/_globalvars/mapping_vars.dm
  code/controllers/configuration/sections/ruin_configuration.dm
  code/controllers/subsystem/SSweather.dm
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/datums/helper_datums/map_template.dm
  code/datums/ruins/bridges/bridges.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/ruin_placer.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/game/area/areas/mining_areas.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/simulated/river.dm
  code/game/turfs/space/space_turf.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/space_transitions.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/lavaland/caves_theme.dm
  code/modules/lavaland/lavaland_theme.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
  code/modules/space_management/level_traits.dm
  code/modules/space_management/space_level.dm
  code/modules/space_management/space_transition.dm
  code/modules/space_management/zlevel_manager.dm
  code/modules/telesci/gps.dm
  config/example/config.toml
  config/tests/config_unit_tests.toml
  docs/contributing/getting_started.md
  tgui/packages/tgui/interfaces/GPS.js
  tgui/public/tgui.bundle.js
Labels: Map Edit, Configuration Change, TGUI, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#28924 fix broken nettle soup recipe
  code/modules/cooking/recipes/oven_recipes.dm
  code/modules/cooking/recipes/stove_recipes.dm
Labels: Fix, -Status: Awaiting review

#28923 fixes cooking containers causing premature reagent reaction
  code/modules/cooking/cooking_container.dm
Labels: Fix, -Status: Awaiting review

#28917 fix ai controllers ignoring client presence on z-level
  code/modules/mob/living/living.dm
Labels: Fix, -Status: Awaiting review

#28900 randomizes whiteship pirate placement
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.dmm
  code/game/objects/effects/spawners/random/misc_spawners.dm
  code/game/objects/effects/spawners/random/pool/misc_pools.dm
  code/game/objects/effects/spawners/random/pool/spawn_pool.dm
  paradise.dme
Labels: Map Edit, Tweak, -Status: Awaiting review

#28934 Fixes an Incorrectly Named Camera
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, -Status: Awaiting review

#28931 convert random smith item to spawner
  code/_globalvars/lists/maint_loot_tables.dm
  code/game/objects/effects/spawners/random/misc_spawners.dm
  code/modules/smithing/smith_item.dm
Labels: Code Improvement, -Status: Awaiting review

#28902 readds deep-fryer recipe for any food
  code/modules/cooking/recipes/midway_recipes.dm
  code/modules/food_and_drinks/food_base.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Fix, -Status: Awaiting review

#28393 Space ruin: The sieged lab, a submap extravaganza.
  _maps/map_files/RandomRuins/SpaceRuins/sieged_lab.dmm
  _maps/map_files/RandomRuins/SpaceRuins/sieged_lab.jsonc
  _maps/map_files/RandomRuins/SpaceRuins/submaps/sieged_lab_submaps.dmm
  code/datums/ruins/space_ruins.dm
  code/game/area/areas/ruins/space_areas.dm
  code/game/machinery/airlock_control/airlock_button.dm
  code/game/machinery/airlock_control/airlock_controllers.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/floodlight.dm
  code/game/objects/effects/map_effects/mapmanip.dm
  code/game/objects/effects/spawners/random_barrier.dm
  code/game/objects/items/weapons/chemical_flamethrower/fire_effect.dm
  code/modules/awaymissions/mission_code/ruins/sieged_lab.dm
  code/modules/awaymissions/mob_spawn.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/power/smes.dm
  config/example/config.toml
  icons/effects/map_effects_96x96.dmi
  icons/effects/mapping_helpers.dmi
  icons/mob/simple_human.dmi
  icons/obj/doors/airlocks/station/public.dmi
  paradise.dme
  tools/maplint/lints/area_noop_on_turf.yml
Labels: Map Edit, Sprites, Configuration Change, Testmerge Requested, -Status: Awaiting merge

#28810 I Used the Energy Shotgun - Adds the EG-9 Energy Shotgun
  code/modules/projectiles/ammunition/energy_lens.dm
  code/modules/projectiles/guns/energy/energy.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/supply/supply_packs/pack_security.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/guns/energy.dmi
Labels: Feature, Sprites, Balance, -Status: Awaiting review

#28321 SM damage rebalance
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Balance, Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#28937 remove redundant spawner icon decls
  code/game/objects/effects/spawners/random/decal_spawners.dm
  code/game/objects/effects/spawners/random/engineering_spawners.dm
  code/game/objects/effects/spawners/random/food_spawners.dm
  code/game/objects/effects/spawners/random/furniture_spawners.dm
  code/game/objects/effects/spawners/random/loot_spawners.dm
  code/game/objects/effects/spawners/random/misc_spawners.dm
  code/game/objects/effects/spawners/random/outfit_spawners.dm
  code/game/objects/effects/spawners/random/pool/misc_pools.dm
  code/game/objects/effects/spawners/random/pool/pool_spawner.dm
  code/game/objects/effects/spawners/random/pool/space_loot.dm
  code/game/objects/effects/spawners/random/random_spawner.dm
  code/game/objects/effects/spawners/random/toy_spawners.dm
  code/game/objects/effects/spawners/random/traders/trader_department_spawners.dm
  code/game/objects/effects/spawners/random/trash_spawners.dm
Labels: Code Improvement, -Status: Awaiting review

#28942 add microwave back to box perma
  _maps/map_files/stations/boxstation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#28786 Updates Rocky Motel
  _maps/map_files/RandomRuins/SpaceRuins/rocky_motel.dmm
  _maps/map_files/RandomRuins/SpaceRuins/rocky_motel.jsonc
  _maps/map_files/RandomRuins/SpaceRuins/submaps/rocky_motel_submap.dmm
  code/game/area/areas/ruins/space_areas.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/effects/map_effects/mapmanip.dm
  code/game/objects/effects/spawners/random/loot_spawners.dm
  code/game/objects/effects/spawners/random/misc_spawners.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/cooking/machines/deep_fryer.dm
  code/modules/cooking/machines/grill.dm
  code/modules/cooking/machines/oven.dm
  code/modules/cooking/machines/stovetop.dm
  code/modules/paperwork/paper.dm
  icons/effects/random_spawners.dmi
  icons/turf/areas.dmi
Labels: Map Edit, Sprites, -Status: Awaiting merge

#28959 [s] AI Node Pressure Fix
  code/game/machinery/ai_resource.dm
Labels: Fix

#28963 Blackboxes AI Programs
  code/modules/mob/living/silicon/ai/ai_programs.dm
Labels: -Status: Awaiting type assignment, Logging

#28730 Adds basic healing supplies to the nanomed in stardard shelters, and givesthe luxury shelter a standard nanomed
  _maps/map_files/templates/shelter_2.dmm
  code/modules/mining/equipment/survival_pod.dm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#28861 Make posters directional for mapping
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_minebot_factory.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_miningbase.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_nt.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_engi_sat.dmm
  _maps/map_files/RandomRuins/SpaceRuins/casino.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/rocky_motel.dmm
  _maps/map_files/RandomRuins/SpaceRuins/sieged_lab.dmm
  _maps/map_files/RandomRuins/SpaceRuins/submaps/rocky_motel_submap.dmm
  _maps/map_files/RandomRuins/SpaceRuins/submaps/telecomns_returns_submap.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiedepot.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_tele.dmm
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wreckedcargoship.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/admin_armory.dmm
  _maps/map_files/shuttles/emergency_bar.dmm
  _maps/map_files/shuttles/emergency_cramped.dmm
  _maps/map_files/shuttles/emergency_cyb.dmm
  _maps/map_files/shuttles/emergency_dept.dmm
  _maps/map_files/shuttles/emergency_jungle.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/effects/decals/contraband_posters.dm
  icons/obj/contraband.dmi
  tools/UpdatePaths/Scripts/28861_directional_posters.txt
  tools/maplint/lints/directional_posters.yml
Labels: Map Edit, Sprites, -Status: Awaiting merge

#28938 expand safe area around new mining station ruin
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_nt.dmm
Labels: Map Edit, -Status: Awaiting review

#28949 Smith Polish - sound fixes
  code/modules/smithing/machinery/casting_basin.dm
  code/modules/smithing/machinery/power_hammer.dm
Labels: Fix, -Status: Awaiting review

#28967 fixes vetus pinpointer tendril targeting
  code/game/gamemodes/nuclear/pinpointer.dm
Labels: Fix, -Status: Awaiting review

#28970 actually remove old lavaland maps
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_miningbase.dmm
  _maps/map_files/generic/Lavaland.dmm
Labels: Code Improvement

#28930 /New -> /Initialize Migration §3: Mech parts.
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mecha_parts.dm
Labels: Refactor, Code Improvement, -Status: Awaiting review

#28914 Installs Glass into Farragus Docking Airlocks
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#28913 Installs Glass into Emerald Departures Airlocks
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#28912 Installs Glass into Emerald Arrivals Airlocks
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#28911 Installs Glass into Meta Arrivals Airlocks
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#28910 Installs Glass into Cyberiad Arrivals Airlocks
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#28909 Installs Glass into Delta Departures Airlocks
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#28908 Installs Glass Into Delta Arrivals Airlocks
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#28803 The Somewhat Radical Remapping of the Upper Left Quadrant of Delta Station
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, Merge Conflict, -Status: Awaiting review

#28982 Better AI Program Blackboxing
  code/modules/mob/living/silicon/ai/ai_programs.dm
Labels: -Status: Awaiting review, Logging

#28850 Fix krav maga gloves penetrate parry/shieldings
  code/modules/martial_arts/combos/krav_maga/leg_sweep.dm
  code/modules/martial_arts/combos/krav_maga/lung_punch.dm
  code/modules/martial_arts/combos/krav_maga/neck_chop.dm
Labels: Fix, -Status: Awaiting review

#28977 Makes ghost gas scan work again
  code/game/turfs/turf.dm
Labels: Fix, -Status: Awaiting review

#28891 Attack chain migration slight improvement
  code/_onclick/item_attack.dm
Labels: -Status: Awaiting review

#28839 NSS Cerebron Enjoyers Rejoice! Medical and Science Department remodeling has come!
  _maps/map_files/stations/metastation.dmm
  icons/obj/decals.dmi
Labels: Map Edit, Sprites, -Status: Awaiting review

#28968 move tendrils and fauna into spawn pools, enforce minimum megafauna spawn distance from base
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_nt.dmm
  code/game/objects/effects/spawners/random/pool/lavaland_pools.dm
  code/modules/awaymissions/mission_code/ruins/gps_ruin.dm
  code/modules/lavaland/caves_theme.dm
  paradise.dme
Labels: Map Edit, -Status: Awaiting merge

#28887 Smith Polish - Examines
  code/modules/smithing/machinery/kinetic_assembler.dm
  code/modules/smithing/machinery/magma_crucible.dm
  code/modules/smithing/machinery/power_hammer.dm
  code/modules/smithing/machinery/smart_hopper.dm
  code/modules/smithing/smith_machinery.dm
Labels: Tweak, -Status: Awaiting merge

#28936 Fixes not being able to remove queen bees from apiaries
  code/modules/hydroponics/beekeeping/beebox.dm
Labels: Fix, -Status: Awaiting merge

#28989 Moves a light on DeltaStation Hydroponics
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28962 Smith Polish: Lens and Bit Batch Crafting
  code/modules/smithing/machinery/kinetic_assembler.dm
Labels: Tweak, -Status: Awaiting review

#28987 Basic mobs targeting, attacks, and pig migration.
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__DEFINES/ai/blackboard_defines.dm
  code/__DEFINES/dcs/ai_signals.dm
  code/__DEFINES/dcs/atom_signals.dm
  code/__DEFINES/dcs/attack_chain_signals.dm
  code/__DEFINES/dcs/mob_signals.dm
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/_onclick/other_mobs.dm
  code/datums/ai/ai_planning_subtree.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/basic_attacking.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/nearest_targeting.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/run_away_from_target.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targeting.dm
  code/datums/ai/basic_mobs/basic_subtrees/flee_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/random_speech.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_attack_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_find_nearest_target_to_flee.dm
  code/datums/ai/basic_mobs/basic_subtrees/target_retaliate.dm
  code/datums/components/ai_retaliate_advanced.dm
  code/datums/elements/ai_flee_while_injured.dm
  code/datums/elements/ai_retaliate.dm
  code/datums/elements/relay_attackers.dm
  code/datums/proximity/ai_target_tracking.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  code/modules/mob/living/basic/basic_mob.dm
  code/modules/mob/living/basic/cow.dm
  code/modules/mob/living/basic/cow/cow_ai.dm
  code/modules/mob/living/basic/pig.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/projectiles/projectile_base.dm
  code/tests/game_tests.dm
  code/tests/test_ensure_subtree_operational_datum.dm
  paradise.dme
  sound/creatures/pig/pig1.ogg
  sound/creatures/pig/pig2.ogg
  tools/UpdatePaths/Scripts/28987_pig.txt
Labels: Feature, Map Edit, Sound, -Status: Awaiting review

#28952 Adds AI Program Reset Disk
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/_onclick/hud/alert.dm
  code/game/objects/items/robot/ai_upgrades.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/silicon/ai/ai_programs.dm
  icons/mob/screen_alert.dmi
Labels: Feature, Map Edit, Sprites, -Status: Awaiting review

#28951 Adds Disabler Pellet Sprite, Makes eshotgun disabler shots use new disabler pellet sprite
  code/modules/projectiles/projectile/beams.dm
  icons/obj/projectiles.dmi
Labels: Sprites, -Status: Awaiting review

#28888 Smith Polish - Heating Rework
  code/modules/smithing/machinery/lava_furnace.dm
  code/modules/smithing/machinery/power_hammer.dm
  code/modules/smithing/smith_component.dm
Labels: Tweak, -Status: Awaiting merge

#28915 Fix smith machines using ORM values, slightly buff crucible
  code/__DEFINES/machines.dm
  code/__DEFINES/smith_defines.dm
  code/modules/mining/machine_redemption.dm
  code/modules/smithing/machinery/magma_crucible.dm
  code/modules/smithing/machinery/smart_hopper.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#29010 fix tendrils spawning in deeprock oases
  code/modules/lavaland/caves_theme.dm
Labels: Fix

#28510 Changes the colors of some chemicals while in glass containers
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/reagents/chemistry/reagents/admin_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
Labels: Tweak, -Status: Awaiting review

#29016 add basic mobs to orbit menu
  code/__HELPERS/unsorted.dm
Labels: -Status: Awaiting type assignment

#28607 Scanners display reagents inside of players' made bombs
  code/game/objects/items/weapons/grenades/chem_grenade.dm
Labels: Tweak, -Status: Awaiting merge

#28788 Ports neckerchief + Ports new bandana onmob(for humans only)
  code/modules/clothing/masks/misc_masks.dm
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/species/grey/neck.dmi
  icons/mob/clothing/species/vox/neck.dmi
  icons/obj/clothing/neck.dmi
Labels: Sprites, -Status: Awaiting merge

#28828 Fixes some acid procs
  code/game/objects/effects/alien_acid.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: Fix, -Status: Awaiting merge

#28992 Fix the central atmos tank monitors bluescreening
  tgui/packages/tgui/interfaces/AtmosTankControl.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#28948 Adds Missing Air Alarm to Farragus Hydroponics, Minor Furniture Rearrangement.
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting review

#28980 add a blackbox for rock floors dug into ore_mined feedback
  code/game/turfs/simulated/floor/asteroid_floors.dm
Labels: Code Improvement, -Status: Awaiting review

#28979 add 'get machines by type' to SSmachines
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/SSair.dm
  code/controllers/subsystem/SSmachinery.dm
  code/controllers/subsystem/non_firing/SSlate_mapping.dm
  code/datums/mind.dm
  code/datums/station_traits/neutral_traits.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/abduction/abduction_outfits.dm
  code/game/gamemodes/miniantags/abduction/machinery/console.dm
  code/game/gamemodes/nuclear/nuclear_challenge.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/gamemodes/wizard/magic_tarot.dm
  code/game/gamemodes/wizard/raginmages.dm
  code/game/machinery/buttons.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/flasher.dm
  code/game/machinery/machinery.dm
  code/game/machinery/magnetic_module.dm
  code/game/machinery/syndicatebomb.dm
  code/game/machinery/wall_holosign.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/bloom_edit.dm
  code/modules/admin/verbs/deathsquad.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/events/apc_short.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/prison_break.dm
  code/modules/events/vent_clog.dm
  code/modules/food_and_drinks/kitchen_machinery/monkeyrecycler.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/living/silicon/robot/drone/maint_drone.dm
  code/modules/paperwork/photography.dm
  code/modules/paperwork/ticketmachine.dm
  code/modules/power/engines/singularity/singularity.dm
  code/modules/power/generators/treadmill.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/shuttle/assault_pod.dm
  code/modules/shuttle/dock_generator.dm
  code/modules/station_goals/bluespace_tap.dm
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/station_goals/shield.dm
  code/modules/telesci/rcs.dm
Labels: Code Improvement, -Status: Awaiting merge

#28976 Anchors a Pair of Bells
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#28540 Implants, implanted items and other bodypart contents no longer get deleted on species change
  code/game/dna/mutations/monkey_mutation.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#28707 Remove exponential rad wave decay
  code/__DEFINES/radiation_defines.dm
  code/datums/radiation_wave.dm
Labels: Tweak, -Status: Awaiting merge

#28718 Updates pride mirror's code
  code/game/objects/structures/mirror.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/modules/ruins/lavalandruin_code/sin_ruins.dm
Labels: Tweak, -Status: Awaiting review

#28868 516 RND Console scrolling fix
  tgui/packages/tgui/interfaces/RndConsole/LatheCategory.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#29035 Fixes missing tail wag sprites when facing north
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#28958 Adds hooks for debugger specific behaviour
  .github/workflows/ci.yml
  code/__HELPERS/debugger.dm
Labels: -Status: Awaiting merge

#28998 Smith Polish: Fixes lens fire rate modifications
  code/modules/smithing/smithed_items/lens.dm
Labels: Fix, -Status: Awaiting review

#28892 Two handed component slight audio improvement
  code/datums/components/two_handed.dm
  code/game/objects/items/weapons/twohanded.dm
Labels: Refactor, -Status: Awaiting review

#28547 Decrease megafauna melee attack delay after ability
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#28600 Lavaland weather types: Dying is Fun edition
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_nt.dmm
  _maps/map_files/templates/shelter_2.dmm
  code/__DEFINES/dcs/global_signals.dm
  code/__HELPERS/lists.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/SSweather.dm
  code/datums/looping_sounds/weather_sounds.dm
  code/datums/weather/weather_datum.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/datums/weather/weather_types/lavaland_weather.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/solar_flare.dm
  code/game/machinery/radar.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/river.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/lavaland/loot/legion_loot.dm
  code/modules/shuttle/shuttle.dm
  icons/effects/weather_effects.dmi
  icons/obj/machines/doppler_tower.dmi
  paradise.dme
  sound/weather/acid/inside/active_end.ogg
  sound/weather/acid/inside/active_mid1.ogg
  sound/weather/acid/inside/active_start.ogg
  sound/weather/acid/inside/weak_end.ogg
  sound/weather/acid/inside/weak_mid1.ogg
  sound/weather/acid/inside/weak_start.ogg
  sound/weather/acid/outside/active_end.ogg
  sound/weather/acid/outside/active_mid1.ogg
  sound/weather/acid/outside/active_start.ogg
  sound/weather/acid/outside/weak_end.ogg
  sound/weather/acid/outside/weak_mid1.ogg
  sound/weather/acid/outside/weak_start.ogg
  sound/weather/volcano/lavaland_volcano_eruption.ogg
  sound/weather/volcano/lavaland_volcano_warning.ogg
Labels: Feature, Map Edit, Sound, Sprites, Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting review, Requires Wiki Update

#29017 Fix holodeck gravity
  code/modules/power/gravitygenerator.dm
Labels: Fix, -Status: Awaiting review

#29011 Fix holopara action buttons remaining if your holopara gets gibbed
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Fix, -Status: Awaiting review

#28935 add tech storage spawners, improve spawner pixel offsets
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/effects/spawners/random/random_spawner.dm
  code/game/objects/effects/spawners/random/spawner_pixel_placer.dm
  code/game/objects/effects/spawners/random/tech_storage_spawners.dm
  icons/effects/random_spawners.dmi
  icons/obj/module.dmi
  paradise.dme
Labels: Map Edit, Sprites, -Status: Awaiting merge

#28795 Buffs APC Construction/Deconstruction
  code/modules/power/apc/apc.dm
  code/modules/power/apc/apc_construction.dm
  code/tests/test_apc_construction.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update

#29064 [s] Fixes Duplicating Upgrades on Multimarket Analyzer
  code/modules/mob/living/silicon/ai/ai_programs.dm
Labels: Fix

#29015 Smith Polish: Adds Smith Bag
  code/game/machinery/vendors/departmental_vendors.dm
  code/game/objects/items/weapons/storage/bags.dm
  icons/obj/tools.dmi
Labels: Feature, Sprites, -Status: Awaiting review

#29026 Makes the Number of Gold Bars in Vault Equal Across all Stations. Turns Vault Silver From Coins to Bars.
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#29034 Makes minebots ash-proof
  code/modules/mining/minebot.dm
Labels: Tweak, -Status: Awaiting review

#29037 Show cable power when ghosts examine cable
  code/modules/power/cables/cable.dm
Labels: Tweak, -Status: Awaiting review

#28985 Makes the HoP's Job Color Lime
  code/game/machinery/tcomms/nttc.dm
Labels: Tweak, -Status: Awaiting review

#28524 Turbine Rework
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/datums/diseases/_MobProcs.dm
  code/game/atoms_movable.dm
  code/game/objects/structures/signs.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/power/generators/turbine.dm
  icons/obj/decals.dmi
  tgui/packages/tgui/interfaces/TurbineComputer.js
  tgui/public/tgui.bundle.js
Labels: Map Edit, Sprites, Tweak, TGUI, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#29067 Warning if clients are still on 515
  code/modules/client/client_procs.dm
Labels: -Status: Awaiting merge

#29018 Chair rotation fix
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/mob/living/living.dm
Labels: Fix, -Status: Awaiting review

#29000 Adds [Name] autofill to paperwork
  code/__HELPERS/text.dm
  code/modules/paperwork/paper.dm
Labels: Feature, -Status: Awaiting merge

#29023 Fix `check_ghost_client()` runtime + improve examine/hud conditions
  code/datums/mind.dm
  code/game/data_huds.dm
  code/modules/mob/living/carbon/examine.dm
Labels: Fix, -Status: Awaiting merge

#29032 Changes genetics airlock access to genetics
  _maps/map_files/stations/metastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#29089 [s] Fixes exploit in material speed modifier
  code/modules/smithing/smith_datums.dm
Labels: Fix

#29072 Fixing no burn wound/broken bone messages
  code/game/atoms_movable.dm
Labels: Fix, -Status: Awaiting merge

#29087 fix some submaps docs formatting
  docs/mapping/submaps.md
Labels: Documentation, -Status: Awaiting review

#29083 add smith, and some service boards, to tech storage
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/effects/spawners/random/tech_storage_spawners.dm
  code/modules/cooking/machines/deep_fryer.dm
  code/modules/cooking/machines/grill.dm
  code/modules/cooking/machines/ice_cream_mixer.dm
  code/modules/cooking/machines/oven.dm
  code/modules/cooking/machines/stovetop.dm
Labels: Map Edit, -Status: Awaiting review

#28981 Fixes Tranquillite Ore Having no Scanner Icon
  code/datums/ores.dm
  icons/effects/ore_visuals.dmi
Labels: Sprites, -Status: Awaiting review

#28954 repair droid sprite update
  code/game/mecha/equipment/tools/other_tools.dm
  icons/mecha/mecha_equipment.dmi
Labels: Sprites, -Status: Awaiting review

#28973 Smith Polish - Item Insertion QOL
  code/modules/smithing/machinery/casting_basin.dm
  code/modules/smithing/smith_machinery.dm
Labels: Tweak, -Status: Awaiting review

#28975 Surgical Trays Have Surgical Drapes
  code/game/objects/items/weapons/storage/surgical_tray.dm
Labels: -Status: Awaiting review

#29038 Added a few non-lethal SHAME suicide paths for the disabler.
  code/modules/projectiles/guns/energy/stun.dm
Labels: Feature, -Status: Awaiting review

#29107 [s] Adds message length limits.
  code/modules/admin/verbs/adminpm.dm
Labels: Fix

#29044 Fixes AI Program descriptions going outside their TGUI box
  tgui/packages/tgui/interfaces/AIProgramPicker.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge

#29020 TGUI 516 - fixes stacked sort buttons in the seed extractor and security records
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/packages/tgui/interfaces/SeedExtractor.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#28943 Enspookifies descriptions of cult items and structures
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/ritual.dm
Labels: Tweak, -Status: Awaiting review

#28999 Smith Addition: Productivity Bit
  code/datums/ores.dm
  code/game/objects/items.dm
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/smithing/components/tool_bits_components.dm
  code/modules/smithing/smith_datums.dm
  code/modules/smithing/smithed_items/tool_bits.dm
Labels: Balance, -Status: Awaiting review

#29113 unfucks modlink linkage
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_link.dm
Labels: Fix, -Status: Awaiting type assignment

#29118 fix morphs not being able to attack basic mobs
  code/modules/mob/living/basic/basic_mob.dm
Labels: Fix, -Status: Awaiting type assignment

#29119 remove dead var /mob/var/can_strip
  code/modules/mob/mob_vars.dm
Labels: Code Improvement, -Status: Awaiting type assignment
