Repository ParadiseSS13/Paradise, pull requests merged in 2025-01, with the labels that each got.

#27591 PTL Camera name fix
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, Stale, -Status: Awaiting review

#27532 Adds Autolathes to Engineering on All Stations
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Feature, Map Edit, -Status: Awaiting merge

#27435 Removes the fake fake trick revolver, and the weird old (cursed)russian one
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_greed.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict5.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/items/toys.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Map Edit, Tweak, Code Improvement, -Status: Awaiting review

#27528 Add customized welding helmets to the loadout
  code/modules/client/preference/loadout/loadout_donor.dm
Labels: -Status: Awaiting review

#27661 Emerald Station solars are now built by default [NOT WIRED] and properly labled
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, -Status: Awaiting review

#27673 Hand Tele resprite V2
  code/game/objects/items/weapons/teleportation.dm
  icons/obj/device.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#27679 Resprites the Rapid Crate Sender
  code/modules/telesci/rcs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/telescience.dmi
Labels: Sprites, Tweak, -Status: Awaiting review, Requires Wiki Update

#27680 Adds 2 item traits (heretic requirements)
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/elements/strippable.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/examine.dm
Labels: Refactor, -Status: Awaiting review

#27711 Fixes errors from the recent TG backpack port + new leather satchel and hydroponic bags
  icons/mob/clothing/back.dmi
  icons/mob/clothing/species/grey/back.dmi
  icons/mob/clothing/species/vox/back.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/storage.dmi
Labels: Fix, Sprites, Tweak, -Status: Awaiting review

#27719 fixes some ipc mindflayer shenanigan
  code/modules/surgery/organs/augments_internal.dm
Labels: Tweak, -Status: Awaiting review

#27546 Datumizes Event Antags
  code/datums/mind.dm
  code/game/gamemodes/game_mode.dm
  code/modules/antagonists/event/datum_eventmisc.dm
  code/modules/mob/dead/observer/orbit.dm
  paradise.dme
Labels: Refactor, Code Improvement, -Status: Awaiting review

#27798 fix return value of check_datum_loop CI check
  tools/ci/check_grep2.py
Labels: -Status: Awaiting type assignment

#27581 Various his grace buffs.
  code/game/objects/items/his_grace.dm
Labels: Balance, -Status: Awaiting merge, Requires Wiki Update

#27601 Relocates Farragus Genetics to the Science Asteroid
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge, Requires Wiki Update

#27573 Lets you wear emag on your ID slot and tweaks quick equip
  code/game/objects/items.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/mob/mob.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
Labels: -Status: Awaiting merge

#27806 NTC Sechud Icon spotfix
  icons/mob/hud/sechud.dmi
Labels: Sprites, -Status: Awaiting type assignment

#27474 Converts a bunch of items into using neck slot
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  _maps/map_files/templates/biodome_beach.dmm
  code/__DEFINES/misc_defines.dm
  code/game/machinery/vendors/generic_vendors.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/garment.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical_lockers.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/game/objects/structures/safe.dm
  code/modules/client/preference/loadout/loadout_accessories.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/client/preference/loadout/loadout_neck.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/neck/cloaks.dm
  code/modules/clothing/neck/neck.dm
  code/modules/clothing/neck/necklace.dm
  code/modules/clothing/neck/scarfs.dm
  code/modules/clothing/suits/job_suits.dm
  code/modules/clothing/suits/misc_suits.dm
  code/modules/clothing/suits/unathi_suits.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/crafting/recipes.dm
  code/modules/customitems/item_defines.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/pandora.dm
  code/modules/mob/mob_holder.dm
  code/modules/paperwork/photography.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/supply/supply_packs/pack_miscellaneous.dm
  icons/mob/accessories.dmi
  icons/mob/clothing/ears.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/species/vox/neck.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/accessories_overlay.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/Loadout.tsx
  tgui/public/tgui.bundle.js
  tools/pr_sql/27474/neckconvert.py
Labels: Map Edit, Merge Conflict, Sprites, TGUI, -Status: Awaiting review

#27811 [s] Blacklists Nanotrasen Career Trainer from antag roles
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult_mode.dm
  code/game/gamemodes/trifecta/trifecta.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/vampire/vampire_chan.dm
  code/game/gamemodes/vampire/vampire_gamemode.dm
Labels: Fix, -Status: Awaiting type assignment

#27819 [s] Vtec fix
  code/modules/vehicle/janivehicle.dm
  code/modules/vehicle/vehicle.dm
Labels: Fix

#27834 Clean up some errant logging warnings.
  code/__HELPERS/_logging.dm
  code/__HELPERS/mob_helpers.dm
  code/controllers/subsystem/SSjobs.dm
  code/datums/log_record.dm
  code/modules/mob/mob.dm
Labels: Fix

#27836 [s] Strange Object Research Level Fix
  code/modules/research/strange_objects.dm
Labels: Fix

#27839 Fix a couple logging runtimes
  code/__HELPERS/_logging.dm
Labels: Fix, Logging

#27438 Bluespace Harvester: Loot changes, Events, and more
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/telecomns_returns.dmm
  code/game/objects/effects/spawners/random/bluespace_tap_spawners.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/power/engines/supermatter/engineering_event.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/power/engines/supermatter/supermatter_event.dm
  code/modules/station_goals/bluespace_tap.dm
  code/modules/station_goals/bluespace_tap_events.dm
  icons/obj/machines/bluespace_tap.dmi
  paradise.dme
Labels: Map Edit, Sprites, -Status: Awaiting review, Requires Wiki Update

#27754 Removes Carbon from Towercaps and replaces them with Plantmatter
  code/modules/hydroponics/grown/towercap.dm
Labels: Tweak, -Status: Awaiting review

#27852 BSH Improvement Fix: Cleaning and Event Prob
  code/modules/station_goals/bluespace_tap.dm
Labels: Fix, -Status: Awaiting type assignment

#27747 Give USSP traders the Zvezhan language
  code/datums/outfits/outfit_admin.dm
Labels: Tweak, -Status: Awaiting merge

#27791 PTL North and South resprite
  code/goonstation/modules/power/power_transmission_laser/transmission_laser.dm
  icons/goonstation/effects/pt_beam.dmi
  icons/goonstation/objects/pt_laser.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#27667 Makes mining/gulag shuttle request message clearer
  code/controllers/subsystem/SSshuttles.dm
  code/modules/shuttle/shuttle.dm
Labels: Tweak, -Status: Awaiting merge

#27687 Tweak: Clarifies tacticool envirosuit helmet keybind descriptions, bolds clothing related keybinds, makes accessory bind hidden until there's an accessory
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/plasmamen.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#27854 Adds Burza to Headcoders in CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: -Status: Awaiting type assignment

#27774 Cheese reagent cheese has nutrients!
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Fix, -Status: Awaiting merge

#27787 Removes accidental smoke greande buff
  code/game/objects/effects/effect_system/effects_smoke.dm
Labels: Fix, -Status: Awaiting merge

#27776 Fixes wall mounted emergency locker sprite
  icons/obj/walllocker.dmi
Labels: Fix, Sprites, -Status: Awaiting merge

#27778 NCT Beret fixes
  code/modules/clothing/head/beret.dm
  icons/mob/clothing/head/beret.dmi
  icons/mob/clothing/species/drask/head/beret.dmi
  icons/mob/clothing/species/kidan/head/beret.dmi
  icons/mob/clothing/species/vox/head/beret.dmi
Labels: Sprites, -Status: Awaiting merge

#27656 Makes the xeno pounce a manager. Also enables it again
  code/modules/hallucinations/effects/major.dm
  code/modules/hallucinations/effects/xeno_pounce.dm
  code/modules/hallucinations/hallucinations.dm
  paradise.dme
Labels: Feature, -Status: Awaiting merge

#27777 Fixes nullspace breathing runtime.
  code/modules/mob/living/carbon/carbon_life.dm
  code/modules/mob/living/carbon/carbon_procs.dm
Labels: Fix, -Status: Awaiting merge

#27773 Increases the time to Strip and Put on clothing via the Strip Menu
  code/modules/clothing/clothing.dm
Labels: Tweak, -Status: Awaiting merge

#27764 Adds Additional Logging for AutoTraitor Game mode
  code/game/gamemodes/autotraitor/autotraitor.dm
Labels: Administration, -Status: Awaiting merge

#27789 Improved plant bag harvesting
  code/modules/hydroponics/grown/misc_seeds.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/hydroponics/seeds.dm
Labels: Fix, -Status: Awaiting merge

#27818 Let chefs dump entire bags into kitchen appliances
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
Labels: Feature, -Status: Awaiting merge

#27758 Adds Business Suits to the Loadout Menu
  code/modules/client/preference/loadout/loadout_uniform.dm
Labels: Feature, -Status: Awaiting merge

#27724 Respect return values of legacy attack in chain negotiation
  code/_onclick/item_attack.dm
  code/tests/attack_chain/test_attack_chain_cult_dagger.dm
Labels: -Status: Awaiting merge, Attack Chain Migration

#27636 Adds a New Ruin - Abandoned Clockwork Monastery
  _maps/map_files/RandomRuins/SpaceRuins/clockwork_monastery.dmm
  code/datums/ruins/space_ruins.dm
  code/game/area/areas/ruins/space_areas.dm
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/turfs/simulated/floor/lava.dm
  code/modules/mob/living/simple_animal/clockwork_constructs.dm
  code/modules/paperwork/paper.dm
  code/modules/power/lights.dm
  code/modules/ruins/lavalandruin_code/dead_ratvar.dm
  config/example/config.toml
  icons/mob/clockwork_mobs.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/inhands/bedsheet_lefthand.dmi
  icons/mob/inhands/bedsheet_righthand.dmi
  icons/obj/bedsheet.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/computer.dmi
  paradise.dme
  sound/ambience/reebe_ambience_1.ogg
  sound/ambience/reebe_ambience_2.ogg
  sound/ambience/reebe_ambience_3.ogg
  sound/magic/clockwork/anima_fragment_attack.ogg
Labels: Map Edit, Sound, Sprites, Configuration Change, -Status: Awaiting merge

#27790 Dragging storage bags now drops items around the mouse pointer
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/datums/elements/shatters_when_thrown.dm
  code/game/atoms_movable.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/pipe/pipe_construction.dm
  code/game/machinery/vendors/vending.dm
  code/game/objects/items.dm
  code/game/objects/items/random_items.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/grenades/frag.dm
  code/game/objects/items/weapons/storage/storage_base.dm
  code/modules/fish/fish_items.dm
  code/modules/food_and_drinks/food_base.dm
  code/modules/hydroponics/beekeeping/honeycomb.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/paperbin.dm
  code/modules/paperwork/paperplane.dm
  code/modules/paperwork/photocopier.dm
  code/modules/paperwork/photography.dm
  code/modules/projectiles/ammunition.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  code/modules/research/backup_console.dm
  code/modules/research/rdconsole.dm
  code/modules/ruins/lavalandruin_code/dead_ratvar.dm
  code/modules/telesci/bscrystal.dm
Labels: Tweak, -Status: Awaiting merge

#27817 Adds Additional Game Logs when Offering Ghosts
  code/modules/mob/mob_misc_procs.dm
Labels: Administration, -Status: Awaiting review

#27841 Adds Camera Inhands
  code/game/objects/items/devices/flash.dm
  code/modules/paperwork/photography.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites, -Status: Awaiting type assignment

#27864 Fixes underscore in vanguard cogwheel's name
  code/modules/ruins/lavalandruin_code/dead_ratvar.dm
Labels: -Status: Awaiting type assignment

#27859 Adds Contrabang to Headcoders in CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: -Status: Awaiting type assignment

#27871 Make character previews not stack trace
  code/modules/client/preference/character.dm
  code/modules/mob/living/carbon/carbon_life.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Labels: Code Improvement, -Status: Awaiting type assignment

#27858 Removes an unused var
  code/datums/mind.dm
Labels: Fix, -Status: Awaiting merge

#27850 Fix testing and mapload MILLA issues
  code/controllers/subsystem/SSair.dm
  code/datums/helper_datums/map_template.dm
  code/modules/awaymissions/zlevel_helpers.dm
  code/tests/atmos/test_ventcrawl.dm
Labels: Fix, Merge Conflict, -Status: Awaiting merge

#27865 make his grace heal IPCs
  code/datums/status_effects/buffs.dm
Labels: -Status: Awaiting merge

#27875 Fixes old Humanoid cyborg sprites, to actually be able to wear hats. Now that they don't already have some.
  code/modules/mob/living/silicon/robot/robot_mob.dm
Labels: -Status: Awaiting type assignment

#27877 Fixes the Deltastation Brig Lockers to Be Linked to the Door Timers
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting type assignment

#27896 Revert "Disable OpenDream CI as it's busted"
  .github/workflows/ci.yml
Labels: Revert/Feature Removal

#27800 Adds Magistrate/IAA start to Kerberos
  _maps/map_files/stations/deltastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#27856 Make adding custom objectives work right
  code/datums/mind.dm
Labels: Fix, Administration, -Status: Awaiting review

#27879 Makes the randomize body button more obvious
  code/modules/client/preference/preferences.dm
Labels: Fix, -Status: Awaiting review

#27726 Datumizes Abductors
  code/datums/mind.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/miniantags/abduction/machinery/experiment.dm
  code/modules/admin/misc_admin_procs.dm
  code/modules/antagonists/abductor/datum_abductor.dm
  code/modules/antagonists/abductor/team_abductor.dm
  code/modules/events/abductor_event.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/silicon/silicon_login.dm
  paradise.dme
Labels: Refactor, Code Improvement, -Status: Awaiting merge

#27848 Removes bump teleporters
  code/game/objects/effects/bump_teleporter.dm
  paradise.dme
Labels: -Status: Awaiting review

#27808 Neck convert script update
  tools/pr_sql/27474/neckconvert.py
Labels: Code Improvement, -Status: Awaiting merge

#27727 Add ability to check chatlog for test assertions.
  code/controllers/subsystem/SSchat.dm
  code/tests/_game_test.dm
  code/tests/_game_test_puppeteer.dm
  code/tests/attack_chain/test_attack_chain_vehicles.dm
Labels: Code Improvement, -Status: Awaiting merge

#27660 Metastation solars no longer need to be built [NOT WIRED]
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#27900 Fixes <hr> tag spacing on the Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Fix, Documentation, -Status: Awaiting merge

#27861 Updates spring lock description to better indicate activation method
  code/datums/uplink_items/uplink_general.dm
  code/modules/mod/modules/modules_maint.dm
Labels: -Status: Awaiting merge, Requires Wiki Update

#27849 Makes the HoS's Door Blue on Delta and Adds a Keycard Authenticator
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#27753 Un-curses camera consoles UI map view rendering
  tgui/packages/tgui/components/ByondUi.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#27831 Half printing price of alien alloy sheets
  code/modules/research/designs/smelting_designs.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update

#27835 makes injectors behave like vents and scrubbers for pipe placement obstruction
  code/game/machinery/pipe/pipe_construction.dm
Labels: Tweak, -Status: Awaiting review

#27670 Make the Cyborg PKA identical to a stock PKA
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update

#27768 Reduces slowdown on Security Biosuits
  code/modules/clothing/suits/bio.dm
Labels: Tweak, -Status: Awaiting review, Requires Wiki Update

#27826 Buildmode say
  code/datums/emote.dm
  code/game/atoms.dm
  code/modules/buildmode/submodes/say.dm
  icons/misc/buildmode.dmi
  paradise.dme
Labels: Feature, Sprites, Administration, -Status: Awaiting merge

#27914 .NET 9 SDK setup action for CI
  .github/workflows/ci.yml
Labels: -Status: Awaiting type assignment

#27886 Fix legion beam damage output.
  code/datums/beam.dm
Labels: -Status: Awaiting merge

#27924 Fixes event C-3
  code/modules/power/engines/supermatter/supermatter_event.dm
Labels: Fix, oops

#27901 Fixes brain gibberish from attempting to emote
  code/modules/mob/living/brain/brain_say.dm
  code/modules/mob/mob_misc_procs.dm
Labels: -Status: Awaiting merge

#27908 fix bad judo belt unequip state
  code/modules/martial_arts/judo.dm
Labels: Fix, -Status: Awaiting merge

#27893 EmeraldStation misc fixes
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, -Status: Awaiting merge

#27882 Resprites Grimey Flooring into Grimey Carpets, with smoothing.
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__DEFINES/icon_smoothing_defines.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  icons/obj/tiles.dmi
  icons/turf/floors/carpet_grimey.dmi
  tools/UpdatePaths/Scripts/27882_grimeycarpet.txt
Labels: Map Edit, Sprites, -Status: Awaiting merge

#27860 Resprites Entertainment Screens
  icons/obj/computer.dmi
Labels: Sprites, -Status: Awaiting merge

#27846 Resprites Comfy Chairs
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/obj/chairs.dmi
Labels: Sprites, -Status: Awaiting merge

#27829 Wood Floor, Wood Table Resprite
  icons/obj/smooth_structures/tables/wood_table.dmi
  icons/turf/floors.dmi
Labels: Sprites, -Status: Awaiting merge

#27619 [PTBF] Adds a new, vent-based hallucination
  code/modules/hallucinations/effects/moderate.dm
  code/modules/hallucinations/hallucinations.dm
  icons/effects/effects.dmi
Labels: Feature, Sprites, -Status: Awaiting merge

#27651 [PTBF] Adds custom hallucination descriptions
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/modules/hallucinations/effects/minor.dm
  code/modules/hallucinations/hallucinations.dm
  code/modules/mob/living/carbon/examine.dm
Labels: -Status: Awaiting review

#27605 [PTBF] Adds grenade hallucinations
  code/modules/hallucinations/effects/grenades.dm
  code/modules/hallucinations/hallucinations.dm
  paradise.dme
Labels: Feature, -Status: Awaiting merge

#27887 Fixes demon type for shadow demon vial
  code/modules/antagonists/_common/antag_spawner.dm
Labels: Fix, -Status: Awaiting review

#27705 adds the proteon orb. (heretic requirement)
  code/controllers/subsystem/SSghost_spawns.dm
  code/datums/components/ghost_direct_control.dm
  code/datums/components/spawner.dm
  code/game/atoms.dm
  code/game/gamemodes/cult/cult_datums.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/structures/monster_spawner.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/mob/mob_login_base.dm
  icons/mob/cult.dmi
  icons/obj/cult.dmi
  paradise.dme
Labels: Feature, Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#27899 Fixes a Disposal Pipe in the Farragus Brig
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge

#27907 Fixes uninstalled windoor electronics.
  code/game/machinery/doors/windowdoor.dm
Labels: Fix, -Status: Awaiting review

#27840 Adds Chameleon Tie
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/chameleon.dm
Labels: Feature, -Status: Awaiting merge

#27920 Hopefully fixes a runtime with the xeno pouncer
  code/modules/hallucinations/hallucination_manager.dm
Labels: Fix

#27892 Bubblish Changes
  code/modules/mob/language.dm
Labels: Tweak, -Status: Awaiting merge

#27628 [PTBF] Adds doppelganger hallucination
  code/modules/hallucinations/effects/moderate.dm
  code/modules/hallucinations/hallucinations.dm
Labels: Feature, -Status: Awaiting merge

#27722 [PTBF] Adds blob hallucinations in dark areas
  code/modules/hallucinations/effects/major.dm
  code/modules/hallucinations/hallucinations.dm
Labels: -Status: Awaiting merge

#27909 rerun 27386 updatepaths
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting review

#27674 [PTBF] Wavy Vision
  code/modules/hallucinations/effects/waves_hallucination.dm
  code/modules/hallucinations/hallucinations.dm
  paradise.dme
Labels: Feature, -Status: Awaiting review

#27683 Adds one farragus submap and remaps a part of the rage cage
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/cerestation.jsonc
  _maps/map_files/stations/submaps/cerestation.dmm
  code/game/objects/effects/map_effects/mapmanip.dm
  code/game/objects/items/candle.dm
Labels: Feature, Map Edit, -Status: Awaiting merge

#27530 Attack Chain Migration: /turf
  code/__HELPERS/unsorted.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/simulated/floor/mineral_floors.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/minerals.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/game/turfs/simulated/walls_reinforced.dm
  code/game/turfs/space/space_turf.dm
  code/game/turfs/space/transit.dm
  code/game/turfs/turf.dm
  code/modules/events/spacevine.dm
  code/tests/_game_test_puppeteer.dm
  code/tests/attack_chain/test_attack_chain_turf.dm
  code/tests/game_tests.dm
Labels: Testmerge Requested, Testmerge Active, -Status: Awaiting merge, Attack Chain Migration

#27843 Borg Plushies Have Selectable Modules, Adds Missing Species Plushies to Plush Spawner
  code/game/objects/effects/spawners/random/plushie_spawners.dm
  code/game/objects/items/toys.dm
Labels: -Status: Awaiting merge

#27717 [PTBF] Adds a new hallucination, Blind Rushers!
  code/modules/hallucinations/effects/blind_rush_hallucination.dm
  code/modules/hallucinations/hallucinations.dm
  paradise.dme
Labels: -Status: Awaiting merge

#27941 Stop portable machines updating their icon every atmos tick
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
Labels: Refactor, Code Improvement, -Status: Awaiting merge

#27916 Makes some loops use `GLOB.ai_list` instead of other various lists
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/SSticker.dm
  code/game/gamemodes/cult/runes.dm
  code/game/objects/items/devices/enginepicker.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/money_spam.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/new_player/new_player.dm
Labels: Code Improvement, -Status: Awaiting merge

#27770 Makes night shift actually save power like it should
  code/modules/power/lights.dm
Labels: Fix, -Status: Awaiting merge

#27755 Adds tool information, multiple surgeries to the surgical computer.
  code/__DEFINES/tools_defines.dm
  code/game/machinery/computer/Operating.dm
  code/modules/surgery/abstract_steps.dm
  code/modules/surgery/surgery.dm
  tgui/packages/tgui/interfaces/OperatingComputer.js
  tgui/public/tgui.bundle.js
Labels: Feature, TGUI, -Status: Awaiting merge

#27663 [TWEAK] Optional laws for AI and Cyborgs on Death Squad spawn.
  code/datums/ai_law_sets.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/admin/verbs/deathsquad.dm
  sound/AI/epsilon_laws.ogg
Labels: Feature, Sound, Administration, -Status: Awaiting merge

#27752 Now lighting is shown on photography
  code/datums/action.dm
  code/modules/paperwork/photography.dm
  code/modules/paperwork/silicon_photography.dm
Labels: Fix, -Status: Awaiting merge

#27933 Resprites the mining ore box
  icons/obj/mining.dmi
Labels: Sprites, -Status: Awaiting review

#27928 Adds suspenders to the autodrobe.
  code/game/machinery/vendors/generic_vendors.dm
Labels: -Status: Awaiting review

#27905 Resprites wind dust
  icons/effects/tile_effects.dmi
Labels: Sprites, -Status: Awaiting review

#27869 Amber/Red ERT Now Get Crew Pinpointer, Gamma Gets NAD Pinpointer
  code/modules/response_team/ert_outfits.dm
Labels: -Status: Awaiting merge

#27857 Borg RCD nerf + migration to new attack chain
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/objects/items/weapons/RCD.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#27837 Make AI automated messages log more normally.
  code/__HELPERS/_logging.dm
  code/datums/log_record.dm
  code/game/machinery/cryopod.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
Labels: -Status: Awaiting review, Logging

#27823 Stethoscope Cracking Sounds Fix
  code/game/objects/structures/safe.dm
Labels: -Status: Awaiting review

#27830 Fixes Farragus Service Bathroom Area Being "Dormitory Toilets"
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge

#27805 Adds announcement of job objectives upon spawning in
  code/controllers/subsystem/SSjobs.dm
  code/game/jobs/job_objectives/science.dm
Labels: Feature, -Status: Awaiting merge

#27946 fix fusion gauntlets failing to deploy
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix, -Status: Awaiting review

#27935 Fixes his grace nodrop
  code/game/objects/items/his_grace.dm
Labels: -Status: Awaiting review

#27897 Adds surgical tray crafting recipe, renames and increases cost for the wheeled one
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/tables_racks.dm
Labels: -Status: Awaiting review, Requires Wiki Update

#27927 Resprites Mirrors, by ATPEngineer
  code/game/objects/structures/mirror.dm
  icons/obj/watercloset.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#27367 Rusting off the elements system. Makes rust appliable to turfs, adds heretic rust to revenants.
  code/__DEFINES/status_effects.dm
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/elements/rust_element.dm
  code/datums/status_effects/debuffs.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/turf.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/eldritch.dmi
  icons/effects/rust_overlay.dmi
  icons/turf/overlays.dmi
  paradise.dme
Labels: Sprites, Tweak, Code Improvement, -Status: Awaiting merge, Stale Exempt

#27951 Fixes abstract items showing on mob examine
  code/modules/mob/living/carbon/examine.dm
Labels: -Status: Awaiting merge

#27398 Adjust depot loot a little and remove some irrelevant items.
  code/game/objects/effects/spawners/depot_spawners.dm
Labels: Balance, -Status: Awaiting merge

#27959 Fix carbon/Destory runtime
  code/modules/mob/living/carbon/carbon_procs.dm
Labels: -Status: Awaiting type assignment

#27964 Fixes a minor borg runtime
  code/modules/mob/living/silicon/robot/robot_mob.dm
Labels: -Status: Awaiting type assignment

#27960 [TM FIRST] 516 Prep/Fixes regarding hrefs
  code/datums/datumvars.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/objs.dm
  code/modules/mob/mob.dm
Labels: Testmerge Requested, Testmerge Active, -Status: Awaiting review

#27963 Updates "Check New Players" verb
  code/modules/admin/verbs/randomverbs.dm
Labels: Administration, Code Improvement, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#27953 Fix: legacy attackby respects can_be_hit again
  code/_onclick/item_attack_legacy.dm
Labels: -Status: Awaiting merge

#27950 Diona eye adjustment
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/species/diona_species.dm
Labels: -Status: Awaiting merge

#27616 [PTBF] Adds hallucination effects to medical and reagent scanners
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/hallucinations/effects/weird_machinery.dm
  code/modules/hallucinations/hallucinations.dm
  paradise.dme
Labels: -Status: Awaiting merge

#27983 Fixes an oversight with med scanner hallucinations
  code/game/objects/items/devices/scanners.dm
Labels: -Status: Awaiting type assignment

#27894 Bigger air pumps
  _maps/map_files/generic/centcomm.dmm
  code/modules/atmospherics/machinery/portable/portable_pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  icons/obj/atmos.dmi
Labels: Feature, Map Edit, Sprites, -Status: Awaiting merge, Requires Wiki Update

#27911 New fire colors
  code/game/objects/items/weapons/chemical_flamethrower/chemical_flamethrower.dm
  code/game/objects/items/weapons/chemical_flamethrower/fire_effect.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/reagents_datum.dm
  icons/effects/chemical_fire.dmi
Labels: Sprites, Tweak, -Status: Awaiting review, Requires Wiki Update

#27937 Improved Meteor Shields
  code/_onclick/hud/follow_alert.dm
  code/game/objects/effects/meteors.dm
  code/modules/station_goals/shield.dm
  code/modules/supply/supply_packs/pack_miscellaneous.dm
  tgui/packages/tgui/interfaces/SatelliteControl.js
  tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge

#27400 Migrates the hand labeler to the new attack chain
  code/__DEFINES/dcs/datum_signals.dm
  code/datums/components/label.dm
  code/modules/paperwork/handlabeler.dm
Labels: Fix, -Status: Awaiting review

#27971 [FIX] SM monitoring console crash
  code/game/machinery/computer/sm_monitor.dm
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Fix, -Status: Awaiting merge

#27970 Holopads now only activate on help intent
  code/game/machinery/hologram.dm
Labels: Tweak, -Status: Awaiting merge

#27975 Adds papersacks to the Plasteel Chef vendor
  code/game/machinery/vendors/departmental_vendors.dm
Labels: -Status: Awaiting merge, Requires Wiki Update

#28006 Removes a Fluff Spawner in the Rocky Motel and its Submaps
  _maps/map_files/RandomRuins/SpaceRuins/rocky_motel.dmm
  _maps/map_files/RandomRuins/SpaceRuins/submaps/rocky_motel_submap.dmm
Labels: Map Edit, -Status: Awaiting type assignment

#27838 Adds the handheld mirror to the base contractor loadout.
  code/modules/antagonists/traitor/contractor/items/contractor_kit.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#27567 Attack Chain Migration: Wirecutters
  code/game/objects/items/tools/wirecutters.dm
Labels: -Status: Awaiting merge

#27594 [PORT] Add mantis blades (new traitor item)
  code/__DEFINES/dcs/datum_signals.dm
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/components/forces_doors_open.dm
  code/datums/components/two_handed.dm
  code/datums/uplink_items/uplink_general.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/autosurgeon.dm
  icons/mob/inhands/implants_lefthand.dmi
  icons/mob/inhands/implants_righthand.dmi
  icons/obj/weapons/melee.dmi
  paradise.dme
Labels: Sprites, Balance, -Status: Awaiting merge, Requires Wiki Update

#27564 Attack Chain Migration: Wrench
  code/game/objects/items/tools/wrench.dm
Labels: -Status: Awaiting merge, Attack Chain Migration

#27931 Reduces the Likelihood of the Carp Infestation Station Trait
  code/datums/station_traits/negative_traits.dm
Labels: Tweak, -Status: Awaiting merge

#27985 Re-buff immovable rods
  code/modules/events/immovable_rod.dm
Labels: Tweak, -Status: Awaiting merge

#28000 Cheeseboard Crate
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/supply/supply_packs/pack_organic.dm
  icons/obj/crates.dmi
Labels: Sprites, -Status: Awaiting merge

#28013 [FIX] Cyborgs cannot be emag spammed
  code/modules/mob/living/silicon/robot/robot_mob.dm
Labels: -Status: Awaiting merge

#28012 [FIX] Fix for a runtime error in deathsquad.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/admin/verbs/deathsquad.dm
Labels: -Status: Awaiting merge

#28016 Makes Nanofrost Pretty
  code/game/objects/effects/anomalies.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/modules/mod/modules/modules_engineering.dm
  icons/effects/effects.dmi
Labels: Sprites, -Status: Awaiting merge

#28003 Bookcase rework/resprite
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/library/library_equipment.dm
  icons/obj/library.dmi
Labels: Sprites, -Status: Awaiting merge

#27998 Fix sword sheaths disappearing when clicked with telekinesis
  code/game/objects/items/weapons/storage/belt.dm
Labels: Fix, -Status: Awaiting merge
