Repository ParadiseSS13/Paradise, pull requests merged in 2025-07, with the labels that each got.

#29703 [s] Grippers don't duplicate items
  code/game/objects/items/robot/cyborg_gripper.dm
Labels: High Priority, -Status: Awaiting type assignment

#29709 link varedited airlock controllers in latemapping
  code/controllers/subsystem/non_firing/SSlate_mapping.dm
Labels: -Status: Awaiting type assignment

#29502 Adds Lever Action Laser Rifle - The Model 2495
  code/modules/mob/living/carbon/carbon_emote.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/energy_lens.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  code/modules/supply/supply_packs/pack_security.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/guns/energy.dmi
  sound/weapons/gun_interactions/lever_action.ogg
  sound/weapons/laser4.ogg
Labels: Sound, Sprites, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#29661 Adds AI ventcrawling code, does not implement it
  code/__DEFINES/ai/blackboard_defines.dm
  code/__HELPERS/paths/ventcrawl_path.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/controllers/subsystem/non_firing/SSpathfinder.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/travel_towards.dm
  code/datums/ai/basic_mobs/basic_subtrees/ventcrawl_subtree.dm
  code/datums/ai/movement/ai_movement.dm
  code/datums/ai/movement/ventcrawl.dm
  code/game/objects/obj_defense.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/atmospherics/machinery/components/binary_devices/binary_atmos_base.dm
  code/modules/atmospherics/machinery/components/trinary_devices/trinary_base.dm
  code/modules/atmospherics/machinery/components/unary_devices/unary_base.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  paradise.dme
Labels: Code Improvement, -Status: Awaiting merge

#29641 Adds storage dumping
  code/game/objects/items/weapons/storage/storage_base.dm
  code/modules/mob/living/carbon/human/human_inventory.dm
  code/modules/mod/mod_control.dm
Labels: Feature, Balance, -Status: Awaiting merge

#29723 Another `SoftReservedKeyword`
  code/controllers/subsystem/non_firing/SSpathfinder.dm
Labels: Code Improvement, -Status: Awaiting type assignment

#29721 Prevent language-switching in the middle of a word or number.
  code/_globalvars/_regexes.dm
  code/modules/mob/mob_say_base.dm
Labels: Fix, -Status: Awaiting review

#29720 fix runtime in ERT equip
  code/game/jobs/job/job.dm
Labels: Fix, -Status: Awaiting review

#29719 Make it easier to get blob player panels.
  code/__HELPERS/mob_helpers.dm
Labels: Administration, -Status: Awaiting review

#29718 Make all siphon vents siphon
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
Labels: Fix, -Status: Awaiting review

#29691 periodic/trivial news headline tweaks
  code/datums/periodic_news.dm
  code/modules/economy/economy_events/economy_events_mundane.dm
  config/news/trivial.txt
Labels: Configuration Change, Tweak, -Status: Awaiting review

#29728 ensure space transit z levels receive comms
  _maps/__MAP_DEFINES.dm
  code/__DEFINES/dcs/global_signals.dm
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/game/machinery/tcomms/tcomms_core.dm
  code/modules/space_management/space_level.dm
  code/modules/space_management/turf_reservation.dm
  code/modules/space_management/zlevel_manager.dm
Labels: -Status: Awaiting type assignment

#29594 Moved Farragus Holodeck firelock to the correct position
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, Stale, -Status: Awaiting review

#29566 Tweak: Makes storage examine broadcast work, storage examines will only broadcast the top level storage, excludes bluespace pocket from being broadcast.
  code/modules/mob/mob.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#29741 vv refactor day 1 patch
  code/datums/datumvars.dm
  code/game/atom_vv.dm
  code/modules/mob/mob_vv.dm
Labels: Administration, -Status: Awaiting type assignment

#29738 fix pool spawners deleting themselves way before they should
  code/game/objects/effects/spawners/random/pool/pool_spawner.dm
Labels: Fix, -Status: Awaiting type assignment

#29590 Fix exploit records
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI, -Status: Awaiting merge

#29744 fix holodeck runtiming on load
  code/__HELPERS/unsorted.dm
Labels: Fix, -Status: Awaiting type assignment

#29694 Adds Missing Bridge Axe on Farragus
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting review

#29595 Makes oxygen grenades printable in Protolathe and Increase amount of oxygen grenades in Cargo Emergency Equipment Crate: Back with a vengeance
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/supply/supply_packs/pack_emergency.dm
Labels: Tweak, -Status: Awaiting merge

#29551 Make multitile airlocks/poddoors non directional
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_excavation.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_nt.dmm
  _maps/map_files/RandomRuins/SpaceRuins/casino.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/freighter.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/sieged_lab.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiedepot.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wreckedcargoship.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  code/__DEFINES/mappers.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/poddoor.dm
  code/game/objects/structures/door_assembly_types.dm
  icons/obj/doors/airlocks/glass_large/glass_large.dmi
  icons/obj/doors/airlocks/glass_large/overlays.dmi
  icons/obj/doors/blastdoor_1x2.dmi
  icons/obj/doors/blastdoor_1x3.dmi
  icons/obj/doors/blastdoor_1x4.dmi
  icons/obj/doors/door2x1glass.dmi
  icons/obj/doors/door_assembly2x1.dmi
  tools/UpdatePaths/Scripts/29551_non_dir_doors_part1.txt
  tools/UpdatePaths/Scripts/29551_non_dir_doors_part2.txt
  tools/maplint/lints/directional_airlocks.yml
Labels: Map Edit, Sprites, -Status: Awaiting review

#29599 Tweak modsuit's pinned modules and stabilize jetpack by default
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_general.dm
Labels: Tweak, -Status: Awaiting review

#29615 Tweak: Makes ore redemption machines take in sheets from the input side
  code/modules/mining/machine_redemption.dm
Labels: Tweak, -Status: Awaiting review

#29629 Refines Farragus Docking Asteroid
  _maps/map_files/stations/cerestation.dmm
  code/game/turfs/simulated/floor/plasteel_floor.dm
Labels: Map Edit, -Status: Awaiting merge

#29642 Removes flash from slime attacks against bots
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Balance, -Status: Awaiting review

#29748 Fix mesons not showing ores behind walls
  code/modules/mining/equipment/mineral_scanner.dm
Labels: Fix, -Status: Awaiting review

#29053 New PVE Major Midround: Demonic Incursion
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_sec_shuttle.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict5.dmm
  code/__DEFINES/ai/ai_defines.dm
  code/__DEFINES/ai/blackboard_defines.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/misc_defines.dm
  code/controllers/subsystem/SSticker.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targeting.dm
  code/datums/ai/basic_mobs/basic_subtrees/attack_obstacle_in_path.dm
  code/datums/ai/basic_mobs/basic_subtrees/prowl.dm
  code/datums/ai/basic_mobs/basic_subtrees/ranged_skirmish.dm
  code/datums/ai/basic_mobs/generic_controllers/hostile_controllers.dm
  code/datums/ai/basic_mobs/simple_controller.dm
  code/datums/ai/targeting_strategy/basic_targeting_strategy.dm
  code/datums/components/incursion_mob_death.dm
  code/datums/components/spawner.dm
  code/datums/components/surgery_initiator.dm
  code/datums/elements/hostile_machine.dm
  code/datums/spells/shapeshift.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/portable_turret.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/monster_spawner.dm
  code/modules/events/demon_incursion.dm
  code/modules/events/event_container.dm
  code/modules/events/tear.dm
  code/modules/mob/living/basic/basic_mob.dm
  code/modules/mob/living/basic/farm_animals/deer_ai.dm
  code/modules/mob/living/basic/hostile/hellhound.dm
  code/modules/mob/living/basic/hostile/hellhound_ai.dm
  code/modules/mob/living/basic/hostile/skeleton_mob.dm
  code/modules/mob/living/basic/nether_mobs/blankbody.dm
  code/modules/mob/living/basic/nether_mobs/faithless.dm
  code/modules/mob/living/basic/nether_mobs/migo.dm
  code/modules/mob/living/basic/nether_mobs/nether_mobs.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/undead.dm
  code/modules/mob/living/simple_animal/hostile/skeleton_mob.dm
  code/modules/power/engines/singularity/emitter.dm
  code/modules/projectiles/projectile/special_projectiles.dm
  icons/obj/structures/portal.dmi
  paradise.dme
  sound/AI/outbreak_demon.ogg
Labels: Map Edit, Sound, Sprites, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#29634 Some Job Perk Tweaks
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/reagents/chemistry/reagents/drinks_reagents.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#29730 Spaceproofs and Fireproofs Federation Combat Armor
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor_suits.dm
Labels: -Status: Awaiting merge, Requires Wiki Update

#29788 Fix RPEDs delete beakers
  code/game/machinery/machinery.dm
Labels: Fix, -Status: Awaiting type assignment

#29801 Small tgui v6 fixes
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/interfaces/AIFixer.jsx
  tgui/packages/tgui/interfaces/AtmosAlertConsole.jsx
  tgui/packages/tgui/interfaces/AugmentMenu.jsx
  tgui/packages/tgui/interfaces/BioChipPad.jsx
  tgui/packages/tgui/interfaces/BluespaceTap.jsx
  tgui/packages/tgui/interfaces/BotClean.jsx
  tgui/packages/tgui/interfaces/CargoConsole.jsx
  tgui/packages/tgui/interfaces/ChemDispenser.jsx
  tgui/packages/tgui/interfaces/EvolutionMenu.jsx
  tgui/packages/tgui/interfaces/LibraryComputer.jsx
  tgui/packages/tgui/interfaces/MagnetController.jsx
  tgui/packages/tgui/interfaces/Newscaster.jsx
  tgui/packages/tgui/interfaces/Photocopier.jsx
  tgui/packages/tgui/interfaces/Uplink.tsx
  tgui/packages/tgui/interfaces/common/SimpleRecords.jsx
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting type assignment

#29786 fix dvorak remote ai upload not working
  code/modules/awaymissions/mission_code/ruins/telecomns.dm
  tools/ci/check_legacy_attack_chain.py
Labels: Fix, Refactor, -Status: Awaiting merge

#29817 Fixes basicmobs not counting for DNA samples
  code/modules/station_goals/dna_vault.dm
Labels: -Status: Awaiting type assignment

#29779 Moves the compressor grind special species actions to the species datum
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/diona_species.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/vox.dm
Labels: Fix, -Status: Awaiting merge

#29838 Fix tgui CI checks
  tgui/packages/tgui/interfaces/AgentCard.tsx
Labels: TGUI, -Status: Awaiting type assignment

#29682 Assign different paycheck amounts to each job tier
  code/__DEFINES/economy_defines.dm
  code/controllers/subsystem/SSeconomy.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job/support_chaplain.dm
  code/game/machinery/computer/card.dm
  code/modules/economy/money_account.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#29674 The Smoking Expansion DLC
  _maps/map_files/RandomRuins/SpaceRuins/blowntcommsat.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/submaps/telecomns_returns_submap.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/machinery/vendors/contraband_vendors.dm
  code/game/machinery/vendors/generic_vendors.dm
  code/game/objects/items/ashtray.dm
  code/game/objects/items/weapons/RSF.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/client/preference/character.dm
  code/modules/mining/machine_vending.dm
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/species/grey/mask.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
  icons/mob/clothing/species/unathi/mask.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/clothing/species/vulpkanin/mask.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/smoking_lefthand.dmi
  icons/mob/inhands/smoking_righthand.dmi
  icons/obj/cigarettes.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/smoking.dmi
Labels: Map Edit, Sprites, -Status: Awaiting merge, Requires Wiki Update

#28893 Fix and refactor of chainsaws
  code/datums/actions/item_action.dm
  code/datums/uplink_items/uplink_general.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/melee/melee.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/melee/spellblade.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/hallucinations/effects/moderate.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/organs_internal.dm
  code/tests/test_anti_drop.dm
  icons/mob/inhands/weapons_lefthand.dmi
  icons/mob/inhands/weapons_righthand.dmi
  icons/obj/weapons/melee.dmi
  paradise.dme
  tools/UpdatePaths/Scripts/28893_chainsaw_refactor.txt
Labels: Map Edit, Sprites, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#29833 Captaincy job skill grammar fix
  code/game/jobs/job/supervisor.dm
Labels: Fix, Grammar and Formatting, -Status: Awaiting type assignment

#29708 Remaps 2 Diagoras Escape Pods
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, -Status: Awaiting review

#29681 Makes DeltaStation Perma Maintenance into a Maintenance Area
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting review

#29840 Migrate Rapid Cable Layer to new attack chain and fix inhands not getting updated
  code/game/objects/items/weapons/RCL.dm
Labels: -Status: Awaiting review

#29797 Better meteors, smoother rod movement
  code/__DEFINES/combat_defines.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/movement_defines.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/game/objects/effects/meteors.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/railings.dm
  code/modules/events/immovable_rod.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#29775 Converts space bears, space carp, and space bats to basic mobs
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_engi_sat.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/asteroid5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/debris2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict3.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict4.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/meatpackers.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_tele.dmm
  _maps/map_files/RandomRuins/SpaceRuins/voyager.dmm
  _maps/map_files/RandomRuins/SpaceRuins/way_home.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/submaps/cerestation.dmm
  code/datums/components/basic_mob_aggro_emote.dm
  code/datums/components/spawner.dm
  code/datums/spells/shapeshift.dm
  code/datums/spells/wizard_spells.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/effects/spawners/random/misc_spawners.dm
  code/game/objects/items/dehy_carp.dm
  code/game/objects/items/weapons/grenades/spawnergrenade.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/game/objects/structures/monster_spawner.dm
  code/game/objects/structures/nest.dm
  code/modules/events/carp_migration.dm
  code/modules/fish/fishtank.dm
  code/modules/mob/living/basic/hostile/bats.dm
  code/modules/mob/living/basic/hostile/bear.dm
  code/modules/mob/living/basic/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/fish.dm
  code/modules/projectiles/projectile/magic_projectiles.dm
  code/modules/research/strange_objects.dm
  code/modules/research/xenobiology/xenobiology_organs.dm
  paradise.dme
  tools/UpdatePaths/Scripts/29775_basic_bats_bears_carp.txt
Labels: Map Edit, -Status: Awaiting merge

#29807 Converts clowns, clown goblins, and cluwne goblins to basic mobs
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/map_files/stations/emeraldstation.dmm
  code/game/gamemodes/wizard/artefact.dm
  code/game/machinery/syndicatebomb.dm
  code/modules/events/tear_honk.dm
  code/modules/mob/living/basic/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  paradise.dme
  tools/UpdatePaths/Scripts/29807_honknomaly_mobs.txt
Labels: Map Edit, -Status: Awaiting merge

#29766 Paramedic Drip + some tweaks
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/datums/dog_fashion.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/objects/items/weapons/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical_lockers.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/head/beret.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/suits/job_suits.dm
  code/modules/clothing/under/jobs/medical_jumpsuits.dm
  icons/mob/clothing/head/beret.dmi
  icons/mob/clothing/head/softcap.dmi
  icons/mob/clothing/species/drask/head/beret.dmi
  icons/mob/clothing/species/drask/suits/utility.dmi
  icons/mob/clothing/species/drask/under/medical.dmi
  icons/mob/clothing/species/grey/suits/utility.dmi
  icons/mob/clothing/species/grey/under/medical.dmi
  icons/mob/clothing/species/kidan/head/beret.dmi
  icons/mob/clothing/species/kidan/head/softcap.dmi
  icons/mob/clothing/species/kidan/suits/utility.dmi
  icons/mob/clothing/species/kidan/under/medical.dmi
  icons/mob/clothing/species/vox/head/beret.dmi
  icons/mob/clothing/species/vox/head/softcap.dmi
  icons/mob/clothing/species/vox/suits/utility.dmi
  icons/mob/clothing/species/vox/under/medical.dmi
  icons/mob/clothing/suits/utility.dmi
  icons/mob/clothing/under/medical.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/head/beret.dmi
  icons/obj/clothing/head/softcap.dmi
  icons/obj/clothing/suits/utility.dmi
  icons/obj/clothing/under/medical.dmi
  tools/UpdatePaths/Scripts/29766_paramedic_drip.txt
Labels: Map Edit, Sprites, -Status: Awaiting merge, Requires Wiki Update

#29852 Saner FLW links.
  code/modules/admin/topic.dm
  code/modules/mob/dead/observer/observer_base.dm
Labels: Fix, Administration, Code Improvement, -Status: Awaiting merge

#29875 Fixes Abandoned Engi Satellite Secondary Airlock Spawning Wrong if Ruin is Rotated
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_engi_sat.dmm
Labels: Fix, Map Edit

#29861 Adds CI to error on unnecessary variable modification
  .github/workflows/ci.yml
  code/controllers/subsystem/processing/SSprocessing.dm
  code/game/gamemodes/dynamic/antag_rulesets.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/power/engines/singularity/particle_accelerator/particle_control.dm
  code/modules/projectiles/guns/projectile/launchers.dm
  tools/ci/check_legacy_attack_chain.py
  tools/ci/identical_variables.py
  tools/requirements.txt
Labels: -Status: Awaiting type assignment

#29686 Converts the Cyberiad Hardsuit Storage External Airlock Into a Dynamic Airlock, Adds Glass & Airless Plating Tile
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, -Status: Awaiting merge

#29687 Converts Diagoras Engine Airlock to Dynamic Airlock, Adds Glass and Airless Plating Tile
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, -Status: Awaiting merge

#29529 Adds Clown Car, Ports TG Vehicle Code
  code/__DEFINES/dcs/obj_signals.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/tg_cooldowns.dm
  code/__DEFINES/vehicle_defines.dm
  code/__HELPERS/trait_helpers.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/datums/components/riding/riding_vehicle.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/vehicle/tg_vehicles/cars/car.dm
  code/modules/vehicle/tg_vehicles/cars/clowncar.dm
  code/modules/vehicle/tg_vehicles/scooter.dm
  code/modules/vehicle/tg_vehicles/sealed.dm
  code/modules/vehicle/tg_vehicles/tg_vehicle_actions.dm
  code/modules/vehicle/tg_vehicles/tg_vehicles.dm
  icons/obj/tgvehicles.dmi
  paradise.dme
  sound/effects/clowncar/car_crash.ogg
  sound/effects/clowncar/carcannon1.ogg
  sound/effects/clowncar/carcannon2.ogg
  sound/effects/clowncar/carcannon3.ogg
  sound/effects/clowncar/cartoon_splat.ogg
  sound/effects/clowncar/clowncar_cannonmode1.ogg
  sound/effects/clowncar/clowncar_cannonmode2.ogg
  sound/effects/clowncar/clowncar_crash1.ogg
  sound/effects/clowncar/clowncar_crash2.ogg
  sound/effects/clowncar/clowncar_crashpins.ogg
  sound/effects/clowncar/clowncar_fart.ogg
  sound/effects/clowncar/clowncar_load1.ogg
  sound/effects/clowncar/clowncar_load2.ogg
  sound/effects/clowncar/clowncar_ram1.ogg
  sound/effects/clowncar/clowncar_ram2.ogg
  sound/effects/clowncar/clowncar_ram3.ogg
  sound/effects/clowncar/door_close.ogg
  sound/effects/clowncar/door_open.ogg
  sound/vehicles/carrev.ogg
Labels: Sound, Sprites, Testmerge Requested, -Status: Awaiting merge, Requires Wiki Update

#29395 refactor strippable element
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/parrot.dm
  tgui/packages/tgui/interfaces/StripMenu.tsx
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge, Stale Exempt

#29923 Fixes transparency in some TGUI menus
  tgui/packages/tgui/styles/interfaces/AdminAntagMenu.scss
  tgui/packages/tgui/styles/interfaces/KitchenMachine.scss
  tgui/public/tgui.bundle.css
Labels: Fix, TGUI, -Status: Awaiting type assignment

#29909 fix admin equipment for shaft miner modsuit
  code/game/jobs/job/support.dm
Labels: Fix, -Status: Awaiting type assignment

#29904 Fixes Clown Mob Language
  code/modules/mob/living/basic/retaliate/clown.dm
Labels: Fix, -Status: Awaiting merge

#29783 Converts gorillas to basic mobs
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  code/__DEFINES/mob_defines.dm
  code/datums/keybindings/emote_keybinds.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  code/modules/mob/living/basic/hostile/gorilla/gorilla.dm
  code/modules/mob/living/basic/hostile/gorilla/gorilla_emote.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla_emote.dm
  code/modules/mob/transform_procs.dm
  code/modules/projectiles/projectile/magic_projectiles.dm
  paradise.dme
  tools/UpdatePaths/Scripts/29783_gorilla.txt
Labels: Map Edit, -Status: Awaiting review

#29785 Converts Feral Cats, Killer Tomatos, and Non-Demon Creatures to Basic Mobs
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_eden.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  code/datums/ai/basic_mobs/basic_subtrees/ventcrawl_find_target.dm
  code/datums/ai/basic_mobs/generic_controllers/hostile_controllers.dm
  code/datums/spells/wizard_spells.dm
  code/game/objects/items/weapons/grenades/spawnergrenade.dm
  code/modules/hydroponics/grown/tomato.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/mob/living/basic/hostile/creature.dm
  code/modules/mob/living/basic/hostile/feral_cat.dm
  code/modules/mob/living/basic/hostile/killertomato.dm
  code/modules/mob/living/simple_animal/hostile/feral_cat.dm
  code/modules/projectiles/projectile/magic_projectiles.dm
  paradise.dme
  tools/UpdatePaths/Scripts/29785_cats_creatures_killertomatos.txt
Labels: Map Edit, Merge Conflict, -Status: Awaiting merge

#29796 Converts giant spiders to basic mobs
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__DEFINES/ai/ai_defines.dm
  code/__DEFINES/ai/blackboard_defines.dm
  code/__DEFINES/dcs/mob_signals.dm
  code/__HELPERS/mob_helpers.dm
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/ai/ai_controller.dm
  code/datums/ai/basic_mobs/basic_controller.dm
  code/datums/ai/idle_behaviors/idle_random_walk.dm
  code/datums/ai/movement/ai_movement.dm
  code/datums/elements/pet_bonus.dm
  code/game/objects/effects/spiders.dm
  code/modules/antagonists/changeling/powers/summon_spiders.dm
  code/modules/events/spider_infestation.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/mob/living/basic/hostile/giant_spider/giant_spider.dm
  code/modules/mob/living/basic/hostile/giant_spider/giant_spider_actions.dm
  code/modules/mob/living/basic/hostile/giant_spider/giant_spider_ai.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/araneus.dm
  code/modules/mob/mob_vars.dm
  paradise.dme
  sound/creatures/chitter.ogg
  tools/UpdatePaths/Scripts/29796_giant_spiders.txt
Labels: Map Edit, Sound, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#29849 Converts hivebots to basic mob AI
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/telecomns_returns.dmm
  code/__DEFINES/ai/blackboard_defines.dm
  code/modules/awaymissions/mission_code/ruins/telecomns.dm
  code/modules/mob/living/basic/basic_mob.dm
  code/modules/mob/living/basic/hostile/hivebot.dm
  code/modules/mob/living/basic/hostile/hivebot_ai.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  paradise.dme
  tools/UpdatePaths/Scripts/29849_hivebot.txt
Labels: Map Edit, Testmerge Requested, Testmerge Active, -Status: Awaiting approval

#29770 Adds MESG-01 Disabler Scattercannon - a Mech Disabler Shotgun
  code/game/mecha/equipment/weapons/weapons.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mecha/mecha_equipment.dmi
Labels: Sprites, -Status: Awaiting review

#29826 Alien hand 'spells' are no longer magical
  code/datums/spells/alien_spells/basetype_alien_touch.dm
  code/datums/spells/alien_spells/corrosive_acid_spit.dm
Labels: Fix, -Status: Awaiting merge

#29936 fix strippable actions not working
  code/datums/elements/strippable.dm
Labels: Fix
