Repository ParadiseSS13/Paradise, pull requests merged in 2025-03, with the labels that each got.

#28188 Fix belt disappearing on mouse drop
  code/game/objects/items/weapons/storage/belt.dm
Labels: Fix, -Status: Awaiting merge

#28375 Added fire suits to seed vault
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
Labels: Map Edit, -Status: Awaiting merge

#28339 Replaces the Farragus AI Sat External Airlock With a 2x2
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge, CereStation

#28436 Adds 2 lavaland turfs to `keep_turfs` of ash accretion module
  code/modules/mod/modules/modules_supply.dm
Labels: Fix, -Status: Awaiting merge

#28469 Refactors SSTicker checks
  code/datums/mind.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/sound.dm
  code/game/turfs/turf.dm
  code/game/verbs/suicide.dm
  code/modules/admin/misc_admin_procs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/cinematic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/gimmick_team.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/antagonists/_common/antag_team.dm
  code/modules/mob/camera/cameranet.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/ai_defense.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/response_team/ert.dm
Labels: Refactor, -Status: Awaiting merge

#28452 [SPRITE] Updates Kidan eyewear sprites to fit their last resprite
  icons/mob/clothing/species/kidan/eyes.dmi
Labels: Sprites, -Status: Awaiting merge

#28445 [LORE...sorta] Switches the L6's caliber to 7.62x51mm
  _maps/map_files/generic/centcomm.dmm
  code/datums/uplink_items/uplink_nuclear.dm
  code/game/objects/structures/crates_lockers/closets/syndicate_lockers.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/projectiles/guns/projectile/saw.dm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#28492 Adds Airlock Autoname Helpers to Various Farragus Medical Doors
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28536 [Fix] Signalers wont runtime when opening airlocks
  code/game/machinery/doors/airlock.dm
Labels: -Status: Awaiting merge

#28490 Adds Pizza cutters + adds cheese knifes to chef and autolathe
  code/game/machinery/vendors/departmental_vendors.dm
  code/game/objects/items/weapons/kitchen.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/supply/supply_packs/pack_organic.dm
  icons/obj/kitchen.dmi
Labels: Feature, Sprites, -Status: Awaiting merge, Requires Wiki Update

#28507 Changes the voting alert notification sound
  code/modules/vote/vote_datum.dm
  sound/Attributions.txt
  sound/misc/server_alert.ogg
Labels: Sound, -Status: Awaiting review

#28557 Removes dotnet from non OD CI runs
  .github/workflows/ci.yml
Labels: Tools, -Status: Awaiting merge

#28548 Fixes items being vended into cyborg hands
  code/modules/mob/living/silicon/silicon_mob.dm
Labels: Fix, -Status: Awaiting merge

#28491 View Variables improvements
  code/datums/datumvars.dm
  code/modules/asset_cache/assets/asset_vv.dm
  html/admin/view_variables.css
  paradise.dme
Labels: Administration, -Status: Awaiting merge

#28261 Refactors how revenants spawn
  code/game/gamemodes/miniantags/revenant/revenant.dm
Labels: Tweak, -Status: Awaiting merge

#28347 [LORE] Updates a bunch of manual summaries
  code/game/objects/items/weapons/manuals.dm
Labels: -Status: Awaiting merge, Lore

#28569 Adjusts the volume for new voting alert sound
  sound/Attributions.txt
  sound/misc/server_alert.ogg
Labels: Fix, Sound, -Status: Awaiting type assignment

#28385 Refactors reagent shock reduction
  code/modules/admin/reagents_editor.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/reagents/chemistry/reagents_holder.dm
Labels: Fix, Refactor, -Status: Awaiting review

#28574 Makes check_grep2.py 10x faster
  tools/ci/check_grep2.py
Labels: Tools, Code Improvement, Python

#28361 Boxing Gloves sound effects
  code/game/sound.dm
  code/modules/martial_arts/brawling.dm
  sound/weapons/boxing1.ogg
  sound/weapons/boxing2.ogg
  sound/weapons/boxing3.ogg
  sound/weapons/boxing4.ogg
  sound/weapons/boxing5.ogg
  sound/weapons/boxing6.ogg
Labels: Feature, Sound, -Status: Awaiting merge

#28239 Updating medical MODsuit sprites for Vox
  icons/mob/clothing/modsuit/species/vox_modsuits.dmi
  icons/mob/clothing/species/vox/suit.dmi
Labels: Sprites, -Status: Awaiting merge

#28253 Lighting.DMI Resprites, Flares, Seclites, Green Lamps, Bulbs, Tubes, Fixtures, Penlights, and Lanterns!
  icons/obj/lighting.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#28256 Modsuit HUD now shows medical/security/employment records on examine()
  code/datums/outfits/outfit_debug.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/glasses/hudglasses.dm
  code/modules/clothing/glasses/tajblind.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/surgery/organs/augments_eyes.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#28392 Fixed crew monitor icon for MODsuit module
  code/modules/mod/modules/modules_medical.dm
Labels: -Status: Awaiting merge

#28464 Adds the *chirp emote from nymphs to Diona
  code/datums/keybindings/emote_keybinds.dm
  code/modules/mob/living/carbon/human/human_emote.dm
Labels: Feature, -Status: Awaiting merge

#28589 remove unused variable
  code/game/objects/structures/curtains.dm
Labels: -Status: Awaiting type assignment

#28587 Merges check_icon_dupenames.py and check_icon_conflicts.py
  .github/workflows/ci.yml
  tools/ci/check_icon_conflicts.py
  tools/ci/check_icon_dupenames.py
  tools/ci/check_icons.py
Labels: -Status: Awaiting merge

#28370 Relocates the Meta AI Upload to Science
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28493 Adds a Paper Bin, HOS Stamp, and Multi-Colour Pen to the HOS Office of Kerberos.
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#28498 Adds shell boxes for the rest of the (practical) shotgun types
  code/game/objects/items/weapons/storage/boxes.dm
  icons/obj/shell_boxes.dmi
Labels: Sprites, -Status: Awaiting merge

#28523 forensic scanner resprite
  code/datums/action.dm
  code/modules/detective_work/scanner.dm
  icons/goonstation/objects/objects.dmi
  icons/mob/actions/actions.dmi
  icons/obj/device.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#28573 Adds an attack chain check for puppet test's use_in_hand proc
  code/tests/_game_test_puppeteer.dm
Labels: -Status: Awaiting merge

#28581 Cleanup AI subsystem names
  code/controllers/subsystem/SSai_controllers.dm
  code/controllers/subsystem/movement/SSai_movement.dm
  code/controllers/subsystem/processing/SSai_behaviors.dm
Labels: Tweak, -Status: Awaiting merge

#28495 Organizes the Cyberiad Robotics Equipment a Bit
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting review

#28269 Adds more ATMs to all stations. All ATMs now have a floor marking to catch your eye and remind you they exist.
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/modules/economy/economy_machinery/atm.dm
Labels: Map Edit, Merge Conflict, -Status: Awaiting merge

#28539 Fixes shower building
  code/game/objects/structures/watercloset.dm
Labels: -Status: Awaiting merge

#28630 [s] Prevents telegun from spawning inside surplus crates
  code/datums/uplink_items/uplink_traitor.dm
Labels: Fix

#28622 Fixes an Oopsie (re-adds missing upload turret controller on meta)
  _maps/map_files/stations/metastation.dmm
Labels: Fix, Map Edit, -Status: Awaiting type assignment

#28599 Fix cogbar appearing with thief gloves
  code/datums/elements/strippable.dm
  code/modules/mob/living/carbon/carbon_stripping.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
Labels: Fix, -Status: Awaiting merge

#28566 remove unused constants define file
  code/__HELPERS/constants.dm
  paradise.dme
Labels: Code Improvement, -Status: Awaiting merge

#28637 fix luxury capsule windows blocking movement
  _maps/map_files/templates/shelter_2.dmm
Labels: Map Edit, -Status: Awaiting type assignment

#28629 Fix Cogbar Appearing Over Cyborgs/AI When Bolting/Shocking Doors
  code/_onclick/ai_onclick.dm
Labels: Fix, -Status: Awaiting merge

#28603 [Fix] Rendering of unblurred exposure icon on every backdrop
  code/_onclick/hud/plane_master.dm
Labels: Fix, -Status: Awaiting review

#28211 Attack chain migration: /mob
  code/_onclick/item_attack.dm
  code/_onclick/item_attack_legacy.dm
  code/game/gamemodes/miniantags/morph/morph.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/modules/antagonists/changeling/powers/summon_spiders.dm
  code/modules/mining/fulton.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/drone/maint_drone.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/silicon/robot/syndicate_robot.dm
  code/modules/mob/living/silicon/silicon_mob.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/clockwork_constructs.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/nian_caterpillar.dm
  code/modules/mob/living/simple_animal/friendly/pet.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/hostile/hellhound.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/elite.dm
  code/modules/mob/living/simple_animal/hostile/mining/gutlunch.dm
  code/modules/mob/living/simple_animal/hostile/mushroom.dm
  code/modules/mob/living/simple_animal/hostile/syndicate_mobs.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/posessed_object.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/slime/slime_mob.dm
  code/modules/mob/mob_holder.dm
  code/modules/mob/mob_vars.dm
  code/modules/projectiles/gun.dm
Labels: Testmerge Requested, Testmerge Active, -Status: Awaiting review, Attack Chain Migration

#28642 Allow putting items into a janicart's trashbag
  code/game/objects/structures/janicart.dm
Labels: Fix, -Status: Awaiting merge

#28619 Shift planes and layers to prevent overlap with conflicting displayed elements
  code/__DEFINES/layers.dm
Labels: Fix, -Status: Awaiting merge

#28576 Lance shuttle brig / mapping documents
  _maps/map_files/shuttles/emergency_lance.dmm
  docs/mapping/requirements.md
Labels: Fix, Map Edit, Documentation, -Status: Awaiting merge

#28519 Gives Poly Some More Lines
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Feature, -Status: Awaiting merge

#28415 Nerf Lavaland's bluespace spellblade
  code/game/objects/items/weapons/melee/melee_misc.dm
Labels: Tweak, -Status: Awaiting merge

#28182 Fixes unintentional camera blindspots on every station
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, MetaStation, BoxStation, DeltaStation, -Status: Awaiting merge, CereStation

#28543 Updates biochip descriptions
  code/game/objects/items/weapons/bio_chips/bio_chip_fluff.dm
Labels: Grammar and Formatting, Tweak, -Status: Awaiting review

#28369 Adds New Subtype of Cameras That is Indestructable for Toxins to all Stations
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/machinery/camera/camera.dm
Labels: Fix, Map Edit, -Status: Awaiting review

#28656 fix spelling of a code comment from "defualt" to "default"
  code/datums/mind.dm
Labels: Grammar and Formatting, -Status: Awaiting merge

#28661 Tracy updates + Other stuff
  .gitignore
  code/__DEFINES/_init.dm
  paradise.dme
  prof.dll
Labels: Tools

#28410 [LORE] Updates a bunch of tool lore
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/modules/clothing/gloves/colored_gloves.dm
Labels: Tweak, -Status: Awaiting merge, Lore

#28380 IPC "painkiller" - OIL!
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
  code/modules/reagents/chemistry/reagents_datum.dm
Labels: Feature, Balance, Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting merge, Requires Wiki Update

#28668 moves ai upgrades to new attack chain, fixes bugs
  code/game/objects/effects/spawners/random/traders/trader_department_spawners.dm
  code/game/objects/effects/spawners/random/traders/trader_organization_spawners.dm
  code/game/objects/items/robot/ai_upgrades.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/modules/awaymissions/mission_code/ruins/telecomns.dm
Labels: Fix, -Status: Awaiting merge, Attack Chain Migration

#28634 Resprites swat icon for Greys
  icons/mob/clothing/species/grey/mask.dmi
Labels: Sprites, -Status: Awaiting merge

#28621 refactor decacrate loot table
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict4.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/emptyshell.dmm
  _maps/map_files/RandomRuins/SpaceRuins/freighter.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wreckedcargoship.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  _maps/map_files/test_tiny/test_tiny.dmm
  code/game/objects/effects/spawners/random/loot_spawners.dm
  code/game/objects/effects/spawners/random/misc_spawners.dm
  code/game/objects/effects/spawners/random/outfit_spawners.dm
  code/modules/mining/abandonedcrates.dm
  icons/effects/random_spawners.dmi
  paradise.dme
  tools/UpdatePaths/Scripts/28621_lootcrates.txt
Labels: Fix, Map Edit, Sprites, -Status: Awaiting merge

#28383 Adds a Cycling Airlock to Cyberiad Departures and Locks all Shuttle Dock Airlocks
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28582 Fixes some bugs with changeling's Augmented Eyesight
  code/modules/antagonists/changeling/powers/augmented_eyesight.dm
  code/modules/antagonists/changeling/powers/transform.dm
Labels: Fix, -Status: Awaiting review

#28406 Adds more Poly Voicelines
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Feature, -Status: Awaiting review

#28483 Fixes the server room on farragus being prechilled to -190c
  _maps/map_files/stations/cerestation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#28458 Sorium boloog can no longer effect mobs that have magboots
  code/modules/reagents/chemistry/reagents/blob_reagents.dm
Labels: Tweak, -Status: Awaiting review

#28544 Create large package expel delay for disposals.
  _maps/map_files/stations/cerestation.dmm
  code/modules/recycling/disposal.dm
Labels: Feature, Map Edit, Tweak, -Status: Awaiting review

#28645 ban d1/d2 cable vars in maps for good
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  tools/maplint/lints/cable_tmpvars.yml
Labels: Map Edit, -Status: Awaiting review

#28565 Increases the time on stale issue labeling
  .github/workflows/label_stale.yml
Labels: -Status: Awaiting merge, github_actions

#28518 Fire alarms now eventually stop blaring
  code/game/area/areas.dm
Labels: Tweak, -Status: Awaiting review

#28481 Adds contortionist's envirosuit (Plasmaman contortionist's)
  code/datums/uplink_items/uplink_traitor.dm
  code/modules/clothing/under/jobs/plasmamen/engineering_plasmasuits.dm
  code/modules/mob/living/carbon/carbon_procs.dm
Labels: Feature, Balance, -Status: Awaiting review, Requires Wiki Update

#28545 AI and Borgs can Toggle Light Tiles
  code/game/turfs/simulated/floor/light_floor.dm
Labels: Tweak, -Status: Awaiting review

#28331 Replaces a Handcrafted Airlock in Cyberiad Security Maintenance With an Airlock Helper
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting merge

#28206 Adds labels to RPD and slightly refactors pipe code
  code/datums/components/label.dm
  code/game/machinery/pipe/pipe_construction.dm
  code/game/objects/items/weapons/rpd.dm
  tgui/packages/tgui/interfaces/RPD.js
  tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge

#28528 Adds a bunch of buildable wood stuff, resprites planks
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_shuttlecrash.dmm
  _maps/map_files/RandomRuins/SpaceRuins/way_home.dmm
  _maps/map_files/shuttles/emergency_jungle.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  code/datums/components/shelved.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/misc_structures.dm
  code/game/objects/structures/shelves.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/clothing/clothing.dm
  code/modules/crafting/recipes.dm
  code/modules/food_and_drinks/drinks/drinks/mugs.dm
  code/modules/hydroponics/grown/towercap.dm
  icons/mob/inhands/chairs_lefthand.dmi
  icons/mob/inhands/chairs_righthand.dmi
  icons/obj/chairs.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/obj/mugs.dmi
  icons/obj/objects.dmi
  icons/obj/stacks/organic.dmi
  icons/obj/stationobjs.dmi
  tools/UpdatePaths/Scripts/28528_bonfire.txt
Labels: Map Edit, Sprites, -Status: Awaiting merge, Requires Wiki Update

#28561 Modernizes the Turreted Outpost
  _maps/map_files/RandomRuins/SpaceRuins/turretedoutpost.dmm
  code/datums/ruins/space_ruins.dm
  code/game/area/areas/ruins/space_areas.dm
  code/game/machinery/portable_turret.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Feature, Map Edit, Balance, Tweak, -Status: Awaiting merge

#28595 Adds labor camp cameras to security camera console network + code cleanup + fix
  _maps/map_files/RandomRuins/SpaceRuins/telecomns_returns.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/emergency_bar.dmm
  _maps/map_files/shuttles/emergency_clown.dmm
  _maps/map_files/shuttles/emergency_cyb.dmm
  _maps/map_files/shuttles/emergency_dept.dmm
  _maps/map_files/shuttles/emergency_jungle.dmm
  _maps/map_files/shuttles/emergency_lance.dmm
  _maps/map_files/shuttles/emergency_mil.dmm
  _maps/map_files/shuttles/emergency_narnar.dmm
  _maps/map_files/shuttles/emergency_old.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/machinery/computer/camera_console.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
Labels: Map Edit, -Status: Awaiting merge

#28596 Spaceacillin nerfs
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Tweak, -Status: Awaiting merge

#28617 Changes code owner for tgui/bin
  .github/CODEOWNERS
Labels: -Status: Awaiting review

#28624 Adds surgery sound for tending
  code/modules/surgery/tending.dm
Labels: Feature, -Status: Awaiting merge

#28712 fix disposal pipe draw layer
  code/modules/recycling/disposal.dm
Labels: Fix, -Status: Awaiting type assignment

#28459 Touches up Farragus Cargo
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting approval

#28535 [Fix] Cyborg ranged clicks now work with the new attack chain
  code/_onclick/cyborg.dm
Labels: Fix, -Status: Awaiting merge

#28715 Adds No-Lava Mapper Helpers to the Free Golem Ship
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
Labels: Map Edit, -Status: Awaiting merge

#28705 Adds the full brown tile to the floor painter options
  code/game/objects/items/devices/painter/floor_painter.dm
Labels: Fix, -Status: Awaiting merge

#28563 Standardizes All Janitorial Closet Equipment Across Every Station
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/janicart.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
Labels: Map Edit, -Status: Awaiting merge

#28669 Fixes inability to explode hidden rigged plasma tank
  code/game/atoms.dm
  code/modules/awaymissions/mission_code/ruins/telecomns.dm
  code/modules/projectiles/projectile_base.dm
Labels: -Status: Awaiting merge

#28610 Revenants haunted items ability can now hit stuff that aren't humanoid mobs
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
Labels: Tweak, -Status: Awaiting merge

#28699 attack chain migration: reagent containers
  code/game/gamemodes/wizard/artefact.dm
  code/game/machinery/iv_drip.dm
  code/game/objects/items/weapons/alien_specific.dm
  code/game/objects/items/weapons/paint_bucket.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/modules/detective_work/footprints_and_rag.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/drinks/drinks/cans.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/food_and_drinks/drinks/drinks/shotglass.dm
  code/modules/food_and_drinks/drinks/drinks_base.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/mob/mob.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/applicator.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  code/tests/_game_test_puppeteer.dm
  code/tests/attack_chain/test_attack_chain_reagent_containers.dm
  code/tests/game_tests.dm
Labels: -Status: Awaiting merge, Attack Chain Migration

#28759 reagent container interaction fixes
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/tests/attack_chain/test_attack_chain_reagent_containers.dm
Labels: Fix

#28765 interaction fixes for IV bags, chem bags, and syringes
  code/_onclick/item_attack.dm
  code/_onclick/item_attack_legacy.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/tests/attack_chain/test_attack_chain_reagent_containers.dm
Labels: Fix, -Status: Awaiting type assignment

#28767 fix pill and patch activate in-hand
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/tests/attack_chain/test_attack_chain_reagent_containers.dm
Labels: -Status: Awaiting type assignment

#28773 [Fix] clone pod accepts reagents again
  code/game/machinery/clonepod.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/tests/attack_chain/test_attack_chain_reagent_containers.dm
Labels: Fix, -Status: Awaiting type assignment

#28775 dropper, patch and pill fixes
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/tests/attack_chain/test_attack_chain_reagent_containers.dm
Labels: Fix, -Status: Awaiting review

#28754 Fix access tuner causes cogbar
  code/game/objects/items/control_wand.dm
Labels: Fix, -Status: Awaiting review

#28714 Fixes one of the SM events
  code/modules/power/engines/supermatter/supermatter_event.dm
Labels: Fix, -Status: Awaiting review

#28700 Fixes energy shield icon
  icons/mob/inhands/weapons_lefthand.dmi
Labels: Fix, Sprites, -Status: Awaiting review

#28508 Fixes unused `melee_block_chance` for syndie mobs
  code/modules/mob/living/simple_animal/hostile/syndicate_mobs.dm
Labels: Fix, -Status: Awaiting review

#28529 Edge cases broadcast examine
  code/modules/mob/mob.dm
Labels: -Status: Awaiting review

#28542 [Fix] resonator no longer destroys ancient rock
  code/modules/mining/equipment/resonator.dm
  code/tests/attack_chain/test_attack_chain_turf.dm
Labels: -Status: Awaiting review

#28784 [S] fixy evil
  code/game/turfs/simulated/floor/indestructible.dm
Labels: Fix

#28749 refactor: speed up emergency light change
  code/modules/power/lights.dm
Labels: Refactor, -Status: Awaiting merge

#28473 Updates the issue report template to hopefully better draw attention to what may be an exploit
  .github/ISSUE_TEMPLATE/issue_report.yml
Labels: Documentation, -Status: Awaiting merge, Stale Exempt

#28425 Quality Remap of Delta Station Service + Service Maint
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#28657 Atomic Gardening
  code/modules/hydroponics/hydroponics_tray.dm
Labels: -Status: Awaiting merge

#28663 Adds Nuke Core/Supermatter Sliver steal kits as a rare maint item
  code/_globalvars/lists/maint_loot_tables.dm
Labels: -Status: Awaiting merge

#28592 Bulldog for Traitors
  code/datums/uplink_items/uplink_traitor.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Balance, -Status: Awaiting review, Requires Wiki Update

#28725 refactor human butchering trait
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/elements/butchers_humans.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  paradise.dme
Labels: -Status: Awaiting review

#28716 Adds Splints to First Aid Wall Vendors
  code/game/machinery/vendors/generic_vendors.dm
Labels: -Status: Awaiting merge, Requires Wiki Update

#28525 Bot mode fixes
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  tgui/packages/tgui/interfaces/BotCall.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge

#28485 Allows to attack large cardboard box in melee.
  code/game/objects/items/weapons/bio_chips/bio_chip_stealth.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
Labels: Tweak, -Status: Awaiting merge

#28463 Bringing back reliable videocamera 'audio' transmission to entertainment consoles.
  code/modules/paperwork/photography.dm
Labels: Fix, Tweak, -Status: Awaiting merge

#28789 fix spray container interactions with tables
  code/modules/reagents/reagent_containers/spray.dm
  code/tests/attack_chain/test_attack_chain_reagent_containers.dm
Labels: Fix, -Status: Awaiting type assignment

#28558 convert emergency lockers to directional mapping helpers
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_shuttlecrash.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndicatedruglab.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wreckedcargoship.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  _maps/map_files/shuttles/emergency_bar.dmm
  _maps/map_files/shuttles/emergency_clown.dmm
  _maps/map_files/shuttles/emergency_mil.dmm
  _maps/map_files/shuttles/emergency_narnar.dmm
  _maps/map_files/shuttles/emergency_old.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/structures/crates_lockers/walllocker.dm
  tools/UpdatePaths/Scripts/28558_emergelocker_directionals.txt
  tools/maplint/lints/directional_emergelockers.yml
Labels: Map Edit, -Status: Awaiting merge

#28778 remove and maplint window layers
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/admin_armory.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  _maps/map_files/shuttles/emergency_cramped.dmm
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/templates/biodome_beach.dmm
  tools/UpdatePaths/Scripts/28778_window_layers.txt
  tools/maplint/lints/window_layers.yml
Labels: Map Edit, -Status: Awaiting merge

#28646 Adds peak EER to the SM monitor console
  code/game/machinery/computer/sm_monitor.dm
  code/modules/power/engines/supermatter/supermatter.dm
  tgui/packages/tgui/interfaces/SupermatterMonitor.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge

#28809 [516] Scaling and TGUI fixes
  code/datums/browser.dm
  code/datums/datumvars.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui/components/Input.js
  tgui/packages/tgui/drag.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#28601 Adds a missing Security Shutter on Diagoras
  _maps/map_files/stations/emeraldstation.dmm
Labels: Fix, Map Edit, -Status: Awaiting merge

#28745 Walloping Wacky Wallbumps aWay from Lights: Space Ruins and Lavaland Edition
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_engi_sat.dmm
  _maps/map_files/RandomRuins/SpaceRuins/moonoutpost19.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/submaps/telecomns_returns_submap.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/RandomRuins/SpaceRuins/telecomns_returns.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wreckedcargoship.dmm
  _maps/map_files/generic/Lavaland.dmm
Labels: Map Edit, -Status: Awaiting merge

#28708 Adds a Missing Grass Tile and Wall at Deltastation's Evac
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28709 Makes the Electrochromic Windows Able to be Tinted on Metastation's Chapel
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28711 Adds Atmos Piping and Vents/Scrubbers to Deltastation's Old Bar
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28743 reword shadow crawl ability description
  code/datums/spells/bloodcrawl.dm
Labels: -Status: Awaiting merge

#28777 Fix fire alarm behavior
  code/datums/alarm_manager.dm
Labels: -Status: Awaiting merge

#28783 [Fix] Body type isn't random anymore.
  code/modules/surgery/organs/organ_icon.dm
Labels: -Status: Awaiting merge

#28728 refactor map size CI
  .github/workflows/ci.yml
  tools/ci/check_map_sizes.py
Labels: -Status: Awaiting merge

#28760 Add wide mode for modular painter & fix for decal painter
  code/datums/elements/decal_element.dm
  code/game/objects/items/devices/painter/floor_painter.dm
  tgui/packages/tgui/interfaces/DecalPainter.js
  tgui/packages/tgui/interfaces/FloorPainter.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge

#28755 Migrates random glowstick to spawner + makes red glowstick more.. red
  _maps/map_files/RandomRuins/SpaceRuins/clownmime.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/game/objects/effects/spawners/random/misc_spawners.dm
  code/game/objects/items/devices/flashlight.dm
  icons/effects/random_spawners.dmi
  icons/obj/lighting.dmi
  tools/UpdatePaths/Scripts/28755_random_glowstick.txt
Labels: Map Edit, Sprites, -Status: Awaiting merge

#28815 Fixes vendors displaying that a price is "0" instead of "FREE"
  .gitattributes
  tgui/packages/tgui/interfaces/Vending.js
  tgui/public/tgui.bundle.js
Labels: Fix, Merge Conflict, TGUI, -Status: Awaiting merge

#28367 Relocates the Delta AI Upload From the Bridge to Science
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, Merge Conflict, Tweak, -Status: Awaiting merge

#28609 Changes mindflayer steam to increase body temperature instead of directly doing burn damage
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/carbon/human/human_life.dm
Labels: Tweak, -Status: Awaiting merge, Requires Wiki Update

#28644 refactor SSmapping for fine-grained proc profiling
  code/controllers/configuration/sections/ruin_configuration.dm
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/datums/helper_datums/map_template.dm
  config/example/config.toml
  config/tests/config_unit_tests.toml
  docs/contributing/getting_started.md
Labels: Configuration Change, -Status: Awaiting review, Stale Exempt

#28837 Fixes OpenDream not compiling outside of CI
  tools/ci/lints.dm
Labels: -Status: Awaiting merge

#28373 Adds public notes
  SQL/paradise_schema.sql
  SQL/updates/64-65.sql
  code/__DEFINES/misc_defines.dm
  code/game/verbs/ooc.dm
  code/modules/admin/sql_notes.dm
  code/modules/admin/topic.dm
  config/example/config.toml
Labels: Administration, SQL Change, Configuration Change, -Status: Awaiting merge, Stale Exempt

#28664 Dynamic autotraitor
  code/game/gamemodes/dynamic/antag_rulesets.dm
  config/example/config.toml
Labels: Configuration Change, -Status: Awaiting merge

#28616 Fixes TGchat BSOD on 516
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/styles/tgchat/chat-default.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
Labels: TGUI, -Status: Awaiting merge, Stale Exempt

#28710 Adds a Missing Mining Access Helper to an Airlock on Delta Station
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28790 Syncs the Button and RnD Shutters on Emeraldstation
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28827 Remove mining station camera console from HOP offices
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28826 refactor: add commonly used investigate category defines
  code/__DEFINES/misc_defines.dm
  code/controllers/subsystem/SSradiation.dm
  code/game/gamemodes/miniantags/guardian/types/gaseous.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/tiles/tile_mineral.dm
  code/game/objects/items/theft_items.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/statues.dm
  code/game/turfs/simulated/floor/mineral_floors.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/valve.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/trinary_devices/tvalve.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/portable_pump.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/pda/nanobank.dm
  code/modules/power/cables/cable.dm
  code/modules/power/engines/singularity/collector.dm
  code/modules/power/engines/singularity/emitter.dm
  code/modules/power/engines/singularity/field_generator.dm
  code/modules/power/engines/singularity/investigate.dm
  code/modules/power/engines/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/power/engines/singularity/particle_accelerator/particle_control.dm
  code/modules/power/engines/singularity/singularity.dm
  code/modules/power/engines/singularity/singulogen.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/power/engines/supermatter/supermatter_event.dm
  code/modules/power/engines/tesla/energy_ball.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/smes.dm
  code/modules/research/rdconsole.dm
  code/modules/supply/supply_console.dm
Labels: Code Improvement, -Status: Awaiting merge

#28776 Adds a Brand New Shuttle: NXV Cherenkov
  _maps/map_files/shuttles/emergency_cherenkov.dmm
  code/datums/shuttles.dm
  code/modules/power/engines/singularity/collector.dm
  code/modules/power/engines/singularity/emitter.dm
  code/modules/supply/supply_packs/pack_shuttle.dm
Labels: Map Edit, -Status: Awaiting merge, Requires Wiki Update

#28856 fix space sectors leading to lavaland
  code/controllers/subsystem/non_firing/SSmapping.dm
Labels: Fix

#28677 [AFD] Child-proofed pill bottles and patch packs
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/storage_base.dm
Labels: Meme PR, -Status: Awaiting merge

#28679 [AFD] remove mindshield restriction from antags
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/dynamic/antag_rulesets.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/trifecta/trifecta.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/vampire/vampire_chan.dm
  code/game/gamemodes/vampire/vampire_gamemode.dm
Labels: Meme PR, -Status: Awaiting merge

#28681 [AFD] Planet of the Apes
  code/controllers/subsystem/non_firing/SSlate_mapping.dm
  code/modules/mob/living/carbon/human/human_mob.dm
Labels: Meme PR, -Status: Awaiting merge

#28752 [AFD] new station: NSS Dairebyc [MDB IGNORE] [IDB IGNORE]
  _maps/map_files/stations/xobstation.dmm
  code/modules/mapping/station_datums.dm
  icons/misc/xobstation.dmi
  sound/AI/welcome_xobstation.ogg
Labels: Map Edit, Sound, Sprites, Meme PR, -Status: Awaiting merge

#28819 [AFD] APC's acknowledge you for breaking them
  code/modules/power/apc/apc.dm
Labels: Meme PR, -Status: Awaiting merge

#28859 [AFD] What's that sound?
  code/game/machinery/doors/airlock.dm
Labels: Meme PR, -Status: Awaiting type assignment

#28851 [AFD] Adds the Hummingbird - Security Sidearm
  code/game/jobs/job/security_jobs.dm
  code/modules/projectiles/ammunition/ammo_boxes.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/guns/projectile.dmi
Labels: Sprites, Meme PR, -Status: Awaiting review

#28793 [AFD] What're you, a square? Don't be a drag, be cool, get shocked. (but actually working)
  code/modules/mob/living/carbon/human/species/machine.dm
Labels: Meme PR, -Status: Awaiting review

#28763 [AFD] Adds AffectedArc07's Favorite Chicken
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: Map Edit, Sprites, Meme PR, TGUI, -Status: Awaiting review

#28736 [AFD] Update Supermatter Sound effets
  code/game/objects/items/theft_items.dm
  code/game/sound.dm
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Meme PR, -Status: Awaiting review
