Repository ParadiseSS13/Paradise, pull requests merged in 2025-02, with the labels that each got.

#28213 [s] Fixes an exploit
  code/game/gamemodes/miniantags/morph/morph.dm
Labels: -Status: Awaiting type assignment

#28202 [FIX] Scope runtime if user loses the tracker
  code/datums/components/scope.dm
Labels: -Status: Awaiting merge

#28190 Move time defines to the defines folder
  code/__DEFINES/time_defines.dm
  code/__HELPERS/time.dm
  paradise.dme
Labels: Code Improvement, -Status: Awaiting merge

#28189 magic key go in backpack again
  code/game/objects/items/weapons/cards_ids.dm
Labels: -Status: Awaiting merge

#28180 Custom vendor bag drag&drop
  code/game/machinery/vendors/custom_vendors.dm
Labels: Tweak, -Status: Awaiting merge

#28160 Negative pressure sucks
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Fix, -Status: Awaiting merge

#28181 fix two vermin infestation issues
  code/__HELPERS/unsorted.dm
  code/modules/events/infestation.dm
Labels: Fix, -Status: Awaiting merge

#28110 IPCs get gibbed when rolling a 5 on the Die of Fate
  code/game/objects/items/weapons/dice.dm
Labels: -Status: Awaiting merge, Requires Wiki Update

#28209 Puppet test activate_self wrapper and negative any_chatlog check
  code/tests/_game_test.dm
  code/tests/_game_test_puppeteer.dm
Labels: -Status: Awaiting merge

#28215 Fix wormhole projector not creating both types of portals
  code/modules/projectiles/guns/energy/special_eguns.dm
Labels: Fix, -Status: Awaiting review

#28152 SM sanity at low pressure
  code/modules/power/engines/supermatter/supermatter.dm
Labels: Fix, -Status: Awaiting merge

#28175 Tentacle fix 2, no runtime on adjacent hit, cling beartrap activates now
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: -Status: Awaiting merge

#28164 Adds some more protection to SSD mobs with lwaps and snipers
  code/datums/status_effects/neutral.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/mob_movement.dm
Labels: Tweak, -Status: Awaiting merge

#28134 Non-AI cameras can take pictures of unconcealed runes and cult portals
  code/modules/paperwork/photography.dm
  code/modules/paperwork/silicon_photography.dm
Labels: Fix, -Status: Awaiting review

#28085 [FEAT] Adds Federation combat webbing
  code/game/objects/effects/spawners/random/traders/trader_organization_spawners.dm
  code/game/objects/items/weapons/storage/belt.dm
  icons/mob/clothing/belt.dmi
  icons/obj/clothing/belts.dmi
  paradise.dme
Labels: Sprites, -Status: Awaiting merge

#28225 fix reagent containers not transferring into protolathes or circuit imprinters
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  code/tests/attack_chain/test_attack_chain_machinery.dm
Labels: -Status: Awaiting type assignment

#28087 Clean up firedoors and add proper emag behavior
  code/game/area/areas.dm
  code/game/machinery/doors/firedoor.dm
Labels: Feature, Fix, -Status: Awaiting review, Requires Wiki Update

#27958 make pencil shuttle cmag only
  code/modules/supply/supply_packs/pack_shuttle.dm
Labels: Tweak, -Status: Awaiting merge

#28075 Increase w_class of most hooded suits by 1
  code/modules/clothing/suits/hood.dm
  code/modules/clothing/suits/misc_suits.dm
  code/modules/customitems/item_defines.dm
Labels: -Status: Awaiting merge

#27989 Cigar(ette) butts now stay in your mask sot when they burn out
  code/game/objects/items/weapons/cigs.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
Labels: Fix, -Status: Awaiting merge

#28125 Fix appearance changes from the mirror resetting on any UpdateAppearance() call
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
  code/modules/tgui/modules/appearance_changer.dm
Labels: Fix, -Status: Awaiting merge

#28243 No VV/proccall click runtime
  code/modules/admin/verbs/modifyvariables.dm
Labels: Fix, Administration, -Status: Awaiting review

#28226 Changes a lot of lighting colors, ranges, and powers
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/gameboard.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/admin/topic.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/events/apc_short.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/power/lights.dm
Labels: Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting merge

#28122 Fixes door wand not working
  code/modules/projectiles/projectile/magic_projectiles.dm
Labels: Fix, -Status: Awaiting review

#27895 [Metastation] Adds a new area for the exterior of the supermatter chamber, so one apc doesn't power two seprate rooms
  _maps/map_files/stations/metastation.dmm
  code/game/area/ss13_areas/engineering_areas.dm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#28177 Migrates `/obj/item/scratch` to the new attack chain
  code/game/objects/items/scratch_card.dm
Labels: -Status: Awaiting merge, Attack Chain Migration

#27853 Scary Computer Resprite
  code/game/machinery/computer/buildandrepair.dm
  icons/obj/computer.dmi
  icons/obj/stock_parts.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#28244 Spiderlings on move_manager
  code/game/objects/effects/spiders.dm
Labels: Fix, -Status: Awaiting merge

#28242 move_towards the right spot
  code/controllers/subsystem/movement/movement_types.dm
Labels: Fix, -Status: Awaiting merge

#28245 Vended items land on the vendor again
  code/game/machinery/vendors/vending.dm
Labels: Fix, -Status: Awaiting merge

#28105 Adds Tend Wounds/Tend Burns surgeries
  code/modules/surgery/other.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/tending.dm
  paradise.dme
Labels: Feature, -Status: Awaiting merge, Requires Wiki Update

#27878 Modernizes and Enhances the Ancient Space Station
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  code/game/machinery/computer/computer.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/oldstation_spawns.dm
Labels: Map Edit, -Status: Awaiting merge

#28250 Fixes runtimes when you talk with a cig butt in your mouth
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mob_defines.dm
  code/datums/outfits/outfit_admin.dm
  code/game/dna/mutations/mutation_powers.dm
  code/game/objects/items.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/mob_vars.dm
Labels: -Status: Awaiting review

#28270 Fixes a bug with tend wounds
  code/modules/surgery/tending.dm
Labels: -Status: Awaiting type assignment

#28265 Fixes the flayer radio jammer action button background
  code/modules/antagonists/mind_flayer/powers/flayer_passives.dm
Labels: -Status: Awaiting type assignment

#28101 Ports TG lazy-loading of map templates using turf reservations
  _maps/__MAP_DEFINES.dm
  code/__DEFINES/_globals.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/shuttle_defines.dm
  code/__DEFINES/turfs.dm
  code/__HELPERS/lists.dm
  code/_globalvars/bitfields.dm
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/non_firing/SSmapping.dm
  code/game/area/misc_areas.dm
  code/game/turfs/turf.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/awaymissions/cordon.dm
  code/modules/space_management/heap_space_level.dm
  code/modules/space_management/level_traits.dm
  code/modules/space_management/turf_reservation.dm
  code/modules/space_management/zlevel_manager.dm
  icons/turf/areas.dmi
  icons/turf/walls.dmi
  paradise.dme
Labels: Sprites, Administration, -Status: Awaiting merge

#27671 Fixes Deltastation's Huge Atmospherics Power Draw
  _maps/map_files/stations/deltastation.dmm
Labels: Map Edit, -Status: Awaiting review

#28291 Stops ERT reminder from lying to us
  code/modules/security_levels/keycard_authentication.dm
Labels: Fix, Administration, -Status: Awaiting type assignment

#28106 Separate station/unit tests and disable lavaland procgen and ruin spawning in tests (for now).
  .github/workflows/ci.yml
  code/_compile_options.dm
  code/controllers/configuration/configuration_core.dm
  code/controllers/configuration/sections/database_configuration.dm
  code/controllers/configuration/sections/redis_configuration.dm
  code/controllers/master.dm
  code/controllers/subsystem/SSticker.dm
  code/game/world.dm
  code/tests/_map_per_tile_test.dm
  code/tests/game_tests.dm
  code/tests/test_map_tests.dm
  code/tests/test_runner.dm
  config/tests/config_unit_tests.toml
Labels: Configuration Change, -Status: Awaiting review

#28236 Cult is now part of dynamic
  code/__DEFINES/gamemode.dm
  code/game/gamemodes/dynamic/antag_rulesets.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/modules/admin/topic.dm
  config/example/config.toml
Labels: Configuration Change, -Status: Awaiting merge

#28274 Better atmos init
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Fix, Performance, -Status: Awaiting merge

#28279 Improves runtime info during admin proc calls
  code/modules/admin/verbs/debug.dm
Labels: Administration, -Status: Awaiting review

#28304 Fix cult dynamic cost
  code/game/gamemodes/dynamic/antag_rulesets.dm
Labels: Fix

#28289 Standardizes vocabulary in autodoc reference docs
  docs/references/autodoc.md
Labels: -Status: Awaiting merge

#28186 turn EncodeDNABlock proc into a define
  code/__DEFINES/dna.dm
  code/game/dna/dna2.dm
  code/game/dna/dna_modifier.dm
Labels: Refactor, -Status: Awaiting merge

#27359 Slime People and IPC; Imitating Species Cosmetically.
  SQL/paradise_schema.sql
  SQL/updates/63-64.sql
  code/__DEFINES/flags.dm
  code/__DEFINES/misc_defines.dm
  code/datums/diseases/advance/symptoms/hair.dm
  code/game/dna/dna2_helpers.dm
  code/game/gamemodes/miniantags/tourist/tourist_arrivals.dm
  code/game/objects/structures/dresser.dm
  code/modules/awaymissions/mob_spawn.dm
  code/modules/client/login_processing/20-load_characters.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/clothing/clothing.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/slimepeople.dm
  code/modules/reagents/chemistry/reagents/misc_reagents.dm
  code/modules/response_team/ert.dm
  code/modules/surgery/organs/organ_icon.dm
  code/modules/surgery/robotics.dm
  code/modules/tgui/modules/appearance_changer.dm
  config/example/config.toml
Labels: Feature, SQL Change, Configuration Change, -Status: Awaiting merge, Requires Wiki Update, Stale Exempt

#28005 The Great Fire Extinguisher Refactor
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/tanks/watertank.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mod/modules/modules_engineering.dm
Labels: -Status: Awaiting merge, Attack Chain Migration

#28318 Imitation fix 2
  code/modules/client/preference/link_processing.dm
  code/modules/surgery/robotics.dm
Labels: -Status: Awaiting type assignment

#28278 Souled belt resprite
  icons/mob/accessories.dmi
  icons/mob/clothing/belt.dmi
  icons/obj/abductor.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/accessories_overlay.dmi
  icons/obj/clothing/belts.dmi
Labels: Sprites, -Status: Awaiting merge, Requires Wiki Update

#28233 Feature: Clown recycler, a new Cmag effect
  code/datums/spells/banana_touch.dm
  code/game/machinery/recycler.dm
Labels: -Status: Awaiting merge, Requires Wiki Update

#28230 Headrev sechud is now an implant
  code/modules/antagonists/revolutionary/datum_headrev.dm
  code/modules/surgery/organs/augments_eyes.dm
Labels: -Status: Awaiting merge

#28205 EFTPOS in Autolathe
  code/modules/economy/economy_machinery/eftpos.dm
  code/modules/research/designs/autolathe_designs.dm
  tgui/packages/tgui/interfaces/Autolathe.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge

#28178 Dynamic Mice: Let's populate maintenance randomly
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/controllers/subsystem/non_firing/SSlate_mapping.dm
Labels: Map Edit, -Status: Awaiting review

#28162 Adds medical beamgun for Odysseus
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/projectiles/guns/medbeam.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mecha/mecha_equipment.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#28145 Adds more fire alarms to the center of the Diogaras
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, -Status: Awaiting review

#28093 Fix RCD interactions with invalid types
  code/game/objects/items/weapons/RCD.dm
Labels: Fix, -Status: Awaiting review

#28084 fixes blind rushers hallucination runtimes
  code/controllers/subsystem/SStimer.dm
  code/modules/hallucinations/effects/blind_rush_hallucination.dm
Labels: -Status: Awaiting review

#28136 Refactor Fire Alarm `item_interaction()`
  code/game/machinery/firealarm.dm
Labels: Code Improvement, -Status: Awaiting merge

#28323 Removes a Plant Sitting on top of another and adds a Maplint for It
  _maps/map_files/stations/deltastation.dmm
  tools/maplint/lints/multiple_kirby_plants.yml
Labels: Map Edit, -Status: Awaiting merge

#28173 Removes command from being eligible for round start antagonist
  code/datums/uplink_items/uplink_traitor.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult_mode.dm
  code/game/gamemodes/dynamic/antag_rulesets.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/trifecta/trifecta.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/vampire/vampire_chan.dm
  code/game/gamemodes/vampire/vampire_gamemode.dm
Labels: Controversial, Balance, Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting review, Requires Wiki Update

#27749 Medbot code cleanup + extras
  code/__DEFINES/bots.dm
  code/game/data_huds.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/syndicate_bots.dm
  sound/voice/mfuck_you.ogg
Labels: Sound, -Status: Awaiting merge

#28348 Large patch to Slime/IPC PR - Character Creator + General Imitation Fixes
  code/__HELPERS/iconprocs.dm
  code/modules/client/preference/character.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/slimepeople.dm
Labels: Fix, -Status: Awaiting type assignment

#28260 Removes a stray charger on the Diagoras armory
  _maps/map_files/stations/emeraldstation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#28353 Fix spaceman's trumpet reagents_add list
  code/modules/hydroponics/grown/flowers.dm
Labels: -Status: Awaiting merge

#28343 Fix CQC chokehold
  code/modules/martial_arts/cqc.dm
Labels: -Status: Awaiting merge

#28072 Ports stop sounds verb from TG
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/client/client_procs.dm
Labels: Administration, -Status: Awaiting merge

#28342 Fix CQC slapper
  code/game/objects/items/hand_item.dm
Labels: Fix, -Status: Awaiting merge

#28327 Fix sluggish AI/camera eye movement
  code/game/atoms_movable.dm
Labels: Fix, -Status: Awaiting merge

#27788 Cyborg Inventory Refactor
  code/__DEFINES/dcs/item_signals.dm
  code/__DEFINES/silicon_defines.dm
  code/_onclick/hud/robot_hud.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/turfs/simulated/floor/transparent.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/admin/topic.dm
  code/modules/mob/living/silicon/robot/robot_inventory.dm
  code/modules/mob/living/silicon/robot/robot_life.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/tgui/states/inventory_state.dm
  paradise.dme
Labels: Fix, Refactor, Tweak, -Status: Awaiting merge

#28109 Adds a missing fire alarm to Emeraldstation
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, -Status: Awaiting review

#28214 Removes a Floating Intercom From Farragus HOP Office
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting review, CereStation

#28065 /tg/ AI controllers, part 1: core implementation.
  code/__DEFINES/ai/ai_defines.dm
  code/__DEFINES/ai/blackboard_defines.dm
  code/__DEFINES/dcs/ai_signals.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/trait_helpers.dm
  code/_onclick/click.dm
  code/controllers/subsystem/SSai_controllers.dm
  code/controllers/subsystem/movement/SSai_movement.dm
  code/controllers/subsystem/processing/SSai_behaviors.dm
  code/datums/ai/ai_behavior.dm
  code/datums/ai/ai_controller.dm
  code/datums/ai/ai_planning_subtree.dm
  code/datums/ai/idle_behaviors/idle_behavior.dm
  code/datums/ai/movement/ai_movement.dm
  code/datums/ai/targeting_strategy.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/modules/mob/mob_login_base.dm
  code/modules/mob/mob_logout_base.dm
  code/modules/space_management/zlevel_manager.dm
  docs/references/ai_controllers.md
  mkdocs.yml
  paradise.dme
Labels: Feature, -Status: Awaiting merge

#28282 carps can swarm now
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: Tweak, -Status: Awaiting merge

#28324 Reduces taj/vulp darksight to 3 tiles again
  code/modules/surgery/organs/subtypes/tajaran_organs.dm
  code/modules/surgery/organs/subtypes/vulpkanin_organs.dm
Labels: Tweak, -Status: Awaiting merge

#28311 Adds the Chunky Fingers Trait to Boxing Gloves
  code/modules/clothing/gloves/boxing_gloves.dm
Labels: Tweak, -Status: Awaiting merge

#28251 Resizing Carbon Y Pixel Offset Fix
  code/modules/mob/living/carbon/carbon_update_icons.dm
Labels: -Status: Awaiting merge

#28306 Allow decompilation of shrapnel and cardboard tubes
  code/game/objects/items/weapons/grenades/frag.dm
  code/game/objects/items/weapons/misc_items.dm
Labels: Tweak, -Status: Awaiting merge

#28314 Buff for Rubber Shot and Laser Shot Shells
  code/modules/projectiles/ammunition/ammo_casings.dm
Labels: Revert/Feature Removal, Tweak, -Status: Awaiting merge

#27999 Paraplegia!
  code/__DEFINES/genetics_defines.dm
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/genetics.dm
  code/_globalvars/traits.dm
  code/datums/components/zombie_regen.dm
  code/game/dna/mutations/disabilities.dm
  code/game/gamemodes/setupgame.dm
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/machinery/adv_med.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/modules/client/preference/character.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_emote.dm
  code/modules/mob/living/living_status_procs.dm
  code/modules/reagents/chemistry/reagents/admin_reagents.dm
  code/modules/surgery/organs/organ_helpers.dm
  tgui/packages/tgui/interfaces/BodyScanner.js
  tgui/public/tgui.bundle.js
Labels: TGUI, -Status: Awaiting merge, Requires Wiki Update, Requires SOP Update

#28271 SSair performance improvements
  code/controllers/subsystem/SSair.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/firealarm.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/effects/glowshroom.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/latexballoon.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/statues.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/mineral_floors.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/events/spacevine.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/power/lights.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: Performance, -Status: Awaiting review

#28067 Add an update action buttons proc for items to clean up duplicate code
  code/game/atoms.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/devices/voice_changer.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/engine_goggles.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/armor_suits.dm
  code/modules/clothing/suits/hood.dm
  code/modules/clothing/suits/misc_suits.dm
  code/modules/customitems/item_defines.dm
  code/modules/games/cards.dm
  code/modules/instruments/objs/items/headphones.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code Improvement, -Status: Awaiting merge

#28290 Reduces Juggernaut laser resistance
  code/modules/mob/living/simple_animal/constructs.dm
Labels: Balance, Tweak, Testmerge Requested, Testmerge Active, -Status: Awaiting review

#27721 Ports visible examines from Daedalus Dock
  code/__HELPERS/trait_helpers.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hudglasses.dm
  code/modules/mob/mob.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-default.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Feature, TGUI, Testmerge Requested, -Status: Awaiting merge

#28222 Fix jetpacks and speedbikes
  code/__DEFINES/movement_defines.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/components/drift.dm
  code/datums/components/riding/riding_vehicle.dm
  code/game/atoms_movable.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/mob_vars.dm
Labels: Fix, Testmerge Active, -Status: Awaiting review

#28313 [LORE] Fixes the cannabis leaf's description
  code/modules/hydroponics/grown/cannabis.dm
Labels: Grammar and Formatting, -Status: Awaiting merge, Lore

#28232 Botany QOL, Loadout Update
  code/game/jobs/job/support.dm
  code/game/objects/items/weapons/storage/belt.dm
Labels: Tweak, -Status: Awaiting review

#28200 Vending machine lock improvements
  code/__DEFINES/vending_defines.dm
  code/game/machinery/vendors/custom_vendors.dm
  code/game/machinery/vendors/vending.dm
  tgui/packages/tgui/interfaces/Vending.js
  tgui/public/tgui.bundle.js
Labels: Tweak, TGUI, -Status: Awaiting merge

#28363 fix engiborgs not being able to insert/remove lights from sockets
  code/modules/power/lights.dm
Labels: Fix, -Status: Awaiting merge

#28217 Gives evidence room its own access
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/emeraldstation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__DEFINES/access_defines.dm
  code/game/jobs/access.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mapping/access_helpers.dm
  code/modules/mapping/windoor_access_helpers.dm
Labels: Map Edit, Tweak, -Status: Awaiting merge

#28386 Fixes a non-reinforced wall on Meta
  _maps/map_files/stations/metastation.dmm
Labels: Fix

#28284 Nerfs legion cores on-station
  code/datums/status_effects/buffs.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#28372 Makes TOML files not format on save
  .vscode/settings.json
Labels: Code Improvement, -Status: Awaiting merge

#28395 don't let mice chew through cables in map tests
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: -Status: Awaiting type assignment

#28401 Remove admin detector
  code/datums/outfits/outfit_debug.dm
  code/game/objects/items/tools/multitool.dm
Labels: Tweak, -Status: Awaiting type assignment

#28221 Migrates `/obj/item/borg/stun` to the new attack chain.
  code/game/objects/items/robot/robot_items.dm
Labels: -Status: Awaiting merge, Attack Chain Migration

#28412 [s] Less magical flamethrowers
  code/game/objects/items/weapons/flamethrower.dm
Labels: Fix

#28300 Reduced dynamic budget at low player count
  code/game/gamemodes/dynamic/dynamic.dm
  code/tests/game_tests.dm
  code/tests/test_dynamic_budget.dm
Labels: Tweak, -Status: Awaiting merge

#28394 docs: submap design guide
  docs/mapping/submaps.md
Labels: Documentation, -Status: Awaiting merge

#28422 Defusing gibtonite does not show datum paths
  code/datums/ores.dm
Labels: Fix, -Status: Awaiting type assignment

#28418 Fix carp not swarming right
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: Fix, -Status: Awaiting merge

#28405 Makes putting things in some things less likely to result in more things than anticipated
  code/datums/spells/summonitem.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/clothing/suits/armor_suits.dm
  code/modules/hydroponics/beekeeping/beebox.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/hydroponics/compost_bin.dm
  code/modules/newscaster/obj/newscaster.dm
  code/modules/research/backup_console.dm
  code/modules/research/scientific_analyzer.dm
Labels: Fix, Refactor, -Status: Awaiting merge

#28276 Gives guardians/holoparas lowlight vision
  code/game/gamemodes/miniantags/guardian/guardian.dm
Labels: Balance, Tweak, -Status: Awaiting merge

#28294 Improves the abductor vest combat mode stim injector feedback
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
Labels: Tweak, Code Improvement, -Status: Awaiting merge

#28049 Mop, Mop Bucket, and Janicart Refactor
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
Labels: Fix, Tweak, -Status: Awaiting merge, Attack Chain Migration

#27936 Remaps and Refines The Farragus Medical Asteroid
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28317 Removes Requirements for Printing WT-550 TTX
  code/modules/research/designs/weapon_designs.dm
Labels: Revert/Feature Removal, Tweak, -Status: Awaiting merge

#28455 rerun plant updatepaths post cere-medbay remap
  _maps/map_files/stations/cerestation.dmm
Labels: Fix

#28440 test suite: mob attack chain
  code/datums/elements/strippable.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/mob_misc_procs.dm
  code/modules/tgui/tgui_input/alert_input.dm
  code/tests/_game_test.dm
  code/tests/_game_test_puppeteer.dm
  code/tests/attack_chain/test_attack_chain_borgs.dm
  code/tests/attack_chain/test_attack_chain_mobs.dm
  code/tests/game_tests.dm
Labels: Code Improvement, -Status: Awaiting review

#28426 Fixes destroy AI objective not reassigning when AI cryos
  code/game/gamemodes/objective.dm
Labels: Fix, -Status: Awaiting merge

#28407 Fixes null spaced high value item runtime in TGUI antagonist menu
  code/modules/admin/menus/antagonist_menu.dm
Labels: Fix, -Status: Awaiting merge

#28399 Removes unused proc check_block()
  code/game/objects/items.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: Code Improvement, -Status: Awaiting merge

#28416 Split wires from the computer sprites to support buildable frames
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/computer.dm
  icons/obj/computer.dmi
Labels: Sprites, -Status: Awaiting merge

#28437 Adds barrier grenades to the security belt can_hold
  code/game/objects/items/weapons/storage/belt.dm
Labels: Tweak, -Status: Awaiting merge

#28429 fix mapmanip script and add docs/gitignore for generated maps
  .gitignore
  docs/mapping/submaps.md
  tools/rustlibs_tools/mapmanip.ps1
Labels: Fix, Tools, -Status: Awaiting review

#28402 You can no longer grab terrors
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
Labels: Tweak, -Status: Awaiting merge

#28330 Add a hologram flag check for hand tele portals
  code/game/machinery/hologram.dm
  code/game/objects/effects/portals.dm
Labels: Fix, -Status: Awaiting merge

#28465 CI lint for UID() misuse
  code/_onclick/hud/action_button.dm
  code/datums/ai/ai_controller.dm
  code/datums/components/scope.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mod/mod_actions.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/mod_ui.dm
  code/modules/mod/modules/_modules.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  tools/ci/check_grep2.py
Labels: Fix, -Status: Awaiting type assignment

#28487 Dead carp no longer block lasers / interact weirdly
  code/datums/components/swarming.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: -Status: Awaiting type assignment

#28505 [S] Fixes mindflayer grapple having a lower cooldown than it should
  code/modules/antagonists/mind_flayer/powers/flayer_weapon_powers.dm
Labels: Fix

#28450 AI holograms can switch between holopads more seamlessly
  code/game/machinery/hologram.dm
Labels: Tweak, -Status: Awaiting review

#28500 Protolathe chemical capacity is now based on their installed beakers
  code/modules/research/protolathe.dm
Labels: -Status: Awaiting merge

#28509 Fix Legion megafauna being able to `enrage()` for more than 1 time and remove `/datum/nothing`
  code/datums/datum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
Labels: -Status: Awaiting merge

#28475 Vendors can be righted much faster
  code/game/atoms_movable.dm
Labels: Tweak, -Status: Awaiting merge

#28520 remove unnecessary proc get_roletext
  code/__HELPERS/game.dm
  code/controllers/subsystem/SSghost_spawns.dm
  code/game/gamemodes/game_mode.dm
Labels: -Status: Awaiting type assignment

#28255 Allows Malf AI to give special statuses
  code/__DEFINES/hud.dm
  code/__HELPERS/mob_helpers.dm
  code/datums/ai_laws_datums.dm
  code/datums/atom_hud.dm
  code/datums/datacore.dm
  code/datums/mind.dm
  code/game/data_huds.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/mob/dead/observer/observer_base.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_examine.dm
  code/modules/mob/living/carbon/human/human_inventory.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/mob.dm
  code/modules/tgui/modules/ghost_hud_panel.dm
  icons/mob/hud/hud_misc.dmi
  icons/mob/hud/malfhud.dmi
Labels: Sprites, -Status: Awaiting merge

#28391 Fixes BSH stabilizers drawing more power than they should when requesting more mining power than can be stabilized
  code/modules/station_goals/bluespace_tap.dm
Labels: -Status: Awaiting merge

#28478 Re-Colors WT-550 TTX rounds
  code/modules/projectiles/projectile/bullets.dm
Labels: -Status: Awaiting merge

#28310 Fixes a runtime in PDA gas scanner code
  code/game/objects/items/devices/scanners.dm
Labels: Fix, Runtime, -Status: Awaiting merge

#28411 The Moon card makes flooring first before teleporting
  code/game/gamemodes/wizard/magic_tarot.dm
Labels: Fix, -Status: Awaiting merge

#28444 Add Pump Up to the list of stims in Haloperidol and Nanocalcium
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: Fix, -Status: Awaiting merge, Requires Wiki Update

#28448 Changes Diagoras storefront maints corpse into remains and gibs
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, -Status: Awaiting merge

#28240 Fixes Cyborg Gripper Disposal Bin Interaction
  code/modules/recycling/disposal.dm
Labels: Fix, -Status: Awaiting merge

#28080 Adds more functionality to bouncy charging spells
  code/datums/spells/charge_up_bounce.dm
Labels: Feature, -Status: Awaiting merge

#28287 Soap resprite2: electric boogaloo
  code/datums/outfits/outfit_admin.dm
  code/game/objects/items/weapons/soap.dm
  icons/obj/abductor.dmi
  icons/obj/janitor.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#28254 pda.dmi resprite
  code/game/machinery/PDApainter.dm
  code/modules/pda/PDA.dm
  code/modules/pda/pda_tgui.dm
  code/modules/pda/utilities.dm
  icons/goonstation/objects/pda_overlay.dmi
  icons/mob/screen_ai.dmi
  icons/mob/screen_midnight.dmi
  icons/mob/screen_ninja.dmi
  icons/mob/screen_operative.dmi
  icons/mob/screen_payback.dmi
  icons/mob/screen_plasmafire.dmi
  icons/mob/screen_retro.dmi
  icons/mob/screen_slimecore.dmi
  icons/mob/screen_white.dmi
  icons/obj/pda.dmi
Labels: Sprites, -Status: Awaiting review, Requires Wiki Update

#28514 Attack chain migration: slime potions.
  code/modules/research/xenobiology/xenobiology.dm
Labels: Refactor, -Status: Awaiting review

#28356 Adds access to Firing Range on the Diagoras
  _maps/map_files/stations/emeraldstation.dmm
Labels: Fix, Map Edit, -Status: Awaiting review

#28382 Farragus security disposals now sorts correctly
  _maps/map_files/stations/cerestation.dmm
Labels: Map Edit, -Status: Awaiting review

#28497 Removing all lightswitches in an area will turn the lights back on
  code/__DEFINES/dcs/area_signals.dm
  code/game/machinery/lightswitch.dm
  paradise.dme
Labels: -Status: Awaiting approval

#28332 Replaces Cyberiad AI Sat Airlock With 2x2 Airlock
  _maps/map_files/stations/boxstation.dmm
Labels: Map Edit, BoxStation, -Status: Awaiting review

#28337 Replaces Meta Station AI Sat Handcrafted Airlock With Airlock Helper
  _maps/map_files/stations/metastation.dmm
Labels: Map Edit, MetaStation, -Status: Awaiting review

#28338 Enlarges Emerald AI Sat's External Airlocks
  _maps/map_files/stations/emeraldstation.dmm
Labels: Map Edit, -Status: Awaiting review

#28434 Fix penetrator projectiles
  code/modules/projectiles/projectile_base.dm
Labels: Fix, -Status: Awaiting merge

#28066 migrates /obj/effect to the new attack chain
  code/datums/spells/spacetime_dist.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/miniantags/guardian/types/protector.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/decals/Cleanable/tar.dm
  code/game/objects/effects/effects.dm
  code/game/objects/effects/meteors.dm
  code/game/objects/effects/snowcloud.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/mop.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
  code/modules/hallucinations/effects/common.dm
  code/modules/hallucinations/effects/major.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: -Status: Awaiting merge, Attack Chain Migration

#28517 Emergency lights turn off after 2 minutes again
  code/modules/power/apc/apc.dm
Labels: -Status: Awaiting merge

#28522 Fixing improper message for biogenerator interaction from PR #26257
  code/modules/hydroponics/biogenerator.dm
Labels: Fix, -Status: Awaiting merge

#28515 Attack chain migration: laz injector.
  code/modules/mining/equipment/lazarus_injector.dm
Labels: Refactor, -Status: Awaiting merge

#28496 Welding helmets no longer hide ears when the helmet is up.
  code/modules/clothing/head/misc_special.dm
Labels: -Status: Awaiting merge

#28163 Reworks Curtains
  code/game/objects/items/mountable_frames/mountables.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/curtains.dm
  code/modules/crafting/recipes.dm
  icons/obj/curtain.dmi
Labels: Sprites, Tweak, -Status: Awaiting merge

#28123 Adds a Portal mode to Build Mode
  code/modules/buildmode/submodes/portal.dm
  icons/misc/buildmode.dmi
  paradise.dme
Labels: Feature, Sprites, Administration, Testmerge Requested, Testmerge Active, -Status: Awaiting merge
